<div class="modal-body">
	<div class="row form-group">
		<div class="col-xs-11 col-md-11">
			<label class="modal-title fbk-modal-title" id="heading-confirmOverrideCalculatedVariableModal">Confirmation</label>
		</div>
		<div class="col-xs-1 col-md-1">
			&nbsp;
		</div>
	</div>
	<div class="row form-group">
		<div class="col-xs-12 col-md-12">
			<label class="control-label import-confirmation"><p>Some of the calculations will overwrite observations that has already been recorded.</p>Would you like to proceed with the calculations?</label>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="goBack()">Go Back</button>
		<button type="button" class="btn btn-primary" ng-click="proceed()">Proceed</button>
	</div>
</div>