<div class="modal-body">
	<div class="row form-group">
		<div class="col-xs-10 col-md-11">
			<label class="modal-title fbk-modal-title" id="heading-modal">Execute
				Calculations</label>
		</div>
		<div class="col-xs-1 col-md-1">
			<button id="closeExecuteCalculatedVariableModal" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" ng-click="cancel()"/>
		</div>
	</div>
	<div class="row form-group">
		<div id="page-executeCalculatedVariable-modal-message"></div>
	</div>
	<div class="separator"></div>
	<br/>
	<div class="row form-group">
		<div class="col-xs-12 col-md-12">
			<label class=""><span class='required'>*</span><em> indicates a mandatory field</em></label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-xs-10 col-md-10">
			<div>
				<label>Choose the calculation you would like to
					execute:</label>
			</div>
		</div>
	</div>
	<div class="row form-group" ng-class="{ 'has-error': variableListView.length === 0 }">
		<div class="col-sm-2" style="padding-right: 0px;">
			<label class="control-label add_top_padding label-bold">Variable: </label><span class='required'>*</span>
		</div>
		<div class="report-type-section col-sm-5" style="padding-left: 5px;">
			<ui-select name="selectVariable" theme="select2" search-enabled="false" ng-model="selected.variable">
				<ui-select-match placeholder="Please Choose">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="variable in variableListView">
					<div ng-bind-html="variable.name"></div>
				</ui-select-choices>
			</ui-select>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-xs-10 col-md-10">
			<label class="control-label add_top_padding label-bold">Select the environments where the calculation will be executed:</label><span class='required'>*</span>
		</div>
	</div>
	<div id="instance-selection">
		<instances-table instances="instances" selected-instances="selectedInstances" instance-id-property="instanceId" is-empty-selection="isEmptySelection"></instances-table>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()"> Cancel
	</button>
	<button type="button" class="btn btn-primary" ng-disabled="selected.variable === undefined || isEmptySelection || variableListView.length === 0" ng-click="execute()">
		Execute
	</button>
</div>