<div class="modal-body">
    <div class="row form-group">
        <div class="col-xs-11 col-md-11">
            <label class="modal-title fbk-modal-title" th:text="#{common.form.confirmation.text}">Confirmation</label>
        </div>
        <div class="col-xs-1 col-md-1">
            <button class="close pull-right glyphicon glyphicon-remove" ng-click="cancel()"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <label class="control-label" ng-bind-html="text"></label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()" ng-bind="cancelButtonLabel">Cancel</button>
    <button class="btn btn-primary" ng-click="confirm()" ng-bind="confirmButtonLabel">OK</button>

</div>
