<div class="modal-content">
    <div class="modal-body">
        <div class="row form-group">
            <div class="col-xs-12 col-md-12 add_top_padding">
                <b>The variable(s) <i>{{ dependencyVariables.join(', ') }}</i> are not included in this study. You will need data for
                    these variables to calculate values for this variable.</b>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" aria-hidden="true" data-dismiss="derivedTraitsValidationModal"
                th:text="#{common.form.ok.text}" ng-click="continue()">OK
        </button>
    </div>
</div>

