<table class="table table-curved table-condensed">
    <thead>
        <tr>
            <th class="fbk-delete-link"></th>
            <th width="45%">Name</th>
            <th width="50%">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="key in settings.keys() track by key" ng-show="!settings.val(key).hidden">
            <td ng-class="{even : $even, odd : $odd}" class="fbk-delete-link">
                <span class="delete-icon" ng-click="removeSetting(key)" ng-show="settings.val(key).deletable"></span>
            </td>
            <td width="45%" ng-class="{even : $even, odd : $odd}">
                <a href="javascript: void(0);">
                    <span class="var-names" ng-click="showDetailsModal(settings.val(key))">{{settings.val(key).variable.name}}</span>
                </a>
            </td>
            <td width="50%" ng-class="{even : $even, odd : $odd}">{{settings.val(key).variable.description}}</td>
        </tr>
        <tr ng-hide="settings.keys().length &gt; 0">
            <td class="odd">&nbsp;</td>
            <td class="odd">&nbsp;</td>
            <td class="odd">&nbsp;</td>
        </tr>
    </tbody>
</table>