<table class="table table-curved table-condensed fbk-table-with-check fbk-datatable-environments" width="100%">
	<thead>
	<tr>
		<th data-sortable="false" class="fbk-delete-link"><input type="checkbox" ng-model="selectAll" ng-change="doSelectAll()"/></th>
		<th>TRIAL_INSTANCE</th>
		<th>LOCATION_NAME</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="environment in environmentListView track by environment.trialInstanceNumber" ng-class="{even : $even, odd : $odd}">
		<td><input type="checkbox" name="location"
				   ng-model="environment.selected"
				   ng-change="doSelectInstance(environment)"/>
		</td>
		<td>{{ environment.trialInstanceNumber }} </td>
		<td>{{ environment.name }} </td>
	</tr>
	</tbody>
</table>
