<div ng-switch="widgetType">
	<div ng-switch-when="DROPDOWN">
		<div ng-if="!isLocation">
			<ui-select ng-model="valuecontainer[targetkey]"
					   uis-open-close="instance.onOpenClose(isOpen)"
					   tagging-label="false"
					   append-to-body="true"
					   theme="select2">
				<ui-select-match
					class="ui-select-match">
					<span ng-bind="$select.selected.description"></span>
				</ui-select-match>
				<ui-select-choices repeat="value.id as value in (localData.dropdownValues | orderBy: 'name' | filter: { name: $select.search }) track by $index">
					<div title="{{value.description}}">{{value.description}}</div>
				</ui-select-choices>
			</ui-select>
		</div>
		<div ng-if="isLocation">
			<ui-select ng-model="valuecontainer[targetkey]"
					   on-select="instance.change()"
					   tagging-label="false"
					   append-to-body="true"
					   theme="select2">
				<ui-select-match
					class="ui-select-match">
					<span ng-bind="$select.selected.description"></span>
				</ui-select-match>
				<ui-select-choices repeat="value.key as value in (localData.dropdownValues | orderBy: 'name' | filter: { name: $select.search }) track by $index">
					<div title="{{value.description}}">{{value.description}}</div>
				</ui-select-choices>
			</ui-select>
			<div class="possibleValuesDiv">
				<input type="radio" name="location-lookup" ng-model="localData.locationLookup" value="1">
				<span th:text="#{show.breeding.location}">Breeding locations</span> &nbsp;
				<input type="radio" name="location-lookup" ng-model="localData.locationLookup" value="2">
				<span th:text="#{show.all.location}">All locations types</span> &nbsp;
			</div>
			<div class="possibleValuesDiv">
				<input type="checkbox" name="location-favorite" ng-model="localData.useFavorites">
				<span th:text="#{show.favorite.location}">Show only favorite locations </span>
			</div>
		</div>
	</div>
	<div ng-switch-when="NTEXT">
		<input type="text" valid-decimal="" class="form-control numeric-input" ng-model="valuecontainer[targetkey]" ng-blur="instance.change()"/>
	</div>
	<div ng-switch-when="SLIDER">
		<input type="text" valid-decimal="" class="form-control numeric-input" ng-model="valuecontainer[targetkey]" ng-blur="instance.change()"/>
	</div>
	<div ng-switch-when="CTEXT">
		<input type="text" class="form-control character-input" ng-model="valuecontainer[targetkey]" ng-blur="instance.change()"/>
	</div>
	<div ng-switch-when="TEXTAREA">
		<textarea class="form-control character-input" rows="3" ng-model="valuecontainer[targetkey]" ng-blur="instance.change()"/>
	</div>
	<div ng-switch-when="DATE">
		<input type="text" placeholder="yyyymmdd" class="form-control date-input" ng-model="valuecontainer[targetkey]" instance="instance" instance-datepicker="true"/>
	</div>
</div>