<div ng-switch="widgetType">
	<div ng-switch-when="DROPDOWN">
		<div ng-if="!isLocation">
			<ui-select ng-model="valuecontainer[targetkey]"
					   uis-open-close="instance.onOpenClose(isOpen)"
					   tagging-label="false"
					   append-to-body="true"
					   theme="select2">
				<ui-select-match
					class="ui-select-match">
					<span ng-bind="$select.selected.description"></span>
				</ui-select-match>
				<ui-select-choices repeat="value.id as value in (localData.dropdownValues | orderBy: 'name' | filter: { name: $select.search }) track by $index">
					<div title="{{value.description}}">{{value.description}}</div>
				</ui-select-choices>
			</ui-select>
		</div>
		<div ng-if="isLocation">
			<locations-select valuecontainer="valuecontainer" targetkey="targetkey" on-location-select="locationChanged()"></locations-select>
		</div>
	</div>
	<div ng-switch-when="NTEXT">
		<input type="text" valid-decimal="" class="form-control numeric-input" ng-model="valuecontainer[targetkey]" ng-blur="instance.change()"/>
	</div>
	<div ng-switch-when="SLIDER">
		<input type="text" valid-decimal="" class="form-control numeric-input" ng-model="valuecontainer[targetkey]" ng-blur="instance.change()"/>
	</div>
	<div ng-switch-when="CTEXT">
		<input type="text" class="form-control character-input" ng-model="valuecontainer[targetkey]" ng-blur="instance.change()"/>
	</div>
	<div ng-switch-when="TEXTAREA">
		<textarea class="form-control character-input" rows="3" ng-model="valuecontainer[targetkey]" ng-blur="instance.change()"/>
	</div>
	<div ng-switch-when="DATE">
		<input type="text" placeholder="yyyymmdd" class="form-control date-input" ng-model="valuecontainer[targetkey]" instance="instance" instance-datepicker="true"/>
	</div>
</div>