<table datatable="ng" dt-options="dtOptions" class="table table-curved table-condensed">
	<thead>
	<tr>
		<th><input type="checkbox" ng-model="isSelectAll" ng-change="toggleSelect(isSelectAll)"></th>
		<th>TRIAL_INSTANCE</th>
		<th>LOCATION_NAME</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="instance in instances">
		<td><input type="checkbox" ng-model="selectedInstances[instance[instanceIdProperty]]"/></td>
		<td>{{instance.instanceNumber}}</td>
		<td>{{instance.locationName}} - ({{instance.locationAbbreviation}})</td>
	</tr>
	</tbody>
</table>