<table datatable="ng" dt-options="dtOptions" class="table table-curved table-condensed" width="100%">
	<thead>
	<tr>
		<th><input type="checkbox" ng-model="ctrl.isSelectAll" ng-click="toggleSelect(ctrl.isSelectAll)"></th>
		<th>TRIAL_INSTANCE</th>
		<th>LOCATION_NAME</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="instance in instances">
		<td><input type="checkbox" ng-click="select(instance[instanceIdProperty])" ng-model="selectedInstances[instance[instanceIdProperty]]"/></td>
		<td>{{::instance.instanceNumber}}</td>
		<td>{{::instance.locationName}} - ({{::instance.locationAbbreviation}})</td>
	</tr>
	</tbody>
</table>
