<input type="text"
	   ng-if="column.dataTypeCode === 'N' || column.dataTypeCode === 'T'"
	   ng-blur="observation.change()"
	   ng-keyup="$event.keyCode == 13 && observation.change()"
	   ng-model="observation.value" />

<input type="text"
	   ng-if="column.dataTypeCode === 'D'"
	   ng-model="observation.value" />

<ui-select ng-model="observation.value"
		   ng-if="column.dataTypeCode === 'C'"
		   uis-open-close="observation.onOpenClose(isOpen)"
		   tagging="observation.newInlineValue"
		   tagging-label="false"
		   theme="select2">
	<ui-select-match
		class="ui-select-match">
		<span ng-bind="$select.selected.name"></span>
	</ui-select-match>
	<ui-select-choices repeat="value.name as value in (column.possibleValues | filter: { name: $select.search }) track by value.name">
		<span ng-bind="value.name"></span>
	</ui-select-choices>
</ui-select>
