<div ng-switch="widgetType">
    <div ng-switch-when="DROPDOWN">
        <div ng-if="!isLocation && !isBreedingMethod">
            <ui-select name="name" theme="select2" search-enabled="false" ng-model="valuecontainer[targetkey]" ng-disabled="blockInput" style="width:100%" ng-change="changefunction()"
                       append-to-body="true">
                <ui-select-match placeholder="Please Choose">{{valuecontainer[targetkey].description}}</ui-select-match>
                <ui-select-choices repeat="option in dropdownValues">
                    <div ng-bind-html="option.description"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div ng-if="isLocation">
            <locations-select valuecontainer="valuecontainer" targetkey="targetkey" on-location-select="changefunction()"></locations-select>
        </div>
        <div ng-if="isBreedingMethod" class="possibleValuesDiv">
            <methods-select valuecontainer="valuecontainer" targetkey="targetkey" on-method-select="changefunction()"></methods-select>
        </div>
    </div>
    <div ng-switch-when="NTEXT">
        <input type="text" ng-disabled="blockInput" valid-decimal="" class="form-control numeric-input" ng-model="valuecontainer[targetkey]" ng-change="changefunction()"/>
    </div>
    <div ng-switch-when="SLIDER">
        <input type="text" ng-disabled="blockInput" valid-decimal="" class="form-control numeric-input" ng-model="valuecontainer[targetkey]" ng-change="changefunction()"/>
    </div>
    <div ng-switch-when="CTEXT">
        <input type="text" ng-disabled="blockInput" class="form-control character-input" ng-model="valuecontainer[targetkey]" ng-change="changefunction()"/>
    </div>
    <div ng-switch-when="TEXTAREA">
        <textarea ng-disabled="blockInput" class="form-control character-input" rows="3" ng-model="valuecontainer[targetkey]" ng-change="changefunction()"/>
    </div>
    <div ng-switch-when="DATE">
        <input type="text" ng-disabled="blockInput" placeholder="yyyy-mm-dd" class="form-control date-input" ng-model="valuecontainer[targetkey]" jq-datepicker="true" with-image="true" image-src="/Fieldbook/static/img/calendar.png" ng-change="changefunction()"/>
    </div>
</div>
