<div ng-switch="widgetType">
    <div ng-switch-when="DROPDOWN">
        <ui-select name="name" theme="select2" search-enabled="false" ng-model="valuecontainer[targetkey]" ng-disabled="blockInput" style="width:100%" ng-change="changefunction()"
                   append-to-body="true">
            <ui-select-match placeholder="Please Choose">{{valuecontainer[targetkey].description}}</ui-select-match>
            <ui-select-choices repeat="option in dropdownValues">
                <div ng-bind-html="option.description"></div>
            </ui-select-choices>
        </ui-select>
        <div ng-if="isLocation">
            <div class="possibleValuesDiv">
                <input type="radio" ng-disabled="blockInput"
                 ng-model="lookupLocation" value=1 ng-change="updateDropdownValuesBreedingLocation()"> &nbsp;
                <span th:text="#{show.breeding.location}">Breeding locations</span> &nbsp;
                <input type="radio" ng-disabled="blockInput" 
                ng-model="lookupLocation" value=2 ng-change="updateDropdownValuesAllLocation()"> &nbsp;
                <span th:text="#{show.all.location}">All locations types</span>
            </div>
            <div class="possibleValuesDiv">            
                <input type="checkbox" ng-model="localData.useFavorites" ng-change="updateDropdownValuesFavorites()"> &nbsp;
                <span th:text="#{show.favorite.location}">Show only favorite locations </span> &nbsp;
	            <span>
	                <a href="javascript: void(0)" th:text="#{study.managesettings.manage.location}" ng-click="blockInput || initiateManageLocationModal()">Manage Location</a>
	            </span>
            </div>
        </div>
        <div ng-if="isBreedingMethod" class="possibleValuesDiv">
            <!--TODO : handle rendering of breeding method dropdowns for completeness-->
        </div>
    </div>
    <div ng-switch-when="NTEXT">
        <input type="text" ng-disabled="blockInput" valid-decimal="" class="form-control numeric-input" ng-model="valuecontainer[targetkey]" ng-change="changefunction()"/>
    </div>
    <div ng-switch-when="SLIDER">
        <input type="text" ng-disabled="blockInput" valid-decimal="" class="form-control numeric-input" ng-model="valuecontainer[targetkey]" ng-change="changefunction()"/>
    </div>
    <div ng-switch-when="CTEXT">
        <input type="text" ng-disabled="blockInput" class="form-control character-input" ng-model="valuecontainer[targetkey]" ng-change="changefunction()"/>
    </div>
    <div ng-switch-when="TEXTAREA">
        <textarea ng-disabled="blockInput" class="form-control character-input" rows="3" ng-model="valuecontainer[targetkey]" ng-change="changefunction()"/>
    </div>
    <div ng-switch-when="DATE">
        <input type="text" ng-disabled="blockInput" placeholder="yyyy-mm-dd" class="form-control date-input" ng-model="valuecontainer[targetkey]" jq-datepicker="true" with-image="true" image-src="/Fieldbook/static/img/calendar.png" ng-change="changefunction()"/>
    </div>
</div>
