<div ng-switch="widgetType">
    <div ng-switch-when="DROPDOWN">
        <input type="hidden" ui-select2="dropdownOptions" class="form-control select2" ng-model="valuecontainer[targetkey]" value-as-object="false" ng-change="changefunction()" ng-disabled="blockInput"/>
        <div ng-if="isLocation">
            <div class="possibleValuesDiv">
                <input type="radio" ng-disabled="blockInput" ng-attr-name="env_location_filter"
                 ng-model="locationLookup" value="1" ng-change="updateDropdownValuesBreedingLocation()"> &nbsp;
                <span th:text="#{show.breeding.location}">Breeding locations</span> &nbsp;
                <input type="radio" ng-disabled="blockInput" ng-attr-name="env_location_filter"
                ng-model="locationLookup" value="2" ng-change="updateDropdownValuesAllLocation()"> &nbsp;
                <span th:text="#{show.all.location}">All locations types</span>
            </div>
            <div class="possibleValuesDiv">            
                <input type="checkbox" ng-model="localData.useFavorites" ng-change="updateDropdownValuesFavorites()"> &nbsp;
                <span th:text="#{show.favorite.location}">Show only favorite locations </span> &nbsp;
            </div>
        </div>
        <div ng-if="isBreedingMethod" class="possibleValuesDiv">
            <!--TODO : handle rendering of breeding method dropdowns for completeness-->
        </div>
    </div>
    <div ng-switch-when="NTEXT">
        <input type="text" ng-disabled="blockInput" valid-decimal="" class="form-control numeric-input" ng-model="valuecontainer[targetkey]" ng-change="changefunction()"/>
    </div>
    <div ng-switch-when="SLIDER">
        <input type="text" ng-disabled="blockInput" valid-decimal="" class="form-control numeric-input" ng-model="valuecontainer[targetkey]" ng-change="changefunction()"/>
    </div>
    <div ng-switch-when="CTEXT">
        <input type="text" ng-disabled="blockInput" class="form-control character-input" ng-model="valuecontainer[targetkey]" ng-change="changefunction()"/>
    </div>
    <div ng-switch-when="TEXTAREA">
        <textarea ng-disabled="blockInput" class="form-control character-input" rows="3" ng-model="valuecontainer[targetkey]" ng-change="changefunction()"/>
    </div>
    <div ng-switch-when="DATE">
        <input type="text" ng-disabled="blockInput" placeholder="yyyy-mm-dd" class="form-control date-input" ng-model="valuecontainer[targetkey]" jq-datepicker="true" with-image="true" image-src="/Fieldbook/static/img/calendar.png" ng-change="changefunction()"/>
    </div>
</div>