<div class="modal-body">
    <div class="row form-group">
        <div class="col-xs-11 col-md-11">
            <label class="modal-title fbk-modal-title" >{{header}}</label>
        </div>
        <div class="col-xs-1 col-md-1">
            <button class="close pull-right glyphicon glyphicon-remove" ng-click="cancel()"/>
        </div>
    </div>
    <div class="separator"></div>
    <br/>
    <div class="row form-group">
        <div class="col-xs-12 col-md-12">
            <label control-label label-bold>{{title}}</label>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-md-12">
            <ul ng-repeat="warning in warnings">
                <li>{{warning}}</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12" align="center">
            <label class="control-label">{{question}}</label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()" ng-bind="cancelButtonLabel">Cancel</button>
    <button class="btn btn-primary" ng-click="confirm()" ng-bind="confirmButtonLabel">OK</button>
</div>
