<div xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<!-- remove the style tag later -->
<div ng-cloak="" ng-app="designImportApp" style="position:relative; top: 30px">
    <div class="row">
        <div class="col-xs-11">
            <label class="fbk-modal-title" th:text="#{design.import.modal.title}">Import Experimental Design :)</label>
        </div>
        <div class="col-xs-1">
            <button id="closeManageLocationModal" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" onClick="propagateLocationUpdateEvent();" aria-hidden="true"/>
        </div>
    </div>

<section ng-controller="designImportCtrl">
    <div class="row">
        <div class="col-md-7">
            <form class="form-horizontal">
                <div class="form-group">
                    <strong class="sub-content-heading col-md-12" th:text="#{design.import.experimental.type}"></strong>
                </div>

                <div class="form-group">
                    <label for="design-type-select" class="col-md-6 col-sm-8 control-label" th:text="#{design.import.experimental.type.select}"></label>

                    <div class="col-md-6 col-sm-4">
                        <select id="design-type-select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <strong class="sub-content-heading col-md-12" th:text="#{design.import.map.column.header"></strong>
    </div>


</section>



</div>

<script type="text/javascript" th:src="@{/static/js/design-import/design-import-main.js}"></script>
</div>

