<section xmlns:th="http://www.thymeleaf.org" th:remove="tag">

    <div ng-cloak="" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="designMapModal" id="designMapModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="min-width: 98%">
            <div class="modal-content" ng-controller="designImportCtrl">
                <div class="modal-header">
                    <button type="button" class="close closeTrigger" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" th:text="#{design.import.modal.title}">Import Experimental Design</h4>
                </div>
                <section class="modal-body" style="height:450pt; overflow-y: auto">
                    <div class="row" ng-show="enableDesignSelection">
                        <div class="col-md-7">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <strong class="sub-content-heading col-md-12" th:text="#{design.import.experimental.type}"></strong>
                                </div>

                                <div class="form-group">
                                    <label for="design-type-select" class="col-md-6 col-sm-8 control-label"
                                           th:text="#{design.import.experimental.type.select}"></label>

                                    <div class="col-md-6 col-sm-4">
                                        <select id="design-type-select" ng-model="designType" ng-change="onDesignTypeSelect()">
                                            <option value="">Please Choose</option>
                                            <option value="0">Randomized Complete Block Design</option>
                                            <option value="1">Resolvable Incomplete Block Design</option>
                                            <option value="2">Row-and-Column</option>
                                            <option value="3">Other Design</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <strong class="sub-content-heading pull-left" th:text="#{design.import.map.column.header}"></strong>
                        <span class="btn btn-link pull-right" th:text="#{ontology.browser.modal.scale.variable}"
                              ng-click="launchOntologyBrowser()"></span>
                        </div>
                    </div>
                    <div class="row">
                        <p class="col-md-12" th:text="#{design.import.map.column.header.desc}"></p>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <label  class="control-label">
                                <span ng-show="advancedOptions.showAdvancedOptions" ng-click="toggleAdvancedOptions()"><img  th:src="@{/static/img/expanded-arrow.png}" /></span>
                                <span ng-show="!advancedOptions.showAdvancedOptions" ng-click="toggleAdvancedOptions()"><img th:src="@{/static/img/collapsed-arrow.png}" /></span>
                                <strong class="sub-content-heading" ng-click="toggleAdvancedOptions()" th:text="#{advanced.options}">Advanced Options</strong>
                            </label>
                        </div>
                        <div class="col-md-12 col-xs-12" ng-show="advancedOptions.showAdvancedOptions">
                            <div class="col-md-6" style="margin-left: 10px" >
                                <div class="checkbox-inline">
                                    <label><input type="checkbox" ng:model="advancedOptions.maintainHeaderNaming" th:text="#{maintain.naming}"/></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-danger">
                                <div class="panel-heading"><b class="panel-title"><span
                                        th:text="#{design.import.unmapped.header.group.text}"></span> <span class="badge-danger counter"
                                                                                                            style="float:right">{{unmappedHeaders.length}}</span></b>
                                </div>
                                <div class="unmapped list-group" ui-sortable="{ 'connectWith': '.list-group' }"
                                     ng-model="data.unmappedHeaders">
                                    <div class="list-group-item" ng-repeat="header in data.unmappedHeaders">
                                        <h4>{{header.name}}</h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <mapping-group th:attr="name=#{design.import.environmental.factors}" data="data.mappedEnvironmentalFactors"
                                           variable-type="1020"></mapping-group>
                            <mapping-group th:attr="name=#{design.import.design.factors}" data="data.mappedDesignFactors"
                                           variable-type="1030"></mapping-group>
                            <mapping-group th:attr="name=#{design.import.germplasm.factors}" data="data.mappedGermplasmFactors"
                                           variable-type="1040"></mapping-group>
                            <mapping-group th:attr="name=#{design.import.traits}" data="data.mappedTraits"
                                           variable-type="1043"></mapping-group>
                        </div>

                    </div>

                </section>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default closeTrigger" data-dismiss="modal" aria-hidden="true"
                            th:text="#{common.form.cancel.text}" ng-click="cancelMapping()">Cancel
                    </button>
                    <button type="button" class="btn btn-primary closeTrigger" th:text="#{common.form.next.text}"
                            ng-click="validateAndSend()">Next
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/static/js/lib/angular/sortable.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/design-import/design-import-main.js}"></script>

    <script th:inline="javascript">
        //<![CDATA[

        (function () {
            angular.module('designImportApp')
                    .constant('VARIABLE_SELECTION_MODAL_SELECTOR', '.vs-modal')
                    .constant('VARIABLE_SELECTION_LABELS', {
                        /*ENVIRONMENTAL FACTORS*/
                        1020: {
                            label: /*[[#{design.import.environmental.factors}]]*/ '',
                            placeholder: /*[[#{design.import.environmental.factors.placeholder}]]*/ ''
                        },
                        /*DESIGN FACTORS*/
                        1030: {
                            label: /*[[#{design.import.design.factors}]]*/ '',
                            placeholder: /*[[#{design.import.design.factors.placeholder}]]*/ ''
                        },
                        /*GERMPLASM FACTORS*/
                        1040: {
                            label: /*[[#{design.import.germplasm.factors}]]*/ '',
                            placeholder: /*[[#{design.import.germplasm.factors.placeholder}]]*/ ''
                        },
                        /*TRAITS*/
                        1043: {
                            label: /*[[#{design.import.traits}]]*/ '',
                            placeholder: /*[[#{design.import.traits.placeholder}]]*/ ''
                        },
                        generalAjaxError: /*[[#{study.managesettings.variable.selection.error}]]*/ '',
                        variableSelectedMessage: /*[[#{common.warning.variable.in.use}]]*/ '',
                        uniqueVariableError: /*[[#{variable.selection.unique.variable.error}]]*/ '',
                        invalidAliasError: /*[[#{variable.selection.alias.error}]]*/ ''
                    })
                    /* INTERNATIONALIZED MESSAGES HERE */
                    .constant('Messages', {
                        YES: /*[[#{common.form.yes.text}]]*/ 'Yes',
                        NO: /*[[#{common.form.no.text}]]*/ 'No',
                        OK: /*[[#{common.form.ok.text}]]*/ 'OK',
                        REQUIRED: /*[[#{common.form.required.text}]]*/ 'Required',
                        SELECT_TEXT: /*[[#{common.form.select.text}]]*/ 'Select',
                        OWN_DESIGN: /*[[#{design.import.own.design}]]*/ 'Own Design',
                        DESIGN_MAPPING_ERROR_HEADER: /*[[#{design.import.mapping.error.header}]]*/ 'DESIGN_MAPPING_ERROR_HEADER',
                        OWN_DESIGN_SELECT_WARNING: /*[[#{design.import.own.design.select.warning}]]*/ 'OWN_DESIGN_SELECT_WARNING',
                        DESIGN_IMPORT_MISSING_MAPPING: /*[[#{design.import.error.missing.mapping.title}]]*/ '',
                        DESIGN_IMPORT_MISSING_MAPPING_TEXT: /*[[#{design.import.error.missing.mapping.text}]]*/ 'Please choose a mapping for all variables that you wish to import in the trial design.',
                        DESIGN_IMPORT_CONFLICT_ALERT_HEADER: /*[[#{design.import.conflict.header}]]*/ 'Proceed Import?',
                        DESIGN_IMPORT_CONFLICT_ALERT_MESSAGE: /*[[#{design.import.conflict.message}]]*/ 'Importing design will overwrite previous design, do you want to continue?',
                        DESIGN_IMPORT_HAS_CHECKS_SELECTED_ALERT_MESSAGE: /*[[#{design.import.has.checks.selected.message}]]*/ 'The imported design will override the checks that have already been specified. Do you want to continue?',
                        DESIGN_IMPORT_UNMAPPED_PROMPT_TITLE: /*[[#{design.import.unmapped.prompt.title}]]*/ '',
                        DESIGN_IMPORT_UNMAPPED_PROMPT_TEXT: /*[[#{design.import.unmapped.prompt.text}]]*/ '',
                        DESIGN_IMPORT_CHANGE_DESIGN: /*[[#{design.import.change.design}]]*/ '',
                        DESIGN_IMPORT_CHANGE_DESIGN_DESCRIPTION_STUDY: /*[[#{design.import.change.design.description.study}]]*/ '',
                        DESIGN_IMPORT_PRESET_DESIGN_CHANGE_DESIGN: /*[[#{design.import.preset.design.change.design}]]*/ ''
                    });
        })();

        // ]]>
    </script>

</section>
