<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
		<div class="modal fade"
			id="reviewDesignModal" role="dialog"
			aria-labelledby="reviewDesignModal" aria-hidden="true">
			<div class="modal-dialog modal-large">
				<div class="modal-content">
					<div class="modal-body" id="reviewDesignModalBody">
						<div class="row form-group">
							<div class="col-xs-11 col-md-11">
								<label class="modal-title fbk-modal-title" id="heading-modal"
									th:text="#{design.import.select.header}"></label>
							</div>
							<div class="col-xs-1 col-md-1">
								<button id="close" type="button"
									class="close  pull-right glyphicon glyphicon-remove"
									data-dismiss="modal" aria-hidden="true" />
							</div>
						</div>

						<div class="row form-group">
							<div class="col-xs-12 col-md-12">
								<label class=""><strong
									class="sub-content-heading ng-binding"
									th:text="#{design.import.review.subheading}"></strong></label>
							</div>
							<div class="col-xs-12 col-md-12">
								<label th:utext="#{design.import.review.description}"></label>
							</div>
						</div>
						
						<div class="row" id="divDesignMeasurements">
							
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
						<button type="button" class="btn btn-primary" aria-hidden="true">Finish</button>
					</div>
				</div>
			</div>
		</div>
</div>