<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
		<div class="modal fade"
			id="reviewDesignModal" role="dialog"
			aria-labelledby="reviewDesignModal" aria-hidden="true">
			<div class="modal-dialog modal-large">
				<div class="modal-content">
					<div class="modal-header">
		                    <button type="button" class="close closeTrigger" data-dismiss="modal" aria-hidden="true">&times;</button>
		                    <h4 class="modal-title" th:text="#{design.import.select.header}"></h4>
		            </div>
					<div class="modal-body" id="reviewDesignModalBody">
						<div class="row form-group">
							<div class="col-xs-12 col-md-12">
								<label class=""><strong
									class="sub-content-heading ng-binding"
									th:text="#{design.import.review.subheading}"></strong></label>
							</div>
							<div class="col-xs-12 col-md-12">
								<label th:utext="#{design.import.review.description}"></label>
							</div>
						</div>
						
						<div class="row" id="divDesignMeasurements">
							
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
						<button type="button" class="btn btn-primary btn-import-generate" aria-hidden="true">Finish</button>
					</div>
				</div>
			</div>
		</div>
</div>