<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Fieldbook Application</title>
    
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Le styles -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     -->
    <!-- Bootstrap -->
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    
    <link th:href="@{/static/css/dataset-importer.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/bootstrap-datepicker.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/bootstrap-fileupload.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/select2.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/select2-bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/jquery.treegrid.css}" rel="stylesheet"/>

	<!-- Fieldbook Styles -->
    <link th:href="@{/static/css/fieldbook-tree.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/fieldbook.css}" rel="stylesheet"/>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          th:href="@{/static/ico/apple-touch-icon-144-precomposed.png}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          th:href="@{/static/ico/apple-touch-icon-114-precomposed.png}"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          th:href="@{/static/ico/apple-touch-icon-72-precomposed.png}"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/static/ico/apple-touch-icon-57-precomposed.png}"/>
    <link rel="shortcut icon" th:href="@{/static/ico/favicon.png}"/>
    
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/themes/bootstrap/jquery-ui.css}"/>

	<script type="text/javascript" th:src="@{/static/js/jquery-1.10.2.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/jqueryui/jquery-ui.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/select2.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/jquery.blockUI.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/spin.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/fieldbook-common.js}"></script>

	<!-- Tree View Javascript -->
	<script type="text/javascript" th:src="@{/static/js/jquery.dynatree.min.js}"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/static/js/html5shiv.js"></script>
    <![endif]-->
	</head>

  <body>
  
  <div class="jumbotron" th:substituteby="/template/header"></div>
  
  <div class="container" style="max-width: none !important; width: 950px; padding-left: 20px; margin-top: -20px">
	<div class="row">
		<div class="col-md-12" th:substituteby="${templateName}">
			<div class="page-header">
				<h1>
					Example page header <small>Subtext for header</small>
				</h1>
			</div>
			<p>
				Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
			</p>
			<form>
				<fieldset>
					 <legend>Legend</legend> <label>Label name</label><input type="text" /> <span class="help-block">Example block-level help text here.</span> <label class="checkbox"><input type="checkbox" /> Check me out</label> <button type="submit" class="btn">Submit</button>
				</fieldset>
			</form>
		</div>
	</div>
	
	<footer>
        <p>
        <span th:text="#{fb.app.footer.company}"></span><span id="year"></span>
        </p>                            
    </footer>
  </div>
 <script type='text/javascript' th:inline="javascript">
	//<![CDATA[    
 		$('#year').html(new Date().getFullYear());
      //]]>
    </script>



</body>

</html>