<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-2.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
	<title>Fieldbook Application</title>
	<link th:href="@{/static/css/lib/bootstrap/bootstrap.min.css}" rel="stylesheet" media="screen" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="jumbotron">
				<div class="alert alert-danger">Something went wrong, please try again.</div>
			</div>
		</div>
	</div>
</body>
</html>