	<div class="jumbotron">
		<div class="container">
	    <h1>
			Fieldbook Main
		</h1>
		<p>
			This is for new Fieldbook Application.
		</p>
	  </div>
	</div>
	
	<ul class="nav nav-pills">
	  <li th:class="${templateName == 'fileUpload' or templateName == 'importGermplasmList' } ? 'active' : ''"><a href="/NurseryManager/fileUpload.html" th:href="@{/NurseryManager}" >Nursery Manager</a></li>
	  <!-- 
	  <li th:class="${templateName == 'test'} ? 'active' : ''"><a href="test.html" th:href="@{/test}">Navigation 1</a></li>
	  <li th:class="${templateName == 'test2'} ? 'active' : ''"><a href="test2.html" th:href="@{/test2}">Navigation 2</a></li>
	  <li th:class="${templateName == 'test3'} ? 'active' : ''"><a href="test3.html" th:href="@{/test3}">Navigation 3</a></li>
	   -->
	</ul>
	