<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-2.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
    <title>Fieldbook Application</title>

    <link th:href="@{/static/css/lib/bootstrap/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/static/css/lib/bootstrap/bootstrap-datepicker.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/lib/bootstrap/bootstrap-fileupload.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/lib/bootstrap/bootstrap-btn-outline.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/lib/select2/select2.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/lib/select2/select2-bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/lib/jquery/jquery.treegrid.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/lib/jquery/jquery.treetable.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/lib/jquery/jquery.treetable.theme.custom.css}" rel="stylesheet"/>		
	<link th:href="@{/static/css/lib/jquery-ui/jquery-ui.css}" rel="stylesheet"/>

    <link th:href="@{/static/css/fieldbook-tree.css}" rel="stylesheet"/>

    <link rel="stylesheet" th:href="@{/static/css/lib/datatable/dataTables.bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/lib/datatable/dataTables.fixedColumns.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/lib/datatable/dataTables.scroller.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/lib/datatable/dataTables.colVis.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/lib/datatable/dataTables.colReorder.css}"/>
    <link th:href="@{/static/css/lib/notify/ui.notify.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/lib/angular-block-ui/angular-block-ui.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/fieldbook.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/buttons.dataTables.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/select.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/static/css/lib/jquery/jquery.contextMenu-2.0.min.css}"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{/static/js/lib/html5shiv.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/lib/respond.min.js}" type="text/javascript"></script>
    <![endif]-->

    <script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery.blockUI.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery.contextMenu-2.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery.tableSelect.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery.treetable.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery-multisortable.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery.tablednd.0.7.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery.dynatree.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/lib/jquery.fileDownload.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/notify/jquery.notify.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/placeholder-shiv.js}" ></script>
    <script type="text/javascript" th:src="@{/static/js/lib/bootstrap/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/bootstrap/bootstrap-datepicker.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/bootstrap/bootbox.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/datatable/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/datatable/dataTables.bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/datatable/dataTables.fixedColumns.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/datatable/dataTables.scroller.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/datatable/dataTables.colVis.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/datatable/dataTables.colReorder.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/datatable/dataTables.colResize.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/bootstrap/bootstrap-paginator.min.js}"></script>

    <script type="text/javascript" th:src="@{/static/js/spinner.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/spinner-manager.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/bmsAuth.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/base.js}"></script>

    <script type="text/javascript" th:src="@{/static/js/fieldbook-common.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/treetable.js}"></script>

    <script type="text/javascript" th:src="@{/static/js/fbk-data-table/fieldbook-datatable.js}"></script>

    <script type="text/javascript" th:src="@{/static/js/study-custom-reports.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/import-germplasm.js}"></script>

    <!-- angular base library -->
    <script type="text/javascript" th:src="@{/static/js/lib/angular/angular.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/angular/angular-messages.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/angular/ng-lodash.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/angular/angular-resource.min.js}" ></script>
    <script type="text/javascript" th:src="@{/static/js/lib/angular/angular-route.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/angular/ui-router-core.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/angular/ui-router-sticky-states.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/angular/ui-router-angularjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/angular/ui-router-dsr.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/angular/ui-bootstrap-tpls-2.5.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/angular/angular-select2.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/angular/angular-sanitize.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/angular/select.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/angular/angular-local-storage.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/angular/angular-block-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/angular/angular-translate.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/datatable/angular-datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/datatable/dataTables.buttons.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/datatable/angular-datatables.buttons.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/datatable/angular-datatables.colreorder.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/datatable/buttons.colVis.min.js}"></script>

    <!-- FIXME: for the meantime, the legacy chooseSettings.js is needed by fieldbook-utils.js for the old ontology popup  -->

    <!-- angular common modules -->
    <script type="text/javascript" th:src="@{/static/js/angular/angular-utilities.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/angular/fieldbook-utils.js}"></script>

    <script type="text/javascript" th:src="@{/static/js/tree-persist.js}"></script>

</head>
<body>
<div class="global-messages" th:include="/Common/includes/globals" th:remove="tag"></div>

<div id="notification-container" style="display:none">
    <div id="default-notification">
        <a class="ui-notify-close" href="#"><span class="glyphicon glyphicon-remove" style="float:right"></span></a>
        <h1>#{title}</h1>
        <p>#{text}</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12" th:substituteby="${templateName}">
            <!-- Main container of all Fieldbook screen content.
                Always replaced/filled in by the contents of individual screen templates. -->
        </div>
    </div>
</div>
</body>
</html>
