<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="etl/base-template"
      ng-app="di-mapHeaders">
<head>
    <title th:inline="text">[[#{page.title.define.variables}]]</title>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{/static/js/html5shiv.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/respond.min.js}" type="text/javascript"></script>

    <script>
        // The ieshiv takes care of our ui.directives, bootstrap module directives and
        // AngularJS's ng-view, ng-include, ng-pluralize and ng-switch directives.
        // However, IF you have custom directives (yours or someone else's) then
        // enumerate the list of tags in window.myCustomTags

        window.myCustomTags = [ 'resizableaffix', 'pageNotification' ]; // optional
    </script>

    <script th:src="@{/static/js/angular-ui-ieshiv.min.js}" type="text/javascript"></script>

    <![endif]-->

    <link th:href="@{/static/css/map-headers-page.css}" rel="stylesheet" media="screen"/>


    <style type="text/css">
        section { display: none; }

        .ie8 .affix {
            position: static !important;
        }

        .ie8 .modal-dialog {
            width: 95% !important;
        }

    </style>
</head>

<body>
<section layout:fragment="content" ng:controller="MapHeadersJSController" ng:class="{'show' : isReady}">
<div class="content-header">
    <h2>Map Headers to Standard Variable</h2>
    <div>
        <h6>Drag and drop headers from the left panel to the right panel to group them on their corresponding panels and apply Standard Variable mapping on it.</h6>
        <h6>You can re-map headers that already have Standard Variables mapped to them.</h6>
        <h6>Click the Save Mapping button to preview and apply the mappings.</h6>
    </div>

</div>




<div class="alert alert-info" style="display:none" toggle="isReady" page-notification="">
    <h2>We found <b class="text-danger"><span th:text="${allocatedCount}"></span></b> out of <b class="text-danger"><span th:text="${totalHeaderCount}"></span></b> headers that matches to the available Standard
        Variables. Please review the results here.</h2>
</div>

<div resizableaffix="" parent=".main-content"  ng:style="{width: myWidth}" class="row toolbar-affix affix-top" data-offset-top="262" data-spy="affix" style="margin-bottom: 10px">
    <div class="col-md-12">
        <div class="btn-toolbar pull-left" style="padding-bottom: 10px">
            <a th:href="@{step2}" class="btn btn-default btn-lg" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Study Details</a>
            <button class="btn btn-primary btn-lg" type="button" ng:show="!previewMode" ng:click="performValidateHeaderMapping()" ng:disabled="userAttemptedSubmission"><span class="glyphicon glyphicon-floppy-open"></span> Save Mapping</button>
            <button class="btn btn-info btn-lg" type="button" ng:show="previewMode &amp;&amp; !hasErrors" ng:click="performRedoHeaderMapping()"><span class="glyphicon glyphicon-repeat"></span> Re-do Mapping</button>
        </div>

        <div ng:show="!previewMode" class="btn-toolbar pull-right">
            <button class="btn btn-info" type="button" ng:click="launchOntologyBrowser()"><span class="glyphicon glyphicon-share-alt"></span> Manage Variables in Ontology Browser</button>
        </div>
    </div>
</div>

<div class="row" style="position: relative; min-height: 900px">

    <!-- unmapped -->
    <div class="col-md-4 unmapped-col" ng:class="{'preview' : previewMode}">

        <!-- adding a div container element on the panel as the affix rips it off on trigger -->
        <div resizableaffix="" parent=".unmapped-col"  ng:show="!previewMode" class="panel panel-danger unmapped-panel-affix affix-top" data-spy="affix" data-offset-top="262" data-offset-bottom="220">
            <div class="panel-heading"><b class="panel-title">Un-Mapped <span class="badge-danger counter" style="float:right">{{mappingdata.unmatched.length}}</span></b>
            </div>
            <div class="unmapped list-group" ui-multi-sortable="" ui-options="uiSortOpts" ng:model="mappingdata" model-subset="unmatched">
                <div class="list-group-item" ng:repeat="header in mappingdata.unmatched">
                    <h4>{{header.headerName}}</h4>
                </div>
            </div>
        </div>


        <!-- THIS IS WHERE MESSAGES WILL SHOW ON PREVIEW (ERROR OR NOT)  -->
        <div resizableaffix="" parent=".unmapped-col" ng:show="previewMode &amp;&amp; !hasErrors" style="padding:0" class="alert alert-success unmapped-panel-affix affix-top" data-offset-top="262" data-offset-bottom="220" data-spy="affix">
            <div style="padding:15px">
                <h1>No problems were found!</h1>
                <div class="btn btn-primary btn-lg btn-action" ng:click="performSaveOntologyHeaderMapping()"><span class="glyphicon glyphicon-ok"></span> Confirm Header Mapping</div>
            </div>
        </div>

        <div resizableaffix="" parent=".unmapped-col" ng:show="previewMode &amp;&amp; hasErrors" style="padding:0" class="alert alert-danger unmapped-panel-affix affix-top" data-offset-top="262" data-offset-bottom="220" data-spy="affix">
            <div style="padding:15px">
                <h3>We have found problems in your current mapping please review the errors and try again.</h3>
                <ul ng:repeat="error in serverMessages">
                    <li ng:bind="error">{{error.message}}</li>
                </ul>
                <p>&nbsp;</p>
                <p ng:show="missingEntryOrPlot">
                    These are critical errors and would be best resolved by updating the input file with the required entries. Click <a th:href="@{reupload}">here</a> to go to a page where you can re upload the corrected file.
                </p>

                <p ng:show="missingEntryOrPlot &amp;&amp; unmappedPresent">
                    You can also double check your mappings as there are headers left unmapped. You can do so by clicking on the button below.
                </p>
                <div class="btn btn-danger btn-lg btn-action" ng:show="!missingEntryOrPlot || unmappedPresent" ng:click="performRedoHeaderMapping()"><span class="glyphicon glyphicon-repeat"></span> Re-do Header Mapping</div>

            </div>
        </div>

    </div>

    <!-- mapped -->
    <div class="col-md-8 mapped-col" ng:class="{'preview' : previewMode}">

        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading"><b class="panel-title"><a data-toggle="collapse" href="#collapseOne">Trial Environment Group</a>
                    <span class="badge-info counter" style="float:right">{{mappingdata.trialEnvironment.length}}</span></b>
                </div>

                <div class="panel-collapse collapse in list-group" id="collapseOne" ui-multi-sortable="" ui-options="uiSortOptsExt" ng:model="mappingdata" data-phenotype="trialEnvironment" model-subset="trialEnvironment">
                    <div class="list-group-item" ng:class="{'list-group-item-danger' : header.hasError}" ng:repeat="header in mappingdata.trialEnvironment" data-empty="{{previewMode}}">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="list-group-item-heading pull-left">{{header.headerName}} <span class="glyphicon glyphicon-arrow-right"></span> {{header.variable}} <small class="text-info">{{getOntologySuffix(header.id)}}</small></h3>
                                <a class="btn btn-xs pull-right"  ng:click="performRemap(header, 'trialEnvironment')" ng:show="!previewMode" ng:class="{'btn-info' : header.variable &amp;&amp; !header.hasError, 'btn-danger' : !header.variable || header.hasError}" ><span ng:class="{'glyphicon glyphicon-link' : header.variable &amp;&amp; !header.hasError, 'fa fa-warning' : !header.variable || header.hasError}"></span>&nbsp;<span ng:bind="computeButtonLabel(header)">Re-map</span></a>
                            </div>
                        </div>
                        <div class="row list-group-item-text">
                            <div class="col-sm-4">
                                <b>Property: </b> {{header.property}} <small class="text-info">{{getOntologySuffix(header.propertyId)}}</small>
                            </div>
                            <div class="col-sm-4">
                                <b>Scale: </b> {{header.scale}} <small class="text-info">{{getOntologySuffix(header.scaleId)}}</small>
                            </div>
                            <div class="col-sm-4">
                                <b>Method: </b>{{header.method}} <small class="text-info">{{getOntologySuffix(header.methodId)}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading"><b class="panel-title"><a data-toggle="collapse" href="#collapseTwo">Germplasm Entry Group</a>
                    <span class="badge-info counter" style="float:right">{{mappingdata.germplasm.length}}</span></b>
                </div>
                <div class="panel-collapse collapse in list-group" id="collapseTwo" ui-multi-sortable="" ui-options="uiSortOptsExt" ng:model="mappingdata" data-phenotype="germplasmEntry" model-subset="germplasm">
                    <div class="list-group-item" ng:class="{'list-group-item-danger' : header.hasError}" ng:repeat="header in mappingdata.germplasm" data-empty="{{previewMode}}">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="list-group-item-heading pull-left">{{header.headerName}} <span class="glyphicon glyphicon-arrow-right"></span> {{header.variable}} <small class="text-info">{{getOntologySuffix(header.id)}}</small></h3>
                                <a class="btn btn-primary btn-xs pull-right" ng:show="!previewMode" ng:click="performRemap(header, 'germplasmEntry')" ng:class="{'btn-info' : header.variable &amp;&amp; !header.hasError, 'btn-danger' : !header.variable || header.hasError}" ><span ng:class="{'glyphicon glyphicon-link' : header.variable &amp;&amp; !header.hasError, 'fa fa-warning' : !header.variable || header.hasError}"></span>&nbsp;<span ng:bind="computeButtonLabel(header)">Re-map</span></a>
                            </div>
                        </div>
                        <div class="row list-group-item-text">
                            <div class="col-sm-4">
                                <b>Property: </b> {{header.property}} <small class="text-info">{{getOntologySuffix(header.propertyId)}}</small>
                            </div>
                            <div class="col-sm-4">
                                <b>Scale: </b> {{header.scale}} <small class="text-info">{{getOntologySuffix(header.scaleId)}}</small>
                            </div>
                            <div class="col-sm-4">
                                <b>Method: </b>{{header.method}} <small class="text-info">{{getOntologySuffix(header.methodId)}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <b class="panel-title">
                        <a data-toggle="collapse" href="#collapseThree">Trial Design Group</a>
                        <span class="badge-info counter" style="float:right">{{mappingdata.trialDesign.length}}</span>
                    </b>
                </div>
                <div class="panel-collapse collapse in list-group" id="collapseThree" ui-multi-sortable="" ui-options="uiSortOptsExt" ng:model="mappingdata" data-phenotype="trialDesign" model-subset="trialDesign">
                    <div class="list-group-item" ng:class="{'list-group-item-danger' : header.hasError}" ng:repeat="header in mappingdata.trialDesign" data-empty="{{previewMode}}">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="list-group-item-heading pull-left">{{header.headerName}} <span class="glyphicon glyphicon-arrow-right"></span> {{header.variable}} <small class="text-info">{{getOntologySuffix(header.id)}}</small></h3>
                                <a class="btn btn-primary btn-xs pull-right" ng:show="!previewMode" ng:click="performRemap(header, 'trialDesign')" ng:class="{'btn-info' : header.variable &amp;&amp; !header.hasError, 'btn-danger' : !header.variable || header.hasError}" ><span ng:class="{'glyphicon glyphicon-link' : header.variable &amp;&amp; !header.hasError, 'fa fa-warning' : !header.variable || header.hasError}"></span>&nbsp;<span ng:bind="computeButtonLabel(header)">Re-map</span></a>
                            </div>
                        </div>
                        <div class="row list-group-item-text">
                            <div class="col-sm-4">
                                <b>Property: </b> {{header.property}} <small class="text-info">{{getOntologySuffix(header.propertyId)}}</small>
                            </div>
                            <div class="col-sm-4">
                                <b>Scale: </b> {{header.scale}} <small class="text-info">{{getOntologySuffix(header.scaleId)}}</small>
                            </div>
                            <div class="col-sm-4">
                                <b>Method: </b>{{header.method}} <small class="text-info">{{getOntologySuffix(header.methodId)}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <b class="panel-title">
                        <a data-toggle="collapse" href="#collapseFour">Variate Group</a>
                        <span class="badge-info counter" style="float:right">{{mappingdata.variate.length}}</span>
                    </b>
                </div>
                <div class="panel-collapse collapse in list-group" id="collapseFour" ui-multi-sortable="" ui-options="uiSortOptsExt" ng:model="mappingdata" data-phenotype="variate" model-subset="variate">
                    <div class="list-group-item" ng:class="{'list-group-item-danger' : header.hasError }" ng:repeat="header in mappingdata.variate" data-empty="{{previewMode}}">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="list-group-item-heading pull-left">{{header.headerName}} <span class="glyphicon glyphicon-arrow-right"></span> {{header.variable}} <small class="text-info">{{getOntologySuffix(header.id)}}</small></h3>
                                <a class="btn btn-primary btn-xs pull-right" ng:show="!previewMode" ng:click="performRemap(header, 'variate')" ng:class="{'btn-info' : header.variable &amp;&amp; !header.hasError, 'btn-danger' : !header.variable || header.hasError}" ><span ng:class="{'glyphicon glyphicon-link' : header.variable &amp;&amp; !header.hasError, 'fa fa-warning' : !header.variable || header.hasError}"></span>&nbsp;<span ng:bind="computeButtonLabel(header)">Re-map</span></a>
                            </div>
                        </div>
                        <div class="row list-group-item-text">
                            <div class="col-sm-4">
                                <b>Property: </b> {{header.property}} <small class="text-info">{{getOntologySuffix(header.propertyId)}}</small>
                            </div>
                            <div class="col-sm-4">
                                <b>Scale: </b> {{header.scale}} <small class="text-info">{{getOntologySuffix(header.scaleId)}}</small>
                            </div>
                            <div class="col-sm-4">
                                <b>Method: </b>{{header.method}} <small class="text-info">{{getOntologySuffix(header.methodId)}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/ng-template" id="remapModal.html">

    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng:click="close()"><span class="glyphicon glyphicon-remove"></span></button>
        <h3 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-link"></span>&nbsp;Re-map <span class="text-primary">{{initialData.headerName}}</span> to a different Standard Variable</h3>
    </div>

    <div class="modal-body">
        <div ng:repeat="message in messages" id="message-div">
            <div class="alert alert-danger" ng:bind="message"></div>
        </div>

        <form role="form" name="mappingForm" id="mappingForm">
            
            <div class="row">
                <div class="col-md-8">

                    <div class="form-group">
                        <label for="standardVar">Select a Variable Group</label>
                        <select
                                class="form-control"
                                id="phenotypicTypeList"
                                name="phenotypicTypeList"
                                ui-select2=""
                                ng:model="selected.phenotypicType"
                                ng:change="handlePhenotypeChange()">
                            <option ng:repeat="type in data.phenotypicTypes" ng:value="type.value">{{type.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="standardVar">Search and Select a Standard Variable <br/><small style="font-weight: 400">You can search by <em>Standard Variable</em> name as well as by <em>Property, Scale or Method</em>.</small></label>
                        <input type="hidden"
                               class="form-control"
                               id="standardVariables"
                               name="standardVariables"
                               ui-select2="standardVariableDropdownOptions"
                               ng:model="selected.standardVariable"/>
                        <!--<option ng:repeat="var in data.standardVariablesList | filter:{phenotype : selected.phenotypicType}:true" ng:value="var.id">{{var.variable}}</option>-->
                        <!--</select>-->
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="well" ng:show="selected.standardVariable.variable != null">
                        <div class="psm-group">
                            <h6 class="sv-subtitle">Standard Variable</h6>
                            <h1 class="sv-title">{{selected.standardVariable.variable}} <small class="text-info">{{getOntologySuffix(selected.standardVariable.id).toUpperCase()}}</small></h1>
                            <p class="sv-desc">{{selected.standardVariable.description}}</p>
                        </div>
                        <div class="psm-group">
                            <h6 class="psm-subtitle">Property</h6>
                            <h2 class="psm-title">{{selected.standardVariable.property}} <small class="text-info">{{getOntologySuffix(selected.standardVariable.propertyId)}}</small></h2>
                            <p class="psm-desc" style="font-size: 8pt">{{selected.standardVariable.propertyDescription}}</p>
                        </div>
                        <div class="psm-group">
                            <h6 class="psm-subtitle">Scale</h6>
                            <h2 class="psm-title">{{selected.standardVariable.scale}} <small class="text-info">{{getOntologySuffix(selected.standardVariable.scaleId)}}</small></h2>
                            <p class="psm-desc">{{selected.standardVariable.scaleDescription}}</p>
                        </div>

                        <div class="psm-group">
                            <h6 class="psm-subtitle">Method</h6>
                            <h2 class="psm-title">{{selected.standardVariable.method}} <small class="text-info">{{getOntologySuffix(selected.standardVariable.methodId)}}</small></h2>
                            <p class="psm-desc">{{selected.standardVariable.methodDescription}}</p>
                        </div>
                    </div>

                </div>

            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng:click="close()">Cancel</button>
        <button type="button" class="btn btn-primary" ng:click="save()"><span class="glyphicon glyphicon-ok"></span> Apply Mapping</button>
    </div>

</script>

<script type="text/ng-template" id="ontologyBrowser.html">

    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng:click="close()"><span class="glyphicon glyphicon-remove"></span></button>
        <h3 class="modal-title" id="ontologyLabel" ng:bind-html-unsafe="title"></h3>
    </div>

    <div class="modal-body">
        <iframe src="{{url}}" width="100%" height="750px" frameBorder="0"></iframe>
    </div>

</script>

</section>
<!-- end container-->

<div layout:fragment="page-script">
<script type="text/javascript" th:src="@{/static/js/jquery-ui-1.10.3.custom.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/select2.js}"></script>

<script type="text/javascript" th:src="@{/static/js/bootstrap-fileupload.js}"></script>
<script type="text/javascript" th:src="@{/static/js/angular/angular1.0.8.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/angular-bootstrap3/ui-bootstrap-tpls-0.6.0-SNAPSHOT.js}"></script>
<script type="text/javascript" th:src="@{/static/js/angular/angular-select2.js}"></script>
<script type="text/javascript" th:src="@{/static/js/angular/angular-local-storage.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/angular/sortable.js}"></script>
<script type="text/javascript" th:src="@{/static/js/angular/multiSortable.js}"></script>
<script type="text/javascript" th:src="@{/dynamic/js/digitalabs-utils.js}"></script>
<script type="text/javascript" th:src="@{/dynamic/js/digitalabs-data.js}"></script>

<!--
 <script type="text/javascript" src="http://fabien-d.github.io/alertify.js/0.4.0rc1/alertify/alertify.min.js"></script>
 -->


<!--
    Ontology Browser Integration notes:

    1. URL When browser is access, button should not be displayed
    http://localhost:8080/Fieldbook/OntologyBrowser/popup
    2. http://localhost:8080/Fieldbook/OntologyManager/manage/variable/id/
    {variableId}
-->

<script type="text/javascript" th:inline="javascript">
//<![CDATA[

var applyOntologyManageVariableUpdate = function(standardVariable,options) {
    //console.log("I am called!");

    // access angularJS MapHeadersJSController scope
    if ($("#mappingForm").length > 0)
        window.angular.element("#mappingForm").scope().$parent.$apply(function(_scope) {
            //console.log("apply is called");
            //console.log(standardVariable);

            _scope.performOntologyVariableUpdate(standardVariable);

        });
};

$(document).ready(function () {


});


angular.module('di-mapHeaders', ['digitalabs-util','dataset-importer-directives', 'digitalabs-data', 'ui.bootstrap', 'ui.select2', 'ui.sortable','LocalStorageModule','dataset-importer-directives'])
        .config(['localStorageServiceProvider',function(localStorageServiceProvider) {
            localStorageServiceProvider.setPrefix('etl-onto-mapping');
            localStorageServiceProvider.setStorageType('sessionStorage');
        }])
        .constant('APPLICATION_BASE', [[${applicationBase}]])
        .constant('FIELDBOOK_WEB_LINK',[[${fieldbookWebLink}]])
        .controller('MapHeadersJSController', ['$scope', '$modal', 'Utilities', 'StandardVariables', 'myHttp', 'APPLICATION_BASE','FIELDBOOK_WEB_LINK', function ($scope, $modal, Utilities, StandardVariables, myHttp, APPLICATION_BASE,FIELDBOOK_WEB_LINK) {

            $scope.mappingdata = {};
            $scope.mappingdata.unmatched = [[${headerList}]];
            $scope.mappingdata.trialEnvironment = [[${trialEnvironmentList}]];
            $scope.mappingdata.germplasm = [[${germplasmList}]];
            $scope.mappingdata.trialDesign = [[${trialDesignList}]];
            $scope.mappingdata.variate = [[${variateList}]];
            $scope.serverMessages = [];
            $scope.errorMessages = {};
            $scope.errorMessages.CONTAINS_UNMAPPED = [[#{error.unmapped.variables}]];
            
            $scope.missingEntryOrPlot = false;
            $scope.missingTrial = false;
            $scope.unmappedPresent = false;

            $scope.uiSortOpts =  {

                connectWith: '.list-group',
                cancel : '[data-empty="true"]',
                /*handle : "div[data-empty='false']"*/
                /*start: function(e, ui) {
                 if (ui.item[0].innerText == 'None') {
                 ui.item.sortable.cancel();
                 }
                 },*/
                receive : function(e, ui) {
                    // utilizes customization of multisortable.js to manipulate target object and clear it of standard variable data, leaving only header name and phenotype
                    // TODO : move logic for proper update of phenotype value from Re-Map button to here
                    ui.targetObject.id = null;
                    ui.targetObject.variable = null;
                    ui.targetObject.property = null;
                    ui.targetObject.scale = null;
                    ui.targetObject.method = null;
                    ui.targetObject.propertyId = null;
                    ui.targetObject.scaleId = null;
                    ui.targetObject.methodId = null;
                }
            };

            $scope.uiSortOptsExt = {

                connectWith: '.list-group',
                cancel : '[data-empty="true"]',
                /*handle : "div[data-empty='false']"*/
                /*start: function(e, ui) {
                 if (ui.item[0].innerText == 'None') {
                 ui.item.sortable.cancel();
                 }
                 },*/
                receive : function(e, ui) {
                    // utilizes customization of multisortable.js to manipulate target object and clear it of standard variable data, leaving only header name and phenotype
                    // TODO : move logic for proper update of phenotype value from Re-Map button to here
                    ui.targetObject.id = null;
                    ui.targetObject.variable = null;
                    ui.targetObject.property = null;
                    ui.targetObject.scale = null;
                    ui.targetObject.method = null;
                    ui.targetObject.propertyId = null;
                    ui.targetObject.scaleId = null;
                    ui.targetObject.methodId = null;

                    $scope.performRemap(ui.item.scope().header, e.target.getAttribute("data-phenotype"));
                }
            };


            $scope.previewMode = false;

            $scope.$watch('previewMode',function() {
                window.scrollTo(window.scrollX,window.scrollY+1);

                window.scrollTo(window.scrollX,window.scrollY-1);
            });

            $scope.hasErrors = false;

            $scope.data = {};

            // Lets store this in local sessionstorage first, if possible we can call this localStorage BEFORE the mapping page
            StandardVariables.retrieveAll().then(function(response) {
                $scope.data = response;
                $scope.isReady = true;
            });

            $scope.launchOntologyBrowser = function (type, variable) {
                var modalInstance = null;
                var title = "Ontology Browser";
                var url = "/ibpworkbench/controller/ontology"; 
                modalInstance = $modal.open({
                    windowClass: 'modal-very-huge',
                    templateUrl: 'ontologyBrowser.html',
                    controller: 'OntologyBrowserController',
                    resolve: {
                        title: function () {
                            return title;
                        },

                        url: function () {
                            return url;
                        }
                    }
                });
            };

            $scope.performRemap = function (currentHeader, phenotypicType) {
                var modalInstance = null;
                currentHeader.phenotype = phenotypicType;

                modalInstance = $modal.open({
                    windowClass: 'modal-huge',
                    templateUrl: 'remapModal.html',
                    controller: 'RemapModalController',
                    resolve: {
                        currentHeader: function () {
                            return currentHeader;
                        },

                        changeMappingFunction: function () {
                            return $scope.performChangePhenotypicMapping;
                        },
                        
                        checkForStdVarDuplicatesFunction: function() {
                        	return $scope.checkForStdVarDuplicates;
                    	}
                    }
                });
            };

            $scope.computeButtonLabel = function (header) {
                if (header.variable) {
                    return 'Re-map';
                } else {
                    return 'Apply Mapping';
                }
            };

            $scope.performValidateHeaderMapping = function() {
                // clear error highlights
                $.each($scope.mappingdata, function(key, variableArray){
                    $.each(variableArray, function(key,variable){
                        variable.hasError = false;
                    });
                });

                $scope.unmappedPresent = false;

                $scope.userAttemptedSubmission = true;
                
                $scope.serverMessages = [];

                var postData = $scope.mappingdata.germplasm.concat($scope.mappingdata.trialDesign).
                        concat($scope.mappingdata.trialEnvironment).concat($scope.mappingdata.variate);

                myHttp.post(APPLICATION_BASE + '/workbook/mapOntology', postData).then(function(response) {
                    $scope.previewMode = true;

                    // this iterates over
                    $.each(response.data, function(key, messageList) {
                        $.each(messageList, function(index, value) {
                        	if($.inArray(value, $scope.serverMessages) == -1){
                            	$scope.serverMessages.push(value);
                        	}
                        });

                        if (key == 'MISSING_TRIAL') {
                            $scope.missingTrial = true;
                        } else if (key.indexOf("MISSING") != -1) {
                            $scope.missingEntryOrPlot = true;
                        } else {

                            // implement logic to display message / error for specific header
                            // NOTE : key in this case will contain the name of the specific header with problem

                            var headerKey = key;

                            $.each($scope.mappingdata, function(key, variableArray){
                                $.each(variableArray, function(key, variable){

                                    if (variable.id == headerKey.split(':')[1]){
                                        variable.hasError = true;
                                    }
                                });

                            });
                        }
                    });

                    if ($scope.serverMessages.length != 0){
                        $scope.hasErrors = true;
                    }

                    $scope.userAttemptedSubmission = false;
                }, function(response) {
                    // implement error handling logic in case of communication problem with server
                    $scope.userAttemptedSubmission = false;
                });

                if ($scope.hasUnmappedItems()) {
                    $scope.unmappedPresent = true;
                }
            };


            // returns to edit mode
            $scope.performRedoHeaderMapping = function() {

                $scope.previewMode = false;
                $scope.hasErrors = false;

            };

            //
            // Do the uploading of header mapping (ASSUMES EVERYTHING IS VALIDATED)
            //
            $scope.performSaveOntologyHeaderMapping = function() {
                $scope.serverMessages = [];

                var postData = $scope.mappingdata.germplasm.concat($scope.mappingdata.trialDesign).
                        concat($scope.mappingdata.trialEnvironment).concat($scope.mappingdata.variate);

                myHttp.post(APPLICATION_BASE + "/workbook/mapOntology/confirm", postData).then(function(response) {
                    if (response.data.success) {
                        window.location.href = response.data.redirectUrl;
                    } else {
                        if (response.data.messages) {
                            $scope.serverMessages.push(response.data.messages);
                            if ($scope.serverMessages.length != 0){
                                $scope.hasErrors = true;
                            }
                        }
                    }
                }, function(response) {
                    alert('Problem occurred while sending to server');
                });

            };

            $scope.retrieveMappingData = function (phenotypicType) {
                if (phenotypicType === 'trialEnvironment') {
                    return $scope.mappingdata.trialEnvironment;
                } else if (phenotypicType === 'trialDesign') {
                    return $scope.mappingdata.trialDesign;
                } else if (phenotypicType === 'variate') {
                    return $scope.mappingdata.variate;
                } else if (phenotypicType === 'germplasmEntry') {
                    return $scope.mappingdata.germplasm;
                }
            };

            $scope.performChangePhenotypicMapping = function (currentHeader, targetType) {
                var currentPhenoMap = $scope.retrieveMappingData(currentHeader.phenotype);
                var targetPhenoMap = $scope.retrieveMappingData(targetType);

                Utilities.remove(currentPhenoMap, currentHeader);
                targetPhenoMap.push(currentHeader);
               
            };

            $scope.hasUnmappedItems = function() {
                var counter = 0;

                if ($scope.mappingdata.unmatched.length > 0) {
                    return true;
                } else {

                    $.each($scope.mappingdata, function (phenotypicType, typeMapping) {
                        $.each(typeMapping, function (name, variable) {
                            if (!variable.id || variable.id === 0) {
                                counter++;
                            }
                        })
                    });

                    return counter > 0;
                }
            };
            
            
            $scope.checkForStdVarDuplicates = function (variableId, phenotype) {
               
                var targetPhenoMap = $scope.retrieveMappingData(phenotype);
				
                //count the headers with duplicate variableId
                var counter = 0;
                $.each(targetPhenoMap, function(key, variable){
                    if (variable.id === variableId){
                    	counter++;
                    }
                });

                //remove the error highlight if there are no headers with duplicate variableId 
                $.each(targetPhenoMap, function(key, variable){
                    if (variable.id === variableId && counter == 2){
                    	variable.hasError = false;
                    }
                });
               
            };

            $scope.getOntologySuffix = function(id){
                if (id === null || typeof id === 'undefined' || id === "") return "";
                return "";
            };

        }])
        .controller('OntologyBrowserController', ['$scope', '$modalInstance', 'title', 'url',
            function ($scope, $modalInstance, title, url) {
                $scope.title = title;
                $scope.url = url;
                $scope.close = function () {
                    $modalInstance.dismiss('Cancelled');
                };

            }])
        .controller('RemapModalController', ['StandardVariables','$scope', '$modalInstance', 'currentHeader', 'changeMappingFunction','checkForStdVarDuplicatesFunction', 'filterFilter', '$modal','FIELDBOOK_WEB_LINK',
            function (StandardVariables,$scope, $modalInstance, currentHeader, changeMappingFunction, checkForStdVarDuplicatesFunction ,filterFilter, $modal,FIELDBOOK_WEB_LINK) {
                // store the current header / mapping in a variable local to the scope
                $scope.initialData = currentHeader;
                $scope.messages = [];
                $scope.data = StandardVariables.data;
                $scope.roleList = [[${roleList}]];

                $scope.userAttemptedSubmission = false;


                // pre populate the selected using values from the passed in parameters.
                $scope.selected = {phenotypicType: currentHeader.phenotype, standardVariable: currentHeader.id};

                // use filter provided by Angular to provide initial filtering of standard variable list
                $scope.data.filteredList = filterFilter($scope.data.standardVariables, {phenotype : $scope.selected.phenotypicType});

                // create and maintain a variable keeping track of user submission attempts. used to control when to display error messages to user
                $scope.userAttemptedSubmission = false;

                $scope.close = function () {
                    $modalInstance.dismiss('Cancelled');
                };

                $scope.standardVariableDropdownOptions = {
                    data : function() { return {results : $scope.data.filteredList}},
                    initSelection : function(element, callback) { callback($scope.initialData); },
                    formatSelection : function(item) { return item.variable},
                    formatResult : function(item, container, query) { return $scope.format(item, query)},
                    query : function(options) { return $scope.filterStandardVariables(options)}
                };

                // TODO: NOTE, move the stylings in external CSS later
                $scope.format = function(item, query) {
                    var output =  '<span style="font-size: 14pt; font-weight: 300" class="text-info">' + $scope.highlightQueryMatch(item.variable, query.term) + '</span>';
                    output += '<small class=\"text-info\">' + $scope.getOntologySuffix(item.id) + '</small>';
                    output += '<div>';
                    output += '<strong>Property :</strong> ' + $scope.highlightQueryMatch(item.property, query.term);
                    output += '<small class=\"text-info\">' + $scope.getOntologySuffix(item.propertyId) + '</small>, ';
                    output += '<strong>Scale :</strong> ' + $scope.highlightQueryMatch(item.scale, query.term);
                    output += '<small class=\"text-info\">' + $scope.getOntologySuffix(item.scaleId) + '</small>, ';
                    output += '<strong>Method :</strong> ' + $scope.highlightQueryMatch(item.method, query.term);
                    output += '<small class=\"text-info\">' + $scope.getOntologySuffix(item.methodId) + '</small> ';
                    output += '</div>';

                    return output;
                };

                $scope.getOntologySuffix = function(id){
                    if (id === null || typeof id === 'undefined' || id === "") return "";
                    return "";
                };

                $scope.highlightQueryMatch = function(value, searchTerm) {
                    var index = value.toLowerCase().indexOf(searchTerm.toLowerCase());
                    if (index != -1) {
                        return value.slice(0, index) + '<b>' + value.slice(index, index + searchTerm.length) + '</b>' + value.slice(index + searchTerm.length);
                    } else {
                        return value;
                    }
                };


                $scope.filterStandardVariables = function(options) {

                    var resultList = [];
                    var searchTerm = options.term.toLowerCase();

                    $.each($scope.data.filteredList, function(index, value) {
                        if (value.variable.toLowerCase().indexOf(searchTerm) != -1) {
                            resultList.push(value);
                        } else if (value.property.toLowerCase().indexOf(searchTerm) != -1) {
                            resultList.push(value);
                        } else if (value.scale.toLowerCase().indexOf(searchTerm) != -1) {
                            resultList.push(value);
                        } else if (value.method.toLowerCase().indexOf(searchTerm) != -1) {
                            resultList.push(value);
                        }
                    });

                    options.callback({results : resultList, more : false});
                };

                $scope.handlePhenotypeChange = function() {
                    // re-evaluate contents of filtered list
                    $scope.data.filteredList = filterFilter($scope.data.standardVariables, {phenotype : $scope.selected.phenotypicType});
                    $scope.selected.standardVariable = null;
                };

                $scope.save = function () {
                    $scope.userAttemptedSubmission = true;

                    if ($scope.isValid()) {
                        $scope.changePhenotypicMapping();
                        $scope.changeStandardVariableMapping();

                        $scope.clearCurrentSubmissionAttempt();
                        $modalInstance.close($scope.initialData);
                    }
                };

                $scope.clearCurrentSubmissionAttempt = function () {
                    $scope.userAttemptedSubmission = false;
                    $scope.messages = [];
                };

                $scope.isValid = function () {
                    var valid = true;

                    if (!$scope.selected.phenotypicType) {
                        valid = false;
                        $scope.messages.push([[#{header.mapping.validation.no.phenotypic.type}]]);
                    }

                    // added check to handle case where selected variabled is "blanked" when header is remapped to different group
                    if (!$scope.selected.standardVariable || !$scope.selected.standardVariable.id) {
                        valid = false;
                        $scope.messages.push([[#{header.mapping.validation.no.standard.variable}]]);
                    }

                    return valid;
                };

                $scope.changePhenotypicMapping = function () {
                    if ($scope.initialData.phenotype !== $scope.selected.phenotypicType) {
                        changeMappingFunction($scope.initialData, $scope.selected.phenotypicType);
                    }
                };

                $scope.changeStandardVariableMapping = function () {
                    var temp = $scope.initialData.headerName;
                    
                    var oldMappingId = $scope.initialData.id;
                    var oldMappingPhenotype = $scope.initialData.phenotype;
                    var oldMappingHasError = $scope.initialData.hasError;
                    
                    if ($scope.selected.standardVariable.id !== oldMappingId){
                    	checkForStdVarDuplicatesFunction(oldMappingId, oldMappingPhenotype);
                    }
                    
                    $.extend($scope.initialData, $scope.selected.standardVariable);
                    $scope.initialData.headerName = temp;
                    
                    if ($scope.initialData.id === oldMappingId){
                    	$scope.initialData.hasError = oldMappingHasError;
                    }
                    
                    
                };

                $scope.showError = function (ngModelController) {
                    return ngModelController.$invalid && $scope.userAttemptedSubmission;
                };

                // ONTOLOGY INTEGRATION CALLBACKS
                $scope.performOntologyVariableUpdate = function (standardVariable) {
                    //console.log ("IM HERE>> $scope.performOntologyVariableUpdate");

                    if (standardVariable === undefined || standardVariable.status === undefined) return;
                    switch(standardVariable.status) {
                        case "ADD":
                            standardVariable.phenotype = $scope.getPhenotypeByStoredinID(standardVariable.storedInId);
                            StandardVariables.add(standardVariable);
                            $scope.data.filteredList = filterFilter($scope.data.standardVariables, {phenotype : $scope.selected.phenotypicType});
                            $scope.selected.phenotypicType = standardVariable.phenotype;
                            $scope.selected.standardVariable = standardVariable;
                            break;
                        case "UPDATE":
                            StandardVariables.update(standardVariable);
                            standardVariable.phenotype = $scope.getPhenotypeByStoredinID(standardVariable.storedInId);
                            $scope.selected.standardVariable = null;
                            $scope.data.filteredList = filterFilter($scope.data.standardVariables, {phenotype : $scope.selected.phenotypicType});
                            $scope.selected.phenotypicType = standardVariable.phenotype;
                            $scope.selected.standardVariable = standardVariable;
                            break;
                        case "DELETE":
                            StandardVariables.remove(standardVariable);
                            $scope.data.filteredList = filterFilter($scope.data.standardVariables, {phenotype : $scope.selected.phenotypicType});
                            $scope.selected.standardVariable = null;
                            break;
                    }

                    // attempt to close modal dialog if exists. this will error otherwise
                    try { $scope.ontologyManageVarModalInstance.close(); }
                    catch(err) {/* don't care hmmph.. */}
                };

                $scope.launchOntologyBrowser = function (variableId) {

                    var title =  variableId === 0 ? "Add new Standard Variable" : "Update <span class='text-primary'>"+ $scope.selected.standardVariable.variable +"</span> Variable";
                    var url = FIELDBOOK_WEB_LINK + "/OntologyManager/manage/variable/id/"+variableId; //TODO: hardcoded urls must be moved to the server side and added as tool
                    $scope.ontologyManageVarModalInstance = $modal.open({
                        windowClass: 'modal-very-huge',
                        templateUrl: 'ontologyBrowser.html',
                        controller: 'OntologyBrowserController',
                        resolve: {
                            title: function () {
                                return title;
                            },

                            url: function () {
                                return url;
                            }
                        }
                    });
                };

                $scope.getPhenotypeByStoredinID = function(id){
                    var phenotype = null;

                    $.each($scope.roleList, function (key, value){

                        if (value.indexOf(parseInt(id)) !== -1){

                            switch(key){
                                case "TRIAL_DESIGN": phenotype = "trialDesign"; break;
                                case "GERMPLASM": phenotype = "germplasmEntry" ; break;
                                case "VARIATE": phenotype = "variate"; break;
                                case "TRIAL_ENVIRONMENT": phenotype = "trialEnvironment"; break;
                            }
                            return false;
                        }

                    });

                    return phenotype;

                }

            }])
        .factory('StandardVariables', ['resourceFactory','localStorageService','$q', function (resourceFactory,localStorageService,$q) {
        	var datasetType = [[${datasetType}]];
        	var cachedStandardVariablesName = 'cachedStandardVariables' + datasetType;
            return {
                data : {
                    standardVariables : [],

                    // define the possible values for phenotypic type. See AppConstants.java for values
                    phenotypicTypes : [
                        {name: 'Trial Environment', value: 'trialEnvironment'},
                        {name: 'Germplasm Entry', value: 'germplasmEntry'},
                        {name: 'Trial Design', value: 'trialDesign'},
                        {name: 'Variate', value: 'variate'}
                    ]
                },

                retrieveAll : function() {
                    // this fxn always returns a promise
                    var deferred = $q.defer();
                    var myData = this.data;

                    if (this.data.standardVariables.length == 0 ) {

                        this.data.standardVariables = localStorageService.get(cachedStandardVariablesName);

                        if (this.data.standardVariables == null || this.data.standardVariables.length == 0) {
                            resourceFactory("api/standardVariable/datasetType/"+datasetType).retrieveAll().then(function(response) {
                                myData.standardVariables = response;
                                localStorageService.add(cachedStandardVariablesName,response);

                                deferred.resolve(response);
                            });
                        } else
                            deferred.resolve(this.data);
                    } else
                        deferred.resolve(this.data);

                    return deferred.promise;

                },

                add : function(standardVariable) {
                    this.data.standardVariables.push(standardVariable);
                    localStorageService.add(cachedStandardVariablesName,this.data.standardVariables);
                },

                update : function(standardVariable) {

                    var index = (function (obj,arr) {
                        for (var i = 0; i < arr.length; i++) {
                            if (arr[i].id === obj.id)
                                return i;
                        }

                        return null;
                    }(standardVariable,this.data.standardVariables));

                    $.extend(this.data.standardVariables[index], standardVariable);
                    localStorageService.add(cachedStandardVariablesName,this.data.standardVariables);



                },

                remove : function(standardVariable) {

                    var index = (function (obj,arr) {
                        for (var i = 0; i < arr.length; i++) {
                            if (arr[i].id === obj.id)
                                return i;
                        }

                        return null;
                    }(standardVariable,this.data.standardVariables));

                    if (index != null)
                        this.data.standardVariables.splice(index,1);

                    localStorageService.add(cachedStandardVariablesName,this.data.standardVariables);
                }
            }
        }]);


//]]>
</script>
</div>

</body>
</html>
