<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="etl/base-template"
      ng-app="di-mapHeaders">
<head>
    <title th:inline="text">[[#{page.title.define.variables}]]</title>
    
    
    <script type='text/javascript' th:inline="javascript">
		var applicationBase = /*[[${applicationBase}]]*/ '';
		var fieldbookWebLink = /*[[${fieldbookWebLink}]]*/ '';
		var headerList = /*[[${headerList}]]*/ '';
		var trialEnvironmentList = /*[[${trialEnvironmentList}]]*/ '';
		var germplasmList = /*[[${germplasmList}]]*/ '';
		var trialDesignList = /*[[${trialDesignList}]]*/ '';
		var variateList = /*[[${variateList}]]*/ '';
		var roleList = /*[[${roleList}]]*/ '';
		var dsType = /*[[${datasetType}]]*/ '';
		var errorUnmappedVariables = /*[[#{error.unmapped.variables}]]*/ '';
		var headerMappingValidationNoPhenotypicType = /*[[#{header.mapping.validation.no.phenotypic.type}]]*/ '';
		var headerMappingValidationNoStandardVariable = /*[[#{header.mapping.validation.no.standard.variable}]]*/ '';
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{/static/js/html5shiv.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/respond.min.js}" type="text/javascript"></script>

    <script>
        // The ieshiv takes care of our ui.directives, bootstrap module directives and
        // AngularJS's ng-view, ng-include, ng-pluralize and ng-switch directives.
        // However, IF you have custom directives (yours or someone else's) then
        // enumerate the list of tags in window.myCustomTags

        window.myCustomTags = [ 'resizableaffix', 'pageNotification' ]; // optional
    </script>

    <script th:src="@{/static/js/angular-ui-ieshiv.min.js}" type="text/javascript"></script>

    <![endif]-->

    <link th:href="@{/static/css/map-headers-page.css}" rel="stylesheet" media="screen"/>


    <style type="text/css">
        section { display: none; }

        .ie8 .affix {
            position: static !important;
        }

        .ie8 .modal-dialog {
            width: 95% !important;
        }

    </style>
</head>

<body>
<section layout:fragment="content" ng:controller="MapHeadersJSController" ng:class="{'show' : isReady}">
<div class="content-header">
    <h2>Map Headers to Standard Variable</h2>
    <div>
        <h6>Drag and drop headers from the left panel to the right panel to group them on their corresponding panels and apply Standard Variable mapping on it.</h6>
        <h6>You can re-map headers that already have Standard Variables mapped to them.</h6>
        <h6>Click the Save Mapping button to preview and apply the mappings.</h6>
    </div>

</div>




<div class="alert alert-info" style="display:none" toggle="isReady" page-notification="">
    <h2>We found <b class="text-danger"><span th:text="${allocatedCount}"></span></b> out of <b class="text-danger"><span th:text="${totalHeaderCount}"></span></b> headers that matches to the available Standard
        Variables. Please review the results here.</h2>
</div>

<div resizableaffix="" parent=".main-content"  ng:style="{width: myWidth}" class="row toolbar-affix affix-top" data-offset-top="262" data-spy="affix" style="margin-bottom: 10px">
    <div class="col-md-12">
        <div class="btn-toolbar pull-left" style="padding-bottom: 10px">
            <a th:href="@{step2}" class="btn btn-default btn-lg" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Study Details</a>
            <button class="btn btn-primary btn-lg" type="button" ng:show="!previewMode" ng:click="performValidateHeaderMapping()" ng:disabled="userAttemptedSubmission"><span class="glyphicon glyphicon-floppy-open"></span> Save Mapping</button>
            <button class="btn btn-info btn-lg" type="button" ng:show="previewMode &amp;&amp; !hasErrors" ng:click="performRedoHeaderMapping()"><span class="glyphicon glyphicon-repeat"></span> Re-do Mapping</button>
        </div>

        <div ng:show="!previewMode" class="btn-toolbar pull-right">
            <button class="btn btn-info" type="button" ng:click="launchOntologyBrowser()"><span class="glyphicon glyphicon-share-alt"></span> Manage Variables in Ontology Browser</button>
        </div>
    </div>

    <div class="col-xs-12 col-md-12">
        <label  class="control-label">
            <span ng:show="advancedOptions.showAdvancedOptions" ng:click="toggleAdvancedOptions()"><img  th:src="@{/static/img/expanded-arrow.png}" /></span>
            <span ng:show="!advancedOptions.showAdvancedOptions" ng:click="toggleAdvancedOptions()"><img th:src="@{/static/img/collapsed-arrow.png}" /></span>
            <strong class="sub-content-heading" ng:click="toggleAdvancedOptions()" th:text="#{dataset.importer.advanced.options}">Advanced Options</strong>
        </label>
    </div>
    <div class="col-md-12 col-xs-12" ng:show="advancedOptions.showAdvancedOptions">
        <div class="col-md-6" style="margin-left: 10px" >
            <div class="checkbox-inline">
                <label><input type="checkbox" ng:model="advancedOptions.maintainHeaderNaming" th:text="#{dataset.importer.maintain.naming}"/></label>
            </div>
        </div>
    </div>
</div>

<div class="row" style="position: relative; min-height: 900px">

    <!-- unmapped -->
    <div class="col-md-4 unmapped-col" ng:class="{'preview' : previewMode}">

        <!-- adding a div container element on the panel as the affix rips it off on trigger -->
        <div resizableaffix="" parent=".unmapped-col"  ng:show="!previewMode" class="panel panel-danger unmapped-panel-affix affix-top" data-spy="affix" data-offset-top="262" data-offset-bottom="220">
            <div class="panel-heading"><b class="panel-title">Un-Mapped <span class="badge-danger counter" style="float:right">{{mappingdata.unmatched.length}}</span></b>
            </div>
            <div class="unmapped list-group" ui-multi-sortable="" ui-options="uiSortOpts" ng:model="mappingdata" model-subset="unmatched">
                <div class="list-group-item" ng:repeat="header in mappingdata.unmatched">
                    <h4>{{header.headerName}}</h4>
                </div>
            </div>
        </div>


        <!-- THIS IS WHERE MESSAGES WILL SHOW ON PREVIEW (ERROR OR NOT)  -->
        <div resizableaffix="" parent=".unmapped-col" ng:show="previewMode &amp;&amp; !hasErrors" style="padding:0" class="alert alert-success unmapped-panel-affix affix-top" data-offset-top="262" data-offset-bottom="220" data-spy="affix">
            <div style="padding:15px">
                <h1>No problems were found!</h1>
                <div class="btn btn-primary btn-lg btn-action" ng:click="performSaveOntologyHeaderMapping()"><span class="glyphicon glyphicon-ok"></span> Confirm Header Mapping</div>
            </div>
        </div>

        <div resizableaffix="" parent=".unmapped-col" ng:show="previewMode &amp;&amp; hasErrors" style="padding:0" class="alert alert-danger unmapped-panel-affix affix-top" data-offset-top="262" data-offset-bottom="220" data-spy="affix">
            <div style="padding:15px">
                <h3>We have found problems in your current mapping please review the errors and try again.</h3>
                <ul ng:repeat="error in serverMessages">
                    <li ng:bind="error">{{error.message}}</li>
                </ul>
                <p>&nbsp;</p>
                <p ng:show="missingEntryOrPlot">
                    These are critical errors and would be best resolved by updating the input file with the required entries. Click <a th:href="@{reupload}">here</a> to go to a page where you can re upload the corrected file.
                </p>

                <p ng:show="missingEntryOrPlot &amp;&amp; unmappedPresent">
                    You can also double check your mappings as there are headers left unmapped. You can do so by clicking on the button below.
                </p>
                <div class="btn btn-danger btn-lg btn-action" ng:show="!missingEntryOrPlot || unmappedPresent" ng:click="performRedoHeaderMapping()"><span class="glyphicon glyphicon-repeat"></span> Re-do Header Mapping</div>

            </div>
        </div>

    </div>

    <!-- mapped -->
    <div class="col-md-8 mapped-col" ng:class="{'preview' : previewMode}">

        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading"><b class="panel-title"><a data-toggle="collapse" href="#collapseOne">Trial Environment Group</a>
                    <span class="badge-info counter" style="float:right">{{mappingdata.trialEnvironment.length}}</span></b>
                </div>

                <div class="panel-collapse collapse in list-group" id="collapseOne" ui-multi-sortable="" ui-options="uiSortOptsExt" ng:model="mappingdata" data-phenotype="trialEnvironment" model-subset="trialEnvironment">
                    <div class="list-group-item" ng:class="{'list-group-item-danger' : header.hasError}" ng:repeat="header in mappingdata.trialEnvironment" data-empty="{{previewMode}}">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="list-group-item-heading pull-left">{{header.headerName}} <span class="glyphicon glyphicon-arrow-right"></span> {{header.variable}} <small class="text-info">{{getOntologySuffix(header.id)}}</small></h3>
                                <a class="btn btn-xs pull-right"  ng:click="performRemap(header, 'trialEnvironment')" ng:show="!previewMode" ng:class="{'btn-info' : header.variable &amp;&amp; !header.hasError, 'btn-danger' : !header.variable || header.hasError}" ><span ng:class="{'glyphicon glyphicon-link' : header.variable &amp;&amp; !header.hasError, 'fa fa-warning' : !header.variable || header.hasError}"></span>&nbsp;<span ng:bind="computeButtonLabel(header)">Re-map</span></a>
                            </div>
                        </div>
                        <div class="row list-group-item-text">
                            <div class="col-sm-4">
                                <b>Property: </b> {{header.property}} <small class="text-info">{{getOntologySuffix(header.propertyId)}}</small>
                            </div>
                            <div class="col-sm-4">
                                <b>Scale: </b> {{header.scale}} <small class="text-info">{{getOntologySuffix(header.scaleId)}}</small>
                            </div>
                            <div class="col-sm-4">
                                <b>Method: </b>{{header.method}} <small class="text-info">{{getOntologySuffix(header.methodId)}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading"><b class="panel-title"><a data-toggle="collapse" href="#collapseTwo">Germplasm Entry Group</a>
                    <span class="badge-info counter" style="float:right">{{mappingdata.germplasm.length}}</span></b>
                </div>
                <div class="panel-collapse collapse in list-group" id="collapseTwo" ui-multi-sortable="" ui-options="uiSortOptsExt" ng:model="mappingdata" data-phenotype="germplasmEntry" model-subset="germplasm">
                    <div class="list-group-item" ng:class="{'list-group-item-danger' : header.hasError}" ng:repeat="header in mappingdata.germplasm" data-empty="{{previewMode}}">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="list-group-item-heading pull-left">{{header.headerName}} <span class="glyphicon glyphicon-arrow-right"></span> {{header.variable}} <small class="text-info">{{getOntologySuffix(header.id)}}</small></h3>
                                <a class="btn btn-primary btn-xs pull-right" ng:show="!previewMode" ng:click="performRemap(header, 'germplasmEntry')" ng:class="{'btn-info' : header.variable &amp;&amp; !header.hasError, 'btn-danger' : !header.variable || header.hasError}" ><span ng:class="{'glyphicon glyphicon-link' : header.variable &amp;&amp; !header.hasError, 'fa fa-warning' : !header.variable || header.hasError}"></span>&nbsp;<span ng:bind="computeButtonLabel(header)">Re-map</span></a>
                            </div>
                        </div>
                        <div class="row list-group-item-text">
                            <div class="col-sm-4">
                                <b>Property: </b> {{header.property}} <small class="text-info">{{getOntologySuffix(header.propertyId)}}</small>
                            </div>
                            <div class="col-sm-4">
                                <b>Scale: </b> {{header.scale}} <small class="text-info">{{getOntologySuffix(header.scaleId)}}</small>
                            </div>
                            <div class="col-sm-4">
                                <b>Method: </b>{{header.method}} <small class="text-info">{{getOntologySuffix(header.methodId)}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <b class="panel-title">
                        <a data-toggle="collapse" href="#collapseThree">Trial Design Group</a>
                        <span class="badge-info counter" style="float:right">{{mappingdata.trialDesign.length}}</span>
                    </b>
                </div>
                <div class="panel-collapse collapse in list-group" id="collapseThree" ui-multi-sortable="" ui-options="uiSortOptsExt" ng:model="mappingdata" data-phenotype="trialDesign" model-subset="trialDesign">
                    <div class="list-group-item" ng:class="{'list-group-item-danger' : header.hasError}" ng:repeat="header in mappingdata.trialDesign" data-empty="{{previewMode}}">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="list-group-item-heading pull-left">{{header.headerName}} <span class="glyphicon glyphicon-arrow-right"></span> {{header.variable}} <small class="text-info">{{getOntologySuffix(header.id)}}</small></h3>
                                <a class="btn btn-primary btn-xs pull-right" ng:show="!previewMode" ng:click="performRemap(header, 'trialDesign')" ng:class="{'btn-info' : header.variable &amp;&amp; !header.hasError, 'btn-danger' : !header.variable || header.hasError}" ><span ng:class="{'glyphicon glyphicon-link' : header.variable &amp;&amp; !header.hasError, 'fa fa-warning' : !header.variable || header.hasError}"></span>&nbsp;<span ng:bind="computeButtonLabel(header)">Re-map</span></a>
                            </div>
                        </div>
                        <div class="row list-group-item-text">
                            <div class="col-sm-4">
                                <b>Property: </b> {{header.property}} <small class="text-info">{{getOntologySuffix(header.propertyId)}}</small>
                            </div>
                            <div class="col-sm-4">
                                <b>Scale: </b> {{header.scale}} <small class="text-info">{{getOntologySuffix(header.scaleId)}}</small>
                            </div>
                            <div class="col-sm-4">
                                <b>Method: </b>{{header.method}} <small class="text-info">{{getOntologySuffix(header.methodId)}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <b class="panel-title">
                        <a data-toggle="collapse" href="#collapseFour">Variate Group</a>
                        <span class="badge-info counter" style="float:right">{{mappingdata.variate.length}}</span>
                    </b>
                </div>
                <div class="panel-collapse collapse in list-group" id="collapseFour" ui-multi-sortable="" ui-options="uiSortOptsExt" ng:model="mappingdata" data-phenotype="variate" model-subset="variate">
                    <div class="list-group-item" ng:class="{'list-group-item-danger' : header.hasError }" ng:repeat="header in mappingdata.variate" data-empty="{{previewMode}}">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="list-group-item-heading pull-left">{{header.headerName}} <span class="glyphicon glyphicon-arrow-right"></span> {{header.variable}} <small class="text-info">{{getOntologySuffix(header.id)}}</small></h3>
                                <a class="btn btn-primary btn-xs pull-right" ng:show="!previewMode" ng:click="performRemap(header, 'variate')" ng:class="{'btn-info' : header.variable &amp;&amp; !header.hasError, 'btn-danger' : !header.variable || header.hasError}" ><span ng:class="{'glyphicon glyphicon-link' : header.variable &amp;&amp; !header.hasError, 'fa fa-warning' : !header.variable || header.hasError}"></span>&nbsp;<span ng:bind="computeButtonLabel(header)">Re-map</span></a>
                            </div>
                        </div>
                        <div class="row list-group-item-text">
                            <div class="col-sm-4">
                                <b>Property: </b> {{header.property}} <small class="text-info">{{getOntologySuffix(header.propertyId)}}</small>
                            </div>
                            <div class="col-sm-4">
                                <b>Scale: </b> {{header.scale}} <small class="text-info">{{getOntologySuffix(header.scaleId)}}</small>
                            </div>
                            <div class="col-sm-4">
                                <b>Method: </b>{{header.method}} <small class="text-info">{{getOntologySuffix(header.methodId)}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/ng-template" id="remapModal.html">

    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng:click="close()"><span class="glyphicon glyphicon-remove"></span></button>
        <h3 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-link"></span>&nbsp;Re-map <span class="text-primary">{{initialData.headerName}}</span> to a different Standard Variable</h3>
    </div>

    <div class="modal-body">
        <div ng:repeat="message in messages" id="message-div">
            <div class="alert alert-danger" ng:bind="message"></div>
        </div>

        <form role="form" name="mappingForm" id="mappingForm">
            
            <div class="row">
                <div class="col-md-8">

                    <div class="form-group">
                        <label for="standardVar">Select a Variable Group</label>
                        <select
                                class="form-control"
                                id="phenotypicTypeList"
                                name="phenotypicTypeList"
                                ui-select2=""
                                ng:model="selected.phenotypicType"
                                ng:change="handlePhenotypeChange()">
                            <option ng:repeat="type in data.phenotypicTypes" ng:value="type.value">{{type.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="standardVar">Search and Select a Standard Variable <br/><small style="font-weight: 400">You can search by <em>Standard Variable</em> name as well as by <em>Property, Scale or Method</em>.</small></label>
                        <input type="hidden"
                               class="form-control"
                               id="standardVariables"
                               name="standardVariables"
                               ui-select2="standardVariableDropdownOptions"
                               ng:model="selected.standardVariable"/>
                        <!--<option ng:repeat="var in data.standardVariablesList | filter:{phenotype : selected.phenotypicType}:true" ng:value="var.id">{{var.variable}}</option>-->
                        <!--</select>-->
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="well" ng:show="selected.standardVariable.variable != null">
                        <div class="psm-group">
                            <h6 class="sv-subtitle">Standard Variable</h6>
                            <h1 class="sv-title">{{selected.standardVariable.variable}} <small class="text-info">{{getOntologySuffix(selected.standardVariable.id).toUpperCase()}}</small></h1>
                            <p class="sv-desc">{{selected.standardVariable.description}}</p>
                        </div>
                        <div class="psm-group">
                            <h6 class="psm-subtitle">Property</h6>
                            <h2 class="psm-title">{{selected.standardVariable.property}} <small class="text-info">{{getOntologySuffix(selected.standardVariable.propertyId)}}</small></h2>
                            <p class="psm-desc" style="font-size: 8pt">{{selected.standardVariable.propertyDescription}}</p>
                        </div>
                        <div class="psm-group">
                            <h6 class="psm-subtitle">Scale</h6>
                            <h2 class="psm-title">{{selected.standardVariable.scale}} <small class="text-info">{{getOntologySuffix(selected.standardVariable.scaleId)}}</small></h2>
                            <p class="psm-desc">{{selected.standardVariable.scaleDescription}}</p>
                        </div>

                        <div class="psm-group">
                            <h6 class="psm-subtitle">Method</h6>
                            <h2 class="psm-title">{{selected.standardVariable.method}} <small class="text-info">{{getOntologySuffix(selected.standardVariable.methodId)}}</small></h2>
                            <p class="psm-desc">{{selected.standardVariable.methodDescription}}</p>
                        </div>
                    </div>

                </div>

            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng:click="close()">Cancel</button>
        <button type="button" class="btn btn-primary" ng:click="save()"><span class="glyphicon glyphicon-ok"></span> Apply Mapping</button>
    </div>

</script>

<script type="text/ng-template" id="ontologyBrowser.html">

    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng:click="close()"><span class="glyphicon glyphicon-remove"></span></button>
        <h3 class="modal-title" id="ontologyLabel" ng:bind-html-unsafe="title"></h3>
    </div>

    <div class="modal-body">
        <iframe src="{{url}}" width="100%" height="750px" frameBorder="0"></iframe>
    </div>

</script>

</section>
<!-- end container-->

<div layout:fragment="page-script">
<script type="text/javascript" th:src="@{/static/js/jquery-ui-1.10.3.custom.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/select2.js}"></script>

<script type="text/javascript" th:src="@{/static/js/bootstrap-fileupload.js}"></script>
<script type="text/javascript" th:src="@{/static/js/angular/angular1.0.8.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/angular-bootstrap3/ui-bootstrap-tpls-0.6.0-SNAPSHOT.js}"></script>
<script type="text/javascript" th:src="@{/static/js/angular/angular-select2.js}"></script>
<script type="text/javascript" th:src="@{/static/js/angular/angular-local-storage.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/angular/sortable.js}"></script>
<script type="text/javascript" th:src="@{/static/js/angular/multiSortable.js}"></script>
<script type="text/javascript" th:src="@{/dynamic/js/digitalabs-utils.js}"></script>
<script type="text/javascript" th:src="@{/dynamic/js/digitalabs-data.js}"></script>

<!--
 <script type="text/javascript" src="http://fabien-d.github.io/alertify.js/0.4.0rc1/alertify/alertify.min.js"></script>
 -->


<!--
    Ontology Browser Integration notes:

    1. URL When browser is access, button should not be displayed
    http://localhost:8080/Fieldbook/OntologyBrowser/popup
    2. http://localhost:8080/Fieldbook/OntologyManager/manage/variable/id/
    {variableId}
-->
    <script type="text/javascript" th:src="@{/static/js/importDataset/importDatasetOntology.js}"></script>

</div>

</body>
</html>
