
    <div class="add_top_padding">
        <label class=" control-label"><strong>Number of replications:</strong></label>
        <span><input ng-model="currentDesignType.data.replicationsCount" type="text" valid-number="" class="form-control" style="width: 100px"/></span>
    </div>
    <div class="add_top_padding">
        <label class=" control-label"><strong>Number of rows in replications:</strong></label>
        <span><input ng-model="currentDesignType.data.rowsPerReplications" type="text" valid-number="" class="form-control" style="width: 100px"/> <span class="glyphicon glyphicon-question-sign"></span></span>
    </div>
    <div class="add_top_padding">
        <label class=" control-label"><strong>Number of columns in replications:</strong></label>
        <span><input ng-model="currentDesignType.data.colsPerReplications" type="text" valid-number="" class="form-control" style="width: 100px"/> <span class="glyphicon glyphicon-question-sign"></span></span>
    </div>

<div ng-show="currentDesignType.data.isResolvable &amp;&amp; !hideFeatures">
    <div ng-hide="currentDesignType.showAdvancedOptions" class="add_top_padding">
        <a ng-click="currentDesignType.showAdvancedOptions = true">Show Advanced Options</a>
    </div>

    <div ng-show="currentDesignType.showAdvancedOptions">

        <div class="add_top_padding">
            <label class=" control-label"><strong>Number of contiguous rows to latinize:</strong></label>
            <span><input ng-model="currentDesignType.data.nrlatin" type="text" valid-number="" class="form-control" style="width: 100px"/> <span class="glyphicon glyphicon-question-sign"></span></span>
        </div>
        <div class="add_top_padding">
            <label class=" control-label"><strong>Number of contiguous columns to latinize:</strong></label>
            <span><input ng-model="currentDesignType.data.nclatin" type="text" valid-number="" class="form-control" style="width: 100px"/> <span class="glyphicon glyphicon-question-sign"></span></span>
        </div>

        <div class="add_top_padding">
            <label class=" control-label"><strong>How are the replications to be arranged in the field?</strong></label>
            <span class="">
                <select ui-select2="{minimumResultsForSearch: 10}" style="width: 300px !important;" class="form-control" ng-model="currentDesignType.data.replatinGroups" ng-options="key as name for (key,name) in replatinGroupsOpts">
                    <option value="">Please Choose</option>
                </select>
            </span>
        </div>

        <div class="add_top_padding">
            <label class=" control-label"><strong>Please enter the number of reps in each column, running from left to right:</strong></label>
            <span class=""><input ng-model="currentDesignType.data.replicationsArrangement" type="text" valid-number="" class="form-control" style="width: 100px"/> <span class="glyphicon glyphicon-question-sign"></span></span>
        </div>

        <div class="add_top_padding">
            <a ng-click="currentDesignType.showAdvancedOptions = false">Hide Advanced Options</a>
        </div>

    </div>
</div>

