<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
    <form id="generateStockIDForm" role="form-horizontal" class="form-horizontal" action="#"
          method="post" enctype="multipart/form-data">
        <input type="hidden" id="stockIDModalSourceListID"/>

        <!-- Modal -->
        <div class="modal fade" id="generateStockIDModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog  modal-medium">
                <div class="modal-content">
                    <div class="modal-body" id="generateStockIDBody">
                        <div class="row form-group">
                            <div class="col-xs-11 col-md-11">
                                <label class="modal-title fbk-modal-title"
                                       th:text="#{stock.generate.id.header}"></label>
                            </div>
                            <div class="col-xs-1 col-md-1">
                                <button id="closeAddLotsModal" type="button"
                                        class="close  pull-right glyphicon glyphicon-remove"
                                        data-dismiss="modal" aria-hidden="true"/>
                            </div>
                        </div>

                        <div class="row form-group col-xs-12 col-md-12"
                             id="page-message-stock-generate">
                        </div>

                        <div class="row form-group">
                            <div class="col-md-8">
                                <label class="control-label label-bold"
                                       th:text="#{stock.generate.id.breeder.identifier}+':'">Specify
                                    first letter(s) of prefix</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="breederIdentifier"
                                       onblur="javascript: StockIDFunctions.updateLabels();"
                                       id="breederIdentifierField" class="form-control"/>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="control-label">
                                    <em th:text="#{stock.generate.id.breeder.identifier.blank.info}"></em>
                                </label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8">
                                <label class="control-label label-bold"
                                       th:text="#{stock.generate.id.sample.prefix.label}">Next
                                    prefix in this sequence:</label>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label" id="samplePrefixLabel"></label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8">
                                <label class="control-label label-bold"
                                       th:text="#{stock.generate.id.sample.stockid.label}">Example
                                    StockID for this list:</label>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label" id="nextStockIDLabel"></label>
                            </div>
                        </div>
                        <!--spacer row-->
                        <div class="row withDupeReciprocalOnly">
                            <div class="col-md-12 vertical-spacer">&nbsp;</div>
                        </div>

                        <div class="row withDupeReciprocalOnly">
                            <div class="col-md-12">
                                <label class="h4 label-bold" th:text="#{stock.bulking.instructions.header}">Bulking
                                    Instructions</label>
                            </div>
                        </div>

                        <div class="row withDupeReciprocalOnly withPedigreeDuplicateOnly">
                            <div class="col-md-8">
                                <label class="control-label label-bold"
                                       th:text="#{stock.generate.id.pedigree.dupe.label}"></label>
                            </div>
                            <div class="col-md-4 form-group">
                                <div class="col-md-6">
                                    <input type="radio" name="addPedigreeDuplicate" value="true"/>
                                    <label class="control-label" th:text="#{common.form.yes.text}"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="radio" name="addPedigreeDuplicate" checked="checked" value="false"/>
                                    <label class="control-label" th:text="#{common.form.no.text}"/>
                                </div>
                            </div>
                        </div>

                        <div class="row withDupeReciprocalOnly withPlotReciprocalOnly">
                            <div class="col-md-8">
                                <label class="control-label label-bold"
                                       th:text="#{stock.generate.id.plot.reciprocal.label}"></label>
                            </div>
                            <div class="col-md-4 form-group">
                                <div class="col-md-6">
                                    <input type="radio" name="addPlotReciprocal" value="true"/>
                                    <label class="control-label" th:text="#{common.form.yes.text}"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="radio" name="addPlotReciprocal" checked="checked" value="false"/>
                                    <label class="control-label" th:text="#{common.form.no.text}"/>
                                </div>
                            </div>
                        </div>

                        <div class="row withDupeReciprocalOnly withPedigreeReciprocalOnly">
                            <div class="col-md-8">
                                <label class="control-label label-bold"
                                       th:text="#{stock.generate.id.pedigree.reciprocal.label}"></label>
                            </div>
                            <div class="col-md-4 form-group">
                                <div class="col-md-6">
                                    <input type="radio" name="addPedigreeReciprocal" value="true"/>
                                    <label class="control-label" th:text="#{common.form.yes.text}"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="radio" name="addPedigreeReciprocal" checked="checked" value="false"/>
                                    <label class="control-label" th:text="#{common.form.no.text}"/>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel
                            </button>
                            <button type="button" class="btn btn-primary" aria-hidden="true"
                                    th:text="#{common.form.continue.text}"
                                    onclick="javascript: StockIDFunctions.saveStockList();">Continue
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </div>
    </form>
</div>

<div layout:fragment="page-script">
    <script type="text/javascript" th:src="@{/static/js/studyManager/stock-list.js}"></script>
</div>
