<div class="col-xs-12 col-md-12" ng-app="fb-environments">
    <div ng-controller="EnvironmentController">
        <div class="row">
            <div class="form-group">
                <label class="control-label">
                    <strong class="sub-content-heading">Define Environments</strong>
                </label>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-xs-6">
                    <label class="control-label">Specify the number of environments for this trial:</label>
                    <div class="pull-right">
                        <input type="number" ng-model="temp.noOfEnvironments"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="form-group">
                    <label class="control-label">
                        <strong class="sub-content-heading">MANAGEMENT DETAILS</strong>
                    </label>

                    <a select-standard-variable href="#" class="btn btn-info pull-right"
                        variable-type="1" labels="labels.managementDetails" modeldata="data.managementDetails">Add</a>
                </div>
                <div class="form-horizontal sectionContainer">
                    <display-settings settings="data.managementDetails"></display-settings>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="form-group">
                    <label class="control-label">
                        <strong class="sub-content-heading">TRIAL CONDITION DETAILS</strong>
                    </label>

                    <a select-standard-variable href="#" class="btn btn-info pull-right"
                       variable-type="1" labels="labels.trialConditionDetails" modeldata="data.trialConditionDetails">Add</a>
                </div>
                <div class="form-horizontal sectionContainer">
                    <display-settings settings="data.trialConditionDetails"></display-settings>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="environment in data.environments">
            <div class="row">
                <div class="form-group">
                    <label class="control-label">
                        <strong class="sub-content-heading">Environment {{$index + 1}}</strong>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="form-group" ng-repeat="(key, value) in environment.managementDetailValues">
                        <div class="col-xs-5 1st">
                        <span style="word-wrap: break-word" class="control-label nursery-level-label
                            label-bold var-names">{{data.managementDetails[key].variable.name}}</span>
                        </div>
                        <div class="col-xs-7 2nd">
                            <show-setting-form-element settings="data.managementDetails" targetkey="{{key}}"
                                                       valuecontainer="environment.managementDetailValues"></show-setting-form-element>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="form-group" ng-repeat="(key, value) in environment.trialDetailValues">
                        <div class="col-xs-5 1st">
                        <span style="word-wrap: break-word" class="control-label nursery-level-label
                            label-bold var-names">{{data.trialConditionDetails[key].variable.name}}</span>
                        </div>
                        <div class="col-xs-7 2nd">
                            <show-setting-form-element settings="data.trialConditionDetails" targetkey="{{key}}"
                                                       valuecontainer="environment.trialDetailValues"></show-setting-form-element>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div id="showBaselineTraitDetails" th:include="/NurseryManager/includes/baselineTraitDetails"></div>
            </div>
        </div>

        <div class="row">
        	<div class="col-xs-12 col-md-12">
        		<div th:include="/NurseryManager/includes/variableSelectionModal"></div>
        	</div>
        </div>
    </div>
</div>

<div layout:fragment="page-script">
    <script type="text/javascript" th:src="@{/static/js/lib/angular/angular1.2.18.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/angular/ui-bootstrap-tpls-0.11.0.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/angular/angular-select2.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/choose-settings.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/angular/fieldbook-settings.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/angular/angular-utilities.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var mdLabel = /*[[#{nursery.managesettings.add.nursery.level.settings}]]*/ '',
        	mdPlaceholder = /*[[#{nursery.reminder.add.nursery.settings}]]*/ '';
        angular.module('fb-environments', ['ui.bootstrap', 'fieldbook-settings', 'leafnode-utils'])
                .constant('LOCATION_ID', /*[[${T(com.efficio.fieldbook.web.util.AppConstants).LOCATION_ID.getString()}]]*/ ''
                ).constant('BREEDING_METHOD_CODE', /*[[${T(com.efficio.fieldbook.web.util.AppConstants).BREEDING_METHOD_CODE.getString()}]]*/ ''
                ).constant('BREEDING_METHOD_ID', /*[[${T(com.efficio.fieldbook.web.util.AppConstants).BREEDING_METHOD_ID.getString()}]]*/ ''
                ).controller('EnvironmentController', ['$scope', function ($scope) {
                    $scope.data = {};

                    // storage of number of environments uses a temp variable to account for user temporarily deleting contents of field to enter new value
                    $scope.temp = {
                        noOfEnvironments : 0
                    };

                    $scope.data.noOfEnvironments = 0;
                    $scope.data.environments = [];
                    $scope.data.managementDetails = {};
                    $scope.data.trialConditionDetails = {};

                    $scope.labels = {};

                    $scope.labels.managementDetails = {
                        label : mdLabel,
                        placeholderLabel : mdPlaceholder
                    };

                    $scope.labels.trialConditionDetails = {
                        label: mdLabel,
                        placeholderLabel: mdPlaceholder
                    };

                    $scope.$watch('temp.noOfEnvironments', function(newVal, oldVal) {
                        if (newVal) {
                            $scope.data.noOfEnvironments = newVal;
                        }
                    });

                    $scope.$watch('data.noOfEnvironments', function(newVal, oldVal) {

                        if (newVal < oldVal) {
                            // if new environment count is less than previous value, splice array
                            while ($scope.data.environments.length > newVal) {
                                $scope.data.environments.pop();
                            }
                        } else if (oldVal < newVal) {
                            // if new environment count is greater than old value, add new element to environments array
                            while ($scope.data.environments.length < newVal) {
                                $scope.data.environments.push({
                                    managementDetailValues: $scope.constructDataStructureFromDetails($scope.data.managementDetails),
                                    trialDetailValues: $scope.constructDataStructureFromDetails($scope.data.trialConditionDetails)
                                })
                            }
                        } else {
                            // do nothing if equal
                        }

                    });

                    $scope.$watch('data.managementDetails', function(newVal, oldVal) {
                        $scope.updateEnvironmentVariables('managementDetails', Object.keys(newVal).length > Object.keys(oldVal).length);
                    }, true);

                    $scope.$watch('data.trialConditionDetails', function (newVal, oldVal) {
                        $scope.updateEnvironmentVariables('trialConditionDetails', Object.keys(newVal).length > Object.keys(oldVal).length);
                    }, true);

                    $scope.updateEnvironmentVariables = function(type, entriesIncreased) {

                        var settingDetailSource = null;
                        var targetKey = null;

                        if (type === 'managementDetails') {
                            settingDetailSource = $scope.data.managementDetails;
                            targetKey = 'managementDetailValues';
                        } else if (type === 'trialConditionDetails'){
                            settingDetailSource = $scope.data.trialConditionDetails;
                            targetKey = 'trialDetailValues';
                        }

                        $.each($scope.data.environments, function(key, value) {
                            var subList = value[targetKey];

                            if (entriesIncreased) {
                                $.each(settingDetailSource, function (key, value) {
                                    if (subList[key] === undefined) {
                                        subList[key] = null;
                                    }
                                });
                            } else {
                                $.each(subList, function (key, value) {
                                    if (settingDetailSource[key] === undefined) {
                                        delete subList[key];
                                    }
                                });
                            }
                        });
                    };

                    $scope.constructDataStructureFromDetails = function(details) {
                        var returnVal = {};
                        $.each(details, function(key, value) {
                            returnVal[key] = null;
                        });

                        return returnVal;
                    }
                }]);
        //]]>
    </script>
</div>
