/target
/.idea
/.settings
/logs
.classpath
src/main/resources/git.properties
src/main/resources/database.properties
src/main/resources/fieldbook.properties
pipeline/config/dev-martin
pheno_t77833_20131118.xls
