@import url('/Fieldbook/static/fonts/font.css');
/*Added to style properly*/
body {
  font-family: 'Open Sans', 'Segoe UI','Helvetica Neue', Arial, sans-serif;
  font-size: 13px;  
}
/*
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', 'Segoe UI','Helvetica Neue', Arial, sans-serif;  
}

h1,
.h1 {
  font-size: 26px;
   font-weight: bold;
}
h2,
.h2 {
  font-size: 26px;
  font-weight: bold;
}
h3,
.h3 {
  font-size: 20px;
  font-weight: 300;
}
h4,
.h4 {
  font-size: 18px;
  font-weight: 300;
}
*/
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{display:block;color:#333;font-family:'Open Sans','Segoe UI','Helvetica Neue',Arial,sans-serif;letter-spacing:normal;font-weight:500;margin-bottom:5px;margin-left:0;margin-right:0;margin-top:10px;box-sizing:border-box}
h4,h5,h6,
.h4,.h5,.h6{margin-top:5px}
h1,.h1{font-size:26px;font-weight:500;height:26px;line-height:26px;text-transform:uppercase}
h2,.h2{font-size:18px;height:18px;line-height:18px;font-weight:600;text-transform:uppercase}
h2.light,.h2.light{font-weight: 300; color:#999;}
h3,.h3{font-size:16px;height:16px;line-height:16px;font-weight:600;text-transform:uppercase}
h4,.h4{font-size:15.5px;height:15px;line-height:15px;font-weight:500}
h5,.h5{font-size:15px;font-weight:500;height:15px;line-height:15px;text-transform:uppercase}
h6,.h6{font-size:13px;font-weight:500;line-height:13px}

.sub-heading{
	/*
	font-size: 24px;
	font-weight: 300;
	text-transform:uppercase;
	*/
	font-size:16.5px;height:16.5px;line-height:16.5px;font-weight:600;text-transform:uppercase
	margin-bottom:5px;margin-left:0;margin-right:0;margin-top:10px;box-sizing:border-box;
}
.sub-content-heading{
	/*
	font-size: 16px;
	font-weight: bold;
	text-transform:uppercase;
	*/
	font-size:14px;height:14px;line-height:14px;font-weight:500
	margin-bottom:5px;margin-left:0;margin-right:0;margin-top:10px;box-sizing:border-box;
}

label{
	font-weight: normal;
}
.btn-primary {
  color: #ffffff;
  background-color: #ff8109;
  border-color:  #ff8109;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #ff8109;
  border-color:  #ff8109;
  opacity: 0.7	
}


.btn-default {
  color: #ffffff;
  background-color: #828282;
  border-color: #828282;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #828282;
  border-color: #828282;
  opacity: 0.7	
}

.btn-info {
  color: #ffffff;
  background-color: #1b95b2;
  border-color: #1b95b2;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #1b95b2;
  border-color: #1b95b2;
  opacity: 0.7	
}
.btn {
    font-size: 11px;    
}
/*
table th, table td{
	background-color: #CECECE;
	font-size: 12px;
	color: #333333;
}
*/
table > thead > tr > th, table .table-header{
	background-color: #c8c6c6;
}
table .odd{
	background-color: #e3e3e3;
}
table .even{
	background-color: #f0eeee;
}
/*
#studyTree tr:nth-child(even), #selectedTrials tr:nth-child(even), #catVarList tr:nth-child(even) {background-color: #DADADA}
#studyTree tr:nth-child(odd), #selectedTrials tr:nth-child(odd), #catVarList tr:nth-child(odd) {background-color: #E9e9e9}
*/

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #828282;
}
.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: none;
}


  .table-bordered > thead > tr > th:first-child,
  .table-bordered > tbody > tr > th:first-child,
  .table-bordered > tfoot > tr > th:first-child,
  .table-bordered > thead > tr > td:first-child,
  .table-bordered > tbody > tr > td:first-child,
  .table-bordered > tfoot > tr > td:first-child {
    border-left: none;
  }
  .table-bordered > thead > tr > th:last-child,
  .table-bordered > tbody > tr > th:last-child,
  .table-bordered > tfoot > tr > th:last-child,
  .table-bordered > thead > tr > td:last-child,
  .table-bordered > tbody > tr > td:last-child,
  .table-bordered > tfoot > tr > td:last-child {
    border-right: none;
  }
  .table-bordered > thead > tr:last-child > th,
  .table-bordered > tbody > tr:last-child > th,
  .table-bordered > tfoot > tr:last-child > th,
  .table-bordered > thead > tr:last-child > td,
  .table-bordered > tbody > tr:last-child > td,
  .table-bordered > tfoot > tr:last-child > td {
    border-bottom: none;
  }
  
  

table .field-map-highlight {
    /* background-color: #BED6B2;*/
}
table .field-map-highlight td{
     background-color: #BED6B2;
}
.pagination {
font-size: 10px;
}
.pagination > li > a, .pagination > li > span {
    padding: 6px 8px;
}
table{
	font-size: 11px;
}
.dropdown-menu {
    font-size: 12px;
}
.required{
	color: #990000;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus{
    color: #333333;
    background-color: #eeeeee;  
} 
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: #333333;
    background-color: #f6f6f6;  
    border-color: #e4e4e4;  
}

.nav-tabs > li > a {
    border: #e4e4e4;
}
.nav > li > a {
    display: block;
    padding: 5px 10px;
    position: relative;
}
#ontology-tabs{
	background-color: #f6f6f6;
	border:1px solid #e4e4e4;  
	min-height: 320px;
	border-top: 0px; 	
}

.table-curved {
   border-collapse: separate;
   border: solid #e4e4e4 1px;
   border-radius: 10px;
   border-left: 0px;
   border-top: 0px;
}
.table-curved > thead:first-child > tr:first-child > th {
	
     border-bottom: none;
}
.table-curved > tbody > tr > td:first-child,
.table-curved > thead > tr > th:first-child,
.table-curved > th:first:child  {
	
     border-left: none;
}
.table-curved > thead > tr > th:first-child,
  .table-curved > tbody > tr > th:first-child,
  .table-curved > tfoot > tr > th:first-child,
  .table-curved > thead > tr > td:first-child,
  .table-curved > tbody > tr > td:first-child,
  .table-curved > tfoot > tr > td:first-child {
    border-left: none;
  }
  
.table-curved  > tbody > tr:last-child > td {	
     border-bottom: none;
}

.table-curved td, .table-curved th {
	
    border-left: 1px solid #c2c3c4;
    border-bottom: none;
}
.table-curved > :first-child > :first-child > :first-child {
    border-top-left-radius: 10px;
}
.table-curved > :first-child > :first-child > :last-child {
    border-top-right-radius: 10px;
}
.table-curved > :last-child > :last-child > :first-child {
    border-bottom-left-radius: 10px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-bottom-right-radius: 10px;
}
.form-group {
    margin-bottom: 6px;
}
.col-xs-12{
	padding-left: 13px;
}
/*end*/
.container{
	max-width: none !important; 
	/*width: 950px;*/
	min-width: 100%; 
	padding-left: 35px; margin-top: -20px; margin-left: 0px;
	float: left;
}
.move-left{
	margin-left: -25px;
}
.panel-body{
	background-color: #D4D4D4;
	padding: 0px;
}
.manage-settings-panel-body{
	padding: 15px;
}
.panel-body-modal{
	padding: 15px;
	background-color: #FFFFFF;
}
.tt-hint{
	width: 100%;
}
.tt-query{
	background-color: none;
}
/*For the spinner*/
#spinner-wrap {
    position:fixed;
    z-index:999;
    width:150px;
    height:150px;
    background:#e9e9e9;
    opacity:1;
 filter:alpha(opacity=80); /* For IE8 and earlier */
    border-radius: 15px;
    top:50%;
    margin-left:-100px;
    margin-top:-100px;
    left:50%;
}
#spinner-wrap img{
	padding-top: 45px;
}
.modal-large {
    width: 800px;
}
#addVariableModal .select2-choice{
	max-width: 200px;
	min-width: 200px;
}



div.scrollWrapper{
  height:200px;
  overflow-y:scroll;
  max-width: 60%;
}

td.validValueLabel, td.validValueDel {
	width: 20%;
}

td.validValueDesc {
	width: 60%;
}

.fieldmap-header{
	padding-right: 15px;
	margin-left:10px;
}
#field-map {
	table-layout: fixed;
}

#field-map td{
	border: 1px solid;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
#field-map td p{
	margin-bottom: 0px;
}

#field-map td.plot{
	text-align:center;
	vertical-align: middle;
	word-wrap: break-word;
}

#field-map td.plot label {
	padding: 3px;
	margin-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
}

#field-map td.header-row-main{
	background-color: #BEBEBA;
	width: 64px;
}
#field-map td.header-row-data{
	background-color: #BEBEBA;
	width: 80px;
}
#field-map td.sub-header-row{
	background-color: #EEEEE9;
}


.fieldmap-container {
	padding:10px; 
	margin:20px; 
	border:1px dashed; 
	overflow:auto; 
	border-bottom:none;
	max-width: 1200px;
}


#availableFields, #leftSelectedFields, #rightSelectedFields 
{ list-style-type: none; margin: 0; padding: 0; float: left; 
margin-right: 10px; background: #eee; padding: 5px; width: 100%;
min-height: 50px;
}
#availableFields li, #leftSelectedFields li, #rightSelectedFields li
{ margin: 5px; padding: 5px; font-size: 13px; }

.field-group{
	margin-bottom: 0px
}
.field-group .list-group-item{
	padding: 5px 10px;
}
tr.trialInstance {
	background-color: #dff0d8;
}

.myDragClass {
	background-color: #dff0d8;
}
.plot{
	background-color: #ffffff;
}


.modal-header{
	background-color: #e9e9e9;
	padding: 10px;
}
.modal-footer {
    text-align: center;
    padding: 10px;
}
.treegrid-indent{
	height: 0px;
}
.page-header{
	margin-left: -25px;
	/*margin-bottom: 0px;*/
}
#nursery-table, #trial-table{
	table-layout: fixed;
}
#ontology-tab-headers{
	/*border-bottom:none;*/
}
#ontology-tab-headers  > li > a, 
#ontology-tab-headers  > li > a:hover, 
#ontology-tab-headers  > li > a:focus {
    
    border-bottom: 1px solid #E4E4E4;
    
}
#ontology-tab-headers  > li.active > a, 
#ontology-tab-headers  > li.active > a:hover, 
#ontology-tab-headers  > li.active > a:focus {
    
    border-bottom: 0px;
    
}

.page-header {
	border-bottom: 0;
}
.tooltip-inner {
    background-color: #5A5A5A;    
    max-width: 350px;
    margin-top: 40px;
    padding: 15px;
    text-align: left;
    text-transform: none;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #5A5A5A;
    /*margin-top: -5px;*/    
}
/*
.help-tooltip{
padding-left: 20px; margin-top: 7px
}
*/
.help-tooltip {
    background-color: #5A5A5A;
    border-radius: 50%;
    box-shadow: 0 0 3px #000000;
    color: #FFFFFF;
    font-size: 12px;
    margin-right: 20px;
    padding: 0 5px;
    text-decoration: none;
    float: left; 
    margin-left: 15px;
    margin-top: 13px;
    line-height: 18px;
}
.germplasm-list-table, .germplasm-measurement-list-table, .advance-nursery-list-table{
	max-height: 400px;
	overflow: auto;
}
.germplasm-measurement-list-table thead th, .germplasm-list-table thead th{
   text-align: center;
}
.germplasm-measurement-list-table td  {
   vertical-align: middle;
}
.germplasm-measurement-list-table td input {
   font-size: 10px;
}
.variates{
	/*
	background-color: blue;	
	color: #FFFFFF;
	*/
}
.factors{
	/*
	background-color: green;
	color: #FFFFFF;
	*/	
}
.lead {
    font-size: 10pt;
}
.btn-file, a.fileupload-exists{
	padding: 8.5px 12px;
}
.fileupload-exists{
	padding: 0px;	
}

/* For appearance */
.component {
	
	line-height: 1.5em;
	margin: 0 auto;
	/*padding: 2em 0 3em;*/
	width: 90%;
	max-width: 1000px;
	overflow: hidden;
	max-height: none;
}
/*
.component .filler {
	font-family: "Blokk", Arial, sans-serif;
	color: #d3d3d3;
}
*/
table.make-sticky{
    border-collapse: collapse;    
    width: 100%;
    background: #fff;
}
.sticky-wrap td, th {
    /*adding: 0.75em 1.5em;*/
    padding: 5px 5px; 
    text-align: left;
}
/*
	td.err {
		background-color: #e992b9;
		color: #fff;
		font-size: 0.75em;
		text-align: center;
		line-height: 1;
	}
	*/
.make-sticky th {
    white-space: nowrap;
}
.sticky-wrap th {
    /*background-color: #31bc86;
    font-weight: bold;
    color: #fff;*/
    white-space: nowrap;
}
.sticky-wrap tbody th {
	/*background-color: #2ea879;*/
}
.sticky-wrap tbody tr:nth-child(2n-1) {
   /* background-color: #f5f5f5;*/
    transition: all .125s ease-in-out;
}
.sticky-wrap tbody tr:hover {
    /*background-color: rgba(129,208,177,.3);*/
}
/**/
/* For appearance */
.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	margin: 3em 0;
	width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto; /* Prevent table from stretching to full size */
}
.sticky-col{
	z-index:9999;
}
	.sticky-wrap .sticky-thead {
		box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
		z-index: 100;
		width: 100%; /* Force stretch */
	}
	.sticky-wrap .sticky-intersect {
		opacity: 1;
		z-index: 150;

	}
		.sticky-wrap .sticky-intersect th {
			background-color: #666;
			color: #eee;
		}
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;
}

.sticky-col th{
	 background-color: #31bc86;
}

.sticky-col tbody th {
	background-color: #2ea879;
}

/* Not needed for sticky header/column functionality */
td.user-name {
	text-transform: capitalize;
}
.sticky-wrap.overflow-y {
	overflow-y: auto;
	/*max-height: 70vh;*/
	max-height: 500px;
}
.datepicker th{
	background-color: #FFFFFF;
}
.add_top_padding{
	padding-top: 10px;
}
td.nurseryLevelVariableSetting {
	vertical-align: top;
	padding-top: 10px;
}
div.possibleValuesDiv{
	padding-bottom: 5px;
}
#addVariablesSettingBody #ontology-values-tab-li, #addVariablesSettingBody #ontology-usage-tab-li{
	display: none;
}
.select-variable{
	display: none;
}
.variable-detail-info{
	display: none;
}
#addVariablesSettingBody .select-variable
{
	display: block;
}
#ontologyBrowserTree{
	height: 350px;
}
/*
#addVariablesSettingBody #ontologyBrowserTree{
	height: 228px;
}
#addVariablesSettingBody #ontology-tabs{	 
	min-height: 200px;	
}
*/
#addVariablesSettingBody{
	padding-bottom: 0px;
	padding-top: 10px;
}
.addVariable-footer{
	margin-top: 0px;
}
.row{
	margin-right: 0px;
}
.select2-container {
  width: 260px;
}