@import url('/Fieldbook/static/fonts/font.css');
/*Added to style properly*/
body {
  font-family: 'Open Sans', 'Segoe UI','Helvetica Neue', Arial, sans-serif;
  font-size: 13px;  
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', 'Segoe UI','Helvetica Neue', Arial, sans-serif;  
}

h1,
.h1 {
  font-size: 24px;
   font-weight: 400;
}
h2,
.h2 {
  font-size: 24px;
  font-weight: 400;
}
h3,
.h3 {
  font-size: 20px;
  font-weight: 300;
}
h4,
.h4 {
  font-size: 18px;
  font-weight: 300;
}
label{
	font-weight: normal;
}
.btn-primary {
  color: #ffffff;
  background-color: #ff8109;
  border-color:  #ff8109;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #728B66;
  border-color: #728B66;
}

.btn-default {
  color: #ffffff;
  background-color: #828282;
  border-color: #828282;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #728B66;
  border-color: #728B66;
}

.btn-info {
  color: #ffffff;
  background-color: #1b95b2;
  border-color: #1b95b2;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #728B66;
  border-color: #728B66;
}
.btn {
    font-size: 11px;    
}
/*
table th, table td{
	background-color: #CECECE;
	font-size: 12px;
	color: #333333;
}
*/
table > thead > tr > th, table .table-header{
	background-color: #c8c6c6;
}
table .odd{
	background-color: #e3e3e3;
}
table .even{
	background-color: #f0eeee;
}
/*
#studyTree tr:nth-child(even), #selectedTrials tr:nth-child(even), #catVarList tr:nth-child(even) {background-color: #DADADA}
#studyTree tr:nth-child(odd), #selectedTrials tr:nth-child(odd), #catVarList tr:nth-child(odd) {background-color: #E9e9e9}
*/

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #828282;
}
.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: none;
}


  .table-bordered > thead > tr > th:first-child,
  .table-bordered > tbody > tr > th:first-child,
  .table-bordered > tfoot > tr > th:first-child,
  .table-bordered > thead > tr > td:first-child,
  .table-bordered > tbody > tr > td:first-child,
  .table-bordered > tfoot > tr > td:first-child {
    border-left: none;
  }
  .table-bordered > thead > tr > th:last-child,
  .table-bordered > tbody > tr > th:last-child,
  .table-bordered > tfoot > tr > th:last-child,
  .table-bordered > thead > tr > td:last-child,
  .table-bordered > tbody > tr > td:last-child,
  .table-bordered > tfoot > tr > td:last-child {
    border-right: none;
  }
  .table-bordered > thead > tr:last-child > th,
  .table-bordered > tbody > tr:last-child > th,
  .table-bordered > tfoot > tr:last-child > th,
  .table-bordered > thead > tr:last-child > td,
  .table-bordered > tbody > tr:last-child > td,
  .table-bordered > tfoot > tr:last-child > td {
    border-bottom: none;
  }
  
  

table .field-map-highlight {
    /* background-color: #BED6B2;*/
}
table .field-map-highlight td{
     background-color: #BED6B2;
}
.pagination {
font-size: 10px;
}
.pagination > li > a, .pagination > li > span {
    padding: 6px 8px;
}
table{
	font-size: 11px;
}
.dropdown-menu {
    font-size: 12px;
}
.required{
	color: #990000;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus{
    color: #333333;
    background-color: #eeeeee;  
} 
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: #333333;
    background-color: #f6f6f6;  
    border-color: #e4e4e4;  
}

.nav-tabs > li > a {
    border: #e4e4e4;
}
.nav > li > a {
    display: block;
    padding: 5px 10px;
    position: relative;
}
#ontology-tabs{
	background-color: #f6f6f6;
	border:1px solid #e4e4e4;  
	min-height: 320px;
	border-top: 0px; 	
}

.table-curved {
   border-collapse: separate;
   border: solid #e4e4e4 1px;
   border-radius: 10px;
   border-left: 0px;
   border-top: 0px;
}
.table-curved > thead:first-child > tr:first-child > th {
	
     border-bottom: none;
}
.table-curved > tbody > tr > td:first-child,
.table-curved > thead > tr > th:first-child,
.table-curved > th:first:child  {
	
     border-left: none;
}
.table-curved > thead > tr > th:first-child,
  .table-curved > tbody > tr > th:first-child,
  .table-curved > tfoot > tr > th:first-child,
  .table-curved > thead > tr > td:first-child,
  .table-curved > tbody > tr > td:first-child,
  .table-curved > tfoot > tr > td:first-child {
    border-left: none;
  }
  
.table-curved  > tbody > tr:last-child > td {	
     border-bottom: none;
}

.table-curved td, .table-curved th {
	
    border-left: 1px solid #c2c3c4;
    border-bottom: none;
}
.table-curved > :first-child > :first-child > :first-child {
    border-top-left-radius: 10px;
}
.table-curved > :first-child > :first-child > :last-child {
    border-top-right-radius: 10px;
}
.table-curved > :last-child > :last-child > :first-child {
    border-bottom-left-radius: 10px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-bottom-right-radius: 10px;
}
.form-group {
    margin-bottom: 6px;
}
.col-xs-12{
	padding-left: 13px;
}
/*end*/

/*For the spinner*/
#spinner-wrap {
    position:fixed;
    z-index:999;
    width:150px;
    height:150px;
    background:#e9e9e9;
    opacity:0.5;
 filter:alpha(opacity=80); /* For IE8 and earlier */
    border-radius: 15px;
    top:50%;
    margin-left:-100px;
    margin-top:-100px;
    left:50%;
}
#spinner-wrap img{
	padding-top: 45px;
}
.modal-large {
    width: 800px;
}
#addVariableModal .select2-choice{
	max-width: 200px;
	min-width: 200px;
}



div.scrollWrapper{
  height:200px;
  overflow-y:scroll;
}

td.validValueLabel, td.validValueDel {
	width: 20%;
}

td.validValueDesc {
	width: 60%;
}

#field-map {
	table-layout: fixed;
}

#field-map td{
	border: 1px solid;
	text-align: center;
}

#field-map td.plot{
	text-align:center;
	vertical-align: middle;
	word-wrap: break-word;
}
#field-map td.plot label {
	padding: 3px;
	margin-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
}

#field-map td.header-row-main{
	background-color: #BEBEBA;
	width: 60px;
}
#field-map td.header-row-data{
	background-color: #BEBEBA;
	width: 80px;
}
#field-map td.sub-header-row{
	background-color: #EEEEE9;
}

.fieldmap-container {
	padding:10px; 
	margin:20px; 
	border:1px dashed; 
	overflow:auto; 
	border-bottom:none;
}

#availableFields, #leftSelectedFields, #rightSelectedFields 
{ list-style-type: none; margin: 0; padding: 0; float: left; 
margin-right: 10px; background: #eee; padding: 5px; width: 100%;
min-height: 50px;
}
#availableFields li, #leftSelectedFields li, #rightSelectedFields li
{ margin: 5px; padding: 5px; font-size: 13px; }

.field-group{
	margin-bottom: 0px
}
.field-group .list-group-item{
	padding: 5px 10px;
}
tr.trialInstance {
	background-color: #dff0d8;
}

.myDragClass {
	background-color: #dff0d8;
}
.plot{
	background-color: #ffffff;
}
.sub-heading{
	font-size: 13.5px;
	font-weight: 600;
}
.modal-header{
	background-color: #e9e9e9;
	padding: 10px;
}
.modal-footer {
    text-align: center;
    padding: 10px;
}
.treegrid-indent{
	height: 0px;
}
.page-header{
	margin-left: -25px;
}
#nursery-table, #trial-table{
	table-layout: fixed;
}