/*For the spinner*/
#spinner-wrap {
    position:fixed;
    z-index:999;
    width:250px;
    height:250px;
    background:#000;
    opacity:0.8;
 filter:alpha(opacity=80); /* For IE8 and earlier */
    border-radius: 15px;
    top:50%;
    margin-left:-100px;
    margin-top:-100px;
    left:50%;
}

.modal-large {
    width: 800px;
}
#addVariableModal .select2-choice{
	max-width: 200px;
	min-width: 200px;
}

table .even{
	background-color: #F9F9F9;
}
table .field-map-highlight {
     background-color: #5BC0DE;
}

div.scrollWrapper{
  height:200px;
  overflow-y:scroll;
}