<div class="modal-body">
	<div class="row form-group">
		<div class="col-xs-11 col-md-11">
			<label class="modal-title fbk-modal-title" id="heading-modal">Generate Design</label>
		</div>
		<div class="col-xs-1 col-md-1">
			<button ng-click="cancel()" type="button" class="close pull-right glyphicon glyphicon-remove"></button>
		</div>
	</div>
	<div class="separator"></div>
	<br/>
	<div class="row form-group">
		<div class="col-xs-12 col-md-12">
			<label class=""><em> <span class="required">*</span> indicates a mandatory field</em></label>
		</div>
	</div>

	<div class="row form-group">
		<div class="col-xs-12 col-md-12">&nbsp;</div>
		<div class="col-xs-12 col-md-12">
			<label class="control-label h4 label-bold">STUDY ENVIRONMENT</label>
		</div>
		<div class="col-xs-12 col-md-12">&nbsp;</div>
		<div class="col-xs-12 col-md-12">
			<label class="control-label label-bold">Choose the study environment you would like to generate the design: <span class="required">*</span></label>
		</div>
		<div class="col-xs-12 col-md-12">&nbsp;</div>
		<div class="col-xs-12 col-md-12">
			<generate-design-instances-table instances="instances" selected-instances="selectedInstances" has-experimental-design="hasExperimentalDesign"
											 can-be-deleted="canBeDeleted" instance-number="instanceNumber"
											 is-empty-selection="isEmptySelection" ></generate-design-instances-table>
		</div>

	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" ng-disabled="isEmptySelection" ng-click="validateSelectedEnvironments()">Generate</button>
</div>
