<div class="col-md-7" xmlns:th="http://www.thymeleaf.org">
	<br/>
	<input type="button" th:value="#{ontology.browser.button.add.new.variable}" class="btn btn-default btn-log" data-toggle="modal" href="#addVariableModal" />
	<!-- Modal -->
  	<form id="addVariableForm" role="form-horizontal" onsubmit="return do_validation()"  class="form-horizontal" action="#" 
	    th:action="@{/OntologyBrowser/}" method="post" enctype="multipart/form-data" th:object="${ontologyBrowserForm}">
	   	<div class="modal fade" id="addVariableModal" role="dialog" aria-labelledby="addVariableLabel" aria-hidden="true">
			<div class="modal-dialog modal-large" style="width:900px">
		    	<div class="modal-content">
		        	<div class="modal-header">
		           		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		           		<h4 class="modal-title" th:text="#{ontology.browser.header.add.new.variable}">Add a New Variable</h4>
		         	</div>
		         	<div class="modal-body" id="addVariableBody">
		         		<div class="row fluid">
			         		<div class="col-md-5">
								<div class="form-group">
				           			<label for="txtNewVariableName" class="col-md-5 control-label" th:text="#{ontology.browser.modal.variable.name} + ': *'">Name:</label>
			                        <div class="col-md-7">
			                            <input type="text" id="txtNewVariableName" class="form-control"/>
			                        </div>
		                        </div>
		                        
		                        <div class="form-group">
				           			<label for="txtNewVariableNameDesc" class="col-md-5 control-label" th:text="#{ontology.browser.modal.description} + ':'">Description:</label>
				           			<div class="col-md-7">
			                            <textarea id="txtNewVariableNameDesc" class="form-control" size="10"> </textarea>
			                        </div>
								</div>
								
								<br/>
								
								<div class="form-group">
									<label for="comboDataType" class="col-md-5 control-label" th:text="#{ontology.browser.modal.data.type} + ': *'">Data Type:</label>
									<div class="col-md-7">
										<select class="form-control" id="comboDataType">
			                        		<option value="">Select</option>
			                        		<option th:each="type : *{dataTypes}" th:value="${type.id}" th:text="${type.name}"/>
			                        	</select>
									</div>
								</div>
								
								<div class="form-group">
									<label for="comboRole" class="col-md-5 control-label" th:text="#{ontology.browser.modal.role} + ': *'">Role:</label>
									<div class="col-md-7">
										<select class="form-control" id="comboRole">
			                        		<option value="">Select</option>
			                        		<option th:each="role : *{roles}" th:value="${role.id}" th:text="${role.name}"/>
			                        	</select>
									</div>
								</div>
								
								<div class="form-group">
				           			<label for="txtNewCropOntologyId" class="col-md-5 control-label" th:text="#{ontology.browser.modal.crop.ontology.id} + ':'">Crop Ontology ID:</label>
			                        <div class="col-md-7">
			                            <input type="text" id="txtNewCropOntologyId" class="form-control"/>
			                        </div>
		                        </div>
							</div>
			         		<div class="col-md-6">
			         			<div class="form-group">                        
			                        <label for="comboTraitClass" class="col-md-5 control-label" th:text="#{ontology.browser.modal.trait.class} + ': *'">Class:</label>
			                        <div class="col-md-7">
			                        	<div class="input-group">
			                        		<input id="comboTraitClass" type="hidden" th:field="*{traitClass}" class="form-control select2" placeholder=""/>
			                        		<span class="input-group-btn">
				                        		<button class="btn btn-primary" type="button" id="btnAddTraitClass" onClick="doSave('TraitClass')">
				                        			<span class="glyphicon glyphicon-plus"></span>
				                        		</button>
		                        			</span>
			                        	</div>
			                        </div>
		                        </div>
		                        
		                        <div class="form-group">
				                	<label for="txtNewTraitClassDesc" class="col-md-5 control-label" th:text="#{ontology.browser.modal.description} + ':'">Description:</label>
				                    <div class="col-md-7">
				                    	<textarea type="text" id="txtNewTraitClassDesc" th:field="*{traitClassDescription}" class="form-control" size="10"> </textarea>
				                    </div>
			                    </div>
			                    
			                    <div class="form-group">                        
			                        <label for="comboProperty" class="col-md-5 control-label" th:text="#{ontology.browser.modal.property} + ': *'">Property:</label>
			                        <div class="col-md-7">
			                        	<div class="input-group">
				                        	<input id="comboProperty" type="hidden" th:field="*{property}" class="form-control select2" placeholder=""/>
				                        	<span class="input-group-btn">
				                        		<button class="btn btn-primary" type="button" id="btnAddProperty" onClick="doSave('Property')">
				                        			<span class="glyphicon glyphicon-plus"></span>
				                        		</button>
		                        			</span>
	                        			</div>
			                        </div>
		                        </div>
		                        
		                        <div class="form-group">
				                	<label for="txtNewPropertyDesc" class="col-md-5 control-label" th:text="#{ontology.browser.modal.description} + ':'">Description:</label>
				                    <div class="col-md-7">
				                    	<textarea type="text" id="txtNewPropertyDesc" th:field="*{propertyDescription}" class="form-control" size="10"> </textarea>
				                    </div>
			                    </div>
			                    
			                    <div class="form-group">                        
			                        <label for="comboMethod" class="col-md-5 control-label" th:text="#{ontology.browser.modal.method} + ': *'">Method:</label>
			                        <div class="col-md-7">
			                        	<div class="input-group">
				                        	<input id="comboMethod" type="hidden" th:field="*{method}" class="form-control select2" placeholder=""  />
				                        	<span class="input-group-btn">
				                        		<button class="btn btn-primary" type="button" id="btnAddMethod" onClick="doSave('Method')">
				                        			<span class="glyphicon glyphicon-plus"></span>
				                        		</button>
		                        			</span>
	                        			</div>
			                        </div>
		                        </div>
		                        
		                        <div class="form-group">
				                	<label for="txtNewMethodDesc" class="col-md-5 control-label" th:text="#{ontology.browser.modal.description} + ':'">Description:</label>
				                    <div class="col-md-7">
				                    	<textarea type="text" id="txtNewMethodDesc" th:field="*{methodDescription}" class="form-control" size="10"> </textarea>
				                    </div>
			                    </div>
			                    
			                    <div class="form-group">                        
			                        <label for="comboScale" class="col-md-5 control-label" th:text="#{ontology.browser.modal.scale} + ': *'">Scale:</label>
			                        <div class="col-md-7">
			                        	<div class="input-group">
				                        	<input id="comboScale" type="hidden" th:field="*{scale}" class="form-control select2" placeholder=""/>
			                        		<span class="input-group-btn">
				                        		<button class="btn btn-primary" type="button" id="btnAddScale" onClick="doSave('Scale')">
				                        			<span class="glyphicon glyphicon-plus"></span>
				                        		</button>
		                        			</span>
	                        			</div>
			                        </div>
		                        </div>
		                        
		                        <div class="form-group">
				                	<label for="txtNewMethodDesc" class="col-md-5 control-label" th:text="#{ontology.browser.modal.description} + ':'">Description:</label>
				                    <div class="col-md-7">
				                    	<textarea type="text" id="txtNewScaleDesc" th:field="*{scaleDescription}" class="form-control" size="10"> </textarea>
				                    </div>
			                    </div>
			         		</div>
			         		<div class="col-md-1"></div>
		           		</div>
		         	</div>																							
		       		<div class="modal-footer">
		         		<button type="button" th:value="#{common.form.cancel.text}" class="btn btn-primary"
		         		 th:text="#{common.form.cancel.text}" data-dismiss="modal" aria-hidden="true">Cancel</button>
		         		<button type="submit" th:value="#{common.form.add.text}" class="btn btn-primary" 
		         		th:text="#{common.form.add.text}">Add</button>      	
	       			</div>
		     	</div><!-- /.modal-content -->
	   		</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</form>		
</div>

<div layout:fragment="page-script">		
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[   
		$(function () {
			
			var traitClassesSuggestions = /*[[${traitClassesSuggestionList}]]*/ null;
			var propertySuggestions = /*[[${propertiesSuggestionList}]]*/ null;
			var methodSuggestions = /*[[${methodsSuggestionList}]]*/ null;
			var scaleSuggestions = /*[[${scalesSuggestionList}]]*/ null;
			
		  	var traitClassesSuggestions_obj = [];
		  	var propertySuggestions_obj = [];
		  	var methodSuggestions_obj = [];
		  	var scaleSuggestions_obj = [];
			
		  	$.each(traitClassesSuggestions, function( index, value ) {
		  		traitClassesSuggestions_obj.push({ 'id' : value.id,
  				  'text' : value.name
				});  
			});
		  	
		  	$.each(propertySuggestions, function( index, value ) {
		  		propertySuggestions_obj.push({ 'id' : value.id,
  				  'text' : value.name
				});  
			});
		  	
		  	$.each(methodSuggestions, function( index, value ) {
		  		methodSuggestions_obj.push({ 'id' : value.id,
  				  'text' : value.name
				});  
			});
		  	
		  	$.each(scaleSuggestions, function( index, value ) {
		  		scaleSuggestions_obj.push({ 'id' : value.id,
  				  'text' : value.name
				});  
			});
		  	
		  	$("#comboTraitClass").select2({
	            query: function (query) {
	              var data = {results: traitClassesSuggestions_obj}, i, j, s;
	              // return the array that matches
	              data.results = $.grep(data.results,function(item,index) {
	                return ($.fn.select2.defaults.matcher(query.term,item.text));
	              
	              });
	              if (data.results.length === 0) data.results.unshift({id:query.term,text:query.term});
	              
	                query.callback(data);
	            }
	  
	        });
		  	
		  	$("#comboProperty").select2({
	            query: function (query) {
	              var data = {results: propertySuggestions_obj}, i, j, s;
	              // return the array that matches
	              data.results = $.grep(data.results,function(item,index) {
	                return ($.fn.select2.defaults.matcher(query.term,item.text));
	              
	              });
	              if (data.results.length === 0) data.results.unshift({id:query.term,text:query.term});
	              
	                query.callback(data);
	            }
	  
	        });
		  	
		  	$("#comboMethod").select2({
	            query: function (query) {
	              var data = {results: methodSuggestions_obj}, i, j, s;
	              // return the array that matches
	              data.results = $.grep(data.results,function(item,index) {
	                return ($.fn.select2.defaults.matcher(query.term,item.text));
	              
	              });
	              if (data.results.length === 0) data.results.unshift({id:query.term,text:query.term});
	              
	                query.callback(data);
	            }
	  
	        });
		  	
		  	$("#comboScale").select2({
	            query: function (query) {
	              var data = {results: scaleSuggestions_obj}, i, j, s;
	              // return the array that matches
	              data.results = $.grep(data.results,function(item,index) {
	                return ($.fn.select2.defaults.matcher(query.term,item.text));
	              
	              });
	              if (data.results.length === 0) data.results.unshift({id:query.term,text:query.term});
	              
	                query.callback(data);
	            }
	  
	        });
		  	
		  //$("#comboTraitClass").data("ui-combobox").value($("#hidTraitClass").val());
		  //$("#comboProperty").data("ui-combobox").value($("#hidProperty").val());
		  //$("#comboMethod").data("ui-combobox").value($("#hidMethod").val());
		  //$("#comboScale").data("ui-combobox").value($("#hidScale").val());
		});

		function onBeforeSubmit() {
	        //$("#hidTraitClass").val($("#comboTraitClass").data("ui-combobox").value());
	        //$("#hidProperty").val($("#comboProperty").data("ui-combobox").value());
	        //$("#hidMethod").val($("#comboMethod").data("ui-combobox").value());
	        //$("#hidScale").val($("#comboScale").data("ui-combobox").value());
	    }
		
		function doSave(combo) {
			var $form = $("#addVariableForm");
			var allComboElements = $("input.select2, textarea");
			$inputs = $form.find(allComboElements);
			
			serializedData = $form.serialize();
			$inputs.attr("disabled", "disabled");
			Spinner.toggle();
			
			$.ajax({
				url: "addVariable/" + combo,
				type: "post",
				dataType: "json",
				data: serializedData,
			    success: function(data){
				    if (data.status == "1") {
				    	
				    	$("comboProperty").select2({data: [{id:0,text:'black'},{id:1,text:'blue'}, {id:1,text:'red'}, {id:1,text:'bssasa'}]});
				    	
				    	
			       	} else {
			       		alert("nay");
			       		//to do
			       		//$("#error-message").html(data.errorMessage);
			       		//$("#page-message").show();
			       	}
			   }, 
			   error: function(jqXHR, textStatus, errorThrown){
					console.log("The following error occured: " + textStatus, errorThrown);
			   }, 
			   complete: function(){
			       $inputs.removeAttr("disabled"); 
				   Spinner.toggle();
			   } 
			});
		}
    //]]>
    </script>
</div>