<div class="row" xmlns:th="http://www.thymeleaf.org">
		<div class="col-xs-5 col-md-5">
	        <div class="form-group" id="page-message"></div>
	        <span class="h4" th:utext="#{ontology.search.name}">
	            Enter a property or variable name:*
	        </span>
        </div>

		<div class="col-xs-5 col-md-5">
			<div class="form-group"></div>
			<span id="variable-details" class="h4"></span>
        </div>
        <div class="col-xs-2 col-md-2">
			<div class="ob-manage-variables-btn">
				 <a th:if="${isPopup == false}" href="/OntologyManageVariable/" class="btn btn-info" th:href="@{/OntologyManager/manage/variable}" th:text="#{ontology.browser.button.manage.variable}">.Manage Variable</a>
			</div>
		</div>
    </div>
	<div class="row">
		<div class="col-xs-5 col-md-5">
	        <div style="padding-left: 0px;" class="col-xs-12 col-md-12">
	        	<input type="hidden" id="srch-term" class="form-control"/>
	        </div>
        </div>
    </div>

    <div class="row">
        &nbsp;
    </div>

	<div class="row">
		<div class="col-xs-5 col-md-5">
			<div id="ontology-browser-tree">
				<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
					<div class="row">
						<div id="ontologyBrowserTree" style="overflow:auto;"></div>
					</div>
				</div>
		    </div>
	    </div>
	    <div class="col-xs-7 col-md-7" id="ontology-detail-tabs">

	    </div>
    </div>

     <a style="display: none" id="ontologyBaseUrl" href="/OntologyBrowser" th:href="@{/OntologyBrowser/}">test</a>
     <div class="col-xs-7 col-md-7 variable-detail-info" style="display:none">
	<!-- Tab Navigation section -->
		<ul class="nav nav-tabs" id="ontology-tab-headers">
			<li class="active" id="ontology-details-tab-li">
				<a href="javascript:showSelectedTab('ontology-details-tab');" th:text="#{ontology.browser.tab.details}">
					Details
				</a>
			</li>
		</ul>
		<!-- details section -->
		<div style="padding-top: 15px;" id="ontology-tabs">
			<div id="ontology-details-tab">
				<div class="col-xs-12 col-md-12" id="reminder-placeholder" th:text="#{ontology.browser.details.tab.reminder}">
				 Select a Standard Variable to view
				</div>
			</div>
		</div>
	</div>
<div layout:fragment="page-script">
	<!-- Property / Variable Selection Result Template-->
	<script id="ob-select-result-template" type="text/x-handlebars-template">
		<div class="ps-item-property-info">
			<img class="vs-icon" th:src="@{/static/img/vs/{{image}}}" alt="{{type}}" title="{{type}}"/>
			<span class="ps-item-attr ps-item-prop-name">{{name}}</span>
		</div>
	</script>

	<script id="ob-select-option-template" type="text/x-handlebars-template">
		<div class="ps-item-property-info">
			<img class="vs-icon" th:src="@{/static/img/vs/{{image}}}" alt="{{type}}" title="{{type}}"/>
			<span class="ps-item-attr ps-item-prop-name">{{{searchTermHighlight name searchTerm}}}</span>
		</div>
		<div>
			<span class="ps-item-class-name">{{{searchTermHighlight className searchTerm}}}</span>
		</div>
	</script>

	<script type="text/javascript" th:src="@{/static/js/lib/handlebars.js}"></script>
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
	/*global Handlebars, doOntologyTreeHighlight, sortByKey*/
	var isSearchTab = false;

   	$(document).ready(function() {
		'use strict';

		Handlebars.registerHelper('searchTermHighlight', function(name, searchTerm) {
			var regex = new RegExp(searchTerm, 'gi');

			if (searchTerm && name) {
				return name.replace(regex, '<span class="ps-item-property-search-term">$&</span>');
			}
			return name;
		});

  		var displayOntologyTree = (function() {

			var generateFormattedResult = Handlebars.compile($('#ob-select-result-template').html()),
				generateFormattedOption = Handlebars.compile($('#ob-select-option-template').html()),

				formatResult = function(item) {
					var type = item.type;

					return generateFormattedResult({
						image: type === 'Property' ? 'property.svg' : 'variable.png',
						type: type,
						name: item.text
					});
				},

				format = function(item, container, query) {
					var type = item.type;

					return generateFormattedOption({
						image: type === 'Property' ? 'property.svg' : 'variable.png',
						type: type,
						name: item.text,
						searchTerm: query.term,
						className: item.parentTitle
					});
				};

			return function(treeName, treeData, searchTreeData, searchDivId) {

				// For triggering the start of search type ahead
				if (treeData == null) {
					return;
				}

				var termSuggestions = $.parseJSON(searchTreeData),
					termSuggestionsObj = [],
					termSuggestionsMap = {},
					$searchInput = $('#' + searchDivId),
					cachedSuggestions,
					cachedSearchTerm;

				// Initialize the arrays that would contain json data for the combos
				$.each(termSuggestions, function(index, value) {
					var obj = {
						text: value.value,
						parentTitle: value.parentTitle,
						type: value.type,
						key: value.key,
						id: value.key
					};
					termSuggestionsObj.push(obj);
					termSuggestionsMap[obj.key] = obj;
				});

				// Sort the search terms
				sortByKey(termSuggestionsObj, 'text');

				$searchInput.select2('destroy');

				$searchInput.select2({

					minimumResultsForSearch: 20,

					query: function(options) {

						var searchTerm = options.term.toLocaleLowerCase().trim(),
							result = {},
							suggestions;

						// If we have no cachedSuggestions, set them to be equal to the full list of suggestions
						cachedSuggestions = cachedSuggestions || termSuggestionsObj;

						// If our new search term is a progression on the last one (e.g. pla -> plant) we can further filter the
						// cachedSuggestions rather than filtering the whole list from scratch
						suggestions = searchTerm.lastIndexOf(cachedSearchTerm) === 0 ? cachedSuggestions : termSuggestionsObj;

						cachedSearchTerm = searchTerm;

						result.results = cachedSuggestions = $.grep(suggestions, function(prop) {

							// Include the object in the results if either the property name or class name contains the search term
							return prop.text.toLocaleLowerCase().indexOf(searchTerm) > -1 ||
								prop.parentTitle.toLocaleLowerCase().indexOf(searchTerm) > -1;
						});

						options.callback(result);
					},

					escapeMarkup: function(m) {
						// Do not escape HTML in the select options text
						return m;
					},
					formatResult: format,
					formatSelection: formatResult,
					dropdownCssClass: 'ps-results'
				});

				$('#' + treeName).dynatree({
					checkbox: false,
					// Override class name for checkbox icon:
					classNames: {
						container: 'fbtree-container',
						expander: 'fbtree-expander',
						nodeIcon: 'fbtree-icon',
						combinedIconPrefix: 'fbtree-ico-',
						focused: 'fbtree-focused',
						active: 'fbtree-active'
					},
					selectMode: 1,
					children: $.parseJSON(treeData),
					onActivate: function(node) {

						// Display list of selected nodes
						var selNodes = node.tree.getSelectedNodes(),
							// Convert to title/key array
							selKeys = $.map(selNodes, function(node) {
								return '[' + node.data.key + ']: \'' + node.data.title + '\'';
							});

						doOntologyTreeHighlight(treeName, node.data.key);
					},
					onSelect: function(select, node) {
						// Display list of selected nodes
						doOntologyTreeHighlight(treeName, node.data.key);
					},
					onKeydown: function(node, event) {
						if (event.which === 32) {
							return false;
						}
					}
				});
			};

		}());
		displayOntologyTree(treeDivId, treeData, searchTreeData, 'srch-term');
		$.fn.modal.Constructor.prototype.enforceFocus = function () {};
	});

      //]]>
    </script>
</div>