<div xmlns:th="http://www.thymeleaf.org" th:remove="tag">

	<form class="form-horizontal" th:object="${variableDetails}" style="margin: 20pt">
		<input id="selectedStdVarId" type="hidden" th:value="*{variable.id}"/>
		<div class="form-group">
			<label class="col-sm-4 col-xs-2 control-label label-bold" th:text="#{ontology.browser.detailstab.description} + ':'">Description:</label>

			<div class="col-sm-8 col-xs-10">
				<p class="form-control-static" th:text="*{variable.definition}">.description</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 col-xs-2 control-label label-bold"
				   th:text="#{ontology.browser.detailstab.traitClass} + ':'">Class:</label>

			<div class="col-sm-8 col-xs-10">
				<p class="form-control-static"><span th:text="${#strings.setJoin(variableDetails.variable.property.classes,',')}"></span>
				</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 col-xs-2 control-label label-bold"
				   th:text="#{ontology.browser.detailstab.property} + ':'">Property:</label>

			<div class="col-sm-8 col-xs-10">
				<p id="selectedProperty" class="form-control-static" th:text="*{variable.property.name}">.property</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 col-xs-2 control-label label-bold" th:text="#{ontology.browser.detailstab.method} + ':'">Method:</label>

			<div class="col-sm-8 col-xs-10">
				<p id="selectedMethod" class="form-control-static" th:text="*{variable.method.name}">.Method</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 col-xs-2 control-label label-bold" th:text="#{ontology.browser.detailstab.scale} + ':'">Scale:</label>

			<div class="col-sm-8 col-xs-10">
				<p id="selectedScale" class="form-control-static" th:text="*{variable.scale.name}">.Scale</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 col-xs-2 control-label label-bold" th:text="#{ontology.browser.detailstab.dataType} + ':'">Data
				Type:</label>

			<div class="col-sm-8 col-xs-10">
				<p class="form-control-static" th:text="*{variable.scale.dataType.name}">.Data Type</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 col-xs-2 control-label label-bold" th:text="#{ontology.browser.detailstab.role} + ':'">Variable
				Types:</label>

			<div class="col-sm-8 col-xs-10">
				<p class="form-control-static"><span th:text="${#strings.setJoin(variableDetails.variableTypeNames,',')}"></span></p>
			</div>

		</div>
		<div class="form-group">
			<label class="col-sm-4 col-xs-2 control-label label-bold" th:text="#{ontology.browser.detailstab.cropOntologyId} + ':'">Crop
				Ontology ID:</label>

			<div class="col-sm-8 col-xs-10">
				<p class="form-control-static" >
					<a id="cropOntologyId" target="_blank" href="http://www.cropontology.org/terms"
					   th:href="@{http://www.cropontology.org/terms/} + *{variable.property.cropOntologyId} + '/'" th:text="*{variable.property.cropOntologyId}"></a>
				</p>
			</div>
		</div>

	</form>

</div>
