<div xmlns:th="http://www.thymeleaf.org">

	<form class="form-horizontal" th:object="${ontologyDetailsForm}">
		<input type="hidden" id="selectedStdVarId" value="" />
        <input type="hidden" id="selectedName" value=""/>
        <input type="hidden" th:field="*{possiblePairsJson}" />
		<div class="form-group">
			<label class="col-xs-4 col-lg-4 control-label" th:text="#{ontology.browser.detailstab.traitClass} + ':'">Trait Class:</label>
			<div class="col-xs-6 col-lg-6">
				<p class="form-control-static" th:text="*{traitClassName}">.trait Class</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-4 col-lg-4 control-label" th:text="#{ontology.browser.detailstab.property} + ':'">Property:</label>
			<div class="col-xs-6 col-lg-6">
				<p id="selectedProperty" class="form-control-static" th:text="*{propertyName}">.property</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-4 col-lg-4 control-label" th:text="#{ontology.browser.detailstab.method} + ':'">Method:</label>
			<div class="col-xs-6 col-lg-6">
				<p id="selectedMethod" class="form-control-static" th:text="*{methodName}">.Method</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-4 col-lg-4 control-label" th:text="#{ontology.browser.detailstab.scale} + ':'">Scale:</label>
			<div class="col-xs-6 col-lg-6">
				<p id="selectedScale" class="form-control-static" th:text="*{scaleName}">.Scale</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-4 col-lg-4 control-label" th:text="#{ontology.browser.detailstab.dataType} + ':'">Data Type:</label>
			<div class="col-xs-6 col-lg-6">
				<p class="form-control-static" th:text="*{dataTypeName}">.Data Type</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-4 col-lg-4 control-label" th:text="#{ontology.browser.detailstab.role} + ':'">Role:</label>
			<div class="col-xs-6 col-lg-6">
				<p id="selectedRole" class="form-control-static" th:text="*{roleName}">.Role</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-4 col-lg-4 control-label" th:text="#{ontology.browser.detailstab.cropOntologyId} + ':'">Crop Ontology ID:</label>
			<div class="col-xs-6 col-lg-6">
				<p class="form-control-static" >
					<a id="cropOntologyId" target="_blank" href="http://www.cropontology.org/terms" th:href="@{http://www.cropontology.org/terms/} + *{cropOntologyId} + '/'" th:text="*{cropOntologyId}"></a>
				</p>
			</div>
		</div>
		<div class="form-group select-variable">
		<br />
			<div class="col-xs-5 col-lg-5"></div>
			<div class="col-xs-7 col-lg-7">
                     <input type="button" id="addVariable" value="Select" th:value="#{common.form.select.text}" class="btn btn-info" onClick="addVariableToList();" />
			</div>
		</div>
	</form>

</div>
