<div xmlns:th="http://www.thymeleaf.org" th:remove="tag">
	<!-- Tab Navigation section -->

	<ul id="ontology-tab-headers" class="nav nav-tabs" >
		<li id="ontology-details-tab-li" class="active"><a href="javascript:showSelectedTab('ontology-details-tab');" th:text="#{ontology.browser.tab.details}">Attributes</a></li>
		<li id="ontology-values-tab-li"><a href="javascript:showSelectedTab('ontology-values-tab');" th:text="#{ontology.browser.tab.validValues}">Valid Values</a></li>
	</ul>
	
	<!-- details section -->
	<div id="ontology-tabs" style="padding-top: 15px;"
		 th:attr="data-selectedVariableName=${variableDetails.variable.name},data-selectedVariableID=${variableDetails.variable.id},data-selectedVariableTypeId=${variableDetails.currentVariableType.id}">
		<div id="ontology-details-tab" th:include="/OntologyBrowser/detailsTab" ></div>
		<div id="ontology-values-tab" th:include="/OntologyBrowser/validValuesTab" style="display:none;"></div>
	</div>
</div>
