<div th:if="${isPopup == false}" class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div   class="page-header">
		<h1  th:text="#{ontology.browser.header}">
			Standard Variables and Ontology Browser
		</h1>
	</div>
</div>
<div th:if="${isPopup == true}" class="row">
	&nbsp;
</div>
<div th:if="${isPopup == true}" class="row">
	&nbsp;
</div>
<div class="row">
<div class="panel panel-default">
   	<div class="panel-body manage-settings-panel-body">
		<div th:include="/OntologyBrowser/browserInfo"></div>
     </div>
  </div>
</div>
<div layout:fragment="page-script">

	<script type="text/javascript" th:src="@{/static/js/ontologyBrowser.js}"></script>
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
	/*globals doOntologyTreeHighlight*/

    var treeData = /*[[${ontologyBrowserForm.treeData}]]*/ '';
    var searchTreeData = /*[[${ontologyBrowserForm.searchTreeData}]]*/ '';
    var treeDivId = 'ontologyBrowserTree';
   	var ontologyUrl = $('#ontologyBaseUrl').attr('href');


   	$( document ).ready(function() {
   		'use strict';
   		$('#ontology-detail-tabs').empty().html($('.variable-detail-info').html());
   		$('#srch-term').on('change', function(event) {
	    	var data = $('#srch-term').select2('data');
	    	doOntologyTreeHighlight(treeDivId, data.key);
	    });
   	});

      //]]>
    </script>
</div>