<div  class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div   class="page-header">
		<h1 th:if="${isPopup == false}" th:text="#{ontology.browser.header}">
			Standard Variables and Ontology Browser
		</h1>
	</div>		
</div>

<div class="row">
<div class="panel panel-default">
   	<div class="panel-body manage-settings-panel-body">
		    		
		<div class="row">
			<div class="col-xs-10 col-md-10">	
			&nbsp;
			</div>
			<div class="col-xs-2 col-md-2">	
				 <a  th:if="${isPopup == false}" href="/OntologyManageVariable/" class="btn btn-info" th:href="@{/OntologyManager/manage/variable}" th:text="#{ontology.browser.button.manage.variable}">.Manage Variable</a>
			</div>
		</div>	
		<div th:include="/OntologyBrowser/browserInfo"></div>
     </div>
  </div>
</div>
<div layout:fragment="page-script">		
	<link th:href="@{/static/css/typeahead.js-bootstrap.css}" rel="stylesheet"/>
	<script type="text/javascript" th:src="@{/static/js/ontologyBrowser.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/typeahead.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/Hogan.js}"></script>
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[    
    var treeData = /*[[${ontologyBrowserForm.treeData}]]*/;
    var searchTreeData = /*[[${ontologyBrowserForm.searchTreeData}]]*/;
    var treeDivId = 'ontologyBrowserTree';
    var seasrchErrorMessage = /*[[#{ontology.search.error.no.result}]]*/;
   	var variableDetailHeader = /*[[#{ontology.variable.details}]]*/;
   	
   	var ontologyUrl = $('#ontologyBaseUrl').attr('href');
   	
   

  	
   	$('#srch-term').on("keypress", function(e) {
        if (e.keyCode == 13) {
        	//doSearchTree();
            return false; // prevent the button click from happening
        }
	});
  
      //]]>
    </script>
</div>