<div xmlns:th="http://www.thymeleaf.org">

	<form id="usageTabForm" class="form-horizontal"  th:object="${ontologyDetailsForm}">

		<div th:if="*{dataTypeName != null AND #strings.startsWith(dataTypeName,'Numeric')}">
		
			<div th:if="*{constraints == null}">
				<div th:text="#{ontology.browser.validValuesTab.noMinMaxValue}">This numeric variable has no mininum and maximum value constraint</div>
			</div>
			<div th:unless="*{constraints == null}">
 				<div class="form-group">
					<label class="col-xs-8 col-lg-8 control-label" th:text="#{ontology.browser.validValuesTab.minValue} + ':'">Minimum Value:</label>
					<div class="col-xs-2 col-lg-2">
						<p class="form-control-static" th:text="*{constraints.minValue}">.0</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-8 col-lg-8 control-label" th:text="#{ontology.browser.validValuesTab.maxValue} + ':'">Maximum Value:</label>
					<div class="col-xs-2 col-lg-2">
						<p  class="form-control-static" th:text="*{constraints.maxValue}">.0</p>
					</div>
				</div>
			</div>
		</div>

		<div th:if="*{dataTypeName != null AND #strings.startsWith(dataTypeName,'Categorical')}">
			<div th:if="*{categoricalValues == null}">
				<div th:text="#{ontology.browser.validValuesTab.noCategoricalValue}">This categorical variable has no pre-defined set of valid values</div>
			</div>
			<div th:unless="*{categoricalValues == null}">
				<table class="table table-striped table-bordered">
					<tr>
						<th>Label</th>
						<th>Description</th>
					</tr>
					<tr  th:each="choice, rowStat : *{categoricalValues}">
						<td th:text="*{categoricalValues[__${rowStat.index}__].name}">&nbsp;</td>
						<td th:text="*{categoricalValues[__${rowStat.index}__].description}" >&nbsp;</td>
					</tr>
				</table>
 			</div>
		</div>
		
		<div  th:if="*{dataTypeName != null AND #strings.startsWith(dataTypeName,'Character')}">
			<div th:text="#{ontology.browser.validValuesTab.characterVariableValidValue}">Character variables have no pre-defined selection of values</div>
		</div>
		
	</form>
	
</div>