<div xmlns:th="http://www.thymeleaf.org">

	<form id="usageTabForm" class="form-horizontal"  th:object="${ontologyDetailsForm}">

		<div th:if="*{dataTypeName != null AND #strings.startsWith(dataTypeName,'Numeric')}">
		
			<div th:if="*{constraints == null}">
				<div th:text="#{ontology.browser.validValuesTab.noMinMaxValue}">This numeric variable has no mininum and maximum value constraint</div>
			</div>
			<div th:unless="*{constraints == null}">
 				<div class="form-group">
					<label class="col-lg-8 control-label" th:text="#{ontology.browser.validValuesTab.minValue} + ':'">Minimum Value:</label>
					<div class="col-lg-2">
						<p class="form-control-static" th:text="*{constraints.minValue}">.0</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-8 control-label" th:text="#{ontology.browser.validValuesTab.maxValue} + ':'">Maximum Value:</label>
					<div class="col-lg-2">
						<p  class="form-control-static" th:text="*{constraints.maxValue}">.0</p>
					</div>
				</div>
			</div>
		</div>

		<div th:if="*{dataTypeName != null AND #strings.startsWith(dataTypeName,'Categorical')}">
			<div th:if="*{categoricalValues == null}">
				<div th:text="#{ontology.browser.validValuesTab.noCategoricalValue}">This categorical variable has no pre-defined set of valid values</div>
			</div>
			<div th:unless="*{categoricalValues == null}">
				<ul class="list-group">
					<li class="list-group-item"   th:text="*{categoricalValues[__${rowStat.index}__].description}" 
			    		th:each="choice, rowStat : *{categoricalValues}">Value</li>
				</ul>
			</div>
		</div>
		
		<div  th:if="*{dataTypeName != null AND #strings.startsWith(dataTypeName,'Character')}">
			<div th:text="#{ontology.browser.validValuesTab.characterVariableValidValue}">Character variables have no pre-defined selection of values</div>
		</div>
		
	</form>
	
</div>