<div class="row" ng-cloak="">
	<div class="col-xs-12">
		<h1>Division title: {{division.name}}</h1>
		<div>

			<button class="btn btn-info" ng-click="addDataTable()">addDataTable</button>
			<button class="btn btn-info" ng-click="togglePreviewMode()">Toggle Preview mode</button>

			<br/>

			<div ng-if="preview" class="add_top_padding_small">
				<h2>Preview</h2>

				<button class="btn btn-info" ng-click="resetPreview()">Reset Preview</button>
				<button class="btn btn-info" ng-click="savePreview()">Save Preview</button>

				<label>Review Variable</label>
				<ui-select ng-model="nested.reviewVariable" style="width: 200px;"
						   ng-if="columnsObj"
						   ng-change="filterVariable()"
						   theme="select2">
					<ui-select-match class="ui-select-match">
						<span ng-bind="$select.selected.title"></span>
					</ui-select-match>
					<ui-select-choices repeat="column in (columnsObj.columns | filter: { title: $select.search, className: 'variates' }) track by column.termId">
						<span ng-bind="column.title"></span>
					</ui-select-choices>
				</ui-select>

			</div>

			<div ng-if="!preview">
				<table id="subobservation-table-{{subObservation.id}}-{{division.id}}"
					   datatable=""
					   dt-options="dtOptions"
					   dt-columns="dtColumns"
					   dt-column-defs="dtColumnDefs"
					   width="100%"
					   class="table-curved table-condensed">
				</table>
			</div>

			<!-- Preview Table -->
			<div ng-if="preview">
				<table id="preview-subobservation-table-{{subObservation.id}}-{{division.id}}"
					   datatable=""
					   dt-instance="nested.dtInstance"
					   dt-options="dtOptionsPreview"
					   width="100%"
					   dt-columns="dtColumns"
					   dt-column-defs="dtColumnDefs"
					   class="table-curved table-condensed">
				</table>
			</div>

		</div>
	</div>
</div>
