<div class="row" ng-cloak="">
	<div class="col-xs-12">
		<h1>Division title: {{division.name}}</h1>
		<div ng-if="preview">
			<h2>Preview</h2>
			<button ng-click="resetPreview()">Reset Preview</button>
			<button ng-click="savePreview()">Save Preview</button>
		</div>
		<div>
			<button ng-click="addDataTable()">addDataTable</button>
			<button ng-click="togglePreviewMode()">Toggle Preview mode</button>
			<div ng-if="!preview">
				<table id="subobservation-table-{{subObservation.id}}-{{division.id}}"
					   datatable=""
					   dt-options="dtOptions"
					   dt-columns="dtColumns"
					   dt-column-defs="dtColumnDefs"
					   width="100%"
					   class="table-curved table-condensed">
				</table>
			</div>
			<!-- Preview Table -->
			<div ng-if="preview">
				<table id="preview-subobservation-table-{{subObservation.id}}-{{division.id}}"
					   datatable=""
					   dt-instance="nested.dtInstance"
					   dt-options="dtOptionsPreview"
					   width="100%"
					   dt-columns="dtColumns"
					   dt-column-defs="dtColumnDefs"
					   class="table-curved table-condensed">
				</table>
			</div>
		</div>
	</div>
</div>
