<div class="row" ng-cloak="">
	<div class="col-xs-12">
		<h1>{{title}}</h1>

		<ul class="nav nav-tabs fb-tabs-headers">
			<li ng-repeat="subObservationSet in subObservationTab.subObservationSets" ui-sref-active="active">
				<a ui-sref="subObservationTabs.subObservationSets({ subObservationSetId: subObservationSet.id, subObservationSet: subObservationSet })">
					{{subObservationSet.name}}</a>
			</li>
		</ul>

		<div class="fb-tabs" style="padding-top: 15px;">
			<div class="info">
				<div class="col-xs-12" ui-view=""></div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

