<div ng-cloak="">
	<div class="label label-warning center-block" ng-if="subObservationSet.hasPendingData" style=" width: 90px">pending data</div>
	<section-container th:attr="heading=#{study.managesettings.observation.details}" collapsible="true" toggle-section="toggleSection">
		<div name="content">
			<div class="col-xs-12 col-md-12">
				<div class="row">
					<div class="col-xs-6 col-md-6">
						<section-container name="content" th:attr="heading=#{study.managesettings.baseline.traits},
							   help-tooltip=#{study.managesettings.trait.notes},icon-img=@{/static/img/baseline-traits.png}"
										   icon-size="22" add-variable="true" model-data="traitVariables"
										   selected-variables="selectedVariables"
										   variable-type="1808"
										   callback="onAddVariable(result,1808)" on-hide-callback="onHideCallback"
										   select-variable-callback="selectVariableCallback" hide-variable="addVariable">

							<dataset-settings hide-delete="isHideDelete" name="content" settings="traitVariables" variable-type="1808"
											  predelete-function="onRemoveVariable"></dataset-settings>
						</section-container>
					</div>
					<div class="col-xs-6 col-md-6">
						<section-container name="content" th:attr="heading=#{study.studydetails.variates},
							   help-tooltip=#{study.managesettings.selection.tooltip},icon-img=@{/static/img/variates.png}"
										   icon-size="22" add-variable="true" model-data="selectionVariables"
										   selected-variables="selectedVariables"
										   variable-type="1807"
										   callback="onAddVariable(result,1807)" on-hide-callback="onHideCallback"
										   select-variable-callback="selectVariableCallback" hide-variable="addVariable">

							<dataset-settings hide-delete="isHideDelete" name="content" settings="selectionVariables" variable-type="1807"
											  predelete-function="onRemoveVariable"></dataset-settings>
						</section-container>
					</div>
				</div>
			</div>
		</div>
	</section-container>
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">

				<div class="btn-group pull-right" ng-if="enableActions">
					<button type="button" class="btn btn-info dropdown-toggle fbk-action-btn" data-toggle="dropdown">
						<span>Observation set Actions</span>
					</button>
					<ul class="dropdown-menu fbk-right-button-drop-down" role="menu">
						<li>
							<a ng-click="subDivide()">Subdivide Sub-observation units</a>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>

	<div id="subObservationTableContainer" class="col-xs-12 add-top-padding-small">

		<div class="row">
			<div class="col-xs-12">
				<img th:src="@{/static/svg/measurements.svg}" style="position: relative; bottom: 3px; width:22px; height:22" />
				<strong class="sub-content-heading measurements-header">Observations</strong>
				<div style=" float: right; width: 157px; ">
					<div class="btn-group btn-group-justified " role="group" aria-label="...">
						<div class="btn-group" role="group">
							<button type="button" class="btn"
									ng-class="isPendingView ? 'btn-primary btn-inverse' : 'btn-info'"
									ng-click="togglePendingView(false)"
									style="text-transform: uppercase">Accepted
							</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn"
									ng-disabled="!subObservationSet.hasPendingData"
									ng-attr-title="{{subObservationSet.hasPendingData ? '' : 'There is no pending data'}}"
									ng-class="!subObservationSet.hasPendingData ? 'btn-default' : isPendingView ? 'btn-primary' : 'btn-warning btn-inverse'"
									ng-click="togglePendingView(true)"
									style="text-transform: uppercase">Pending
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row add_top_padding" ng-if="isPendingView">
			<div class="col-xs-12">
				<div class="btn-group" role="group" style="float: right; margin-left: 5px">
					<button type="button" class="btn btn-default" ng-click="rejectDraftData()">Discard pending data</button>
				</div>
				<div class="btn-group" role="group" style="float: right">
					<button type="button" class="btn btn-info" ng-click="acceptDraftData()">Accept pending data</button>
				</div>
			</div>
		</div>
		<div class="row add_top_padding">
			<div class="col-xs-12">
				<div class="dataTables_info fbk-std-padding-right pull-left">Select Environment:</div>
				<ui-select ng-model="nested.selectedEnvironment"
						   class="input-sm form-control fbk-std-padding-right inline-select"
						   ng-change="changeEnvironment()" search-enabled="false" theme="select2">
					<ui-select-match class="ui-select-match">
						{{(nested.selectedEnvironment.instanceNumber ? nested.selectedEnvironment.instanceNumber + ' - ' : '') + (nested.selectedEnvironment.locationName || nested.selectedEnvironment.locationAbbreviation || nested.selectedEnvironment.instanceNumber)}}
					</ui-select-match>
					<ui-select-choices repeat="env in (environments | filter: { locationName: $select.search}) track by env.instanceDbId">
						{{(env.instanceNumber ? env.instanceNumber + ' - ' : '') + (env.locationName || env.locationAbbreviation || env.instanceNumber)}}
					</ui-select-choices>
				</ui-select>

				<div id="subObsCategoricalDescriptionBtn" class="btn btn-link pull-right" ng-click="toggleShowCategoricalDescription()">
					<span ng-if="!isCategoricalDescriptionView" th:text="#{observations.show.categorical.description}"></span>
					<span ng-if="isCategoricalDescriptionView" th:text="#{observations.hide.categorical.description}"></span>
				</div>
			</div>
		</div>
		<div class="row add_top_padding">
			<div class="col-xs-12">
				<table id="subobservation-table-{{subObservationTab.id}}-{{subObservationSet.id}}"
					   datatable=""
					   dt-instance="nested.dtInstance"
					   dt-options="dtOptions"
					   dt-columns="dtColumns"
					   dt-column-defs="dtColumnDefs"
					   width="100%"
					   class="table-curved table-condensed">
				</table>
			</div>
		</div>
	</div>
</div>
