<div class="row" ng-cloak="">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<!--<h1>{{subObservationSet.name}}</h1>-->
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">

				<div class="btn-group pull-right" ng-if="enableActions">
					<button type="button" class="btn btn-info dropdown-toggle fbk-action-btn" data-toggle="dropdown">
						<span>Observation set Actions</span>
					</button>
					<ul class="dropdown-menu fbk-right-button-drop-down" role="menu">
						<li>
							<a ng-click="subDivide()">Subdivide Sub-observation units</a>
						</li>
						<!--
						<li>
							<a ng-click="togglePreviewMode()">Toggle Review out-of-bound data</a>
						</li>
						<li class="dropdown-submenu pull-left" ng-if="preview">
							<a tabindex="-1" href="#">Review options</a>
							<ul class="dropdown-menu">
								<li>
									<a ng-click="savePreview()">Save Preview</a>
								</li>
								<li>
									<a ng-click="resetPreview()">Reset Preview</a>
								</li>
							</ul>
						</li>
						-->
					</ul>
				</div>

			</div>
		</div>
	</div>

	<div class="col-xs-12 add-top-padding-small">

		<div class="row">
			<div class="col-xs-12">

				<div ng-if="preview">
					<h2>Preview Mode</h2>

					<div class="add-top-padding-small">
						<label>Review Variable</label>
						<ui-select ng-model="nested.reviewVariable" style="width: 200px;"
								   ng-if="columnsObj"
								   ng-change="filterVariable()"
								   theme="select2">
							<ui-select-match class="ui-select-match">
								<span ng-bind="$select.selected.title"></span>
							</ui-select-match>
							<ui-select-choices repeat="column in (columnsObj.columns | filter: { title: $select.search, className: 'variates' }) track by column.termId">
								<span ng-bind="column.title"></span>
							</ui-select-choices>
						</ui-select>
					</div>

				</div>
			</div>
		</div>

		<div ng-if="!preview" class="add-top-padding-small">

			<div class="pull-left">
				<div class="dataTables_info fbk-std-padding-right pull-left">Select Environment: </div>
				<ui-select ng-model="nested.selectedEnvironment"
						   class="input-sm form-control fbk-std-padding-right inline-select"
						   ng-change="changeEnvironment()" search-enabled="false" theme="select2">
					<ui-select-match class="ui-select-match">
						{{nested.selectedEnvironment.instanceNumber + ' - ' + (nested.selectedEnvironment.locationName || nested.selectedEnvironment.locationAbbreviation || nested.selectedEnvironment.instanceNumber)}}
					</ui-select-match>
					<ui-select-choices repeat="env in (environments | filter: { locationName: $select.search}) track by env.instanceDbId">
						{{env.instanceNumber + ' - ' + (env.locationName || env.locationAbbreviation || env.instanceNumber)}}
					</ui-select-choices>
				</ui-select>
			</div>

			<table id="subobservation-table-{{subObservationTab.id}}-{{subObservationSet.id}}"
				   datatable=""
				   dt-options="dtOptions"
				   dt-columns="dtColumns"
				   dt-column-defs="dtColumnDefs"
				   width="100%"
				   class="table-curved table-condensed">
			</table>
		</div>

		<!-- Preview Table -->
		<div ng-if="preview" class="add-top-padding-small">
			<table id="preview-subobservation-table-{{subObservationTab.id}}-{{subObservationSet.id}}"
				   datatable=""
				   dt-instance="nested.dtPreviewInstance"
				   ng-if="dtOptionsPreview"
				   dt-options="dtOptionsPreview"
				   width="100%"
				   dt-columns="dtColumns"
				   dt-column-defs="dtColumnDefs"
				   class="table-curved table-condensed">
			</table>
		</div>

	</div>
</div>
