<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
    <!-- Modal -->
    <div class="modal fade import-study-data import-window" id="crossSetBreedingMethodModal"
         role="dialog"
         aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-medium">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-xs-11 col-md-11">
                            <label class="modal-title fbk-modal-title" id="heading-modal"
                                   th:text="#{study.import.crosses.settings.breeding.method.header}">Specify Breeding Method</label>
                        </div>
                        <div class="col-xs-1 col-md-1">
                            <button id="close" type="button" class="close  pull-right glyphicon glyphicon-remove"
                                    data-dismiss="modal" aria-hidden="true"></button>
                        </div>
                    </div>

                    <div class="separator">
                    </div>

                    <div class="row">
                        <div class="col-xs-1 col-md-1">
                            &nbsp;
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <label th:text="#{study.import.crosses.settings.breeding.method.text}"></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-1 col-md-1">
                            &nbsp;
                        </div>
                    </div>

                    <div class="row form-group" id="breedingMethodDiv">
                        <!--First option will be displayed only when it comes from Importing a file -->
                        <div class="col-xs-12 col-md-12 add-top-bottom-padding" id="useBreedingInTheImportFile">
                            <label class="radio-inline">
                                <input type="radio" class="crossingBreedingMethodInput" id="selectMethodInImportFile" name="breeding-method-radio" value="1"/>
                                <span th:text="#{study.import.crosses.settings.breeding.method.import.file.label}">Use the breeding methods specified in the import file</span>
                            </label>
                        </div>

                        <div class="col-xs-12 col-md-12">
                            <label class="radio-inline">
                                <input type="radio" class="crossingBreedingMethodInput" id="selectUseParentalStatus" name="breeding-method-radio" value="2"/>
                                <span th:text="#{study.import.crosses.settings.parental.status.label}">Use parental status</span>
                            </label>
                        </div>

                        <div class="col-xs-12 col-md-12 add-top-bottom-padding">
                            <label class="radio-inline">
                                <input type="radio" class="crossingBreedingMethodInput" id="selectMethodForAllCrosses" name="breeding-method-radio" value="3"
                                       th:checked="false"/>
                                <span th:text="#{study.import.crosses.settings.breeding.method.label}">Select a method to use for all crosses</span>
                            </label>
                        </div>

                        <div class="col-xs-12 col-md-12 add-left-padding add-bottom-padding" id="breedingMethodSelectionDiv">

                            <div class="col-xs-12 col-md-12">
                                <div class="col-xs-6 col-md-6">
                                    <input type="hidden" name="breedingMethodID"
                                           id="breedingMethodDropdown"/>
                                </div>
                                <div class="col-xs-6 col-md-6 nopadding">
                                    <span class="bms-fa-question-circle help-tooltip-crosses-flow fbk-help" data-placement="right" data-help-link="MANAGE_BREEDING_METHODS"></span>

                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 add-top-bottom-padding breeding-method-selector">
                                <div class="col-xs-5 col-md-5">
                                    <label class="radio-inline">
                                        <input id="showAllMethodOnlyRadio" name="cross_import_method_filter" value="2" type="radio"/>
                                        <span th:text="#{show.all.methods}">All Methods</span>
                                        &nbsp;&nbsp;
                                    </label>
                                </div>
                                <div class="col-xs-7 col-md-7">
                                    <label class="radio-inline">
                                        <input id="showBreedingMethodOnlyRadio" name="cross_import_method_filter" value="1" type="radio"
                                               checked="checked"/>
                                        <span th:text="#{show.generative.method}">Generative methods</span>
                                        &nbsp;&nbsp;
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12">
                                <div class="col-xs-5 col-md-5">

                                    <input type="checkbox" class="crossingBreedingMethodInput" id="showFavoritesOnlyCheckbox"/>
                                    &nbsp;
                                    <label th:text="#{show.favorite.method}"></label>
                                    &nbsp;
                                </div>
                                <div class="col-xs-7 col-md-7">

                                    <a href="javascript: ImportCrosses.openBreedingMethodsModal();"
                                       th:text="#{study.managesettings.manage.method}"></a>
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12" id="applyGroupingOptionDiv">
                            <div class="col-xs-5 col-md-11">

                                <input type="checkbox" id="applyGroupingCheckBox"/>
                                &nbsp;
                                <label th:text="#{apply.grouping.to.new.crosses.only}"></label>
                                &nbsp;
                            </div>
                         </div>


                    </div>
                    <div class="separator">
                    </div>
                </div>


                <div class="modal-footer add-top-bottom-padding">
                    <button type="button" class="btn btn-default go-back-to-import" id="goBackToImportCrossesButton"
                            aria-hidden="true" th:text="#{common.form.back.text}">Back
                    </button>
                    <button type="button" class="btn btn-primary"
                            aria-hidden="true" th:text="#{common.form.continue.text}" id="setNamingNextButton">Continue
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="page-script">
    <script type="text/javascript" th:src="@{/static/js/breeding-methods.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/locations.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/import-crosses.js}"></script>
    <script type="text/javascript" th:inline="javascript">
    </script>
</div>
