<div class="col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1>
			Bar Code Sample
		</h1>				

	</div>
	
	<form role="form-horizontal" onsubmit="return do_validation()" action="#" th:action="@{/barcode}" method="post" th:object="${barCodeForm}" enctype="multipart/form-data">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<label class="control-label">Entry #:</label>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" th:field="*{entryNo}" />
					</div>		
					<div class="col-md-2">
						<label class="control-label">GID:</label>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" th:field="*{gid}" />
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<label class="control-label">Designation:</label>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" th:field="*{designation}" />
					</div>		
					<div class="col-md-2">
						<label class="control-label">Trial/Nursery Name:</label>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" th:field="*{name}" />
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<label class="control-label">Rep:</label>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" th:field="*{rep}" />
					</div>		
					<div class="col-md-2">
						<label class="control-label">Plot Coordinates</label>
					</div>
					<div class="col-md-1">
						<label class="control-label">Col</label>
					</div>
					<div class="col-md-1">
						<input type="text" class="form-control" th:field="*{column}" />
					</div>
					<div class="col-md-1">
						<label class="control-label">Range</label>
					</div>
					<div class="col-md-1">
						<input type="text" class="form-control" th:field="*{range}" />
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-offset-11 col-md-1">
						<input type="submit" th:value="#{common.form.submit.text}" class="btn btn-primary"/>
					</div>
				</div>
			</div>
		</div>
	
	</form>
</div>
<!-- Scripts location, note that the div tag will be remove after merging to decorator -->
<div layout:fragment="page-script">
<script type="text/javascript" th:src="@{/static/js/bootstrap-fileupload.js}"></script>
<script type="text/javascript" th:inline="javascript">
		//<![CDATA[          
		           
		function do_validation() {
			if ($('#fileupload').val() == "") {
				var message = /*[[#{common.error.file.no.file.selected}]]*/;
				
				
				$("#page-message").html(
		    			"<div class='alert alert-danger'>"+ message +"</div>"
		    		);
				
				$('div.fileupload').parent().parent().addClass('has-error');
				
				return false;
			}
			
			return true;
		}
			
		//]]>
</script>

</div>