	<div class="jumbotron">
		<div class="container">
	    <h1>
			Fieldbook Main
		</h1>
		<p>
			This is for new Fieldbook Application.
		</p>
	  </div>
	</div>
	
	<ul class="nav nav-pills">
	  <li th:class="${templateName == 'demo/testPage'} ? 'active' : ''"><a href="testPage.html" th:href="@{/}" >Home</a></li>
	  <li th:class="${templateName == 'demo/test'} ? 'active' : ''"><a href="test.html" th:href="@{/test}">Test 1</a></li>
	  <li th:class="${templateName == 'demo/test2'} ? 'active' : ''"><a href="test2.html" th:href="@{/test2}">Daniel's Demo</a></li>
	</ul>
	