<div class="col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1>Test Table</h1>
	</div>
	<form th:object="${test2JavaForm}" th:remove="tag">
		<div class="alert alert-danger" th:if="${#fields.hasErrors('*')} "
			th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
	</form>
	<form role="form-horizontal" class="form-horizontal" action="#"
		th:action="@{/testTable/doSubmit}" method="post"
		th:object="${test2JavaForm}">
	<div class="form-group row">
		<div class="col-md-12">
			<h3>Nursery-Level Details (Static Table)</h3>

			<table border="1" cellpadding="5" cellspacing="5">
				<tr>
					<th>Condition</th>
					<th>Description</th>
					<th>Property</th>
					<th>Scale</th>
					<th>Method</th>
					<th>Value</th>
				</tr>
				<tr>
					<td>PI</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>Daniel Jao</td>
				</tr>
				<tr>
					<td>Site</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>Daniel's Fields</td>
				</tr>
				<tr>
					<td>B.Method</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>Storm method</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-md-12">
			<h3>Location Details (Data from DB)</h3>
			<table border="1" cellpadding="5" cellspacing="5">
				<thead>
					<tr>
						<th>Location ID</th>
						<th>Name</th>
						<th>Abbreviation</th>
						<th>Country Id</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="choice, rowStat : *{locationList}">
						<td th:text="*{locationList[__${rowStat.index}__].locid}">Location Id</td>
						<td th:text="*{locationList[__${rowStat.index}__].lname}">Location Name</td>
						<td th:text="*{locationList[__${rowStat.index}__].labbr}">Abbrevation</td>
						<td th:text="*{locationList[__${rowStat.index}__].cntryid}">Country Id</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

		<div class="form-group row">
			<div class="col-md-12">
				<h3>Input Location Details</h3>
				<div class="col-md-12">
					<table border="1" cellpadding="5" cellspacing="5">
						<tr>
							<th>Location Id</th>
							<th>Name</th>
							<th>Location</th>
							<th>Methods</th>
						</tr>
						<tr>
							<td valign="top">
								<input type="text" th:field="*{locationId}" class="form-control" />
							</td>
							<td valign="top">
								<input type="text" th:field="*{name}" class="form-control" />
							</td>
							<td valign="top">
								<select th:field="*{locationId}" class="form-control">
									<option
										th:value="*{locationList[__${rowStat.index}__].locid}"
										th:text="*{locationList[__${rowStat.index}__].lname}"
										th:each="choice, rowStat : *{locationList}">Philippines</option>
								</select>
							</td>
							<td>
								<div th:each="choice, rowStat : *{methodList}">
									<input th:field="*{methodIds}" type="checkbox" value="" th:value="*{methodList[__${rowStat.index}__].mid}" /> 
									<label class="control-label" th:text="*{methodList[__${rowStat.index}__].mname}">Method Name</label>
								</div>
							</td>
						</tr>
					</table>

				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<input type="submit" value="Submit" class="btn btn-primary btn-lg" />
			</div>
		</div>
	</form>



</div>
