 <input type="hidden" id="study-type" name="study-type" value="Nursery" />
 <form role="form-horizontal"  action="#" 
     method="post" th:object="${createNurseryForm}">
 <div th:class="${#fields.hasErrors('file')} ? 'form-group has-error' : 'form-group'">
           <div class="alert alert-danger" th:if="${#fields.hasErrors('*')} " th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
  </div>
  </form>
  
	<div id="page-message"> 
	</div>
		
<div class="col-xs-12 col-md-12">
  
	
	<div id="germplasm-measurement-list-table-div" th:include="/Common/showAddOrRemoveTraitsPagination">
   	</div>		    	
	<!-- 
	<div class="form-group">
	    <div class="col-xs-5 col-md-5">&nbsp;</div> 
	    <div class="col-xs-7 col-md-7">
	      	<a id="btnBack" href="" th:href="@{/NurseryManager/importGermplasmList}"   th:text="#{common.form.back.text}" class="btn btn-default" />
	      	<input type="button" id="btnUpdate" th:value="#{common.form.update.text}" class="btn btn-primary" onclick="doSave();return false;"/>	      
	    </div>
	  </div>
	-->
	
</div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div id="manage-location" th:include="/Common/openStudyModals"></div>
        </div>
    </div>
          								    		

<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
	           
	            
		function doSave(){
			if(validateCells() == false)
				return false;
  	      	var $form = $("#addVariableForm");
  			serializedData = $form.serialize();
  			$("btnUpdate").attr("disabled", "disabled");
			Spinner.toggle();

			$.ajax({
				url: "/Fieldbook/Common/addOrRemoveTraits/Nursery/updateTraits",
				type: "post",
				dataType: "json",
				data: serializedData,
			    success: function(data){
				    if (data.status == "1") {
				    	$('#successMessageModal').modal({ backdrop: 'static', keyboard: true }) 
				    	$("#successMessageModal").modal("show");
			       	} else if (data.status == "-1") {
			       		showErrorMessage('page-message', data.errorMessage);
			       	}
			   }, 
			   error: function(jqXHR, textStatus, errorThrown){
					console.log("The following error occured: " + textStatus, errorThrown); 
			   }, 
			   complete: function(){  
				   $("btnUpdate").removeAttr("disabled");
				   Spinner.toggle();
			   } 
			});
		}     
       
      //]]>
    </script>
