<div class="page-header">
	<h1>
		Step 3: Add or Remove Traits
	</h1>
	
	<div class="progress">
	  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
	    <span class="sr-only">75% Complete</span>
	  </div>
	</div>
</div>

	<div id="page-message"> 
	</div>

<form id="addVariableForm" role="form-horizontal" onsubmit="return validateCells();" class="form-horizontal" action="#" 
	th:action="@{/NurseryManager/addOrRemoveTraits}" method="post" th:object="${addOrRemoveTraitsForm}" enctype="multipart/form-data">
	<div class="form-group" id="page-message"></div>
	
       <div class="germplasm-measurement-list-table  component">
       <!-- my-class table table-curved table-condensed   -->
		
				
				
				<table id="freezeheader" class="overflow-y  make-sticky"> 
					<thead>
						 <tr >
			               <th th:class="${measurementVariable.factor == true} ? 'factors' : 'variates'" th:each="measurementVariable, rowIndex : *{measurementVariables}" th:utext="${measurementVariable.name}">.variable name</th>
			
			             </tr>	
					</thead>
					<tbody>
						<tr th:class="${row.even}? 'even' : 'odd'" th:each="measurementRow, row: *{measurementRowList}">
           	
           		<th th:if="${measurementData.editable == false}" style="vertical-align:bottom; padding: 2px;" align="center" th:each="measurementData, rowIndex : ${measurementRow.dataList}"  >
             		<input type="hidden" th:if="${rowIndex.index} == 0" th:field="*{measurementRowList[__${row.index}__].experimentId}"/>
             		<label th:if="${measurementData.editable == false}" th:text="${measurementData.value}" ></label>
             		<input th:attr="data-type=${measurementData.dataType}" style="width: 100%" size="1" type="text" th:if="${measurementData.editable == true}" th:field="*{measurementRowList[__${row.index}__].dataList[__${rowIndex.index}__].value}"/>
             		<input type="hidden" th:field="*{measurementRowList[__${row.index}__].dataList[__${rowIndex.index}__].phenotypeId}"/>
             		<input type="hidden" th:if="${measurementData.editable == false}" th:field="*{measurementRowList[__${row.index}__].dataList[__${rowIndex.index}__].value}"/>
             		<input type="hidden" th:field="*{measurementRowList[__${row.index}__].dataList[__${rowIndex.index}__].label}"/>             		
				</th>
				
             	<td  th:if="${measurementData.editable == true}" style="vertical-align:bottom; padding: 2px;" align="center" th:each="measurementData, rowIndex : ${measurementRow.dataList}"  >
             		<input type="hidden" th:if="${rowIndex.index} == 0" th:field="*{measurementRowList[__${row.index}__].experimentId}"/>
             		<label th:if="${measurementData.editable == false}" th:text="${measurementData.value}" ></label>
             		<input th:attr="data-type=${measurementData.dataType}" style="width: 100%" size="1" type="text" th:if="${measurementData.editable == true}" th:field="*{measurementRowList[__${row.index}__].dataList[__${rowIndex.index}__].value}"/>
             		<input type="hidden" th:field="*{measurementRowList[__${row.index}__].dataList[__${rowIndex.index}__].phenotypeId}"/>
             		<input type="hidden" th:if="${measurementData.editable == false}" th:field="*{measurementRowList[__${row.index}__].dataList[__${rowIndex.index}__].value}"/>
             		<input type="hidden" th:field="*{measurementRowList[__${row.index}__].dataList[__${rowIndex.index}__].label}"/>             		
				</td>
             </tr>
					</tbody>
				</table>
				</div>
				
	<div class="form-group">&nbsp;
	</div>
	<div class="form-group">
	    <div class="col-xs-4 col-md-4">&nbsp;</div> 
	    <div class="col-xs-8 col-md-8">
	      	<a id="btnBack" href="" th:href="@{/NurseryManager/importGermplasmList}"   th:text="#{common.form.back.text}" class="btn btn-default" />
			<input type="submit" id="btnNext" th:value="#{common.form.next.text}" class="btn btn-primary" />
	      	<input type="submit" id="btnUpdate" th:value="#{common.form.update.text}" class="btn btn-primary" onclick="doSave();return false;"/>
	      
	    </div>
	  </div>

</form>

<script type="text/javascript" th:src="@{/static/js/jquery.ba-throttle-debounce.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.stickyheader.js}"></script>

<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
	           
		function doSave(){
			if(validateCells() == false)
				return false;
  	      	var $form = $("#addVariableForm");
  			serializedData = $form.serialize();
  			$("btnUpdate").attr("disabled", "disabled");
			Spinner.toggle();

			$.ajax({
				url: "/Fieldbook/NurseryManager/addOrRemoveTraits/updateTraits",
				type: "post",
				dataType: "json",
				data: serializedData,
			    success: function(data){
				    if (data.status == "1") {
				    	showSuccessfulMessage('page-message', "Successfully updated traits");
				    	window.setTimeout(function() {
		       				location.href = "/Fieldbook/NurseryManager";
		       			}, 1000);
			       	} else if (data.status == "-1") {
			       		showErrorMessage('page-message', data.errorMessage);
			       	}
			   }, 
			   error: function(jqXHR, textStatus, errorThrown){
					console.log("The following error occured: " + textStatus, errorThrown); 
			   }, 
			   complete: function(){  
				   $("btnUpdate").removeAttr("disabled");
				   Spinner.toggle();
			   } 
			});
		}      
		
	
       $( document ).ready(function() {  	     
    	   $('.germplasm-measurement-list-table td input').on("change", validateCells);
    	   $('.germplasm-measurement-list-table td input').on("focus", validateCells);
    	   $('.germplasm-measurement-list-table td input').on("blur", validateCells);
    	   if (document.URL.indexOf("viewNursery") > -1) {
    		   $("#btnBack").attr("href", "/Fieldbook/NurseryManager");
    		   $("#btnUpdate").show();
    		   $("#btnNext").hide();
    	   } else {
    		   $("#btnUpdate").hide();
    		   $("#btnNext").show();
    	   }
    	   
    	   //$("#freezeheader").freezeHeader({ 'height': '500px' });
    	   //setTimeout(function(){$('#hdfreezeheader').css('top', '0px')}, 450);
		});
       
       function validateCells(){
    	   var noError = true;
    	   $('.germplasm-measurement-list-table td input').each(function(){
			   if($(this).data('type') == 'N'){
	    			  if(isNaN(Number($(this).val()))){    				   
	    				  showErrorMessage('page-message', "Please enter a numeric value for this variate");
	    				  var id = $(this).attr('id');
	    				  setTimeout(function() { $('#'+getJquerySafeId(id)).focus(); }, 10);
	    				  noError = false;
	    				  //console.log('false');
	    				  return false;
	    			  }
			   }
		   }); 
    	   if(noError){
    		   hideErrorMessage('page-message');
    	   }
    	   //console.log('true');
    	   return true;
       }
       
      //]]>
    </script>
