<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
   	<div class="modal fade" id="addVariablesSettingModal" role="dialog" aria-labelledby="addVariablesSettingModal" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content">
	         	<div class="modal-body" id="addVariablesSettingBody">
	         		<div>
	         			<button id="closeAddVariablesSettingModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	         		</div>
	         		<br/><br/>
	         		<h4 class="modal-title" id="heading-modal"></h4>
	         		<br/>
	         		<div id="page-message-modal" class="row">
	         		</div>
	         		<div class="row">
						<div class="col-xs-8 col-md-8">
	         				<input type="text" id="stdVarSearch" class="form-control select2" />
				        </div>
				        <div class="col-xs-4 col-md-4">
				        	<input type="button" id="addVariable" value="Add" th:value="#{common.form.add.text}" class="btn btn-default" onClick="addVariableToList();" />
				        </div>
	         		</div>
	         		<div class="row">
						<div class="col-xs-12 col-md-12">&nbsp;</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="form-group">
										<div class="col-xs-4 col-md-4">
											<label class="control-label" th:text="#{ontology.browser.detailstab.traitClass} + ':'">Trait Class:</label>
										</div>
										<div class="col-xs-8 col-md-8">
											<input type="hidden" id="selectedStdVarId" value="" />
											<input type="hidden" id="selectedName" value="" />
											<p id="selectedTraitClass"></p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-xs-4 col-md-4">
											<label class="control-label" th:text="#{ontology.browser.detailstab.property} + ':'">Property:</label>
										</div>
										<div class="col-xs-8 col-md-8">
											<p id="selectedProperty"></p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-xs-4 col-md-4">
											<label class="control-label" th:text="#{ontology.browser.detailstab.method} + ':'">Method:</label>
										</div>
										<div class="col-xs-8 col-md-8">
											<p id="selectedMethod"></p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-xs-4 col-md-4">
											<label class="control-label" th:text="#{ontology.browser.detailstab.scale} + ':'">Scale:</label>
										</div>
										<div class="col-xs-8 col-md-8">
											<p id="selectedScale"></p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-xs-4 col-md-4">
											<label class="control-label" th:text="#{ontology.browser.detailstab.dataType} + ':'">Data Type:</label>
										</div>
										<div class="col-xs-8 col-md-8">
											<p id="selectedDataType"></p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-xs-4 col-md-4">
											<label class="control-label" th:text="#{ontology.browser.detailstab.role} + ':'">Role:</label>
										</div>
										<div class="col-xs-8 col-md-8">
											<p id="selectedRole"></p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-xs-4 col-md-4">
											<label class="control-label" th:text="#{ontology.browser.detailstab.cropOntologyId} + ':'">Crop Ontology ID:</label>
										</div>
										<div class="col-xs-8 col-md-8">
											<p id="selectedCropOntologyId"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
	         		<div class="row">
						<div class="col-xs-12 col-md-12">
			         		<table id="newVariablesList" class="table tree table-curved table-condensed" style="margin-left:5px;">
			         			<thead>
			         				<th>Variable Name</th>
			         				<th>Property</th>
			         				<th>Scale</th>
			         				<th>Method</th>
			         				<th>Role</th>
			         			</thead>
			         			<tbody>
			         				<tr th:each="choice, rowStat : *{selectedVariables}">
			         					<td>
			         						<input type="hidden" class="addVariables" th:field="*{selectedVariables[__${rowStat.index}__].cvTermId}" />
			         						<input type="text" class="addVariables" th:field="*{selectedVariables[__${rowStat.index}__].name}" />
		         						</td>
			         					<td th:text="*{selectedVariables[__${rowStat.index}__].property}"></td>
			         					<td th:text="*{selectedVariables[__${rowStat.index}__].scale}"></td>
			         					<td th:text="*{selectedVariables[__${rowStat.index}__].method}"></td>
			         					<td th:text="*{selectedVariables[__${rowStat.index}__].role}"></td>
			         				</tr>
			         			</tbody>
					        </table>
			        	</div>
			        </div>
	         	</div>																							
	       		<div class="modal-footer">    
	       			<button type="button" id="addVariables" class="btn btn-primary" aria-hidden="true" onclick="javascript: submitSelectedVariables();">Add Variables</button>
	       			<button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript: " aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>	
       			</div>
	     	</div><!-- /.modal-content -->
   		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
</div>

<div layout:fragment="page-script">
	<script type="text/javascript" th:src="@{/static/js/typeahead.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/Hogan.js}"></script>
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[    
	           
    //]]>
    </script>
</div>