<div class="col-xs-10 col-md-10" xmlns:th="http://www.thymeleaf.org">
	<form onsubmit="javascript: return validateAdvanceNursery();" id="advanceNurseryModalForm" role="form-horizontal" action="#" th:action="@{/NurseryManager/advance/nursery}" method="post" th:object="${advancingNurseryform}" enctype="multipart/form-data">

		<input type="hidden" th:field="*{locationUrl}"/>
		<input type="hidden" th:field="*{breedingMethodUrl}"/>
		<input type="hidden" th:field="*{defaultMethodId}"/>
		<input type="hidden" th:field="*{nurseryId}"/>
		<input type="hidden" th:field="*{harvestDate}"/>
		<input type="hidden" th:field="*{maizeSelfMethodId}" />
		<input type="hidden" th:field="*{maizeBulkMethodId}" />
		<input type="hidden" th:field="*{maizeSibMethodId}" />
		<input type="hidden" th:field="*{maizeColchMethodId}" />

		<div class="modal fade" id="advanceNurseryModal" role="dialog" aria-labelledby="advanceNurseryModal" aria-hidden="true">
			<div class="modal-dialog modal-extra-large">
				<div class="modal-content">
					<div class="modal-header">
						<button id="closeAdvanceNurseryModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="heading-modal" th:text="#{nursery.nurserydetails.action.advance}">Advance Nursery</h4>
					</div>

					<div class="modal-body">
						<div class="row">
							<div class="form-group">
								<div id="page-message"></div>
							</div>
						</div>
						<div class="row">
							<div id="page-block-message-modal" class="col-xs-12 col-md-12">
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-md-12" >
								<label class=""><em th:utext="#{fieldmap.mandatory.fields}"> Mandatory fields are noted with a *</em></label>
							</div>
						</div>
						<br/>
						<div class="row form-group col-xs-12 col-md-12">
							<div class="row form-group col-xs-12 col-md-12">
								<label class="control-label">
									<strong class="sub-content-heading" th:text="#{advancing.nursery.convention}"></strong>
								</label>
							</div>
							<div class="row form-group col-xs-12 col-md-12">
								<strong><label class="label-bold" th:text="#{advancing.nursery.naming.convention}+'*:'"></label></strong>
								&nbsp;&nbsp;
								<select th:field="*{namingConvention}">
									<option value="3" th:text="#{advancing.nursery.naming.convention.other.crops}">OTHER CROPS</option>
									<option th:if="*{true or cropType == 1}" value="1" th:text="#{advancing.nursery.naming.convention.cimmyt.wheat}">CIMMYT-WHEAT</option>
									<option th:if="*{true or cropType == 2}" value="2" th:text="#{advancing.nursery.naming.convention.cimmyt.maize}">CIMMYT-MAIZE</option>
								</select>
							</div>
						</div>
						<br/>
						<div class="row form-group col-xs-12 col-md-12" id="methods-section">
							<div class="row form-group col-xs-12 col-md-12">
								<label class="control-label">
									<strong class="sub-content-heading" th:text="#{advancing.nursery.method}">METHODS</strong>
								</label>
							</div>
							<div class="row form-group col-xs-6 col-md-6">
								<label class="control-label">
									<input type="checkbox" th:field="*{methodChoice}" th:value="*{methodChoice}"/>
									<span class="label-bold" th:text="#{advancing.nursery.breeding.method.the.same}">
										Breeding Method is the same for each advance
									</span>
								</label>
							</div>
							<div class="row form-group col-xs-6 col-md-6 method-selection-div">
								<div class="row form-group col-xs-11 col-md-11 method-selection-div">
									<input type="hidden" th:field="*{methodIdAll}" class="form-control select2 non-maize-control" placeholder=""/>
									<input type="hidden" th:field="*{methodIdFavorite}" class="form-control select2 non-maize-control" placeholder=""/>
									<select id="maizeBreedingMethod" class="form-control maize-control">
										<option value="1" th:text="#{advance.nursery.maize.breeding.method.selfed.shelled}">Selfed and ears shelled individually (-)</option>
										<option value="2" th:text="#{advance.nursery.maize.breeding.method.selfed.bulked}">Selfed and ears bulked (-B)</option>
										<option value="3" th:text="#{advance.nursery.maize.breeding.method.sib.increased}">Sib-Increased (-#)</option>
										<option value="4" th:text="#{advance.nursery.maize.breeding.method.colchicinize}">Colchicinize</option>
									</select>
									<input type="hidden" th:field="*{advanceBreedingMethodId}"/>
								</div>
								<div class="col-xs-1 col-md-1 method-selection-div">
									<span id="method-tooltip" class="help-tooltip-nursery" data-placement="right" data-toggle="tooltip" style="display:inline;">?</span>
								</div>
							</div>
							<div class="row form-group col-xs-6 col-md-6">
							</div>
							<div class="row form-group col-xs-6 col-md-6 method-selection-div">
								<label class="non-maize-control">
									<input id="showFavoriteMethod" value="1" type="checkbox"/> <span th:text="#{show.favorite.method}">Show Favorite Method</span>
									&nbsp;&nbsp;
									<a class="form-group" href="javascript: openManageMethods()" th:text="#{advancing.nursery.manage.method}">Manage Methods</a>
								</label>
							</div>
							<div class="row form-group col-xs-6 col-md-6">
							</div>
							<div class="row form-group col-xs-6 col-md-6">
								<label class="maize-control">
									<input th:field="*{putBrackets}" value="1" type="checkbox"/> <span th:text="#{advance.nursery.maize.breeding.method.put.brackets}">Put brackets around parents</span>
								</label>
							</div>
							<div id="method-variates-section">
								<div class="row form-group col-xs-6 col-md-6">
									<label class="control-label label-bold" th:text="#{advancing.nursery.method.variate} + ':'">Choose a variate that defines the breeding method for each advance:</label>
								</div>
								<div class="row form-group col-xs-6 col-md-6">
									<select th:field="*{methodVariateId}">
										<option th:each="methodVariate : *{methodVariates}" th:value="${methodVariate.id}" th:text="${methodVariate.name}">
										</option>
									</select>
								</div>
							</div>
						</div>

						<br/>
						<div class="row form-group col-xs-12 col-md-12 lines-section">
							<div class="row form-group col-xs-12 col-md-12">
								<label class="control-label" ><strong class="sub-content-heading" th:text="#{advancing.nursery.lines}">LINES</strong> </label>
							</div>
							<div class="row form-group col-xs-6 col-md-6">
								<label class="control-label">
									<input type="checkbox" th:field="*{lineChoice}" th:value="*{lineChoice}"/>
									<span class="label-bold" th:text="#{advancing.nursery.line.the.same}">Same number of lines is selected for each plot</span>
								</label>
							</div>
							<div class="row form-group col-xs-6 col-md-6">
							</div>
						</div>
						<div class="row form-group col-xs-12 col-md-12 lines-section">
							<div class="row form-group col-xs-6 col-md-6 lines-per-plot-section">
								<label class="control-label label-bold" th:text="#{advancing.nursery.number.of.samples.plot} + ':'">Lines Selected per Plot:</label>
							</div>
							<div class="row form-group col-xs-6 col-md-6 lines-per-plot-section">
								<input class="form-control" type="text" th:field="*{lineSelected}"/>
							</div>
							<div id="line-variates-section">
								<div class="row form-group col-xs-6 col-md-6">
									<label class="control-label label-bold" th:text="#{advancing.nursery.lines.variate}"></label>
								</div>
								<div class="row form-group col-xs-6 col-md-6">
									<select th:field="*{lineVariateId}" class="ps-variate-selection">
										<option th:each="lineVariate : *{lineVariates}" th:value="${lineVariate.id}" th:text="${lineVariate.name}">
										</option>
									</select>
								</div>
							</div>
						</div>
						<br/>
						<div class="row form-group col-xs-12 col-md-12 bulk-section">
							<div class="row form-group col-xs-12 col-md-12">
								<label class="control-label" ><strong class="sub-content-heading" th:text="#{advancing.nursery.bulks}">BULKS</strong> </label>
							</div>
							<div class="row form-group col-xs-6 col-md-6">
								<label class="control-label">
									<input type="checkbox" th:field="*{allPlotsChoice}" th:value="*{allPlotsChoice}" />
									<span class="label-bold" th:text="#{advancing.nursery.all.plots.selected}">All plots are selected</span>
								</label>
							</div>
							<div class="row form-group col-xs-6 col-md-6">
							</div>
						</div>
						<div class="row form-group col-xs-12 col-md-12 bulk-section">
							<div id="plot-variates-section">
								<div class="row form-group col-xs-6 col-md-6">
									<label class="control-label label-bold" th:text="#{advancing.nursery.bulks.variate}"></label>
								</div>
								<div class="row form-group col-xs-6 col-md-6">
									<select th:field="*{plotVariateId}">
										<option th:each="plotVariate : *{plotVariates}" th:value="${plotVariate.id}" th:text="${plotVariate.name}">
										</option>
									</select>
								</div>
							</div>
						</div>
						<br/>
						<div class="row form-group col-xs-12 col-md-12">
							<div class="row form-group col-xs-12 col-md-12">
								<label class="control-label" ><strong class="sub-content-heading" th:text="#{advancing.nursery.harvest.information}">Harvest Details</strong> </label>
							</div>
							<div class="row form-group col-xs-6 col-md-6">
								<label class="control-label label-bold" th:text="#{advancing.nursery.harvest.location}">Harvest Location:</label><span class="required"></span>
							</div>
							<div class="row form-group col-xs-6 col-md-6">
								<div class="row form-group col-xs-11 col-md-11">
									<input type="hidden" th:field="*{harvestLocationIdAll}" class="form-control select2" placeholder=""/>
									<input type="hidden" th:field="*{harvestLocationIdFavorite}" class="form-control select2" placeholder=""/>
									<input type="hidden" th:field="*{harvestLocationId}"/>
									<input type="hidden" th:field="*{harvestLocationName}" />
									<input type="hidden" th:field="*{harvestLocationAbbreviation}" />
								</div>
								<div class="col-xs-1 col-md-1">
									<span id="harvestloc-tooltip" class="help-tooltip-nursery" data-placement="right" data-toggle="tooltip">?</span>
								</div>
							</div>
							<div class="row form-group col-xs-6 col-md-6">
							</div>
							<div class="row col-xs-6 col-md-6 form-group">
								<label>
									<input id="showFavoriteLocation" value="1" type="checkbox"/> <span th:text="#{show.favorite.location}">Show Favorite Location</span>
									&nbsp;&nbsp;
									<a href="javascript: openManageLocations()" th:text="#{advancing.nursery.manage.location}">Manage Locations</a>
								</label>
							</div>

						</div>
						<div class="row form-group col-xs-12 col-md-12">
							<div class="row form-group col-xs-6 col-md-6">
								<label for="harvestDate" class="control-label label-bold" th:text="#{advancing.nursery.harvest.date}">Harvest Date</label><span class="required"></span>
							</div>
							<div class="row col-xs-2 col-md-2 form-group">
								<select th:field="*{harvestYear}" style="width: 100px">
									<option th:each="year : ${yearChoices}" th:value="${year.val}" th:text="${year.name}">
									</option>
								</select>
							</div>
							<div class="row col-xs-1 col-md-1 form-group">
								<select th:field="*{harvestMonth}" style="width: 100px">
									<option th:each="month : ${monthChoices}" th:value="${month.val}" th:text="${month.name}"></option>
								</select>
							</div>
						</div>
					</div> <!-- Modal Body -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">
							Cancel
						</button>
						<button type="button" class="btn btn-primary" aria-hidden="true" onclick="javascript: callAdvanceNursery();" th:text="#{common.form.finish.text}">
							Finish
						</button>
					</div>
				</div> <!-- Modal Content -->
			</div>
		</div>
	</form>
</div>
<div layout:fragment="page-script">
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[

		// FIXME Should not be using global variables or functions
		/*global getJquerySafeId, recreateLocationCombo, recreateModalMethodCombo, showCorrectLocationCombo*/
		/*global showCorrectMethodCombo, checkMethod, lineMethod, plotMethod, validatePlantsSelected*/
		/*global oldMethodSelected, oldLineSelected, lineMethod, plotMethod, validatePlantsSelected*/
		/*global methodSuggestions*/

		// FIXME These variables should be camel case, and should not be global. Dangerous to fix right now,
		// because they are used in so many other files. Don't use ignore! This should be fixed!

		/* jshint ignore:start */
		var locationSuggestions = /*[[${locationList}]]*/ null,
			locationSuggestions_obj = [],

			locationSuggestionsFav = /*[[${favoriteLocationList}]]*/ null,
			locationSuggestionsFav_obj = [],

			methodSuggestions = /*[[${methodList}]]*/ null,
			methodSuggestions_obj = [],

			methodSuggestionsFav = /*[[${favoriteMethodList}]]*/ null,
			methodSuggestionsFav_obj = [],

			msgSamplePlotError = /*[[#{advancing.nursery.number.of.plot.error}]]*/ '',
			msgHarvestDateError = /*[[#{advancing.nursery.harvest.date.error}]]*/ '',
			msgMethodError = /*[[#{advancing.nursery.method.error}]]*/ '',
			programLocationUrl = '',
			programMethodUrl = '',

			oldLineSelected = '',
			oldMethodSelected = '',

			locationIframeOpened = false,
			methodIframeOpened = false,

			linesNotWholeNumberError = /*[[#{error.advancing.nursery.whole.numeric.lines}]]*/ '',
			msgEmptyListError = /*[[#{nursery.advance.nursery.empty.list.error}]]*/ '',
			noMethodVariatesError = /*[[#{error.advancing.nursery.no.method.variates}]]*/ '',
			noLineVariatesError = /*[[#{error.advancing.nursery.no.line.variates}]]*/ '',
			noPlotVariatesError = /*[[#{error.advancing.nursery.no.plot.variates}]]*/ '';
		/* jshint ignore:end */

		function changeMaizeBreedingMethod() {
			'use strict';

			var maizeBreedingMethod = $('#maizeBreedingMethod').val(),
				methodId;

			// TODO Add error checking
			switch (maizeBreedingMethod) {
				case 1:
					methodId = $('#maizeSelfMethodId').val();
					break;
				case 2:
					methodId = $('#maizeBulkMethodId').val();
					break;
				case 3:
					methodId = $('#maizeSibMethodId').val();
					break;
				case 4:
					methodId = $('#maizeColchMethodId').val();
					break;
			}
			$('#' + getJquerySafeId('advanceBreedingMethodId')).val(methodId);
			$('#advanceBreedingMethodId').change();
		}

		function adjustMaizeControl(isShow) {
			'use strict';

			var $maizeControl = $('.maize-control'),
				$nonMaizeControl = $('.non-maize-control');

			if (isShow){
				$maizeControl.css('display', 'block');
				$nonMaizeControl.css('display', 'none');
				changeMaizeBreedingMethod();
				$('input[type=checkbox][name=methodChoice]').prop('checked', true);
				checkMethod();
				$('input[type=checkbox][name=methodChoice]').prop('disabled', true);
				changeMaizeBreedingMethod();
			} else {
				$maizeControl.css('display', 'none');
				$nonMaizeControl.css('display', 'block');
				showCorrectMethodCombo();
			}
		}

		function changeSuffix() {
			'use strict';

			var $input = $('input[type=checkbox][name=methodChoice]'),
				$methodSelectionInput = $('.method-section input'),
				$methodIdAll = $('#methodIdAll'),
				$methodIdFavorite = $('#methodIdFavorite'),
				$methodsSection = $('#methods-section'),
				namingConvention = $('#namingConvention').val();

			$input.prop('disabled', false);

			// FIXME This is relying on implicit type conversion - also see other uses of == in this file
			if (namingConvention == 1) {
				// If it's wheat, we disable the method section
				$methodSelectionInput.attr('disabled', true);
				$methodIdAll.select2('enable', false);
				$methodIdFavorite.select2('enable', false);
				$methodsSection.hide();
				$input.prop('checked', true);
			} else {
				$methodSelectionInput.attr('disabled', false);
				$methodIdAll.select2('enable', true);
				$methodIdFavorite.select2('enable', true);
				$methodsSection.show();
			}

			adjustMaizeControl(namingConvention == 2);
			checkMethod();
		}

		function showBulkSection(isBulk) {
			'use strict';

			if($('input[type=checkbox][name=methodChoice]:checked').val() !== 1) {
				$('.bulk-section').css('display', 'block');
				$('.lines-section').css('display', 'block');
			}
			else if(isBulk){
				$('.bulk-section').css('display', 'block');
				$('.lines-section').css('display', 'none');
			}else{
				$('.bulk-section').css('display', 'none');
				$('.lines-section').css('display', 'block');
			}
		}

		function changeAdvanceBreedingMethod() {
			'use strict';

			var bMethodId = $('#advanceBreedingMethodId').val(),
				isBulk = false,
				i;

			if($('#namingConvention').val() == 2){
				// Maize has been chosen
				if(bMethodId == $('#maizeBulkMethodId').val()) { // Selfed and Ears Bulked
					isBulk = true;
				}
			} else {
				for (i = 0; i < methodSuggestions.length; i++) {
					if (methodSuggestions[i].mid == bMethodId) {
						if (methodSuggestions[i].geneq == 1) { // Bulk
					 		isBulk = true;
					 	}
						break;
					}
				}
			}
			showBulkSection(isBulk);
		}

		$(function() {
			'use strict';

			recreateLocationCombo();
			recreateModalMethodCombo('advanceBreedingMethodId', 'showAdvanceFavoriteMethod');

			$('#s2id_harvestLocationIdFavorite').hide();
			$('#s2id_harvestLocationIdAll').show();

			$('#s2id_methodIdFavorite').hide();
			$('#s2id_methodIdAll').show();


			$('#showFavoriteLocation').on('change', function(){
				showCorrectLocationCombo();
			});

			$('#showFavoriteMethod').on('change', function(){
				showCorrectMethodCombo();
			});

			$('input[type=checkbox][name=methodChoice]').on('change', checkMethod);

			$('input[type=checkbox][name=lineChoice]').on('change', lineMethod);

			$('input[type=checkbox][name=allPlotsChoice]').on('change', plotMethod);

			$('.ps-variate-selection').on('change', function() {
				validatePlantsSelected($(this));
			});

			$('#namingConvention').on('change', changeSuffix);
			$('#maizeBreedingMethod').on('change', changeMaizeBreedingMethod);

			oldMethodSelected = $('#defaultMethodId').val();
			oldLineSelected = $('#lineSelected').val();

			checkMethod();
			lineMethod();
			plotMethod();
			changeSuffix();

			$('#advanceBreedingMethodId').on('change', changeAdvanceBreedingMethod);
			changeAdvanceBreedingMethod();
		});
	//]]>
	</script>
</div>