<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1>
			ADVANCE NURSERY WIZARD
		</h1>
	</div>			  
</div>
<!--  
<div class="row">
	<div class="col-xs-3 col-md-3">
		<h2>Choose Location</h2>
	</div>
	
	<div class="col-xs-9 col-md-9">
		&nbsp;
	</div>
</div>
 -->
<form onsubmit="javascript: return validateAdvanceNursery();" id="specifyLabelDetailsForm" role="form-horizontal" action="#"
th:action="@{/NurseryManager/advance/nursery}" method="post" th:object="${advancingNurseryform}" enctype="multipart/form-data">

<input type="hidden" th:field="*{defaultMethodId}"/>

<div class="row" style="margin-top: -20px">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="form-group">
				<div class="col-xs-12 col-md-12" id="page-message"></div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-xs-12 col-md-12" >
			<div class="">
				<div class="col-xs-12 col-md-12">
				<br />
					<label class="control-label" ><strong class="sub-content-heading"  th:text="#{advancing.nursery.convention}"></strong></label>
				</div>		
			</div>
		</div>

		<div class="col-xs-6 col-md-6" >
			
			<div class="row form-group">
				<div class="col-xs-7 col-md-7">
					&nbsp;&nbsp;&nbsp;&nbsp;<label class="control-label" th:text="#{advancing.nursery.naming.convention}+':'"></label>
				</div>
				<div class="col-xs-5 col-md-5">
					<select th:field="*{namingConvention}" class="form-control">
					  <option value="1" th:text="#{advancing.nursery.naming.convention.cimmyt.wheat}">CIMMYT-WHEAT</option>
					  <option value="2" th:text="#{advancing.nursery.naming.convention.cimmyt.maize}">CIMMYT-MAIZE</option>
					  <option value="3" th:text="#{advancing.nursery.naming.convention.other.crops}">OTHER CROPS</option>					  
					</select>
				</div>		
			</div>
			
			 
			<div class="row form-group" id="suffix-div">
				<div class="col-xs-7 col-md-7">
					&nbsp;&nbsp;&nbsp;&nbsp;<label class="control-label" th:text="#{advancing.nursery.suffix.convention}+':'"></label>					
				</div>		
				<div class="col-xs-5 col-md-5">
					<input type="text" th:field="*{suffixConvention}" class="form-control"/>					  
				</div>
			</div>
		</div>
		
	</div>
	<div class="row">
	<br />
		<div class="col-xs-12 col-md-12" >
			<div class="form-group">
				<div class="col-xs-6 col-md-6">
					<label class="control-label" ><strong class="sub-content-heading"  th:text="#{advancing.nursery.method}">METHOD</strong> </label>
				</div>	
				<div class="col-xs-6 col-md-6">
					<label class="control-label" ><strong class="sub-content-heading" th:text="#{advancing.nursery.method.selected}">METHOD SELECTED</strong></label>
				</div>		
			</div>
			
			<div class="row">
				<div class="col-xs-6 col-md-6">					
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							&nbsp;&nbsp;&nbsp;&nbsp;<label class="control-label" th:text="#{advancing.nursery.breeding.method.the.same}">Naming Convention:</label>
							
							<label class="radio-inline">
							  <input checked="checked" type="radio" value="1" th:field="*{methodChoice}"/> 
							  <span th:text="#{label.printing.do.you.need.bar.codes.yes}">Yes</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" value="0" th:field="*{methodChoice}"/> 
							  <span th:text="#{label.printing.do.you.need.bar.codes.no}">No</span>
							</label>
						</div>		
					</div>										 				
				</div>		
				<div class="col-xs-6 col-md-6">					
					<div class="row form-group">
						<div class="col-xs-5 col-md-5">
							<label class="control-label" th:text="#{advancing.nursery.breeding.method.all.plots}">Breeding Method for all plots</label>														
						</div>		
						<div class="col-xs-7 col-md-7">
						<!-- 
							<select th:field="*{methodSelected}" class="form-control">
								<option  th:each="method, rowIndex : *{breedingMethods}" th:text="${method.mname}" th:value="${method.mid}"></option>							  					 
							</select>
							 -->
							 
							    <label>
							      <input id="showFavoriteMethod" value="1" type="checkbox"/> <span th:text="#{show.favorite.method}">Show Favorite Method</span>
							    </label>
							
						</div>
					
					</div>										 				
				</div>		
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-6">					
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							&nbsp;
						</div>		
					</div>										 				
				</div>		
				<div class="col-xs-6 col-md-6">					
					<div class="row form-group">
						<div class="col-xs-5 col-md-5">
							&nbsp;
						</div>
						<div class="col-xs-7 col-md-7">
				  
						   <input type="hidden" th:field="*{methodIdAll}" class="form-control select2" placeholder=""/>
						   
						   <input type="hidden" th:field="*{methodIdFavorite}" class="form-control select2" placeholder=""/>
						   
						   <input type="hidden" th:field="*{breedingMethodId}"/>						   
						   
					    </div>
					</div>										 				
				</div>		
			</div>
			
			<div class="row">
				<div class="col-xs-6 col-md-6">					
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							&nbsp;
						</div>		
					</div>										 				
				</div>		
				<div class="col-xs-6 col-md-6">					
					<div class="row form-group">
						<div class="col-xs-5 col-md-5">
							&nbsp;														
						</div>		
						<div class="col-xs-7 col-md-7">
							<a href="javascript: openManageMethods()" th:text="#{advancing.nursery.manage.method}">Manage Methods</a>	
						</div>
					</div>										 				
				</div>		
			</div>
		</div>
		
	</div>
	<div class="row">
	<br />
		<div class="col-xs-12 col-md-12" >
			<div class="form-group">
				<div class="col-xs-6 col-md-6">
					<label class="control-label" ><strong class="sub-content-heading"  th:text="#{advancing.nursery.lines}">LINES</strong> </label>
				</div>	
				<div class="col-xs-6 col-md-6">
					<label class="control-label" ><strong class="sub-content-heading" th:text="#{advancing.nursery.lines.selected}">LINES SELECTED</strong></label>
				</div>		
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-6">					
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							&nbsp;&nbsp;&nbsp;&nbsp;<label class="control-label" th:text="#{advancing.nursery.line.the.same}">Line the same:</label>
							&nbsp;&nbsp;&nbsp;
							<label class="radio-inline">
							  <input checked="checked" type="radio" value="1" th:field="*{lineChoice}"/> 
							  <span th:text="#{label.printing.do.you.need.bar.codes.yes}">Yes</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" value="0" th:field="*{lineChoice}"/> 
							  <span th:text="#{label.printing.do.you.need.bar.codes.no}">No</span>
							</label>
						</div>		
					</div>										 				
				</div>
				<div class="col-xs-6 col-md-6">					
					<div class="row form-group">
						<div class="col-xs-5 col-md-5">
							<label class="control-label" th:text="#{advancing.nursery.number.of.samples.plot}">advancing.nursery.lines.selected</label>														
						</div>		
						<div class="col-xs-7 col-md-7">
							<input class="form-control" type="text" th:field="*{lineSelected}"/>
						</div>
					</div>										 				
				</div>				
			</div>
		</div>
		
	</div>
	
	<div class="row">
	<br />
		<div class="col-xs-12 col-md-12" >
			<div class="form-group">
				<div class="col-xs-12 col-md-12">
					<label class="control-label" ><strong class="sub-content-heading"  th:text="#{advancing.nursery.harvest.information}">Harvest Information</strong> </label>
				</div>	
						
			</div>
			<div class="row form-group">
				<div class="col-xs-12 col-md-12 form-group">	
					<div class="col-xs-2 col-md-2">
						<label for="harvestDate" class="control-label"  th:text="#{advancing.nursery.harvest.date}">Harvest Date</label>
					</div>	
			    	  			    
					   <div class="col-xs-4 col-md-4 input-group date" id="dp3" data-date="" data-date-format="yyyymmdd">
						     <input th:field="*{harvestDate}" class="form-control" type="text"  readonly="readonly"  />
							 <label for="harvestDate" class="input-group-addon btn datepicker"><i class="glyphicon glyphicon-calendar"></i></label>
						
						</div>
		       		<div class="col-xs-6 col-md-6">
						&nbsp;
					</div>			  																					 				
				</div>
					
			</div>
			<div class="row form-group">
				<div class="col-xs-12 col-md-12 form-group">
					 <div class="col-xs-2 col-md-2">
				  		<label class="control-label" th:text="#{advancing.nursery.harvest.location}">Harvest Location:</label>
				  	</div>
					<div class="col-xs-4 col-md-4">
				  
					   <label>
					      <input id="showFavoriteLocation" value="1" type="checkbox"/> <span th:text="#{show.favorite.location}">Show Favorite Location</span>
					    </label>
					   
				    </div>
				    <div class="col-xs-3 col-md-3">
				    	&nbsp;
				    </div>	
				    
			    </div>
			</div>	
			<div class="row form-group">
				<div class="col-xs-12 col-md-12 form-group">
					 <div class="col-xs-2 col-md-2">
						&nbsp;				  	
					</div>
					<div class="col-xs-4 col-md-4">
				  
					   <input type="hidden" th:field="*{harvestLocationIdAll}" class="form-control select2" placeholder=""/>
					   
					   <input type="hidden" th:field="*{harvestLocationIdFavorite}" class="form-control select2" placeholder=""/>
					   
					   <input type="hidden" th:field="*{harvestLocationId}"/>
					   <input type="hidden" th:field="*{harvestLocationName}" />
					   <input type="hidden" th:field="*{harvestLocationAbbreviation}" />
					   
				    </div>
				    <div class="col-xs-3 col-md-3">
				    	&nbsp;
				    </div>	
				    
			    </div>
			</div>	
			<div class="row form-group">
				<div class="col-xs-12 col-md-12 form-group">
					 <div class="col-xs-2 col-md-2">
				  		&nbsp;
				  	</div>
					<div class="col-xs-4 col-md-4">
				  		<a href="javascript: openManageLocations()" th:text="#{advancing.nursery.manage.location}">Manage Locations</a>	
				    </div>
				    <div class="col-xs-3 col-md-3">
				    	&nbsp;
				    </div>	
				    
			    </div>
			</div>	
		</div>
			
	</div>


	<div class="row">
		
	</div>
	
	<div class="form-group">&nbsp;</div>
	<div class="form-group">
	    <div class="col-xs-5 col-md-5">&nbsp;</div> 
	    <div class="col-xs-7 col-md-7">
	      <input type="button" onclick="javascript: window.history.back();"  value="Cancel" class="btn btn-default"/>
	      <input type="submit" value="Ok" th:value="#{common.form.next.text}" class="btn btn-primary"/>
	      
	    </div>
	  </div>
	  <div class="form-group">&nbsp;</div>
</div>
<div class="row">
	<div id="manage-method" th:include="/Common/manageMethodsModal"></div>
</div>
<div class="row">
	<div id="manage-location" th:include="/Common/manageLocationsModal"></div>
</div>

<input type="hidden" th:field="*{projectId}"/>
</form>
<div layout:fragment="page-script">

<link th:href="@{/static/css/bootstrap-datepicker.css}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/static/js/nurseryManager.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap-datepicker.js}"></script>
<script type='text/javascript' th:inline="javascript">
	//<![CDATA[    	
        var locationSuggestions = /*[[${locationList}]]*/ null;
	    var locationSuggestions_obj = [];
	    
	    var locationSuggestionsFav = /*[[${favoriteLocationList}]]*/ null;
	    var locationSuggestionsFav_obj = [];
	    
	    var methodSuggestions = /*[[${methodList}]]*/ null;
	    var methodSuggestions_obj = [];
	    
	    var methodSuggestionsFav = /*[[${favoriteMethodList}]]*/ null;
	    var methodSuggestionsFav_obj = [];
	    
	    
	    var msgSamplePlotError = /*[[#{advancing.nursery.number.of.plot.error}]]*/;
	   	var msgHarvestDateError = /*[[#{advancing.nursery.harvest.date.error}]]*/;
    
	   	var programLocationUrl = /*[[#{nursery.advance.nursery.manage.location.url}]]*/;
	   	var programMethodUrl = /*[[#{nursery.advance.nursery.manage.method.url}]]*/;
	   	
	    var oldLineSelected = "";
	    var oldMethodSelected = "";
	    
	    var locationIframeOpened = false;
	    var methodIframeOpened = false;
	    
 		 $(function() {
 			var harvestDate =  $('#harvestDate').datepicker({'format': 'yyyymmdd'}).on('changeDate', function(ev) {
 				$(this).datepicker('hide');
 			})
 			
 			initializeHarvestLocationSelect2(locationSuggestions, locationSuggestions_obj);
 			initializeHarvestLocationFavSelect2(locationSuggestionsFav, locationSuggestionsFav_obj);
 			
 			initializeMethodSelect2(methodSuggestions, methodSuggestions_obj);
 			initializeMethodFavSelect2(methodSuggestionsFav, methodSuggestionsFav_obj);
 			
 			$('#s2id_harvestLocationIdFavorite').hide();
 			$('#s2id_harvestLocationIdAll').show();
 			$('#showFavoriteLocation').on('change', function(){
 				showCorrectLocationCombo();
 			});
 			
 			
 			$('#s2id_methodIdFavorite').hide();
 			$('#s2id_methodIdAll').show();
 			$('#showFavoriteMethod').on('change', function(){
 				showCorrectMethodCombo();
 			});
 			 $('input[type=radio][name=methodChoice]').on('change', checkMethod);
 			 
 			$('input[type=radio][name=lineChoice]').on('change', lineMethod);
 			
 			$('#namingConvention').on('change', changeSuffix);
 			oldMethodSelected = $('#defaultMethodId').val();
 			oldLineSelected = $('#lineSelected').val();
 			checkMethod();
 			lineMethod();
 			changeSuffix();
 		});
 		
 		function changeSuffix(){
 			if($('#namingConvention').val() == 3){
 				//show
 				$('#suffix-div').show();
 			}else{
 				//hide
 				$('#suffix-div').hide();
 			}		
 		}
 		
 		
 		//
      //]]>
    </script>
	
</div>