<form id="createNurseryForm" role="form-horizontal" action="#" th:action="@{/NurseryManager/createNursery}" method="post" th:object="${createNurseryForm}" enctype="multipart/form-data">
	<input type="hidden" th:field="*{requiredFields}"/>
	<input type="hidden" th:field="*{loadSettings}"/>
	<input type="hidden" th:field="*{locationId}"/>
	<input type="hidden" th:field="*{breedingMethodId}"/>
	<input type="hidden" th:field="*{locationUrl}"/>
	<input type="hidden" th:field="*{breedingMethodUrl}"/>
	<input type="hidden" th:field="*{importLocationUrl}"/>
	<input type="hidden" th:field="*{projectId}"/>
	<input type="hidden" th:field="*{studyNameTermId}"/>
	<input type="hidden" th:field="*{startDateId}"/>
	<input type="hidden" th:field="*{endDateId}"/>
	<input type="hidden" th:field="*{openGermplasmUrl}"/>
	<input type="hidden" th:field="*{idNameVariables}"/>

	<div class="row">
		<div class="col-xs-6 col-md-6">
			<div class="form-group">
                <label class="control-label" data-toggle="collapse" data-target=".nurseryLevelDetails">
                    <strong class="sub-content-heading" th:text="#{nursery.managesettings.management.details}">MANAGEMENT DETAILS</strong>
                </label>
                <span class="help-tooltip-nursery" data-placement="right" data-toggle="tooltip" th:title="#{nursery.managesettings.nursery.level.notes}">?</span>

                <a class="btn btn-info pull-right" href="javascript: openAddVariablesSetting(1);" th:text="#{nursery.create.nursery.add.settings}">Add</a>

			</div>
			<div class="form-horizontal sectionContainer" id="nurseryLevelSettings-dev">

				<div class="form-group nurseryLevelSettings" th:each="nurseryLevelVariable, rowStat : *{studyLevelVariables}" th:if="${nurseryLevelVariable.variable.cvTermId}!=*{breedingMethodId}">
					<div class="col-xs-5 col-md-5 1st">
						<span style="cursor: default; font-size: 16px;" th:if="${nurseryLevelVariable.deletable}" class="delete-icon"
						th:onclick="'javascript: deleteVariable(1,\'' + ${nurseryLevelVariable.variable.cvTermId} + '\',$(this))'"></span>
						<input class="cvTermIds nurseryLevelVariableIdClass" type="hidden" th:field="*{studyLevelVariables[__${rowStat.index}__].variable.cvTermId}" />
						&nbsp;&nbsp;&nbsp;
						<span style="word-wrap: break-word" class="control-label nursery-level-label label-bold study-variable-name var-names" th:text="${nurseryLevelVariable.variable.name}"></span>:&nbsp;
					</div>
					<div class="col-xs-7 col-md-7 2nd">
						<!-- <div th:text="${nurseryLevelVariable.variable.cvTermId}"></div> -->
											<!-- <input class="cvTermIds nurseryLevelVariableIdClass" type="hidden" th:field="*{studyLevelVariables[__${rowStat.index}__].variable.cvTermId}" />
										-->
										<input style="width: 30%" th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}"
										type="hidden" th:field="*{studyLevelVariables[__${rowStat.index}__].value}" class="form-control select2" />

										<input th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}" class="selectedValue" type="hidden" th:value="*{studyLevelVariables[__${rowStat.index}__].value}" />
										<input th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}" class="selectedValueFave" type="hidden" th:value="*{studyLevelVariables[__${rowStat.index}__].value}" />

										<!-- Show Favorite Location -->
										<div style="width: 100%" th:if="${nurseryLevelVariable.variable.cvTermId}==*{locationId}" class="possibleValuesDiv">
											<input
											type="checkbox" th:field="*{studyLevelVariables[__${rowStat.index}__].favorite}"
											th:onclick="'javascript: toggleLocationDropdown(\'' + ${rowStat.index} + '\');'" />
											&nbsp;&nbsp;
											<span
											th:text="#{show.favorite.location}">Show Favorite Location</span>
										</div>

										<!-- store possible values of variable -->
										<div th:text="${nurseryLevelVariable.value}" class="div-select-val" style="display: none"></div>
										<div th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}" th:id="'possibleValuesJson' + ${rowStat.index}"
										class="possibleValuesJson" style="display:none" th:text="${nurseryLevelVariable.possibleValuesJson}">
									</div>
									<div th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}" th:id="'possibleValuesFavoriteJson' + ${rowStat.index}"
									class="possibleValuesFavoriteJson" style="display:none" th:text="${nurseryLevelVariable.possibleValuesFavoriteJson}">
								</div>

								<input th:if="${nurseryLevelVariable.variable.widgetType.type == 'NTEXT'}"
								type="text" th:field="*{studyLevelVariables[__${rowStat.index}__].value}" class="form-control numeric-input" />

								<input th:if="${nurseryLevelVariable.variable.widgetType.type == 'CTEXT'}"
								type="text" th:field="*{studyLevelVariables[__${rowStat.index}__].value}" class="form-control character-input" />

								<textarea th:if="${nurseryLevelVariable.variable.widgetType.type == 'TEXTAREA'}"
								th:field="*{studyLevelVariables[__${rowStat.index}__].value}" class="form-control character-input" rows="3" />

								<input th:if="${nurseryLevelVariable.variable.widgetType.type == 'DATE'}"
								type="text" th:field="*{studyLevelVariables[__${rowStat.index}__].value}" class="form-control date-input" />

								<input th:if="${nurseryLevelVariable.variable.widgetType.type == 'SLIDER'}"
								type="text" th:field="*{studyLevelVariables[__${rowStat.index}__].value}"
								th:attr="data-min=${nurseryLevelVariable.variable.minRange}"
								th:attrappend="data-max=${nurseryLevelVariable.variable.maxRange}"
								class="form-control numeric-input"
								/>

								<span>
									<a th:if="${nurseryLevelVariable.variable.cvTermId}==*{locationId}" href="javascript: openManageLocations();" th:text="#{nursery.managesettings.manage.location}">Manage Location</a>
								</span>
							</div>
						</div>
					</div>

				</div>
				<div class="col-xs-6 col-md-6">
                    <div class="form-group">
                        <label class="control-label" data-toggle="collapse" data-target=".nurseryConditionsDetails">
                            <strong class="sub-content-heading" th:text="#{nursery.create.nursery.conditions}">NURSERY CONDITIONS</strong>
                        </label>
                        <span class="help-tooltip-nursery" data-placement="right" data-toggle="tooltip" th:title="#{nursery.create.nursery.conditions.notes}">?</span>

                        <a class="btn btn-info pull-right" href="javascript: openAddVariablesSetting(7);" th:text="#{nursery.create.nursery.add.settings}">Add</a>
                    </div>
					<div class="form-horizontal sectionContainer collapse in nurseryConditionsDetails" id="nurseryConditionsSettings">
						<div class="form-group nurseryConditionsSettings" th:each="nurseryCondition, rowStat : *{nurseryConditions}">
							<div class="col-xs-5 col-md-5 1st">
								<span style="cursor: default; font-size: 16px;" th:if="${nurseryCondition.deletable}" class="delete-icon"
								th:onclick="'javascript: deleteVariable(7,\'' + ${nurseryCondition.variable.cvTermId} + '\',$(this))'"></span>
								<input class="cvTermIds" type="hidden" th:field="*{nurseryConditions[__${rowStat.index}__].variable.cvTermId}" />&nbsp;&nbsp;&nbsp;
								<span style="word-wrap: break-word" class="control-label nursery-condition-label label-bold study-variable-name var-names" th:text="${nurseryCondition.variable.name}"></span>:&nbsp;
							</div>
							<div class="col-xs-7 col-md-7 2nd">
								<input class="cvTermIds nurseryConditionVariableIdClass" type="hidden" th:field="*{nurseryConditions[__${rowStat.index}__].variable.cvTermId}" />
								<input style="width: 30%" th:if="${nurseryCondition.variable.widgetType.type == 'DROPDOWN'}"
								type="hidden" th:field="*{nurseryConditions[__${rowStat.index}__].value}" class="form-control select2" />

								<!-- store possible values of variable -->
								<div th:text="${nurseryCondition.value}" class="div-select-val" style="display: none"></div>
								<div th:if="${nurseryCondition.variable.widgetType.type == 'DROPDOWN'}" th:id="'possibleValuesJsonCons' + ${rowStat.index}"
								class="possibleValuesJsonCons" style="display:none" th:text="${nurseryCondition.possibleValuesJson}">
							</div>
							<div th:if="${nurseryCondition.variable.widgetType.type == 'DROPDOWN'}" th:id="'possibleValuesFavoriteJsonCons' + ${rowStat.index}"
							class="possibleValuesFavoriteJsonCons" style="display:none" th:text="${nurseryCondition.possibleValuesFavoriteJson}">
						</div>

						<input th:if="${nurseryCondition.variable.widgetType.type == 'NTEXT'}"
						type="text" th:field="*{nurseryConditions[__${rowStat.index}__].value}" class="form-control numeric-input" />

						<input th:if="${nurseryCondition.variable.widgetType.type == 'CTEXT'}"
						type="text" th:field="*{nurseryConditions[__${rowStat.index}__].value}" class="form-control character-input" />

						<textarea th:if="${nurseryCondition.variable.widgetType.type == 'TEXTAREA'}"
						th:field="*{nurseryConditions[__${rowStat.index}__].value}" class="form-control character-input" rows="3" />

						<input th:if="${nurseryCondition.variable.widgetType.type == 'DATE'}"
						type="text" th:field="*{nurseryConditions[__${rowStat.index}__].value}" class="form-control date-input" />

						<input th:if="${nurseryCondition.variable.widgetType.type == 'SLIDER'}"
						type="text" th:field="*{nurseryConditions[__${rowStat.index}__].value}"
						th:attr="data-min=${nurseryCondition.variable.minRange}"
						th:attrappend="data-max=${nurseryCondition.variable.maxRange}"
						class="form-control numeric-input"
						/>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-6">
			<div class="form-group">
					<img width="23" height="23" th:src="@{/static/img/factors.png}" class="image-padding" /> &nbsp;
					<label class="control-label" data-toggle="collapse" data-target=".plotLevelDetails">
						<strong class="sub-content-heading" th:text="#{nursery.managesettings.plot.level.details}">PLOT-LEVEL DETAILS</strong>
					</label>
					<span class="help-tooltip-nursery" data-placement="right" data-toggle="tooltip" th:title="#{nursery.managesettings.plot.level.notes}">?</span>

					<a th:if="${createNurseryForm.measurementRowList.size() == 0}" class="btn btn-info pull-right" href="javascript: openAddVariablesSetting(2);"
					th:text="#{nursery.create.nursery.add.settings}">Add</a>
			</div>
			<div class="form-group collapse in plotLevelDetails">
                <table style="table-layout: fixed;" class="my-class table table-curved table-condensed" id="plotLevelSettings">
                    <thead>
                    <tr>
                        <th class="fbk-delete-link"></th>
                        <th width="45%" th:utext="#{nursery.managesettings.plot.name}">.Name</th>
                        <th width="50%" th:utext="#{nursery.managesettings.plot.description}">.Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="plotLevelVariable, rowStat : *{plotLevelVariables}">
                        <td style="text-align: center" th:class="${rowStat.even}? 'even fbk-delete-link' : 'odd fbk-delete-link'">
									<span style="cursor: default; font-size: 16px;" th:if="${plotLevelVariable.deletable}" class="delete-icon"
                                          th:onclick="'javascript: deleteVariable(2,\'' + ${plotLevelVariable.variable.cvTermId} + '\',$(this))'"></span>

                            <input class="cvTermIds" type="hidden" th:field="*{plotLevelVariables[__${rowStat.index}__].variable.cvTermId}" />
                        </td>
                        <td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
                            <a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
									*{plotLevelVariables[__${rowStat.index}__].variable.cvTermId} + '\');'" >
                                <span class="var-names" th:text="${plotLevelVariable.variable.name}"></span></a>
                        </td>
                        <td width="50%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${plotLevelVariable.variable.description}"></td>
                    </tr>
                    </tbody>
                </table>
			</div>
		</div>
		<div class="col-xs-6 col-md-6">
            <div class="form-group">
                <img width="23" height="23" th:src="@{/static/img/baseline-traits.png}" class="image-padding" /> &nbsp;
                <label class="control-label" data-toggle="collapse" data-target=".baselineTraitDetails">
                    <strong class="sub-content-heading" th:text="#{nursery.managesettings.baseline.traits}">BASELINE TRAITS</strong>
                </label>
                <span class="help-tooltip-nursery" data-placement="right" data-toggle="tooltip" th:title="#{nursery.managesettings.baseline.traits.notes}">?</span>

                <a class="btn btn-info pull-right" href="javascript: openAddVariablesSetting(3);" th:text="#{nursery.create.nursery.add.settings}">Add</a>
            </div>
			<div class="form-group collapse in baselineTraitDetails">
                <table style="table-layout: fixed;" class="my-class table table-curved table-condensed traits-table" id="baselineTraitSettings">
                    <thead>
                    <tr>
                        <th class="fbk-delete-link"></th>
                        <th width="45%" th:utext="#{nursery.managesettings.trait}">.Trait</th>
                        <th width="50%" th:utext="#{nursery.managesettings.trait.description}">.Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="baseline-traits" th:each="baselineTraitVariable, rowStat : *{baselineTraitVariables}">
                        <td style="text-align: center" th:class="${rowStat.even}? 'even fbk-delete-link' : 'odd fbk-delete-link'" >
									<span style="cursor: default; font-size: 16px;" th:if="${baselineTraitVariable.deletable}" class="delete-icon"
                                          th:onclick="'javascript: deleteVariable(3,\'' + ${baselineTraitVariable.variable.cvTermId} + '\',$(this))'"></span>

                            <input class="cvTermIds" type="hidden" th:field="*{baselineTraitVariables[__${rowStat.index}__].variable.cvTermId}" />
                        </td>
                        <td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
                            <a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
									*{baselineTraitVariables[__${rowStat.index}__].variable.cvTermId} + '\');'" >
                                <span class="var-names" th:text="${baselineTraitVariable.variable.name}"></span></a>
                        </td>
                        <td width="50%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${baselineTraitVariable.variable.description}"></td>
                    </tr>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-xs-6 col-md-6">
            <div class="form-group">
                <img width="23" height="23" th:src="@{/static/img/variates.png}" class="image-padding" /> &nbsp;
                <label class="control-label" data-toggle="collapse" data-target=".selectionVariatesDetails">
                    <strong class="sub-content-heading" th:text="#{nursery.create.nursery.selection.variates}">SELECTION VARIATES</strong>
                </label>
                <span class="help-tooltip-nursery" data-placement="right" data-toggle="tooltip" th:title="#{nursery.create.nursery.selection.variates.notes}">?</span>

                <a class="btn btn-info pull-right" href="javascript: openAddVariablesSetting(6);" th:text="#{nursery.create.nursery.add.settings}">Add</a>
            </div>
			<div class="form-grpup collapse in selectionVariatesDetails">
                <table style="table-layout: fixed;" class="my-class table table-curved table-condensed selection-variate-table" id="selectionVariatesSettings">
                    <thead>
                    <tr>
                        <th class="fbk-delete-link"></th>
                        <th width="45%" th:utext="#{nursery.create.nursery.selection.variate.name}">.Name</th>
                        <th width="50%" th:utext="#{nursery.create.nursery.selection.variate.description}">.Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="selectionVariatesVariable, rowStat : *{selectionVariatesVariables}">
                        <td style="text-align: center" th:class="${rowStat.even}? 'even fbk-delete-link' : 'odd fbk-delete-link'">
									<span style="cursor: default; font-size: 16px;" th:if="${selectionVariatesVariable.deletable}" class="delete-icon"
                                          th:onclick="'javascript: deleteVariable(6,\'' + ${selectionVariatesVariable.variable.cvTermId} + '\',$(this))'"></span>

                            <input class="cvTermIds" type="hidden" th:field="*{selectionVariatesVariables[__${rowStat.index}__].variable.cvTermId}" />
                        </td>
                        <td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
                            <a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
									*{selectionVariatesVariables[__${rowStat.index}__].variable.cvTermId} + '\');'" >
                                <span class="var-names" th:text="${selectionVariatesVariable.variable.name}"></span></a>
                        </td>
                        <td width="50%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${selectionVariatesVariable.variable.description}"></td>
                    </tr>
                    </tbody>
                </table>
			</div>			
		</div>
		<div class="col-xs-6 col-md-6">
		</div>
	</div>
	<div class="row form-group">
		<div class=" collapse in breedingMethodDetails" th:each="nurseryLevelVariable, rowStat : *{studyLevelVariables}" th:if="${nurseryLevelVariable.variable.cvTermId}==*{breedingMethodId}">
			<div>
				<div class="row  form-group  col-xs-12 col-md-12">
					<div class="col-xs-6 col-md-6">
						<span th:text="#{nursery.create.nursery.method.note}">If you plan to advance the nursery with a single method, please select it below</span>
					</div>
				</div>
				<div class="row form-group  col-xs-12 col-md-12 1st">
					<div class="col-xs-5 col-md-5 form-group">
						<input class="cvTermIds" type="hidden" th:field="*{studyLevelVariables[__${rowStat.index}__].variable.cvTermId}" />
						
						<input style="width: 70%" th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}"
						type="hidden" th:field="*{studyLevelVariables[__${rowStat.index}__].value}" class="select2 form-control" />
	
						<input th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}" class="selectedValue" type="hidden" th:value="*{studyLevelVariables[__${rowStat.index}__].value}" />
						<input th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}" class="selectedValueFave" type="hidden" th:value="*{studyLevelVariables[__${rowStat.index}__].value}" />
						<!-- store possible values of variable -->
						<div th:text="${nurseryLevelVariable.value}" class="div-select-val" style="display: none"></div>
						<div th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}" th:id="'possibleValuesJson' + ${rowStat.index}"
							class="possibleValuesJson" style="display:none" th:text="${nurseryLevelVariable.possibleValuesJson}">
						</div>
						<div th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}" th:id="'possibleValuesFavoriteJson' + ${rowStat.index}"
							class="possibleValuesFavoriteJson" style="display:none" th:text="${nurseryLevelVariable.possibleValuesFavoriteJson}">
						</div>
					</div>
					<div class="col-xs-4 col-md-4 form-group breeding-method-note">
						<span class="help-tooltip-nursery breeding-method-tooltip" data-placement="right" data-toggle="tooltip">?</span>
					</div>					
					
				</div>
				<div class="row form-group col-xs-12 col-md-12">
					<!-- Show Favorite Location/Method -->
					<div class="possibleValuesDiv col-xs-12 col-md-12" th:if="${nurseryLevelVariable.variable.cvTermId}==*{breedingMethodId}">
	
							<input
							type="checkbox" th:field="*{studyLevelVariables[__${rowStat.index}__].favorite}"
							th:onclick="'javascript: toggleMethodDropdown(\'' + ${rowStat.index} + '\');'" />
							&nbsp;&nbsp;
							<span th:text="#{show.favorite.method}">Show Favorite Method</span>&nbsp;&nbsp;
							<a th:if="${nurseryLevelVariable.variable.cvTermId}==*{breedingMethodId}" href="javascript: openManageMethods();" th:text="#{nursery.managesettings.manage.method}">Manage Method</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div th:include="/NurseryManager/includes/addVariablesSettingModal"></div>
		</div>
	</div>

</form>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div id="showBaselineTraitDetails" th:include="/NurseryManager/includes/baselineTraitDetails"></div>
	</div>
</div>
<div layout:fragment="page-script">
	<script type="text/javascript" th:src="@{/static/js/nurseryManager.js}"></script>
	<link th:href="@{/static/css/lib/bootstrap/bootstrap-datepicker.css}" rel="stylesheet"/>
	<script type="text/javascript" th:src="@{/static/js/lib/bootstrap/bootstrap-datepicker.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/lib/bootstrap/bootstrap-spinedit.js}"></script>
	<link th:href="@{/static/css/lib/bootstrap/bootstrap-spinedit.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/fieldbook-spinner.css}" rel="stylesheet"/>
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[

		// FIXME Should not be using global variables or functions
		/*global getIEVersion, getJquerySafeId, initializePossibleValuesCombo, setTimeout*/
		/*global addCreateNurseryRequiredAsterisk, doOntologyTreeHighlight, treeDivId*/

		// FIXME These variables should not be global. Dangerous to fix right now,
		// because they are used in so many other files. Don't use ignore! This should be fixed!

		/* jshint ignore:start */
		var requiredErrorMessage = /*[[#{ontology.browser.modal.error}]]*/ '',
			requiredSettingErrorMessage = /*[[#{nursery.create.nursery.required.setting}]]*/ '',
			uniqueBookNameErrorMessage = /*[[#{nursery.create.already.exists}]]*/ '',
			nurseryFieldsIsRequired = /*[[#{nursery.create.is.required}]]*/ '',
			nurseryTraitsIsRequired = /*[[#{nursery.create.traits.is.required}]]*/ '',
			nurseryGermplasmListIsRequired = /*[[#{nursery.create.germplasm.list.is.required}]]*/ '',
			checkTypeIsRequired = /*[[#{nursery.create.check.type.is.required}]]*/ '',
            disabledActionTooltipMessage = /*[[#{nursery.create.actions.is.disabled}]]*/,
			// Labels for method and location
			showFavoriteMethodLabel = /*[[#{show.favorite.method}]]*/ '',
			showFavoriteLocationLabel = /*[[#{show.favorite.location}]]*/ '',
			manageMethodLabel = /*[[#{nursery.managesettings.manage.method}]]*/ '',
			manageLocationLabel = /*[[#{nursery.managesettings.manage.location}]]*/ '',

			varInListMessage = /*[[#{nursery.managesettings.variable.in.selected.list}]]*/ '',
			idNameCounterpartAddedError = /*[[#{manage.settings.id.name.counterpart.added.error}]]*/ '',
			valueNotNumeric = /*[[#{nursery.create.nursery.value.not.numeric}]]*/ '',
			valueNotWIMinMax = /*[[#{nursery.create.nursery.value.not.within.min.max}]]*/ '',

			locationIframeOpened = false,
			methodIframeOpened = false,

			selectionVariatesSegment = 6,
			baselineTraitsSegment = 3;
		/* jshint ignore:end */

		var locationId = '',
			programLocationUrl = '',
			programMethodUrl = '',
			breedingMethodId = '',
			importLocationUrl = '',
			requiredFields = [],
			startDateId = '',
			endDateId = '';

		$(document).ready(function() {
			'use strict';
			
			Spinner.play();
			// FIXME Shouldn't be user agent checking
			if (getIEVersion() === 8) {
				$('.table-with-scroll-create').parent().addClass('variable-details');
				$('.table-with-scroll-create').removeClass('table-with-scroll-create');
			}
			if ($('#requiredFields').val() !== ''){
				requiredFields = $('#requiredFields').val().split(',');
			}

			startDateId = $('#startDateId').val();
			endDateId = $('#endDateId').val();
			locationId = $('#locationId').val();
			breedingMethodId = $('#breedingMethodId').val();
			programMethodUrl = $('#breedingMethodUrl').val();
			programLocationUrl = $('#locationUrl').val();
			importLocationUrl = $('#importLocationUrl').val();

			$('#folderNameSpan').html($('#folderName').val());

			$.each($('.possibleValuesJson'), function (index, divElem){
				var select2Index = $(divElem).attr('id').split('possibleValuesJson')[1];

				if (parseInt($('#' + getJquerySafeId('studyLevelVariables' + select2Index +
					'.variable.cvTermId')).val(), 10) === parseInt(locationId, 10)) {

					initializePossibleValuesCombo($.parseJSON(divElem.innerHTML),
						'#' + getJquerySafeId('studyLevelVariables' + select2Index +
						 '.value'), true, $(divElem).siblings('.div-select-val').html());
				} else {
					initializePossibleValuesCombo($.parseJSON(divElem.innerHTML),
						'#' + getJquerySafeId('studyLevelVariables' + select2Index +
							'.value'), false, $(divElem).siblings('.div-select-val').html());
				}
			});

			$.each($('.possibleValuesJsonCons'), function (index, divElem){
				var select2Index = $(divElem).attr('id').split('possibleValuesJsonCons')[1];
				initializePossibleValuesCombo($.parseJSON(divElem.innerHTML),
					'#' + getJquerySafeId('nurseryConditions' + select2Index +
						'.value'), false, $(divElem).siblings('.div-select-val').html());
			});

			// FIXME - Shouldn't pass a string here
			setTimeout('initializeDateAndSliderInputs()', 500);

			addCreateNurseryRequiredAsterisk();

			$('.help-tooltip-nursery').tooltip();
			$('#srch-term').on('change', function(){
				var data = $('#srch-term').select2('data');
				doOntologyTreeHighlight(treeDivId, data.key);
			});
			truncateStudyVariableNames('.study-variable-name', 17);

            /* GCP-8880 (tag change event to a var) */

            $.each($('span.delete-icon'),function(){
                this.onclick = null;
            });

            // re apply the behaviors using modified functions
            $('#createNurseryForm').on('click','span.delete-icon',function(){


                if (document.disableActions !== undefined) {
                    if (!$('.fbk-float-right-with-top-pos .dropdown-toggle').hasClass("disabled")) {
                        document.initialEnabledStat = true;
                    } else
                        document.initialEnabledStat = false;

                    document.disableActions();
                    eval($(this).attr('onclick'));

                }
            });

            $('#variateDeleteConfirmationModal').on('click','#cancelDelete',function(){
                if (document.initialEnabledStat && document.enableActions !== undefined) {
                    document.enableActions();
                }
            });

            $('#variateDeleteConfirmationModal').on('click','#continueDelete',function(){
                if (document.disableActions !== undefined)
                    document.disableActions();
            });

            $('#createNurseryForm').on('click','#addVariables',function(i,el){
                if (document.disableActions !== undefined)
                    document.disableActions();
            });

            document.disableActions = function() {
                var actionBtn = $('.fbk-float-right-with-top-pos .dropdown-toggle');

                actionBtn.removeAttr("data-toggle").addClass('disabled enable-pointer-events');
                actionBtn.tooltip({ container: 'body', title: disabledActionTooltipMessage, placement : 'top' });

            };

            document.enableActions = function() {
                var actionBtn = $('.fbk-float-right-with-top-pos .dropdown-toggle');

                actionBtn.attr("data-toggle","dropdown");
                actionBtn.tooltip('hide');
                actionBtn.tooltip('destroy');
                actionBtn.removeClass('disabled');
            };
            checkTraitsAndSelectionVariateTable('', false);
            Spinner.stop();
        });
	//]]>
	</script>
</div>
