<form id="createNurseryForm" role="form-horizontal" action="#" th:action="@{/NurseryManager/createNursery}" method="post" th:object="${createNurseryForm}" enctype="multipart/form-data">
	<input type="hidden" th:field="*{requiredFields}"/>
	<input type="hidden" th:field="*{loadSettings}"/>
	<input type="hidden" th:field="*{locationId}"/>
	<input type="hidden" th:field="*{breedingMethodId}"/>
	<input type="hidden" th:field="*{breedingMethodUrl}"/>
	<input type="hidden" th:field="*{openGermplasmUrl}"/>
	<input type="hidden" th:field="*{idNameVariables}"/>
	<input type="hidden" th:field="*{breedingMethodCode}"/>
	<input type="hidden" th:field="*{errorMessage}" />
	<input type="hidden" th:field="*{hasError}" />

	<div class="row">
		<div class="col-xs-6">

			<div class="form-group chs-management-details">
				<label class="control-label" data-toggle="collapse" data-target=".nurseryLevelDetails">
					<span class="bms-mgt-details fbk-trial-summary-icons"></span>
					<strong class="sub-content-heading" th:text="#{nursery.managesettings.management.details}">MANAGEMENT DETAILS</strong>
					<span class="bms-fa-question-circle help-tooltip-nursery" data-placement="right" data-toggle="tooltip" data-container="body" th:title="#{nursery.managesettings.nursery.level.notes}"></span>

				</label>

				<a href="#" class="btn btn-info pull-right chs-add-variable" th:text="#{nursery.create.nursery.add.settings}">Add</a>

			</div>
			<div class="form-group management-details-section-reminder fbk-hide">
				<label class="control-label" th:text="#{section.reminder.to.add.records}"></label>
			</div>
			<div class="form-horizontal sectionContainer" id="nurseryLevelSettings-dev">

				<div class="form-group nurseryLevelSettings" th:each="nurseryLevelVariable, rowStat : *{studyLevelVariables}" th:if="${nurseryLevelVariable.variable.cvTermId}!=*{breedingMethodId} and ${nurseryLevelVariable.variable.cvTermId}!=*{breedingMethodCode}">
					<div class="col-xs-5 1st">
						<input class="remove-indv-btn" type="checkbox" th:if="${nurseryLevelVariable.deletable}"
							   th:attr="data-variable-type=1805" th:attrappend="data-cv-term-id=${nurseryLevelVariable.variable.cvTermId}"/>
						<input class="cvTermIds nurseryLevelVariableIdClass" type="hidden" th:field="*{studyLevelVariables[__${rowStat.index}__].variable.cvTermId}" />
						&nbsp;&nbsp;&nbsp;
						<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
									*{studyLevelVariables[__${rowStat.index}__].variable.cvTermId} + '\',1805);'">
							<span style="word-wrap: break-word" class="control-label nursery-level-label label-bold var-names" th:text="${nurseryLevelVariable.variable.name}"></span></a>:&nbsp;

					</div>
					<div class="col-xs-7 2nd">

						<input style="width: 30%" th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}"
							   type="hidden" th:field="*{studyLevelVariables[__${rowStat.index}__].value}" class="form-control select2" />

						<input th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}" class="selectedValue" type="hidden" th:value="*{studyLevelVariables[__${rowStat.index}__].value}" />
						<input th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}" class="selectedValueFave" type="hidden" th:value="*{studyLevelVariables[__${rowStat.index}__].value}" />

						<!-- radio buttons for filtering -->
						<div class="possibleValuesDiv " th:if="${nurseryLevelVariable.variable.cvTermId}==*{locationId}">
							<label class="radio-inline">
								<input id="filterLocations" name="locationFilter" type="radio" checked="checked"
									th:class="'filter_selectors_' + ${rowStat.index}"
									th:onclick="'javascript: toggleLocationDropdown(\'' + ${rowStat.index} + '\');'"/>
								<span >All breeding locations</span>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
								<input id="allLocations" name="locationFilter" type="radio" 
									th:class="'filter_selectors_all filter_selectors_all_' + ${rowStat.index}"
									th:onclick="'javascript: toggleLocationDropdown(\'' + ${rowStat.index} + '\');'"/>
								<span >All locations</span>
							</label>
						</div>
						<!-- Show Favorite Location -->
						<div style="width: 100%" th:if="${nurseryLevelVariable.variable.cvTermId}==*{locationId}" class="possibleValuesDiv">
							<div th:id="'favoriteLocationCheck' + ${rowStat.index}"
								 class="favoriteLocationCheck" style="display:none" th:text="${nurseryLevelVariable.allFavoriteValuesJson}">
							</div>
							<input
									type="checkbox" class="studyLevelVariablesDetails" th:field="*{studyLevelVariables[__${rowStat.index}__].favorite}"
									th:onclick="'javascript: toggleLocationDropdown(\'' + ${rowStat.index} + '\');'" />
							&nbsp;&nbsp;
											<span
													th:text="#{show.favorite.location}">Show Favorite Location</span>
						</div>

						<!-- store possible values of variable -->
						<div th:text="${nurseryLevelVariable.value}" class="div-select-val" style="display: none"></div>
						<div th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}" th:id="'possibleValuesJson' + ${rowStat.index}"
							 class="possibleValuesJson" style="display:none" th:text="${nurseryLevelVariable.possibleValuesJson}">
						</div>
						<div th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}" th:id="'possibleValuesFavoriteJson' + ${rowStat.index}"
							 class="possibleValuesFavoriteJson" style="display:none" th:text="${nurseryLevelVariable.possibleValuesFavoriteJson}">
						</div>
						
						<!-- all values -->						
						<div th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}" th:id="'allValuesJson' + ${rowStat.index}"
							 class="allValuesJson" style="display:none" th:text="${nurseryLevelVariable.allValuesJson}">
						</div>
						
						<!-- all favorite values -->						
						<div th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}" th:id="'allFavoriteValuesJson' + ${rowStat.index}"
							 class="allFavoriteValuesJson" style="display:none" th:text="${nurseryLevelVariable.allFavoriteValuesJson}">
						</div>

						<input  maxlength="250"  th:if="${nurseryLevelVariable.variable.widgetType.type == 'NTEXT'}"
								type="text" th:field="*{studyLevelVariables[__${rowStat.index}__].value}" class="form-control numeric-input" />

						<input  maxlength="250"  th:if="${nurseryLevelVariable.variable.widgetType.type == 'CTEXT'}"
								type="text" th:field="*{studyLevelVariables[__${rowStat.index}__].value}" class="form-control character-input" />

					<textarea  maxlength="250"  th:if="${nurseryLevelVariable.variable.widgetType.type == 'TEXTAREA'}"
							   th:field="*{studyLevelVariables[__${rowStat.index}__].value}" class="form-control character-input" rows="3" />

						<input th:if="${nurseryLevelVariable.variable.widgetType.type == 'DATE'}"
							   type="text" placeholder="yyyy-mm-dd" th:field="*{studyLevelVariables[__${rowStat.index}__].value}" class="form-control date-input" />
						<label  th:if="${nurseryLevelVariable.variable.widgetType.type == 'DATE'}"  class="btn datepicker">
							<img th:src="@{/static/img/calendar.png}" style="padding-bottom:3px;" />
						</label>

						<input  maxlength="250"  th:if="${nurseryLevelVariable.variable.widgetType.type == 'SLIDER'}"
								type="text" th:field="*{studyLevelVariables[__${rowStat.index}__].value}"
								th:attr="data-min=${nurseryLevelVariable.variable.minRange}"
								th:attrappend="data-max=${nurseryLevelVariable.variable.maxRange}"
								class="form-control numeric-input"
								/>

								<span>
									<a th:if="${nurseryLevelVariable.variable.cvTermId}==*{locationId}" href="javascript: openManageLocations();" th:text="#{nursery.managesettings.manage.location}">Manage Location</a>
								</span>
					</div>
				</div>
				<div class="row col-xs-12 remove-all-section">
					<div class="col-xs-12">
						<input class="remove-btn" type="checkbox" data-section="nurseryLevelSettings"/>&nbsp;&nbsp;&nbsp;<label th:text="#{browse.nursery.select.all.variable}">Select All</label>&nbsp;&nbsp;&nbsp;
						<a href="javascript: void(0);" class="remove-all-vars" data-variable-type="1805" data-section="nurseryLevelSettings"
						   th:text="#{browse.nursery.remove.all.variable}">Remove</a>
					</div>
				</div>
			</div>

			<div class="form-group chs-factors">
				<img width="23" height="23" th:src="@{/static/img/factors.png}" class="image-padding" /> &nbsp;
				<label class="control-label" data-toggle="collapse" data-target=".plotLevelDetails">
					<strong class="sub-content-heading" th:text="#{nursery.managesettings.plot.level.details}">PLOT-LEVEL DETAILS</strong>
					<span class="bms-fa-question-circle help-tooltip-nursery" data-placement="right" data-toggle="tooltip" data-container="body" th:title="#{nursery.managesettings.plot.level.notes}"></span>
				</label>
				  <a href="#" class="btn btn-info pull-right chs-add-variable chs-add-variable-factor fbk-hide" th:text="#{nursery.create.nursery.add.settings}">Add</a>
			</div>
			<div class="form-group collapse in plotLevelDetails">
				<table style="table-layout: fixed;" class="my-class table table-curved table-condensed" id="plotLevelSettings">
					<thead>
					<tr>
						<th class="fbk-delete-link"></th>
						<th width="45%" th:utext="#{nursery.managesettings.plot.name}">.Name</th>
						<th width="50%" th:utext="#{nursery.managesettings.plot.description}">.Description</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="plotLevelVariable, rowStat : *{plotLevelVariables}">
						<td style="text-align: center" th:class="${rowStat.even}? 'even fbk-delete-link' : 'odd fbk-delete-link'">
							<input class="remove-indv-btn" type="checkbox" th:if="${plotLevelVariable.deletable}"
								   th:attr="data-variable-type=1804"
								   th:attrappend="data-cv-term-id=${plotLevelVariable.variable.cvTermId}"/>
							<input class="cvTermIds" type="hidden" th:field="*{plotLevelVariables[__${rowStat.index}__].variable.cvTermId}" />
						</td>
						<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
							<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
									*{plotLevelVariables[__${rowStat.index}__].variable.cvTermId} + '\',1804);'">
								<span class="var-names" th:text="${plotLevelVariable.variable.name}"></span></a>
						</td>
						<td width="50%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${plotLevelVariable.variable.description}"></td>
					</tr>
					</tbody>
				</table>

				<div class="row col-xs-12 remove-all-section">
					<div class="col-xs-12">
						<input class="remove-btn" type="checkbox" data-section="plotLevelDetails"/>&nbsp;&nbsp;&nbsp;<label th:text="#{browse.nursery.select.all.variable}">Select All</label>&nbsp;&nbsp;&nbsp;
						<a href="javascript: void(0);" class="remove-all-vars" data-variable-type="1804" data-section="plotLevelDetails"
						   th:text="#{browse.nursery.remove.all.variable}">Remove</a>
					</div>
				</div>
			</div>


			<!-- selection variates -->
			<div class="form-group chs-selection-variates">
				<span class="fbk-font-icon bms-variates"></span>
				<label class="control-label" data-toggle="collapse" data-target=".selectionVariatesDetails">
					<strong class="sub-content-heading" th:text="#{nursery.create.nursery.selection.variates}">SELECTION VARIATES</strong>
					<span class="bms-fa-question-circle help-tooltip-nursery" data-placement="right" data-toggle="tooltip" data-container="body" th:title="#{nursery.create.nursery.selection.variates.notes}"></span>
				</label>

				<a class="btn btn-info pull-right chs-add-variable" href="#" th:text="#{nursery.create.nursery.add.settings}">Add</a>
			</div>
			<div class="form-group collapse in selectionVariatesDetails">
				<table style="table-layout: fixed;" class="my-class table table-curved table-condensed selection-variate-table" id="selectionVariatesSettings">
					<thead>
					<tr>
						<th class="fbk-delete-link"></th>
						<th width="45%" th:utext="#{nursery.create.nursery.selection.variate.name}">.Name</th>
						<th width="50%" th:utext="#{nursery.create.nursery.selection.variate.description}">.Description</th>
					</tr>
					</thead>
					<tbody>
					<tr class="dummy-row" th:if="${#lists.isEmpty(selectionVariatesVariables)}">
						<td class="even dummy-col">&nbsp;</td>
						<td class="even">&nbsp;</td>
						<td class="even">&nbsp;</td>
					</tr>
					<tr th:each="selectionVariatesVariable, rowStat : *{selectionVariatesVariables}">
						<td style="text-align: center" th:class="${rowStat.even}? 'even fbk-delete-link' : 'odd fbk-delete-link'">
							<input class="remove-indv-btn" type="checkbox" th:if="${selectionVariatesVariable.deletable}"
								   th:attr="data-variable-type=1807"
								   th:attrappend="data-cv-term-id=${selectionVariatesVariable.variable.cvTermId}"/>
							<input class="cvTermIds" type="hidden" th:field="*{selectionVariatesVariables[__${rowStat.index}__].variable.cvTermId}" />
						</td>
						<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
							<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
									*{selectionVariatesVariables[__${rowStat.index}__].variable.cvTermId} + '\',1807);'">
								<span class="var-names" th:text="${selectionVariatesVariable.variable.name}"></span></a>
						</td>
						<td width="50%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${selectionVariatesVariable.variable.description}"></td>
					</tr>
					</tbody>
				</table>

				<div class="row col-xs-12 remove-all-section">
					<div class="col-xs-12">
						<input class="remove-btn" type="checkbox" data-section="selectionVariatesDetails"/>&nbsp;&nbsp;&nbsp;<label th:text="#{browse.nursery.select.all.variable}">Select All</label>&nbsp;&nbsp;&nbsp;
						<a href="javascript: void(0);" class="remove-all-vars" data-variable-type="1807"
						   data-section="selectionVariatesDetails" th:text="#{browse.nursery.remove.all.variable}">Remove</a>
					</div>
				</div>
			</div>

			<div class=" row collapse in">
				<div class="form-group">
					<br></br>
					<br></br>
					<span th:text="#{nursery.create.nursery.method.note}">If you plan to advance the nursery with a single method,  you will be able to select it during the advance process.</span>
				</div>
			</div>
		</div>
		<div class="col-xs-6">

			<div class="form-group chs-nursery-conditions">
				<label class="control-label" data-toggle="collapse" data-target=".nurseryConditionsDetails">
					<img th:src="@{/static/svg/conditions.svg}" style="margin: 0px 4px;" width="22" height="22" />
					<strong class="sub-content-heading" th:text="#{nursery.create.nursery.conditions}">NURSERY CONDITIONS</strong>
					<span class="bms-fa-question-circle help-tooltip-nursery" data-placement="right" data-toggle="tooltip" data-container="body" th:title="#{nursery.create.nursery.conditions.notes}"></span>
				</label>

				<a class="btn btn-info pull-right chs-add-variable" href="#" th:text="#{nursery.create.nursery.add.settings}">Add</a>
			</div>
			<div class="form-group constants-section-reminder fbk-hide">
				<label class="control-label" th:text="#{section.reminder.to.add.records}"></label>
			</div>
			<div class="form-horizontal sectionContainer collapse in nurseryConditionsDetails" id="nurseryConditionsSettings">
				<div class="form-group nurseryConditionsSettings" th:each="nurseryCondition, rowStat : *{nurseryConditions}">
					<div class="col-xs-5 col-md-5 1st">
						<input class="remove-indv-btn" type="checkbox" th:if="${nurseryCondition.deletable}"
							   th:attr="data-variable-type=1803" th:attrappend="data-cv-term-id=${nurseryCondition.variable.cvTermId}"/>
						<input class="cvTermIds nurseryConditionVariableIdClass" type="hidden" th:field="*{nurseryConditions[__${rowStat.index}__].variable.cvTermId}" />&nbsp;&nbsp;&nbsp;


						<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
									*{nurseryConditions[__${rowStat.index}__].variable.cvTermId} + '\',1803);'">
							<span style="word-wrap: break-word" class="control-label nursery-condition-label label-bold var-names" th:text="${nurseryCondition.variable.name}"></span></a>:&nbsp;

					</div>
					<div class="col-xs-7 col-md-7 2nd">
						<input style="width: 30%" th:if="${nurseryCondition.variable.widgetType.type == 'DROPDOWN'}"
							   type="hidden" th:field="*{nurseryConditions[__${rowStat.index}__].value}" class="form-control select2" />

						<!-- store possible values of variable -->
						<div th:text="${nurseryCondition.value}" class="div-select-val" style="display: none"></div>
						<div th:if="${nurseryCondition.variable.widgetType.type == 'DROPDOWN'}" th:id="'possibleValuesJsonCons' + ${rowStat.index}"
							 class="possibleValuesJsonCons" style="display:none" th:text="${nurseryCondition.possibleValuesJson}">
						</div>
						<div th:if="${nurseryCondition.variable.widgetType.type == 'DROPDOWN'}" th:id="'possibleValuesFavoriteJsonCons' + ${rowStat.index}"
							 class="possibleValuesFavoriteJsonCons" style="display:none" th:text="${nurseryCondition.possibleValuesFavoriteJson}">
						</div>

						<input  maxlength="250" th:if="${nurseryCondition.variable.widgetType.type == 'NTEXT'}"
								type="text" th:field="*{nurseryConditions[__${rowStat.index}__].value}" class="form-control numeric-input" />

						<input  maxlength="250" th:if="${nurseryCondition.variable.widgetType.type == 'CTEXT'}"
								type="text" th:field="*{nurseryConditions[__${rowStat.index}__].value}" class="form-control character-input" />

					<textarea  maxlength="250" th:if="${nurseryCondition.variable.widgetType.type == 'TEXTAREA'}"
							   th:field="*{nurseryConditions[__${rowStat.index}__].value}" class="form-control character-input" rows="3" />

						<input th:if="${nurseryCondition.variable.widgetType.type == 'DATE'}"
							   type="text" th:field="*{nurseryConditions[__${rowStat.index}__].value}" class="form-control date-input" />
						<label  th:if="${nurseryCondition.variable.widgetType.type == 'DATE'}"  class="btn datepicker">
							<img th:src="@{/static/img/calendar.png}" style="padding-bottom:3px;" />
						</label>

						<input  maxlength="250" th:if="${nurseryCondition.variable.widgetType.type == 'SLIDER'}"
								type="text" th:field="*{nurseryConditions[__${rowStat.index}__].value}"
								th:attr="data-min=${nurseryCondition.variable.minRange}"
								th:attrappend="data-max=${nurseryCondition.variable.maxRange}"
								class="form-control numeric-input"
								/>
					</div>
				</div>

				<div class="row col-xs-12 remove-all-section">
					<div class="col-xs-12">
						<input class="remove-btn" type="checkbox" data-section="nurseryConditionsDetails"/>&nbsp;&nbsp;&nbsp;<label th:text="#{browse.nursery.select.all.variable}">Select All</label>&nbsp;&nbsp;&nbsp;
						<a href="javascript: void(0);" class="remove-all-vars" data-variable-type="1803"
						   data-section="nurseryConditionsDetails" th:text="#{browse.nursery.remove.all.variable}">Remove</a>
					</div>
				</div>
			</div>

			<div class="form-group chs-traits">
				<img width="23" height="23" th:src="@{/static/img/baseline-traits.png}" class="image-padding" /> &nbsp;
				<label class="control-label" data-toggle="collapse" data-target=".baselineTraitDetails">
					<strong class="sub-content-heading" th:text="#{nursery.managesettings.baseline.traits}">BASELINE TRAITS</strong>
					<span class="bms-fa-question-circle help-tooltip-nursery" data-placement="right" data-toggle="tooltip" data-container="body" th:title="#{nursery.managesettings.baseline.traits.notes}"></span>
				</label>

				<a class="btn btn-info pull-right chs-add-variable" href="#" th:text="#{nursery.create.nursery.add.settings}">Add</a>
			</div>
			<div class="form-group collapse in baselineTraitDetails">
				<table style="table-layout: fixed;" class="my-class table table-curved table-condensed traits-table" id="baselineTraitSettings">
					<thead>
					<tr>
						<th class="fbk-delete-link"></th>
						<th width="45%" th:utext="#{nursery.managesettings.trait}">.Trait</th>
						<th width="50%" th:utext="#{nursery.managesettings.trait.description}">.Description</th>
					</tr>
					</thead>
					<tbody>
					<tr class="dummy-row">
						<td class="even dummy-col">&nbsp;</td>
						<td class="even">&nbsp;</td>
						<td class="even">&nbsp;</td>
					</tr>
					<tr class="baseline-traits" th:each="baselineTraitVariable, rowStat : *{baselineTraitVariables}">
						<td style="text-align: center" th:class="${rowStat.even}? 'even fbk-delete-link' : 'odd fbk-delete-link'" >
							<input class="remove-indv-btn" type="checkbox" th:if="${baselineTraitVariable.deletable}"
								   th:attr="data-variable-type=1808"
								   th:attrappend="data-cv-term-id=${baselineTraitVariable.variable.cvTermId}"/>
							<input class="cvTermIds" type="hidden" th:field="*{baselineTraitVariables[__${rowStat.index}__].variable.cvTermId}" />
						</td>
						<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
							<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
									*{baselineTraitVariables[__${rowStat.index}__].variable.cvTermId} + '\',1808);'">
								<span class="var-names" th:text="${baselineTraitVariable.variable.name}"></span></a>
						</td>
						<td width="50%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${baselineTraitVariable.variable.description}"></td>
					</tr>
					</tbody>
				</table>
				<div class="row col-xs-12 remove-all-section">
					<div class="col-xs-12">
						<input class="remove-btn" type="checkbox" data-section="baselineTraitDetails"/>&nbsp;&nbsp;&nbsp;<label th:text="#{browse.nursery.select.all.variable}">Select All</label>&nbsp;&nbsp;&nbsp;
						<a href="javascript: void(0);" class="remove-all-vars" data-variable-type="1808" data-section="baselineTraitDetails"
						   th:text="#{browse.nursery.remove.all.variable}">Remove</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<script type='text/javascript' th:inline="javascript">
//<![CDATA[
// FIXME Should not be using global variables or functions
/*global getIEVersion, getJquerySafeId, initializePossibleValuesCombo, setTimeout*/
/*global addCreateNurseryRequiredAsterisk, doOntologyTreeHighlight */
/*global checkTraitsAndSelectionVariateTable*/
/* jshint ignore:start */
var nurseryFieldsIsRequired = /*[[#{nursery.create.is.required}]]*/ '',
		nurseryGermplasmListIsRequired = /*[[#{nursery.create.germplasm.list.is.required}]]*/ '',
		checkTypeIsRequired = /*[[#{nursery.create.check.type.is.required}]]*/ '',
// Labels for method and location
		showFavoriteMethodLabel = /*[[#{show.favorite.method}]]*/ '',
		showFavoriteLocationLabel = /*[[#{show.favorite.location}]]*/ '',
		manageMethodLabel = /*[[#{nursery.managesettings.manage.method}]]*/ '',
		manageLocationLabel = /*[[#{nursery.managesettings.manage.location}]]*/ '',
		varInListMessage = /*[[#{nursery.managesettings.variable.in.selected.list}]]*/ '',
		idNameCounterpartAddedError = /*[[#{manage.settings.id.name.counterpart.added.error}]]*/ '',
		valueNotNumeric = /*[[#{nursery.create.nursery.value.not.numeric}]]*/ '',
		valueNotWIMinMax = /*[[#{nursery.create.nursery.value.not.within.min.max}]]*/ '',
		locationIframeOpened = false,
		methodIframeOpened = false,

		/**
		 * With the new OM we now need to have the VariableType (TermId) information
		 * of these groups so we can assign these variables their assigned
		 * VariableType when saving the nursery.
		 **/

		selectionVariatesSegment = /*[[${T(org.generationcp.middleware.domain.ontology.VariableType).SELECTION_METHOD.getId()}]]*/ 1807,
		baselineTraitsSegment =  /*[[${T(org.generationcp.middleware.domain.ontology.VariableType).TRAIT.getId()}]]*/ 1808;
		inputChange = false;

// Labels for Entry No and Plot No
var entryNoShouldBeInRange = /*[[#{entry.number.should.be.in.range}]]*/ '',
        plotNoShouldBeInRange = /*[[#{plot.number.should.be.in.range}]]*/ '';
/* jshint ignore:end */

var locationId = '',
		breedingMethodId = '',
		requiredFields = [],
		disabledActionTooltipMessage = /*[[#{nursery.create.actions.is.disabled}]]*/ '',
		treeDivId = 'ontologyBrowserTree',
		ChooseSettings = window.ChooseSettings,
		chooseSettings;
$(document).ready(function() {
	'use strict';
	chooseSettings = new ChooseSettings({
		generalAjaxError: /*[[#{nursery.managesettings.variable.selection.error}]]*/ '',
		uniqueVariableError: /*[[#{variable.selection.unique.variable.error}]]*/ '',
		mdLabel: /*[[#{nursery.managesettings.add.nursery.level.settings}]]*/ '',
		mdPlaceholder: /*[[#{nursery.reminder.add.nursery.settings}]]*/ '',
		fdLabel: /*[[#{nursery.managesettings.add.plot.level.settings}]]*/ '',
		fdPlaceholder: /*[[#{nursery.reminder.add.plot.settings}]]*/ '',
		svLabel: /*[[#{nursery.managesettings.add.selection.variates}]]*/ '',
		svPlaceholder: /*[[#{nursery.reminder.add.selection.variates}]]*/ '',
		tdLabel: /*[[#{nursery.managesettings.add.baseline.traits}]]*/ '',
		tdPlaceholder: /*[[#{nursery.reminder.add.trait.settings}]]*/ '',
		ncLabel: /*[[#{nursery.managesettings.add.nursery.conditions}]]*/ '',
		ncPlaceholder: /*[[#{nursery.reminder.add.nursery.conditions}]]*/ '',
		variableSelectedMessage: /*[[#{common.warning.variable.in.use}]]*/ '',
		invalidAliasError: /*[[#{variable.selection.alias.error}]]*/ ''
	});
	chooseSettings.initialiseVariableSelection();
	// FIXME Shouldn't be user agent checking
	if (getIEVersion() === 8) {
		$('.table-with-scroll-create').parent().addClass('variable-details');
		$('.table-with-scroll-create').removeClass('table-with-scroll-create');
	}
	if ($('#requiredFields').val() !== '') {
		requiredFields = $('#requiredFields').val().split(',');
	}
	locationId = $('#locationId').val();
	breedingMethodId = $('#breedingMethodId').val();
	$('#folderNameSpan').html($('#folderName').val());
	var possibleValuesJsonElm = $('.possibleValuesJson');
	$.each(possibleValuesJsonElm, function(index, divElem) {
		var select2Index = $(divElem).attr('id').split('possibleValuesJson')[1];
		if (parseInt($('#' + getJquerySafeId('studyLevelVariables' + select2Index +
				'.variable.cvTermId')).val(), 10) === parseInt(locationId, 10)) {
			initializePossibleValuesCombo($.parseJSON(divElem.innerHTML),
					'#' + getJquerySafeId('studyLevelVariables' + select2Index +
					'.value'), true, $(divElem).siblings('.div-select-val').html());
		} else {
			initializePossibleValuesCombo($.parseJSON(divElem.innerHTML),
					'#' + getJquerySafeId('studyLevelVariables' + select2Index +
					'.value'), false, $(divElem).siblings('.div-select-val').html());
		}
	});
	$.each($('.possibleValuesJsonCons'), function(index, divElem) {
		var select2Index = $(divElem).attr('id').split('possibleValuesJsonCons')[1];
		initializePossibleValuesCombo($.parseJSON(divElem.innerHTML),
				'#' + getJquerySafeId('nurseryConditions' + select2Index +
				'.value'), false, $(divElem).siblings('.div-select-val').html());
	});
	// FIXME - Shouldn't pass a string here
	setTimeout('initializeDateAndSliderInputs()', 500);
	addCreateNurseryRequiredAsterisk();
	$('#srch-term').on('change', function() {
		var data = $('#srch-term').select2('data');
		doOntologyTreeHighlight(treeDivId, data.key);
	});
	$('.vs-modal').on('variable-select', function(event) {
		if (document.disableActions !== undefined) {
			document.disableActions();
		}
	});
	// remove any other listeners for the location update
	$(document).off('location-update');
	$(document).on('location-update', recreateLocationCombo);
	$(document).off('method-update');
	$(document).on('method-update', recreateMethodCombo);
	$('#variateDeleteConfirmationModal').on('click', '#cancelDelete', function() {
		if (document.initialEnabledStat && document.enableActions !== undefined) {
			document.enableActions();
		}
	});
	$('#variateDeleteConfirmationModal').on('click', '#continueDelete', function() {
		if (document.disableActions !== undefined) {
			document.disableActions();
		}
	});
	document.disableActions = function() {
		var actionBtn = $('.fbk-action-btn');
		actionBtn.removeAttr('data-toggle').addClass('disabled enable-pointer-events');
		actionBtn.tooltip({container: 'body', title: disabledActionTooltipMessage, placement: 'top'});
	};
	document.enableActions = function() {
		var actionBtn = $('.fbk-action-btn');
		actionBtn.attr('data-toggle', 'dropdown');
		actionBtn.tooltip('hide');
		actionBtn.tooltip('destroy');
		actionBtn.removeClass('disabled');
	};
	if ($('#baselineTraitSettings tbody tr').length > 1) {
		hideDummyRow('baselineTraitSettings');
	}
	if ($('#selectionVariatesSettings tbody tr').length > 1) {
		hideDummyRow('selectionVariatesSettings');
	}
	checkShowSettingsFormReminder();

	// Perform some logic depending on the presence
	// of favorites or saved values
	if ($('.edit-nursery-page-identifier').length) {
		$.each(possibleValuesJsonElm, function(index, divElem) {
			var select2Index = $(divElem).attr('id').split('possibleValuesJson')[1];
			checkFavoritesIfValIsAFavorite(select2Index);
		});
	}

	//Added logic for checkbox of location being selected if there is any favorite location
	var favoriteLocationCheck = $('.favoriteLocationCheck'),
			allFavoriteLocationsCheck;
	$.each(favoriteLocationCheck, function(index, divElem) {
		var allFavLocation = $(divElem);
		var favLocationId = allFavLocation.attr('id');
		if ( favLocationId ) {
			allFavoriteLocationsCheck = $.parseJSON(allFavLocation.html());
		}
	});
	if(typeof allFavoriteLocationsCheck != 'undefined')
	{
		if(allFavoriteLocationsCheck.length > 0 ){
			$('.studyLevelVariablesDetails').click();
		}
	}

	// Call on-change handlers associated with
	// the "show all Location/Methods" input
	$('.filter_selectors_all:checked').click();

	checkNurseryIfShowRemoveVariableLinks();
	$('.remove-btn').on('click', function() {
		var sectionDiv = $(this).data('section');
		var isChecked = $(this).prop('checked');
		$('.' + sectionDiv + ' .remove-indv-btn').prop('checked', isChecked);
	});
	$('.remove-all-vars').on('click', function() {
		var sectionDiv = $(this).data('section');
		var variableType = $(this).data('variable-type');
		var checkedInput = $('.' + sectionDiv + ' .remove-indv-btn:checked');
		var deleteVarIds = '';
		if (checkedInput.length === 0) {
			showAlertMessage('', 'Please choose variables to be deleted');
			return false;
		} else {
			checkedInput.each(function() {
				if (deleteVarIds !== '') {
					deleteVarIds += '|';
				}
				deleteVarIds += $(this).data('cv-term-id');
			});

			deleteMultiVariable(variableType, deleteVarIds, sectionDiv);
		}
	});
});
//]]>
</script>
