<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1>
			MANAGE NURSERIES
		</h1>
	</div>
</div>

<div class="">
	<div class="form-group">
		<div id="page-message"></div>
	</div>
</div>

<form id="createNurseryMainForm" role="form-horizontal" action="#"
th:object="${createNurseryForm}" enctype="multipart/form-data">
	<div class="">
		<div class="row">
			<div class="col-md-6">
				<img width="30" height="30" th:src="@{/static/img/new-nursery.png}" class="image-padding image-padding-with-text" />
				<label class="heading" th:text="#{nursery.create.nursery.label}">Create Nursery</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="button" onclick="submitForm();" th:value="#{common.form.save.text}" class="btn btn-info fbk-save-button-left-margin" />
			</div>
			<div class="col-md-4">
			</div>
			<div class="col-md-2 add_top_padding">
				<a th:href="@{/NurseryManager/manageNurseries}" th:text="#{return.to.manage.nurseries}">Return to Manage Nurseries</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			&nbsp;
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<label class=""><em th:utext="#{fieldmap.mandatory.fields}"> Mandatory fields are noted with a *</em></label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<label class="control-label">
				<strong class="sub-content-heading" th:text="#{nursery.create.nursery.basic.details}">BASIC DETAILS</strong>
			</label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-2">
			<input class="cvTermIds nurseryLevelVariableIdClass" type="hidden" th:field="*{basicDetails[0].variable.cvTermId}" />
			<label th:text="#{nursery.create.nursery.nursery.name} + ': '" class="control-label label-bold"></label>&nbsp;<span class="required">*</span>
		</div>
		<div class="col-md-4">
			<input type="text" class="form-control character-input" th:field="*{basicDetails[0].value}" />
		</div>
		<div class="col-md-2">
			<label class="label-bold" id="folderLabel" th:text="#{nursery.savenursery.savein} + ': '"></label>&nbsp;<span class="required">*</span>
		</div>
		<div class="col-md-2">
			<input type="hidden" th:field="*{folderId}" />
			<input type="hidden" th:field="*{folderName}" />
			<label class="control-label" id="folderNameLabel"></label>
		</div>
		<div class="col-md-2">
			<a id="chooseLocation" onclick="openStudyTree(2);" th:text="#{nursery.create.nursery.choose.location}"></a>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-xs-2 col-md-2">
			<input class="cvTermIds nurseryLevelVariableIdClass" type="hidden" th:field="*{basicDetails[1].variable.cvTermId}" />
			<label th:text="#{nursery.create.nursery.description} + ': '" class="control-label label-bold"></label>&nbsp;<span class="required">*</span>
		</div>
		<div class="col-xs-4 col-md-4">
			<input type="text" class="form-control character-input" th:field="*{basicDetails[1].value}" />
		</div>
		<div class="col-xs-2 col-md-2">
			<input class="cvTermIds" type="hidden" th:field="*{basicDetails[2].variable.cvTermId}" />
			<label th:text="#{nursery.create.nursery.creation.date} + ': '" class="control-label label-bold"></label>&nbsp;<span class="required">*</span>
		</div>
		<div class="col-xs-2 col-md-2">
			<input id="basicDetails.value2" style="width: 100px" type="text" class="form-control date-input" th:field="*{basicDetails[2].value}" />
			<label for="basicDetails.value2" class="btn datepicker">
				<img th:src="@{/static/img/calendar.png}" style="padding-bottom:3px;" />
			</label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-xs-2 col-md-2">
			<input class="cvTermIds" type="hidden" th:field="*{basicDetails[3].variable.cvTermId}" />
			<label th:text="#{nursery.create.nursery.objective} + ': '" class="control-label label-bold"></label>
		</div>
		<div class="col-xs-4 col-md-4">
			<textarea class="form-control character-input" rows="3" th:field="*{basicDetails[3].value}"></textarea>
		</div>
		<div class="col-xs-2 col-md-2">
			<input class="cvTermIds" type="hidden" th:field="*{basicDetails[4].variable.cvTermId}" />
			<label th:text="#{nursery.create.nursery.completion.date} + ': '" class="control-label label-bold"></label>
		</div>
		<div class="col-xs-2 col-md-2">
			<input id="basicDetails.value4" style="width: 100px" type="text" class="form-control date-input" th:field="*{basicDetails[4].value}" />
			<label for="basicDetails.value4" class="btn datepicker">
				<img th:src="@{/static/img/calendar.png}" style="padding-bottom:3px;" />
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			&nbsp;
		</div>
	</div>
	<div class="row form-group">
		<div class="col-xs-12 col-md-12">
			<label class="label-bold" th:text="#{nursery.create.nursery.build.nursery} + '? '">How would you like to build your nursery?</label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-xs-8 col-md-8">
			<select id="studyBuildOption">
				<option value="1">Start with Blank Nursery</option>
				<option value="2" th:text="#{nursery.managesettings.use.previous.nursery}">Use Previous Nursery</option>
			</select>
			&nbsp;&nbsp;
			<input type="button" onclick="javascript: openStudyTree(3);" th:value="#{common.form.choose.text}" class="btn btn-info" id="choosePreviousStudy" />
		</div>
		<div class="col-xs-4 col-md-4">
			&nbsp;
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			&nbsp;
		</div>
	</div>
</form>

<ul id="create-nursery-tab-headers" class="nav nav-tabs" >
	<li id="nursery-settings-li" class="active"><a href="javascript:showSelectedTab('nursery-settings');" th:text="#{nursery.create.nursery.nursery.settings}">.Nursery Settings</a></li>
	<li id="nursery-germplasm-list-li"><a href="javascript:showSelectedTab('nursery-germplasm-list');" th:text="#{nursery.create.nursery.germplasm.list.tab}">.Germplasm and Checks</a></li>
</ul>

<div id="create-nursery-tabs" style="padding-top: 15px;">
	<div id="nursery-settings" class="info">
		<div class="col-xs-12 col-md-12">
			<div id="chooseSettingsDiv" th:include="/NurseryManager/chooseSettings">
			</div>
		</div>
	</div>
	<div id="nursery-germplasm-list" class="info" style="display:none;">
		<div class="col-xs-12 col-md-12">
			<div id="chooseGermplasmAndChecks" th:include="/NurseryManager/importGermplasmList">
			</div>
		</div>
	</div>
</div>

<!-- Modal Dialog for Choosing Folder Location -->
<div class="form-group" id="create-nursery">
	<div th:include="/NurseryManager/includes/studyTree" />
</div>
<div id="list-tree-include" th:include="/Common/includes/listTreeInclude"></div>
<div class="row">
	<div id="example-germplasm" th:include="/Common/includes/saveList"></div>
</div>
<div class="row">
	<div id="open-germplasm" th:include="/Common/includes/openGermplasmDetailsModal"></div>
</div>
<div class="row">
	<div id="open-germplasm-list" th:include="/NurseryManager/includes/manageGermplasmListOperation"></div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div id="manage-location" th:include="/Common/includes/manageLocationsModal"></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div id="manage-location" th:include="/Common/includes/manageMethodsModal"></div>
	</div>
</div>
<div layout:fragment="page-script">
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[

		// FIXME Should not be using global variables or functions
		/*global lastDraggedChecksList, Spinner, validateCreateNursery, validateStartEndDate, moveToTopScreen*/
		/*global loadNurserySettingsForCreate, getJquerySafeId, changeBuildOption*/
		function refreshStudyAfterSave(studyId){
			'use strict';
			$.ajax({
				url: '/Fieldbook/NurseryManager/editNursery/'+studyId,
				type: 'GET',
				data: 'isAjax=1',
				dataType: 'html',
				cache: false,
				success: function(html) {					
					$('.container .row:eq(0)').html(html);
					$('#successStudyMessageModal').modal({ backdrop: 'static', keyboard: true });
					Spinner.toggle();
				}
			});
		}

		function submitGermplasmList(){
			'use strict';

			var $form = $('#germplasm-list-form');

			$('#startIndex').val($('#startIndex2').val());
			$('#interval').val($('#interval2').val());
			$('#mannerOfInsertion').val($('#mannerOfInsertion2').val());
			$('#lastDraggedChecksList').val(lastDraggedChecksList);
			var serializedData = $form.serialize();

			$.ajax({
				url: '/Fieldbook/NurseryManager/importGermplasmList/next',
				type: 'POST',
				data: serializedData,
				cache: false,
				success: function(dataResponse) {
					refreshStudyAfterSave(dataResponse);										
				}
			});
		}
				

		function submitCheckGermplasmList() {
			'use strict';

			var $form = $('#check-germplasm-list-form'),
				serializedData = $form.serialize();

			$.ajax({
				url: '/Fieldbook/NurseryManager/importGermplasmList/submitCheckGermplasmList',
				type: 'POST',
				data: serializedData,
				cache: false,
				success: function() {
					submitGermplasmList();
				}
			});
		}

		function submitWorkbook(){
			'use strict';

			var $form = $('#createNurseryForm, #createNurseryMainForm'),
				serializedData = $form.serialize();

			Spinner.toggle();

			$.ajax({
				url: '/Fieldbook/NurseryManager/createNursery',
				type: 'POST',
				data: serializedData,
				cache: false,
				success: function() {
					submitCheckGermplasmList();
				},
				complete: function() {
				}
			});
		}

		// FIXME This should not be global
		function submitForm() {
			'use strict';

			if (validateCreateNursery()) {
				if (!validateStartEndDate('nurseryLevelSettings')) {
					moveToTopScreen();
					return false;
				}
				submitWorkbook();
			} else {
				moveToTopScreen();
			}
		}

		
		$(document).ready(function() {
			'use strict';

			$('#selectedSettingId').on('change', function(){
				loadNurserySettingsForCreate($(this).val());
			});

			$('#studyBuildOption').on('change', changeBuildOption);
			$('#choosePreviousStudy').hide();

			setTimeout(function() {
				$('#' + getJquerySafeId('basicDetails.value2')).datepicker('setDate', new Date());
			}, 600);
		});
	//]]>
	</script>
</div>
