<!-- Modal for Advancing Nursery -->
<div class="row">
	<div id="advance-nursery-modal-div"></div>
</div>

<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1>MANAGE NURSERIES</h1>
	</div>
</div>

<div class="">
	<div class="form-group">
		<div id="page-message"></div>
	</div>
</div>

<form id="createNurseryMainForm" role="form-horizontal" action="#" th:object="${createNurseryForm}" enctype="multipart/form-data">
	<input type="hidden" th:field="*{studyId}" />
	<div class="row">
		<div class="col-md-9">
			<img width="30" height="30" th:src="@{/static/img/new-nursery.png}" class="image-padding image-padding-with-text" />
			<label class="heading" th:text="#{nursery.edit.nursery.label}">Edit Nursery</label>
			<label class="heading" th:text="*{basicDetails[0].value}" th:if="*{basicDetails[0].value.length() &lt; charLimit or basicDetails[0].value.length() == charLimit}"></label>
			<label class="heading nursery-name" data-placement="right" data-toggle="tooltip" th:text="*{basicDetails[0].value.substring(0, charLimit)} + '...'" th:title="*{basicDetails[0].value}" th:if="*{basicDetails[0].value.length() > charLimit}"></label>
			<input type="button" onclick="submitForm();" th:value="#{common.form.save.text}" class="btn btn-info fbk-save-button-left-margin" />
		</div>
		<div class="col-md-3 add_top_padding">
			<a  class="fbk-float-right"  th:href="@{/NurseryManager/manageNurseries}" th:text="#{return.to.manage.nurseries}">Return to Manage Nurseries</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-8">
			<label class="control-label section-toggle toggle-icon" id="basicDetails" data-target=".basicDetailsSection">
				<img style="margin-left: -10px; display: none;" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
				<img style="margin-left: -7px;" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
				<strong class="sub-content-heading" th:text="#{nursery.create.nursery.basic.details}">BASIC DETAILS</strong>
			</label>
			</div>
			<div class="col-md-4">
			<div  class="fbk-float-right-with-top-pos">
				<div class="btn-group">
					<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
						<span th:text="#{nursery.nurserydetails.actions}">Actions</span>
					</button>
					<ul class="dropdown-menu fbk-right-button-drop-down" role="menu">
						<li th:if="${createNurseryForm.measurementRowList.size() != 0}" class="withMeasurementsOnly">
							<a href="" style="display: none" id="open-study-url"></a>
							<a href="javascript: showExportOptions();" id="open-study-url-link"
								th:text="#{nursery.nurserydetails.action.export.nursery}">Export Nursery Book</a>
						</li>
						<li th:if="${createNurseryForm.measurementRowList.size() != 0}" class="withMeasurementsOnly">
							<a href="" style="display: none" id="fieldmap-url" th:href="@{/Fieldmap/enterFieldDetails/nursery}"></a>
							<a href="javascript: createFieldMap('nursery-table');" id="fieldmap-url-link"
								th:text="#{nursery.nurserydetails.action.createFieldmap}">Make Field Map</a>
						</li>
						<li th:if="${createNurseryForm.measurementRowList.size() != 0}" class="withMeasurementsOnly">
							<a href="" style="display: none" id="label-printing-url" th:href="@{/LabelPrinting/specifyLabelDetails/nursery}"></a>
							<a href="javascript: createLabelPrinting('nursery-table');" id="label-printing-url-link"
								th:text="#{nursery.nurserydetails.action.printLabels}">Print Labels</a>
						</li>
						<li th:if="${createNurseryForm.measurementRowList.size() != 0}" class="withMeasurementsOnly">
							<a href="" style="display: none" id="open-study-url"></a>
							<a href="javascript: showImportOptions();" id="open-study-url-link"
								th:text="#{nursery.nurserydetails.action.import.nursery}">Import Measurements</a>
						</li>
						<li th:if="${createNurseryForm.measurementRowList.size() != 0}" class="withMeasurementsOnly">
							<a href="" style="display: none" id="advance-study-url" th:href="@{/NurseryManager/advance/nursery}"></a>
							<a href="javascript: advanceNursery('nursery-table');" id="advance-study-url-link"
								th:text="#{nursery.nurserydetails.action.advance}">Advance Nursery</a>
							</li>
						<li>
							<a th:href="@{/NurseryManager/manageNurseries}" id="close-nursery-url-link"
								th:text="#{nursery.nurserydetails.action.close.nursery}">Close Nursery</a>
						</li>
					</ul>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div class="basicDetailsSection" style="display: none">
		<div class="row form-group">
			<div class="col-xs-2 col-md-2">
				<input class="cvTermIds" type="hidden" th:field="*{basicDetails[0].variable.cvTermId}" />
				<label th:text="#{nursery.create.nursery.nursery.name} + ': '" class="control-label label-bold"></label>&nbsp;<span class="required">*</span>
			</div>
			<div class="col-xs-4 col-md-4">
				<label th:text="*{basicDetails[0].value}" class="control-label fbk-variable" data-truncate-limit="45"> </label>
				<input type="hidden" class="form-control" th:field="*{basicDetails[0].value}" />
			</div>
			<div class="col-xs-2 col-md-2">
				<label class="label-bold" id="folderLabel" th:text="#{nursery.savenursery.savein} + ': '"></label>&nbsp;<span class="required">*</span>
			</div>
			<div class="col-xs-2 col-md-2">
				<input type="hidden" th:field="*{folderId}" />
				<input type="hidden" th:field="*{folderName}" />
				<label class="control-label fbk-label-overflow" id="folderNameLabel" th:text="*{folderName}"></label>
			</div>
			<div class="col-xs-2 col-md-2">
				<a class="fbk-float-right" id="chooseLocation" onclick="openStudyTree(2);" th:text="#{nursery.create.nursery.choose.location}"></a>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-2 col-md-2">
				<input class="cvTermIds nurseryLevelVariableIdClass" type="hidden" th:field="*{basicDetails[1].variable.cvTermId}" />
				<label th:text="#{nursery.create.nursery.description} + ': '" class="control-label label-bold"></label>&nbsp;<span class="required">*</span>
			</div>
			<div class="col-xs-4 col-md-4">
				<input type="text" class="form-control character-input" th:field="*{basicDetails[1].value}" />
			</div>
			<div class="col-xs-2 col-md-2">
				<input class="cvTermIds nurseryLevelVariableIdClass" type="hidden" th:field="*{basicDetails[2].variable.cvTermId}" />
				<label th:text="#{nursery.create.nursery.creation.date} + ': '" class="control-label label-bold"></label>&nbsp;<span class="required">*</span>
			</div>
			<div class="col-xs-2 col-md-2">
				<input id="basicDetails.value2" style="width: 100px" type="text" class="form-control date-input" th:field="*{basicDetails[2].value}" />
				<label for="basicDetails.value2" class="btn datepicker"> <img th:src="@{/static/img/calendar.png}" style="padding-bottom: 3px;" /></label>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-2 col-md-2">
				<input class="cvTermIds" type="hidden" th:field="*{basicDetails[3].variable.cvTermId}" />
				<label th:text="#{nursery.create.nursery.objective} + ': '" class="control-label label-bold"></label>
			</div>
			<div class="col-xs-4 col-md-4">
				<textarea class="form-control character-input" rows="3" th:field="*{basicDetails[3].value}"></textarea>
			</div>
			<div class="col-xs-2 col-md-2">
				<input class="cvTermIds" type="hidden" th:field="*{basicDetails[4].variable.cvTermId}" />
				<label th:text="#{nursery.create.nursery.completion.date} + ': '" class="control-label label-bold"></label>
			</div>
			<div class="col-xs-2 col-md-2">
				<input id="basicDetails.value4" style="width: 100px" type="text" class="form-control date-input" th:field="*{basicDetails[4].value}" />
				<label for="basicDetails.value4" class="btn datepicker"> <img th:src="@{/static/img/calendar.png}" style="padding-bottom: 3px;" /></label>
			</div>
		</div>
	</div>
</form>

<ul id="create-nursery-tab-headers" class="nav nav-tabs">
	<li id="nursery-settings-li" class="active">
		<a href="javascript:showSelectedTab('nursery-settings');" th:text="#{nursery.create.nursery.nursery.settings}">.Nursery Settings</a>
	</li>
	<li id="nursery-germplasm-list-li">
		<a href="javascript:showSelectedTab('nursery-germplasm-list');" th:text="#{nursery.create.nursery.germplasm.list.tab}">.Germplasm and Checks</a>
	</li>
	<li id="nursery-measurements-li">
		<a href="javascript:showSelectedTab('nursery-measurements');" th:text="#{nursery.edit.nursery.measurements}">.Measurements</a>
	</li>
</ul>

<div id="create-nursery-tabs" style="padding-top: 15px;">
	<div id="nursery-settings" class="info">
		<div class="col-xs-12 col-md-12">
			<div id="chooseSettingsDiv" th:include="/NurseryManager/chooseSettings"></div>
		</div>
	</div>
	<div id="nursery-germplasm-list" class="info" style="display: none;">
		<div class="col-xs-12 col-md-12">
			<div id="chooseGermplasmAndChecks" th:include="/NurseryManager/importGermplasmList"></div>
			<div class="row form-group overwrite-germplasm-list">
				<div class="col-xs-12 col-md-12">
					<label class="control-label">
						<strong class="sub-content-heading" th:text="#{nursery.edit.nursery.overwrite.germplasm.list.message}">
							This Nursery has a saved germplasm list, do you want to overwrite it?
						</strong>
					</label>
					&nbsp;&nbsp;&nbsp;
					<button class="btn btn-primary" onclick="showGermplasmDetailsSection();" th:text="#{germplasm.replace}">Overwrite</button>
				</div>
			</div>
			<div class="row form-group observation-exists-notif">
				<div class="col-xs-12 col-md-12">
					<label class="control-label">
						<strong class="sub-content-heading" th:text="#{nursery.edit.nursery.cannot.modify.germplasm.list.message}">This Nursery has saved observations, germplasm list cannot be modified.</strong>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div id="nursery-measurements" class="info" style="display: none;">
		<div class="col-xs-12 col-md-12">
			<div id="measurementsDiv" th:include="/NurseryManager/addOrRemoveTraits" th:if="${createNurseryForm.measurementRowList.size() != 0}"></div>
			<div class="row form-group no-measurements-message" th:if="${createNurseryForm.measurementRowList.size() == 0}">
				<div class="col-xs-12 col-md-12">
					<label class="control-label">
						<strong class="sub-content-heading" th:text="#{nursery.create.nursery.no.measurements.message}">Choose a germplasm list and save your nursery before proceeding in this Tab.</strong>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Dialog for Choosing Folder Location -->
<div class="form-group" id="create-nursery">
	<div th:include="/NurseryManager/includes/studyTree"></div>
</div>

<!-- Modal Dialog for Delete Confirmation -->
<div class="form-group">
	<div class="col-md-12">
		<div class="modal fade" id="variateDeleteConfirmationModal" role="dialog" aria-labelledby="variateDeleteConfirmationModal"
			aria-hidden="true">

			<div class="modal-dialog" style="width: 600px">
				<div class="modal-content">
					<div class="modal-body" id="variateDeleteConfirmationBody">
						<div style="text-align: center">
							<input type="hidden" id="varToDelete" />
							<input type="hidden" id="variableType" />
							<label th:text="#{nursery.edit.nursery.confirm.delete.variate}">This variable has existing measurement data, do you want to proceed
								with deletion?</label>
						</div>
					</div>
					<div class="modal-footer">
						<button id="cancelDelete" data-dismiss="modal" th:text="#{common.form.cancel.text}" class="btn btn-default">Cancel</button>
						<button id="continueDelete" data-dismiss="modal" th:text="#{common.form.continue.text}" onClick="javascript: proceedWithDelete();"
							class="btn btn-primary">Continue</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div id="list-tree-include" th:include="/Common/includes/listTreeInclude"></div>

<div class="row">
	<div id="example-germplasm" th:include="/Common/includes/saveList"></div>
</div>

<div class="row">
	<div id="open-germplasm" th:include="/Common/includes/openGermplasmDetailsModal"></div>
</div>

<div class="row">
	<div id="open-germplasm-list" th:include="/NurseryManager/includes/manageGermplasmListOperation"></div>
</div>

<div class="row">
	<div id="export-study" th:include="/NurseryManager/includes/exportStudy"></div>
</div>

<div class="row">
	<div id="import-study" th:include="/NurseryManager/includes/importStudy"></div>
</div>

<div class="row">
	<div class="row" id="addLotsModalDiv"></div>
	<div class="col-xs-12 col-md-12">
		<div id="manage-location" th:include="/Common/includes/manageLocationsModal"></div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<div id="manage-location" th:include="/Common/includes/manageMethodsModal"></div>
	</div>
</div>

<div class="row">
	<div id="ontology-add-variable" th:include="/Fieldmap/includes/selectTrialInstanceModal"></div>
</div>

<div class="modal fade" id="manageTrialConfirmation" tabindex="-1" role="dialog" aria-labelledby="manageTrialConfirmationLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Confirmation</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-offset-1 col-xs-11 col-md-offset-1 col-md-11">
						<p th:text="#{fieldmap.confirmation.for.viewing.generated.fieldmap}">Do you wish to view the generated fieldmap(s)?</p>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-xs-offset-5 col-xs-7 col-md-offset-5 col-md-7">
						<div class="form-group">
							<input type="hidden" id="fieldmapStudyId" name="fieldmapStudyId" />
							<input type="hidden" id="fieldmapDatasetId" name="fieldmapDatasetId" />
							<input type="hidden" id="fieldmapGeolocationId" name="fieldmapGeolocationId" />
							<button type="button" class="btn btn-danger" th:value="#{common.form.yes.text}" onclick="javascript: proceedToCreateFieldMap();">No</button>
							<button type="button" class="btn btn-primary" th:value="#{common.form.no.text}" onclick="javascript: proceedToGenerateFieldMap();">Yes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div layout:fragment="page-script">
	<script type='text/javascript' th:inline="javascript">
		//<![CDATA[

		// FIXME Should not be using global variables or functions
		/*global showErrorMessage,recreateSessionVariables, lastDraggedChecksList, Spinner, validateCreateNursery, validateStartEndDate, moveToTopScreen, programNurseriesText*/
		var locationSuggestions = /*[[${locationList}]]*/ '',
			scaleSuggestions = /*[[${scaleList}]]*/  '',
			saveSuccessMessage = /*[[#{common.form.save.successful.text}]]*/ '';


		/* jshint ignore:start */
		var measurementRowCount = /*[[${createNurseryForm.measurementRowList.size()}]]*/ 0,
			buttonToDelete = null;
			/* jshint ignore:end */

		function submitGermplasmList() {
			'use strict';

			var $form = $('#germplasm-list-form');

			$('#startIndex').val($('#startIndex2').val());
			$('#interval').val($('#interval2').val());
			$('#mannerOfInsertion').val($('#mannerOfInsertion2').val());
			var serializedData = $form.serialize();

			$('#lastDraggedChecksList').val(lastDraggedChecksList);

			$.ajax({
				url: '/Fieldbook/NurseryManager/importGermplasmList/next',
				type: 'POST',
				data: serializedData,
				cache: false,
				success: function() {
					refreshStudyAfterSave($("#studyId").val());
					displaySaveSuccessMessage('page-message', saveSuccessMessage);
				}
			});
		}

		function submitCheckGermplasmList() {
			'use strict';
			var $form = $('#check-germplasm-list-form');
			var serializedData = $form.serialize();

			$.ajax({
				url: '/Fieldbook/NurseryManager/importGermplasmList/submitCheckGermplasmList',
				type: 'POST',
				data: serializedData,
				cache: false,
				success: function() {
					submitGermplasmList();
				}
			});
		}

		function submitWorkbook(){
			'use strict';

			Spinner.toggle();

			var $form = $('#createNurseryForm, #createNurseryMainForm'),
				serializedData = $form.serialize();

			$.ajax({
				url: '/Fieldbook/NurseryManager/editNursery',
				type: 'POST',
				data: serializedData,
				cache: false,
				success: function(data) {
                    if (data.status === '-1') {
                        showErrorMessage('page-message', data.errorMessage);
                        Spinner.toggle();
                    } else if ($('.germplasm-list-items tbody tr').length > 0 || measurementRowCount === 0) {
						submitCheckGermplasmList();
					} else if (data.status === '1') {
						recreateSessionVariables();
					}
				}
			});
		}

		function deleteMeasurementRows() {
			'use strict';

			Spinner.toggle();

			$.ajax({
				url: '/Fieldbook/NurseryManager/editNursery/deleteMeasurementRows',
				type: 'POST',
				data: '',
				cache: false,
				success: function(data) {
                    if (data.status == -1) {
                        showErrorMessage('page-message', data.errorMessage);
                        Spinner.toggle();
                    } else {
                    	Spinner.toggle();
                    	submitWorkbook();
					}
				}
			});
		}

		function submitForm() {
			'use strict';

			if (validateCreateNursery()) {
				if(!validateStartEndDate('nurseryLevelSettings')) {
					moveToTopScreen();
					return false;
				}
				if ($(".germplasm-list-items tbody tr").length > 0 && measurementRowCount > 0) {
					deleteMeasurementRows();
				} else {
					submitWorkbook();
				}

                if (document.enableActions !== undefined) {
                    document.enableActions();
                }

			} else {
				moveToTopScreen();
			}
		}

		$(document).ready(function() {
			'use strict';

			$('#basicDetails.toggle-icon').click(function(){
				var expandedImg = $(this).find('.section-expanded'),
					collapsedImg = $(this).find('.section-collapsed'),
					className = $(this).data('target');

				expandedImg.toggle();
				collapsedImg.toggle();
				$(className).slideToggle();
			});

			if ($('#folderId').val() === '1') {
				$('#folderNameLabel').html(programNurseriesText);
			}

			if ($("#measurementDataExisting")) {
				displayCorrespondingGermplasmSections();
			}
			if ($('.nursery-name').length > 0) {
				$('.nursery-name').tooltip();
			}
			truncateStudyVariableNames('.fbk-variable', 30);
		});

	//]]>
	</script>
</div>