<div ng-controller="experimentalDesignCtrl">
	<section-container icon="bms-exp-design" heading="Experimental Design">
		<section-container name="content" heading="DETAILS OF IMPORTED EXPERIMENTAL DESIGN">
			<div class="row" name="content">
				<div class="col-md-8">
					<div class="add-bottom-padding">
						<b th:text="#{review.trial.design.source}"></b>
						<span>{{currentDesignType.templateName}}</span>
						<a href="javascript: ImportDesign.showChangeDesignPopup(ImportDesign.hasGermplasmListSelected());" id="change-import-design-url-link"
						   class="btn btn-info pull-right chs-add-variable" th:text="#{design.import.change}">Change</a>
					</div>
				</div>
				<div class="col-md-8">
					<div class="add-bottom-padding">
						<b th:text="#{review.trial.design.type}"></b>
						<span>{{currentDesignType.name}}</span>
					</div>
				</div>
			</div>
		</section-container>
	</section-container>

	<div id="experimental-design-imported-design" th:include="Common/importedDesignColumnsSummary" class="add-top-margin"></div>

</div>
