<div class="col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1>
			Upload a Nursery Template Excel File
		</h1>
	</div>
	
	<div id="page-message">
		<form  th:object="${fileUploadForm}" th:remove="tag">	
	        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')} " th:each="err : ${#fields.errors('*')}" th:text="${err}"></div> 
		</form>
	</div>

	<form role="form-horizontal" onsubmit="return do_validation()" class="form-horizontal" action="#" th:action="@{/fileUpload}" method="post" th:object="${fileUploadForm}" enctype="multipart/form-data">
		
		
		<div class="form-group">
			<div class="col-md-12 col-lg-offset-2">
				<input type="submit" th:value="#{form.submit.text}" class="btn btn-primary btn-lg"/>
			</div>
		</div>
	
	</form>	
</div>

<!-- Scripts location, note that the div tag will be remove after merging to decorator -->
<div layout:fragment="page-script">
<script type="text/javascript" th:src="@{/static/js/bootstrap-fileupload.js}"></script>
<script type="text/javascript" th:inline="javascript">
		//<![CDATA[          
		           
		function do_validation() {
			if ($('#fileupload').val() == "") {
				var message = /*[[#{error.file.no.file.selected}]]*/;
				
				
				$("#page-message").html(
		    			"<div class='alert alert-danger'>"+ message +"</div>"
		    		);
				
				$('div.fileupload').parent().parent().addClass('has-error');
				
				return false;
			}
			
			return true;
		}
			
		//]]>
</script>

</div>