<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="base-template">
  <head>
    <title th:inline="text">[[#{page.title.file.upload}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap-fileupload.css}"/>
  </head>
  <body>

<section layout:fragment="content">
	<div class="page-header">
		<h1>
			Upload a Nursery Template Excel File
		</h1>
	</div>
	
	
	<form role="form-horizontal" onsubmit="return do_validation()" class="form-horizontal" action="#" 
		th:action="@{/fileUpload}" method="post" th:object="${uploadForm}" enctype="multipart/form-data">
		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
                <input type="submit" value="Submit" class="btn btn-primary btn-lg"/>
				
			</div>
		</div>

	</form>
	
</section>

</body>

</html>