<!-- ================================== -->
<!-- Authors: Daniel Jao, Martin Senger -->
<!-- ================================== -->

	    			<div class="row form-group">
	    				<div class="col-xs-12 col-md-12">
			    			<label class="control-label" id="germplasmLabel"><strong class="sub-content-heading" th:text="#{nursery.create.germplasm.header}">GERMPLASM DETAILS</strong></label>
		    			</div>
	    			</div>

					<div class="row form-group">					
<div class="col-xs-12 col-md-12" >			
			<div class="row form-group">
				<div class="col-xs-3 col-md-3">
					<label class="control-label" th:text="#{germplasm.list.choose.specify.checks}+':'"></label><span class="required">*</span>
				</div>
				<div class="col-xs-5 col-md-5">																					
							<label class="radio-inline">
							  <input checked="checked" type="radio" value="1" name="specifyCheckType"/> 
							  <span>Manually</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" value="2" name="specifyCheckType"/> 
							  <span th:text="#{germplasm.list.choose.specify.checks.one.or.more}">Select one or more checks from the list</span>
							</label>
							
				</div>	
				<div class="col-xs-3 col-md-3">
					&nbsp;
				</div>		
			</div>
			
			 
			
		</div>
	    			</div>
	    			
					<div class="row form-group">
				      	<!-- Germplasm List Tree View -->
						<div class="col-xs-3 col-md-3">
							<div id="germplasmTree" style="height:350px; overflow:auto;"></div>
							<br />  
				      	
					      	<a href="javascript: openImportGermplasmList()" th:text="#{nursery.import.germplasm.list}">Import File</a>
						</div>

				        <!-- Germplasm List Table View -->						
				      	<div class="col-xs-9 col-md-9">
				      	
				      		<div id="imported-germplasm-list" class="list-droppable primary add-border" style="float: left; width: 70%">
				      			<h3>Please drag and drop the primary germplasm list here</h3>
				      		</div>
				      		<div id="check-germplasm-list" class="list-droppable check add-border" style="float: left; width: 30%;padding-left: 10px; ">
				      			<h3>Please drag and drop the germplasm check list here</h3>
				      		</div>
				      		<!--
				      		<div ></div>
				      	 
							<div id="imported-germplasm-list" th:include="/NurseryManager/showGermplasmPagination">
		        	  		</div>
		        	  		 -->
						</div>
					
											
				    </div>	


<form role="form-horizontal" onsubmit="return do_validation()"  class="form-horizontal" action="#" 
     th:action="@{/NurseryManager/importGermplasmList}" method="post" th:object="${importGermplasmListForm}" enctype="multipart/form-data">								
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" th:text="#{nursery.import.germplasm.list}">Import Gemplasm List</h4>
          </div>
          <div class="modal-body">
            <div class="form-group" id="page-message"></div>
            <div th:class="${#fields.hasErrors('file')} ? 'form-group has-error' : 'form-group'">
              
              
              <div class="alert alert-danger" th:if="${#fields.hasErrors('*')} " th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
              
              <label for="fileupload" class="col-md-2 control-label" th:text="#{nursery.import.germplasm.select.file}">Select a file</label>
              <div class="col-xs-6 col-lg-6">
                
                <div class="fileupload fileupload-new" data-provides="fileupload">							    
                <div class="input-group">
                  <div class="form-control uneditable-input"><i class="icon-file fileupload-exists"></i> 
                  <span class="fileupload-preview"></span>
                </div>
                <div class="input-group-btn">
                  <a class="btn btn-primary btn-file">
                    <span class="fileupload-new" th:text="#{nursery.import.germplasm.browse.file}">Browse</span>
                    <span class="fileupload-exists" th:text="#{nursery.import.germplasm.change}">Change</span>
                    <input id="fileupload" th:field="*{file}" type="file" class="file-input"/></a>
                    <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload" th:text="#{nursery.import.germplasm.remove}">Remove</a>
                  </div>
                </div>
              </div>
            </div>
          </div>																							
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
          <button type="submit" th:value="#{common.form.submit.text}" class="btn btn-primary" th:text="#{nursery.import.germplasm.submit}">Submit</button>			        	
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</form>

<div class="row">
	<div id="manage-location" th:include="/Common/importGermplasmListModal"></div>
</div>

  <style type="text/css">
    #check-germplasm-list, #imported-germplasm-list {
      min-height: 400px;
    }         			
  </style>

	
<!-- Scripts location, note that the div tag will be remove after merging to decorator -->
<div layout:fragment="page-script">
  <script type="text/javascript" th:src="@{/static/js/bootstrap-fileupload.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/fieldbook-tree.js}"></script> 
  <script type="text/javascript" th:src="@{/static/js/jquery-multisortable.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/jquery.tablednd.0.7.min.js}"></script>
  
  <script type="text/javascript" th:inline="javascript">
    //<![CDATA[          
               var addedGid = {};
               var listId = 0;
    var hasPageError = /*[[${importGermplasmListForm.hasError}]]*/;
    function do_validation() {
    if ($('#fileupload').val() == "") {
    var message = /*[[#{common.error.file.no.file.selected}]]*/;
    
    
    $("#page-message").html(
    "<div class='alert alert-danger'>"+ message +"</div>"
  );
  
  $('div.fileupload').parent().parent().addClass('has-error');
  
  return false;
  }
  
  return true;
  }
  
  
  
  $( document ).ready(function() {
	  // Handler for .ready() called.
	  if(hasPageError == 1){
		  //we show the modal dialog again
		  $('#myModal').modal('show');
	  }	
  
	  //display tree
	  
	  displayGermplasmListTree("germplasmTree");
	  $('input[name="specifyCheckType"]').on('change',changeCheckLayout)
	  
	  changeCheckLayout();
	  
	 
  });
  
  function makeDropable(){
	  
	  /*
	  $('.germplasm-list-items tr').sortable({
		  	//items: 'tr',
		    connectWith: "#check-germplasm-list",
			receive: function(event, ui) {	
				return false;
	            $(ui.sender).sortable('cancel');
	        },
	        helper: function(e, tr)
	        {
	          var $originals = tr.children();
	          var $helper = tr.clone();
	          $helper.children().each(function(index)
	          {
	            // Set helper cell sizes to match the original sizes
	            $(this).width($originals.eq(index).width());
	          });
	          return $helper;
	        },
		}).disableSelection();
	  */
	  /*
	  $(".draggable").draggable({
	        helper: "clone",
	        start: function(event, ui) {
	            c.tr = this;
	            c.helper = ui.helper;
	        }
	});*/
  }
  
  	function changeCheckLayout(){
  		var radioVal = $('input[name="specifyCheckType"]:checked').val();
  		/*
  		if(radioVal == 1){
  				$('#check-germplasm-list').css('display', 'none');
  				$('#imported-germplasm-list').removeClass('col-md-9').addClass('col-md-12');
  				$('#imported-germplasm-list').css('width', '100%');
  				$('.check-col').css('display', 'block');
  		}else if(radioVal == 2){
  			//show the check
  			$('#check-germplasm-list').css('display', 'block');
			$('#imported-germplasm-list').removeClass('col-md-12').addClass('col-md-9');
			$('#imported-germplasm-list').css('width', '70%');
			$('.check-col').css('display', 'none');
  		}
  		*/
  	}

        var importLocationUrl = /*[[#{nursery.apps.import.nursery.url}]]*/;
    	var importIframeOpened = false;
        
        function do_germplasm_check(){        	
        	return true;
        }
        
        /** Germplasm Tree **/
        function displayGermplasmListTree(treeName) {
        	/*if($('#'+treeName+' .fbtree-container').length != 0)
        	  $("#" + treeName).dynatree("reload");
        	*/
        	$("#" + treeName).dynatree({
        		title: treeName,
        		checkbox: false,
        		noLink: false,
        		autoFocus: false,
        		imagePath: "../img/",
        		activeVisible: true,
        		initAjax: {url: "/Fieldbook/NurseryManager/loadInitGermplasmTree",
        			dataType: "json"
        		},
        		onLazyRead: function(node) {
        			node.appendAjax({
        				url: "/Fieldbook/NurseryManager/expandGermplasmTree/" + node.data.key,
        				dataType: "json",
        				success: function(node) {
        					//do nothing
        				},
        				error: function(node, XMLHttpRequest, textStatus, errorThrown) {
        					console.log("The following error occured: " + textStatus, errorThrown); 
        				},
        				cache: false
        			});
        		},
        		classNames: {
        			container: "fbtree-container",
        			expander: "fbtree-expander",
        			nodeIcon: "fbtree-icon",
        			combinedIconPrefix: "fbtree-ico-",
        			focused: "fbtree-focused",
        			active: "fbtree-active"
        		},
        		 onPostInit: function (isReloading, isError) {
        			 //console.log('postini' + listId);
        		     if(listId != 0)
        		    	 doInitialLoad(listId);
        		     	 listId = 0;
        		    },
        		onActivate: function(node) {
        			if (node.data.isFolder == false) {
         				;//displayGermplasmDetails(node.data.key);
        			}
        		},
        		dnd: {
        		      revert: false, // true: slide helper back to source if drop is rejected
        		      onDragStart: function(node) {
        		        /** This function MUST be defined to enable dragging for the tree.
        		         *  Return false to cancel dragging of node.
        		         */
        		        //console.log("tree.onDragStart" + node);
        		        if(node.data.isFolder){
        		          return false;
        		        }
        		        return true;
        		      },
        		      onDragStop: function(node) {
        		        //console.log("tree.onDragStop" + node);
        		      },
        		      onDragOver: function(node){
        		    	  //console.log('dragging');
        		      }
        		    }
        	});
        	
        	  $(".list-droppable").droppable({
      		    hoverClass: "drophover",
      		    addClasses: true,
      		    over: function(event, ui) {
      		      //console.log("droppable.over, "+ event+ui);
      		    },
      		    drop: function(event, ui) {
      		    	
      		      var source = ui.helper.data("dtSourceNode") || ui.draggable;
      		    
      		      //$(this).html("Dropped " + source);
      		     //console.log(isFunction(source.data));
      		     if(isFunction(source.data) == false){ 
	      		      if($(this).hasClass('primary')){
	      		    	$(this).removeClass('add-border');  
	      		    	displayGermplasmDetails(source.data.key);
	      		      }else if($(this).hasClass('check')){
	      		    	displayGermplasmCheckDetails(source.data.key)
	      		    	$(this).removeClass('add-border');
	      		      }
      		     }else{
      		    	 var entryNumber = $(source).parent().data('entry');
      		    	var gid = ""+$(source).parent().data('gid');
      		    	 addCheckGermplasmList(entryNumber, gid);
      		    	 
      		     }
      		    }
      		  });
        }
        function hideAddCol(isHide){
        	if(isHide)
        		$('.add-col').css('display', 'none');
        	else
        		$('.add-col').css('display', 'block');
        }
        function addCheckGermplasmList(entryNumber, gid){
        	
        	if(addedGid[gid] == null)
        		addedGid[gid] = gid;
        	else{
        		showErrorMessage('page-message', 'Germplasm already added as check');
        		moveToTopScreen();
        		return;
        	}
        	$('#check-germplasm-list').removeClass('add-border');
        	Spinner.toggle();
        	$.ajax({
        		url: "/Fieldbook/NurseryManager/importGermplasmList/addCheckGermplasmDetails/" + entryNumber,
        		type: "GET",
        		cache: false,
        		success: function(html) {
        			$("#check-germplasm-list").html(html);			
        		},
        		error: function(jqXHR, textStatus, errorThrown){ 
        			console.log("The following error occured: " + textStatus, errorThrown); 
        		},
        		complete: function() {
        			Spinner.toggle();
        		}
        	}); 	
        }
        
        function isFunction(functionToCheck) {
        	 var getType = {};
        	 return functionToCheck && getType.toString.call(functionToCheck) === '[object Function]';
        	}
        
        function displayGermplasmDetails(listId) {
        	Spinner.toggle();
        	$('#'+'germplasmTree').find("*").removeClass('dynatree-selected');
        	$.ajax({
        		url: "/Fieldbook/NurseryManager/importGermplasmList/displayGermplasmDetails/" + listId,
        		type: "GET",
        		cache: false,
        		success: function(html) {
        			$("#imported-germplasm-list").html(html);	
        			changeCheckLayout();
        			makeDropable();
        			$('.addToCheck').on('click', function(){
        				addCheckGermplasmList($(this).data('entry'), $(this).data('gid') );
        			  })  
        		},
        		error: function(jqXHR, textStatus, errorThrown){ 
        			console.log("The following error occured: " + textStatus, errorThrown); 
        		},
        		complete: function() {
        			Spinner.toggle();
        		}
        	});
        }
        
        function displayGermplasmCheckDetails(listId) {
        	hideAddCol(true);
        	Spinner.toggle();
        	$('#'+'germplasmTree').find("*").removeClass('dynatree-selected');
        	$.ajax({
        		url: "/Fieldbook/NurseryManager/importGermplasmList/displayCheckGermplasmDetails/" + listId,
        		type: "GET",
        		cache: false,
        		success: function(html) {
        			$("#check-germplasm-list").html(html);			
        		},
        		error: function(jqXHR, textStatus, errorThrown){ 
        			console.log("The following error occured: " + textStatus, errorThrown); 
        		},
        		complete: function() {
        			Spinner.toggle();
        		}
        	});
        }
        
        function resetCheckList(){
        	hideAddCol(false);
        	Spinner.toggle();
        	$.ajax({
        		url: "/Fieldbook/NurseryManager/importGermplasmList/resetCheckGermplasmDetails",
        		type: "GET",
        		cache: false,
        		success: function(html) {
        			//$("#check-table").html('');		
        			$('#check-germplasm-list').html('<h3>Please drag and drop the germplasm check list here</h3>')
        			$('#check-germplasm-list').addClass('add-border');
        			addedGid = {};
        		},
        		error: function(jqXHR, textStatus, errorThrown){ 
        			console.log("The following error occured: " + textStatus, errorThrown); 
        		},
        		complete: function() {
        			Spinner.toggle();
        		}
        	});
        }
        
      //]]>
    </script>
</div>
