<!-- ================================== -->
<!-- Authors: Daniel Jao, Martin Senger -->
<!-- ================================== -->

<div class="page-header">
	<h1>Step 2: Import Germplasm List</h1>

	<div class="progress">
		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
			<span class="sr-only">50% Complete</span>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
  
    <div class="row">
      <div class="col-xs-4 col-md-4">
      	<!-- Germplasm List Tree View -->
      	<div id="germplasmTree" style="height:350px; overflow:auto;"></div>
      	
        <a data-toggle="modal" href="#myModal" class="" th:text="#{nursery.import.germplasm.list}">Import File</a>
      </div>
      <div class="col-xs-8 col-md-8">
        <!-- Show the table here -->						
			
        <div id="imported-germplasm-list" th:include="/NurseryManager/showGermplasmPagination">
        </div>
        <div th:object="${importGermplasmListForm}">
    
	        <div th:if="*{importedGermplasm != null and not #lists.isEmpty(importedGermplasm)}">
	        	<div id="germplasm-list-pagination"></div>
	        </div>
        </div>
      </div>

    </div>	
						
<form role="form-horizontal" onsubmit="return do_validation()"  class="form-horizontal" action="#" 
    th:action="@{/NurseryManager/importGermplasmList}" method="post" th:object="${importGermplasmListForm}" enctype="multipart/form-data">								
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" th:text="#{nursery.import.germplasm.list}">Import Gemplasm List</h4>
          </div>
          <div class="modal-body">
            <div class="form-group" id="page-message"></div>
            <div th:class="${#fields.hasErrors('file')} ? 'form-group has-error' : 'form-group'">
              
              
              <div class="alert alert-danger" th:if="${#fields.hasErrors('*')} " th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
              
              <label for="fileupload" class="col-md-2 control-label" th:text="#{nursery.import.germplasm.select.file}">Select a file</label>
              <div class="col-xs-6 col-lg-6">
                
                <div class="fileupload fileupload-new" data-provides="fileupload">							    
                <div class="input-group">
                  <div class="form-control uneditable-input"><i class="icon-file fileupload-exists"></i> 
                  <span class="fileupload-preview"></span>
                </div>
                <div class="input-group-btn">
                  <a class="btn btn-primary btn-file">
                    <span class="fileupload-new" th:text="#{nursery.import.germplasm.browse.file}">Browse</span>
                    <span class="fileupload-exists" th:text="#{nursery.import.germplasm.change}">Change</span>
                    <input id="fileupload" th:field="*{file}" type="file" class="file-input"/></a>
                    <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload" th:text="#{nursery.import.germplasm.remove}">Remove</a>
                  </div>
                </div>
              </div>
            </div>
          </div>																							
        </div>
        <div class="modal-footer">
          <button type="submit" th:value="#{common.form.submit.text}" class="btn btn-primary" th:text="#{nursery.import.germplasm.submit}">Submit</button>			        	
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</form>
	
<div class="row">
  <div class="form-group">
    <div class="col-xs-offset-10 col-xs-2 col-lg-offset-10 col-lg-2">
      <a href="/NurseryManager/nurseryDetails.html" th:href="@{/NurseryManager/nurseryDetails}" class="btn btn-default" th:text="#{common.form.back.text}">.Back</a>
      <input type="button" onclick="$('#germplasm-list-form').submit();" th:value="#{common.form.next.text}" class="btn btn-primary" />
      
    </div>
  </div>
</div>

</div>
<!-- Scripts location, note that the div tag will be remove after merging to decorator -->
<div layout:fragment="page-script">
  <script type="text/javascript" th:src="@{/static/js/bootstrap-fileupload.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/fieldbook-tree.js}"></script>
  <script type="text/javascript" th:inline="javascript">
    //<![CDATA[          
    var hasPageError = /*[[${importGermplasmListForm.hasError}]]*/;
    function do_validation() {
    if ($('#fileupload').val() == "") {
    var message = /*[[#{common.error.file.no.file.selected}]]*/;
    
    
    $("#page-message").html(
    "<div class='alert alert-danger'>"+ message +"</div>"
  );
  
  $('div.fileupload').parent().parent().addClass('has-error');
  
  return false;
  }
  
  return true;
  }
  
  
  
  $( document ).ready(function() {
	  // Handler for .ready() called.
	  if(hasPageError == 1){
		  //we show the modal dialog again
		  $('#myModal').modal('show');
	  }	
  
	  //display tree
	  displayGermplasmListTree("germplasmTree");
  });
  
  //]]>
</script>
<!-- For pagination -->
<script type="text/javascript" th:src="@{/static/js/bootstrap-paginator.min.js}"></script>
<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
        var paginationUrl = /*[[@{/NurseryManager/importGermplasmList/page/}]]*/;
        
        //var options = {
          //  currentPage: /*[[${importGermplasmListForm.currentPage}]]*/,
          //  totalPages: /*[[${importGermplasmListForm.totalPages}]]*/,
/*
            alignment:'center',
            useBootstrapTooltip:true,
            onPageClicked: function(e,originalEvent,type,page){            	
            	showPage(paginationUrl, page, 'imported-germplasm-list');
            }
        }
        
		if($('#germplasm-list-pagination') != null){
			$('#germplasm-list-pagination').bootstrapPaginator(options);	
		}
        
        */
        
        function do_germplasm_check(){        	
        	return true;
        }
        
        /** Germplasm Tree **/
        function displayGermplasmListTree(treeName) {
        	$("#" + treeName).dynatree({
        		title: treeName,
        		checkbox: false,
        		noLink: false,
        		autoFocus: false,
        		imagePath: "../img/",
        		activeVisible: true,
        		initAjax: {url: "loadInitGermplasmTree",
        			dataType: "json"
        		},
        		onLazyRead: function(node) {
        			node.appendAjax({
        				url: "expandGermplasmTree/" + node.data.key,
        				dataType: "json",
        				success: function(node) {
        					//do nothing
        				},
        				error: function(node, XMLHttpRequest, textStatus, errorThrown) {
        					console.log("The following error occured: " + textStatus, errorThrown); 
        				},
        				cache: false
        			});
        		},
        		classNames: {
        			container: "fbtree-container",
        			expander: "fbtree-expander",
        			nodeIcon: "fbtree-icon",
        			combinedIconPrefix: "fbtree-ico-",
        			focused: "fbtree-focused",
        			active: "fbtree-active"
        		},
        		onActivate: function(node) {
        			if (node.data.isFolder == false) {
         				displayGermplasmDetails(node.data.key);
        			}
        		}
        	});
        }
        
        function displayGermplasmDetails(listId) {
        	Spinner.toggle();
        	$.ajax({
        		url: "importGermplasmList/displayGermplasmDetails/" + listId,
        		type: "GET",
        		success: function(html) {
        			$("#imported-germplasm-list").html(html);			
        		},
        		error: function(jqXHR, textStatus, errorThrown){ 
        			console.log("The following error occured: " + textStatus, errorThrown); 
        		},
        		complete: function() {
        			Spinner.toggle();
        		}
        	});
        }
        
      //]]>
    </script>
</div>
