<!-- ================================== -->
<!-- Authors: Daniel Jao, Martin Senger -->
<!-- ================================== -->

	    			<div class="row form-group">
	    				<div class="col-xs-12 col-md-12">
			    			<label class="control-label" id="germplasmLabel" data-toggle="collapse" data-target=".germplasmListDetails">
			    				<img th:src="@{/static/img/review-list-details.png}" style="padding-bottom:3px;" />
			    				<strong class="sub-content-heading" th:text="#{nursery.create.germplasm.header}">GERMPLASM DETAILS</strong>
		    				</label>
		    			</div>
	    			</div>
<!-- 
					<div class="row form-group">					
<div class="col-xs-12 col-md-12" >			
			<div class="row form-group">
				<div class="col-xs-3 col-md-3">
					<label class="control-label" th:text="#{germplasm.list.choose.specify.checks}+':'"></label><span class="required">*</span>
				</div>
				<div class="col-xs-5 col-md-5">																					
							<label class="radio-inline">
							  <input checked="checked" type="radio" value="1" name="specifyCheckType"/> 
							  <span>Manually</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" value="2" name="specifyCheckType"/> 
							  <span th:text="#{germplasm.list.choose.specify.checks.one.or.more}">Select one or more checks from the list</span>
							</label>
							
				</div>	
				<div class="col-xs-3 col-md-3">
					&nbsp;
				</div>		
			</div>
			
			 
			
		</div>
	    			</div> -->
	    			<div class="row form-group collapse in germplasmListDetails">
				      	<!-- Germplasm List Tree View -->
						<div class="col-xs-3 col-md-3">
							<label class="control-label"><strong class="sub-content-heading">Lists</strong></label>
						</div>

				        <!-- Germplasm List Table View -->						
				      	<div class="col-xs-9 col-md-9">
				      	
				      		<div style="float: left; width: 70%">
				      			<img th:src="@{/static/img/build-new-list.png}" style="padding-bottom:3px;" />
				      			<label class="control-label"><strong class="sub-content-heading">Primary Germplasm List</strong></label>
				      		</div>
				      		<div style="float: left; width: 30%;">
				      			<img th:src="@{/static/img/build-new-list.png}" style="padding-bottom:3px;" />
				      			<label class="control-label"><strong class="sub-content-heading">Checks List&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></label>
				      			<a style="margin-top: -10px" href="javascript: showManageCheckTypePopup()" th:text="#{germplasm.list.manage.check.types}" class="btn btn-info">Manage Checks</a>
				      			<a style="margin-top: -10px" href="javascript: resetCheckList()" class="btn btn-info">Reset</a>
				      		</div>
				      		
						</div>															
				    </div>
				    
					<div class="row form-group collapse in germplasmListDetails">
				      	<!-- Germplasm List Tree View -->
						<div class="col-xs-3 col-md-3">
							<div id="germplasmTree" style="height:350px; overflow:auto;"></div>
							<br />  
				      	
					      	<a href="javascript: openImportGermplasmList()" th:text="#{nursery.import.germplasm.list}">Import File</a>
						</div>

				        <!-- Germplasm List Table View -->						
				      	<div class="col-xs-9 col-md-9">
				      	
				      		<div id="imported-germplasm-list" class="list-droppable primary add-border" style="float: left; width: 70%">
				      			<h3>Please drag and drop the primary germplasm list here</h3>
				      		</div>
				      		<div id="check-germplasm-list" class="list-droppable check add-border" style="float: left; width: 30%;padding-left: 10px; ">
				      			<h3>Please drag and drop the checks list here</h3>
				      		</div>
				      		<!--
				      		<div ></div>
				      	 
							<div id="imported-germplasm-list" th:include="/NurseryManager/showGermplasmPagination">
		        	  		</div>
		        	  		 -->
						</div>
					
											
				    </div>	
				    
				    <div class="row form-group collapse in germplasmListDetails">
				      	<!-- Germplasm List Tree View -->
						<div class="col-xs-3 col-md-3">
							&nbsp;
						</div>

				        <!-- Germplasm List Table View -->						
				      	<div class="col-xs-9 col-md-9">
				      		<div id="specifyCheckSection"  th:include="/NurseryManager/specifyCheckSection"/>
				      		
						</div>
					
											
				    </div>	


<form role="form-horizontal" onsubmit="return do_validation()"  class="form-horizontal" action="#" 
     th:action="@{/NurseryManager/importGermplasmList}" method="post" th:object="${importGermplasmListForm}" enctype="multipart/form-data">								
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" th:text="#{nursery.import.germplasm.list}">Import Gemplasm List</h4>
          </div>
          <div class="modal-body">
            <div class="form-group" id="page-message"></div>
            <div th:class="${#fields.hasErrors('file')} ? 'form-group has-error' : 'form-group'">
              
              
              <div class="alert alert-danger" th:if="${#fields.hasErrors('*')} " th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
              
              <label for="fileupload" class="col-md-2 control-label" th:text="#{nursery.import.germplasm.select.file}">Select a file</label>
              <div class="col-xs-6 col-lg-6">
                
                <div class="fileupload fileupload-new" data-provides="fileupload">							    
                <div class="input-group">
                  <div class="form-control uneditable-input"><i class="icon-file fileupload-exists"></i> 
                  <span class="fileupload-preview"></span>
                </div>
                <div class="input-group-btn">
                  <a class="btn btn-primary btn-file">
                    <span class="fileupload-new" th:text="#{nursery.import.germplasm.browse.file}">Browse</span>
                    <span class="fileupload-exists" th:text="#{nursery.import.germplasm.change}">Change</span>
                    <input id="fileupload" th:field="*{file}" type="file" class="file-input"/></a>
                    <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload" th:text="#{nursery.import.germplasm.remove}">Remove</a>
                  </div>
                </div>
              </div>
            </div>
          </div>																							
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
          <button type="submit" th:value="#{common.form.submit.text}" class="btn btn-primary" th:text="#{nursery.import.germplasm.submit}">Submit</button>			        	
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</form>
<input type="hidden" id="keyForOverwrite" value="" />
<input type="hidden" id="lastCheckSourcePrimary" value="" />

<!-- Modal for overwriting checks list -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-body">
      			<div>
      				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      				<br />
      			</div>
        		<div class="col-xs-12 col-lg-12" th:text="#{import.germplasm.overwrite.current.checks}">
        			Are you sure you want to overwrite existing checks with a new one?
        		</div>																				
      		</div>
	  		<div class="modal-footer">
    			<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
      			<button type="button" th:value="#{common.form.ok.text}" data-dismiss="modal" class="btn btn-primary" th:text="#{common.form.ok.text}" onclick="javascript: overwriteChecksList();">Ok</button>			        	
    		</div>
  		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal for removing check if it is set as starting entry -->
<div class="modal fade" id="removeCheckModal" tabindex="-1" role="dialog" aria-labelledby="removeCheckModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-body">
      			<div>
      				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="javascript: resetStartingEntry();">&times;</button>
      				<br />
      			</div>
        		<div class="col-xs-12 col-lg-12" th:text="#{import.germplasm.remove.check}">
        			The specified starting entry is already assigned as a check, do you want to continue and remove it from the checks list? 
        		</div>																				
      		</div>
	  		<div class="modal-footer">
    			<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}" onclick="javascript: resetStartingEntry();" >Cancel</button>
      			<button type="button" th:value="#{common.form.ok.text}" data-dismiss="modal" class="btn btn-primary" th:text="#{common.form.ok.text}" onclick="javascript: removeCheckFromList();">Ok</button>			        	
    		</div>
  		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="row">
	<div id="manage-location" th:include="/Common/importGermplasmListModal"></div>
</div>
<div class="row">
		<div id="manage-location" th:include="/NurseryManager/manageCheckType"></div>
	</div>

  <style type="text/css">
    #check-germplasm-list, #imported-germplasm-list {
      min-height: 400px;
    }         			
  </style>

	
<!-- Scripts location, note that the div tag will be remove after merging to decorator -->
<div layout:fragment="page-script">
  <script type="text/javascript" th:src="@{/static/js/bootstrap-fileupload.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/fieldbook-tree.js}"></script> 
  <script type="text/javascript" th:src="@{/static/js/jquery-multisortable.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/jquery.tablednd.0.7.min.js}"></script>
  
  <script type="text/javascript" th:inline="javascript">
    //<![CDATA[          
    var addedGid = {};
    var listId = 0;
    var makeDraggableBool = true;
    var makeCheckDraggableBool = true;
    var startIndex = 0;
    var lastDraggedPrimaryList = 0;
    var lastDraggedChecksList = 0;
    var lastStartingEntry = 0;
               
    var hasPageError = /*[[${importGermplasmListForm.hasError}]]*/;
    var germplasmStartingEntry = /*[[#{import.germplasm.germplasm.specified.starting.entry}]]*/;
    var germplasmAddedAsCheck = /*[[#{import.germplasm.germplasm.added.as.check}]]*/;
    var startingEntryErr = /*[[#{import.germplasm.starting.entry.in.check.list}]]*/;
    var sameListErr = /*[[#{import.germplasm.same.list.primary.check}]]*/;
    var startingEntryRequired = /*[[#{import.germplasm.starting.entry.required}]]*/;
    
    function do_validation() {
    	var message = /*[[#{common.error.file.no.file.selected}]]*/;
    	/*
    	if ($('#fileupload').val() == "") {    		
		    $("#page-message").html(
		    "<div class='alert alert-danger'>"+ message +"</div>"
		  );
		  
		  $('div.fileupload').parent().parent().addClass('has-error');		  
		  return false;
 		 }	
  		*/
  		return true;
  }
  
  
  $( document ).ready(function() {
	  // Handler for .ready() called.
	  if(hasPageError == 1){
		  //we show the modal dialog again
		  $('#myModal').modal('show');
	  }	
  
	  //display tree
	  
	  displayGermplasmListTree("germplasmTree");
	  $('input[name="specifyCheckType"]').on('change',changeCheckLayout)
	  
	  changeCheckLayout();
	  showSpecifyCheckSection();
	 
  });
  
  function makeCheckDraggable(isDraggable) {
	  makeCheckDraggableBool = isDraggable;
	  if (isDraggable){
		  $(".check-germplasm-list-items tr").draggable({
			  helper: function(event, ui) {
				    var width = $(this)[0].offsetWidth;
		            var selected = $('.check-germplasm-list-items tr.checkGermplasmSelectedRow');
		            if (selected.length === 0) {
		              selected = $(this).addClass('checkGermplasmSelectedRow');
		            }
		            
		            var container = $('<table style="width:' + width + 'px; background-color:green;" />').attr('id', 'draggingContainer');
		            container.append(selected.clone().removeClass("checkGermplasmSelectedRow"));
		            return container;
		        },
		      revert: 'invalid',
		      start: function (event, ui) {
		    	  var selected = $('.check-germplasm-list-items tr.checkGermplasmSelectedRow')
		          $(selected).css('opacity', '.5');
		       },
		      stop: function (event, ui) {
		    	  var selected = $('.check-germplasm-list-items tr.checkGermplasmSelectedRow')
		          $(selected).css('opacity', '1');
		       }
		  });
		  $(".check-germplasm-list-items tbody tr").off("click").on("click", function (){
			  $(this).toggleClass("checkGermplasmSelectedRow");
		  });
	  } else{
		  if($('.check-germplasm-list-items .ui-draggable').length != 0)
			  	$(".check-germplasm-list-items tr").draggable( "destroy" );

		  $(".check-germplasm-list-items tbody tr").off("click");
	  }
	  //change background of selected rows
	  $(".check-germplasm-list-items tr.checkGermplasmSelectedRow").removeClass("checkGermplasmSelectedRow");
  }
  
  function makeDraggable(isDraggable){
	  if(isDraggable){
		  $(".germplasm-list-items tr").draggable({
			  helper: function(event, ui) {
				    var width = $(this)[0].offsetWidth;
		            var selected = $('.germplasm-list-items tr.germplasmSelectedRow');
		            if (selected.length === 0) {
		              selected = $(this).addClass('germplasmSelectedRow');
		            }
		            
		            var container = $('<table style="width:' + width + 'px; background-color:green;" />').attr('id', 'draggingContainer');
		            container.append(selected.clone().removeClass("germplasmSelectedRow"));
		            return container;
		        },
		      revert: 'invalid',
		      start: function (event, ui) {
		    	  var selected = $('.germplasm-list-items tr.germplasmSelectedRow')
		          $(selected).css('opacity', '.5');
		       },
		      stop: function (event, ui) {
		    	  var selected = $('.germplasm-list-items tr.germplasmSelectedRow')
		          $(selected).css('opacity', '1');
		       }
		});
		$(".germplasm-list-items tbody tr").off("click").on("click", function (){
			  $(this).toggleClass("germplasmSelectedRow");
		});
	  }else{
		  if($('.germplasm-list-items .ui-draggable').length != 0)
		  	$(".germplasm-list-items tr").draggable( "destroy" );

		  $(".germplasm-list-items tbody tr").off("click");
	  }
	  
	  //change background of selected rows
	  $(".germplasm-list-items tr.germplasmSelectedRow").removeClass("germplasmSelectedRow");
  }
  
  	function changeCheckLayout(){
  		var radioVal = $('input[name="specifyCheckType"]:checked').val();
  		/*
  		if(radioVal == 1){
  				$('#check-germplasm-list').css('display', 'none');
  				$('#imported-germplasm-list').removeClass('col-md-9').addClass('col-md-12');
  				$('#imported-germplasm-list').css('width', '100%');
  				$('.check-col').css('display', 'block');
  		}else if(radioVal == 2){
  			//show the check
  			$('#check-germplasm-list').css('display', 'block');
			$('#imported-germplasm-list').removeClass('col-md-12').addClass('col-md-9');
			$('#imported-germplasm-list').css('width', '70%');
			$('.check-col').css('display', 'none');
  		}
  		*/
  	}

        var importLocationUrl = /*[[#{nursery.apps.import.nursery.url}]]*/;
    	var importIframeOpened = false;
        
        function do_germplasm_check(){        	
        	return true;
        }
        
        function overwriteChecksList() {
        	displayGermplasmCheckDetails($("#keyForOverwrite").val());
		    $(this).removeClass('add-border');
        }
        
        /** Germplasm Tree **/
        function displayGermplasmListTree(treeName) {
        	/*if($('#'+treeName+' .fbtree-container').length != 0)
        	  $("#" + treeName).dynatree("reload");
        	*/
        	$("#" + treeName).dynatree({
        		title: treeName,
        		checkbox: false,
        		noLink: false,
        		autoFocus: false,
        		imagePath: "../img/",
        		activeVisible: true,
        		initAjax: {url: "/Fieldbook/NurseryManager/loadInitGermplasmTree",
        			dataType: "json"
        		},
        		onLazyRead: function(node) {
        			node.appendAjax({
        				url: "/Fieldbook/NurseryManager/expandGermplasmTree/" + node.data.key,
        				dataType: "json",
        				success: function(node) {
        					//do nothing
        				},
        				error: function(node, XMLHttpRequest, textStatus, errorThrown) {
        					console.log("The following error occured: " + textStatus, errorThrown); 
        				},
        				cache: false
        			});
        		},
        		classNames: {
        			container: "fbtree-container",
        			expander: "fbtree-expander",
        			nodeIcon: "fbtree-icon",
        			combinedIconPrefix: "fbtree-ico-",
        			focused: "fbtree-focused",
        			active: "fbtree-active"
        		},
        		 onPostInit: function (isReloading, isError) {
        			 //console.log('postini' + listId);
        		     if(listId != 0)
        		    	 doInitialLoad(listId);
        		     	 listId = 0;
        		    },
        		onActivate: function(node) {
        			if (node.data.isFolder == false) {
         				;//displayGermplasmDetails(node.data.key);
        			}
        		},
        		dnd: {
        		      revert: false, // true: slide helper back to source if drop is rejected
        		      onDragStart: function(node) {
        		        /** This function MUST be defined to enable dragging for the tree.
        		         *  Return false to cancel dragging of node.
        		         */
        		        //console.log("tree.onDragStart" + node);
        		        if(node.data.isFolder){
        		          return false;
        		        }
        		        return true;
        		      },
        		      onDragStop: function(node) {
        		        //console.log("tree.onDragStop" + node);
        		      },
        		      onDragOver: function(node){
        		    	  //console.log('dragging');
        		      }
        		    }
        	});
        	
        	  $(".list-droppable").droppable({
      		    hoverClass: "drophover",
      		    addClasses: true,
      		    over: function(event, ui) {
      		      //console.log("droppable.over, "+ event+ui);
      		    },
      		    drop: function(event, ui) {
      		      var source = ui.helper.data("dtSourceNode") || ui.draggable;
      		    	
      		     //$(this).html("Dropped " + source);
      		     //console.log(isFunction(source.data));
      		     if(isFunction(source.data) == false){
	      		      if($(this).hasClass('primary')){
	      		    	  	if (lastDraggedChecksList != source.data.key) {
			      		    	//loads the primary germplasm list
			      		    	$(this).removeClass('add-border');
			      		    	lastDraggedPrimaryList = source.data.key;
			      		    	displayGermplasmDetails(source.data.key);
	      		    	  	} else {
	      		    	  		showErrorMessage("page-message", sameListErr);
	      		    	  		moveToTopScreen();
	      		    	  	}
	      		      }else if($(this).hasClass('check')){
	      		    		if (lastDraggedPrimaryList != source.data.key) {
		      		    		//loads the check list
			      		    	$("#lastCheckSourcePrimary").val(0);
			      		    	lastDraggedChecksList = source.data.key;
			      		    	
			      		    	//set primary germplasm list rows' opacity to 1
			        			$(".germplasm-list-items tbody tr").css("opacity", "1");
			      		    	
			      		    	// if there is an existing list already, ask user if data should be overwritten
			      		    	if ($(".check-germplasm-list-items tbody tr").length > 0) {
			      		    		$("#keyForOverwrite").val(source.data.key);
			      		    		$("#confirmationModal").modal("show");
			      		    	} else {
				      		    	displayGermplasmCheckDetails(source.data.key)
				      		    	$(this).removeClass('add-border');
			      		    	}
			      		    	makeCheckDraggable(false);
	      		    		} else {
	      		    			showErrorMessage("page-message", sameListErr);
	      		    	  		moveToTopScreen();
	      		    		}
	      		      }
      		     }else if(isFunction(source.data) == true && $(this).hasClass('check') && $(ui.helper.find("tr").get(0)).hasClass("primaryRow")){
      		    	 //if not all items are dragged to the checks list
      		    	 if (ui.helper.find("tr").length != $(".germplasm-list-items tbody tr").length - ui.helper.find("tr").length) {
      		    		//adds the dragged germplasms to the check list
	      		    	 $.each(ui.helper.find("tr"), function (index, row) {
	      		    		var entryNumber = $(row).data('entry');
	         		    	var gid = ""+$(row).data('gid');
	         		    	addCheckGermplasmList(entryNumber, gid);
	         		    	$(".germplasm-list-items tr.germplasmSelectedRow").removeClass("germplasmSelectedRow");
	      		    	 });
	      		    	 
	      		    	 $("#lastCheckSourcePrimary").val(1);
      		    	 } else {
      		    		showErrorMessage("page-message", sameListErr);
  		    	  		moveToTopScreen();
      		    	 }
      		     } else if (isFunction(source.data) == true && $(this).hasClass("primary") && $(ui.helper.find("tr").get(0)).hasClass("checkRow")){      		    	 
      		    	//removes the items from the check list 
      		    	var checkListCount = $(".check-germplasm-list-items tbody tr").length;
      		    	$.each(ui.helper.find("tr"), function (index, row) {
      		    		var entryNumber = $(row).data('entry');
         		    	var gid = ""+$(row).data('gid');
         		    	deleteCheckGermplasmList(entryNumber, gid);
         		    	$.each($(".germplasm-list-items tbody tr"), function (index, row) {
         		    		if ($(row).data("entry") == entryNumber && $(row).data("gid") == gid) {
         		    			$(row).removeAttr("style");
         		    		}
         		    	});
         		    	//subtract original and cloned row
         		    	checkListCount = checkListCount-2;
      		    	 });
      		    	$(".check-germplasm-list-items tr.checkGermplasmSelectedRow").remove();
      		    	if (checkListCount == 0) {
      		    		resetCheckList();	
      		    	}
      		     }
      		    }
      		  });
        }
        
        function hideAddCol(isHide){	
        	if(isHide){
        		//$('.addToCheck').css('display', 'none');
        		makeDraggable(false);
        		makeDraggableBool = false;
        	}        		
        	else{
        		//$('.addToCheck').css('display', 'block');
        		makeDraggable(true);
        		makeDraggableBool = true;
        	}
        		
        }
        
        function deleteCheckGermplasmList(entryNumber, gid) {
        	Spinner.toggle();
        	$.ajax({
        		url: "/Fieldbook/NurseryManager/importGermplasmList/deleteCheckGermplasmDetails/" + gid,
        		type: "GET",
        		cache: false,
        		async: false,
        		success: function(data) {
        			addedGid[gid] = null;
        		},
        		error: function(jqXHR, textStatus, errorThrown){ 
        			console.log("The following error occured: " + textStatus, errorThrown); 
        		},
        		complete: function() {
        			Spinner.toggle();
        		}
        	});
        }
        
        function addCheckGermplasmList(entryNumber, gid){
        	//if germplasm record has been specified as starting index
        	if (entryNumber == $("#startIndex2").val() 
        			&& $('#specifyCheckSection').css("display") == "block" && addedGid[gid] == null) {
        		showErrorMessage('page-message', germplasmStartingEntry);
        		moveToTopScreen();
        		return;
        	}
        		
        	if(addedGid[gid] == null)
        		addedGid[gid] = gid;
        	else{
        		showErrorMessage('page-message', germplasmAddedAsCheck);
        		moveToTopScreen();
        		return;
        	}
        	
        	$('#check-germplasm-list').removeClass('add-border');
        	Spinner.toggle();
        	$.ajax({
        		url: "/Fieldbook/NurseryManager/importGermplasmList/addCheckGermplasmDetails/" + entryNumber,
        		type: "GET",
        		cache: false,
        		async: false,
        		success: function(html) {
        			$("#check-germplasm-list").html(html);	
        			makeCheckDraggable(true);
        			showSpecifyCheckSection();
        		},
        		error: function(jqXHR, textStatus, errorThrown){ 
        			console.log("The following error occured: " + textStatus, errorThrown); 
        		},
        		complete: function() {
        			Spinner.toggle();
        		}
        	}); 	
        }
        
        function isFunction(functionToCheck) {
        	 var getType = {};
        	 return functionToCheck && getType.toString.call(functionToCheck) === '[object Function]';
        	}
        
        function displayGermplasmDetails(listId) {
        	Spinner.toggle();
        	$('#'+'germplasmTree').find("*").removeClass('dynatree-selected');
        	$.ajax({
        		url: "/Fieldbook/NurseryManager/importGermplasmList/displayGermplasmDetails/" + listId,
        		type: "GET",
        		cache: false,
        		success: function(html) {
        			$("#imported-germplasm-list").html(html);
        			changeCheckLayout();
        			makeDraggable(makeDraggableBool);
        			setSpinnerMaxValue();
        			/*
        			$('.addToCheck').on('click', function(){
        				$("#lastCheckSourcePrimary").val(1);
        				addCheckGermplasmList($(this).data('entry'), $(this).data('gid') );
        			});
        			*/
        			if ($("#lastCheckSourcePrimary").val() == 0 && $(".check-germplasm-list-items tbody tr").length > 0) {	
      		    		hideAddCol(true);
      		    	}
        		},
        		error: function(jqXHR, textStatus, errorThrown){ 
        			console.log("The following error occured: " + textStatus, errorThrown); 
        		},
        		complete: function() {
        			Spinner.toggle();
        		}
        	});
        }
        
        function displayGermplasmCheckDetails(listId) {
        	hideAddCol(true);
        	Spinner.toggle();
        	$('#'+'germplasmTree').find("*").removeClass('dynatree-selected');
        	$.ajax({
        		url: "/Fieldbook/NurseryManager/importGermplasmList/displayCheckGermplasmDetails/" + listId,
        		type: "GET",
        		cache: false,
        		success: function(html) {
        			$("#check-germplasm-list").html(html);
        			showSpecifyCheckSection();
        		},
        		error: function(jqXHR, textStatus, errorThrown){ 
        			console.log("The following error occured: " + textStatus, errorThrown); 
        		},
        		complete: function() {
        			Spinner.toggle();
        		}
        	});
        }
        
        function showSpecifyCheckSection(){
        	if($('.check-germplasm-list-items tr').length == 0)
        		$('#specifyCheckSection').css('display', 'none');
        	else
        		$('#specifyCheckSection').css('display', 'block');
        }
        function resetCheckList(){
        	hideAddCol(false);
        	Spinner.toggle();
        	$.ajax({
        		url: "/Fieldbook/NurseryManager/importGermplasmList/resetCheckGermplasmDetails",
        		type: "GET",
        		cache: false,
        		success: function(html) {
        			//$("#check-table").html('');		
        			$('#check-germplasm-list').html('<h3>Please drag and drop the checks list here</h3>')
        			$('#check-germplasm-list').addClass('add-border');
        			addedGid = {};
        			showSpecifyCheckSection();
        			makeCheckDraggable(true);
        			//set primary germplasm list rows' opacity to 1
        			$(".germplasm-list-items tbody tr").css("opacity", "1");
        			lastDraggedChecksList = 0;
        		    lastStartingEntry = 0;
        		},
        		error: function(jqXHR, textStatus, errorThrown){ 
        			console.log("The following error occured: " + textStatus, errorThrown); 
        		},
        		complete: function() {
        			Spinner.toggle();
        		}
        	});
        }
        
        function verifyIfCheck(startingIndex) {
        	if (isGidInCheckList(getGid($(startingIndex).val())) > 0) {
        		$('#removeCheckModal').modal({ backdrop: 'static', keyboard: true });
        		$("#removeCheckModal").modal("show");
        	} else {
        		lastStartingEntry = $(startingIndex).val();
        	}
        }
        
        function getGid(index) {
        	return $($(".germplasm-list-items tbody tr").get(index-1)).data("gid");
        }
        
        function isGidInCheckList(gid) {
        	var entryNo = 0;
        	$.each($(".check-germplasm-list-items tbody tr"), function(index, row) {
        		if ($(row).data("gid") == gid) {
        			entryNo = parseInt($(row).data("entry"));
        		}
        	});
        	return entryNo;
        }
        
        function removeCheckFromList() {
        	var gid = getGid($("#startIndex2").val());
        	var entryNo = isGidInCheckList(gid);
        	
        	deleteCheckGermplasmList(entryNo, gid);
	    	$.each($(".germplasm-list-items tbody tr"), function (index, row) {
	    		if ($(row).data("entry") == entryNo && $(row).data("gid") == gid) {
	    			$(row).removeAttr("style");
	    		}
	    	});
	    	
	    	lastStartingEntry = $("#startIndex2").val();
	    	
	    	$(".check-germplasm-list-items tr[data-entry=" + entryNo + "]").remove();
	    	if ($(".check-germplasm-list-items tbody tr").length == 0) {
	    		resetCheckList();	
	    	}
        }
        
        function resetStartingEntry() {
        	$("#startIndex2").spinedit('setValue', lastStartingEntry);
        }
      //]]>
    </script>
</div>
