<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1 th:text="#{nursery.managesettings.manage.saved.nursery.settings}">
			MANAGE SAVED NURSERY SETTINGS
		</h1>
	</div>			  
</div>
<div class="row">
		<div id="page-message" class="">
	
		</div>
	</div>
<form id="saveNurserySettingsForm" role="form-horizontal" action="#" th:action="@{/NurseryManager/manageNurserySettings/save}" 
method="post" th:object="${manageSettingsForm}" enctype="multipart/form-data">

<input type="hidden" th:field="*{startDateId}"/>
<input type="hidden" th:field="*{endDateId}"/>
<input type="hidden" th:field="*{locationId}"/>
<input type="hidden" th:field="*{breedingMethodId}"/>
<input type="hidden" th:field="*{locationUrl}"/>
<input type="hidden" th:field="*{breedingMethodUrl}"/>
<input type="hidden" th:field="*{projectId}"/>
<input type="hidden" th:field="*{idNameVariables}"/>
<!-- <input type="hidden" th:field="*{initialLoad}"/> -->	

<div class="row" xmlns:th="http://www.thymeleaf.org">
	
	
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="panel panel-default">
		    	<div class="panel-body manage-settings-panel-body">
		    		<div class="row form-group">
		    			<div class="col-xs-6 col-md-6 row">
				    		<div class="col-xs-5 col-md-5 add_top_padding">
				    			<label class="control-label"> <strong th:text="#{nursery.managesettings.choose.saved.settings}+':'"> Choose Saved Settings: </strong></label>
				    		</div>
				    		
				    		<div class="col-xs-7 col-md-7">
				    			<select th:field="*{selectedSettingId}" class="form-control">
				    				<option th:each="setting : ${settingsList}" th:value="${setting.templateSettingId}" th:text="${setting.name}">Nursery Type 1</option>
				    			</select>
				    		</div>
			    		</div>
			    		<div class="col-xs-6 col-md-6 add_top_padding">
			    			<a href="javascript: openUsePreviousNurseryModal()" id="usePreviousNursery" th:text="#{nursery.managesettings.use.previous.nursery}"></a>
			    			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    			<a href="javascript: void(0)" id="copySettings" ><img width="15" src="/Fieldbook/static/img/copy.png"/>&nbsp;  <span th:text="#{nursery.managesettings.make.copy}"></span></a>
			    			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    			<!-- 
			    			<a href="javascript: void(0)" id="addNewSettings"><span class="glyphicon glyphicon-plus"></span>&nbsp; <span th:text="#{nursery.managesettings.add.new.settings}">Add New Settings</span></a>
			    			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    			 -->
			    			<a href="javascript: void(0)" id="resetSettings"><img width="15" src="/Fieldbook/static/img/reset.png"/>&nbsp;<span th:text="#{nursery.managesettings.reset.settings}">Reset</span></a>
			    			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    			
			    			<a href="javascript: void(0)" id="deleteSettings" ><span class="glyphicon glyphicon-trash"></span>&nbsp;<span th:text="#{common.form.delete.text}">Delete</span></a>
			    		</div>
		    		</div>
		    	</div>
	    	</div>		
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="panel panel-default">
		    	<div class="panel-body manage-settings-panel-body">
		    		<div class="row form-group">
			    		<div class="col-xs-12 col-md-12">
			    			<label class="control-label"><em th:utext="#{nursery.managesettings.mandatory.fields}"> Mandatory fields are noted with a *</em></label>
		    			</div>
	    			</div>
	    			<div class="row form-group">
	    				<div class="col-xs-12 col-md-12">
	    					<label class="control-label"><strong class="sub-content-heading" th:text="#{nursery.managesettings.save.settings}">SAVE SETTINGS</strong></label>
	    				</div>
    				</div>
    				
	    			
	    			    <div class="row form-group">
	    			    	<div class="col-xs-6 col-md-6">
		    			    	
									<div class="col-xs-5 col-md-5">
								        <label class="contol-label" th:text="#{nursery.managesettings.save.settings.as}+':'">Save these settings as:</label><span class="required">*</span>
				    					&nbsp;&nbsp;
			    					</div>
			    					<div class="col-xs-7 col-md-7 row">
				    					<input class="form-control" type="text" maxlength="75" th:field="*{settingName}" />
								
							        </div>
							    
					        </div>
						<div class="col-xs-6 col-md-6 add_top_padding">
	    					<input type="checkbox" th:field="*{isDefault}" /> 
	    					<label class="control-label" th:text="#{nursery.managesettings.set.default}"> Set as default for this program (overrides previous defaults)</label>
	    				</div>
					    </div>
    
	    			<div class="row form-group">
	    				<div class="col-xs-6 col-md-6">
		    				<div class="">
				    			<label class="control-label" data-toggle="collapse" data-target=".nurseryLevelDetails">
				    				<img th:src="@{/static/img/review-list-details.png}" style="padding-bottom:3px;" />
				    				<strong class="sub-content-heading" th:text="#{nursery.managesettings.nursery.level.details}">NURSERY-LEVEL DETAILS</strong>
			    				</label>
			    			</div>
			    			<div class="row form-group collapse in nurseryLevelDetails">
			    				<div class="col-xs-12 col-md-12">
					    			<label class="control-label" th:text="#{nursery.managesettings.nursery.level.notes}"> The settings in this section apply across all plots in the nursery. 
					    			You can add settings at this level, or remove those that you wish to manage at the plot level.</label>
				    			</div>
			    				<div class="col-xs-12 col-md-12 sectionContainer" id="nurseryLevelSettings-dev">
			    					<div class="row form-group nurseryLevelSettings" th:each="nurseryLevelVariable, rowStat : *{studyLevelVariables}">
			    						<div class="col-xs-5 col-md-5 1st">
			    							<span style="cursor: default; font-size: 16px;" th:if="${nurseryLevelVariable.deletable}" class="glyphicon glyphicon-remove-circle" 
												th:onclick="'javascript: deleteVariable(1,\'' + ${nurseryLevelVariable.variable.cvTermId} + '\',$(this))'"></span>
												<input class="cvTermIds" type="hidden" th:field="*{studyLevelVariables[__${rowStat.index}__].variable.cvTermId}" />
			    							&nbsp;&nbsp;&nbsp;
			    							<span style="word-wrap: break-word"  class="control-label" th:text="${nurseryLevelVariable.variable.name}"></span>:
			    						</div>
			    						<div class="col-xs-7 col-md-7 2nd">
			    						<!-- <div th:text="${nurseryLevelVariable.variable.cvTermId}"></div> --> 
												<input style="width: 30%" th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}" 
												type="hidden" th:field="*{studyLevelVariables[__${rowStat.index}__].value}" class="form-control select2" />
												
												<!-- Show Favorite Location/Method -->
												<div style="width: 100%" th:if="${nurseryLevelVariable.variable.cvTermId}==*{locationId}" class="possibleValuesDiv">
												<input 
												type="checkbox" th:field="*{studyLevelVariables[__${rowStat.index}__].favorite}" 
												th:onclick="'javascript: toggleLocationDropdown(\'' + ${rowStat.index} + '\');'" />
												&nbsp;&nbsp;
												
												<span
												th:text="#{show.favorite.location}">Show Favorite Location</span>
												</div>
												<div style="width: 100%" th:if="${nurseryLevelVariable.variable.cvTermId}==*{breedingMethodId}" class="possibleValuesDiv">
												<input
												type="checkbox" th:field="*{studyLevelVariables[__${rowStat.index}__].favorite}" 
												th:onclick="'javascript: toggleMethodDropdown(\'' + ${rowStat.index} + '\');'" />
												&nbsp;&nbsp;
												<span 
												th:text="#{show.favorite.method}">Show Favorite Method</span>
												</div>
												
												<!-- store possible values of variable -->
												<div th:text="${nurseryLevelVariable.value}" class="div-select-val" style="display: none"></div>
												<div th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}" th:id="'possibleValuesJson' + ${rowStat.index}"
													class="possibleValuesJson" style="display:none" th:text="${nurseryLevelVariable.possibleValuesJson}">
												</div>
												<div th:if="${nurseryLevelVariable.variable.widgetType.type == 'DROPDOWN'}" th:id="'possibleValuesFavoriteJson' + ${rowStat.index}"
													class="possibleValuesFavoriteJson" style="display:none" th:text="${nurseryLevelVariable.possibleValuesFavoriteJson}">
												</div>
												
												<input th:if="${nurseryLevelVariable.variable.widgetType.type == 'NTEXT'}" 
												type="text" th:field="*{studyLevelVariables[__${rowStat.index}__].value}" class="form-control numeric-input" />
												
												<input th:if="${nurseryLevelVariable.variable.widgetType.type == 'CTEXT'}" 
												type="text" th:field="*{studyLevelVariables[__${rowStat.index}__].value}" class="form-control character-input" />
												
												<textarea th:if="${nurseryLevelVariable.variable.widgetType.type == 'TEXTAREA'}" 
												 th:field="*{studyLevelVariables[__${rowStat.index}__].value}" class="form-control character-input" rows="3" />
												
												<input th:if="${nurseryLevelVariable.variable.widgetType.type == 'DATE'}" 
												type="text" th:field="*{studyLevelVariables[__${rowStat.index}__].value}" class="form-control date-input" />
												 
												<input th:if="${nurseryLevelVariable.variable.widgetType.type == 'SLIDER'}" 
												type="text" th:field="*{studyLevelVariables[__${rowStat.index}__].value}"
												th:attr="data-min=${nurseryLevelVariable.variable.minRange}"
												th:attrappend="data-max=${nurseryLevelVariable.variable.maxRange}"
												class="form-control spinner-input spinnerElement"
												data-step="0.0001" 										 
												/>
													 
												<span>
													<a th:if="${nurseryLevelVariable.variable.cvTermId}==*{locationId}" href="javascript: openManageLocations();" th:text="#{nursery.managesettings.manage.location}">Manage Location</a>
													<a th:if="${nurseryLevelVariable.variable.cvTermId}==*{breedingMethodId}" href="javascript: openManageMethods();" th:text="#{nursery.managesettings.manage.method}">Manage Method</a>
												</span>		
												</div>
			    					</div>
			    					
			    				</div>
			    				<div class="col-xs-12 col-md-12">
			    					<span class="glyphicon glyphicon-plus"></span>&nbsp;
					    			<a href="javascript: openAddVariablesSetting(1);" th:text="#{nursery.managesettings.add.nursery.level.settings}">Add Nursery-Level Settings</a>
				    			</div>
			    			</div>
	    				</div>
	    				<div class="col-xs-6 col-md-6">	    								    			
		    				<div class="row">
			    				<div class="col-xs-12 col-md-12">
					    			<label class="control-label" data-toggle="collapse" data-target=".plotLevelDetails">
					    				<img th:src="@{/static/img/review-list-details.png}" style="padding-bottom:3px;" />
					    				<strong class="sub-content-heading" th:text="#{nursery.managesettings.plot.level.details}">PLOT-LEVEL DETAILS</strong>
				    				</label>
				    			</div>
			    			</div>
			    			<div class="row form-group collapse in plotLevelDetails">
			    				<div class="col-xs-12 col-md-12">
					    			<label class="control-label" th:text="#{nursery.managesettings.plot.level.notes}"> Select the settings you will record at the plot level in the nursery. 
					    			These will appear as data columns in your nursery book. You can add and remove settings at this level.</label>
				    			</div>
			    				<div class="col-xs-12 col-md-12">
			    					<table style="table-layout: fixed;" class="my-class table table-curved table-condensed table-with-scroll" id="plotLevelSettings">
			    						<thead>
										<tr>
											<th width="5%"></th>
							                <th width="45%" th:utext="#{nursery.managesettings.plot.name}">.Name</th>
							                <th width="45%" th:utext="#{nursery.managesettings.plot.description}">.Description</th>
							                <th width="5%"></th>
										</tr>
										</thead>
										<tbody>
					    					<tr th:each="plotLevelVariable, rowStat : *{plotLevelVariables}">
					    					<td width="5%" style="text-align: center" th:class="${rowStat.even}? 'even' : 'odd'">
					    					
												<span style="cursor: default; font-size: 16px;" th:if="${plotLevelVariable.deletable}" class="glyphicon glyphicon-remove-circle"
					    						th:onclick="'javascript: deleteVariable(2,\'' + ${plotLevelVariable.variable.cvTermId} + '\',$(this))'"></span>
					    						  			    						 
					    						<input class="cvTermIds" type="hidden" th:field="*{plotLevelVariables[__${rowStat.index}__].variable.cvTermId}" />
				    						</td>
					    					<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${plotLevelVariable.variable.name}"></td>
					    					<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${plotLevelVariable.variable.description}"></td>
					    					<td width="5%" th:class="${rowStat.even}? 'even' : 'odd'" >
						    						<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' + 
														*{plotLevelVariables[__${rowStat.index}__].variable.cvTermId} + '\');'" >
														<span class="glyphicon glyphicon-eye-open"></span></a>
						    					</td>
					    					</tr> 
				    					</tbody>
			    					</table>
			    				</div>
			    				<div class="col-xs-12 col-md-12">
			    					<span class="glyphicon glyphicon-plus"></span>&nbsp;
					    			<a href="javascript: openAddVariablesSetting(2);" th:text="#{nursery.managesettings.add.plot.level.settings}">Add Plot-Level Settings</a>
				    			</div>
			    			</div>
			    			<div class="row form-group">
			    				<div class="col-xs-12 col-md-12">
			    					&nbsp;
			    				</div>
		    				</div>
		    				<div class="row">
			    				<div class="col-xs-12 col-md-12">
					    			<label class="control-label" data-toggle="collapse" data-target=".baselineTraitsDetails">
					    				<img th:src="@{/static/img/review-list-details.png}" style="padding-bottom:3px;" />
					    				<strong class="sub-content-heading" th:text="#{nursery.managesettings.baseline.traits}">BASELINE TRAITS</strong>
				    				</label>
				    			</div>
			    			</div>
			    			<div class="row  form-group collapse in baselineTraitsDetails">
			    				<div class="col-xs-12 col-md-12">
					    			<label class="control-label" th:text="#{nursery.managesettings.baseline.traits.notes}"> The list below shows the standard traits available for Cowpea. 
					    			You can add and remove traits in this list to create the baseline set of traits you are working with in your program. 
					    			You will be able to add additional traits to measure in each nursery.</label>
				    			</div>
			    				<div class="col-xs-12 col-md-12" >
			    					<table style="table-layout: fixed;" class="my-class table table-curved table-condensed table-with-scroll" id="baselineTraitSettings">
			    						<thead>
										<tr>
											<th width="5%"></th>
							                <th width="45%" th:utext="#{nursery.managesettings.trait}">.Trait</th>
							                <th width="45%" th:utext="#{nursery.managesettings.trait.description}">.Description</th>
							                <th width="5%"></th>
										</tr>
										</thead>
										<tbody>
					    					<tr th:each="baselineTraitVariable, rowStat : *{baselineTraitVariables}">
					    						<td width="5%" style="text-align: center" th:class="${rowStat.even}? 'even' : 'odd'" >
					    						
						    						<span style="cursor: default; font-size: 16px;" th:if="${baselineTraitVariable.deletable}" class="glyphicon glyphicon-remove-circle"
						    						th:onclick="'javascript: deleteVariable(3,\'' + ${baselineTraitVariable.variable.cvTermId} + '\',$(this))'"></span>
						    									    					
						    						<input class="cvTermIds" type="hidden" th:field="*{baselineTraitVariables[__${rowStat.index}__].variable.cvTermId}" />
					    						</td>
						    					<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${baselineTraitVariable.variable.name}"></td>
						    					<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${baselineTraitVariable.variable.description}"></td>
						    					<td width="5%" th:class="${rowStat.even}? 'even' : 'odd'" >
						    						<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' + 
														*{baselineTraitVariables[__${rowStat.index}__].variable.cvTermId} + '\');'" >
														<span class="glyphicon glyphicon-eye-open"></span></a>
						    					</td>
					    					</tr> 
				    					</tbody>
			    					</table>
			    				</div>
			    				<div class="col-xs-12 col-md-12">
			    					<span class="glyphicon glyphicon-plus"></span>&nbsp;
					    			<a href="javascript: openAddVariablesSetting(3);" th:text="#{nursery.managesettings.add.baseline.traits}">Add Baseline Traits</a>
				    			</div>
			    			</div>
	    				</div>
	    				
	    			</div>
	    			
    				
    				
	    			<div class="row form-group">
	    				<div class="col-xs-12 col-md-12">
	    					&nbsp;
	    				</div>
    				</div>
    				
	    			
	    			<div class="row form-group">
	    				<div class="col-xs-5 col-md-5">
	    				</div>
	    				<div class="col-xs-2 col-md-2">
	    					<input type="button" onclick="javascript: window.history.back();"  value="Cancel" th:value="#{common.form.cancel.text}" class="btn btn-default"/>
	    					<input type="button" value="Save" id="saveSettings" th:value="#{common.form.save.text}" class="btn btn-primary" />
	    				</div>
	    				<div class="col-xs-5 col-md-5">
	    				</div>
    				</div>
		    	</div>
	    	</div>	
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div th:include="/NurseryManager/addVariablesSettingModal"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
    		<div id="showBaselineTraitDetails" th:include="/NurseryManager/baselineTraitDetails"></div>
   		</div>
    </div>
    <div class="row">
    	<div class="col-xs-12 col-md-12">
			<div id="manage-location" th:include="/Common/manageLocationsModal"></div>			
		</div>
	</div>
	<div class="row">
    	<div class="col-xs-12 col-md-12">
			<div id="manage-location" th:include="/Common/manageMethodsModal"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div th:include="/NurseryManager/usePreviousNurseryModal"></div>
		</div>
	</div>
</div>

<div class="modal fade" id="delete-settings-confirmation">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <p th:text="#{manage.settings.delete.confirmation}">Do you realy want to delete this configuration?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript: hideDeleteConfirmation();">No</button>
        <button type="button" class="btn btn-primary" onclick="javascript: deleteNurserySettings();">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="reset-settings-confirmation">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <p th:text="#{manage.settings.reset.confirmation}">If you have made changes without saving, your changes will be lost.  Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.no.text}">No</button>
        <button type="button" class="btn btn-primary" onclick="javascript: doResetNurserySettings();" th:text="#{common.form.yes.text}">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 
	
</form>
<div layout:fragment="page-script">
<script type="text/javascript" th:src="@{/static/js/nurseryManager.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap-spinedit.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap-datepicker.js}"></script>
<link th:href="@{/static/css/bootstrap-datepicker.css}" rel="stylesheet"/>
<link th:href="@{/static/css/bootstrap-spinedit.css}" rel="stylesheet"/>
<link th:href="@{/static/css/fieldbook-spinner.css}" rel="stylesheet"/>
<script type='text/javascript' th:inline="javascript">
	//<![CDATA[   
            var varInListMessage = /*[[#{nursery.managesettings.variable.in.selected.list}]]*/;
            var addNurseryLevelSettings = /*[[#{nursery.managesettings.add.nursery.level.settings}]]*/;
            var addPlotLevelSettings = /*[[#{nursery.managesettings.add.plot.level.settings}]]*/;
            var addBaselineTraits = /*[[#{nursery.managesettings.add.baseline.traits}]]*/; 
            var deleteTemplateSettingError = /*[[#{manage.settings.delete.error}]]*/;
            var deleteTemplateSettingSuccess = /*[[#{manage.settings.delete.success}]]*/;
       		var saveTemplateSettingSuccess = /*[[#{manage.settings.save.setting.success}]]*/;
       		var templateSettingNameError = /*[[#{manage.settings.setting.name.error}]]*/;
       		var templateSettingNameErrorUnique = /*[[#{manage.settings.setting.name.unique.error}]]*/;
       		var programLocationUrl = '';
       		var programMethodUrl = '';
       		var locationIframeOpened = false;
       		var methodIframeOpened = false;
       		var nurseryLevelValueEmpty= /*[[#{nursery.managesettings.nursery.level.value.empty}]]*/
       		var copyTemplateSettingError = /*[[#{manage.settings.copy.error}]]*/;
       		var copyTemplateSettingSuccess = /*[[#{manage.settings.copy.setting.success}]]*/;
       		var manageMethodLabel = /*[[#{nursery.managesettings.manage.method}]]*/;
       		var manageLocationLabel = /*[[#{nursery.managesettings.manage.location}]]*/;
       		var nurseryNumericError = /*[[#{manage.settings.nursery.numeric.error}]]*/;
       		var breedingMethodId = '';
       		var locationId = '';
       		
       		var showFavoriteMethodLabel = /*[[#{show.favorite.method}]]*/;
       		var showFavoriteLocationLabel = /*[[#{show.favorite.location}]]*/;

       		var idNameCounterpartAddedError = /*[[#{manage.settings.id.name.counterpart.added.error}]]*/;
       		
       		var inputChange = false;
       		var reminderNursery = /*[[#{nursery.reminder.add.nursery.settings}]]*/;
       		var reminderPlot = /*[[#{nursery.reminder.add.plot.settings}]]*/;
       		var reminderTraits = /*[[#{nursery.reminder.add.trait.settings}]]*/;
       	
       		var noVariableNameError = /*[[#{manage.settings.no.variable.name.error}]]*/
       		
       		var startDateRequiredError = /*[[#{start.end.date.validation.start.date.required}]]*/;
       		var startDateRequiredEarlierError = /*[[#{start.end.date.validation.start.date.required.earlier}]]*/;
       		var startDateId = '';
       		var endDateId = '';
       		
 			$( document ).ready(function() {
 				
 				if (isIE() == 8) {
 					$(".table-with-scroll").removeClass("table-with-scroll");
 				}
 				
 				locationId = $('#locationId').val();
 				breedingMethodId = $('#breedingMethodId').val();
 				startDateId = $('#startDateId').val();
 				endDateId = $('#endDateId').val();
 				programMethodUrl = $('#breedingMethodUrl').val();
 				programLocationUrl = $('#locationUrl').val();
 				/*
 				if($('#initialLoad').val() == '1'){
 					doInitialNurserySettingsLoad();
 			    }
 				*/
 				  $('select').each(function(){
 						$(this).select2();
 					});
 				$('#selectedSettingId').on('change', function(){
 					//alert('load settings' + $(this).val());
 					loadNurserySettings($(this).val());
 					
 				})
 				$('#deleteSettings').on('click', function(){
 					if($('#selectedSettingId').val() == '0'){
 						showErrorMessage('page-message', deleteTemplateSettingError);	
 					}else{ 						
 	 					$('#delete-settings-confirmation').modal('show');	
 					} 					 					
 				});
 				$('#resetSettings').on('click', validateReset);
 				$('#saveSettings').on('click', doSaveSettings);
 				//$('#addNewSettings').on('click', addNewSettings);
 				
 				
 				
 				$('#copySettings').on('click', function(){
 					if($('#selectedSettingId').val() == '0'){
 						showErrorMessage('page-message', copyTemplateSettingError);	
 					}else{ 						
 	 					copySettings();
 					} 					 					
 				});
 				$.each($(".possibleValuesJson"), function (index, divElem){
 					var select2Index = $(divElem).attr("id").split("possibleValuesJson")[1]; 

 					if (parseInt($("#" + getJquerySafeId("studyLevelVariables"+select2Index+".variable.cvTermId")).val()) == parseInt(locationId)) {
 						initializePossibleValuesCombo($.parseJSON(divElem.innerHTML), 
 		 			 			"#" + getJquerySafeId("studyLevelVariables"+select2Index+".value"), true, $(divElem).siblings(".div-select-val").html());
 						
 					} else {
 						initializePossibleValuesCombo($.parseJSON(divElem.innerHTML), 
 		 			 			"#" + getJquerySafeId("studyLevelVariables"+select2Index+".value"), false, $(divElem).siblings(".div-select-val").html());
 						
 					}
 					
 				});
 				setTimeout('initializeDateAndSliderInputs()', 500);
 				
 				$.fn.modal.Constructor.prototype.enforceFocus = function() {};
 				
 				$('input').on('change', function(){inputChange = true;})
 			});    	
 			
			
      //]]>
    </script>
	
</div>
