<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
<form id="" role="form-horizontal" class="form-horizontal" action="#"
  th:action="@{/NurseryManager/importGermplasmList/next}" method="post" th:object="${importGermplasmListForm}" enctype="multipart/form-data">

   	<div class="modal fade" id="manageCheckTypesModal" role="dialog" aria-labelledby="manageCheckTypesModal" aria-hidden="true">
		<div class="modal-dialog modal-large">
	    	<div class="modal-content">
			    	<div class="modal-header">
		            <button id="closeManageCheckTypesModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		           <h4 class="modal-title" id="heading-modal" th:text="#{germplasm.list.manage.check.types}">
		           	Manage Check Types
	         		</h4>
		          </div>
		          
	         	<div class="modal-body" id="manageCheckTypesModalBody">
	         		<div class="row">
		         		<div id="page-check-message-modal" class="col-xs-12 col-md-12">
		         		</div>
	         		</div>	         		
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
			         		<div class="col-xs-3  col-md-3 add_top_padding">
						  		<label class="control-label" th:text="#{nursery.manager.manage.check.types.code}">Code:</label><span class="required">*</span>
						  	</div>
						    <div class="col-xs-6 col-md-6">
						      <input id="comboCheckCode" th:field="*{manageCheckCode}" type="hidden" class="form-control select2" placeholder=""/>						      
						    </div>
			        	</div>
			        </div>
	         		<div class="row form-group">
						<div class="col-xs-12 col-md-12">
			         		<div class="col-xs-3  col-md-3 add_top_padding">
						  		<label class="control-label" th:text="#{nursery.manager.manage.check.types.value}">Value:</label><span class="required">*</span>
						  	</div>
						    <div class="col-xs-6 col-md-6">
						      <input type="text" th:field="*{manageCheckValue}" class="form-control" />						      
						    </div>
			        	</div>
			        </div>
	         	</div>																							
	       		<div class="modal-footer addVariable-footer">    	       			
	       			<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
	       			<button type="button" id="addCheckTypes" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.add.text}" onclick="javascript: addUpdateCheckType(1);">Add</button>
	       			<button type="button" id="updateCheckTypes" class="btn btn-primary" th:text="#{common.form.update.text}" onClick="javascript: addUpdateCheckType(2); ">.Update</button>    
      				<button type="button" id="deleteCheckTypes" class="btn btn-primary" th:text="#{common.form.delete.text}" onClick="javascript: deleteCheckType();">.Delete</button>	
       			</div>
	     	</div><!-- /.modal-content -->
   		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
	  </form> 
</div>
<div layout:fragment="page-script">
	
	
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[      
	        var codeRequiredError = /*[[#{nursery.manager.manage.checks.code.required}]]*/;
	        var valueRequiredError = /*[[#{nursery.manager.manage.checks.value.required}]]*/;
	        var valueNotUniqueError = /*[[#{nursery.manager.manage.checks.value.not.unique}]]*/;
	        var noCheckSelected = /*[[#{nursery.manager.manage.checks.no.check.selected}]]*/;
    //]]>
    </script>
</div>