<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header nursery-header">
		<h1 th:text="#{nursery.managenurseries.header}">Manage Nurseries</h1>
	</div>
</div>

<div class="move-left col-xs-12 col-md-12">
	<div class="form-group">
		<div id="page-message"></div>
	</div>
	<div>
		<div class="row">
			<div class="col-xs-7 col-md-7">
				<img th:src="@{/static/img/new-nursery.png}" class="image-padding image-padding-with-text" />
				<label class="h2_no_transform" th:text="#{browse.nurseries.header}"></label>
				<label class="control-label"><a href="javascript: openStudyTree(1)">Browse</a> for a nursery to work with.</label>
			</div>
			<div class="col-xs-5 col-md-5">
				<div style="float: right; padding-right: 10px;">
					<a th:href="@{/NurseryManager/createNursery}" class="btn btn-info"
					th:utext="#{browse.nursery.start.new.nursery}">Start a New Nursery</a>
				</div>
			</div>
		</div>
		<div class="row">&nbsp;</div>
		<!-- details section -->
		<div class="row">
			<div id="browser-nurseries">
				<div class="col-xs-12 col-md-12">
					<div th:include="/Common/includes/studyInfo"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div th:include="/Common/studyLanding" />
</div>

<script type='text/javascript' th:inline="javascript">
//<![CDATA[
	var openStudyError = /*[[#{common.error.open.study(#{fieldmap.nursery})}]]*/ '',
		advanceStudyError = /*[[#{common.error.advance.study(#{fieldmap.nursery})}]]*/ '',
		paginationUrl = /*[[@{/NurseryManager/manageNurseries/page/}]]*/ '',
		showText = /*[[#{nursery.nurserydetails.additional.show}]]*/ '',
		hideText = /*[[#{nursery.nurserydetails.additional.hide}]]*/ '',
		currentStudyId = getCurrentStudyIdInTab(),
		selectedTableIds = [];
//]]>
</script>
