<div class="page-header">
	<h1>Step 1: View Nursery Details</h1>

	<div class="progress">
		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
			<span class="sr-only">20% Complete</span>
		</div>
	</div>
</div>

<form role="form-horizontal" onsubmit="return do_validation()" class="form-horizontal" action="#"
	th:action="@{/NurseryManager/nurseryDetails}" method="post" th:object="${nurseryDetailsForm}" enctype="multipart/form-data">

	<div th:class="${#fields.hasErrors('workbook')} ? 'form-group has-error' : 'form-group row'">
       	<div class="alert alert-danger" th:if="${#fields.hasErrors('*')} " th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>

		<div class="col-xs-12 col-md-12">
			<h3 th:text="#{nursery.nurserydetails.nursery.level.header}">NURSERY-LEVEL DETAILS</h3>
			<span th:text="#{nursery.nurserydetails.nursery.level.details}"></span>
			<div th:if="*{workbook.conditions != null AND workbook.conditions.size() > 0}">
				<br/>
				<div th:each="choice, rowStat : *{workbook.conditions}">
					<div class="form-group">
						<div class="control-group">
							<label class="col-xs-2 col-lg-2 control-label" for="title"
								th:text="*{workbook.conditions[__${rowStat.index}__].name}">Label</label>
							<div class="col-xs-10 col-lg-10">
								<input type="text" class="form-control" th:field="*{values[__${rowStat.index}__]}" th:value="*{workbook.conditions[__${rowStat.index}__].value}" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-xs-12 col-md-12">
			<h3 th:text="#{nursery.nurserydetails.plot.level.header}">PLOT-LEVEL DETAILS</h3>
			<span th:text="#{nursery.nurserydetails.plot.level.details}"></span>
				<div th:if="*{workbook.factors != null AND workbook.factors.size() > 0}">
					<br/>
					<table class="my-class table table-curved table-condensed">
						<thead>
							<tr>
								<th>Factor</th>
								<th>Description</th>
								<th>Property</th>
								<th>Scale</th>
								<th>Method</th>
								<th>Data Type</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="choice, rowStat : *{workbook.factors}">
								<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{workbook.factors[__${rowStat.index}__].name}">Name</td>
								<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{workbook.factors[__${rowStat.index}__].description}">Description</td>
								<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{workbook.factors[__${rowStat.index}__].property}">Property</td>
								<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{workbook.factors[__${rowStat.index}__].scale}">Scale</td>
								<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{workbook.factors[__${rowStat.index}__].method}">Method</td>
								<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{workbook.factors[__${rowStat.index}__].dataType}">Data Type</td>
							</tr>
						</tbody>
		
					</table>
				</div>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-xs-12 col-md-12">
			<h3 th:text="#{nursery.nurserydetails.baseline.traits.header}">BASELINE TRAITS</h3>
				<span th:text="#{nursery.nurserydetails.baseline.traits}"></span>
				<br/><br/>
				<div th:if="*{workbook.constants != null AND workbook.constants.size() > 0}">
					<table style="width: 60%"  class="my-class table table-curved table-condensed" >
					<thead>
						<tr>
							<th>Constant</th>
							<th>Description</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
							<tr th:each="choice, rowStat : *{workbook.constants}">
								<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{workbook.constants[__${rowStat.index}__].name}">Name</td>
								<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{workbook.constants[__${rowStat.index}__].description}">Description</td>
								<td th:class="${rowStat.even}? 'even' : 'odd'">
								<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetails(\'' + 
									*{workbook.constants[__${rowStat.index}__].name} + '\', 1);'" >
									<span 
									class="glyphicon glyphicon-eye-open"></span></a>
								</td>
							</tr>
						</tbody>
					</table>		
					<br/><br/>
				</div>

				<div th:if="*{workbook.variates != null AND workbook.variates.size() > 0}">
					<table style="width: 60%"  class="my-class table table-curved table-condensed">
						<thead>
							<tr>
								<th>Variate</th>
								<th>Description</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="choice, rowStat : *{workbook.variates}">
								<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{workbook.variates[__${rowStat.index}__].name}">Name</td>
								<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{workbook.variates[__${rowStat.index}__].description}">Description</td>
								<td th:class="${rowStat.even}? 'even' : 'odd'">
								<a href="javascript: void(0);"  th:onclick="'javascript:showBaselineTraitDetails(\'' + 
									*{workbook.variates[__${rowStat.index}__].name} + '\', 1);'" >
									<span class="glyphicon glyphicon-eye-open"></span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-xs-12 col-md-12">
			<h3 th:text="#{nursery.nurserydetails.field.layout.header}">FIELD LAYOUT</h3>
			<label for="fieldLayoutRandom" th:text="#{nursery.nurserydetails.select.field.layout.label} + ': '"></label><span class="required">*</span>
			<select th:field="*{fieldLayoutRandom}">
				<option value="true" th:text="#{nursery.nurserydetails.option.with.randomization}">Unreplicated Design with Randomization</option>
				<option value="false" th:text="#{nursery.nurserydetails.option.without.randomization}">Unreplicated Design without Randomization</option>
			</select>
		</div>
		
	</div>

	
	<div class="form-group">&nbsp;</div>
	<div class="form-group">
	    <div class="col-xs-5 col-md-5">&nbsp;</div> 
	    <div class="col-xs-7 col-md-7">
	    	<a href="/NurseryManager/fileUpload.html" th:href="@{/NurseryManager/}" class="btn btn-default" th:text="#{common.form.back.text}">.Back</a> 
			<input type="submit" th:value="#{common.form.next.text}" class="btn btn-primary" />  
	    </div>
	  </div>
	  
	<div class="row">
    	<div id="showBaselineTraitDetails" th:include="/NurseryManager/baselineTraitDetails"></div>
    </div>
</form>

<!-- Scripts location, note that the div tag will be remove after merging to decorator -->
<div layout:fragment="page-script">
<script type="text/javascript" th:src="@{/static/js/bootstrap-fileupload.js}"></script>
<script type="text/javascript" th:inline="javascript">
		//<![CDATA[          
		           
		function do_validation() {
			if ($('#fileupload').val() == "") {
				var message = /*[[#{common.error.file.no.file.selected}]]*/;
				
				
				$("#page-message").html(
		    			"<div class='alert alert-danger'>"+ message +"</div>"
		    		);
				
				$('div.fileupload').parent().parent().addClass('has-error');
				
				return false;
			}
			
			return true;
		}
		
		function showBaselineTraitDetails(name, id) {
			Spinner.toggle();
			//pass name for now, later on, this will be changed to id
		 	$.ajax(
				 { url: "/Fieldbook/NurseryManager/nurseryDetails/showPlantHeightInfo/" + name,
		           type: "GET",
		           data: "",
		           cache: false,
		           success: function(data) {
		        	 if (data.error == "0") {
		        		 populateVariableInfo($.parseJSON(data.stdVar));
		        	 }
		             Spinner.toggle();
		             $("#baselineTraitDetails").modal("toggle");
		           }
		         }
		       );
						
		}
		
		function populateVariableInfo(standardVariable) {
			if (standardVariable != null) {
				$("#traitClass").text(checkIfNull(standardVariable.isA.name));
				$("#property").text(checkIfNull(standardVariable.property.name));
				$("#method").text(checkIfNull(standardVariable.method.name));
				$("#scale").text(checkIfNull(standardVariable.scale.name));
				$("#dataType").text(checkIfNull(standardVariable.dataType.name));
				$("#role").text(checkIfNull(standardVariable.storedIn.name));
				$("#cropOntologyId").text(checkIfNull(standardVariable.cropOntologyId));				
			} else {
				$("#traitClass").text("");
				$("#property").text("");
				$("#method").text("");
				$("#scale").text("");
				$("#dataType").text("");
				$("#role").text("");
				$("#cropOntologyId").text("");
			}
		}
		
		function checkIfNull(object) {
			if (object != null) {
				return object;
			} else {
				return "";
			}
		}
			
		//]]>
</script>

</div>
