<div class="page-header">
	<h1>Step 1: View Nursery Details</h1>

	<div class="progress">
		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
			<span class="sr-only">20% Complete</span>
		</div>
	</div>
</div>

<form role="form-horizontal" onsubmit="return do_validation()" class="form-horizontal" action="#"
	th:action="@{/NurseryManager/nurseryDetails}" method="post" th:object="${nurseryDetailsForm}" enctype="multipart/form-data">

	<div th:class="${#fields.hasErrors('workbook')} ? 'form-group has-error' : 'form-group row'">
       	<div class="alert alert-danger" th:if="${#fields.hasErrors('*')} " th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>

		<div class="col-md-12">
			<h3>NURSERY-LEVEL DETAILS</h3>

			<div th:if="*{workbook.conditions != null AND workbook.conditions.size() > 0}">

				<table border="5" cellpadding="10" cellspacing="10">
					<thead>
					<tr>
						<th>Condition</th>
						<th>Description</th>
						<th>Property</th>
						<th>Scale</th>
						<th>Method</th>
						<th>Value</th>
					</tr>
					</thead>
					<tbody>
						<tr th:each="choice, rowStat : *{workbook.conditions}">
							<td th:text="*{workbook.conditions[__${rowStat.index}__].name}">Name</td>
							<td th:text="*{workbook.conditions[__${rowStat.index}__].description}">Description</td>
							<td th:text="*{workbook.conditions[__${rowStat.index}__].property}">Property</td>
							<td th:text="*{workbook.conditions[__${rowStat.index}__].scale}">Scale</td>
							<td th:text="*{workbook.conditions[__${rowStat.index}__].method}">Method</td>
							<td th:text="*{workbook.conditions[__${rowStat.index}__].value}">Value</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-md-12">
			<h3>PLOT-LEVEL DETAILS</h3>

				<div th:if="*{workbook.factors != null AND workbook.factors.size() > 0}">
					<table border="5" cellpadding="10" cellspacing="10">
						<thead>
							<tr>
								<th>Factor</th>
								<th>Description</th>
								<th>Property</th>
								<th>Scale</th>
								<th>Method</th>
								<th>Data Type</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="choice, rowStat : *{workbook.factors}">
								<td th:text="*{workbook.factors[__${rowStat.index}__].name}">Name</td>
								<td th:text="*{workbook.factors[__${rowStat.index}__].description}">Description</td>
								<td th:text="*{workbook.factors[__${rowStat.index}__].property}">Property</td>
								<td th:text="*{workbook.factors[__${rowStat.index}__].scale}">Scale</td>
								<td th:text="*{workbook.factors[__${rowStat.index}__].method}">Method</td>
								<td th:text="*{workbook.factors[__${rowStat.index}__].dataType}">Data Type</td>
							</tr>
						</tbody>
		
					</table>
				</div>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-md-12">
			<h3>BASELINE TRAITS</h3>
			
				<div th:if="*{workbook.constants != null AND workbook.constants.size() > 0}">
					<table border="5" cellpadding="10" cellspacing="10" >
					<thead>
						<tr>
							<th>Constant</th>
							<th>Description</th>
							<th>Property</th>
							<th>Scale</th>
							<th>Method</th>
							<th>Data Type</th>
						</tr>
						</thead>
						<tbody>
							<tr th:each="choice, rowStat : *{workbook.constants}">
								<td th:text="*{workbook.constants[__${rowStat.index}__].name}">Name</td>
								<td th:text="*{workbook.constants[__${rowStat.index}__].description}">Description</td>
								<td th:text="*{workbook.constants[__${rowStat.index}__].property}">Property</td>
								<td th:text="*{workbook.constants[__${rowStat.index}__].scale}">Scale</td>
								<td th:text="*{workbook.constants[__${rowStat.index}__].method}">Method</td>
								<td th:text="*{workbook.constants[__${rowStat.index}__].dataType}">Data Type</td>
							</tr>
						</tbody>
					</table>		
					<br/><br/>
				</div>

				<div th:if="*{workbook.variates != null AND workbook.variates.size() > 0}">
					<table border="5" cellpadding="10" cellspacing="10">
						<thead>
							<tr>
								<th>Variate</th>
								<th>Description</th>
								<th>Property</th>
								<th>Scale</th>
								<th>Method</th>
								<th>Data Type</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="choice, rowStat : *{workbook.variates}">
								<td th:text="*{workbook.variates[__${rowStat.index}__].name}">Name</td>
								<td th:text="*{workbook.variates[__${rowStat.index}__].description}">Description</td>
								<td th:text="*{workbook.variates[__${rowStat.index}__].property}">Property</td>
								<td th:text="*{workbook.variates[__${rowStat.index}__].scale}">Scale</td>
								<td th:text="*{workbook.variates[__${rowStat.index}__].method}">Method</td>
								<td th:text="*{workbook.variates[__${rowStat.index}__].dataType}">Data Type</td>
							</tr>
						</tbody>
					</table>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-md-12">
			<h3>FIELD LAYOUT OPTIONS</h3>
			<input type="radio" th:field="*{fieldLayoutRandom}" value="true">  Uneplicated Design with Randomization</input><br/> 
			<input type="radio"  th:field="*{fieldLayoutRandom}" value="false">  Uneplicated Design without Randomization</input>
		</div>
		
	</div>

	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">			
			<a href="/NurseryManager/fileUpload.html" th:href="@{/NurseryManager/}" class="btn btn-primary btn-lg" th:text="#{common.form.back.text}">.Back</a> 
			<input type="submit" th:value="#{common.form.next.text}" class="btn btn-primary btn-lg" />
		</div>
	</div>

</form>

<!-- Scripts location, note that the div tag will be remove after merging to decorator -->
<div layout:fragment="page-script">
<script type="text/javascript" th:src="@{/static/js/bootstrap-fileupload.js}"></script>
<script type="text/javascript" th:inline="javascript">
		//<![CDATA[          
		           
		function do_validation() {
			if ($('#fileupload').val() == "") {
				var message = /*[[#{common.error.file.no.file.selected}]]*/;
				
				
				$("#page-message").html(
		    			"<div class='alert alert-danger'>"+ message +"</div>"
		    		);
				
				$('div.fileupload').parent().parent().addClass('has-error');
				
				return false;
			}
			
			return true;
		}
			
		//]]>
</script>

</div>