<!--TODO DELETE FILE-->
<div class="review-nursery-page-identifier" style="padding-top: 10px;">
	<div class="" th:object="${nurseryDetails}" th:id="'div-study-tab-' + *{id}">
		<input type="hidden" id="studyId" class="field-map-highlight" th:value="*{id}" />
		<input type="hidden" id="study-type" name="study-type" value="Nursery" />
		<input type="hidden" id="has-measurements" name="has-measurements" th:value="*{hasMeasurements}" />
		<input type="hidden" th:id="'review-study-error-' + *{id}" th:value="*{errorMessage}" />

		<div class="col-xs-12 col-md-12">
			<label  class="control-label section-toggle toggle-icon" data-target=".nurseryDetails">
				<img th:src="@{/static/img/basic-details.png}" />
				<img style="margin-left: -10px" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
				<img style="display:none; margin-left: -7px" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
				<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.header}">NURSERY DETAILS</strong>				
			</label>
			<a th:if="${nurseryDetails.programUUID!=null}" class="btn btn-info fbk-open-button-left-margin" href="javascript: openStudy('nursery-table');" th:text="#{common.form.open}">Open</a>
			<div th:if="${nurseryDetails.programUUID!=null}" style="float:right;">
				<div class="btn-group">
					<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;<span th:text="#{nursery.nurserydetails.actions}">Actions</span>
                	</button>
					<ul class="dropdown-menu fbk-right-button-drop-down" role="menu">
						<li>
							<a href="" style="display: none" id="open-study-url" th:href="@{/NurseryManager/editNursery}"></a>
							<a href="javascript: openStudy('nursery-table');" id="open-study-url-link" th:text="#{nursery.nurserydetails.action.edit}">Edit Nursery</a>
						</li>
						<li>
							<a href="javascript: openDeleteConfirmation();" th:text="#{browse.nursery.delete.nursery.name}">Delete Nursery</a>
						</li>
						<li>
							<a href="javascript: showExportOptions();" id="export-study-link" th:text="#{nursery.nurserydetails.action.export.nursery}">Export Nursery Book</a>
						</li>
						<li>
							<a href="" style="display: none" id="fieldmap-url" th:href="@{/Fieldmap/enterFieldDetails/nursery}"></a>
							<a href="javascript: createFieldMap();" id="fieldmap-url-link" th:text="#{nursery.nurserydetails.action.createFieldmap}">Make Field Map</a>
						</li>
						<li>
							<a href="" style="display: none" id="label-printing-url" th:href="@{/LabelPrinting/specifyLabelDetails/nursery}"></a>
							<a href="javascript: createLabelPrinting('nursery-table');" id="label-printing-url-link" th:text="#{nursery.nurserydetails.action.printLabels}">Print Labels</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-12 sectionContainer collapse in nurseryDetails">
			<div th:each="basicDetail, rowStat : *{basicStudyDetails}" th:remove="tag">
                <div  th:class="
                            (${rowStat.last and rowStat.size mod 3 ne 0} ?
                                'col-sm-6 ' +
                                'col-md-' + ${4*(4-(rowStat.size % 3))}
                            : 'col-sm-6 col-md-4') + ' nursery-details-variable'">
                    <strong th:text="${basicDetail.variable.name} + ':'" class="">:</strong>
	                
                    <span th:text="${basicDetail.value}" class="div-select-val "></span>
                    <span th:if="${basicDetail.variable.name == 'Field Map Created' and basicDetail.value == 'Yes'}">
                        <a href="" style="display: none" id="fieldmap-url" th:href="@{/Fieldmap/enterFieldDetails/nursery}"></a>
                        <a href="javascript: showFieldMap('nursery-table');" id="view-fieldmap-url-link" th:text="#{nursery.nurserydetails.viewFieldMap}">View</a>
                    </span>
                </div>
           </div>
		</div>
		<br/>
		<div class="col-xs-12 col-md-12">
			<label  class="control-label section-toggle toggle-icon" data-target=".managementDetails">
                <span class="bms-mgt-details fbk-trial-summary-icons"></span>
                <img style="margin-left: -10px" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
				<img style="margin-left: -7px; display:none;" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
				<strong class="sub-content-heading" th:text="#{fb.study.managementdetails}">MANAGEMENT DETAILS</strong>
			</label>

		</div>
		<div class="col-md-12 sectionContainer collapse in managementDetails">
			<div th:each="managementDetail, rowStat : *{managementDetails}" th:remove="tag">
                <div  th:class="
                        (${rowStat.last and rowStat.size mod 3 ne 0} ?
                                'col-sm-6 ' +
                                'col-md-' + ${4*(4-(rowStat.size % 3))}
                            : 'col-sm-6 col-md-4') + ' nursery-details-variable'">

                        <strong th:text="${managementDetail.variable.name} + ':'" class="">:</strong>
                        <span th:text="${managementDetail.displayValue}" class="div-select-val "></span>

                </div>
            </div>
		</div>
		<br/>
		<div class="col-xs-12 col-md-12">
			<label  class="control-label section-toggle toggle-icon" data-target=".nurseryConditions">
				<img th:src="@{/static/svg/conditions.svg}" style="margin-right: 4px; margin-left: 4px;" width="22" height="22" />
				<img style="margin-left: -10px; display:none;" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
				<img style="margin-left: -7px" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
				<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.nurseryConditions}">NURSERY CONDITIONS</strong>
			</label>

		</div>
		<div class="col-md-12 sectionContainer collapse nurseryConditions">

            <div th:each="nurseryConditionDetail, rowStat : *{nurseryConditionDetails}" th:remove="tag">
                <div  th:class="
                            (${rowStat.last and rowStat.size mod 3 ne 0} ?
                                'col-sm-6 ' +
                                'col-md-' + ${4*(4-(rowStat.size % 3))}
                            : 'col-sm-6 col-md-4') + ' nursery-details-variable'">
                        <strong th:text="${nurseryConditionDetail.variable.name} + ':'" class="">:</strong>
                        <span th:text="${nurseryConditionDetail.displayValue}" class="div-select-val "></span>
                </div>
            </div>
			<div th:if="*{nurseryConditionDetails == null or #lists.isEmpty(nurseryConditionDetails)}">
				<div class="col-xs-12 col-md-12" th:text="#{no.available.nursery.conditions}">No available Nursery Conditions</div>
			</div>
		</div>
		<br />
		<div class="form-group col-xs-12 col-md-12">
			<label  class="control-label section-toggle toggle-icon" data-target=".additionalDetails">
                <img th:src="@{/static/svg/variables.svg}" style="margin-right: 4px; margin-left: 4px;" width="22" height="22" />
                <img style="margin-left: -10px; display:none;" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
				<img style="margin-left: -7px" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
				<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.variables}">VARIABLES</strong>
			</label>

		</div>
		<div class="col-md-12 sectionContainer collapse additionalDetails col-xs-12 col-md-12" style="padding-top: 10px;">
			<div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6">

                        <div>
                            <label  class="control-label">
                                <img heigth="16" th:src="@{/static/img/factors.png}" class="lbl-img" />
                                <strong class="sub-content-heading" th:text="#{nursery.managesettings.plot.level.details}">FACTORS</strong>
                            </label>
                        </div>
                        <div>
                            <table style="table-layout: fixed;" class="my-class table table-curved table-condensed" id="factorDetails">
                                <thead>
                                <tr>
                                    <th width="45%" th:utext="#{nursery.nurserydetails.column.name}">.Name</th>
                                    <th width="55%" th:utext="#{nursery.nurserydetails.column.description}">.Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="factorDetail, rowStat : *{factorDetails}">
                                    <td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
                                        <a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
										*{factorDetails[__${rowStat.index}__].variable.cvTermId} + '\',1804);'"
                                           th:text="${factorDetail.variable.name}"></a>
                                    </td>
                                    <td width="55%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${factorDetail.variable.description}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div>
                            <label  class="control-label">
                                <span class="fbk-font-icon bms-variates"></span>
                                <strong class="sub-content-heading" th:text="#{nursery.nurserydetails.variates}">SELECTION VARIATES</strong>
                            </label>
                        </div>
                        <div th:if="*{selectionVariateDetails == null or #lists.isEmpty(selectionVariateDetails)}">
							<div class="add_top_padding" th:text="#{no.available.selection.variates}">No available Selection Strategy</div>
						</div>
                        <div th:if="*{selectionVariateDetails != null and not #lists.isEmpty(selectionVariateDetails)}">
                            <table style="table-layout: fixed;" class="my-class table table-curved table-condensed selection-variate-table" id="selectionVariateDetails">
                                <thead>
                                <tr>
                                    <th width="45%" th:utext="#{nursery.nurserydetails.column.name}">.Name</th>
                                    <th width="55%" th:utext="#{nursery.nurserydetails.column.description}">.Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="selectionVariateDetail, rowStat : *{selectionVariateDetails}">
                                    <td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
                                        <a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
										*{selectionVariateDetails[__${rowStat.index}__].variable.cvTermId} + '\',1807);'"
                                           th:text="${selectionVariateDetail.variable.name}"></a>
                                    </td>
                                    <td width="55%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${selectionVariateDetail.variable.description}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>

                    <div class="col-xs-6 col-md-6">
                        <div>
                            <label  class="control-label">
                                <img height="25" th:src="@{/static/img/baseline-traits.png}" class="lbl-img" />
                                <strong class="sub-content-heading" th:text="#{nursery.nurserydetails.traits}">TRAITS</strong>
                            </label>
                        </div>
                         <div th:if="*{variateDetails == null or #lists.isEmpty(variateDetails)}">
							<div class="add_top_padding" th:text="#{no.available.traits}">No available Traits</div>
						</div>
                        <div th:if="*{variateDetails != null and not #lists.isEmpty(variateDetails)}">
                            <table style="table-layout: fixed;" class="my-class table table-curved table-condensed traits-table" id="variateDetails">
                                <thead>
                                <tr>
                                    <th width="45%" th:utext="#{nursery.nurserydetails.column.name}">.Name</th>
                                    <th width="55%" th:utext="#{nursery.nurserydetails.column.description}">.Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="variateDetail, rowStat : *{variateDetails}">
                                    <td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
                                        <a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
										*{variateDetails[__${rowStat.index}__].variable.cvTermId} + '\',1808);'"
                                           th:text="${variateDetail.variable.name}"></a>
                                    </td>
                                    <td width="55%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${variateDetail.variable.description}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
			</div>
		</div> <!-- section container -->

        <div class="col-xs-12 col-md-12">
			<label  class="control-label section-toggle toggle-icon dataset-toggle" data-target=".datasetDetails">
				<img th:src="@{/static/img/matching-nurseries.png}" />
				<img class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" style="display:none; margin-left: -10px" />
				<img class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" style=" margin-left: -7px"/>
				<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.datasets}">DATASETS</strong>
			</label>
			<div class="collapse datasetDetails">
				<div class="col-xs-12 col-md-12">
					<label class="control-label">
						<strong><span th:text="#{nursery.nurserydetails.datasets.choose}"></span></strong>&nbsp;&nbsp;
					</label>
					<select style="width: 350px" id="dataset-selection">
					</select>
				</div>

				<div class="col-xs-12 col-md-12">
					&nbsp;
				</div>
				<div class="measurement-section" style="display:none;">
					<div id="measurement-details" class="col-xs-12 col-md-12">
						<ul id="measurement-tab-headers" class="nav nav-tabs fb-tabs-headers">
						</ul>
						<div id="measurement-tabs" class="fb-tabs">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div id="advance-nursery-modal-div"></div>
</div>
<script type="text/javascript" th:src="@{/static/js/reviewLanding.js}"></script>
