<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
<div class="panel panel-default">
   	<div class="panel-body manage-settings-panel-body">


<div class="move-left col-xs-12 col-md-12">
	<div class="form-group">
		<div id="page-create-field-map-message" class="">
		</div>				
	</div>
</div>

<div class="row form-group" th:object="${nurseryDetails}">
	<input type="hidden" id="studyId" class="field-map-highlight" th:value="*{id}" />
	<div class="col-xs-12 col-md-12">
		<label class="control-label section-toggle toggle-icon" data-toggle="collapse" data-target=".nurseryDetails">
			<img th:src="@{/static/img/basic-details.png}" />
			<img class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
			<img class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" style="display:none;" />
			<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.header} + ': ' + *{name}">NURSERY DETAILS</strong>
		</label>
		<div style="float:right;">
			<div class="btn-group">	
				<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
					<span th:text="#{nursery.nurserydetails.actions}">Actions</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li>
						<a href="" style="display: none" id="open-study-url" th:href="@{/NurseryManager/addOrRemoveTraits/viewNursery}"></a>
						<a href="javascript: openStudy('nursery-table');" id="open-study-url-link" th:text="#{nursery.nurserydetails.action.edit}">Edit Nursery</a> 
					</li>
					<li>
						<a href="" style="display: none" id="advance-study-url" th:href="@{/NurseryManager/advance/nursery}"></a>
						<a href="javascript: advanceNursery('nursery-table');" id="advance-study-url-link" th:text="#{nursery.nurserydetails.action.advance}">Advance Nursery</a> 
					</li>
					<li>
						<a href="" style="display: none" id="fieldmap-url" th:href="@{/Fieldmap/enterFieldDetails/nursery}"></a>
						<a href="javascript: createFieldMap('nursery-table');" id="fieldmap-url-link" th:text="#{nursery.nurserydetails.action.createFieldmap}">Make Field Map</a>
					</li>
					<li>
						<a href="" style="display: none" id="label-printing-url" th:href="@{/LabelPrinting/specifyLabelDetails/nursery}"></a>
						<a href="javascript: createLabelPrinting('nursery-table');" id="label-printing-url-link" th:text="#{nursery.nurserydetails.action.printLabels}">Print Labels</a> 
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="sectionContainer collapse in nurseryDetails">
		<div th:each="basicDetail, rowStat : *{basicStudyDetails}">
			<div class="col-xs-4 col-md-4">
				&nbsp;&nbsp;&nbsp;<strong><span style="word-wrap: break-word"  class="control-label" th:text="${basicDetail.variable.name}"></span>:</strong>
				&nbsp;<span th:text="${basicDetail.value}" class="div-select-val"></span>
				<span th:if="${basicDetail.variable.name == 'Field Map Created'}">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="" style="display: none" id="fieldmap-url" th:href="@{/Fieldmap/enterFieldDetails/nursery}"></a>
					<a href="javascript: showFieldMap('nursery-table');" id="view-fieldmap-url-link" th:text="#{nursery.nurserydetails.viewFieldMap}">View</a>
				</span>
			</div>
			<!-- div class="col-xs-2 col-md-2" th:if="${rowStat.odd}"></div -->
		</div>
	</div>
	<br/>
	<div class="col-xs-12 col-md-12">
		<label class="control-label section-toggle toggle-icon" data-toggle="collapse" data-target=".managementDetails">
			<img class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
			<img class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" style="display:none;" />
			<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.management}">MANAGEMENT DETAILS</strong>
		</label>
		
	</div>
	<div class="sectionContainer collapse in managementDetails">
		<div th:each="managementDetail, rowStat : *{managementDetails}">
			<div class="col-xs-4 col-md-4">
				&nbsp;&nbsp;&nbsp;<strong><span style="word-wrap: break-word"  class="control-label" th:text="${managementDetail.variable.name}"></span>:</strong>
				&nbsp;<span th:text="${managementDetail.value}" class="div-select-val"></span>
			</div>
		</div>
	</div>
	<br/>
	<div class="col-xs-12 col-md-12">
		<a id="toggle-additional-link" class="section-toggle" data-toggle="collapse" data-target=".additionalDetails" th:text="#{nursery.nurserydetails.additional.show}"></a>
		&nbsp;<span th:text="#{nursery.nurserydetails.additional.text}"></span>
	</div>
	<div class="sectionContainer collapse additionalDetails">
		<div class="col-xs-6 col-md-6">
			<div class="col-xs-12 col-md-12">
				<label class="control-label">
					<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.nurseryConditions}">NURSERY CONDITIONS</strong>
				</label>
			</div>
			<div class="col-xs-12 col-md-12">
				<table style="table-layout: fixed;" class="my-class table table-curved table-condensed table-with-scroll-create" id="nurseryConditionDetails">
					<thead>
					<tr>
		                <th width="45%" th:utext="#{nursery.managesettings.plot.name}">.Name</th>
		                <th width="45%" th:utext="#{nursery.managesettings.plot.description}">.Description</th>
		                <th width="10%"></th>
					</tr>
					</thead>
					<tbody>
	  					<tr th:each="nurseryConditionDetail, rowStat : *{nurseryConditionDetails}">
		  					<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${nurseryConditionDetail.variable.name}"></td>
		  					<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${nurseryConditionDetail.variable.description}"></td>
		  					<td width="10%" th:class="${rowStat.even}? 'even' : 'odd'" >
		   						<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' + 
									*{nurseryConditionDetails[__${rowStat.index}__].variable.cvTermId} + '\');'" >
									<span class="glyphicon glyphicon-eye-open"></span></a>
		   					</td>
	  					</tr> 
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-xs-6 col-md-6">
			<div class="col-xs-12 col-md-12">
				<label class="control-label">
					<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.factors}">FACTORS</strong>
				</label>
			</div>
			<div class="col-xs-12 col-md-12">
				<table style="table-layout: fixed;" class="my-class table table-curved table-condensed table-with-scroll-create" id="factorDetails">
					<thead>
					<tr>
		                <th width="45%" th:utext="#{nursery.managesettings.plot.name}">.Name</th>
		                <th width="45%" th:utext="#{nursery.managesettings.plot.description}">.Description</th>
		                <th width="10%"></th>
					</tr>
					</thead>
					<tbody>
	  					<tr th:each="factorDetail, rowStat : *{factorDetails}">
		  					<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${factorDetail.variable.name}"></td>
		  					<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${factorDetail.variable.description}"></td>
		  					<td width="10%" th:class="${rowStat.even}? 'even' : 'odd'" >
		   						<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' + 
									*{factorDetails[__${rowStat.index}__].variable.cvTermId} + '\');'" >
									<span class="glyphicon glyphicon-eye-open"></span></a>
		   					</td>
	  					</tr> 
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-xs-6 col-md-6">
			<div class="col-xs-12 col-md-12">
				<label class="control-label">
					<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.traits}">TRAITS</strong>
				</label>
			</div>
			<div class="col-xs-12 col-md-12">
				<table style="table-layout: fixed;" class="my-class table table-curved table-condensed table-with-scroll-create" id="variateDetails">
					<thead>
						<tr>
			                <th width="45%" th:utext="#{nursery.managesettings.plot.name}">.Name</th>
			                <th width="45%" th:utext="#{nursery.managesettings.plot.description}">.Description</th>
			                <th width="10%"></th>
						</tr>
					</thead>
					<tbody>
	  					<tr th:each="variateDetail, rowStat : *{variateDetails}">
		  					<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${variateDetail.variable.name}"></td>
		  					<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${variateDetail.variable.description}"></td>
		  					<td width="10%" th:class="${rowStat.even}? 'even' : 'odd'" >
		   						<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' + 
									*{variateDetails[__${rowStat.index}__].variable.cvTermId} + '\');'" >
									<span class="glyphicon glyphicon-eye-open"></span></a>
		   					</td>
	  					</tr> 
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-xs-6 col-md-6">
			<div class="col-xs-12 col-md-12">
				<label class="control-label">
					<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.variates}">SELECTION VARIATES</strong>
				</label>
			</div>
			<div class="col-xs-12 col-md-12">
				<table style="table-layout: fixed;" class="my-class table table-curved table-condensed table-with-scroll-create" id="selectionVariateDetails">
					<thead>
						<tr>
			                <th width="45%" th:utext="#{nursery.managesettings.plot.name}">.Name</th>
			                <th width="45%" th:utext="#{nursery.managesettings.plot.description}">.Description</th>
			                <th width="10%"></th>
						</tr>
					</thead>
					<tbody>
	  					<tr th:each="selectionVariateDetail, rowStat : *{selectionVariateDetails}">
		  					<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${selectionVariateDetail.variable.name}"></td>
		  					<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${selectionVariateDetail.variable.description}"></td>
		  					<td width="10%" th:class="${rowStat.even}? 'even' : 'odd'" >
		   						<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' + 
									*{selectionVariateDetails[__${rowStat.index}__].variable.cvTermId} + '\');'" >
									<span class="glyphicon glyphicon-eye-open"></span></a>
		   					</td>
	  					</tr> 
					</tbody>
				</table>
			</div>
		</div>
	</div> <!-- section container -->	
	<br/>
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<div id="showBaselineTraitDetails" th:include="/NurseryManager/baselineTraitDetails"></div>
	</div>
</div>

<div class="row">
	<div id="ontology-add-variable" th:include="/Fieldmap/selectTrialInstanceModal"></div>
</div>

    <div class="modal fade" id="manageTrialConfirmation" tabindex="-1" role="dialog" aria-labelledby="manageTrialConfirmationLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Confirmation</h4>
          </div>
          <div class="modal-body">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-11 col-md-offset-1 col-md-11">
					<p th:text="#{fieldmap.confirmation.for.viewing.generated.fieldmap}">Do you wish to view the generated fieldmap(s)?</p>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-xs-offset-5 col-xs-7 col-md-offset-5 col-md-7">
					<div class="form-group">
						<input type="hidden" id="fieldmapStudyId" name="fieldmapStudyId" />
						<input type="hidden" id="fieldmapDatasetId" name="fieldmapDatasetId" />
						<input type="hidden" id="fieldmapGeolocationId" name="fieldmapGeolocationId" />
						<button type="button" class="btn btn-danger" th:value="#{common.form.yes.text}" onclick="javascript: proceedToCreateFieldMap();">No</button>			        	
						<button type="button" class="btn btn-primary" th:value="#{common.form.no.text}" onclick="javascript: proceedToGenerateFieldMap();">Yes</button>
					</div>
				</div>
			</div>			        	
          </div>
        </div>
      </div>
    </div>


</div>
</div></div>


<div layout:fragment="page-script">
<script type="text/javascript" th:src="@{/static/js/nurseryManager.js}"></script>
<script type="text/javascript" th:src="@{/static/js/fieldbook-common.js}"></script>
<script type='text/javascript' th:inline="javascript">
//<![CDATA[   

var createLabelErrorMsg = /*[[#{common.error.create.label.nursery}]]*/;
var paginationUrl = /*[[@{/NurseryManager/manageNurseries/page/}]]*/;
var fieldMapStudyRequired = /*[[#{common.error.select.study(#{fieldmap.nursery})}]]*/;
var fieldMapOneStudyErrorMsg = /*[[#{common.error.select.one.study.show.fieldmap(#{fieldmap.nursery})}]]*/;
var noFieldMapExists = /*[[#{common.error.no.existing.fieldmap(#{fieldmap.nursery})}]]*/;
var openStudyError = /*[[#{common.error.open.study(#{fieldmap.nursery})}]]*/;
var advanceStudyError = /*[[#{common.error.advance.study(#{fieldmap.nursery})}]]*/;
var selectedTableIds = new Array();
var showText = /*[[#{nursery.nurserydetails.additional.show}]]*/;
var hideText = /*[[#{nursery.nurserydetails.additional.hide}]]*/;

$(document).ready(function() {
	$('.toggle-icon').click(function(){ 
		var expandedImg = $(this).find(".section-expanded");
		var collapsedImg = $(this).find(".section-collapsed");
	   	expandedImg.toggle();
	   	collapsedImg.toggle();
	});

	$("#open-study-url-link").click(function() {
		selectedTableIds[0] = $("#studyId").val();
	});

	$("#advance-study-url-link").click(function() {
		selectedTableIds[0] = $("#studyId").val();
	});

	$("#fieldmap-url-link").click(function() {
		selectedTableIds[0] = $("#studyId").val();
	});

	$("#label-printing-url-link").click(function() {
		selectedTableIds[0] = $("#studyId").val();
	});

	$("#view-fieldmap-url-link").click(function() {
		selectedTableIds[0] = $("#studyId").val();
	});
	
	$("#toggle-additional-link").click(function() {
		if ($(this).text() == showText) {
			$(this).text(hideText);
		}
		else {
			$(this).text(showText);
		}
	});
});

//]]>
</script>
</div>