<div class="" style="padding-top: 10px;">
	<div class="" th:object="${nurseryDetails}" th:id="'div-nursery-tab-' + *{id}">
		<input type="hidden" id="studyId" class="field-map-highlight" th:value="*{id}" />
		<input type="hidden" id="study-type" name="study-type" value="Nursery" />

		<div class="col-xs-12 col-md-12">
			<label  class="control-label section-toggle toggle-icon" data-target=".nurseryDetails">
				<img th:src="@{/static/img/basic-details.png}" />
				<img style="margin-left: -10px" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
				<img style="display:none; margin-left: -7px" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
				<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.header}">NURSERY DETAILS</strong>				
			</label>
			<a class="btn btn-info fbk-open-button-left-margin" th:if="*{id lt 0}" href="javascript: openStudy('nursery-table');" th:text="#{common.form.open}">Open</a>
			<div style="float:right;" th:if="*{id lt 0}" >
				<div class="btn-group">
					<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;<span th:text="#{nursery.nurserydetails.actions}">Actions</span>
                	</button>
					<ul class="dropdown-menu fbk-right-button-drop-down" role="menu">
						<li>
							<a href="" style="display: none" id="open-study-url" th:href="@{/NurseryManager/editNursery}"></a>
							<a href="javascript: openStudy('nursery-table');" id="open-study-url-link" th:text="#{nursery.nurserydetails.action.edit}">Edit Nursery</a>
						</li>
						<li>
							<a href="javascript: showExportOptions();" id="export-study-link" th:text="#{nursery.nurserydetails.action.export.nursery}">Export Nursery Book</a>
						</li>
						<li>
							<a href="" style="display: none" id="fieldmap-url" th:href="@{/Fieldmap/enterFieldDetails/nursery}"></a>
							<a href="javascript: createFieldMap('nursery-table');" id="fieldmap-url-link" th:text="#{nursery.nurserydetails.action.createFieldmap}">Make Field Map</a>
						</li>
						<li>
							<a href="" style="display: none" id="label-printing-url" th:href="@{/LabelPrinting/specifyLabelDetails/nursery}"></a>
							<a href="javascript: createLabelPrinting('nursery-table');" id="label-printing-url-link" th:text="#{nursery.nurserydetails.action.printLabels}">Print Labels</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-12 sectionContainer collapse in nurseryDetails">
            <div th:each="basicDetail, rowStat : *{basicStudyDetails}" th:remove="tag">
                <div  th:class="
                            (${rowStat.last and rowStat.size mod 3 ne 0} ?
                                'col-sm-6 ' +
                                'col-md-' + ${4*(4-(rowStat.size % 3))}
                            : 'col-sm-6 col-md-4') + ' nursery-details-variable'">
                    <strong th:text="${basicDetail.variable.name} + ':'" class="">:</strong>
                    <span th:text="${basicDetail.value}" class="div-select-val "></span>
                    <span th:if="${basicDetail.variable.name == 'Field Map Created' and basicDetail.value == 'Yes'}">
                        <a href="" style="display: none" id="fieldmap-url" th:href="@{/Fieldmap/enterFieldDetails/nursery}"></a>
                        <a href="javascript: showFieldMap('nursery-table');" id="view-fieldmap-url-link" th:text="#{nursery.nurserydetails.viewFieldMap}">View</a>
                    </span>
                </div>
           </div>
		</div>
		<br/>
		<div class="col-xs-12 col-md-12">
			<label  class="control-label section-toggle toggle-icon" data-target=".managementDetails">
				<img th:src="@{/static/img/basic-details.png}" />
				<img style="margin-left: -10px" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
				<img style="margin-left: -7px; display:none;" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
				<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.management}">MANAGEMENT DETAILS</strong>
			</label>

		</div>
		<div class="col-md-12 sectionContainer collapse in managementDetails">
			<div th:each="managementDetail, rowStat : *{managementDetails}" th:remove="tag">
                <div  th:class="
                        (${rowStat.last and rowStat.size mod 3 ne 0} ?
                                'col-sm-6 ' +
                                'col-md-' + ${4*(4-(rowStat.size % 3))}
                            : 'col-sm-6 col-md-4') + ' nursery-details-variable'">

                        <strong th:text="${managementDetail.variable.name} + ':'" class="">:</strong>
                        <span th:text="${managementDetail.value}" class="div-select-val "></span>

                </div>
            </div>
		</div>
		<br/>
		<div class="col-xs-12 col-md-12">
			<label  class="control-label section-toggle toggle-icon" data-target=".nurseryConditions">
				<img th:src="@{/static/img/basic-details.png}" />
				<img style="margin-left: -10px; display:none;" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
				<img style="margin-left: -7px" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
				<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.nurseryConditions}">NURSERY CONDITIONS</strong>
			</label>

		</div>
		<div class="col-md-12 sectionContainer collapse nurseryConditions">

            <div th:each="nurseryConditionDetail, rowStat : *{nurseryConditionDetails}" th:remove="tag">
                <div  th:class="
                            (${rowStat.last and rowStat.size mod 3 ne 0} ?
                                'col-sm-6 ' +
                                'col-md-' + ${4*(4-(rowStat.size % 3))}
                            : 'col-sm-6 col-md-4') + ' nursery-details-variable'">
                        <strong th:text="${nurseryConditionDetail.variable.name} + ':'" class="">:</strong>
                        <span th:text="${nurseryConditionDetail.value}" class="div-select-val "></span>
                </div>
            </div>

		</div>
		<br />
		<div class="form-group col-xs-12 col-md-12">
			<label  class="control-label section-toggle toggle-icon" data-target=".additionalDetails">
				<img th:src="@{/static/img/basic-details.png}" />
				<img style="margin-left: -10px; display:none;" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
				<img style="margin-left: -7px" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
				<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.variables}">VARIABLES</strong>
			</label>

		</div>
		<div class="col-md-12 sectionContainer collapse additionalDetails col-xs-12 col-md-12" style="padding-top: 10px;">
			<div class="row">
				<div class="col-xs-6 col-md-6">
					<div>
						<label  class="control-label">
							<img heigth="16" th:src="@{/static/img/factors.png}" class="lbl-img" />
							<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.factors}">FACTORS</strong>
						</label>
					</div>
					<div>
						<table style="table-layout: fixed;" class="my-class table table-curved table-condensed" id="factorDetails">
							<thead>
								<tr>
									<th width="45%" th:utext="#{nursery.nurserydetails.column.name}">.Name</th>
									<th width="55%" th:utext="#{nursery.nurserydetails.column.description}">.Description</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="factorDetail, rowStat : *{factorDetails}">
									<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
										<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
										*{factorDetails[__${rowStat.index}__].variable.cvTermId} + '\');'" th:text="${factorDetail.variable.name}"></a>
									</td>
									<td width="55%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${factorDetail.variable.description}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-xs-6 col-md-6">
					<div>
						<label  class="control-label">
							<img height="25" th:src="@{/static/img/baseline-traits.png}" class="lbl-img" />
							<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.traits}">TRAITS</strong>
						</label>
					</div>
					<div>
						<table style="table-layout: fixed;" class="my-class table table-curved table-condensed" id="variateDetails">
							<thead>
								<tr>
									<th width="45%" th:utext="#{nursery.nurserydetails.column.name}">.Name</th>
									<th width="55%" th:utext="#{nursery.nurserydetails.column.description}">.Description</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="variateDetail, rowStat : *{variateDetails}">
									<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
										<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
										*{variateDetails[__${rowStat.index}__].variable.cvTermId} + '\');'" th:text="${variateDetail.variable.name}"></a>
									</td>
									<td width="55%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${variateDetail.variable.description}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-6">
					<div>
						<label  class="control-label">
							<img height="16" th:src="@{/static/img/variates.png}" class="lbl-img" />
							<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.variates}">SELECTION VARIATES</strong>
						</label>
					</div>
					<div>
						<table style="table-layout: fixed;" class="my-class table table-curved table-condensed" id="selectionVariateDetails">
							<thead>
								<tr>
									<th width="45%" th:utext="#{nursery.nurserydetails.column.name}">.Name</th>
									<th width="55%" th:utext="#{nursery.nurserydetails.column.description}">.Description</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="selectionVariateDetail, rowStat : *{selectionVariateDetails}">
									<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
										<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
										*{selectionVariateDetails[__${rowStat.index}__].variable.cvTermId} + '\');'" th:text="${selectionVariateDetail.variable.name}"></a>
									</td>
									<td width="55%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${selectionVariateDetail.variable.description}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div> <!-- section container -->

        <div class="col-xs-12 col-md-12">
			<label  class="control-label section-toggle toggle-icon dataset-toggle" data-target=".datasetDetails">
				<img th:src="@{/static/img/matching-nurseries.png}" />
				<img class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" style="display:none; margin-left: -10px" />
				<img class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" style=" margin-left: -7px"/>
				<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.datasets}">DATASETS</strong>
			</label>
			<div class="collapse datasetDetails">
				<div class="col-xs-12 col-md-12">
					<label class="control-label">
						<strong><span th:text="#{nursery.nurserydetails.datasets.choose}"></span></strong>&nbsp;&nbsp;
					</label>
					<select style="width: 350px" id="dataset-selection">
					</select>
				</div>

				<div class="col-xs-12 col-md-12">
					&nbsp;
				</div>
				<div class="measurement-section" style="display:none;">
					<div id="measurement-details" class="col-xs-12 col-md-12">
						<ul id="measurement-tab-headers" class="nav nav-tabs fb-tabs-headers">
						</ul>
						<div id="measurement-tabs" class="fb-tabs">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div id="advance-nursery-modal-div"></div>
</div>
<div layout:fragment="page-script">

	<script type='text/javascript' th:inline="javascript">
		//<![CDATA[
		var hasMeasurements = false;
		var hasFieldmap = false;

		$(document).ready(function() {
			$('#study'+getCurrentStudyIdInTab() + " " + '.toggle-icon').click(function(){
				var expandedImg = $(this).find(".section-expanded");
				var collapsedImg = $(this).find(".section-collapsed");
				expandedImg.toggle();
				collapsedImg.toggle();
			});
			$('#study'+getCurrentStudyIdInTab() + " " + '.section-toggle').on('click', function(){
				var className = $(this).data('target')
				$('#study'+getCurrentStudyIdInTab() + " "+className).slideToggle();
			})

			$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #open-study-url-link").click(function() {
				selectedTableIds[0] = $("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #studyId").val();
			});

			$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #advance-study-url-link").click(function() {
				selectedTableIds[0] = $("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #studyId").val();
			});

			$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #div-nursery-tab-" + getCurrentStudyIdInTab() + " #fieldmap-url-link").click(function() {
				selectedTableIds[0] = $("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #studyId").val();
			});

			$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #label-printing-url-link").click(function() {
				selectedTableIds[0] = $("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #studyId").val();
			});

			$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #view-fieldmap-url-link").click(function() {
				selectedTableIds[0] = $("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #studyId").val();
			});

			$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #toggle-additional-link").click(function() {
				if ($(this).text() == showText) {
					$(this).text(hideText);
				}
				else {
					$(this).text(showText);
				}
			});

			$("#div-nursery-tab-"+getCurrentStudyIdInTab()+" .dataset-toggle").click(function() {
				loadDatasetDropdown($(this).parent().find("#dataset-selection"));
			});

			$("#div-nursery-tab-"+getCurrentStudyIdInTab()+" #dataset-selection").change(function() {
				if ($(this).val()) {
					var id = $(this).val();
					var name = $(this).find("option:selected").text();
					var selectedId = $(this).find('option:selected').val();
					var found = false;
					if($(this).val() == 'Please Choose')
						return;

					$('#study' + getCurrentStudyIdInTab() + ' #measurement-tabs').children().hide();
					$('#study' + getCurrentStudyIdInTab() + ' #measurement-tab-headers').find('li').each(function(index) {
						$(this).removeClass("active");

						if ($(this).prop('id').replace('dataset-li', '') === selectedId) {

							$(this).addClass("active");
							$("#dset-tab-" + id).show();
							found = true;
						}
					});

					if (!found) {
						loadDatasetMeasurementRowsViewOnly(id, name);
					}
				}
			});

			$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " .nurseryDetails").find(".control-label").each(function (index) {
				if ($(this).text() == 'Measurements Recorded') {
					if ($(this).parent().parent().find(".div-select-val").text() == 'Yes') {
						hasMeasurements = true;
					}
				}
				else if ($(this).text() == 'Field Map Created') {
					if ($(this).parent().parent().find(".div-select-val").text() == 'Yes') {
						hasFieldmap = true;
					}
				}
			});

			if (!hasMeasurements) {
				$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #advance-study-url-link").hide();
				$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #fieldmap-url-link").hide();
				$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #label-printing-url-link").hide();
				$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #export-study-link").hide();
			}

			if (hasFieldmap) {
				$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #fieldmap-url-link").hide();
			}
			truncateStudyVariableNames('.fbk-variable', 10);
		});
		//]]>
	</script>
</div>
