<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1>
			ADVANCE NURSERY WIZARD
		</h1>
	</div>			  
</div>
<form onsubmit="javascript: return validateAdvanceNursery();" role="form-horizontal" action="#"
th:action="@{/NurseryManager/saveAdvanceNursery}" method="post" th:object="${advancingNurseryform}" enctype="multipart/form-data">
	<div class="row">
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="form-group">
					<div class="col-xs-12 col-md-12" id="page-message"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12" >
				<div class="row form-group">
					<div class="col-xs-4 col-md-4">
						<label class="control-label" th:text="#{nursery.save.advance.nursery.nursery.advance.name}+':'"></label>
					</div>
					<div class="col-xs-4 col-md-4">
						<input type="text" th:field="*{nurseryAdvanceName}" class="form-control"/>
					</div>
					<div class="col-xs-4 col-md-4">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-xs-4 col-md-4">
						<label class="control-label" th:text="#{nursery.save.advance.nursery.description}+':'"></label>
					</div>
					<div class="col-xs-8 col-md-8">
						<input type="text" th:field="*{nurseryAdvanceDescription}" class="form-control"/>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-xs-4 col-md-4">
						<label class="control-label" th:text="#{nursery.save.advance.nursery.entries}+':'"></label>
					</div>
					<div class="col-xs-8 col-md-8">
						<label th:text="*{entries}"></label>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12" >
				<div class="row form-group">
					<div class="col-xs-12 col-md-12">
						<table class="my-class table table-curved table-condensed">
							<thead>
								<tr>
									<th th:utext="#{nursery.import.header.entry}">.Entry</th>
					                <th th:utext="#{nursery.import.header.designation}">.Designation</th>
					                <th th:utext="#{nursery.import.header.gid}">.GID</th>
					                <th th:utext="#{nursery.import.header.cross}">.Cross</th>
					                <th th:utext="#{nursery.import.header.source}">.Source</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="choice, rowStat : *{germplasmList}">
									<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{germplasmList[__${rowStat.index}__].entryId}">Entry</td>
									<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{germplasmList[__${rowStat.index}__].desig}">Designation</td>
									<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{germplasmList[__${rowStat.index}__].gid}">GID</td>
									<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{germplasmList[__${rowStat.index}__].cross}">Cross</td>
									<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{germplasmList[__${rowStat.index}__].source}">Source</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12" >
				<div class="row form-group">
					<div class="col-xs-4 col-md-4">&nbsp;</div>
					<div class="col-xs-4 col-md-4">
						<input type="button" onclick="javascript: window.history.back();"  value="Cancel" class="btn btn-default"/>
	      				<input type="submit" value="Save" th:value="#{common.form.save.text}" class="btn btn-primary"/>
					</div>
					<div class="col-xs-4 col-md-4">&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
</form>
<div layout:fragment="page-script">
<script type="text/javascript" th:src="@{/static/js/nurseryManager.js}"></script>
<script type='text/javascript' th:inline="javascript">
	//<![CDATA[    	 		
 		//
      //]]>
    </script>
	
</div>