<div class="row">
	<div class="col-xs-12 col-md-12">
        <div class="col-xs-7 col-md-7 fbk-advance-label-pos" th:object="${seedStoreForm}">
            <div class="pull-left">
                <strong class="sub-content-heading pull-left" th:text="#{advancing.list.header}">Advance
                    List</strong>
                &nbsp;&nbsp;&nbsp;
                            <span th:text="#{advancing.study.entries.total}"
                                  class="control-label advanced-list-label">Total Entries:</span>
                            <span class="control-label control-label-bold advance-list-size advanced-list-label"
                                  id="numberOfEntries" th:text="*{totalNumberOfGermplasms}"></span>
            </div>


            <div style="float:inherit">
                <button style="margin-left: 20px" type="button"
                        class="btn btn-info btn-save-import-advance-inventory" aria-hidden="true"
                        onclick="javascript: ImportInventoryFunctions.saveImport('advance');"
                        th:text="#{nursery.save.advanced.inventory.list}">
                    Save
                </button>

                <button style="margin-left: 20px" type="button"
                        class="btn btn-info btn-discard-import-advance-inventory" aria-hidden="true"
                        onclick="javascript: ImportInventoryFunctions.discardImport('advance');"
                        th:text="#{import.discard.data}">
                    Discard Imported Data
                </button>
            </div>

        </div>
		<div class="pull-right">

			<div style="float:right;  margin-right: 10px;">
				<button type="button" class="btn btn-info"
						onclick="javascript: ImportInventoryFunctions.openImportInventoryModal('advance');"
						th:text="#{advancing.nursery.button.import.inventory}">
				</button>
			</div>

			<div style="float:right;  margin-right: 10px;">
				<button type="button" class="btn btn-info" onclick="javascript: addLot();"  th:text="#{advancing.nursery.button.manage.inventory}">
				</button>
			</div>


		</div>
	</div>
</div>
<div class="row">
	&nbsp;
</div>
<div class="row col-xs-12 col-md-12" id="inventory-germplasm-list">
	<div th:include="/Inventory/seedInventoryPagination"></div>
</div>
