<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org" th:object="${advancingNurseryform}">

	<div class="modal fade" id="reviewAdvanceNurseryModal" role="dialog" aria-labelledby="reviewAdvanceNurseryModal" aria-hidden="true">
		<div class="modal-dialog modal-large">
			<div class="modal-content">					
				<div class="modal-body">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11" id="reviewNurseryModalHeader">
							<label class="modal-title fbk-modal-title" th:text="#{nursery.nurserydetails.action.advance}"></label>
						</div>

                        <div class="col-xs-11 col-md-11" id="reviewTrialModalHeader">
							<label class="modal-title fbk-modal-title" th:text="#{study.studydetails.action.advance.study}"></label>
						</div>

						<div class="col-xs-11 col-md-11" id="reviewSamplesModalHeader">
							<label class="modal-title fbk-modal-title" th:text="#{study.studydetails.action.advance.sample}"></label>
						</div>

						<div class="col-xs-1 col-md-1">
							<button  id="closeReviewAdvanceNurseryModal" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"/>
						</div>										
					</div>
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">					
							<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{nursery.nurserydetails.action.review.advance}"></label>
						</div>															
					</div>
					<div class='review-advance-records'>
						<div class="row form-group">				            
					            <div class="col-xs-7 col-md-7 fbk-advance-label-pos">
					            	 <div class="col-xs-12">
					            	 	<span class="glyphicon glyphicon-chevron-down"></span>&nbsp;
						             	<strong class="sub-content-heading" th:text="#{advancing.nursery.list.entries}">Advance List</strong>
						             </div>
						         	 <div class="col-xs-12">
						             <span th:text="#{advancing.study.entries.total}" class="control-label advanced-list-label">Total Entries:</span>
						             <span class="control-label control-label-bold advance-list-size advanced-list-label total-review-items" th:text="*{#lists.size(germplasmList)}"></span>        
						             &nbsp;&nbsp;&nbsp;
						             <span th:text="#{list.number.of.selected}" class="control-label advanced-list-label">Selected:</span>
						             <span class="control-label control-label-bold advance-list-size advanced-list-label numberOfAdvanceSelected">0</span>
						             </div>
						         </div>
					
					            <div class="pull-right">
					                <div class="btn-group">
					                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
					                        <span th:text="#{nursery.nurserydetails.reviewactions}">Actions</span>
					                    </button>
					                    <ul class="dropdown-menu fbk-right-button-drop-down" role="menu">
					                        <li class="withMeasurementsOnly">
					                            <a href="javascript: void(0);" class="delete-entries"
					                               th:text="#{nursery.nurserydetails.review.delete.selected.entries}">Delete Selected Entries</a>
					                            <a href="javascript: void(0);" class="select-all-entries"
					                               th:text="#{nursery.nurserydetails.review.select.all}">Select All</a>
					                        </li>
					                    </ul>
					                </div>
					            </div>
					    </div>
					    <br />
					    <div class="row form-group">
					            <div class="col-xs-12 col-md-12">
					                <div style="opacity: 0" id="advance-nursery-germplasm-list" th:include="/NurseryManager/showSaveAdvanceNurseryPagination">
					                </div>
					            </div>
					    </div>
					    <div class="row form-group review-select-all-section fbk-hide">
					            <div class="col-xs-12 col-md-12">
					                	<input type="checkbox" class="review-select-all"/>&nbsp;&nbsp;&nbsp;<label  th:text="#{nursery.nurserydetails.review.select.all}"></label>
					            </div>
					    </div>
				    </div>
				</div> <!-- Modal Body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-cancel-review" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.back.text}">
						Back
					</button>
					<button type="button" th:id="*{uniqueId}" class="btn btn-primary  uniqueId btn-save-advance-list" aria-hidden="true" onclick="javascript: SaveAdvanceList.openSaveListModal(this);" th:text="#{common.form.finish.text}">
						Finish
					</button>
				</div>
			</div> <!-- Modal Content -->
		</div>
	</div>
	<input type="hidden" id="errorInAdvance" th:value="*{errorInAdvance}" />
    
</div>

<div layout:fragment="page-script">
    <script type="text/javascript" th:inline="javascript">
        var warningMessage = /*[[#{nursery.advancelist.updateinventory.error.message}]]*/;

		var advanceType = angular.element('#mainApp').injector().get('TrialManagerDataService').applicationData.advanceType;
		if (advanceType == 'sample') {
			$("#reviewNurseryModalHeader").hide();
			$("#reviewSamplesModalHeader").show();
			$("#reviewTrialModalHeader").hide();
		} else {
			$("#reviewTrialModalHeader").show();
			$("#reviewNurseryModalHeader").hide();
			$("#reviewSamplesModalHeader").hide();
		}

    </script>
</div>
