<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="col-xs-2 col-md-2">
			<label class="control-label h4" th:text="#{advancing.nursery.header}">Advance List</label>
		</div>
		<div class="col-xs-3 col-md-3" th:object="${seedStoreForm}">
			<label th:text="#{advancing.nursery.entries.total}">Total Entries:</label> <label class="control-label control-label-bold" id="numberOfEntries" th:text="*{totalNumberOfGermplasms}"></label>
		</div>
		<div class="col-xs-7 col-md-7">
		<div style="float:right;  margin-right: 10px;">
			<div class="btn-group">	
				<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
					<span th:text="#{advancing.nursery.button.manage.inventory}">Manage Inventory</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li>
						<a href="javascript: addLot();">Add Lot</a> 
					</li>
					<li>
						<a href="javascript: void(0)">Deposit</a>
					</li>					
				</ul>
			</div>
		</div>
		</div>
	</div>	
</div>
<div class="row">
	&nbsp;
</div>
<div class="row col-xs-12 col-md-12" id="inventory-germplasm-list">
	<div th:include="/Inventory/seedAdvanceInventoryPagination"></div>
</div>