<div th:object="${manageNurseriesForm}">
    <!-- case 1: no data means no table -->
     <div th:if="*{paginatedNurseryDetailsList == null or #lists.isEmpty(paginatedNurseryDetailsList)}">
       <span th:text="#{nursery.managenurseries.no.nursery.list}">No Nurseries</span>
     </div>
     
         
     <!-- case 2: nursery list has data -->
     <div th:if="*{paginatedNurseryDetailsList != null and not #lists.isEmpty(paginatedNurseryDetailsList)}">
         <table id="nursery-table" th:if="*{not #lists.isEmpty(paginatedNurseryDetailsList)}" class="table table-curved table-condensed">
           <thead>
				<tr>
					<th style="max-width:10%;word-wrap:break-word;" th:text="#{nursery.managenurseries.shownurseries.name}">Name</th>
					<th style="max-width:25%;word-wrap:break-word;" th:text="#{nursery.managenurseries.shownurseries.title}">Title</th>
					<th style="max-width:20%;word-wrap:break-word;" th:text="#{nursery.managenurseries.shownurseries.objective}">Objective</th>
					<th style="max-width:10%;word-wrap:break-word;" th:text="#{nursery.managenurseries.shownurseries.start.date}">Start Date</th>
					<th style="max-width:10%;word-wrap:break-word;" th:text="#{nursery.managenurseries.shownurseries.end.date}">End Date</th>
					<th style="max-width:15%;word-wrap:break-word;" th:text="#{nursery.managenurseries.shownurseries.principal.investigator}">Principal Investigator</th>
					<th style="max-width:10%;word-wrap:break-word;" th:text="#{nursery.managenurseries.shownurseries.site.name}">Site Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:class="${row.even}? 'data-row' : 'data-row'" th:each="nursery, row : *{paginatedNurseryDetailsList}"  th:id="${nursery.id}">
					<td style="max-width:10%;word-wrap:break-word;" th:class="${row.even}? 'even' : 'odd'" th:text="${nursery.studyName}">Name</td>
					<td style="max-width:25%;word-wrap:break-word;" th:class="${row.even}? 'even' : 'odd'" th:text="${nursery.title}">Title</td>
					<td style="max-width:20%;word-wrap:break-word;" th:class="${row.even}? 'even' : 'odd'" th:text="${nursery.objective}">Objective</td>
					<td style="max-width:10%;word-wrap:break-word;" th:class="${row.even}? 'even' : 'odd'" th:text="${nursery.startDate}">Start Date</td>
					<td style="max-width:10%;word-wrap:break-word;" th:class="${row.even}? 'even' : 'odd'" th:text="${nursery.endDate}">End Date</td>
					<td style="max-width:15%;word-wrap:break-word;" th:class="${row.even}? 'even' : 'odd'" th:text="${nursery.piName}">Principal Investigator</td>
					<td style="max-width:10%;word-wrap:break-word;" th:class="${row.even}? 'even' : 'odd'" th:text="${nursery.siteName}">Site Name</td>
				</tr>
			</tbody>
         </table>
	</div>
</div>

<div layout:fragment="page-script">
	<!-- For pagination -->
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[    
        
		$( document ).ready(function() {  	     
        	triggerFieldMapTableSelection('nursery-table');
		});
        
      //]]>
    </script>
</div>