
<div class="col-xs-12 col-md-12 advance-nursery-list-table" th:object="${advancingNurseryform}"  >
	<table class="my-class table table-curved table-condensed">
		<thead>
			<tr>
				<th th:utext="#{nursery.import.header.entry}">.Entry</th>
                <th th:utext="#{nursery.import.header.designation}">.Designation</th>
                <th th:utext="#{nursery.import.header.gid}">.GID</th>
                <th th:utext="#{nursery.import.header.cross}">.Cross</th>
                <th th:utext="#{nursery.import.header.source}">.Source</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="choice, rowStat : *{paginatedGermplasmList}">
				<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{paginatedGermplasmList[__${rowStat.index}__].entryId}">Entry</td>
				<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{paginatedGermplasmList[__${rowStat.index}__].desig}">Designation</td>
				<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{paginatedGermplasmList[__${rowStat.index}__].gid}">GID</td>
				<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{paginatedGermplasmList[__${rowStat.index}__].cross}">Cross</td>
				<td th:class="${rowStat.even}? 'even' : 'odd'" th:text="*{paginatedGermplasmList[__${rowStat.index}__].source}">Source</td>
			</tr>
		</tbody>
	</table>
</div>
<div th:object="${advancingNurseryform}"> 
  <div  th:if="*{germplasmList != null and not #lists.isEmpty(germplasmList)}">
  	<div id="advance-nursery-germplasm-list-pagination"></div>
  </div>
 </div>

<div layout:fragment="page-script">
<script type="text/javascript" th:src="@{/static/js/bootstrap-paginator.min.js}"></script>
<script type='text/javascript' th:inline="javascript">
	//<![CDATA[   
 		       
	    var paginationUrl = /*[[@{/NurseryManager/saveAdvanceNursery/page/}]]*/;
        
        var options = {
            currentPage: /*[[${advancingNurseryform.currentPage}]]*/,
            totalPages: /*[[${advancingNurseryform.totalPages}]]*/,

            alignment:'center',
            useBootstrapTooltip:true,
            onPageClicked: function(e,originalEvent,type,page){     
            	showPage(paginationUrl, page, 'advance-nursery-germplasm-list')
            }
        }
        $( document ).ready(function() {  
		if($('#advance-nursery-germplasm-list-pagination') != null){
			$('#advance-nursery-germplasm-list-pagination').bootstrapPaginator(options);
		}
        
        });
        
	
      //]]>
    </script>
	
</div>
 
