<div th:object="${importGermplasmListForm}">
    <!-- case 1: no data means no table -->
     <div th:if="*{paginatedImportedGermplasm == null or #lists.isEmpty(paginatedImportedGermplasm)}">
       <span th:text="#{nursery.import.no.germplasm.list}">No Germplasm list</span>
     </div>
     
     <!-- case 2: advanced view of the importedGermplasm -->
     <div th:if="*{paginatedImportedGermplasm != null and not #lists.isEmpty(paginatedImportedGermplasm)}">
       <div th:if="*{importedGermplasmMainInfo.isAdvanceImportType()}">
         <table th:if="*{not #lists.isEmpty(paginatedImportedGermplasm)}" class="table table-striped table-bordered">
           <thead>
             <tr>
               <th th:utext="#{nursery.import.header.entry}">.Entry</th>
               <th th:utext="#{nursery.import.header.designation}">.Designation</th>
               <th th:utext="#{nursery.import.header.gid}">.GID</th>
               <th th:utext="#{nursery.import.header.cross}">.Cross</th>
               <th th:utext="#{nursery.import.header.source}">.Source</th>
               <th th:utext="#{nursery.import.header.entrycode}">.Entry Code</th>
             </tr>
           </thead>
           <tbody th:remove="all-but-first">
             <tr th:each="gid : *{paginatedImportedGermplasm}">
               <td th:text="${gid.entryId}">.1</td>
               <td th:text="${gid.desig}">.2</td>
               <td th:text="${gid.gid}">.3</td>
               <td th:text="${gid.cross}">.4</td>
               <td th:text="${gid.source}">.5</td>
               <td th:text="${gid.entryCode}">.6</td>
             </tr>
             <tr>
               <td>.1</td>
               <td>.2</td>
               <td>.3</td>
               <td>.4</td>
               <td>.5</td>
               <td>.6</td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>

     <!-- case 3: basic view of the importedGermplasm -->
     <div th:if="*{paginatedImportedGermplasm != null and not #lists.isEmpty(paginatedImportedGermplasm)}">
       <div th:if="*{not importedGermplasmMainInfo.isAdvanceImportType()}">
         <table th:if="*{not #lists.isEmpty(paginatedImportedGermplasm)}" class="table table-striped table-bordered">
           <thead>
             <tr>
               <th th:utext="#{nursery.import.header.entry}">.Entry</th>
               <th th:utext="#{nursery.import.header.designation}">.Designation</th>
             </tr>
           </thead>
           <tbody th:remove="all-but-first">
             <tr th:each="gid : *{paginatedImportedGermplasm}">
               <td th:text="${gid.entryId}">.1</td>
               <td th:text="${gid.desig}">.2</td>
             </tr>
             <tr>
               <td>.1</td>
               <td>.2</td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>
 </div>