
<div class="advance-nursery-list-table" th:object="${advancingNurseryform}">
	<table class="table-curved table-condensed advance-germplasm-items">	
		<thead>
			<tr>
				<th nowrap="nowrap" th:each="tableHeader : ${tableHeaderList}" th:text="${tableHeader.columnName}"  th:attr="data-col-name=${tableHeader.dataCol}" ></th>
			</tr>
		</thead>		
	</table>
</div>

<div layout:fragment="page-script">
	<script type='text/javascript' th:inline="javascript">
		//<![CDATA[
		$( document ).ready(function() {
			setTimeout(setupAdvanceListForReview, 150);									
		});
		function setupAdvanceListForReview(){
			var advanceDataList = /*[[${advanceDataList}]]*/ [];
			var listDivIdentifier = $('#create-nursery-tab-headers li.active .fbk-close-tab').attr('id');
			var sectionContainerDiv = 'advance-list'+listDivIdentifier;
			new BMS.Fieldbook.AdvancedGermplasmListDataTable('#'+sectionContainerDiv + ' .advance-germplasm-items', '#'+sectionContainerDiv, advanceDataList);
		}
	//]]>
	</script>
</div>