<form id="addVariableForm" role="form-horizontal" onsubmit="return validateCells();" class="form-horizontal" action="#" 
	th:action="@{/NurseryManager/addOrRemoveTraits}" method="post" th:object="${addOrRemoveTraitsForm}" enctype="multipart/form-data">
	
	
              
	 <div class="germplasm-measurement-list-table  component " style="width: 100%">
	
       <!-- my-class table table-curved table-condensed   -->
				<div class="factor-div" style="float: left; max-height: 400px; max-width: 370px; width: 370px; overflow-x: scroll; overflow-y: hidden">
				<table class="overflow-y  make-sticky">
					<thead>
						 <tr >
			               <th th:if="${measurementVariable.factor == true}" th:class="${measurementVariable.factor == true} ? 'factors' : 'variates'" th:each="measurementVariable, rowIndex : *{measurementVariables}" th:utext="${measurementVariable.name}">.variable name</th>
			
			             </tr>	
					</thead>
				
				<tbody>
						<tr  th:class="${row.even}? 'even' : 'odd'" th:each="measurementRow, row: *{paginatedMeasurementRowList}">
           	
           		<td th:if="${measurementData.editable == false}" style="vertical-align:bottom; padding: 0px;" align="center" th:each="measurementData, rowIndex : ${measurementRow.dataList}"  >
             		
             		<label th:if="${measurementData.editable == false}" th:text="${measurementData.value}" ></label>
             		         		
				</td>
				</tr>
             	</tbody>
				</table>
				</div>
				<div class="variates-div" style="float: left; max-height: 400px;max-width: 525px; width: 525px; overflow: auto; overflow-x: scroll">
				<table class="overflow-y  make-sticky"> 
					<thead>
						 <tr >
			               <th th:if="${measurementVariable.factor == false}" th:class="${measurementVariable.factor == true} ? 'factors' : 'variates'" th:each="measurementVariable, rowIndex : *{measurementVariables}" th:utext="${measurementVariable.name}">.variable name</th>
			
			             </tr>	
					</thead>
					<tbody>
						<tr  th:class="${row.even}? 'even' : 'odd'" th:each="measurementRow, row: *{paginatedMeasurementRowList}">
           	
             	<td  th:if="${measurementData.editable == true}" style="vertical-align:bottom; " align="center" th:each="measurementData, rowIndex : ${measurementRow.dataList}"  >
             		
             		<label th:if="${measurementData.editable == false}" th:text="${measurementData.value}" ></label>
             		 
             		<input th:attr="data-type=${measurementData.dataType}" style="width: 100%" size="1" type="text" th:if="${measurementData.editable == true}" th:field="*{paginatedMeasurementRowList[__${row.index}__].dataList[__${rowIndex.index}__].value}"/>
             		
             		     		
				</td>
             </tr>
					</tbody>
				</table>
				</div>
				</div> 
	
        <div >
	        <div th:if="*{measurementRowList != null and not #lists.isEmpty(measurementRowList)}">
	        	<div id="measurement-data-list-pagination"></div>
	        </div>
	        </div>
				
	<div class="form-group">&nbsp;
	</div>
	<div class="form-group">
	    <div class="col-xs-5 col-md-5">&nbsp;</div> 
	    <div class="col-xs-7 col-md-7">
	      	<a id="btnBack" href="" th:href="@{/NurseryManager/importGermplasmList}"   th:text="#{common.form.back.text}" class="btn btn-default" />
			<input type="submit" id="btnNext" th:value="#{common.form.next.text}" class="btn btn-primary" />
	      	<input type="submit" id="btnUpdate" th:value="#{common.form.update.text}" class="btn btn-primary" onclick="doSave();return false;"/>
	      
	    </div>
	  </div>
	  
	<div class="form-group">
		<div class="col-md-12">	
			<div class="modal fade" id="successMessageModal"  role="dialog" aria-labelledby="successMessageModal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content" >
						<div class="modal-body" id="successMessageBody">
							<div style="text-align: center">
								<label th:text="#{nursery.addOrRemoveTraits.success.update.message}">Traits has been successfully updated.</label>
							</div>
						</div>
						<div class="modal-footer">    
			       			<a id="btnOK" href="" th:href="@{/NurseryManager}"   th:text="#{common.form.ok.text}" class="btn btn-primary" />	
		       			</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->		
			 
		</div>
	</div>  

</form>

<script type="text/javascript" th:src="@{/static/js/bootstrap-paginator.min.js}"></script>
				<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
	           
	            var paginationUrl = /*[[@{/NurseryManager/addOrRemoveTraits/page/}]]*/;
        
        var options = {
            currentPage: /*[[${addOrRemoveTraitsForm.currentPage}]]*/,
            totalPages: /*[[${addOrRemoveTraitsForm.totalPages}]]*/,

            alignment:'center',
            useBootstrapTooltip:true,
            onPageClicked: function(e,originalEvent,type,page){     
            	if(validateCells()){
            		showPostPage(paginationUrl, options.currentPage, page, 'germplasm-measurement-list-table-div', 'addVariableForm');
            	}else{
            		event.stopImmediatePropagation();
            	}
            		
            }
        }
        
		if($('#measurement-data-list-pagination') != null){
			$('#measurement-data-list-pagination').bootstrapPaginator(options);	
		}
        $( document ).ready(function() {
        	fixedTrHeight();
        	//doStickyHeader();		     
       	 //  $('.germplasm-measurement-list-table td input').on("change", validateCells);
       	 //  $('.germplasm-measurement-list-table td input').on("focus", validateCells);
       	 //  $('.germplasm-measurement-list-table td input').on("blur", validateCells);
       	   if (document.URL.indexOf("viewNursery") > -1) {
       		   $("#btnBack").attr("href", "/Fieldbook/NurseryManager");
       		   $("#btnUpdate").show();
       		   $("#btnNext").hide();
       	   } else {
       		   $("#btnUpdate").hide();
       		   $("#btnNext").show();
       	   }    
       	   
       	$('.variates-div').scroll(function(){ 
       	
       		$('.factor-div').scrollTop($(this).scrollTop());
       	
       	}); 
       	   //$("#freezeheader").freezeHeader({ 'height': '500px' });
       	   //setTimeout(function(){$('#hdfreezeheader').css('top', '0px')}, 450);
   		});
        function fixedTrHeight(){
        	var max = 0;    
        	$('table tr').each(function() {
        	    max = Math.max($(this).height(), max);
        	}).height(max);
        	
        	$('table tr').css('height', max+'px');
        		
        }
       
      //]]>
    </script>
