<div>   
<form onsubmit="return do_germplasm_check();" id="germplasm-list-form" role="form-horizontal" class="form-horizontal" action="#"
  th:action="@{/NurseryManager/importGermplasmList/next}" method="post" th:object="${importGermplasmListForm}" enctype="multipart/form-data">
      
       <input type="hidden" th:field="*{totalGermplasms}"/>
       <input type="hidden"  th:field="*{startIndex}"/>
       <input type="hidden"  th:field="*{interval}"/>
       <input type="hidden"  th:field="*{mannerOfInsertion}"/>
      
    <!-- case 1: no data means no table -->
     <div th:if="*{paginatedImportedGermplasm == null or #lists.isEmpty(paginatedImportedGermplasm)}">
       <span class="noGermplasmListIndicator" th:text="#{nursery.import.no.germplasm.list}">No Germplasm list</span>
     </div>
     
     <!-- case 2: advanced view of the importedGermplasm -->
     <div th:if="*{paginatedImportedGermplasm != null and not #lists.isEmpty(paginatedImportedGermplasm)}">
       <div class="germplasm-list-table" th:if="*{importedGermplasmMainInfo.isAdvanceImportType()}">
         <table th:if="*{not #lists.isEmpty(paginatedImportedGermplasm)}" class="my-class table table-curved table-condensed germplasm-list-items">
           <thead>
             <tr>
               <!-- <th class="check-col" th:utext="#{nursery.import.header.check}">.Check</th> -->
               <th th:text="#{nursery.import.header.position}">Position</th>
               <th style="text-align:center" th:utext="#{nursery.import.header.entry}">.Entry</th>
               <th th:utext="#{nursery.import.header.designation}">.Designation</th>
               <th th:utext="#{nursery.import.header.gid}">.GID</th>
               <th th:utext="#{nursery.import.header.cross}">.Cross</th>
               <th th:utext="#{nursery.import.header.source}">.Source</th>
               <th th:utext="#{nursery.import.header.entrycode}">.Entry Code</th>
             </tr>
           </thead>
           <tbody th:remove="all-but-first">
             <tr class="draggable primaryRow" th:each="gid, row : *{paginatedImportedGermplasm}" th:attr="data-entry=${gid.entryId}" th:attrappend="data-gid=${gid.gid},data-index=${gid.index}">
             <!-- 
               <td align="center" th:class="${row.even}? 'even check-col' : 'odd check-col'">
               
               <select th:field="*{paginatedImportedGermplasm[__${row.index}__].check}" class="form-control primarylist-select">
               <option th:each="type: ${checkLists}" th:value="${type.id}" th:text="${type.description}"></option>
               </select>
               </td>
               -->
               <td align="left" th:class="${row.even}? 'even' : 'odd'" th:text="${gid.index}">.1</td> 
               <td align="center" th:class="${row.even}? 'even' : 'odd'" th:text="${gid.entryId}">.1</td>
               <td align="left" th:class="${row.even}? 'even' : 'odd'" >
                	<a href="javascript: void(0)" onclick="javascript: openGermplasmDetailsPopop(this)" th:text="${gid.desig}" th:attr="data-gid=${gid.gid}" th:attrappend="data-desig=${gid.desig}">.2</a>               	
               </td>
               <td align="left" th:class="${row.even}? 'even' : 'odd'">
               		<a href="javascript: void(0)" onclick="javascript: openGermplasmDetailsPopop(this)" th:text="${gid.gid}" th:attr="data-gid=${gid.gid}" th:attrappend="data-desig=${gid.desig}">.3</a>
               </td>
               <td align="left" th:class="${row.even}? 'even' : 'odd'" th:text="${gid.cross}">.4</td>
               <td align="left" th:class="${row.even}? 'even' : 'odd'" th:text="${gid.source}">.5</td>
               <td align="left" th:class="${row.even}? 'even' : 'odd'" th:text="${gid.entryCode}">.6</td>
             </tr>
             <tr>
             <td>.1.1</td>
               <td>.1.1</td>
               <td>.1</td>
               <td>.2</td>
               <td>.3</td>
               <td>.4</td>
               <td>.5</td>
               <td>.6</td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>
     
   
   		<div> 
	        <div th:if="*{importedGermplasm != null and not #lists.isEmpty(importedGermplasm)}">
	        	<div id="germplasm-list-pagination"></div>
	        </div>
        </div>

     <br />
     
     </form>
     
 </div>
 <script type="text/javascript" th:src="@{/static/js/bootstrap-paginator.min.js}"></script>
<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
        var paginationUrl = /*[[@{/NurseryManager/importGermplasmList/page/}]]*/;
        var checkTypes = /*[[${checkTypes}]]*/ null;
        var checkTypes_obj = [];
        
        var options = {
            currentPage: /*[[${importGermplasmListForm.currentPage}]]*/,
            totalPages: /*[[${importGermplasmListForm.totalPages}]]*/,

            alignment:'center',
            useBootstrapTooltip:true,
            onPageClicked: function(e,originalEvent,type,page){            	
            	showPage(paginationUrl, page, 'imported-germplasm-list');
            	
            }
        }
        $( document ).ready(function() {  
			if($('#germplasm-list-pagination') != null){
				$('#germplasm-list-pagination').bootstrapPaginator(options);
			}
			setSpinnerMaxValue();
	       			
        });
        
      //]]>
    </script>