<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1 th:text="#{nursery.summary.make.a.nursery}">
			Make a Nursery: Summary
		</h1>
		<h3 th:text="#{nursery.summary.successful}">
			Your nursery has been saved successfully.
		</h3>
	</div>
	
	<div class="col-xs-10 col-md-10">			
	</div>
	<div class="col-xs-1 col-md-1">
		<div style="margin-right: -6px" class="btn-group">
		  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
		    <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Tools
		  </button>
		</div>
	</div>
	
	<form id="summaryForm" class="form-horizontal" action="#" 
		th:action="@{/NurseryManager/summary}" method="post" th:object="${summaryDetailsForm}" enctype="multipart/form-data">
	
		<div class="form-group">
			&nbsp;	
		</div>
			
		<div class="form-group">
			<strong class="sub-heading col-xs-12 col-md-12" th:text="#{nursery.summary.nursery.details}">NURSERY DETAILS:</strong>
		</div>
		<div class="form-group col-xs-12 col-md-12">
	  		<label class="control-label" th:text="#{nursery.summary.book.name}">Nursery Book Name: </label>
	  					&nbsp;&nbsp;<span style="font-weight: bold; font-style:italic;" th:text="*{bookName}"></span><br/>	
	  		<label class="control-label" th:text="#{nursery.summary.title}">Title: </label>
	  					&nbsp;&nbsp;<span style="font-weight: bold; font-style:italic;" th:text="*{title}"></span><br/>	
	  		<label class="control-label" th:text="#{nursery.summary.objective}">Objective: </label>
	  					&nbsp;&nbsp;<span style="font-weight: bold; font-style:italic;" th:text="*{objective}"></span><br/>	
	  		<br/>
	  		<br/>
	  	</div>
			
		<div class="form-group">
			<strong class="sub-heading col-xs-12 col-md-12" th:text="#{nursery.summary.nursery.conditions}">NURSERY CONDITIONS:</strong>
		</div>
		<div class="form-group col-xs-12 col-md-12">
	  		<label class="control-label" th:text="#{nursery.summary.sequence.number}">Nursery Sequence #: </label>
	  					&nbsp;&nbsp;<span style="font-weight: bold; font-style:italic;" th:text="*{sequenceNumber}"></span><br/>	
	  		<label class="control-label" th:text="#{nursery.summary.principal.investigator}">Principal Investigator: </label>
	  					&nbsp;&nbsp;<span style="font-weight: bold; font-style:italic;" th:text="*{principalInvestigator}"></span><br/>	
	  		<label class="control-label" th:text="#{nursery.summary.location}">Location: </label>
	  					&nbsp;&nbsp;<span style="font-weight: bold; font-style:italic;" th:text="*{location}"></span><br/>	
	  		<label class="control-label" th:text="#{nursery.summary.breeding.method}">Breeding Method: </label>
	  					&nbsp;&nbsp;<span style="font-weight: bold; font-style:italic;" th:text="*{breedingMethod}"></span><br/>	
	  		<br/>
	  		<br/>
	  	</div>
			

		<div class="form-group">
			&nbsp;<strong class="sub-heading col-xs-12 col-md-12" th:text="#{nursery.summary.traits}">TRAITS TO BE MEASURED:</strong>
		</div>
			
		<div class="form-group col-xs-12 col-md-12">
			<table class="table table-curved table-condensed" style="margin-left: 0px; width: 50%" id="traits">
				<thead>
					<th th:text="#{nursery.summary.trait.name}">TRAIT</th>
					<th th:text="#{nursery.summary.trait.description}">DESCRIPTION</th>
				</thead>
				<div th:each="trait : *{traits}">
					<tr>
						<td th:text="${trait.name}">1</td>
						<td th:text="${trait.description}">2</td>
					</tr>
				</div>			
			</table>
	  		<br/>
		</div>
			
		<div class="form-group">
			<div class="col-xs-5 col-md-5">&nbsp;</div> 
	    	<div class="col-xs-7 col-md-7">
				<input type="submit" th:value="#{common.form.done.text}" class="btn btn-primary" />
			</div>
		</div>
	
	</form>

</div>
			
