<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
   	<div class="modal fade" id="usePreviousNurseryModal" role="dialog" aria-labelledby="usePreviousNurseryModal" aria-hidden="true">
		<div class="modal-dialog" style="width: 600px">
	    	<div class="modal-content">
		    	<div class="modal-header">
		    		<button id="closeUsePreviousNurseryModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		            <h4 class="modal-title" id="heading-modal" th:text="#{nursery.managesettings.choose.existing.nursery}">
	         		</h4>
				</div>
				<div class="modal-body" id="usePreviousNurseryBody">
	         		<div class="row">
		         		<div id="page-message-modal" class="col-xs-12 col-md-12">
		         			<div class="col-xs-3 col-md-3">
		         				<label class="control-label" th:text="#{nursery.managesettings.nursery}+':'">Nursery:</label>
		         			</div>
		         			<div class="col-xs-6 col-md-6">
		         				<select id="selectedNursery" class="form-control">
		         					<option th:each="nursery : ${nurseryList}" th:value="${nursery.id}" th:text="${nursery.studyName}"></option>
		         				</select>
		         			</div>
		         			<div class="col-xs-3 col-md-3">
		         			</div>
		         		</div>
	         		</div>
         		</div>
         		<div class="modal-footer">    	       			
	       			<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
	       			<button type="button" id="chooseNursery" class="btn btn-primary" aria-hidden="true" 
	       				th:text="#{common.form.ok.text}" onclick="javascript: chooseSelectedNursery();">Ok</button>	
       			</div>
			</div>
		</div>
	</div>
</div>
<div layout:fragment="page-script">
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[    
   
    //]]>
    </script>
</div>