<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade" id="selectTrialInstanceModal" role="dialog" aria-labelledby="selectTrialInstanceLabel" aria-hidden="true">
		<div class="modal-dialog modal-large">
			<div class="modal-content">
				<div class="modal-body" id="selectTrialInstanceBody">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title" th:text="#{fieldmap.label.select.instance.for.fieldmap}"></label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button  id="closeSelectTrialInstanceModal" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"/>
						</div>
					</div>

					<div id="page-message">
					</div>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
						<label class="control-label" th:text="#{fieldmap.select.trial.instance}+':'">Select Trial Instance:</label>

						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<table class="table tree table-curved table-condensed" id="studyFieldMapTree" style="margin-left:5px;">
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
					<button type="button" class="btn btn-primary" onclick="javascript: viewFieldMap();" aria-hidden="true">OK</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="confirmSubModal" role="dialog" aria-labelledby="confirmSubModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-large" style="width:500px">
			<div class="modal-content">
				<div class="modal-body" id="selectTrialInstanceBody">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title" th:text="#{common.form.confirmation.text}"></label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button  id="closeConfirmSubModalModal" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"/>
						</div>
					</div>

					<br/><br/>
					<div id="page-message">
						<div class="alert alert-danger">
							<span th:text="#{fieldmap.confirm.overwrite.existing.fieldmap}">Are you sure you want to include instances with existing fieldmaps?</span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">No</button>
					<button type="button" class="btn btn-primary" onclick="javascript: redirectToFirstPage();" aria-hidden="true">Yes</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div layout:fragment="page-script">

	<script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery.treegrid.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery.treegrid.bootstrap3.js}"></script>

	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
	var createLabelErrorMsg = /*[[#{common.error.create.label.study}]]*/ '',
	fieldMapStudyRequired = /*[[#{common.error.select.study}]]*/ '',
	fieldMapOneStudyErrorMsg = /*[[#{common.error.select.one.study.show.fieldmap}]]*/ '',
	noFieldMapExists = /*[[#{common.error.no.existing.fieldmap}]]*/ '',
	noSelectedTrialInstance = /*[[#{fieldmap.no.selected.study.instance}]]*/ '',
	multipleSelectError = /*[[#{common.error.select.one.trial.instance}]]*/ '',
	entryLabel = /*[[#{fieldmap.study.number.of.entries}]]*/ '',
	repLabel = /*[[#{fieldmap.study.number.of.reps}]]*/ '',
	plotLabel = /*[[#{fieldmap.study.total.number.of.plots}]]*/ '',
	fieldmapLabel = /*[[#{fieldmap.has.fieldmap}]]*/ '',
	entryPlotLabel = /*[[#{fieldmap.study.number.of.entries.and.plots}]]*/ '',
	hasFieldmapError = /*[[#{fieldmap.has.existing.fieldmap.error}]]*/ '',
	isViewFieldmap = true,
	fieldmapIds = [];
	//]]>
</script>
</div>
