<ui-select ng-model="valuecontainer[targetkey]"
		   on-select="onSelect($item, $model)"
		   uis-open-close="valuecontainer.onOpenClose(isOpen)"
		   tagging-label="false"
		   append-to-body="true" ng-disabled="!enableDropdown"
		   theme="select2">
	<ui-select-match>{{$select.selected.displayDescription}}</ui-select-match>
	<ui-select-choices refresh="fetch($select)" refresh-delay="300" repeat="methodItem.code as methodItem in methodItems | filter: $select.search track by $index">
		<div title="{{::methodItem.displayDescription}}">{{::methodItem.displayDescription}}</div>
	</ui-select-choices>
</ui-select>
<div ng-if="hideTypes !== true"  class="possibleValuesDiv">
	<div ng-show="showDerManMethodsRadio">
		<input type="radio" name="methodType" ng-model="localData.methodType" value="1" ng-click="fetch()" ng-disabled="disableMethodTypesRadio">
		<span th:text="#{show.derivative.maintenance.method}">Derivative and Maintenance methods</span> &nbsp;
	</div>
	<div ng-show="showGenMethodsRadio">
		<input type="radio" name="methodType" ng-model="localData.methodType" value="2" ng-click="fetch()" ng-disabled="disableMethodTypesRadio">
		<span th:text="#{show.generative.method}">Generative methods</span> &nbsp;
	</div>
	<input type="radio" name="methodType" ng-model="localData.methodType" value="3" ng-click="fetch()" ng-disabled="disableMethodTypesRadio">
	<span th:text="#{show.all.methods}">All methods</span> &nbsp;
</div>
<div ng-if="hideFavorites !== true" class="possibleValuesDiv">
	<input type="checkbox" ng-disabled="!enableDropdown" name="method-favorite" ng-model="localData.useFavorites" ng-click="fetch()">
	<span th:text="#{show.favorite.method}">Show only favorite methods </span>
</div>
