<div class="row">
	<div class="col-xs-12 col-md-12">
		<label class="control-label section-toggle toggle-icon">
			<span class="bms-exp-design fbk-trial-summary-icons"></span>
			<img style="margin-left: -10px; display:none;" class="section-expanded" src="/Fieldbook/static/img/expanded-arrow.png">
			<strong class="sub-content-heading ng-binding">Crosses and Selections</strong>
		</label>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="pull-left">
			<form class="form-inline">
				<div class="form-group">
					<label>Selected:</label>
					<span class="control-label-bold">{{isAllPagesSelected ? getRecordsFiltered() : size(selectedItems)}}</span>
				</div>
				<div class="form-group  checkbox-inline">
					<label style="margin-left: 15px">
						<input type="checkbox" ng-checked="isAllPagesSelected" ng-click="onSelectAllPages()" id="check-select-all">
						Select all pages</input>
					</label>
				</div>
			</form>
		</div>

		<div class="pull-right">
			<div class="btn-group" ng-show="hasAnyAuthority(PERMISSIONS.MS_CREATE_LOTS_PERMISSIONS)">
				<button type="button" class="btn btn-info dropdown-toggle fbk-action-btn" data-toggle="dropdown">
					<span>Actions</span>
				</button>
				<ul class="dropdown-menu fbk-right-button-drop-down" role="menu">
					<li>
						<a ng-click="openLotCreationModal()">Create lots</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table id="crossesAndSelectionTable"
			   datatable=""
			   dt-instance="nested.dtInstance"
			   dt-options="dtOptions"
			   dt-columns="dtColumns"
			   dt-column-defs="dtColumnDefs"
			   width="100%"
			   class="table table-curved table-condensed table-no-wrap table-sorted">
			<thead>
			<tr>
				<th><input type="checkbox" title="select current page" ng-checked="isPageSelected()" ng-click="onSelectPage()"/></th>
				<th>#</th>
				<th class="germplasm-link-column">GID
					<study-column-filter-icon study-column-filter-popover-template="studyColumnFilterList.html"
											  filter="columns.gid.filter"
											  column-name="gid"
											  filter-helper="filterHelper"/>
				</th>
				<th class="info-modal-column">GROUP ID
					<study-column-filter-icon study-column-filter-popover-template="studyColumnFilterList.html"
											  filter="columns.groupId.filter"
											  column-name="groupId"
											  filter-helper="filterHelper"/>
				</th>
				<th class="germplasm-link-column">DESIGNATION
					<study-column-filter-icon study-column-filter-popover-template="studyColumnFilterText.html"
											  filter="columns.designation.filter"
											  column-name="designation"
											  filter-helper="filterHelper"/>
				</th>
				<th>CROSS</th>
				<th>LOTS
					<study-column-filter-icon study-column-filter-popover-template="studyColumnFilterList.html"
											  filter="columns.numberOfLots.filter"
											  column-name="numberOfLots"
											  filter-helper="filterHelper"/>
				</th>
				<th>BREEDING METHOD ABBR
					<study-column-filter-icon study-column-filter-popover-template="studyColumnFilterText.html"
											  filter="columns.breedingMethodAbbreviation.filter"
											  column-name="breedingMethodAbbreviation"
											  filter-helper="filterHelper"/>
				</th>
				<th>BREEDING METHOD NAME
					<study-column-filter-icon study-column-filter-popover-template="studyColumnFilterText.html"
											  filter="columns.breedingMethodName.filter"
											  column-name="breedingMethodName"
											  filter-helper="filterHelper"/>
				</th>
				<th>BREEDING METHOD TYPE
					<study-column-filter-icon study-column-filter-popover-template="studyColumnFilterText.html"
											  filter="columns.breedingMethodType.filter"
											  column-name="breedingMethodType"
											  filter-helper="filterHelper"/>
				</th>
				<th>LOCATION
					<study-column-filter-icon study-column-filter-popover-template="studyColumnFilterText.html"
											  filter="columns.breedingLocationName.filter"
											  column-name="breedingLocationName"
											  filter-helper="filterHelper"/>
				</th>
				<th>TRIAL INSTANCE
					<study-column-filter-icon study-column-filter-popover-template="studyColumnFilterList.html"
											  filter="columns.trialInstance.filter"
											  column-name="trialInstance"
											  filter-helper="filterHelper"/>
				</th>
				<th>PLOT_NO
					<study-column-filter-icon study-column-filter-popover-template="studyColumnFilterList.html"
											  filter="columns.plotNumber.filter"
											  column-name="plotNumber"
											  filter-helper="filterHelper"/>
				</th>
				<th>REP_NO
					<study-column-filter-icon study-column-filter-popover-template="studyColumnFilterList.html"
											  filter="columns.replicationNumber.filter"
											  column-name="replicationNumber"
											  filter-helper="filterHelper"/>
				</th>
				<th>GERMPLASM DATE
					<study-column-filter-icon study-column-filter-popover-template="studyColumnFilterList.html"
											  filter="columns.germplasmDate.filter"
											  column-name="germplasmDate"
											  filter-helper="filterHelper"/>
				</th>
			</tr>
			</thead>
		</table>
	</div>
</div>
