<methods-select ng-if="isBreedingMethod" on-method-select="methodChanged()"
				hide-types="true" hide-favorites="true" valuecontainer="valuecontainer" targetkey="targetkey"></methods-select>

<input type="text"
	   ng-if="(columnData.dataTypeCode === 'N' || columnData.dataTypeCode === 'T') && !isBreedingMethod"
	   ng-blur="observation.change()"
	   ng-keyup="doBlur($event)"
	   ng-model="observation.value"
	   style="width: 100%" />

<input type="text"
	   ng-if="columnData.dataTypeCode === 'D'"
	   placeholder="yyyymmdd"
	   ng-model="observation.value"
	   style="width: 100%" />

<span ng-if="columnData.dataTypeCode === 'F'">
	<input type="file"
		   class="form-control"
		   file-upload="observation.file"
		   style="width: 100%"/>
	<button ng-if="columnData.dataTypeCode === 'F'"
			ng-click="observation.change()"
			class="btn btn-info">Upload</button>
	<button ng-click="observation.cancel()"
			class="btn btn-default">Cancel</button>
	<br>
	<a href ng-if="observation.value" ng-click="observation.showFile()">{{observation.value}}</a>
</span>

<ui-select ng-model="observation.value"
		   ng-if="columnData.dataTypeCode === 'C'"
		   uis-open-close="observation.onOpenClose(isOpen)"
		   tagging="observation.newInlineValue"
		   tagging-label="false"
		   append-to-body="true"
		   theme="select2"
		   style="width: 100%">
	<ui-select-match
		class="ui-select-match">
		<span ng-bind="$select.selected.name"></span>
	</ui-select-match>
	<ui-select-choices repeat="value.name as value in (columnData.possibleValues | orderBy: 'name' | filter: { name: $select.search }) track by value.name" >
		<div title="{{value.description}}">{{isCategoricalDescriptionView ? value.displayDescription : value.displayValue}}</div>
	</ui-select-choices>
</ui-select>
