<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
	<form id="" role="form-horizontal" class="form-horizontal" action="#"
	th:action="@{/StudyManager/importGermplasmList/next}" method="post" th:object="${importGermplasmListForm}" enctype="multipart/form-data">

		<div class="modal fade" id="manageCheckTypesModal" role="dialog" aria-labelledby="manageCheckTypesModal" aria-hidden="true">
			<div class="modal-dialog modal-small">
				<div class="modal-content">

					<div class="modal-body" id="manageCheckTypesModalBody">
						<div class="row form-group">
							<div class="col-xs-11 col-md-11">
								<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{germplasm.list.manage.check.types}"></label>
							</div>
							<div class="col-xs-1 col-md-1">
								<button  id="closeManageCheckTypesModal" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"/>
							</div>
						</div>

						<div class="form-group">
							<div id="page-check-message-modal" class="col-xs-12 col-md-12">
							</div>
						</div>
						<div class="form-group">
								<label class="control-label col-xs-3"><b><span th:text="#{study.manager.manage.check.types.code}"></span> <span class="required">*</span></b></label>

								<div class="col-xs-8">
									<input id="comboCheckCode" th:field="*{manageCheckCode}" type="hidden" class="form-control select2" placeholder=""/>
								</div>
						</div>
						<div class="form-group">
								<label class="control-label col-xs-3"><b><span th:text="#{study.manager.manage.check.types.value}"></span> <span class="required">*</span></b></label>
								<div class="col-xs-8">
									<input type="text" th:field="*{manageCheckValue}" class="form-control" />
								</div>
						</div>
					</div>
					<div class="modal-footer addVariable-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
						<button type="button" id="addCheckTypes" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.add.text}" onclick="javascript: addUpdateCheckType(1);">Add</button>
						<button type="button" id="updateCheckTypes" class="btn btn-primary" th:text="#{common.form.update.text}" onClick="javascript: addUpdateCheckType(2); ">.Update</button>
						<button type="button" id="deleteCheckTypes" class="btn btn-primary" th:text="#{common.form.delete.text}" onClick="javascript: deleteCheckType();">.Delete</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div layout:fragment="page-script">
	<script type='text/javascript' th:inline="javascript">
		//<![CDATA[
		var codeRequiredError = /*[[#{study.manager.manage.checks.code.required}]]*/;
		var valueRequiredError = /*[[#{study.manager.manage.checks.value.required}]]*/;
		var valueNotUniqueError = /*[[#{study.manager.manage.checks.value.not.unique}]]*/;
		var noCheckSelected = /*[[#{nursery.manager.manage.checks.no.check.selected}]]*/;
		//]]>
	</script>
</div>
