<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1>
			CREATE TRIAL WIZARD
		</h1>
	</div>			  
</div>

<div class="">
	<div class="form-group">
		<div id="page-message"></div>
	</div>
</div>

<form id="createTrialMainForm" role="form-horizontal" action="#"
th:object="${createTrialForm}" enctype="multipart/form-data">

<div class="panel panel-default">
   	<div class="panel-body manage-settings-panel-body">
 	<div class="row form-group">
 		<div class="col-xs-6 col-md-6 row">
	   		<div class="col-xs-5 col-md-5 add_top_padding">
	   			<label id="settingsSelectLabel" class="control-label"> <strong th:text="#{trial.managesettings.choose.saved.settings}+':'"> Choose Saved Settings: </strong></label>
	   		</div>
	   		
	   		<div class="col-xs-7 col-md-7">
	   			<select th:field="*{selectedSettingId}" class="form-control">
	   				<option th:each="setting : ${settingsTrialList}" th:value="${setting.templateSettingId}" th:text="${setting.name}">Trial Type 1</option>
	   			</select>
	 		</div>
 		</div>
 		<div class="col-xs-3 col-md-3 add_top_padding">
			<a href="javascript: openUsePreviousTrialModal()" id="usePreviousTrial" th:text="#{trial.managesettings.use.previous.trial}"></a> 			
 		</div>
   	</div>
</div>
</div>

</form>

<div class="panel panel-default">
   	<div class="panel-body manage-settings-panel-body">

	<div class="row">
		<div class="col-xs-12 col-md-12">
					<div id="chooseSettingsDiv" th:include="/TrialManager/chooseSettings">
					</div>
					
					<div id="importGermplasmListDiv" th:include="/NurseryManager/importGermplasmList">
					</div>

		</div>
	</div>

	
	<div class="row">
		<div class="form-group">
			<div class="col-xs-5 col-md-5">&nbsp;</div>
			<div class="col-xs-7 col-md-7">
				<a href="/TrialManager" th:href="@{/TrialManager}" class="btn btn-default" th:text="#{common.form.cancel.text}">.Cancel</a>
				<input type="button" onclick="submitForm();" th:value="#{common.form.save.text}" class="btn btn-primary" />
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div th:include="/TrialManager/usePreviousTrialModal"></div>
		</div>
	</div>
	
	</div>
</div>

	
	<!-- Modal Dialog for Successful Save -->
	<div class="form-group">
		<div class="col-md-12">
			<div class="modal fade" id="successMessageModal" role="dialog" aria-labelledby="successMessageModal" aria-hidden="true">
				<div class="modal-dialog"  style="width: 600px">
					<div class="modal-content">
						<div class="modal-body" id="successMessageBody">
							<div style="text-align: center">
								<label th:text="#{common.form.save.successful.text}">Save successful!</label>
							</div>
						</div>
						<div class="modal-footer">
							<a id="btnOK" href="" th:href="@{/TrialManager}" th:text="#{common.form.ok.text}" class="btn btn-primary">OK</a>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->

		</div>
	</div>


<div layout:fragment="page-script">
<script type='text/javascript' th:inline="javascript">
//<![CDATA[
    var startDateRequiredError = /*[[#{start.end.date.validation.start.date.required}]]*/;
    var startDateRequiredEarlierError = /*[[#{start.end.date.validation.start.date.required.earlier}]]*/;
       		
	function submitGermplasmList(){
		var $form = $("#germplasm-list-form");
		$('#startIndex').val($('#startIndex2').val());
		$('#interval').val($('#interval2').val());
		$('#mannerOfInsertion').val($('#mannerOfInsertion2').val());
		
		var serializedData = $form.serialize();
	
	 	$.ajax({
			url: "/Fieldbook/NurseryManager/importGermplasmList/next",
			type: "POST",
			data: serializedData,
			cache: false,
			success: function(html) {
		    	$('#successMessageModal').modal({ backdrop: 'static', keyboard: true }) 
		    	$("#successMessageModal").modal("show");
			}, 
			complete: function() {
				Spinner.toggle();
			}
		});
	}

	function submitWorkbook(){
		Spinner.toggle();

		var $form = $("#createTrialForm");
		
		var serializedData = $form.serialize();
	
	 	$.ajax({
			url: "/Fieldbook/TrialManager/createTrial",
			type: "POST",
			data: serializedData,
			cache: false,
			success: function(html) {
				submitGermplasmList();
			}, 
			complete: function() {
			}
		});
	}

	function submitForm() {
		if (validateCreateTrial()) {
			//$("#createTrialForm").submit();
			if(!validateStartEndDate('TrialLevelSettings')){
				moveToTopScreen();
				return false;
			}
			submitWorkbook();
			//$("#germplasm-list-form").submit();
			//$("#createTrialForm").submit();
		}else{
			moveToTopScreen();
		}
	}
	
	$(document).ready(function() {
		$('#selectedSettingId').on('change', function(){
			//alert('load settings' + $(this).val());
			loadTrialSettingsForCreate($(this).val());
		});
	});

	function loadFolderAjax() {
		Spinner.toggle();
		$.ajax({ 
			url: "/Fieldbook/Common/selectFolderLocation",
		    type: "GET",
		    data: "",
		    success: function(html) {
				$("#folderBrowserModal"+" .modal-content").empty().append(html);
				$('#folderBrowserModal').modal('show');
				$.fn.modal.Constructor.prototype.enforceFocus = function () {};
				Spinner.toggle();
			}
		});
	}
	
//]]>
</script>
</div>
