<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h2 th:text="#{trial.managetrial.header}">
			Manage Trial
		</h2>
	</div>	
	<div class="form-group">
	
		<div id="page-create-field-map-message" class="col-md-12 form-group">
		</div>
	
	
		<div class="col-xs-10 col-md-10">			
			 
<!-- 			<a href="/TrialManager/fileUpload.html" th:href="@{/TrialManager/fileUpload}" th:text="#{trial.managetrial.make.new.trial}">New Trial</a> -->			
			
		</div>
		<div class="col-xs-1 col-md-1">			
			 
			<button style="margin-left: -50px" type="button" class="btn btn-info" id="make-trial" th:value="@{/TrialManager/fileUpload}"  th:text="#{trial.managetrial.make.new.trial}">New Trial</button>
			
		</div>
		<div class="col-xs-1 col-md-1">
			<div style="margin-left: -6px" class="btn-group">
			  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
			    <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Tools
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li> 
			    	<a href="" style="display: none" id="fieldmap-url" th:href="@{/Fieldmap/enterFieldDetails/trial}"></a>
			    	<a href="javascript: createFieldMap('trial-table');" id="fieldmap-url-link" th:text="#{tools.create.field.map}">Create Field Map</a>
			    </li>
			    <li> 
			    	<a href="" style="display: none" id="show-fieldmap-url" th:href="@{/Fieldmap/enterFieldDetails/trial}"></a>
			    	<a href="javascript: showFieldMap('trial-table');" id="show-fieldmap-url-link" th:text="#{tools.display.existing.field.map}">Display Existing Field Map</a>
			    </li>
			    <li>
			    	<a href="" style="display: none" id="label-printing-url" th:href="@{/LabelPrinting/specifyLabelDetails/trial}"></a>
			    	<a href="javascript: createLabelPrinting('trial-table');" id="label-printing-url-link" th:text="#{tools.create.label.printing}">Create Labels</a> 
			    </li>    
			  </ul>
			</div>
		</div>

	    <div class="modal fade" id="manageTrialConfirmation" tabindex="-1" role="dialog" aria-labelledby="manageTrialConfirmationLabel" aria-hidden="true">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            <h4 class="modal-title">Confirmation</h4>
	          </div>
	          <div class="modal-body">
				<div class="row">
					<div class="col-xs-offset-1 col-xs-11 col-md-offset-1 col-md-11">
						<p th:text="#{fieldmap.confirmation.for.viewing.generated.fieldmap}">Do you wish to view the generated fieldmap(s)?</p>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-xs-offset-5 col-xs-7 col-md-offset-5 col-md-7">
						<div class="form-group">
							<input type="hidden" id="fieldmapStudyId" name="fieldmapStudyId" />
							<button type="button" class="btn btn-danger" th:value="#{common.form.yes.text}" onclick="javascript: proceedToCreateFieldMap();">No</button>			        	
							<button type="button" class="btn btn-primary" th:value="#{common.form.no.text}" onclick="javascript: selectTrialInstance();">Yes</button>
						</div>
					</div>
				</div>			        	
	          </div>
	        </div>
	      </div>
	    </div>

	</div>
	<br/><br/>
	<div id="trial-details-list" th:include="/TrialManager/showTrialPagination">
    </div>
    <div th:object="${manageTrialForm}">
		<div th:if="*{trialDetailsList != null and not #lists.isEmpty(trialDetailsList)}">
			<div id="trialDetailsListPagination"></div>
		</div>
    </div>
    <div class="row">
    	<div id="ontology-add-variable" th:include="/Fieldmap/selectTrialInstanceModal"></div>
    </div>
</div>
<div layout:fragment="page-script">
	<!-- For pagination -->
	<script type="text/javascript" th:src="@{/static/js/bootstrap-paginator.min.js}"></script>
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[    
        var createLabelErrorMsg = /*[[#{common.error.create.label.trial}]]*/;
        var paginationUrl = /*[[@{/TrialManager/manageTrial/page/}]]*/;
        var fieldMapStudyRequired = /*[[#{common.error.select.study(#{fieldmap.trial})}]]*/;
        var fieldMapOneStudyErrorMsg = /*[[#{common.error.select.one.study.show.fieldmap(#{fieldmap.trial})}]]*/;
        var noFieldMapExists = /*[[#{common.error.no.existing.fieldmap(#{fieldmap.trial})}]]*/;
        
        var selectedTableIds = new Array();
        var options = {
            currentPage: /*[[${manageTrialForm.currentPage}]]*/,
            totalPages: /*[[${manageTrialForm.totalPages}]]*/,
            //size:'small',
            alignment:'right',
            useBootstrapTooltip:true,
            onPageClicked: function(e,originalEvent,type,page){
            	showPage(paginationUrl, page, 'trial-details-list');
                //alert("Page item clicked, type: "+type+" page: "+page);
            }
        }
        
		if($('#trialDetailsListPagination') != null){
			$('#trialDetailsListPagination').bootstrapPaginator(options);	
		}
        
        $('#make-trial').on('click', function(){
     		Spinner.toggle();
     		$.ajax(
   		         { url: $(this).val(),
   		           type: "GET",
   		           data: "",
   		           success: function(html) {
   		        	Spinner.toggle();
   		               
   		           }
   		         }
   		       );
     	});
        
        $( document ).ready(function() {  	     
        	if($('#trialDetailsListPagination') == null || 
       			$('#trialDetailsListPagination').length == 0){
       			        		//we disable the buttons
       			        		$('.dropdown-menu li').addClass('disabled');
       			        	}
       			        	
		});
        
      //]]>
    </script>
</div>