<div class="row form-group col-xs-12 col-md-12">
<img th:src="@{/static/svg/measurements.svg}" style="position: relative; bottom: 3px;" width="22" height="22"/>
<strong class="sub-content-heading" th:if="${isExpDesignPreview != '1'}" th:text="#{nursery.edit.nursery.measurements}"></strong>
<strong class="sub-content-heading exp-design-preview" th:if="${isExpDesignPreview == '1'}" th:text="#{nursery.edit.nursery.preview.measurements}"></strong>
</div>


<div class="mdt-columns">
	<span class="btn btn-link fbk-toggle-categorical-display" th:text="#{measurements.show.categorical.description}">Show Categorical Description</span>
	<div class="btn-group">
		<i class="glyphicon glyphicon-th dropdown-toggle fbk-show-hide-grid-column" data-toggle="dropdown"></i>

		<ul class="dropdown-menu measurement-dropdown-menu fbk-right-button-drop-down" role="menu"  th:object="${createNurseryForm != null ? createNurseryForm : createTrialForm}">
			<li th:each="measurementVariable, rowIndex : *{arrangeMeasurementVariables}" >
				<a href="javascript: void(0)"
				   th:text="${measurementVariable.name}"
				   th:attr="data-column-name=${measurementVariable.name}"
				   th:attrappend="data-index=${rowIndex.index+1}">GID</a>
			</li>
		</ul>
	</div>
</div>


<table th:object="${createNurseryForm != null ? createNurseryForm : createTrialForm}" id="measurement-table" width="100%" class="table-curved table-condensed" >
	<thead>
		<tr>
			<th th:if="${isExpDesignPreview != '1'}" nowrap="nowrap" data-term-id="Action" class="factors">Action</th>
			<th nowrap="nowrap" th:attr="data-term-id=${measurementVariable.termId},data-term-data-type-id=${measurementVariable.dataTypeId},data-term-valid-values=${measurementVariable.possibleValuesString},data-min-range=${measurementVariable.minRange},data-max-range=${measurementVariable.maxRange}"
			th:class="${measurementVariable.factor == true} ? 'factors' : 'variates'"
			th:each="measurementVariable, rowIndex : *{arrangeMeasurementVariables}"
			th:utext="${measurementVariable.name}">.variable name</th>

		</tr>
	</thead>
</table>

<div class="row edit-experiment-section">
</div>

<div class="modal fade" id="inlineEditConfirmationModal" role="dialog" aria-labelledby="inlineEditConfirmationModal" aria-hidden="true">
	<div class="modal-dialog modal-medium">
		<div class="modal-content">
			<div class="modal-body" id="inlineEditConfirmationModalBody">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{common.form.confirmation.text}">Confirmation</label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button id="inlineEditConfirmationModalClose" type="button" class="close pull-right glyphicon glyphicon-remove" aria-hidden="true"></button>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-xs-12 col-md-12">
						<label class="control-label">Data input is out of range, do you want to keep or discard the value?</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default inline-edit-confirmation" aria-hidden="true" data-inline-edit="0" >Discard</button>
				<button type="button" class="btn btn-primary inline-edit-confirmation" aria-hidden="true" data-inline-edit="1" >Keep</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" th:inline="javascript">
//<![CDATA[

jQuery(function() {
	'use strict';
	var isCategoricalDisplay = /*[[${session.isCategoricalDescriptionView}]]*/ false;
	initializeTraitsPaginationNursery(isCategoricalDisplay);
});

//]]>
</script>

