<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1 th:text="#{trial.open.trial}">
			OPEN TRIAL
		</h1>
	</div>			  
</div>

<input type="hidden" id="study-type" name="study-type" value="Trial" />

<form role="form-horizontal"  action="#" 
      method="post" th:object="${addOrRemoveTraitsForm}">
 
   <div th:class="${#fields.hasErrors('file')} ? 'form-group has-error' : 'form-group'">
           <div class="alert alert-danger" th:if="${#fields.hasErrors('*')} " th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
   </div>
</form>
  
<div id="page-message"> 
</div>
		
<div class="col-xs-12 col-md-12 move-left ">
	<div class="panel panel-default">
	   	<div class="panel-body manage-settings-panel-body">
	   	<div class="row form-group">
	   	
	   	<div class="col-xs-1 col-md-1 add_top_padding">
   			<label class="control-label"> <strong th:text="#{nursery.managenurseries.shownurseries.name}+':'"> Choose Saved Settings: </strong></label>
   		</div>
   		
   		<div class="col-xs-3 col-md-3 add_top_padding">
   			<label class="control-label" th:text="${addOrRemoveTraitsForm.studyName}"> </label>
   		</div>
   		
	<div style="float: right;">
	
		<div  class="btn-group">
		  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
		    <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Export
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li>
	    		<a href="javascript: exportTrial(1);"  th:text="#{nursery.export.fieldlog.fieldroid}">Fieldlog / Fieldroid</a>
		    </li>		    
		    <li>
		    	<a href="javascript: exportTrial(2);"  th:text="#{nursery.export.r}">R</a> 
		    </li>
			<li>
		    	<a href="javascript: exportTrial(3);"  th:text="#{nursery.export.excel}">Excel</a> 
		    </li>
		          
		  </ul>
		</div>
	
		<div  class="btn-group">
		  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
		    <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Import
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li>
		    	<a href="javascript: importNursery(1);"  th:text="#{nursery.import.fieldlog.fieldroid}">Fieldlog / Fieldroid</a>
		    </li>		    
		    <li>
		    	<a href="javascript: importNursery(3);" th:text="#{nursery.import.excel}">Excel</a> 
		    </li>			    
		  </ul>
		</div>
	</div>
	</div>
	
	<!-- Tab Navigation section -->
	
	<ul id="trial-tab-headers" class="nav nav-tabs" >
		<li id="germplasm-measurement-list-table-div-li" class="active"><a href="javascript:showSelectedTab('germplasm-measurement-list-table-div');" th:text="#{trial.tab.measurements}">Measurements</a></li>
		<li id="trial-trials-tab-li"><a href="javascript:showSelectedTab('trial-trials-tab');" th:text="#{trial.tab.trials}">Trials</a></li>
	</ul>

	<div id="trial-tabs" style="padding-top: 15px;">
		<div id="germplasm-measurement-list-table-div" th:include="/Common/showAddOrRemoveTraitsPagination">
    	</div>		    	
		<div id="trial-trials-tab" style="padding-top: 15px; display:none;">
			Hello World
		</div>	
	</div>

	</div>
	</div>
</div>

<script type="text/javascript" th:src="@{/static/js/bootstrap-fileupload.js}"></script>
<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
       
	function showSelectedTab(selectedTabName) {
		$("#trial-tab-headers").show();
		var tabs = $("#trial-tabs").children();
		for (var i = 0; i < tabs.length; i++) {
			if (tabs[i].id == selectedTabName) {
				$("#" + tabs[i].id + "-li").addClass("active");
				$("#" + tabs[i].id).show();
			} else {
				$("#" + tabs[i].id + "-li").removeClass("active");
				$("#" + tabs[i].id).hide();
			}
		}
	}

	//]]>
</script>
