<!-- This page is used in displaying summary view of Trial -->

<div class="review-trial-page-identifier" style="padding-top: 10px;">
	<div class="" th:object="${trialDetails}" th:id="'div-study-tab-' + *{id}">
		<input type="hidden" id="studyId" class="field-map-highlight" th:value="*{id}" />
		<input type="hidden" id="study-type" name="study-type" value="Trial" />
		<input type="hidden" id="has-measurements" name="has-measurements" th:value="*{hasMeasurements}" />
		<input type="hidden" th:id="'review-study-error-' + *{id}" th:value="*{errorMessage}" />
        <input type="hidden" id="studyName"  th:value="*{name}"/>

		<div class="col-xs-12 col-md-12">
            <!-- Display Header: Basic Details -->
			<label  class="control-label section-toggle toggle-icon" data-target=".trialDetails">
				<img th:src="@{/static/img/basic-details.png}" />
				<img style="margin-left: -10px" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
				<img style="display:none; margin-left: -7px" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
				<strong class="sub-content-heading" th:text="#{study.studydetails.header}">BASIC DETAILS</strong>
			</label>

            <!-- Displaying Open button to open trial in details view -->
			<a th:if="${trialDetails.programUUID!=null}" class="btn btn-info fbk-open-button-left-margin" href="javascript: openStudy('trial-table');" th:text="#{common.form.open}">Open</a>
			<div th:if="${trialDetails.programUUID!=null}" style="float:right;">
				<div class="btn-group">
                    <!-- Display Actions button in Summary view which will give option to Edit, Delete, Export Trial, Make Field Map as well as Create Labels. -->
					<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;<span th:text="#{study.studydetails.actions}">Actions</span>
                	</button>
					<ul class="dropdown-menu fbk-right-button-drop-down" role="menu">
                        <!-- Edit Trial: will open trial in details view and allow user to edit the trial -->
						<li>
							<a href="" style="display: none" id="open-study-url" th:href="@{/TrialManager/openTrial}"></a>
							<a href="javascript: openStudy('trial-table');" id="open-study-url-link" th:text="#{study.studydetails.action.edit}">Edit Study</a>
						</li>
						<!-- Delete Study -->
						<li>
							<a href="javascript: openDeleteConfirmation();" th:text="#{browse.study.delete.study.name}">Delete Study</a>
						</li>
                        <!-- Export Study book: will display export format & Data collection order options -->
						<li>
							<a href="javascript: showExportOptions();" id="export-study-link" th:text="#{study.studydetails.action.export.study}">Export Study Book</a>
						</li>
                        <!-- Make Field Map: will allow user to create Field Map from Summary view -->
						<li>
							<a href="" style="display: none" id="fieldmap-url" th:href="@{/Fieldmap/enterFieldDetails/nursery}"></a>
							<a href="javascript: createFieldMap();" id="fieldmap-url-link" th:text="#{study.studydetails.action.createFieldmap}">Make Field Map</a>
						</li>
                        <!-- Create Labels -->
						<li>
							<a href="" style="display: none" id="label-printing-url" th:href="@{/LabelPrinting/specifyLabelDetails/trial}"></a>
							<a href="javascript: createLabelPrinting('trial-table');" id="label-printing-url-link" th:text="#{study.studydetails.action.printLabels}">Print Labels</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

        <!-- Display basic details using basicStudyDetails which contains basic details of Trial like Trial Name, Description, Objective,
            Created by, Last Updated, Creation Date, Completion date, No. of entries & plots, Field map created, no. of variates with data -->
		<div class="col-md-12 sectionContainer collapse in trialDetails">
            <div th:each="basicDetail, rowStat : *{basicStudyDetails}" th:remove="tag">
                <div  th:class="
                            (${rowStat.last and rowStat.size mod 3 ne 0} ?
                                'col-sm-6 ' +
                                'col-md-' + ${4*(4-(rowStat.size % 3))}
                            : 'col-sm-6 col-md-4') + ' nursery-details-variable'">
                    <strong th:text="${basicDetail.variable.name} + ':'" class="">:</strong>
                    <span th:if="${basicDetail.variable.name == '# of Entries'}" th:text="${basicDetail.value}" class="review-stocks-count fbk-hide"></span>
                    <span th:text="${basicDetail.value}" class="div-select-val "></span>
                    <span th:if="${basicDetail.variable.name == 'Field Map Created' and basicDetail.value == 'Yes'}">
                        <a href="" style="display: none" id="fieldmap-url" th:href="@{/Fieldmap/enterFieldDetails/nursery}"></a>
                        <a href="javascript: showFieldMap('trial-table');" id="view-fieldmap-url-link" th:text="#{study.studydetails.viewFieldMap}">View</a>
                    </span>
                    <span th:if="${basicDetail.pairedVariable}">
                    	&nbsp;&nbsp;&nbsp;
                    	<strong th:text="${basicDetail.pairedVariable.label} + ':'"></strong>
                    	<span th:text="${basicDetail.pairedVariable.value}"></span>
                    </span>
                </div>
           </div>
		</div>
		<br/>

        <div class="col-xs-12 col-md-12">
            <label class="control-label section-toggle toggle-icon" data-target=".trialSettings">
                <span class="bms-mgt-details fbk-trial-summary-icons"></span>
                <img style="margin-left: -10px; display:none;" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}"/>
                <img style="margin-left: -7px" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}"/>
                <strong class="sub-content-heading" th:text="#{fb.study.studysettings}">STUDY SETTINGS</strong>
            </label>
        </div>
        <div class="collapse col-md-12 trialSettings sectionContainer">
            <div th:each="managementDetail, rowStat : *{managementDetails}">
                <div th:class="
                        (${rowStat.last and rowStat.size mod 3 ne 0} ?
                                'col-sm-6 ' +
                                'col-md-' + ${4*(4-(rowStat.size % 3))}
                            : 'col-sm-6 col-md-4') + ' nursery-details-variable'">

                    <strong th:text="${managementDetail.variable.name} + ':'" class="">:</strong>
                    <span th:text="${managementDetail.value}" class="div-select-val "></span>
                </div>
            </div>
            <!-- If trial has no settings variable found then display No Trial Settings -->
            <div th:if="*{managementDetails == null or #lists.isEmpty(managementDetails)}">
                <div class="col-xs-12 col-md-12" th:text="#{no.available.study.settings}">No Study Settings</div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12">
            <!-- Display Header: SELECTIONS -->
            <label class="control-label section-toggle toggle-icon" data-target=".selection">
                <span class="bms-variates fbk-trial-summary-icons"></span>
                <img style="margin-left: -10px; display:none;" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
                <img style="margin-left: -7px" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
                <strong class="sub-content-heading" th:text="#{study.studydetails.variates}">SELECTION</strong>
            </label>
        </div>
        <div class="collapse selection col-md-12 sectionContainer">
            <div th:if="*{selectionVariateDetails != null and not #lists.isEmpty(selectionVariateDetails)}">
                <div class="col-md-6">
                    <!-- Display SELECTION VARIATE Section in tabular form -->
                    <table style="table-layout: fixed;" class="my-class table table-curved table-condensed traits-table"
                           id="selectionSettingDetails">
                        <thead>
                        <tr>
                            <th width="45%" th:utext="#{study.studydetails.column.name}">.Name</th>
                            <th width="55%" th:utext="#{study.studydetails.column.description}">.Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Passing Selection_variable type id 1807 which will fetch & display particular selection variates details, valid values and usage in popup -->
                        <tr th:each="selectionVariateDetail, rowStat : *{selectionVariateDetails}">
                            <td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
                                <a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
								*{selectionVariateDetails[__${rowStat.index}__].variable.cvTermId} + '\', 1807);'"
                                   th:text="${selectionVariateDetail.variable.name}"></a>
                            </td>
                            <td width="55%" th:class="${rowStat.even}? 'even' : 'odd'"
                                th:text="${selectionVariateDetail.variable.description}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6"></div>
            </div>
            <!-- If trial has no Selection variate then display No available trial selections -->
            <div th:if="*{selectionVariateDetails == null or #lists.isEmpty(selectionVariateDetails)}">
                <div class="col-md-6 add_top_padding" th:text="#{no.available.study.selection}">No available study selections</div>
            </div>
        </div>
        <br/>


        <div class="col-xs-12 col-md-12">
            <!-- Display Header: GERMPLASM DESCRIPTORS -->
            <label  class="control-label section-toggle toggle-icon" data-target=".germplasmDescriptors">
                <span class="bms-factors fbk-trial-summary-icons"></span>
                <img style="margin-left: -10px; display:none;" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
                <img style="margin-left: -7px" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
                <strong class="sub-content-heading" th:text="#{study.studydetails.germplasm.descriptors}">GERMPLASM DESCRIPTORS</strong>
            </label>
        </div>
        <div class="col-md-12 sectionContainer collapse germplasmDescriptors">
            <div class="col-md-6">
                <!-- Display GERMPLASM DESCRIPTORS Section in tabular form -->
                <table style="table-layout: fixed;" class="my-class table table-curved table-condensed traits-table"
                       id="germplasmDescriptors">
                    <thead>
                    <tr>
                        <th width="45%" th:utext="#{study.studydetails.column.name}">.Name</th>
                        <th width="55%" th:utext="#{study.studydetails.column.description}">.Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Passing Germplasm Descriptor type id 1804 which will fetch & display particular germplasm descriptor's details, valid values & usage in popup -->
                    <tr th:each="germplasmDescriptor, rowStat : *{germplasmDescriptors}">
                        <td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
                            <a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
                            *{germplasmDescriptors[__${rowStat.index}__].variable.cvTermId} + '\', 1804);'"
                               th:text="${germplasmDescriptor.variable.name}"></a>
                        </td>
                        <td width="55%" th:class="${rowStat.even}? 'even' : 'odd'"
                            th:text="${germplasmDescriptor.variable.description}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6"></div>
        </div>
        <br/>

        <div class="col-xs-12 col-md-12">
            <!-- Display Header: ENVIRONMENTS -->
            <label  class="control-label section-toggle toggle-icon" data-target=".trialEnvironments">
                <span class="bms-environments fbk-trial-summary-icons"></span>
                <img style="margin-left: -10px; display:none;" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
                <img style="margin-left: -7px" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
                <strong class="sub-content-heading" th:text="#{study.studydetails.environments}">ENVIRONMENTS</strong>
            </label>
        </div>
        <div class="col-md-12 sectionContainer collapse trialEnvironments">
            <div class="col-md-12">
                <strong class="" th:text="#{study.studydetails.environment.count}">Number of environments for this study:</strong>
                <span th:text="*{numberOfEnvironments}" ></span>
            </div>

            <div class="col-md-6 add_top_padding">
                <div>
                    <!-- Sub Header of Environments: ENVIRONMENT DETAILS -->
                    <label  class="control-label">
                        <span class="bms-mgt-details fbk-trial-summary-icons"></span>
                        <strong class="sub-content-heading" th:text="#{study.studydetails.environment.level.details}">ENVIRONMENT DETAILS</strong>
                    </label>
                </div>
                <div th:if="*{environmentManagementDetails != null and not #lists.isEmpty(environmentManagementDetails)}">
                    <table style="table-layout: fixed;" class="my-class table table-curved table-condensed traits-table"
                           id="environmentManagementDetails">
                        <thead>
                        <tr>
                            <th width="45%" th:utext="#{study.studydetails.column.name}">.Name</th>
                            <th width="55%" th:utext="#{study.studydetails.column.description}">.Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Passing Environment_detail's type id 1806 which will fetch & display particular environment's details, valid values & usage in modal -->
                        <tr th:each="environmentManagementDetail, rowStat : *{environmentManagementDetails}">
                            <td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
                                <a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
                                *{environmentManagementDetails[__${rowStat.index}__].variable.cvTermId} + '\', 1806);'"
                                   th:text="${environmentManagementDetail.variable.name}"></a>
                            </td>
                            <td width="55%" th:class="${rowStat.even}? 'even' : 'odd'"
                                th:text="${environmentManagementDetail.variable.description}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- If trial has no environments selected then display No available environment details -->
                <div th:if="*{environmentManagementDetails == null or #lists.isEmpty(environmentManagementDetails)}">
                    <div class="add_top_padding" th:text="#{no.available.environment.level.details}">No available environment details</div>
                </div>
            </div>

            <div class="col-md-6 add_top_padding">
                <div>
                    <!-- Sub Header of Environments: STUDY CONDITIONS -->
                    <label  class="control-label">
                        <img th:src="@{/static/svg/conditions.svg}" style="margin: 3px 4px;" width="22" height="22" />
                        <strong class="sub-content-heading" th:text="#{study.studydetails.study.conditions}">STUDY CONDITIONS</strong>
                    </label>
                </div>

                <table th:if="*{studyConditionDetails != null and not #lists.isEmpty(studyConditionDetails)}"
                       style="table-layout: fixed;" class="my-class table table-curved table-condensed traits-table"
                       id="studyConditionDetails">
                    <thead>
                    <tr>
                        <th width="45%" th:utext="#{study.studydetails.column.name}">.Name</th>
                        <th width="55%" th:utext="#{study.studydetails.column.description}">.Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Passing Nursery_Condition type id 1802 which will fetch & display particular condition's details, valid values &
                     usage in popup -->
                    <tr th:each="studyConditionDetail, rowStat : *{studyConditionDetails}">
                        <td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
                            <a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
                            *{studyConditionDetails[__${rowStat.index}__].variable.cvTermId} + '\', 1802);'"
                               th:text="${studyConditionDetail.variable.name}"></a>
                        </td>
                        <td width="55%" th:class="${rowStat.even}? 'even' : 'odd'"
                            th:text="${studyConditionDetail.variable.description}"></td>
                    </tr>
                    </tbody>
                </table>

                <!-- If trial has no Condition then display No available trial conditions -->
                <div th:if="*{studyConditionDetails == null or #lists.isEmpty(studyConditionDetails)}">
                    <div class="add_top_padding" th:text="#{no.available.study.conditions}">No available study conditions</div>
                </div>
            </div>

        </div>
        <br />

        <div class="form-group col-xs-12 col-md-12">
            <!-- Display Header: EXPERIMENTAL DESIGN -->
            <label  class="control-label section-toggle toggle-icon" data-target=".expDesignDetails">
                <span class="bms-exp-design fbk-trial-summary-icons"></span>
                <img style="margin-left: -10px; display:none;" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
                <img style="margin-left: -7px" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
                <strong class="sub-content-heading" th:text="#{review.study.experimental.design}">EXPERIMENTAL DESIGN</strong>
            </label>
        </div>

        <div th:if="*{experimentalDesignDetails ne null}" class="col-md-12 sectionContainer collapse expDesignDetails">
            <!-- If trial has no generated experimental design then display No available experimental design details -->
            <div th:if="*{experimentalDesignDetails.experimentalDesign eq null}">
                <span>No available experimental design details.</span>
            </div>
            <div th:if="*{experimentalDesignDetails.experimentalDesign ne null}" class="col-md-6">
                <div>
                    <!-- Display Sub-Header of Experimental Design: Design Parameters-->
                    <label  class="control-label">
                        <strong class="sub-content-heading" th:text="#{review.study.design.parameters}">Design Parameters</strong>
                    </label>
                </div>
                <div class="add_top_padding">
                    <!-- Display Design Parameters which includes Design Type, Number of replications, block sie, number of rows & columns in replications,
                      How are the replications arranged in the field, Number of reps in each column, Number of contiguous blocks to latinize,
                      Number of contiguous rows to latinize, Number of contiguous columns to latinize -->
                    <table class="fbk-trial-summary-exp-design-section">
                        <tr>
                            <td>
                                <strong th:text="#{review.study.design.type}">Design type:</strong>
                                <span th:text="*{experimentalDesignDetails.experimentalDesignDisplay}"></span>
                            </td>
                        </tr>
                        <tr th:if="*{experimentalDesignDetails.numberOfReplicates ne null}">
                            <td>
                                <strong th:text="#{review.study.number.of.replications}"></strong>
                                <span th:if="*{experimentalDesignDetails.numberOfReplicates ne null}"
                                      th:text="*{experimentalDesignDetails.numberOfReplicates.value}"></span>
                            </td>
                        </tr>
                        <tr th:if="*{experimentalDesignDetails.blockSize ne null}">
                            <td>
                                <strong th:text="#{review.study.block.size}"></strong>
                                <span id="review-block-size" th:if="*{experimentalDesignDetails.blockSize ne null}"
                                      th:text="*{experimentalDesignDetails.blockSize.value}"></span>
                            </td>
                        </tr>
                        <tr th:if="*{experimentalDesignDetails.numberOfRowsInReps ne null}">
                            <td>
                                <strong th:text="#{review.study.rows.in.reps}"></strong>
                            <span th:if="*{experimentalDesignDetails.numberOfRowsInReps ne null}"
                                  th:text="*{experimentalDesignDetails.numberOfRowsInReps.value}"></span>
                            </td>
                        </tr>
                        <tr th:if="*{experimentalDesignDetails.numberOfColsInReps ne null}">
                            <td>
                                <strong th:text="#{review.study.cols.in.reps}"></strong>
                            <span th:if="*{experimentalDesignDetails.numberOfColsInReps ne null}"
                                  th:text="*{experimentalDesignDetails.numberOfColsInReps.value}"></span>
                            </td>
                        </tr>
                        <tr th:if="*{experimentalDesignDetails.replicationsMap ne null}">
                            <td>
                                <strong th:text="#{review.study.replication.arrangement}"></strong>
                                <span th:text="*{experimentalDesignDetails.replicationsMapDisplay}"></span>
                            </td>
                        </tr>
                        <tr th:if="*{experimentalDesignDetails.numberOfRepsInCols ne null}">
                            <td>
                                <strong th:text="#{review.study.reps.in.column}"></strong>
                            <span th:if="*{experimentalDesignDetails.numberOfRepsInCols ne null}"
                                  th:text="*{experimentalDesignDetails.numberOfRepsInCols.value}"></span>
                            </td>
                        </tr>
                        <tr th:if="*{experimentalDesignDetails.numberOfContiguousBlocksLatinize ne null}">
                            <td>
                                <strong th:text="#{review.study.number.contiguous.blocks.latinize}"></strong>
                            <span th:if="*{experimentalDesignDetails.numberOfContiguousBlocksLatinize ne null}"
                                  th:text="*{experimentalDesignDetails.numberOfContiguousBlocksLatinize.value}"></span>
                            </td>
                        </tr>
                        <tr th:if="*{experimentalDesignDetails.numberOfContiguousRowsLatinize ne null}">
                            <td>
                                <strong th:text="#{review.study.number.contiguous.rows.latinize}"></strong>
                            <span th:if="*{experimentalDesignDetails.numberOfContiguousRowsLatinize ne null}"
                                  th:text="*{experimentalDesignDetails.numberOfContiguousRowsLatinize.value}"></span>
                            </td>
                        </tr>
                        <tr th:if="*{experimentalDesignDetails.numberOfContiguousColsLatinize ne null}">
                            <td>
                                <strong th:text="#{review.study.number.contiguous.cols.latinize}"></strong>
                            <span th:if="*{experimentalDesignDetails.numberOfContiguousColsLatinize ne null}"
                                  th:text="*{experimentalDesignDetails.numberOfContiguousColsLatinize.value}"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div th:if="*{experimentalDesignDetails.experimentalDesign ne null}" class="col-md-6">
                <div>
                    <!-- Display Sub-Header of Experimental Design: Summary of Design Details -->
                    <label  class="control-label">
                        <strong class="sub-content-heading" th:text="#{review.study.design.summary}">Summary of Design Details</strong>
                    </label>
                </div>
                <div class="add_top_padding">
                    <table class="fbk-trial-summary-exp-design-section">
                        <tr>
                            <td>
                                <strong th:text="#{review.study.number.of.environments}">Number of study environments:</strong>
                                <span th:text="*{numberOfEnvironments}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong th:text="#{review.study.number.of.treatments}"></strong>
                                <span id="review-treatment-count"></span>
                            </td>
                        </tr>
                        <tr id="row-review-number-of-blocks">
                            <td>
                                <strong th:text="#{review.study.number.of.blocks}"></strong>
                                <span id="review-number-of-blocks"></span>
                            </td>
                        </tr>
                        <!-- Display ENTRY_NO(8230) in Treatment Factor and pass treatment factor's type id(1809) which will display Details, valid values and usage in popup -->
                        <tr>
                            <td>
                                <strong th:text="#{review.study.treatment.factor}"></strong>
                                <a th:if="*{factorsMap[8230] ne null}" th:text="*{factorsMap[8230].variable.name}"
                                   onclick="showBaselineTraitDetailsModal(8230,1809)" href="javascript:void(0);"></a>
                            </td>
                        </tr>
                        <!-- Display REP_NO(8210) in Replicate Factor and pass Experimental design's type id(1810) which will display Details, valid values and usage in popup -->
                        <tr th:if="*{factorsMap[8210] ne null}">
                            <td>
                                <strong th:text="#{review.study.replicate.factor}"></strong>
                                <a th:if="*{factorsMap[8210] ne null}" href="javascript:void(0);"
                                   onclick="showBaselineTraitDetailsModal(8210,1810)" th:text="*{factorsMap[8210].variable.name}"></a>
                            </td>
                        </tr>
                        <!-- Display BLOCK_NO(8220) in Block Factor and pass Experimental design's type id(1810) which will display Details, valid values and usage in popup -->
                        <tr th:if="*{factorsMap[8220] ne null}">
                            <td>
                                <strong th:text="#{review.study.block.factor}"></strong>
                                <a onclick="showBaselineTraitDetailsModal(8220,1810)" href="javascript:void(0);"
                                   th:if="*{factorsMap[8220] ne null}" th:text="*{factorsMap[8220].variable.name}"></a>
                            </td>
                        </tr>
                        <!-- Display PLOT_NO(8200) in Plot Factor and pass Experimental design's type id(1810) which will display Details, valid values and usage in popup -->
                        <tr th:if="*{factorsMap[8200] ne null}">
                            <td>
                                <strong th:text="#{review.study.plot.factor}"></strong>
                                <a onclick="showBaselineTraitDetailsModal(8200,1810)" href="javascript:void(0);"
                                   th:if="*{factorsMap[8200] ne null}" th:text="*{factorsMap[8200].variable.name}"></a>
                            </td>
                        </tr>
                        <!-- Display ROW(8581) in Row Factor and pass Experimental design's type id(1810) which will display Details, valid values and usage in popup -->
                        <tr th:if="*{factorsMap[8581] ne null}">
                            <td>
                                <strong th:text="#{review.study.row.factor}"></strong>
                                <a onclick="showBaselineTraitDetailsModal(8581,1810)" href="javascript:void(0);"
                                   th:if="*{factorsMap[8581] ne null}" th:text="*{factorsMap[8581].variable.name}"></a>
                            </td>
                        </tr>
                        <!-- Display COL(8582) in Column Factor and pass Experimental design's type id(1810) which will display Details, valid values and usage in popup -->
                        <tr th:if="*{factorsMap[8582] ne null}">
                            <td>
                                <strong th:text="#{review.study.col.factor}"></strong>
                                <a onclick="showBaselineTraitDetailsModal(8582,1810)" href="javascript:void(0);"
                                   th:if="*{factorsMap[8582] ne null}" th:text="*{factorsMap[8582].variable.name}"></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br />

        <div class="form-group col-xs-12 col-md-12">
            <!-- Display Header: TRAITS -->
            <label  class="control-label section-toggle toggle-icon" data-target=".traitDetails">
                <img height="25" th:src="@{/static/img/baseline-traits.png}" class="lbl-img" />
                <img style="margin-left: -10px; display:none;" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
                <img style="margin-left: -7px" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
                <strong class="sub-content-heading" th:text="#{study.studydetails.traits}">TRAITS</strong>
            </label>
        </div>

        <div class="sectionContainer collapse traitDetails col-xs-12 col-md-12">
            <div class="col-md-6">
                <div th:if="*{variateDetails != null and not #lists.isEmpty(variateDetails)}">
                    <!-- Display Traits section in tabular form -->
                    <table style="table-layout: fixed;" class="my-class table table-curved table-condensed traits-table"
                           id="variateDetails">
                        <thead>
                        <tr>
                            <th width="45%" th:utext="#{study.studydetails.column.name}">.Name</th>
                            <th width="55%" th:utext="#{study.studydetails.column.description}">.Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Passing Trait's type id 1808 which will fetch & display particular trait's details, valid values & usage in popup -->
                        <tr th:each="variateDetail, rowStat : *{variateDetails}">
                            <td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
                                <a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' +
                                        *{variateDetails[__${rowStat.index}__].variable.cvTermId} + '\', 1808);'"
                                   th:text="${variateDetail.variable.name}"></a>
                            </td>
                            <td width="55%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${variateDetail.variable.description}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- If trial has no Traits then display No available traits -->
                <div th:if="*{variateDetails == null or #lists.isEmpty(variateDetails)}">
                    <div th:text="#{no.available.traits}">No available traits</div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 add_top_padding">
            <!-- Display Header: DATASETS -->
            <label  class="control-label section-toggle toggle-icon dataset-toggle" data-target=".datasetDetails">
                <img th:src="@{/static/img/matching-nurseries.png}" />
                <img class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" style="display:none; margin-left: -10px" />
                <img class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" style=" margin-left: -7px"/>
                <strong class="sub-content-heading" th:text="#{study.studydetails.datasets}">DATASETS</strong>
            </label>
            <div class="collapse datasetDetails">
                <div class="col-xs-12 col-md-12">
                    <label class="control-label">
                        <strong><span th:text="#{study.studydetails.datasets.choose}"></span></strong>&nbsp;&nbsp;
                    </label>
                    <select style="width: 350px" id="dataset-selection">
                    </select>
                </div>

                <div class="col-xs-12 col-md-12">
                    &nbsp;
                </div>
                <div class="measurement-section" style="display:none;">
                    <div id="measurement-details" class="col-xs-12 col-md-12">
                        <ul id="measurement-tab-headers" class="nav nav-tabs fb-tabs-headers">
                        </ul>
                        <div id="measurement-tabs" class="fb-tabs">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
	<div id="advance-nursery-modal-div"></div>
</div>
<script type="text/javascript" th:src="@{/static/js/reviewLanding.js}"></script>
