<div th:object="${manageTrialForm}">
    <!-- case 1: no data means no table -->
     <div th:if="*{paginatedTrialDetailsList == null or #lists.isEmpty(paginatedTrialDetailsList)}">
       <span th:text="#{trial.managetrial.no.trial.list}">No Trials</span>
       <br /><br />
     </div>
     
         
     <!-- case 2: nursery list has data -->
     <div th:if="*{paginatedTrialDetailsList != null and not #lists.isEmpty(paginatedTrialDetailsList)}">
         <table id="trial-table" th:if="*{not #lists.isEmpty(paginatedTrialDetailsList)}" class="my-class table table-curved table-condensed">
           <thead>
				<tr>
					<th style="max-width:10%;word-wrap:break-word;" th:text="#{trial.managetrial.showtrial.name}">Name</th>
					<th style="max-width:25%;word-wrap:break-word;" th:text="#{trial.managetrial.showtrial.title}">Title</th>
					<th style="max-width:20%;word-wrap:break-word;" th:text="#{trial.managetrial.showtrial.objective}">Objective</th>
					<th style="max-width:10%;word-wrap:break-word;" th:text="#{trial.managetrial.showtrial.start.date}">Start Date</th>
					<th style="max-width:10%;word-wrap:break-word;" th:text="#{trial.managetrial.showtrial.end.date}">End Date</th>
					<th style="max-width:15%;word-wrap:break-word;" th:text="#{trial.managetrial.showtrial.principal.investigator}">Principal Investigator</th>
					<th style="max-width:10%;word-wrap:break-word;" th:text="#{trial.managetrial.showtrial.site.name}">Site Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:class="${row.even}? 'data-row' : 'data-row'" th:each="trial, row : *{paginatedTrialDetailsList}"  th:id="${trial.id}">
					<td style="max-width:10%;word-wrap:break-word;" th:class="${row.even}? 'even' : 'odd'" th:text="${trial.studyName}">Name</td>
					<td style="max-width:25%;word-wrap:break-word;" th:class="${row.even}? 'even' : 'odd'" th:text="${trial.title}">Title</td>
					<td style="max-width:20%;word-wrap:break-word;" th:class="${row.even}? 'even' : 'odd'" th:text="${trial.objective}">Objective</td>
					<td style="max-width:10%;word-wrap:break-word;" th:class="${row.even}? 'even' : 'odd'" th:text="${trial.startDate}">Start Date</td>
					<td style="max-width:10%;word-wrap:break-word;" th:class="${row.even}? 'even' : 'odd'" th:text="${trial.endDate}">End Date</td>
					<td style="max-width:15%;word-wrap:break-word;" th:class="${row.even}? 'even' : 'odd'" th:text="${trial.piName}">Principal Investigator</td>
					<td style="max-width:10%;word-wrap:break-word;" th:class="${row.even}? 'even' : 'odd'" th:text="${trial.siteName}">Site Name</td>
				</tr>
			</tbody>
         </table>
	</div>
</div>

<div layout:fragment="page-script">
	<!-- For pagination -->
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[    
        
		$( document ).ready(function() {  	     
        	triggerFieldMapTableSelection('trial-table');
		});
        
      //]]>
    </script>
</div>