<div class="row col-xs-12 col-md-12">
	<br />
	<div class="trialEnvironmentDiv">
		<table style="table-layout: auto; width: 100%; margin: 0" id="trialInstancesTable" class="my-class table table-curved table-condensed">
			<thead>
				<tr>
					<th style="max-width: 100px; min-width: 100px" th:each="trialEnvLevelVariable, rowStat : *{trialLevelVariables}" th:text="${trialEnvLevelVariable.variable.name}">
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="trialEnvironmentValue, row : *{trialEnvironmentValues}">
					<td style="max-width: 100px; min-width: 100px" th:each="trialEnvLevelVariable, rowStat : *{trialLevelVariables}">
						<input class="cvTermIds trialLevelVariableIdClass" type="hidden" th:field="*{trialEnvironmentValues[__${row.index}__][__${rowStat.index}__].id}" />
						 
						<input th:if="${trialEnvLevelVariable.variable.widgetType.type == 'DROPDOWN'}" 
						type="hidden" th:field="*{trialEnvironmentValues[__${row.index}__][__${rowStat.index}__].name}" class="form-control select2" />
		
						<!-- store possible values of variable -->
						<div th:text="*{trialEnvironmentValues[__${row.index}__][__${rowStat.index}__].name}" class="div-select-val" style="display: none"></div>
						<div th:if="${trialEnvLevelVariable.variable.widgetType.type == 'DROPDOWN'}" th:id="'possibleValuesJsonTrial' + ${row.index} + 'a' + ${rowStat.index}"
							class="possibleValuesJsonTrial" style="display:none" th:text="${trialEnvLevelVariable.possibleValuesJson}">
						</div>
						<div th:if="${trialEnvLevelVariable.variable.widgetType.type == 'DROPDOWN'}" th:id="'possibleValuesFavoriteJsonTrial' + ${row.index} + 'a'  + ${rowStat.index}"
							class="possibleValuesFavoriteJsonTrial" style="display:none" th:text="${trialEnvLevelVariable.possibleValuesFavoriteJson}">
						</div>
						
						<input th:if="*{trialEnvironmentValues[__${row.index}__][__${rowStat.index}__].id} == *{locationId}" 
						th:id="'selectedValue' + ${row.index} + 'a'  + ${rowStat.index}" class="selectedValue"
						type="hidden" th:value="*{trialEnvironmentValues[__${row.index}__][__${rowStat.index}__].name}" />
						<input th:if="*{trialEnvironmentValues[__${row.index}__][__${rowStat.index}__].id} == *{locationId}" 
						th:id="'selectedFavoriteValue' + ${row.index} + 'a'  + ${rowStat.index}" class="selectedFavoriteValue"
						type="hidden" th:value="*{trialEnvironmentValues[__${row.index}__][__${rowStat.index}__].name}" />
						
						<label class="control-label trialInstanceNo" th:if="${trialEnvLevelVariable.variable.cvTermId == 8170}" th:text="*{trialEnvironmentValues[__${row.index}__][__${rowStat.index}__].name}"></label>
						<input type="hidden" th:if="${trialEnvLevelVariable.variable.cvTermId == 8170}" th:field="*{trialEnvironmentValues[__${row.index}__][__${rowStat.index}__].name}" />
						
						<input th:if="${trialEnvLevelVariable.variable.widgetType.type == 'NTEXT' and trialEnvLevelVariable.variable.cvTermId != 8170}" 
						type="text" th:field="*{trialEnvironmentValues[__${row.index}__][__${rowStat.index}__].name}" class="form-control numeric-input" />

						<!-- 
						<label class="control-label trialInstanceNo" th:if="${trialEnvLevelVariable.variable.widgetType.type == 'NTEXT' and trialEnvLevelVariable.deletable == false}" th:text="*{trialEnvironmentValues[__${row.index}__][__${rowStat.index}__].name}"></label>
						<input type="hidden" th:if="${trialEnvLevelVariable.variable.widgetType.type == 'NTEXT' and trialEnvLevelVariable.deletable == false}" th:field="*{trialEnvironmentValues[__${row.index}__][__${rowStat.index}__].name}" />
						
						<input th:if="${trialEnvLevelVariable.variable.widgetType.type == 'NTEXT' and trialEnvLevelVariable.deletable != false}" 
						type="text" th:field="*{trialEnvironmentValues[__${row.index}__][__${rowStat.index}__].name}" class="form-control numeric-input" />
						-->
						
						<input th:if="${trialEnvLevelVariable.variable.widgetType.type == 'CTEXT'}" 
						type="text" th:field="*{trialEnvironmentValues[__${row.index}__][__${rowStat.index}__].name}" class="form-control character-input" />
						
						<input th:if="${trialEnvLevelVariable.variable.widgetType.type == 'DATE'}" 
						type="text" th:field="*{trialEnvironmentValues[__${row.index}__][__${rowStat.index}__].name}" class="form-control date-input" />
						
						<input th:if="${trialEnvLevelVariable.variable.widgetType.type == 'SLIDER'}" 
						type="text" th:field="*{trialEnvironmentValues[__${row.index}__][__${rowStat.index}__].name}"
						th:attr="data-min=${trialEnvLevelVariable.variable.minRange}"
						th:attrappend="data-max=${trialEnvLevelVariable.variable.maxRange}"
						class="form-control spinner-input spinnerElement"
						data-step="0.0001" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">&nbsp;</div>
<div layout:fragment="page-script">
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[    
   
    //]]>
    </script>
</div>