<div class="col-xs-10 col-md-10" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade" id="crossingBreedingMethodModal" role="dialog" aria-labelledby="crossingBreedingMethodModal"
		 ng-controller="CrossingBreedingMethodModalCtrl" aria-hidden="true">
		<div class="modal-dialog modal-medium">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title" id="heading-modal"
								   th:text="#{study.import.crosses.settings.breeding.method.header}">Specify Breeding Method</label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button id="close" type="button" class="close  pull-right glyphicon glyphicon-remove"
									data-dismiss="modal" aria-hidden="true"></button>
						</div>
					</div>

					<div class="separator">
					</div>

					<div class="row">
						<div class="col-xs-1 col-md-1">
							&nbsp;
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-md-12">
							<label th:text="#{study.import.crosses.settings.breeding.method.text}"></label>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-1 col-md-1">
							&nbsp;
						</div>
					</div>

					<div class="row form-group" id="breedingMethodDiv">
						<!--First option will be displayed only when it comes from Importing a file -->
						<div class="col-xs-12 col-md-12 add-top-bottom-padding" ng-show="isCrossesImport" id="useBreedingInTheImportFile">
							<label class="radio-inline">
								<input type="radio" class="crossingBreedingMethodInput" ng-model="breedingMethodRadio" ng-change="enableDisableMethodsDropdown()" id="selectMethodInImportFile" name="breeding-method-radio" value="1"/>
								<span th:text="#{study.import.crosses.settings.breeding.method.import.file.label}">Use the breeding methods specified in the import file</span>
							</label>
						</div>

						<div class="col-xs-12 col-md-12">
							<label class="radio-inline">
								<input type="radio" class="crossingBreedingMethodInput" ng-model="breedingMethodRadio" ng-change="enableDisableMethodsDropdown()" id="selectUseParentalStatus" name="breeding-method-radio" value="2"/>
								<span th:text="#{study.import.crosses.settings.parental.status.label}">Use parental status</span>
							</label>
						</div>

						<div class="col-xs-12 col-md-12 add-top-bottom-padding">
							<label class="radio-inline">
								<input type="radio" class="crossingBreedingMethodInput" ng-model="breedingMethodRadio" ng-change="enableDisableMethodsDropdown()" id="selectMethodForAllCrosses" name="breeding-method-radio" value="3"/>
								<span th:text="#{study.import.crosses.settings.breeding.method.label}">Select a method to use for all crosses</span>
							</label>
						</div>

						<div class="col-xs-12 col-md-12 add-left-padding add-bottom-padding" id="breedingMethodSelectionDiv">
							<methods-select on-method-select="methodChanged"	enable-dropdown="selectMethodForAllCrosses" show-gen-methods-radio="true" method-type="2"
											disable-method-types-radio="true" valuecontainer="valuecontainer" targetkey="targetkey"></methods-select>
						</div>
						<div class="col-xs-12 col-md-12" ng-show="hasHybridMethod" id="applyGroupingOptionDiv">
							<div class="col-xs-5 col-md-11">

								<input type="checkbox" id="applyGroupingCheckBox"  ng-model="applyGroupingToNewCrossesOnly"/>
								&nbsp;
								<label th:text="#{apply.grouping.to.new.crosses.only}"></label>
								&nbsp;
							</div>
						</div>


					</div>
					<div class="separator">
					</div>
				</div>


				<div class="modal-footer add-top-bottom-padding">
					<button ng-show="isCrossesImport" type="button" class="btn btn-default go-back-to-import" ng-click="goBackToImportCrosses()"
							aria-hidden="true" th:text="#{common.form.back.text}">Back
					</button>
					<button type="button" class="btn btn-primary"
							aria-hidden="true" th:text="#{common.form.continue.text}" ng-click="goToNamingModal()">Continue
					</button>
				</div>
			</div> <!-- Modal Content -->
		</div>
	</div>
</div>

