<div ng-cloak="">

    <section-container heading="Define Environments" collapsible="true" >
       <div name="content">
            <div class="environments col-lg-12">
                <div class="row">
                    <div class="col-xs-6 col-md-6">

                        <section-container icon="bms-mgt-details" th:attr="heading=#{trial.managesettings.trial.environment.management.details},help-tooltip=#{trial.managesettings.environment.management.details.tooltip}" add-variable="true" hide-variable="addVariable" model-data="settings.managementDetails" variable-type="6">
                            <display-settings hide-delete="isHideDelete" name="content" settings="settings.managementDetails" variable-type="6"></display-settings>
                        </section-container>

                    </div>
                    <div class="col-xs-6 col-md-6">
                        <section-container th:attr="heading=#{trial.managesettings.trial.environment.trial.condition.details},help-tooltip=#{trial.managesettings.trial.conditions.tooltip},icon-img=@{/static/svg/conditions.svg}" icon-size="22" add-variable="true" hide-variable="addVariable" model-data="settings.trialConditionDetails" variable-type="2">
                            <display-settings hide-delete="isHideDelete" name="content" settings="settings.trialConditionDetails" variable-type="2"></display-settings>
                        </section-container>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
               	<div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 add-bottom-padding">

                        <div class="form-horizontal">
                            <div class="form-group form-group-sm">
                                <label class="control-label label-bold add_top_padding col-xs-8" style="text-align: left" th:text="#{trial.managesettings.trial.environment.specify.level.no}">Specify the number of environments for this trial:</label>
                                <div class="col-xs-4">
                                    <div class="input-group">
                                        <input maxlength="3" valid-number="" class="form-control input-sm" ng-model="temp.noOfEnvironments" ng-disabled="shouldDisableEnvironmentCountUpdate()"/>

                                        <span class="input-group-btn">
                                              <input ng-click="updateEnvironmentCount()" ng-hide="shouldDisableEnvironmentCountUpdate()" class="btn btn-info btn-sm" style="padding: 6px 10px 5px; font-size: 11px;" type="button" value="Ok"/>
                                        </span>

                                    </div><!-- /input-group -->
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section-container>

    <section-container th:attr="heading=#{trial.managesettings.trial.environment.specify.level}">
        <div name="content">
            <div class="horizontal-level-item" ng-repeat="environment in data.environments">
                <section-container heading="ENVIRONMENT {{$index + 1}}" icon="bms-environments" action-button-direction="pull-left">
					
					<span name="action-buttons">
						<span ng-click="deleteEnvironment($index)" ng-show="data.noOfEnvironments > 1" class='glyphicon glyphicon-minus-sign delete-factor' 
						style="cursor: pointer; color: #CE453C; position: relative; top: 6px; width: 25px;">&nbsp;</span>
		            </span>
					
                    <div name="content" class="row form-horizontal">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group" ng-repeat="key in settings.managementDetails.keys()" ng-show="!settings.managementDetails.val(key).hidden">
                                <div class="col-xs-5 1st">
                    <span style="word-wrap: break-word" class="control-label nursery-level-label
                        label-bold var-names">{{settings.managementDetails.val(key).variable.name}}:</span>
                                </div>
                                <div class="col-xs-7 2nd">
                                    <show-setting-form-element settings="settings.managementDetails" targetkey="{{key}}"
                                                               valuecontainer="environment.managementDetailValues"></show-setting-form-element>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group" ng-repeat="key in settings.trialConditionDetails.keys()">
                                <div class="col-xs-5 1st">
                    <span style="word-wrap: break-word" class="control-label nursery-level-label
                        label-bold var-names">{{settings.trialConditionDetails.val(key).variable.name}}:</span>
                                </div>
                                <div class="col-xs-7 2nd">
                                    <show-setting-form-element settings="settings.trialConditionDetails" targetkey="{{key}}"
                                                               valuecontainer="environment.trialDetailValues"></show-setting-form-element>
                                </div>
                            </div>
                        </div>
                    </div>
                </section-container>
            </div>
        </div>
    </section-container>


</div>
