<div ng-controller="EnvironmentCtrl">

    <section-container heading="Define Environments" collapsible="true" >
       <div name="content">
            <div class="environments col-lg-12">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 add-bottom-padding">
                        <label class="control-label label-bold add_top_padding" th:text="#{trial.managesettings.trial.environment.specify.level.no}">Specify the number of environments for this trial:</label>
                        <div class="pull-right">
                            <input valid-number="" class="form-control" ng-model="data.noOfEnvironments"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-6">

                        <section-container th:attr="heading=#{trial.managesettings.trial.environment.management.details},help-tooltip=#{trial.managesettings.management.details.tooltip}" add-variable="true" hide-variable="addVariable" model-data="settings.managementDetails" variable-type="4">
                            <display-settings name="content" settings="settings.managementDetails" variable-type="4"></display-settings>
                        </section-container>

                    </div>
                    <div class="col-xs-6 col-md-6">
                        <section-container th:attr="heading=#{trial.managesettings.trial.environment.trial.condition.details},help-tooltip=#{trial.managesettings.trial.conditions.tooltip}" add-variable="true" hide-variable="addVariable" model-data="settings.trialConditionDetails" variable-type="7">
                            <display-settings name="content" settings="settings.trialConditionDetails" variable-type="7"></display-settings>
                        </section-container>
                    </div>
                </div>
            </div>
        </div>
    </section-container>

    <div class="col-md-12" style="padding-top: 20px">
        <strong class="sub-content-heading" th:text="#{trial.managesettings.trial.environment.specify.level}">Specify Environment-Level Details</strong>
    </div>

    <div class="col-md-12">
        <div class="horizontal-level-item" ng-repeat="environment in data.environments">
            <div class="row">
                <label class="control-label col-md-12" style="text-transform: uppercase">
                    <strong class="sub-content-heading add-bottom-padding"><span th:text="#{trial.managesettings.trial.environment.label}">Environment</span> {{$index + 1}}</strong>
                </label>
            </div>
            <div class="row form-horizontal">
                <div class="col-xs-6 col-md-6">
                    <div class="form-group" ng-repeat="key in settings.managementDetails.keys()" ng-show="!settings.managementDetails.val(key).hidden">
                        <div class="col-xs-5 1st">
                    <span style="word-wrap: break-word" class="control-label nursery-level-label
                        label-bold var-names">{{settings.managementDetails.val(key).variable.name}}</span>
                        </div>
                        <div class="col-xs-7 2nd">
                            <show-setting-form-element settings="settings.managementDetails" targetkey="{{key}}"
                                                       valuecontainer="environment.managementDetailValues"></show-setting-form-element>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="form-group" ng-repeat="key in settings.trialConditionDetails.keys()">
                        <div class="col-xs-5 1st">
                    <span style="word-wrap: break-word" class="control-label nursery-level-label
                        label-bold var-names">{{settings.trialConditionDetails.val(key).variable.name}}</span>
                        </div>
                        <div class="col-xs-7 2nd">
                            <show-setting-form-element settings="settings.trialConditionDetails" targetkey="{{key}}"
                                                       valuecontainer="environment.trialDetailValues"></show-setting-form-element>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>