<div class="col-xs-10 col-md-10">
	<div class="modal fade" id="executeCalculatedVariableModal" role="dialog" aria-labelledby="executeCalculatedVariableModal"
		 ng-controller="ExecuteCalculatedVariableModalCtrl">
		<form name="calculateVariableLocationForm" novalidate="" class="simple-form">
			<div class="modal-dialog modal-small">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row form-group">
							<div class="col-xs-10 col-md-11">
								<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{study.execute.calculation.header}">Execute
									Calculations</label>
							</div>
							<div class="col-xs-1 col-md-1">
								<button id="closeExecuteCalculatedVariableModal" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal"/>
							</div>
						</div>
						<div class="row form-group">
							<div id="page-executeCalculatedVariable-modal-message"></div>
						</div>
						<div class="separator"></div>
						<p></p>
						<div class="row form-group">
							<div class="col-xs-10 col-md-10">
								<div>
									<label class="" th:utext="#{study.execute.calculation.comment}">Choose the calculation you would like to
										execute.</label>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-xs-3 col-md-3" style=" padding-right: 0px; padding-left: 15px; width: 102px;">
								<label class="control-label add_top_padding label-bold" th:utext="#{study.execute.calculation.variable}">Variable</label>
							</div>
							<div class="report-type-section col-xs-5 col-md-5" style="padding-left: 5px;">
								<select id="selectVariable" name="selectVariable"
										ng-options="variable.name for variable in variableListView" ng-model="variableSelected" required="">
									<option value="">Please Choose</option>
								</select>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-xs-3 col-md-3" style=" padding-right: 0px; padding-left: 15px; width: 102px;">
								<label class="control-label add_top_padding label-bold" th:utext="#{study.execute.calculation.environment}">Environment</label>
							</div>
							<div class="report-type-section col-xs-9 col-md-9" style="padding-left: 5px;">
								<select id="selectLocation" name="selectLocation"
										ng-options="location.name for location in locationListView" ng-model="locationSelected" required="">
									<option value="">Please Choose</option>
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()"
								th:text="#{common.form.cancel.text}"> Cancel
						</button>
						<button type="button" class="btn btn-primary" ng-disabled="variableSelected === undefined || locationSelected === undefined" ng-click="execute()" th:text="#{study.execute.calculation.calculate}">
							Execute
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal fade" id="confirmOverrideCalculatedVariableModal" role="dialog" aria-labelledby="confirmOverrideCalculatedVariableModal"
		 ng-controller="ConfirmOverrideCalculatedVariableModalCtrl">

		<div class="modal-dialog modal-small">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title" id="heading-confirmOverrideCalculatedVariableModal" th:text="#{common.form.confirmation.text}"></label>
						</div>
						<div class="col-xs-1 col-md-1">
							&nbsp;
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<label class="control-label import-confirmation" th:utext="#{study.execute.calculation.confirmation.text}"></label>
						</div>
					</div>


					<div class="modal-footer">
						<button type="button" class="btn btn-default" ng-click="goBack()" th:text="#{study.go.back}">Go Back</button>
						<button type="button" class="btn btn-primary" ng-click="proceed()" th:text="#{study.proceed}">Proceed</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div layout:fragment="page-script">
	<script type='text/javascript' th:inline="javascript">
		$(document).ready(function () {
			$('#executeCalculatedVariableModal').on('shown.bs.modal', function () {
				$('#selectLocation').select2();

				$('#selectVariable').focus();
				$('#selectVariable').select2();
			});
		});
	</script>
</div>
