<div class="row" ng-show="isBVDesign()">
	<div class="col-md-6 col-sm-7">
		<section-container>
			<div name="content">
				<div name="params" ng-show="showParamsWhenChecksAreSelected(currentDesignType.id)">
					<strong class="sub-content-heading ng-binding" >SPECIFY DESIGN PARAMETERS</strong>
					<div ng-include="currentParams"></div>
				</div>
				<div class="add_top_padding add-bottom-padding">
					<!-- TODO Localise Label -->
					<input type="submit" class="btn btn-info" value="Generate Design" onclick="this.blur();"/>
				</div>
				<div class="add_top_padding add-bottom-padding">
					<input type="button" class="btn btn-info" value="Delete Design" ng-disabled="isDeleteDesignDisable()"
						   ng-click="deleteDesign()"/>
				</div>
			</div>
		</section-container>
	</div>
	<div class="col-md-6 col-sm-5">
		<section-container heading="">
		<div name="content">
			<div class="add-bottom-padding">
				<strong class="sub-content-heading ng-binding" >SUMMARY OF DESIGN DETAILS</strong>
			</div>
			<div class="add-bottom-padding"
				ng-show="data.noOfEnvironments &gt;= 0">
				<b th:text="#{study.experimental.design.number.of.environments}"></b>
				<span>{{data.noOfEnvironments}}</span>
			</div>
			<div class="add-bottom-padding" ng-show="currentDesignType.id != 5">
				<b th:text="#{study.experimental.design.number.of.treatments}"></b>
				<span>{{totalGermplasmEntryListCount}}</span>
			</div>
			<div class="add-bottom-padding" ng-show="currentDesignType.id == 1">
				<b th:text="#{study.experimental.design.number.of.blocks}"></b> <span>{{(data.blockSize
					> 0) ? ((totalGermplasmEntryListCount % data.blockSize === 0) ?
					totalGermplasmEntryListCount / data.blockSize : '') : 0}} <b
					class="text-danger"
					ng-show="data.blockSize > 0 &amp;&amp; totalGermplasmEntryListCount % data.blockSize > 0">Invalid
						block size</b>
				</span>
			</div>
			<div class="add-bottom-padding" ng-show="currentDesignType.id == 4 || currentDesignType.id == 6">
				<b>Number of Test entries:</b>
				<span>{{germplasmTotalTestEntriesCount}}</span>
			</div>
			<div class="add-bottom-padding" ng-show="currentDesignType.id == 4 || currentDesignType.id == 6">
				<b>Number of Check entries:</b>
				<span>{{germplasmTotalCheckEntriesCount}}</span>
			</div>
			<div class="add-bottom-padding" ng-show="showOnlyIfNumberOfBlocksIsSpecified()">
				<b>Number of Test entries per block:</b>
				<span ng-show="germplasmNumberOfTestEntriesPerBlock % 1 === 0">{{germplasmNumberOfTestEntriesPerBlock}}</span>
				<span ng-show="germplasmNumberOfTestEntriesPerBlock % 1 !== 0">
					<b class="text-danger">The number of test entries must be divisible by number of blocks.</b>
				</span>
			</div>
			<div class="add-bottom-padding" ng-show="showOnlyIfNumberOfBlocksIsSpecified()">
				<b>Number of plots per block:</b>
				<span ng-show="germplasmNumberOfTestEntriesPerBlock % 1 === 0">{{germplasmNumberOfPlotsPerBlock}}</span>
			</div>
			<div class="add-bottom-padding" ng-show="showOnlyIfNumberOfBlocksIsSpecified()">
				<b>Total number of plots:</b>
				<span ng-show="germplasmNumberOfTestEntriesPerBlock % 1 === 0">{{germplasmTotalNumberOfPlots}}</span>
			</div>
			<div class="add-bottom-padding" ng-show="showOnlyIfNumberOfBlockSizeIsSpecified()">
				<b>Number of entries per block:</b>
				<span ng-show="germplasmNumberOfPlotsPerBlock % 1 === 0">{{germplasmNumberOfPlotsPerBlock}}</span>
				<span ng-show="germplasmNumberOfPlotsPerBlock % 1 !== 0">
					<b class="text-danger">The Total number of plots must be divisible by number of blocks.</b>
				</span>
			</div>
			<div class="add-bottom-padding" ng-show="showOnlyIfNumberOfReplicationsCountIsSpecified()">
				<b>Total number of plots:</b>
				<span>{{germplasmTotalNumberOfPlots}}</span>
			</div>
			<div class="add-bottom-padding"
				ng-repeat="key in settings.factors.keys() | filterFactors : currentDesignType.id">
				<b>{{settings.factors.val(key).label}}</b>: <a
					show-details-modal="key"
					variable-type="{{VARIABLE_TYPES.TREATMENT_FACTOR}}">{{settings.factors.val(key).variable.name}}</a>
			</div>
			<div ng-show="currentDesignType.id == 0">
				<div class="sub-content-heading">
					<b>Treatment factors:</b>
				</div>
				<table class="table table-curved">
					<thead>
						<tr>
							<th>NAME</th>
							<th>DESCRIPTION</th>
							<th># LEVELS</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="even"><a show-details-modal="entry_no_key"
								ng-init="entry_no_key = 8230"
								variable-type="{{VARIABLE_TYPES.GERMPLASM_DESCRIPTOR}}">{{germplasmDescriptorSettings.val(entry_no_key).variable.name}}</a>
							</td>
							<td class="even">{{germplasmDescriptorSettings.val(8230).variable.description}}</td>
							<td class="even">{{totalGermplasmEntryListCount}}</td>
						</tr>

						<tr ng-repeat="treatmentKey in settings.treatmentFactors.keys()">
							<td ng-class="{odd : $even, even : $odd}"><a
								show-details-modal="treatmentKey"
								variable-type="{{VARIABLE_TYPES.TREATMENT_FACTOR}}">{{settings.treatmentFactors.val(treatmentKey).variable.name}}</a>
							</td>
							<td ng-class="{odd : $even, even : $odd}">{{settings.treatmentFactors.val(treatmentKey).variable.description}}</td>
							<td ng-class="{odd : $even, even : $odd}">{{data.treatmentFactorsData[treatmentKey].levels}}</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
		</section-container>
	</div>
</div>
