<form name="expDesignForm" novalidate="" ng-submit="generateDesign()"
	ng-cloak="">

	<div id="experimental-design-choose-design">
		<section-container icon="bms-exp-design" heading="Experimental Design">
			<section-container name="content" heading="{{ toggleDesignView() ? 'DETAILS OF EXPERIMENTAL DESIGN' : 'CHOOSE A DESIGN TYPE'}}">
				<div class="row" name="content">
					<div ng-hide="toggleDesignView()">
						<div class="col-md-12">
							<label class="control-label"
								style="vertical-align: top; position: relative; top: 6px;"><strong
								th:text="#{study.experimental.design.select}">Select the
									design type you would like to use for this study:</strong></label>

							<div style="display: inline-block">
								<div style="width: 350px !important;">
									<div class="col-xs-10">
										<select ui-select2="{minimumResultsForSearch : -1}"
											ng-model="data.designType"
											ng-change="onSwitchDesignTypes(data.designType)"
											ng-disabled="disableDesignTypeSelect()">
											<option value="">Please Choose</option>
											<option value="{{item.id}}"
												ng-repeat="item in designTypeView" ng-disabled="item.isDisabled">
												{{item.name}}</option>
										</select>
									</div>
									<div class="col-xs-2 add-top-padding-small">
										<span class="bms-fa-question-circle help-tooltip-study"
											tooltip-placement="right" tooltip-append-to-body="true"
											th:attr="tooltip=#{study.experimental.design.incomplete.block.design.tooltip}"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 add-bottom-padding">
							<label class="control-label">Or <a class="import-design"
								onclick="ImportDesign.showPopup(ImportDesign.hasGermplasmListSelected());">import</a>
								an experimental design.
							</label>
						</div>
	                </div>
					<div ng-show="toggleDesignView()">
	            		<div class="col-md-8">
	            			<div class="add-bottom-padding"
								ng-show="data.noOfEnvironments &gt;= 0">
									<div ng-hide="currentDesignType.templateName =='Default Design'">
										<b th:text="#{review.study.design.source}"></b>
										<span>{{currentDesignType.templateName}}</span>
		                            </div>
		                            <span class="pull-right">
											<a ng-hide="!isImportedDesign()" class="add_top_padding add-bottom-padding">
												<input type="button" class="btn btn-info" value="Delete Design" ng-disabled="isDeleteDesignDisable()"
													   ng-click="deleteDesign()"/>
											</a>
									</span>
		                            <div class="add-bottom-padding"
										ng-show="data.noOfEnvironments &gt;= 0">
										<b th:text="#{review.study.design.type}"></b>
										<span ng-hide="currentDesignType.templateName =='Default Design'">{{currentDesignType.name}}</span>
										<span ng-show="currentDesignType.templateName =='Default Design'">Default Design</span>
									</div>
							</div>
						</div>
				    </div>

					<div class="col-md-12" >
						<section-container heading="SPECIFY PLOT NUMBERING" ng-hide="isImportedDesign()" ng-disabled="toggleDesignView()">
				           <div name="content">
				               <label class="control-label control-label-bold" id="startingPlotNumber" th:text="#{germplasm.list.specify.starting.plot.number}">Specify Starting Plot Number</label>
							   <input class="inputForNumberingAndChecks" id="txtStartingPlotNo" style="width:70px;" ng-model="data.startingPlotNo" ng-disabled="measurementDetails.hasMeasurement"/>
				           </div>
						</section-container>
					</div>

				</div>
			</section-container>
		</section-container>
	</div>

	<!-- summary view for experimental design -->
	<div ng-if="data.designType != null">
		<div id="experimental-design-bv-design" th:include="TrialManager/templates/experimentalDesignBVDesign"></div>
		<div id="experimental-design-imported-design" th:include="Common/importedDesignColumnsSummary"></div>
	</div>

</form>
