<!--TODO Remove file-->
<div class="row" ng-show="currentDesignType.isPreset">
	<div class="col-md-12 col-sm-12">
		<section-container heading="SUMMARY OF DESIGN DETAILS">
		<div name="content">
			<div class="col-md-6 col-sm-7">
				<div ng-include="currentParams"></div>
				<div class="add_top_padding add-bottom-padding">
					<input type="submit" class="btn btn-info" value="Generate Design"
						ng-hide="!applicationData.unappliedChangesAvailable &amp;&amp; applicationData.hasGeneratedDesignPreset" />
				</div>
			</div>
			<div class="col-md-6 col-sm-5">

				<div class="sub-content-heading">
					<b>Treatment factors:</b>
				</div>
				<table class="table table-curved">
					<thead>
						<tr>
							<th>NAME</th>
							<th>DESCRIPTION</th>
							<th># LEVELS</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="even"><a show-details-modal="entry_no_key"
								ng-init="entry_no_key = 8230"
								variable-type="{{VARIABLE_TYPES.GERMPLASM_DESCRIPTOR}}">{{germplasmDescriptorSettings.val(entry_no_key).variable.name}}</a>
							</td>
							<td class="even">{{germplasmDescriptorSettings.val(8230).variable.description}}</td>
							<td class="even">{{totalGermplasmEntryListCount}}</td>
						</tr>
						<tr ng-repeat="treatmentKey in settings.treatmentFactors.keys()">
							<td ng-class="{odd : $even, even : $odd}"><a
								show-details-modal="treatmentKey"
								variable-type="{{VARIABLE_TYPES.TREATMENT_FACTOR}}">{{settings.treatmentFactors.val(treatmentKey).variable.name}}</a>
							</td>
							<td ng-class="{odd : $even, even : $odd}">{{settings.treatmentFactors.val(treatmentKey).variable.description}}</td>
							<td ng-class="{odd : $even, even : $odd}">{{data.treatmentFactorsData[treatmentKey].levels}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		</section-container>
	</div>
</div>
