<div class="row" ng-controller="GermplasmCtrl">
   <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
       <section-container icon="bms-factors" th:attr="heading=#{trial.managesettings.germplasm.factors.label}"
                          collapsible="true" add-variable="true" model-data="data.settings" variable-type="2">

           <div>
               <label class="control-label" data-toggle="collapse" data-target=".nurseryLevelDetails">
                   <strong class="sub-content-heading" th:text="#{trial.managesettings.germplasm.factors.label}">GERMPLASM FACTORS</strong>
                   <span class="bms-fa-question-circle help-tooltip" th:attr="tooltip=#{trial.reminder.add.germplasm.factors}" tooltip-placement="right"></span>
               </label>

           <span class="pull-right">
                <span ng-show="updateOccurred" ng-click="updateDataTable()" class="btn btn-info pull-right">Refresh</span>
           </span>

           </div>

           <display-settings settings="data.settings" variable-type="2"></display-settings>

       </section-container>

   </div>
</div>



<div class="row form-group collapse in germplasmListDetails germplasmAndCheckSection">
	<!-- Germplasm List Table View -->
	<div>

        <div id="primary-section" class="col-xs-12 col-md-12">
            <div>
            	<img th:src="@{/static/img/review-list-details.png}" />
                <label class="control-label"><strong id="germplasmLabel" class="sub-content-heading">Trial List</strong></label>                
	            
	            
	            <div  class="pull-right">
	                <div class="btn-group">
	                    <button type="button" class="btn btn-info dropdown-toggle fbk-action-btn" data-toggle="dropdown">
	                        <span th:text="#{nursery.nurserydetails.actions}">Actions</span>
	                    </button>
	                    <ul class="dropdown-menu fbk-right-button-drop-down" role="menu">
	                        <li>	                        
	                           <a href="javascript: showManageCheckTypePopup()" th:text="#{germplasm.list.manage.check.types}" >Manage Checks</a>
	                        </li>	                    
                        </ul>
	                </div>
	            </div>
	            	            
            </div>
            <div>
                <label class="control-label"><a href="javascript: openListTree(1)">Browse</a> or <a href="javascript: openImportGermplasmList('1')">Import</a> a list to work with.</label>
            </div>
        </div>
       
    </div>
    <div>
        <div class="col-xs-12 col-md-12" id="entries-details" style="display: none">
            Total Entries: <label class="control-label control-label-bold" id="numberOfEntries"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="javascript: void(0)" onclick="javascript: viewGermplasmLitDetails();">View Header</a>
            <div class="col-show-hide pull-right">
            </div>            
        </div>
    </div>
</div>

<div class="row form-group collapse in germplasmListDetails">
    <!-- Germplasm List Table View -->
    <div class="col-xs-12 col-md-12">
        <div id="imported-germplasm-list" class="primary"></div>
    </div>      
</div>

<input type="hidden" id="keyForOverwrite" value=""/>
<input type="hidden" id="lastCheckSourcePrimary" value=""/>

<div th:include="/Common/browseGermplasmList"></div>

<div class="row">
	<div id="manage-location" th:include="/NurseryManager/includes/importGermplasmListModal"></div>
</div>
 
<div class="row">
	<div id="manage-location" th:include="/NurseryManager/includes/importGermplasmListManageCheckType"></div>
</div>

<div class="row">
	<div id="open-germplasm" th:include="/NurseryManager/includes/importGermplasmListDetailsModal"></div>
</div>
<div class="row">
	<div id="open-germplasm" th:include="/Common/includes/openGermplasmDetailsModal"></div>
</div>

<!-- Cyrus: moved the script to germplasm.js for organization. Only globals initialized from thymeleaf:spring should go here -->
<script type="text/javascript" th:inline="javascript">
    //<![CDATA[

        /*globals initializeCheckTypeSelect2, reloadCheckTypeDropDown*/
        /* exported prevStartIndex,checkTypesObj */
        var checkTypes = /*[[${checkTypes}]]*/ null,
            checkTypesObj = [];

        $(document).ready(function () {
            'use strict';
            document.onLoadGermplasmDetails();
        });


    //]]>
</script>