<div ng-controller="GermplasmCtrl">
<div class="row" >
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">

        <section-container icon="bms-factors" th:attr="heading=#{trial.managesettings.germplasm.factors.label}"
                           collapsible="true">

            <span name="action-buttons">
                <span class="btn btn-primary" ng-show="displayUpdateButton()" ng-click="updateDataTable()">
                    <span class="glyphicon glyphicon-refresh"></span> Update
                </span>

                <span select-standard-variable="" ng-show="addVariable" modeldata="settings" variable-type="8" class="btn btn-info" >Add</span>
            </span>

            <section-container name="content" th:attr="heading=#{trial.trialdetails.germplasm.descriptors},help-tooltip=#{trial.reminder.add.germplasm.factors}">
                <display-settings settings="settings" variable-type="8" name="content"></display-settings>
            </section-container>

        </section-container>
    </div>
</div>



<div class="row form-group overwrite-germplasm-list">
	<div class="col-xs-12 col-md-12">
		<label class="control-label" th:text="#{trial.edit.trial.overwrite.germplasm.list.message}">
		</label>
		&nbsp;&nbsp;&nbsp;
		<button class="btn btn-primary show-germplasm-details"  th:text="#{germplasm.replace}">Overwrite</button>
	</div>
</div>
<div class="row form-group observation-exists-notif">
	<div class="col-xs-12 col-md-12">
		<label class="control-label">
			<strong class="sub-content-heading" th:text="#{trial.edit.trial.cannot.modify.germplasm.list.message}">This Trial has saved observations, germplasm list cannot be modified.</strong>
		</label>
	</div>
</div>



<div class="collapse in germplasmListDetails germplasmAndCheckSection" id="chooseGermplasmAndChecks">
	<!-- Germplasm List Table View -->
    <div id="primary-section">
        <div>
            <img th:src="@{/static/img/review-list-details.png}" />
            <label class="control-label"><strong id="germplasmLabel" class="sub-content-heading">Trial List</strong></label>


            <div  class="pull-right">
	             <div class="btn-group">
	                <button type="button" class="btn btn-info dropdown-toggle fbk-action-btn" data-toggle="dropdown">
	                    <span th:text="#{nursery.nurserydetails.actions}">Actions</span>
	                </button>
	                <ul class="dropdown-menu fbk-right-button-drop-down" role="menu">
	                    <li>
	                        <a href="javascript: showManageCheckTypePopup()" th:text="#{germplasm.list.manage.check.types}" >Manage Checks</a>
	                    </li>
	                </ul>
                </div>
            </div>

        </div>
        <div>
            <label class="control-label"><a href="javascript: openListTree(1)">Browse</a> or <a href="javascript: openImportGermplasmList('1')">Import</a> a list to work with.</label>
        </div>
    </div>

    <div id="entries-details" style="display: none">
        Total Entries: <label class="control-label control-label-bold" id="numberOfEntries"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript: void(0)" onclick="javascript: viewGermplasmLitDetails();">View Header</a>
        <div class="col-show-hide pull-right">
        </div>
    </div>

</div>



<div class="collapse in germplasmListDetails">
    <!-- Germplasm List Table View -->
    <div id="imported-germplasm-list" class="primary"></div>
</div>

<input type="hidden" id="keyForOverwrite" value=""/>
<input type="hidden" id="lastCheckSourcePrimary" value=""/>

<div th:include="/Common/browseGermplasmList"></div>

<div class="row">
	<div th:include="/NurseryManager/includes/importGermplasmListModal"></div>
</div>

<div class="row">
	<div th:include="/NurseryManager/includes/importGermplasmListManageCheckType"></div>
</div>

<div class="row">
	<div th:include="/NurseryManager/includes/importGermplasmListDetailsModal"></div>
</div>
<div class="row">
	<div th:include="/Common/includes/openGermplasmDetailsModal"></div>
</div>

</div>


<!-- Cyrus: moved the script to germplasm.js for organization. Only globals initialized from thymeleaf:spring should go here -->
<script type="text/javascript" th:inline="javascript">
    //<![CDATA[

        /*globals initializeCheckTypeSelect2, reloadCheckTypeDropDown*/
        /* exported prevStartIndex,checkTypesObj */
        var checkTypes = /*[[${checkTypes}]]*/ null,
            checkTypesObj = [];

        $(document).ready(function () {
            'use strict';
            document.onLoadGermplasmDetails();
        });


    //]]>
</script>