<div ng-cloak="">
<div class="row" >
	<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
		<section-container th:attr="heading=#{study.managesettings.germplasm.factors.label}" collapsible="true">
			<section-container icon="bms-factors" name="content" th:attr="heading=#{study.studydetails.germplasm.descriptors},help-tooltip=#{study.reminder.add.germplasm.factors}">
				<display-settings hide-delete="hasGeneratedDesign()" settings="settings" variable-type="1804" name="content"></display-settings>
				<span name="action-buttons">
				<span class="btn btn-primary" ng-show="displayUpdateButton()" ng-click="updateDataTable()">
					<span class="glyphicon glyphicon-refresh"></span> Update
				</span>
				<span select-standard-variable="" ng-hide="hasGeneratedDesign()" modeldata="settings" variable-type="1804"
					  class="btn btn-info">Add
                </span>
            </span>
			</section-container>
		</section-container>
	</div>
</div>

<div ng-show="ShowUpdateImportList()" class="row form-group">
	<div class="col-xs-12 col-md-12">
		<label class="control-label" th:text="#{study.edit.study.overwrite.germplasm.list.message}">
		</label>
		&nbsp;&nbsp;&nbsp;
		<button class="btn btn-primary show-germplasm-details"  ng-click="UpdateModifyList()" th:text="#{study.germplasm.replace}">Overwrite</button>
	</div>
</div>
<div ng-show="hasGeneratedDesign()" class="row form-group">
	<div class="col-xs-12 col-md-12">
		<label class="control-label">
			<strong class="sub-content-heading" th:text="#{study.edit.study.cannot.modify.germplasm.list.message}">This Study has saved observations, germplasm list cannot be modified.</strong>
		</label>
	</div>
</div>

<div class="collapse in germplasmListDetails germplasmAndCheckSection" id="chooseGermplasmAndChecks" data-replace="0">
	<!-- Germplasm List Table View -->
	<div id="primary-section">
		<div>
			<img th:src="@{/static/img/review-list-details.png}" />
			<label class="control-label"><strong id="germplasmLabel" class="sub-content-heading">Study List</strong></label>


			<div  class="pull-right">
				 <div class="btn-group">
					<button type="button" class="btn btn-info dropdown-toggle fbk-action-btn" data-toggle="dropdown">
						<span th:text="#{study.studydetails.actions}">Actions</span>
					</button>
					<ul class="dropdown-menu fbk-right-button-drop-down" role="menu">
						<li>
							<a href="javascript: showManageCheckTypePopup()" th:text="#{germplasm.list.manage.check.types}" >Manage Checks</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<div ng-show="showImportList()">
			<label class="control-label"><a href="javascript: void(0)" ng-click="openGermplasmTree()">Browse</a> a list to work with.</label>
		</div>
	</div>

	<div id="entries-details" style="display: none">
		Total Entries: <label class="control-label control-label-bold" id="numberOfEntries"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="javascript: void(0)" class="view-header" onclick="viewGermplasmLitDetails();">View Header</a>
		<div class="col-show-hide pull-right">
		</div>
	</div>

</div>



<div class="collapse in germplasmListDetails">
	<!-- Germplasm List Table View -->
	<div id="imported-germplasm-list" class="primary"></div>
</div>

<input type="hidden" id="keyForOverwrite" value=""/>
<input type="hidden" id="lastCheckSourcePrimary" value=""/>

<div class="row">
	<div th:include="/StudyManager/includes/importGermplasmListModal"></div>
</div>

<div class="row">
	<div th:include="/StudyManager/includes/importGermplasmListManageCheckType"></div>
</div>

<div class="row">
	<div th:include="/StudyManager/includes/importGermplasmListDetailsModal"></div>
</div>

</div>


<!-- Cyrus: moved the script to germplasm.js for organization. Only globals initialized from thymeleaf:spring should go here -->
<script type="text/javascript" th:inline="javascript">
//<![CDATA[

/*globals initializeCheckTypeSelect2, reloadCheckTypeDropDown*/
/* exported prevStartIndex,checkTypesObj */
var checkTypes = /*[[${checkTypes}]]*/ null,
	checkTypesObj = [];

$(document).ready(function() {
	'use strict';
	document.onLoadGermplasmDetails();
});

//]]>
</script>
