<div class="col-xs-10 col-md-10">
	<div class="modal fade" id="managerSampleListModal" role="dialog" aria-labelledby="managerSampleListModal"
		 ng-controller="ManagerSampleListController" aria-hidden="true">
		<form name="sampleForm" novalidate="" class="simple-form">
		<div class="modal-dialog modal-medium">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{trial.trialdetails.action.create.sample}">Create sample list</label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button  id="closeAdvanceTrialModal" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"/>
						</div>
					</div>

					<div class="row form-group">
						<div id="page-advance-modal-message"></div>
					</div>
					<div class="separator"></div>
					<p></p>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12" >
							<br></br>
							<strong class="sub-content-heading ng-binding" th:utext="#{trial.samples}"> SAMPLES></strong>
							<div>
								<label class=""><em th:utext="#{trial.sample.list.mandatory.fields}">* Indicates mandatory fields</em></label>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-6 col-md-6">
							<label class="control-label add_top_padding label-bold" th:utext="#{trial.select.variate.sample.list}">Choose variate that defines the number of samples per plot *</label>

						</div>
						<div class="report-type-section col-xs-6 col-md-5">
							<select ng-options="variable.name for variable in data.variables" ng-model="data.variableSelected" required="">
								<option value="">Please Choose</option>
							</select>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-6 col-md-6">
							<label class="control-label add_top_padding label-bold" th:utext="#{trial.select.take.by.sample.list}">Taken by</label>
						</div>
						<div class="report-type-section col-xs-6 col-md-5">
							<select ng-options="user.id as user.username for user in users" ng-model="selectedUser">
								<option value="">Please Choose</option>
							</select>
						</div>
						<br></br>
					</div>
					Selected ID:  {{selectedUser}}
					<div class="row form-group">
						<div class="col-xs-6 col-md-6">
							<label class="control-label add_top_padding label-bold" th:text="#{trial.sampling.date.sample.list}">Sampling
								date</label>
						</div>
						<div class="col-xs-4 col-md-4">
							<p class="input-group">
							<input class="form-control" placeholder="yyyy-mm-dd" style="width: 100px" type="text"
								   ng-model="data.dateSampling" jq-datepicker=""
								   set-current-date-as-default="true" data-date-format="yyyy-mm-dd" with-image="true"
								   image-src="/Fieldbook/static/img/calendar.png"/>
							</p>
						</div>
					</div>
				</div> <!-- Modal Body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" ng-click="backToCreateSample()" th:text="#{common.form.back.text}">
						Back
					</button>
					<button type="button" class="btn btn-primary"  ng-disabled="data.variableSelected === 'Please Choose'"  aria-hidden="true" ng-click="saveSample()" th:text="#{common.form.save.text}">
						Save
					</button>
				</div>
			</div> <!-- Modal Content -->
		</div>
		</form>
	</div>
</div>

<div layout:fragment="page-script">

	<script type='text/javascript' th:inline="javascript">
		var selectOneLocationErrorMessage = /*[[#{error.creating.sample.list.trial.instance.selected.atleast.one.location.selected}]]*/ '';
	</script>
</div>
