<div ng-class="isNewStudy() ? 'msrmnt-study-not-saved' : 'msrmnt-existing-study'">
	<div class="row form-group col-xs-12 col-md-12" th:if="${createTrialForm != null and measurementRowCount != 0}">
		<!-- TODO Remove inlined styles-->
		<img th:src="@{/static/svg/measurements.svg}" style="position: relative; bottom: 3px;" width="22" height="22"/>
		<strong class="sub-content-heading measurements-header" th:text="#{study.edit.study.observations}"></strong>
		<strong class="sub-content-heading preview-measurements-header" th:text="#{study.edit.study.preview.observations}"></strong>
	</div>

	<div class="no-measurements-table">
		<span th:text="#{study.edit.study.preview.genearate.design.message}">Please generate the design to see the observations</span>
	</div>

	<div class="preview-measurements-panel">
		<div class="preview-measurements-message">
			<span th:text="#{study.edit.study.preview.save.message}">Please save the study to be able to edit observations</span>
		</div>
		<div class="preview-measurements-table">
			<table id="preview-measurement-table" width="100%" th:object="${createTrialForm}" class="table-curved table-condensed">
			</table>
		</div>
	</div>

	<div class="edit-measurements-panel" th:if="${createTrialForm != null and measurementRowCount != 0}">

		<div id="mdt-toggle-categorical-display-hidden-original" class="mdt-columns dataTables_info fbk-hide">
			<span class="btn btn-link fbk-toggle-categorical-display" th:text="#{observations.show.categorical.description}">Show Categorical Description</span>
		</div>

		<div id="mdt-environment-list-panel">
			<div id="mdt-environment-list-label" class="dataTables_info fbk-std-padding-right fbk-float-left"
				 th:text="#{observation.environment.list.label}"></div>

			<div id="mdt-environment-list" class="fbk-float-left">
				<ui-select id="measurements-environment-number" name="measurements-environment-number" theme="select2"
						   ng-model="selectedEnvironment" search-enabled="false"
						   class="input-sm form-control fbk-std-padding-right inline-select"
						   on-select="changeEnvironmentForMeasurementDataTable($item, $model)">
					<ui-select-match placeholder="Select a report" class="ui-select-match">
						{{selectedEnvironment.instanceNumber + ' - ' + (selectedEnvironment.locationName || selectedEnvironment.locationAbbreviation || selectedEnvironment.instanceNumber)}}
					</ui-select-match>
					<ui-select-choices repeat="env in environmentsList track by env.instanceNumber" class="ui-select-choices">
						{{env.instanceNumber + ' - ' + (env.locationName || env.locationAbbreviation || env.instanceNumber)}}
					</ui-select-choices>
				</ui-select>
			</div>
		</div>

		<div class="mdt-measurements-table-panel">
			<table th:if="${createTrialForm != null}"
			   th:object="${createTrialForm}" id="measurement-table" width="100%"
			   class="table-curved table-condensed">
			</table>
		</div>

		<div class="row edit-experiment-section">
		</div>
	</div>
	
	<div class="modal fade" id="inlineEditConfirmationModal" role="dialog" aria-labelledby="inlineEditConfirmationModal"
		 aria-hidden="true">
		<div class="modal-dialog modal-medium">
			<div class="modal-content">
				<div class="modal-body" id="inlineEditConfirmationModalBody">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title" id="heading-modal"
								   th:text="#{common.form.confirmation.text}">Confirmation</label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button id="inlineEditConfirmationModalClose" type="button"
									class="close pull-right glyphicon glyphicon-remove" aria-hidden="true"></button>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<label class="control-label">Data input is out of range, do you want to keep or discard the
								value?</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- TODO Localise buttons-->
					<button type="button" class="btn btn-default inline-edit-confirmation" aria-hidden="true" data-inline-edit="0">
						Discard
					</button>
					<button type="button" class="btn btn-primary inline-edit-confirmation" aria-hidden="true" data-inline-edit="1">
						Keep
					</button>
				</div>
			</div>
		</div>
	</div>
		
	<div class="import-preview-measurements-panel">
		<div class="import-preview-measurements-table">
			<table id="import-preview-measurement-table" width="100%" th:object="${createTrialForm}" class="table-curved table-condensed">
			</table>
		</div>
	</div>

</div>

<script type="text/javascript" th:inline="javascript">
//<![CDATA[

jQuery(function() {
	'use strict';
	var hasSavedPlots = /*[[${measurementRowCount != null && measurementRowCount != 0}]]*/ false;

	if ($('#studyId').val() !== '' && hasSavedPlots) {
		initializeTraitsPagination(window.isCategoricalDescriptionView);
	}
});

//]]>
</script>

