<div id="fbk-measurements-controller-div">
<div class="row" ng-cloak="">
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
        <section-container th:attr="heading=#{study.managesettings.measurement.title}"
                           collapsible="true" add-variable="true" hide-variable="addVariable" model-data="settings" variable-type="1808">

            <section-container name="content" th:attr="heading=#{study.managesettings.baseline.traits},help-tooltip=#{study.managesettings.trait.notes},icon-img=@{/static/img/baseline-traits.png}" icon-size="22">
                <display-settings hide-delete="isHideDelete" name="content" settings="settings" variable-type="1808"
                                  predelete-function="beforeDelete"></display-settings>
            </section-container>
        </section-container>
    </div>
</div>

<br />
<div id="measurementsDiv" ng-cloak="">	
	<div th:include="/TrialManager/templates/measurementsTab"></div>
</div>
</div>
