<div class="modal fade" id="samplesSummaryModal" role="dialog" aria-labelledby="samplesSummaryModal">
	<div class="modal-dialog modal-large">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close glyphicon glyphicon-remove" aria-label="Close"
						data-dismiss="modal" aria-hidden="true"/>
				<h5 class="modal-title">Sample Details (PLOT_NO: <span></span>)</h5>
			</div>
			<div class="modal-body">
				<div class="row form-group">
					<div class="col-md-12">
						<table id="samples-summary-table" class="table-curved table-condensed dataTable no-footer">
							<thead>
							<tr>
								<th>SAMPLE ID</th>
								<th>SAMPLE LIST</th>
								<th>STUDY NAME</th>
								<th>TAKEN BY</th>
								<th>SAMPLING DATE</th>
								<th>DATASET_TYPE</th>
								<th>OBS UNIT ID</th>
								<th>ENUMERATOR</th>
								<th>PLATE_ID</th>
								<th>WELL</th>
								<th>GENOTYPING_DATASET</th>
							</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
