
<div class="col-xs-10 col-md-10" xmlns:th="http://www.thymeleaf.org" >

		<div class="modal fade" id="selectEnvironmentModal" role="dialog" aria-labelledby="selectEnvironmentModal"
			 ng-controller="SelectEnvironmentModalCtrl" aria-hidden="true">
			<div class="modal-dialog modal-medium">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row form-group">
							<div class="col-xs-11 col-md-11">
								<label ng-show="applicationData.advanceType != 'sample'" class="modal-title fbk-modal-title"
									   id="heading-modal" th:text="#{study.studydetails.action.advance.study}">Advance trial</label>
								<label ng-show="applicationData.advanceType == 'sample'" class="modal-title fbk-modal-title"
									   id="heading-modal" th:text="#{study.studydetails.action.advance.sample}">Advance sampled
									plants</label>
							</div>
							<div class="col-xs-1 col-md-1">
								<button  id="closeAdvanceTrialModal" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"/>
							</div>
						</div>

						<div class="row form-group">
							<div id="page-advance-modal-message"></div>
						</div>

						<div class="row form-group">
							<div class="col-xs-12 col-md-12" >
								<label class=""><em th:utext="#{fieldmap.mandatory.fields}"> Mandatory fields are noted with a *</em></label>
							</div>
						</div>
						<br/>
                        <div id="location-selection">

                                <table class="table table-curved table-condensed fbk-table-with-check fbk-datatable-environments"
										width="100%">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th ng-show="!locationFromTrialSettings">{{settings.managementDetails.val(PREFERRED_LOCATION_VARIABLE).variable.name}}</th>
                                        <th ng-show="locationFromTrialSettings">{{trialSettings.val(PREFERRED_LOCATION_VARIABLE).variable.name}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="environment in environmentListView track by environment.trialInstanceNumber" ng-class="{even : $even, odd : $odd}">
                                        <td><input type="checkbox" name="location"
												   ng-model="environment.selected"
												   ng-change="doSelectInstance($index)"
												   ng-true-value="{{environment.trialInstanceNumber}}"
												   ng-false-value="{{undefined}}"/></td>
                                        <td ng-show="!locationFromTrialSettings">{{ environment.name }} </td>
                                        <td ng-show="locationFromTrialSettings">{{ userInput[environment.variableId] }}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        <div class="col-md-12">
                            <input type="checkbox" ng-model="selectAll" ng-change="doSelectAll()"/>&nbsp;&nbsp;<label class="fbk-selectall-chk" th:text="#{advancing.study.select.all}"></label>
                        </div>



					</div> <!-- Modal Body -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">
							Cancel
						</button>
						<button type="button" class="btn btn-primary" ng-disabled="trialInstances.length === 0"
								aria-hidden="true" ng-click="selectEnvironmentContinue()" th:text="#{common.form.continue.text}">
							Continue
						</button>
					</div>
				</div> <!-- Modal Content -->
			</div>
		</div>
</div>

<div layout:fragment="page-script">

<script type='text/javascript' th:inline="javascript">
    var selectOneLocationErrorMessageForAdvancing = /*[[#{error.advancing.study.instance.selected.atleast.one.location.selected}]]*/ '';
</script>
</div>
