<div class="col-xs-10 col-md-10" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade" id="selectEnvironmentToSampleListModal" role="dialog" aria-labelledby="selectEnvironmentToSampleListModal"
		 ng-controller="selectEnvironmentToSampleListModalCtrl" aria-hidden="true">
		<div class="modal-dialog modal-medium">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title" id="heading-modal"
								   th:text="#{study.sample.header}">Create sample list</label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button id="closeAdvanceTrialModal" type="button" class="close  pull-right glyphicon glyphicon-remove"
									data-dismiss="modal" aria-hidden="true"/>
						</div>
					</div>

					<div class="row form-group">
						<div id="page-advance-modal-message"></div>
					</div>
					<div class="separator"></div>
					<p></p>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<br></br>
							<label class="" th:utext="#{study.select.locations.sample.list}"> Select the location you would like to sample:</label>
						</div>
					</div>
					<br/>
					<div id="location-selection-createSample">
						<environment-details></environment-details>
					</div>
				</div> <!-- Modal Body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true"
							th:text="#{common.form.cancel.text}">
						Cancel
					</button>
					<button type="button" class="btn btn-primary" ng-disabled="trialInstances.length === 0"
							ng-click="continueCreatingSampleList()" th:text="#{common.form.continue.text}">
						Continue
					</button>
				</div>
			</div> <!-- Modal Content -->
		</div>
	</div>
</div>

<div layout:fragment="page-script">

	<script type='text/javascript' th:inline="javascript">
		//<![CDATA[
		var selectOneLocationErrorMessageForSampleList = /*[[#{error.creating.sample.list.trial.instance.selected.at.least.one.location.selected}]]*/ '';
		$(document).ready(function () {
			$('#selectEnvironmentToSampleListModal').on('shown.bs.modal', function () {
				// we need to redraw the columns of the table
				if(!$.fn.dataTable.isDataTable( '#selectEnvironmentToSampleListModal .fbk-datatable-environments')){
					// we need to redraw the columns of the table
					$('#selectEnvironmentToSampleListModal .fbk-datatable-environments').DataTable({
						dom: "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
							"<'row'<'col-sm-12'tr>>" +
							"<'row'<'col-sm-5'i><'col-sm-7'>>" +
							"<'row'<'col-sm-12'p>>"
					}).columns.adjust().draw();
				}
			});
		});
		//]]>
	</script>
</div>
