<div ng-cloak="">
    <div class="row" >
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <!-- title -->
            <section-container collapsible="true" th:attr="heading=#{study.managesettings.treatment.factors.title}">

                <section-container icon="bms-treatment-factors" name="content"
                                   th:attr="heading=#{study.managesettings.treatment.factors},help-tooltip=#{study.managesettings.treatment.factors.notes}"
                                   add-variable="true" model-data="settings.details" variable-type="1809" callback="onAddVariable(result)"
                                   hide-variable="!trialMeasurement.hasMeasurement">

                    <div name="content">
                        <table class='factor-opts-tbl table table-curved table-condensed'>
                            <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th th:text="#{study.managesettings.treatment.factors.treatment}">Treatment</th>
                                <th th:text="#{study.managesettings.treatment.factors.label}">Label</th>
                                <th th:text="#{study.managesettings.treatment.factors.no.of.treatments}">No of Treatments</th>

                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="(key,value) in data.currentData track by key">
                                <td ng-class="{even : $even, odd : $odd}"><span class='glyphicon glyphicon-minus-sign delete-factor' style="cursor: pointer" ng-click="trialMeasurement.hasMeasurement || performDelete(key)" ng-hide="trialMeasurement.hasMeasurement"></span>
                                </td>
                                <td ng-class="{even : $even, odd : $odd}"><a show-details-modal="key"
                                                                             variable-type="{{VARIABLE_TYPES.TREATMENT_FACTOR}}">{{settings.details.val(key).variable.name}}</a>
                                </td>
                                <td ng-class="{even : $even, odd : $odd}">
                                    <input type="hidden" ui-select2="generateDropdownOption(key)" class="form-control" ng-model="data.currentData[key].variableId" ng-disabled="trialMeasurement.hasMeasurement"/>
                                </td>

                                <td ng-class="{even : $even, odd : $odd}">
                                    <input valid-number="" maxlength="2" type='text' class='form-control' ng-model='data.currentData[key].levels'
                                           ng-change='onLevelChange(key,data.currentData[key].levels)' ng-disabled="trialMeasurement.hasMeasurement || !data.currentData[key].variableId"/>
                                </td>
                            </tr>

                            <tr ng-hide="settings.details.keys().length &gt; 0">
                                <td class="odd" ng-repeat="val in [] | range : 4">&nbsp;</td>
                            </tr>

                            </tbody>
                        </table>


                    </div>
                </section-container>
            </section-container>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">

            <div id='treatment-levels' ng-hide="false" class="add_top_padding">
                <div class='horizontal-level-item' ng-repeat="key in settings.details.keys() track by key">
                    <div class="row">
                        <div class="col-lg-12 add-bottom-padding">
                            <span class="sub-content-heading" style="text-transform: uppercase"><b>{{settings.details.val(key).variable.name}}</b></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <b class="sub-content-heading">Treatment:</b>
                                <a style="text-transform: uppercase" show-details-modal="key"
                                   variable-type="{{VARIABLE_TYPES.TREATMENT_FACTOR}}">{{settings.details.val(key).variable.name}}</a> -
                            </div>
                            <div class="add-bottom-padding" ng-show="data.currentData[key].variableId">
                                <b class="sub-content-heading">Treatment Label:</b>
                                <a style="text-transform: uppercase" show-details-modal="data.currentData[key].variableId"
                                   variable-type="{{VARIABLE_TYPES.TREATMENT_FACTOR}}">{{retrievePairDetail(key).variable.name}}</a> -
                            </div>


                        </div>

                        <div class="col-sm-6">

                            <div>
                                <b th:text="#{study.managesettings.treatment.factors.define.label}">Define the labels values for this treatment</b>:
                            </div>
                            <table class='factor-level-tbl table table-curved table-condensed'>
                                <thead>
                                <tr>
                                    <th th:text="#{study.managesettings.treatment.factors.label}">Label</th>
                                    <th th:text="#{variable.details.scale}">Scale</th>
                                    <th th:text="#{study.managesettings.treatment.factors.value}">Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-show="data.currentData[key].variableId" ng-repeat="n in data.currentData[key].labels track by $index">
                                    <td ng-class-odd="'odd'" ng-class-even="'even'">
                                        <a show-details-modal="retrievePairDetail(key).variable.cvTermId"
                                           variable-type="{{VARIABLE_TYPES.TREATMENT_FACTOR}}">{{retrievePairDetail(key).variable.name}}
                                            {{$index + 1}}</a>
                                    </td>
                                    <td ng-class-odd="'odd'" ng-class-even="'even'">{{retrievePairDetail(key).variable.scale}}</td>
                                    <td ng-class-odd="'odd'" ng-class-even="'even'">
                                        <show-setting-form-element settings="settings.treatmentLevelPairs[key]" targetkey="{{$index}}" settingkey="{{retrievePairDetail(key).variable.cvTermId}}" changefunction="onLabelChange()"
                                                                   valuecontainer="data.currentData[key].labels" use-exact-properties="true" block-input="trialMeasurement.hasMeasurement"></show-setting-form-element>
                                    </td>
                                </tr>

                                <tr ng-hide="data.currentData[key].labels.length &gt; 0 &amp;&amp; data.currentData[key].variableId">
                                    <td class="odd" ng-repeat="item in [] | range : 3">&nbsp;</td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div><!-- end treatment-levels -->

        </div>
    </div>


</div>
