<div class="row col-sm-6" ng-controller="TreatmentCtrl">
    <div id='addtl-treatment-factors'>
        <!-- title -->
        <h4>Define Additional Treatment Factors</h4>

        <div class="form-group">
            <span>
                <b class="sub-content-heading">TREATMENT FACTORS</b>
                <span class="bms-fa-question-circle help-tooltip-nursery" data-placement="right" data-toggle="tooltip" data-container="body" title="trial management details tooltip"></span>
            </span>

            <span open-ontology-browser-popup="" on-select-variables="addManagementVariables(result)" th:attr="label=#{nursery.managesettings.add.nursery.level.settings},placeholder=#{nursery.reminder.add.nursery.settings}" variable-type="1" class="btn btn-info pull-right nrm-md-variable-select" >Add</span>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form role='form' id='addtl-treatment-factors-form' novalidate="">
                    <table class='factor-opts-tbl table'>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Levels</th>

                        </tr>
                        <tr ng-repeat="(key,item) in data.managementDetails track by key">
                            <td><span class='glyphicon glyphicon-minus-sign delete-factor' ng-click="removeTreatmentFactorByIndex(key)"></span>
                            </td>
                            <td><a ng-click='showDetailsModal(key)' >{{item.variable.name}}</a>
                            </td>
                            <td>{{item.variable.description}}</td>
                            <td>
                                <input valid-number="" maxlength="2" type='text' class='form-control' ng-model='item.variableLabelCount' ng-change='onLevelChange(item.variable.name,item.variableLabelCount)' />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div><!-- end addtl-treatment-factors -->

    <div id='treatment-levels'>
        <!-- title -->
        <h4>Specify Treatment Levels</h4>

        <form role='form' id='treatment-level-form'>

            <div class='treatment-level-item' ng-repeat="(key,item) in data.managementDetails track by key">
                <div class="row">
                    <div class="col-md-12">
                        <b>{{item.variable.name}}</b>: <b>{{item.variable.description}}</b>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <b>Define the labels for this factor</b>:
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class='factor-level-tbl table'>
                            <tr>
                                <th>Level</th>
                                <th>Scale</th>
                                <th>Label</th>
                            </tr>
                            <tr ng-repeat="n in item.variableLabels track by $index">
                                <td>
                                    <a>{{item.variable.name}} {{$index + 1}}</a>
                                </td>
                                <td>{{item.variable.scale}}</td>
                                <td>
                                    <input type='text' class='form-control' ng-model="item.variableLabels[$index]" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- end treatment-levels -->

</div>