<div class="row" ng-cloak="">
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
        <!-- management details title -->

        <section-container icon="bms-mgt-details"
                           th:attr="heading=#{study.managesettings.settings},reminder=#{section.reminder.to.add.records},help-tooltip=#{study.managesettings.settings.tooltip}"
                           show-reminder="managementDetails.keys().length &lt;= 0" add-variable="true" hide-variable="addVariable"
                           model-data="managementDetails" variable-type="1805">
            <div name="content">
                <div class="row form-group" ng-repeat="key in filteredKeys = ( managementDetails.keys() | removeHiddenVariableFilter: managementDetails.vals() ) track by key">
                    <div class="col-xs-5 1st">

                        <label class="fbk-selectall-chk">
                            <input type="checkbox" ng-model="managementDetails.val(key).isChecked"/>
                        </label>
                        <a href="javascript: void(0);">
                        <span style="word-wrap: break-word" class="control-label nursery-level-label
                                label-bold var-names" show-details-modal="key" variable-type="{{VARIABLE_TYPES.STUDY_DETAIL}}">{{managementDetails.val(key).variable.name}}</span>:

                    </a></div>
                    <div class="col-xs-7 2nd" style="padding-right: 0">
                        <show-setting-form-element settings="managementDetails" targetkey="{{key}}" changefunction="onLabelChange()"
                                                   valuecontainer="data.userInput"></show-setting-form-element>
                    </div>
                </div>

                <div class="row form-group" ng-show="(managementDetails.keys() | removeHiddenAndDeletablesVariableFilter: managementDetails.vals() ).length &gt; 0">
                    <div class="col-md-12">
                        <label class="fbk-selectall-chk"><input type="checkbox" ng-model="managementDetailsOptions.selectAll" ng-change="doSelectAll(managementDetails, managementDetailsOptions)"/> Select All</label>
                        <a class="fbk-remove-link" href="javascript: void(0);" ng-click="removeSettings(VARIABLE_TYPES.STUDY_DETAIL, managementDetails, managementDetailsOptions)" >Remove</a>
                    </div>
                </div>


            </div>
        </section-container>

    </div>
</div>
