<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title" th:text="#{ontology.browser.header.add.new.variable}">Add a New Standard Variable</h4>
</div>
<div class="modal-body" id="manageOntologyBody">
	Method
</div>																							
<div class="modal-footer">
	<button type="button" th:value="#{common.form.cancel.text}" class="btn btn-primary"
	 th:text="#{common.form.cancel.text}" data-dismiss="modal" aria-hidden="true">Cancel</button>
	<button type="submit" th:value="#{common.form.save.text}" class="btn btn-primary" 
	th:text="#{common.form.save.text}">Save</button>      	
</div>