<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title" th:text="#{ontology.browser.modal.property}">Manage Properties</h4>
</div>

<form id="managePropertyForm" role="form-horizontal" onsubmit="return do_validation()"  class="form-horizontal" action="#" 
	enctype="multipart/form-data" th:object="${ontologyPropertyForm}">

	<div class="modal-body">
		<div class="form-group" id="page-message-modal"></div>
		<div th:class="${#fields.hasErrors('*')} ? 'form-group has-error' : 'form-group'">
			<div class="alert alert-danger" th:if="${#fields.hasErrors('*')} " th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
			<div class="row fluid">
	      		<div class="col-md-7">
					<div class="form-group">                        
						<label for="comboManageProperty" class="col-md-5 control-label" th:text="#{ontology.browser.modal.property} + ': *'">Property: *</label>
						<div class="col-md-7">
							<input type="hidden" th:field="*{comboManageProperty}" class="form-control select2" placeholder=""/>
							<input type="hidden" th:field="*{managePropertyId}" />
							<input type="hidden" th:field="*{managePropertyName}" />
						</div>
					</div>
					<div class="form-group">
						<label for="managePropertyDescription" class="col-md-5 control-label" th:text="#{ontology.browser.modal.description} + ':'">Description:</label>
						<div class="col-md-7">
							<textarea type="text" th:field="*{managePropertyDescription}" class="form-control" size="10"> </textarea>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<div>
							<span th:text="#{ontology.browser.modal.variable.list('Property')}">Variables Linked to Property:</span>
							<span id="managePropertyNameText"></span>
						</div>
						<div class="input-group col-md-12" id="manageLinkedVariableList">
							
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>																							
	<div class="modal-footer">
		<button id="btnAddManageProperty" type="submit" th:value="#{common.form.add.text}" class="btn btn-primary" 
		th:text="#{common.form.add.text}">Add</button>      	
		<button id="btnUpdateManageProperty" type="submit" th:value="#{common.form.update.text}" class="btn btn-primary" 
		th:text="#{common.form.update.text}" style="display:none;">Update</button>      	
		<button id="btnDeleteManageProperty" type="submit" th:value="#{common.form.delete.text}" class="btn btn-primary" 
		th:text="#{common.form.delete.text}" style="display:none;">Delete</button>      	
		<button type="button" th:value="#{common.form.cancel.text}" class="btn btn-primary"
		 th:text="#{common.form.cancel.text}" data-dismiss="modal" aria-hidden="true">Cancel</button>
	</div>

</form>

<div layout:fragment="page-script">		
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
	  	$(document).ready(function() {
	  		initializeVariable(propertySuggestions, propertySuggestions_obj, "definition", "ManageProperty", true);
	  		
	  	});
    //]]>
	</script>
</div>