<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title" >
	<strong th:text="#{ontology.browser.modal.property.header}">Manage Properties</strong></h4>
</div>

<form id="managePropertyForm" role="form-horizontal" onsubmit="return do_validation()"  class="form-horizontal" action="#" 
	enctype="multipart/form-data" th:object="${ontologyPropertyForm}">

	<div class="modal-body">
		<div class="form-group" id="page-message-modal"></div>
		<div th:class="${#fields.hasErrors('*')} ? 'form-group has-error' : 'form-group'">
			<div class="alert alert-danger" th:if="${#fields.hasErrors('*')} " th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
			<div class="row fluid">
	      		<div class="col-xs-6 col-md-6">
	      			<div class="form-group">
	      				<label for="comboManagePropTraitClass" class="col-xs-5 col-md-5 control-label" ><span th:text="#{ontology.browser.modal.trait.class} + ': '"></span><span class="required">*</span></label>
						<div class="col-xs-7 col-md-7">
							<input type="hidden" th:field="*{comboManagePropTraitClass}" class="form-control select2" placeholder=""/>
							<input type="hidden" th:field="*{managePropTraitClassId}" />
							<input type="hidden" th:field="*{managePropTraitClassName}" />
						</div>
	      			</div>
	      			<div class="form-group">
	      				<div class="col-xs-5 col-md-5"></div>
	      				<div class="col-xs-7 col-md-7" id="managePropTraitClassBrowserTree" style="height:200px; overflow:auto;">
						</div> 
	      			</div>
				</div>
				<div class="col-xs-6 col-md-6">
					<div class="form-group">                        
						<label for="comboManageProperty" class="col-xs-5 col-md-5 control-label" ><span th:text="#{ontology.browser.modal.property} + ': '"></span><span class="required">*</span></label>
						<div class="col-xs-7 col-md-7">
							<input type="hidden" th:field="*{comboManageProperty}" class="form-control select2" placeholder=""/>
							<input type="hidden" th:field="*{managePropertyId}" />
							<input type="hidden" th:field="*{managePropertyName}" />
						</div>
					</div>
					<div class="form-group">
						<label for="managePropertyDescription" class="col-xs-5 col-md-5 control-label" th:text="#{ontology.browser.modal.description} + ':'">Description:</label>
						<div class="col-xs-7 col-md-7">
							<textarea type="text" th:field="*{managePropertyDescription}" class="form-control" size="10"> </textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-5 col-md-5 control-label">
		          			<label for="cropOntologyId" th:text="#{ontology.browser.modal.crop.ontology.id} + ':'">Crop Ontology ID:</label>
		       			</div>
		                <div class="col-xs-7 col-md-7">
		                    <input type="text" th:field="*{cropOntologyId}" class="form-control"/>
		                </div>
		            </div>
					<div class="">
						<div>
							<span th:text="#{ontology.browser.modal.variable.list('Property')}">Variables Linked to Property:</span>
							<span id="managePropertyNameText"></span>
						</div>
						<div class="input-group col-xs-12 col-md-12" id="manageLinkedVariableList">
							
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>																							
	<div class="modal-footer">
	<button id="btnCloseManageProperty" type="button" th:value="#{common.form.cancel.text}" class="btn btn-default"
		 th:text="#{common.form.cancel.text}" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button id="btnAddManageProperty" type="button" th:value="#{common.form.add.text}" class="btn btn-primary" 
		th:text="#{common.form.add.text}" onclick="saveProperty();">Add</button>      	
		<button id="btnUpdateManageProperty" type="button" th:value="#{common.form.update.text}" class="btn btn-primary" 
		th:text="#{common.form.update.text}" style="display:none;" onclick="saveProperty();">Update</button>      	
		<button id="btnDeleteManageProperty" type="button" th:value="#{common.form.delete.text}" class="btn btn-primary" 
		th:text="#{common.form.delete.text}" style="display:none;" onclick="deleteOntology('ManageProperty');">Delete</button>      	
		
	</div>

</form>

<div layout:fragment="page-script">		
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
	  	$(document).ready(function() {
	  		initializeVariable(propertySuggestions, propertySuggestions_obj, "definition", "ManageProperty", true);
	  		initializeVariable(traitClassesSuggestions, traitClassesSuggestions_obj, "definition", "ManagePropTraitClass", false);
	  		loadTraitClassTree("managePropTraitClassBrowserTree", "comboManagePropTraitClass", "managePropTraitClassDescription", treeClassData, "comboManagePropTraitClass");
	  		$("#comboManagePropTraitClass").on("change", function() {
	  			filterPropertyCombo("managePropTraitClassBrowserTree", "comboManagePropTraitClass", "managePropTraitClassDescription", 
	  					$("#comboManagePropTraitClass").val(), true);
	  		});
	  	});
	  	
	  	function saveProperty() {
	  		if (!validateProperty()) {
	  			message = /*[[#{ontology.browser.modal.error}]]*/;
	  			showErrorMessageInModal('page-message-modal', message);
	  			return;
	  		}
	  		Spinner.toggle();
			serializedData = $("#managePropertyForm").serialize();
	  		
	  		$.ajax({
	  			url : ontologyUrl + "property",
				type: "POST",
				dataType: "json",
				data: serializedData,
			    success: function(data) {
			    	if (data.status == '1') {
			    		recreateComboAfterUpdate("ManageProperty", data.savedObject);
			    		showSuccessMessageInModal(data.successMessage);
			    		var cropOntologyId = $('#cropOntologyId').val();
			    		//we need to set the data in the front
			    		for(count = 0 ; count < propertySuggestions_obj.length ; count++){
							if($('#managePropertyId').val() == propertySuggestions_obj[count].id){
								propertySuggestions_obj[count].cropOntologyId = cropOntologyId;
							}
						}
			    		var chosendRecord = $("#comboProperty").select2("data");
			    		if(chosendRecord != null && chosendRecord.id == $('#managePropertyId').val()){
			    			//console.log("we should update frontend")
			    			$("#cropOntologyDisplay").html(cropOntologyId);
			    		}
			    		$("#btnAddManageProperty").hide();
			    		$("#btnUpdateManageProperty").show();
			    		$("#btnDeleteManageProperty").show();
			    	} else {
			    		showErrorMessageInModal('page-message-modal', data.errorMessage);
			    	}
					Spinner.toggle();
				} 
	  		});
	  	}
    //]]>
	</script>
</div>