<div class="col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1 th:text="#{ontology.browser.button.manage.variable}">
			Manage Variable 
		</h1>
	</div>	
	<div id="page-message">
		<form  th:object="${ontologyBrowserForm}" th:remove="tag">	
	        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')} " th:each="err : ${#fields.errors('*')}" th:text="${err}"></div> 
		</form>
	</div>
	<form id="manageVariable" role="form-horizontal" onsubmit="return do_validation()"  class="form-horizontal" action="#" 
	    th:action="@{/OntologyManager/manage/variable}" method="post" enctype="multipart/form-data" th:object="${ontologyBrowserForm}">
	<div class="row">
		<div class="col-md-12">	
			<h3 th:text="#{ontology.browser.manager.header.variable.details}">Variable Details:</h3>			 
		</div>
	</div>	

	<div class="row">
		<div class="col-md-6">	
			<div class="form-group">
					<div class="col-md-4">
         			<label for="variableName" th:text="#{ontology.browser.modal.variable.name} + ': *'">Name:</label>
         			</div>
                     <div class="col-md-6">
                     	
                     	<input id="comboVariableName" type="hidden" th:field="*{variableName}" class="form-control select2" placeholder=""/>
   				        <input type="hidden" th:field="*{variableId}" />
   				        <input type="hidden" th:field="*{isDelete}" />
				        <input type="hidden" th:field="*{newVariableName}" /> 
                     </div>
            </div>
			<div class="form-group">
					<div class="col-md-4">
           			<label for="variableDescription" th:text="#{ontology.browser.modal.description} + ':'">Description:</label>
           			</div>
           			<div class="col-md-6">
                           <textarea th:field="*{variableDescription}" class="form-control" size="10"> </textarea>
                       </div>
				</div>	
								
					
					<div class="form-group">
						<div class="col-md-4">
	           			<label for="cropOntologyId" th:text="#{ontology.browser.modal.crop.ontology.id} + ':'">Crop Ontology ID:</label>
	           			</div>
                        <div class="col-md-6">
                            <input type="text" th:field="*{cropOntologyId}" class="form-control"/>
                        </div>
                       </div> 
		</div>
		<div class="col-md-6">	
			<div class="form-group">
				<div class="col-md-4">
				<label for="dataType" class="control-label" th:text="#{ontology.browser.modal.data.type} + ': *'">Data Type:</label>
				</div>
				<div class="col-md-6">
					<select class="form-control" th:field="*{dataType}">
                      		<option value="">Select</option>
                      		<option th:each="type : ${dataTypes}" th:value="${type.id}" th:text="${type.name}"/>
                      	</select>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-md-4">
				<label for="role" class="control-label" th:text="#{ontology.browser.modal.role} + ': *'">Role:</label>
				</div>
				<div class="col-md-6">
					<select class="form-control" th:field="*{role}">
                      		<option value="">Select</option>
                      		<option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"/>
                      	</select>
				</div>
			</div>	
			<div class="form-group">
				<div class="col-md-4">
				<label for="role" class="control-label" th:text="#{ontology.browser.modal.valid.value} + ':'">.Valid Values:</label>
				</div>
				<div class="col-md-6">
					
				</div>
			</div>			 
		</div>
	</div>	
	
	
	<div class="row">
		<div class="col-md-12">	
			<h3 th:text="#{ontology.browser.manager.header.properties.trait}">Properties and Trait Classes:</h3>			 
		</div>
	</div>	
	
	<div class="row">
		<div class="col-md-6">	
			<div class="form-group">
				<div class="col-md-4">
				<label for="traitClass">Filter for Trait Class:</label>
				</div>
				<div class="col-md-6">
					<input id="comboTraitClass" type="hidden" th:field="*{traitClass}"  class="form-control  input-medium  select2" placeholder=""/>                   	
				</div>
				<div class="col-md-2">
					<input type="button" class="btn btn-default btn-log" onClick="loadOntologyModal('traitClass')" value="Manage"/>
				</div>
			</div>	
			<div class="form-group">
				<div class="col-md-4">
               	<label for="traitClassDescription" th:text="#{ontology.browser.modal.description} + ':'">Description:</label>
               	</div>
                  <div class="col-md-6">
                  	<textarea disabled="true"  type="text" th:field="*{traitClassDescription}" class="form-control" size="10"> </textarea>
                  </div>
            </div>
            <div class="form-group">
			
				<div class="col-md-4">
               		<label for="traitClass">Trait Class Tree View:</label>
               	</div>
				<div class="col-md-6" id="traitClassBrowserTree" style="height:200px; overflow:auto;">
				
				</div>
			</div>		 
		</div>
		<div class="col-md-6">	
			<div class="form-group">
				<div class="col-md-4">
				<label for="traitClass" class="col-md-12 control-label" th:text="#{ontology.browser.modal.property} + ': *'">Property:*</label>
				</div>
				<div class="col-md-6">
					<input id="comboProperty" type="hidden" th:field="*{property}" class="form-control select2" placeholder=""/>
                   	
				</div>
				<div class="col-md-2">
					<input type="button" class="btn btn-default btn-log" onClick="loadOntologyModal('property')" value="Manage"/>
				</div>
			</div>	
			<div class="form-group">
				<div class="col-md-4">
               	<label for="propertyDescription" class="col-md-12 control-label" th:text="#{ontology.browser.modal.description} + ':'">Description:</label>
               	</div>
                  <div class="col-md-6">
                  	<textarea disabled="true"  type="text" th:field="*{propertyDescription}" class="form-control" size="10"> </textarea>
                  </div>
            </div>			 
		</div>
		
		
			
			
	</div>	
	
	<div class="row">
		<div class="col-md-12">	
			<h3 th:text="#{ontology.browser.manager.header.method.scales}">Methods and Scales:</h3>			 
		</div>
	</div>	
	
	
	<div class="row">
		<div class="col-md-6">	
			<div class="form-group">
				<div class="col-md-4">
				<label for="method" th:text="#{ontology.browser.modal.method} + ': *'">Method:</label>
				</div>
				<div class="col-md-6">
					<input id="comboMethod" type="hidden" th:field="*{method}" class="form-control select2" placeholder=""  />
                   	
				</div>
				<div class="col-md-2">
					<input type="button" class="btn btn-default btn-log" onClick="loadOntologyModal('method')" value="Manage"/>
				</div>
			</div>	
			<div class="form-group">
				<div class="col-md-4">
               	<label for="methodDescription" th:text="#{ontology.browser.modal.description} + ':'">Description:</label>
               	</div>
                  <div class="col-md-6">
                  	<textarea disabled="true"  type="text" th:field="*{methodDescription}" class="form-control" size="10"> </textarea>
                  </div>
            </div>		 
		</div>
		<div class="col-md-6">	
			<div class="form-group">
				<div class="col-md-4">
				<label for="traitClass" class="col-md-12 control-label" th:text="#{ontology.browser.modal.scale} + ': *'">Scale:*</label>
				</div>
				<div class="col-md-6">					
                   	<input id="comboScale" type="hidden" th:field="*{scale}" class="form-control select2" placeholder=""/>
				</div>
				<div class="col-md-2">
					<input type="button" class="btn btn-default btn-log" onClick="loadOntologyModal('scale')" value="Manage"/>
				</div>
			</div>	
			<div class="form-group">
				<div class="col-md-4">
               	<label for="propertyDescription" class="col-md-12 control-label" th:text="#{ontology.browser.modal.description} + ':'">Description:</label>
               	</div>
                  <div class="col-md-6">
                  	<textarea disabled="true"  type="text" th:field="*{scaleDescription}" class="form-control" size="10"> </textarea>
                  </div>
            </div>			 
		</div>
	</div>	
	
	<div class="row">
		<div class="col-md-pull-12 pull-right">
		<button type="submit" id="addVariable" th:value="#{common.form.add.text}" class="btn btn-primary" 
      		th:text="#{common.form.add.text}">.Add</button>    
      		<button type="submit" id="updateVariable" th:value="#{common.form.update.text}" class="btn btn-primary" 
      		th:text="#{common.form.update.text}">.Update</button>    
      		<button type="submit" id="deleteVariable" th:value="#{common.form.delete.text}" class="btn btn-danger" 
      		th:text="#{common.form.delete.text}" onClick="setDeleteOperation(1);">.Delete</button>
      		<a href="/OntologyBrowser/main.html" th:href="@{/OntologyBrowser/}" class="btn btn-primary btn-md" th:text="#{common.form.back.text}">.Back</a>          		
		</div>
	</div>
	
	</form>
			
		
	<!-- Placeholder for modal, do not remove -->
	<div class="row">
		<div class="col-md-12">	
			<div class="modal fade" id="manageOntologyModal"  role="dialog" aria-labelledby="manageOntologyModal" aria-hidden="true">
				<div class="modal-dialog modal-large" style="width:900px">
					<div class="modal-content" >
						
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->		
			 
		</div>
	</div>	
	
    <div class="row">
    	<div id="ontology-add-variable" th:include="/OntologyBrowser/addVariableSuccessful"></div>
    </div>
    <a style="display: none" id="ontologyBaseUrl" href="/OntologyManager/manage" th:href="@{/OntologyManager/manage/}">test</a>
</div>
<div layout:fragment="page-script">			
	<script type="text/javascript" th:src="@{/static/js/ontologyBrowser.js}"></script>
	
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[    
	var variableNameSuggestions = /*[[${variableNameSuggestionList}]]*/ null;
    var traitClassesSuggestions = /*[[${traitClassesSuggestionList}]]*/ null;
	var propertySuggestions = /*[[${propertiesSuggestionList}]]*/ null;
	var methodSuggestions = /*[[${methodsSuggestionList}]]*/ null;
	var scaleSuggestions = /*[[${scalesSuggestionList}]]*/ null;
	
	var variableNameSuggestions_obj = [];
  	var traitClassesSuggestions_obj = [];
  	var propertySuggestions_obj = [];
  	var methodSuggestions_obj = [];
  	var scaleSuggestions_obj = [];
  	
  	var treeDivId = 'traitClassBrowserTree';
  	var treeClassData = /*[[${traitClassTreeData}]]*/;
  	
  	var varId = /*[[${ontologyBrowserForm.variableId}]]*/;
  	var saveSuccessful = /*[[${ontologyBrowserForm.addSuccessful}]]*/;
  	var isDelete = /*[[${ontologyBrowserForm.isDelete}]]*/;
  	var name = /*[[${ontologyBrowserForm.newVariableName}]]*/;
  		 
  	var ontologyUrl = $('#ontologyBaseUrl').attr('href');
  	
	function validateCombo(combo) {
		var message = null;
		//check if field is blank	
		if ($("#combo"+combo).val() == "") {
			if (combo == "TraitClass") {
				message = /*[[#{ontology.browser.modal.combo.no.value(#{ontology.browser.modal.trait.class})}]]*/;
			} else if (combo == "Property") {
				message = /*[[#{ontology.browser.modal.combo.no.value(#{ontology.browser.modal.property})}]]*/;
			} else if (combo == "Method") {
				message = /*[[#{ontology.browser.modal.combo.no.value(#{ontology.browser.modal.method})}]]*/;
			} else {
				message = /*[[#{ontology.browser.modal.combo.no.value(#{ontology.browser.modal.scale})}]]*/;	
			}
			showMessage(message);		  
			return false;
		}
		//check if items to be added exists
		if (itemExists(combo)) {
			if (combo == "TraitClass") {
				message = /*[[#{ontology.browser.modal.item.exists(#{ontology.browser.modal.trait.class})}]]*/;
			} else if (combo == "Property") {
				message = /*[[#{ontology.browser.modal.item.exists(#{ontology.browser.modal.property})}]]*/;
			} else if (combo == "Method") {
				message = /*[[#{ontology.browser.modal.item.exists(#{ontology.browser.modal.method})}]]*/;
			} else {
				message = /*[[#{ontology.browser.modal.item.exists(#{ontology.browser.modal.scale})}]]*/;	
			}
			showMessage(message); 
			return false;
		}
		
		if(combo == 'Property'){
			//we need to check if the trait class has a value
			var dataVal = $("#comboTraitClass").select2("data");
			if(dataVal == null || dataVal.id == ''){
				message = /*[[#{ontology.browser.modal.trait.class.required}]]*/;
				showMessage(message);
				return false;
			}
			
		}
		
		return true;
	}
	
	 
    function do_validation() {
    	var message = null;
    	//check required fields
	    if (requiredFieldsEmpty()) {	
	    	message = /*[[#{ontology.browser.modal.error}]]*/;
	    	showMessage(message);
			return false;
	    }
	    //check combo values
	    if (comboValuesInvalid()) {
	    	message = /*[[#{ontology.browser.modal.invalid.value}]]*/;
	    	showMessage(message);
	    	return false;
	    }
    }
    
	$( document ).ready(function() {  	     
		loadOntologyCombos();
		loadTraitClassTree(treeDivId, "comboTraitClass", "traitClassDescription", treeClassData, 'comboTraitClass');
		setVisibleButtons(true, false, false);
		clearFields();
		
		if (saveSuccessful == "1" ) {
			if (isDelete == 0) {
				recreateVariableNameCombo("VariableName", varId, name);
			} else if (isDelete == 1) {
				recreateComboAfterDelete("VariableName", varId);	
			} else {
				preSelectAfterUpdate("VariableName", varId, name);
			}
		}
	});
	
	
  
      //]]>
    </script>
</div>