<div class="col-xs-10 col-md-10" xmlns:th="http://www.thymeleaf.org">
	<form onsubmit="javascript: return validateAdvanceStudy();" id="advanceNurseryModalForm" role="form-horizontal" action="#" th:action="@{/StudyManager/advance/study}" method="post" th:object="${advancingStudyForm}" enctype="multipart/form-data">

		<input type="hidden" th:field="*{breedingMethodUrl}"/>
		<input type="hidden" th:field="*{defaultMethodId}"/>
		<input type="hidden" th:field="*{nurseryId}"/>
		<input type="hidden" th:field="*{harvestDate}"/>
        <input type="hidden" th:field="*{selectedTrialInstances}"/>
		<input type="hidden" th:field="*{advanceType}"/>

		<div class="modal fade" id="advanceStudyModal" role="dialog" aria-labelledby="advanceStudyModal" aria-hidden="true">
			<div class="modal-dialog modal-large">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row form-group">
							<div class="col-xs-11 col-md-11" id="advanceNurseryModalHeader">
								<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{study.studydetails.action.advance}"></label>
							</div>
                            <div class="col-xs-11 col-md-11" id="advanceTrialModalHeader">
								<label class="modal-title fbk-modal-title" th:if="${advanceType} == 'sample'"
									   th:text="#{study.studydetails.action.advance.sample}"></label>
								<label class="modal-title fbk-modal-title" th:if="${advanceType} != 'sample'"
									   th:text="#{study.studydetails.action.advance.study}"></label>
                            </div>

							<div class="col-xs-1 col-md-1">
								<button  id="closeAdvanceStudyModal" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"/>
							</div>
						</div>

						<div class="row form-group">
							<div id="page-advance-modal-message"></div>
						</div>

						<div class="row form-group">
							<div class="col-xs-12 col-md-12" >
								<label class=""><em th:utext="#{fieldmap.mandatory.fields}"> Mandatory fields are noted with a *</em></label>
							</div>
						</div>
						<br/>
						<div id="methods-section">

							<div class="row form-group">
								<label class="control-label col-xs-12">
									<strong class="sub-content-heading" th:text="#{advancing.study.method}">METHODS</strong><span
										class="required" th:if="${advanceType} == 'sample'">*</span>
								</label>
							</div>

							<div class="row form-group">
								<label th:if="${advanceType} != 'sample'" class="control-label col-xs-6">
									<input type="checkbox" th:field="*{methodChoice}" th:value="*{methodChoice}"/>
									<span class="label-bold" th:text="#{advancing.study.breeding.method.the.same}">
										Breeding Method is the same for each advance
									</span>
								</label>
								<label th:if="${advanceType} == 'sample'" class="control-label col-xs-6">
									<span class="label-bold" th:text="#{study.advance.sample.breeding.method.label}">
										Breeding method
									</span>
								</label>

								<div class="row col-xs-6">
									<div class="col-xs-10 method-selection-div">
										<input type="hidden" th:field="*{methodIdAll}" class="select2 non-maize-control" placeholder=""/>
										<input type="hidden" th:field="*{methodIdFavorite}" class="select2 non-maize-control" placeholder=""/>
										<input type="hidden" th:field="*{methodIdDerivativeAndMaintenance}" class="select2 non-maize-control" placeholder=""/>
										<input type="hidden" th:field="*{methodIdDerivativeAndMaintenanceFavorite}" class="select2 non-maize-control" placeholder=""/>
										<input type="hidden" th:field="*{advanceBreedingMethodId}"/>
									</div>
									<div class="col-xs-2 method-selection-div help-tooltip-col">
										<span data-container="#advanceStudyModal .modal-body" id="method-tooltip" class="bms-fa-question-circle help-tooltip-study help-tooltip-study-advance" data-placement="top" data-toggle="tooltip" style="display:inline;"></span>
									</div>
								</div>
							</div>

							<div class="row form-group">

								<div class="col-sm-offset-6 col-xs-6 method-selection-div">
									<label class="radio-inline non-maize-control">
										<input id="showDerivativeAndMaintenanceRadio" name="advance_nursery_method_filter" value="1" type="radio" checked="checked" /> <span th:text="#{show.derivative.maintenance.method}">Derivative and Maintenance methods</span>
										&nbsp;&nbsp;
									</label>
								</div>

							</div>

							<div class="row form-group">

								<div class="col-sm-offset-6 col-xs-6 method-selection-div">
									<label class="radio-inline non-maize-control">
										<input id="showAllMethodsRadio" name="advance_nursery_method_filter" value="2" type="radio" /> <span th:text="#{show.all.methods}">All methods</span>
										&nbsp;&nbsp;
									</label>
								</div>

							</div>

							<div class="row form-group">

								<div class="col-sm-offset-6 col-xs-6 method-selection-div">
									<label class="non-maize-control">
										<input class="advance-fav-method-checkbox" id="showFavoriteMethod" value="1" type="checkbox" checked="checked" /> <span th:text="#{show.favorite.method}">Show Favorite Method</span>
										&nbsp;&nbsp;&nbsp;
										<a class="advance-manage-method" href="javascript: void(0)" th:text="#{advancing.study.manage.method}">Manage Methods</a>
									</label>
								</div>

							</div>

							<div class="row form-group" id="method-variates-section" th:if="${advanceType} != 'sample'" >
								<div class="col-xs-6">
									<label class="control-label label-bold" th:text="#{advancing.study.method.variate} + ':'">Choose a variate that defines the breeding method for each advance:</label>
								</div>
								<div class="col-xs-6">
									<select th:field="*{methodVariateId}">
										<option th:each="methodVariate : *{methodVariates}" th:value="${methodVariate.id}" th:text="${methodVariate.name}">
										</option>
									</select>
								</div>
							</div>
						</div>

						<div class="lines-section" th:if="${advanceType} != 'sample'">
							<div class="row form-group">
								<label class="control-label col-xs-12 add_top_padding" ><strong class="sub-content-heading" th:text="#{advancing.study.lines}">LINES</strong> </label>
							</div>
							<div class="row form-group ">
								<label class="control-label col-xs-6">
									<input type="checkbox" th:field="*{lineChoice}" th:value="*{lineChoice}"/>
									<span class="label-bold" th:text="#{advancing.study.line.the.same}">Same number of lines is selected for each plot</span>
								</label>
							</div>

							<div class="row form-group lines-per-plot-section">
								<label class="control-label label-bold col-xs-6" th:text="#{advancing.study.number.of.samples.plot} + ':'">Lines Selected per Plot:</label>

								<div class="col-xs-3">
									<input class="form-control" type="text" th:field="*{lineSelected}" maxlength="3"/>
								</div>

							</div>
							<div class="row form-group" id="line-variates-section">
								<label class="control-label label-bold col-xs-6" th:text="#{advancing.study.lines.variate}"></label>
								<div class="col-xs-6">
									<select th:field="*{lineVariateId}" class="ps-variate-selection">
										<option th:each="lineVariate : *{lineVariates}" th:value="${lineVariate.id}" th:text="${lineVariate.name}">
										</option>
									</select>
								</div>
							</div>
						</div>
						<div class="bulk-section" th:if="${advanceType} != 'sample'">
							<div class="row form-group">
								<label class="control-label col-xs-12 add_top_padding" ><strong class="sub-content-heading" th:text="#{advancing.study.bulks}">BULKS</strong> </label>
							</div>
							<div class="row form-group">
								<label class="control-label col-xs-6">
									<input type="checkbox" th:field="*{allPlotsChoice}" th:value="*{allPlotsChoice}" />
									<span class="label-bold" th:text="#{advancing.study.all.plots.selected}">All plots are selected</span>
								</label>
							</div>

							<div class="row form-group" id="plot-variates-section">
								<div class="col-xs-6">
									<label class="control-label label-bold" th:text="#{advancing.study.bulks.variate}"></label>
								</div>
								<div class="col-xs-6">
									<select th:field="*{plotVariateId}">
										<option th:each="plotVariate : *{plotVariates}" th:value="${plotVariate.id}" th:text="${plotVariate.name}">
										</option>
									</select>
								</div>
							</div>
						</div>

						<div class="plants-section" th:if="${advanceType} == 'sample'">
							<!-- static content for now -->
							<!-- Functionality may be added in the future -->
							<div class="row form-group">
								<label class="control-label col-xs-12 add_top_padding"><strong class="sub-content-heading"
																							   th:text="#{study.advance.plants.label}">PLANTS</strong><span
									class="required">*</span>
								</label>
							</div>
							<div class="row form-group">
								<label class="control-label col-xs-12 add_top_padding">
									<input type="radio" checked="checked" th:disabled="true"/> <span
									th:text="#{study.advance.plants.all.radio}">All plants are selected</span>
								</label>
							</div>
						</div>

                        <div id="reps-section" th:unless="${#lists.isEmpty(replicationsChoices)}">
                            <div class="row form-group">
                                <label class="control-label col-xs-12 add_top_padding" ><strong class="sub-content-heading" th:text="#{advancing.study.reps}">REPS</strong> </label>
                            </div>
                            <div class="row form-group">

                                <div id="replications" class="col-xs-2" th:each="repIndex: ${replicationsChoices}"  >
                                        <input type="checkbox" class="replication" th:field="*{selectedReplications}" th:value="${repIndex}" />
                                        <span class="label-bold" th:text="${repIndex}"></span>
                                </div>
                                <input type="checkbox" id="selectAllReps" />
                                <span class="label-bold" th:text="#{advancing.study.select.all}">Select All</span>

                            </div>
                        </div>

						<div id="harvest-details-section" th:style="${advanceType} != 'trial' ? 'display:block' : 'display:none'"> <!-- harvest details -->
							<div class="row form-group">
								<label class="control-label col-xs-12 add_top_padding"><strong class="sub-content-heading"
																							   th:text="#{advancing.study.harvest.information}">Harvest
									Details</strong><span class="required" th:if="${advanceType} == 'sample' ">*</span></label>
							</div>
							<div th:if="${advanceType} != 'sample' "><!-- only for Nursery -->
								<div class="row form-group">
									<label class="control-label label-bold col-xs-6" th:text="#{advancing.study.harvest.location}">Harvest Location:</label><span class="required"></span>
									<div class="row col-xs-6">
										<div class="col-xs-10">
											<input type="hidden" th:field="*{harvestLocationIdAll}" class="select2" placeholder=""/>
											<input type="hidden" th:field="*{harvestLocationIdBreeding}" class="select2" placeholder=""/>
											<input type="hidden" th:field="*{harvestLocationIdBreedingFavorites}" class="select2" placeholder=""/>
											<input type="hidden" th:field="*{harvestLocationIdFavorite}" class="select2" placeholder=""/>
											<input type="hidden" th:field="*{harvestLocationId}"/>
											<input type="hidden" th:field="*{harvestLocationName}" />
											<input type="hidden" th:field="*{harvestLocationAbbreviation}" />
										</div>
										<div class="col-xs-2 help-tooltip-col">
											<span data-container="#advanceStudyModal .modal-body" id="harvestloc-tooltip" class="bms-fa-question-circle help-tooltip-study help-tooltip-study-advance" data-placement="top" data-toggle="tooltip"></span>
										</div>
									</div>
								</div>

								<div class="row form-group">
									<div class="col-sm-offset-6 col-xs-6">
										<label class="radio-inline">
											<input id="showBreedingLocationOnlyRadio" name="advance_nursery_location_filter" value="1" type="radio" checked="checked" /> <span th:text="#{show.breeding.location}">Breeding locations</span>
											&nbsp;&nbsp;
										</label>
										<label class="radio-inline">
											<input id="showAllLocationOnlyRadio" name="advance_nursery_location_filter" value="2" type="radio" /> <span th:text="#{show.all.location}">All locations types</span>
											&nbsp;&nbsp;
										</label>
									</div>
								</div>
								<div class="row form-group">
									<div class="col-sm-offset-6 col-xs-6">
										<label class="control-label">
											<input class="advance-favorite-location-checkbox" id="showFavoriteLocation" value="1" type="checkbox" checked="checked"/> <span th:text="#{show.favorite.location}">Show Favorite Location</span>
											&nbsp;&nbsp;&nbsp;
											<a class='advance-manage-location' href="javascript: void(0)" th:text="#{advancing.study.manage.location}">Manage Locations</a>
										</label>
									</div>
								</div>
							</div>

							<div class="row form-group">
								<label class="control-label label-bold col-xs-6" th:text="#{advancing.study.harvest.date}">Harvest Date</label><span class="required"></span>

								<div class="col-xs-6">
									<div class="pull-left" style="padding-right: 20px">
										<select class="fbk-harvest-year" th:field="*{harvestYear}" style="width: 100px">
											<option th:each="year : ${yearChoices}" th:value="${year.val}" th:text="${year.name}">
											</option>
										</select>
									</div>
									<div class="pull-left">
										<select th:field="*{harvestMonth}" style="width: 100px">
											<option th:each="month : ${monthChoices}" th:value="${month.val}" th:text="${month.name}"></option>
										</select>
									</div>
								</div>

							</div>
						</div>

                        <div id="advance-locations-section" th:if="${advanceType} == 'trial'">
                            <div class="row form-group">
                                <label class="control-label col-xs-12 add_top_padding" ><strong class="sub-content-heading" th:text="#{advancing.study.location.information}">Location Details</strong> </label>
                            </div>

                            <div class="row form-group">
                               <div class="col-xs-10" style="padding-left: 5%">
                                   <div id="location-details-section" class="row form-group">
                               </div>
                            </div>
                        </div>
                        </div>
					</div> <!-- Modal Body -->
					<div class="modal-footer">
						<button id="nurseryModalCancel" type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">
							Cancel
						</button>
                        <button id="nurseryModalBack" type="button" class="btn btn-default" onclick="javascript: backAdvanceStudy();" aria-hidden="true" th:text="#{common.form.back.text}">
                            Back
                        </button>
						<button type="button" class="btn btn-primary" aria-hidden="true" onclick="javascript: callAdvanceStudy();" th:text="#{common.form.finish.text}">
							Finish
						</button>
					</div>
				</div> <!-- Modal Content -->
			</div>
		</div>
	</form>
</div>
<div class="row">
	<div th:include="/Common/includes/advanceGermplasmChangeConfirmation"></div>
</div>
<div layout:fragment="page-script">
<script type='text/javascript' th:inline="javascript">
//<![CDATA[

// FIXME Should not be using global variables or functions
/*global getJquerySafeId, recreateLocationCombo, recreateModalMethodCombo, showCorrectLocationCombo*/
/*global showCorrectMethodCombo, checkMethod, lineMethod, plotMethod, validatePlantsSelected*/
/*global oldMethodSelected, oldLineSelected, lineMethod, plotMethod, validatePlantsSelected*/
/*global methodSuggestions, openManageLocations, openManageMethods*/

// FIXME These variables should be camel case, and should not be global. Dangerous to fix right now,
// because they are used in so many other files. Don't use ignore! This should be fixed!

/* jshint ignore:start */
var locationSuggestions = /*[[${locationList}]]*/ null,
	locationSuggestions_obj = [],

	locationSuggestionsFav = /*[[${favoriteLocationList}]]*/ null,
	locationSuggestionsFav_obj = [],

	selectedLocationBreedingFavorites_obj = [],
	locationSuggestionsBreeding_obj = [],

	methodSuggestions = /*[[${methodList}]]*/ null,
	methodSuggestions_obj = [],

	methodSuggestionsFav = /*[[${favoriteMethodList}]]*/ null,
	methodSuggestionsFav_obj = [],

	methodSuggestionsDerivativeAndMaintenance_obj = [],
	methodSuggestionsDerivativeAndMaintenanceFavorites_obj = [],

	msgSamplePlotError = /*[[#{advancing.study.number.of.plot.error}]]*/ '',
	msgHarvestDateError = /*[[#{advancing.study.harvest.date.error}]]*/ '',
	msgMethodError = /*[[#{advancing.study.method.error}]]*/ '',

	oldLineSelected = '',
	oldMethodSelected = '',

	locationIframeOpened = false,
	methodIframeOpened = false,

	linesNotWholeNumberError = /*[[#{error.advancing.study.whole.numeric.lines}]]*/ '',
    msgEmptyListErrorTrial = /*[[#{study.advance.study.empty.list.error}]]*/ '',
    noMethodVariatesErrorTrial = /*[[#{error.advancing.study.no.method.variates}]]*/ '',
    noLineVariatesErrorTrial = /*[[#{error.advancing.study.no.line.variates}]]*/ '',

    noMethodValueErrorTrial = /*[[#{study.advance.study.empty.method.error}]]*/ '',
    listShouldNotBeEmptyError = /*[[#{study.save.advance.error.row.list.empty}]]*/ '',
    locationTooltipMessage = /*[[#{advance.study.location.tooltip.message} + ' ']]*/ '',
    noReplicationSelectedError = /*[[#{error.advancing.study.one.selected.reps}]]*/ '';

/* jshint ignore:end */

function changeSuffix() {
	'use strict';

	var $input = $('input[type=checkbox][name=methodChoice]'),
		$methodSelectionInput = $('.method-section input'),
		$methodIdAll = $('#methodIdAll'),
		$methodIdDerivativeAndMaintenance = $('#methodIdDerivativeAndMaintenance'),
		$methodIdDerivativeAndMaintenanceFavorite = $('#methodIdDerivativeAndMaintenanceFavorite'),
		$methodIdFavorite = $('#methodIdFavorite'),
		$methodsSection = $('#methods-section');

	$input.prop('disabled', false);

	checkMethod();
}

function showBulkSection(isBulk) {
	'use strict';

	if ($('input[type=checkbox][name=methodChoice]:checked').val() !== '1') {
		$('.bulk-section').css('display', 'block');
		$('.lines-section').css('display', 'block');
	} else if (isBulk) {
		$('.bulk-section').css('display', 'block');
		$('.lines-section').css('display', 'none');
	} else {
		$('.bulk-section').css('display', 'none');
		$('.lines-section').css('display', 'block');
	}
}

function changeAdvanceBreedingMethod() {
	'use strict';

	var bMethodId = $('#advanceBreedingMethodId').val(),
		isBulk = false,
		i;

	for (i = 0; i < methodSuggestions.length; i++) {
		if (methodSuggestions[i].mid == bMethodId) {
			if (methodSuggestions[i].bulkingMethod === true) { // Bulk
				isBulk = true;
			}
			break;
		}
	}
	showBulkSection(isBulk);
}

$(function() {
	'use strict';

	$('#s2id_harvestLocationIdFavorite').hide();
	$('#s2id_harvestLocationIdAll').hide();
	$('#s2id_harvestLocationIdBreedingFavorites').hide();
	$('#s2id_harvestLocationIdBreeding').show();

	$('#s2id_methodIdFavorite').hide();
	$('#s2id_methodIdDerivativeAndMaintenance').hide();
	$('#s2id_methodIdDerivativeAndMaintenanceFavorite').hide();
	$('#s2id_methodIdAll').show();

	recreateLocationCombo();
	recreateModalMethodCombo('advanceBreedingMethodId', 'showAdvanceFavoriteMethod', getAdvanceBreedingMethodURL());

	$('#showFavoriteLocation, #showAllLocationOnlyRadio, #showBreedingLocationOnlyRadio').on('change', function() {
		showCorrectLocationCombo();
	});
	
	$('#showFavoriteMethod, #showAllMethodsRadio, #showDerivativeAndMaintenanceRadio').on('change', function() {
		showCorrectMethodCombo();
	});

	$('input[type=checkbox][name=methodChoice]').on('change', checkMethod);

	$('input[type=checkbox][name=lineChoice]').on('change', lineMethod);

	$('input[type=checkbox][name=allPlotsChoice]').on('change', plotMethod);

	oldMethodSelected = $('#defaultMethodId').val();
	oldLineSelected = $('#lineSelected').val();

	initializeMethodSelect2(methodSuggestions, methodSuggestions_obj, 'methodIdAll');
	initializeMethodSelect2(methodSuggestionsFav, methodSuggestionsFav_obj, 'methodIdFavorite');
	
	setFavoriteMethodCheckbox();

	var inputStudyLevelMethodElm = $('input.study-level-method');

	if (inputStudyLevelMethodElm !== null && inputStudyLevelMethodElm.val() !== '' && inputStudyLevelMethodElm.val() !== '0'
            && inputStudyLevelMethodElm.val() !== undefined) {
		oldMethodSelected = inputStudyLevelMethodElm.val();
		$('input.advance-fav-method-checkbox').prop('checked', $('input.study-level-method-checkbox').is(':checked'));
	}
	var locationRowIndex = getLocationRowIndex();
	if (locationRowIndex > -1) {
		var studyLevelVariableRowIndexIdValueElm = $('#' + getJquerySafeId('studyLevelVariables' + locationRowIndex + '.value'));
		var studyLevelVariableRowIndexFavoriteElm = $('#' + getJquerySafeId('studyLevelVariables' + locationRowIndex + '.favorite1'));
		if (studyLevelVariableRowIndexIdValueElm.length !== 0 && studyLevelVariableRowIndexIdValueElm.select2('data') !== null) {
			$('input.advance-favorite-location-checkbox').prop('checked', studyLevelVariableRowIndexFavoriteElm.is(':checked'));
			showCorrectLocationCombo();
			var chosenSettingsLocationId = studyLevelVariableRowIndexIdValueElm.select2('data').id,
				indexCounter = 0;
			if (studyLevelVariableRowIndexFavoriteElm.is(':checked')) {
				//meaning favorite is checked
				var harvestLocIdFavElm = $('#harvestLocationIdFavorite');
				harvestLocIdFavElm.select2('data', studyLevelVariableRowIndexIdValueElm.select2('data'));
				for (indexCounter = 0 ; indexCounter < locationSuggestionsFavObj.length; indexCounter++) {
					if (locationSuggestionsFavObj[indexCounter].id == chosenSettingsLocationId) {
						harvestLocIdFavElm.select2('data', locationSuggestionsFavObj[indexCounter]);
						break;
					}
				}
			} else {
				for (indexCounter = 0 ; indexCounter < locationSuggestionsObj.length; indexCounter++) {
					if (locationSuggestionsObj[indexCounter].id == chosenSettingsLocationId) {
						$('#harvestLocationIdAll').select2('data', locationSuggestionsObj[indexCounter]);
                        // Set harvest location abbreviation which will be fetched while initializing drop down
                        $('#' + getJquerySafeId('harvestLocationAbbreviation')).val($('#' + getJquerySafeId('harvestLocationIdAll')).select2('data').abbr);
						break;
					}
				}
			}
		}
	}

	showCorrectMethodCombo();

	checkMethod();
	lineMethod();
	plotMethod();
	changeSuffix();

	$('#advanceBreedingMethodId').on('change', changeAdvanceBreedingMethod);
	changeAdvanceBreedingMethod();

	var advNurseryModalElm = $('#advanceStudyModal');

	// remove any other listeners for the location update
	$(document).off('location-update');
	$(document).on('location-update', recreateLocationCombo);
	$('.advance-manage-method').on('click', function() {
		advNurseryModalElm.modal('hide');
		advNurseryModalElm.data('open', '1');
		setTimeout(openManageMethods, 500);
	});
	$('.advance-manage-location').on('click', function() {
		advNurseryModalElm.modal('hide');
		advNurseryModalElm.data('open', '1');
		setTimeout(openManageLocations, 500);
	});
	advNurseryModalElm.data('open', '0');

	$("#nurseryModalCancel").hide();
	$("#reps-section").show();

	$("#advanceNurseryModalHeader").hide();
	$("#advanceTrialModalHeader").show();

    // Select All Replication checkbox when click on select All
    $("#selectAllReps").change(function(){
        $(".replication").prop('checked', $(this).prop("checked"));
    });

});
//]]>
</script>
</div>
