<div class="row form-group collapse in germplasmListDetails germplasmAndCheckSection">
	<!-- Germplasm List Table View -->
	<div>
		<div class="row form-group overwrite-germplasm-list col-xs-12 col-md-12">
			<div class="col-xs-12 col-md-12">
				<label class="control-label" th:text="#{study.edit.study.overwrite.germplasm.list.message}">
				</label>
				&nbsp;&nbsp;&nbsp;
				<button class="btn btn-primary" onclick="showGermplasmDetailsSection();" th:text="#{germplasm.replace}">Overwrite</button>
			</div>
		</div>
		<div class="row form-group observation-exists-notif col-xs-12 col-md-12">
			<div class="col-xs-12 col-md-12">
				<label class="control-label">
					<strong class="sub-content-heading" th:text="#{study.edit.study.cannot.modify.germplasm.list.message}">This Nursery
						has saved observations, germplasm list cannot be modified.</strong>
				</label>
			</div>
		</div>
		<div id="primary-section" class="col-xs-8 col-md-8">
			<div><img th:src="@{/static/img/review-list-details.png}"/>
				<label class="control-label"><strong id="germplasmLabel" class="sub-content-heading"
													 th:text="#{germplasm.list.study.list}">Nursery List</strong></label>
			</div>
			<div class="browse-import-link">
				<label class="control-label"><a href="javascript: openListTree(1)">Browse</a> a list to work with.</label>
			</div>
		</div>
		<div id="checks-section" style="padding-top: 8px" class="col-xs-4 col-md-4 nopadding">
			<div class="col-xs-10 nopadding">
				<div>
					<div style="display:inline-block; width: 30px; padding: 4px 0 5px 0"><img th:src="@{/static/img/build-new-list.png}"/>
					</div>
					<label class="control-label"><strong class="sub-content-heading" th:text="#{germplasm.list.selected.check.list}">Selected
						Checks</strong></label>
				</div>
				<div class="browse-import-link">
					<label class="control-label"><a href="javascript: openListTree(2)">Browse</a> a list to work with, <span
						th:text="#{germplasm.list.selected.check.added.reminder}"> or drag germplasm from your nursery list.</span></label>
				</div>

			</div>
			<div class="col-xs-2 nopadding">
				<a class="pull-right btn btn-info" href="javascript: showManageCheckTypePopup()"
				   th:text="#{germplasm.list.manage.check.types}">Manage Checks</a>
			</div>
		</div>
	</div>
	<div>
		<div class="col-xs-8 col-md-8" id="entries-details" style="display: none">
			Total Entries: <label class="control-label control-label-bold" id="numberOfEntries"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
			href="javascript: void(0)" class="view-header"
			onclick="javascript: viewGermplasmLitDetails();">View Header</a>
		</div>
		<div id="check-details" class="fbk-hide">

		</div>
	</div>
</div>
<div class="row form-group collapse in germplasmListDetails">
	<!-- Germplasm List Table View -->
	<div>
		<div class="col-xs-8 col-md-8">
			<div id="imported-germplasm-list" class="list-droppable primary">
			</div>
		</div>

		<div class="col-xs-4 col-md-4 nopadding">
			<div id="check-germplasm-list" class="list-droppable check">
			</div>
			<table class="table table-curved table-condensed fake-check-germplasm-list-items fbk-hide">
				<thead>
				<tr>
					<th style="text-align: left; vertical-align: middle" th:utext="#{study.import.header.designation}">.Designation</th>
					<th style="text-align: left; vertical-align: middle" th:utext="#{study.import.header.check}">.Check</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="even">&nbsp;</td>
					<td class="even">&nbsp;</td>
				</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>

<div class="row form-group collapse in germplasmListDetails">
	<!-- Germplasm List Table View -->
	<div class="col-xs-12 col-md-12">
		<div id="specifyCheckSection" style="display: none" th:include="/StudyManager/includes/importGermplasmListCheckSection"/>
	</div>
</div>

<input type="hidden" id="keyForOverwrite" value=""/>
<input type="hidden" id="lastCheckSourcePrimary" value=""/>

<!-- Modal for overwriting checks list -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{common.form.confirmation.text}"></label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button id="close" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal"
								aria-hidden="true"/>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-xs-12 col-md-12" th:text="#{import.germplasm.overwrite.current.checks}">
						Are you sure you want to overwrite existing checks with a new one?
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">
					Cancel
				</button>
				<button type="button" th:value="#{common.form.ok.text}" data-dismiss="modal" class="btn btn-primary"
						th:text="#{common.form.ok.text}" onclick="javascript: overwriteChecksList();">Ok
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="confirmReplaceListModal" tabindex="-1" role="dialog" aria-labelledby="confirmReplaceListModal"
	 aria-hidden="true">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">
			<div class="modal-body">

				<div class="row form-group">
					<div class="col-xs-11 col-md-11">
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{common.form.confirmation.text}"></label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button id="close" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal"
								aria-hidden="true"/>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-xs-12 col-lg-12" th:text="#{germplasm.list.confirm.replace.with.check}">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<input type="hidden" id="replaceListId"/>
				<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.no.text}">
					Cancel
				</button>
				<button type="button" th:value="#{common.form.ok.text}" data-dismiss="modal" class="btn btn-primary"
						th:text="#{common.form.yes.text}" onclick="javascript: confirmReplaceList();">Ok
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal for removing check if it is set as starting entry -->
<div class="modal fade" id="removeCheckModal" tabindex="-1" role="dialog" aria-labelledby="removeCheckModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">
						<label class="modal-title fbk-modal-title" id="heading-modal"></label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"/>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-xs-12 col-lg-12" th:text="#{import.germplasm.remove.check}">
						The specified starting entry is already assigned as a check, do you want to continue and remove it from the checks
						list?
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">
					Cancel
				</button>
				<button type="button" th:value="#{common.form.ok.text}" data-dismiss="modal" class="btn btn-primary"
						th:text="#{common.form.ok.text}" onclick="javascript: removeCheckFromList();">Ok
				</button>
			</div>
		</div>
	</div>
</div>

<div th:include="/Common/browseGermplasmListTable"></div>

<div class="row">
	<div id="manage-location" th:include="/StudyManager/includes/importGermplasmListModal"></div>
</div>
<div class="row">
	<div id="manage-location" th:include="/StudyManager/includes/importGermplasmListManageCheckType"></div>
</div>


<!-- Scripts location, note that the div tag will be remove after merging to decorator -->
<div layout:fragment="page-script">
	<script type="text/javascript" th:src="@{/static/js/fbk-data-table/fieldbook-datatable.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery-multisortable.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery.tablednd.0.7.min.js}"></script>

	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[
		/*globals Spinner, moveToTopScreen, getDisplayedTreeName, showSpecifyCheckSection, setSpinnerMaxValue*/
		/*globals prevStartIndex, showErrorMessage,germplasmAddedAsCheck, openTreeType, sameListErr*/
		/*globals changeBrowseGermplasmButtonBehavior, getJquerySafeId, displayGermplasmListTree, pleaseChooseFolder*/
		/*globals addFakeCheckTable, openGermplasmListDetailsPopop*/
		/*exported startIndex,germplasmStartingEntry,importLocationUrl,importIframeOpened,overwriteChecksList*/
		/*exported confirmReplaceList,resetGermplasmList,removeCheckFromList,openListTree,viewGermplasmLitDetails */
		/*exported additionalLazyLoadUrl, chooseList*/

		measurementRowCount = /*[[${createTrialForm.measurementRowList.size()}]]*/ 0;

		// TODO This function shoould not exist
		function makeCheckDraggable(isDraggable) {
			'use strict';

			makeCheckDraggableBool = isDraggable;

			// isDraggable is always false, analyze to change this function
			isDraggable = isDraggable
				&& (($('#chooseGermplasmAndChecks').data('replace') && parseInt($('#chooseGermplasmAndChecks').data('replace')) === 1
					|| ($('#studyId').length === 0 && false))
					|| $('#studyId').length > 0 && false && measurementRowCount === 0)
				&& (lastDraggedChecksList.toString() === '' || lastDraggedChecksList.toString() === '0');

			//enable drag and drop if replace is clicked and checks are from a list,
			//or if update but no measurements yet,
			//or if it is in create study
			if (isDraggable) {
				$('.check-germplasm-list-items tbody tr').draggable({

					helper: function (/*event, ui*/) {

						var width = $(this)[0].offsetWidth,
							selected = $('.check-germplasm-list-items tr.checkGermplasmSelectedRow'),
							container;

						if (selected.length === 0) {
							selected = $(this).addClass('checkGermplasmSelectedRow');
						}

						container = $('<table style="width:' + width + 'px; background-color:green;"/>').attr('id', 'draggingContainer');
						container.append(selected.clone().removeClass('checkGermplasmSelectedRow'));
						return container;
					},

					revert: 'invalid',

					start: function (/*event, ui*/) {
						var selected = $('.check-germplasm-list-items tr.checkGermplasmSelectedRow');
					},

					stop: function (/*event, ui*/) {
						var selected = $('.check-germplasm-list-items tr.checkGermplasmSelectedRow');
						$(selected).css('opacity', '1');
					},

					zIndex: 9999,

					appendTo: '#chooseGermplasmAndChecks'
				});

				$('.check-germplasm-list-items tbody tr').off('click').on('click', function () {
					$(this).toggleClass('checkGermplasmSelectedRow');
				});

			} else {
				if ($('.check-germplasm-list-items .ui-draggable').length !== 0) {
					$('.check-germplasm-list-items tbody  tr').draggable('destroy');
				}
				$('.check-germplasm-list-items tbody tr').off('click');
			}

			// Change the background of selected rows
			$('.check-germplasm-list-items tr.checkGermplasmSelectedRow').removeClass('checkGermplasmSelectedRow');
		}

		function addCheckGermplasmList(entryNumber, gid, index) {
			'use strict';
			// FIXME Not sure if the following condition is relying on implicit type conversion. See other instances of this in this file

			// If the germplasm record has been specified as starting index
			if (addedGid[gid] == null) {
				addedGid[gid] = gid;
			} else {
				var itemsAddedCounter = 0;
				for (itemsAddedCounter = 0; itemsAddedCounter < itemsIndexAdded.length; itemsAddedCounter++) {
					if (itemsIndexAdded[itemsAddedCounter] !== null && parseInt(itemsIndexAdded[itemsAddedCounter].index, 10) === index) {
						showErrorMessage('page-message', germplasmAddedAsCheck);
						moveToTopScreen();
						return false;
					}
				}


			}

			var selectedCheckVal = '';
			for (var checkIndex = 0; checkIndex < $('.checkRow').length; checkIndex++) {
				var checkId = $('select.checklist-select:eq(' + checkIndex + ')').val();
				if (checkId === '') {
					checkId = '0';
				}
				selectedCheckVal += checkId + ':';
			}

			$.ajax({
				url: '/Fieldbook/StudyManager/importGermplasmList/addCheckGermplasmDetails/' + entryNumber,
				type: 'GET',
				data: 'selectedCheckVal=' + selectedCheckVal,
				cache: false,
				async: false,

				success: function (html) {

					$('#check-germplasm-list').html(html);
					showSpecifyCheckSection();
					checksFromPrimary++;
					setSpinnerMaxValue();
					itemsIndexAdded.push({'entry': entryNumber, 'gid': gid, 'index': index});

					if (index == $('#startIndex2').val() && $('.check-germplasm-list-items .ui-draggable').length !== 0) {
						index++;
						prevStartIndex = $('#startIndex2').val();
					}
					$('#check-details').removeClass('fbk-hide');
				}
			});
			return true;
		}

		function showSpecifyCheckSection() {
			'use strict';

			if ($('.check-germplasm-list-items tr').length === 0) {
				$('#specifyCheckSection').css('display', 'none');
				$('#check-germplasm-list-reset-button').css('opacity', '0');
			} else {
				$('#check-germplasm-list-reset-button').css('opacity', '1');
				$('#specifyCheckSection').css('display', 'block');
			}
			if ($('#chooseGermplasmAndChecks').data('replace') === '0') {
				disableCheckVariables(true);
			}
		}

		function hideAddCol(isHide) {
			'use strict';

			makeGermplasmListDraggable(!isHide);
			makeDraggableBool = !isHide;
		}

		function displayGermplasmCheckDetails(listId) {
			'use strict';

			hideAddCol(false);
			$('#' + getDisplayedTreeName()).find('*').removeClass('dynatree-selected');

			$.ajax({
				url: '/Fieldbook/StudyManager/importGermplasmList/displayCheckGermplasmDetails/' + listId,
				type: 'GET',
				cache: false,

				success: function (html) {
					$('#check-germplasm-list').html(html);
					showSpecifyCheckSection();
					checksFromPrimary = 0;
					setSpinnerMaxValue();
					itemsIndexAdded = [];
					$('#check-details').removeClass('fbk-hide');
				}
			});
		}

		function resetCheckList() {
			'use strict';
			hideAddCol(false);
			$('#check-germplasm-list').html('');

			$.ajax({
				url: '/Fieldbook/StudyManager/importGermplasmList/resetCheckGermplasmDetails',
				type: 'GET',
				cache: false,
				async: false,

				success: function () {
					addedGid = {};
					showSpecifyCheckSection();
					makeCheckDraggable(true);
					// Set primary germplasm list rows' opacity to 1
					$('.germplasm-list-items tbody tr').css('opacity', '1');
					lastDraggedChecksList = 0;
					$('#check-details').addClass('fbk-hide');
				}
			});
			addFakeCheckTable();
		}

		function overwriteChecksList() {
			'use strict';

			var i;

			if ($('#keyForOverwrite').val() !== '') {
				displayGermplasmCheckDetails($('#keyForOverwrite').val());
			} else {
				resetCheckList();
				for (i = 0; i < itemsToAdd.length; i++) {
					addCheckGermplasmList(itemsToAdd[i].entry, itemsToAdd[i].gid, itemsToAdd[i].index)
				}
				$('.germplasm-list-items tr.germplasmSelectedRow').removeClass('germplasmSelectedRow');
			}
		}

		function deleteCheckGermplasmList(entryNumber, gid, rowObj, isDropDelete) {
			'use strict';
			$.ajax({
				url: '/Fieldbook/StudyManager/importGermplasmList/deleteCheckGermplasmDetails/' + gid,
				type: 'GET',
				cache: false,
				async: false,

				success: function () {

					var indexItems,
						rowGid;

					addedGid[gid] = null;
					checksFromPrimary--;
					setSpinnerMaxValue();

					if (itemsIndexAdded != null && itemsIndexAdded.length > 0) {

						for (indexItems = 0; indexItems < itemsIndexAdded.length; indexItems++) {
							if (itemsIndexAdded[indexItems] != null) {
								rowGid = itemsIndexAdded[indexItems].gid;

								// FIXME Not sure if this is relying on implicit type conversion
								if (rowGid == gid) {
									itemsIndexAdded[indexItems] = null;
									break;
								}

							}
						}
					}
					if (rowObj !== null && $(rowObj) != null) {
						if ($('.check-germplasm-list-items tbody tr').length != 0 && selectedCheckListDataTable !== null && selectedCheckListDataTable.getDataTable() !== null) {
							selectedCheckListDataTable.getDataTable().fnDeleteRow($(rowObj), null, true);
							if (selectedCheckListDataTable.getDataTable().$('tr').length == 0) {
								//we call the reset
								resetCheckList();
							} else if (isDropDelete !== true) {
								reloadCheckListTable();
								;
							}
						}
					}
				}
			});
		}

		function isFunction(functionToCheck) {
			'use strict';
			var getType = {};
			return functionToCheck && getType.toString.call(functionToCheck) === '[object Function]';
		}


		function confirmReplaceList() {
			'use strict';

			displayListDetails($('#confirmReplaceListModal #replaceListId').val());
		}

		function isGidInCheckList(gid) {
			'use strict';

			var entryNo = 0;
			$.each($('.check-germplasm-list-items tbody tr'), function (index, row) {
				if ($(row).data('gid') == gid) {
					entryNo = parseInt($(row).data('entry'), 10);
				}
			});
			return entryNo;
		}

		function removeCheckFromList() {
			'use strict';

			var gid = $('tr.checkRow[data-index="' + $('#startIndex2').val() + '"]').data('gid'),
				entryNo = isGidInCheckList(gid);

			deleteCheckGermplasmList(entryNo, gid, null);
			$.each($('.germplasm-list-items tbody tr'), function (index, row) {
				if ($(row).data('entry') == entryNo && $(row).data('gid') == gid) {
					$(row).removeAttr('style');
				}
			});


			$('.check-germplasm-list-items tr[data-entry=' + entryNo + ']').remove();
			if ($('.check-germplasm-list-items tbody tr').length === 0) {
				resetCheckList();
			}
		}

		function activateDroppable() {
			'use strict';

			$('.list-droppable').droppable({
				tolerance: 'pointer',
				addClasses: true,
				over: function (/*event, ui*/) {
				},

				drop: function (event, ui) {

					if ($('#listTreeModal').hasClass('in') === true) {
						return false;
					}
					var source = ui.helper.data('dtSourceNode') || ui.draggable;

					if (!isFunction(source.data)) {
						if ($(this).hasClass('primary')) {
							if (lastDraggedChecksList != source.data.key) {
								// Loads the primary germplasm list
								lastDraggedPrimaryList = source.data.key;
								displayGermplasmDetails(source.data.key);
							} else {
								showErrorMessage('page-message', sameListErr);
								moveToTopScreen();
							}
						} else if ($(this).hasClass('check')) {
							if (lastDraggedPrimaryList != source.data.key) {
								// Loads the check list
								$('#lastCheckSourcePrimary').val(0);
								lastDraggedChecksList = source.data.key;

								// Set primary germplasm list rows' opacity to 1
								$('.germplasm-list-items tbody tr').css('opacity', '1');

								// If there is an existing list already, ask user if data should be overwritten
								if ($('.check-germplasm-list-items tbody tr').length > 0) {
									$('#keyForOverwrite').val(source.data.key);
									$('#confirmationModal').modal('show');
								} else {
									displayGermplasmCheckDetails(source.data.key);
								}
								makeCheckDraggable(false);
							} else {
								showErrorMessage('page-message', sameListErr);
								moveToTopScreen();
							}
						}
					} else if (isFunction(source.data) && $(this).hasClass('check') &&
						$(ui.helper.find('tr').get(0)).hasClass('primaryRow')) {

						// If not all items are dragged to the checks list
						if (ui.helper.find('tr').length !== $('.germplasm-list-items tbody tr').length - ui.helper.find('tr').length) {
							// Adds the dragged germplasms to the check list
							if (lastDraggedChecksList != 0) {
								itemsToAdd = [];
								$('#keyForOverwrite').val('');
								$('.primaryRow.germplasmSelectedRow').each(function () {
									var entryNumber = $(this).data('entry');
									var gid = '' + $(this).data('gid');
									var index = $(this).data('index');
									itemsToAdd.push({'entry': entryNumber, 'gid': gid, 'index': index});
								});

								$('#confirmationModal').modal('show');
							} else {

								$('.primaryRow.germplasmSelectedRow').each(function () {

										var entryNumber = $(this).data('entry'),
											gid = '' + $(this).data('gid'),
											idx = '' + $(this).data('index');
										if (addCheckGermplasmList(entryNumber, gid, idx)) {
											$('.germplasm-list-items tr.germplasmSelectedRow').removeClass('germplasmSelectedRow');
										}
									}
								);
							}
							$('#lastCheckSourcePrimary').val(1);
						} else {
							showErrorMessage('page-message', sameListErr);
							moveToTopScreen();
						}
					} else if (isFunction(source.data) && $(this).hasClass('primary') &&
						$(ui.helper.find('tr').get(0)).hasClass('checkRow') && $('.popover-content .editCheck').length == 0) {

						// Removes the items from the check list
						$('.checkRow.checkGermplasmSelectedRow').each(function () {

								var entryNumber = $(this).data('entry'),
									gid = '' + $(this).data('gid');
								deleteCheckGermplasmList(entryNumber, gid, $(this), true);
								$.each($('.germplasm-list-items tbody tr'), function (index, row) {
									if ($(row).data('entry') == entryNumber && $(row).data('gid') == gid) {
										$(row).removeAttr('style');
									}
								});
							}
						);
						$('.check-germplasm-list-items tr.checkGermplasmSelectedRow').remove();
						if ($('.check-germplasm-list-items tbody tr').length === 0) {
							resetCheckList();
						} else {
							reloadCheckListTable();
						}
					}
				}
			});
		}

		$(document).ready(function () {
			'use strict';

			$('#entries-details').css('display', 'none');

			displayGermplasmListTreeTable('germplasmTree');

			activateDroppable();
			changeBrowseGermplasmButtonBehavior(false);

			$('#listTreeModal').off('hide.bs.modal');
			$('#listTreeModal').on('hide.bs.modal', function () {
				TreePersist.saveGermplasmTreeState(true, '#germplasmTree');
				displayGermplasmListTreeTable('germplasmTree');
				changeBrowseGermplasmButtonBehavior(false);
				$(getDisplayedModalSelector() + ' #addGermplasmFolderDiv').hide();
				$(getDisplayedModalSelector() + ' #renameGermplasmFolderDiv').hide();
			});

			if ($('studyId') && measurementRowCount > 0) {
				displaySelectedGermplasmDetails();
				displaySelectedCheckGermplasmDetails();
			}


			showSpecifyCheckSection();
		});

		//]]>
	</script>
</div>
