<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="col-xs-3 col-md-3">
			<input type="hidden" id="listTypeLabel" th:value="*{listTypeLabel}"></input>
			<strong th:if="*{(listType == 'CROSSES' || listType == 'CRT_CROSS' || listType == 'IMP_CROSS')}" class="sub-content-heading" th:text="#{crosses.list.header}">Crosses List</strong>
			<strong th:if="*{listType =='ADVANCED'}" class="sub-content-heading" th:text="#{advancing.list.header}">Advance List</strong>
			<strong th:if="*{listType =='SAMPLE_LIST'}" class="sub-content-heading" th:text="#{sample.list.header}">Sample List</strong>
			<span
				class="sub-content-heading control-label-bold control-label-italic"
				th:text="*{listName}"></span>
		</div>

		<div class="col-xs-5 col-md-5 ">
			<div style="width:310px;">
				<span class="control-label control-label-bold"
					th:text="#{germplasm.list.notes}">Notes:</span>
				&nbsp; 
				<span class="control-label control-label-italic"
					th:classappend="${listType != 'SAMPLE_LIST'} ? 'list-notes-display' : ''" th:text="*{listNotes}"></span>
				<a th:if="*{listNotes != null and  #strings.length(listNotes) > 34 and listType != 'SAMPLE_LIST'}" href="javascript: void(0)"
					th:onclick="'javascript: openGermplasmListDetailsPopop(\'' + ${listId} + '\');'" 
					style="float: right;">See More</a>
			</div>
		</div>

		<div class="col-xs-4 col-md-4 pull-right" th:if="*{listType != 'SAMPLE_LIST'}">
			<div style="float: right;">
				<a href="javascript: void(0)" class="view-header"
					th:onclick="'javascript: openGermplasmListDetailsPopop(\'' + ${listId} + '\');'">View
					List Details</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="col-xs-7 col-md-7 fbk-advance-label-pos">
			<span th:text="#{advancing.study.entries.total}"
				class="control-label advanced-list-label">Total Entries:</span> 
			<span class="control-label control-label-bold advance-list-size advanced-list-label"
				id="numberOfEntries" th:text="*{totalNumberOfGermplasms}"></span>

			&nbsp;&nbsp;&nbsp;
			 
			<span th:if="*{listType !='SAMPLE_LIST'}" th:text="#{list.number.of.selected}" class="control-label control-label-italic advanced-list-label">Selected:</span>
			<span th:if="*{listType !='SAMPLE_LIST'}" class="control-label control-label-bold control-label-italic advance-list-size advanced-list-label numberOfAdvanceSelected">0</span>
		</div>
		<div class="pull-right" th:if="*{totalNumberOfGermplasms > 0 }">
			<div class="col-md-12">
				<div class="btn-group">
					<button type="button" th:id="*{'listActionButton' + listId}"
						class="btn btn-info dropdown-toggle fbk-action-btn"
						data-toggle="dropdown">
						<span th:text="#{advance.list.actions}" th:if="*{listType == 'ADVANCED'}">Advance List Actions</span>
						<span th:text="#{crosses.list.actions}" th:if="*{(listType == 'CROSSES' || listType == 'CRT_CROSS' || listType == 'IMP_CROSS')}">Cross List Actions</span>
						<span th:text="#{sample.list.actions}" th:if="*{listType == 'SAMPLE_LIST'}">Sample List Actions</span>
					</button>
					<ul class="dropdown-menu fbk-right-button-drop-down" role="menu">
						<li class="withMeasurementsOnly" th:id="*{'generateStockListMenuItem' + listId}" th:if="*{(listType == 'SAMPLE_LIST')}">
							<a href="javascript: void(0)"
							   th:onclick="'javascript: ExportSampleList.exportFile('+ *{listId} + ',\'' + *{listName} + '\');'"
							   th:text="#{export.sample.list}">
								Export sample list</a>
						</li>
						<li class="withMeasurementsOnly" th:id="*{'generateStockListMenuItem' + listId}" th:if="*{(listType == 'CROSSES' || listType == 'CRT_CROSS' || listType == 'IMP_CROSS') || listType == 'ADVANCED'}">
							<a href=""
								style="display: none" id="open-study-url"></a>
							<a  th:if="*{(listType == 'CROSSES' || listType == 'CRT_CROSS' || listType == 'IMP_CROSS')}" href="javascript: void(0)"
								th:onclick="'javascript: ImportCrosses.saveParentList(\'' + ${listId} + '\');'"
								th:text="#{study.save.crosses.parent.list}">
									Save Parent List
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" th:src="@{/static/js/trialmanager/exportSampleList.js}"></script>

<div class="row">&nbsp;</div>
<div class="row col-xs-12 col-md-12" id="inventory-germplasm-list">
	<div th:if="*{(listType == 'CROSSES' || listType == 'CRT_CROSS' || listType == 'IMP_CROSS') || listType == 'ADVANCED'}" th:include="/Common/includes/listPagination"></div>
	<div th:if="*{listType == 'SAMPLE_LIST'}" th:include="/Common/includes/listSampleList"></div>
</div>
