<div>
	<form id="germplasm-list-form" role="form-horizontal" class="form-horizontal" action="#"
		  th:action="@{/StudyManager/importGermplasmList/next}" method="post" th:object="${importGermplasmListForm}"
		  enctype="multipart/form-data">
		<input type="hidden" th:field="*{totalGermplasms}"/>
		<input type="hidden" th:field="*{lastDraggedPrimaryList}"/>
		<!-- case 1: no data means no table -->
		<div th:if="*{importedGermplasm == null or #lists.isEmpty(importedGermplasm)}">
			<span class="noGermplasmListIndicator"></span>
		</div>
		<!-- case 2: advanced view of the importedGermplasm -->
		<div th:if="*{importedGermplasm != null and not #lists.isEmpty(importedGermplasm)}">
			<div class="germplasm-list-table-old fbk-hide-opacity germplasm-list-data-table"
				 th:if="*{importedGermplasmMainInfo.isAdvanceImportType()}">
				<table id="tableForGermplasm" th:if="*{not #lists.isEmpty(importedGermplasm)}" width="100%"
					   class="table-curved table-condensed germplasm-list-items check-table-popover">
					<thead>
					<tr>
						<!-- First column is for checkbox for Study Germplasm if study list is saved-->
						<th th:attr="data-col-name=entry-checkbox" th:if="${hasSavedGermplasm}"></th>
						<th nowrap="nowrap" th:each="tableHeader : ${tableHeaderList}" th:text="${tableHeader.columnName}"
							th:attr="data-col-name=${tableHeader.dataCol}"></th>
					</tr>
					</thead>
				</table>
				<div class="btn-group mdt-columns pull-right fbk-hide">
					<i class="glyphicon glyphicon-th dropdown-toggle fbk-show-hide-grid-column" data-toggle="dropdown"></i>

					<ul class="dropdown-menu germplasm-dropdown-menu fbk-right-button-drop-down" role="menu">
						<li th:each="tableHeader, rowIndex : ${tableHeaderList}">
							<a href="javascript: void(0)"
							   th:text="${tableHeader.columnName}"
							   th:attr="data-column-name=${tableHeader.dataCol}"
							   th:attrappend="data-index=${rowIndex.index+1}">GID</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imported-germplasm-list-reset-button" class="pull-left">
				<a style="margin-top: 5px;" href="javascript: resetGermplasmList()" class="btn btn-default"
				   th:text="#{common.clear.list}"></a>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
	var dataGermplasmList = /*[[${listDataTable}]]*/ [];
	//]]>
</script>
