<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade add-environments-window" id="addEnvironmentsModal" role="dialog" aria-labelledby="addEnvironmentsModal" aria-hidden="true">
		<div class="modal-dialog modal-medium">
			<div class="modal-content">	
				<div class="modal-body" id="addEnvironmentsModalBody">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">					
							<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{add.environments.header}"></label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button id="close" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"/>
						</div>										
					</div>
					
					<div class="row form-group">
						<div id="page-add-environments-message-modal" class="col-xs-12 col-md-12">
						</div>
					</div>
					
					<div class="row form-group">
						<div class="col-xs-5 col-md-5">
							<label th:text="#{add.environments.number.of.environments.to.add}" class="control-label add_top_padding label-bold"></label>
						</div>
						<div class="col-xs-2 col-md-2 input-group">
							<input id="numberOfEnvironments" valid-number="" ng-model="temp.noOfEnvironments" class="form-control input-sm" maxlength="3"/>
						</div>
						<div class="col-xs-5 col-md-5">
							<label class="control-label">
								<span class="bms-fa-question-circle help-tooltip" tooltip-placement="right" th:attr="tooltip=#{add.environments.tooltip}"></span>
							</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.ok.text}" ng-click="refreshEnvironmentsAndExperimentalDesign()">Ok</button>
				</div>
			</div>
		</div>
	</div>
</div>