<div class="modal fade" id="advanceGermplasmChangeConfirmationModal" role="dialog" aria-labelledby="advanceGermplasmChangeConfirmationModal" aria-hidden="true">
	<div class="modal-dialog modal-medium">
		<div class="modal-content">
			<div class="modal-body" id="advanceGermplasmChangeConfirmationModalBody">
				<div class="row">
					<div class="col-xs-11">
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{nursery.advance.change.detail.header.confirmation}"></label>
					</div>
					<div class="col-xs-1">
						<button id="close" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"/>
					</div>
				</div>

				<div class="form-horizontal">
					<div class="form-group add_top_padding">
						<div class="col-md-12">
							<label class="advance-germplasm-change-confirmation"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="radio">
								<label>
									<input type="radio" name="advanceChangeGermplasmStatus" id="advanceChangeGermplasmStatus" class="advanceChangeGermplasmStatus1" value="1"/>
									<span th:text="#{nursery.advance.remove.duplicate.entry}">Remove the duplicate entry from the advance list</span>
								</label>
							</div>
						</div>
					</div>


					<div class="form-group">
						<div class="col-md-12">
							<div class="radio">
								<label>
									<input type="radio" name="advanceChangeGermplasmStatus" id="advanceChangeGermplasmStatus" class="advanceChangeGermplasmStatus3" value="3"/>
									<span class="addSequenceMessage">Add a sequence number to the name of this entry</span>
								</label>
							</div>
						</div>
					</div>

					<div class="form-group"></div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="checkbox">
								<label>
									<input type="checkbox" id="yesToAllAdvanceChanges" name="yesToAllAdvanceChanges" value="1"/>
									<span th:text="#{nursery.advance.apply.to.all.remaining.duplicates}">Apply to all remaining duplicates</span>
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"  th:text="#{common.form.cancel.text}">Cancel</button>
					<button type="button" class="btn btn-primary"  onclick="javascript:confirmAdvanceGermplasmChanges();">Continue</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div layout:fragment="page-script">
<script type='text/javascript' th:inline="javascript">
//<![CDATA[

var advanceChangeConfirmationDetails = [],
	advanceCurrentConfirmationIndex = 0;

function showAdvanceGermplasmChangeConfirmationPopup(changeDetails, uniqueId) {
	'use strict';
	$('#advanceGermplasmChangeConfirmationModal').modal({ backdrop: 'static', keyboard: true });
	$('#advanceGermplasmChangeConfirmationModal').data('uniqueId', uniqueId);
	advanceChangeConfirmationDetails = changeDetails;
	advanceCurrentConfirmationIndex = 0;
	showAdvanceGermplasmChangeConfirmationMessage();
}

function applyAdvanceGermplasmChangeDetails() {
	'use strict';
	var data = JSON.stringify(advanceChangeConfirmationDetails),
	listIdentifier = $('#advanceGermplasmChangeConfirmationModal').data('uniqueId');
	$.ajax({
		url: '/Fieldbook/StudyManager/advance/study/apply/change/details',
		type: 'POST',
		data: 'data=' + data,
		success: function(resp) {
			$('#advanceGermplasmChangeConfirmationModal').modal('hide');
			if (resp.isSuccess === '1') {
				if (resp.listSize === 0) {
					showErrorMessage('', listShouldNotBeEmptyError);
				} else {
					SaveAdvanceList.reviewAdvanceList(listIdentifier);
				}
			}

		}
	});
}

function showAdvanceGermplasmChangeConfirmationMessage() {
	'use strict';
	$('input[type=checkbox][name=yesToAllAdvanceChanges]').prop('checked', false);
	$('input[name=advanceChangeGermplasmStatus].advanceChangeGermplasmStatus1').prop('checked', true);
	$('#advanceGermplasmChangeConfirmationModal .advance-germplasm-change-confirmation').html(advanceChangeConfirmationDetails[advanceCurrentConfirmationIndex].questionText);
	$('#advanceGermplasmChangeConfirmationModal .addSequenceMessage').html(advanceChangeConfirmationDetails[advanceCurrentConfirmationIndex].addSequenceText);

}

function confirmAdvanceGermplasmChanges() {
	'use strict';
	var status = $('input[name=advanceChangeGermplasmStatus]:checked').val(),
		applyDetails = false;

	if ($('input[type=checkbox][name=yesToAllAdvanceChanges]:checked').val() === '1') {
		for (var index = advanceCurrentConfirmationIndex ; index < advanceChangeConfirmationDetails.length ; index++) {
			advanceChangeConfirmationDetails[index].status = status;
		}
		applyDetails = true;
	} else {
		advanceChangeConfirmationDetails[advanceCurrentConfirmationIndex].status = status;
		advanceCurrentConfirmationIndex++;
		if (advanceCurrentConfirmationIndex === advanceChangeConfirmationDetails.length) {
			//meaning we've gone through all the confirmation
			applyDetails = true;
		} else {
			showAdvanceGermplasmChangeConfirmationMessage();
		}

	}
	if (applyDetails) {
		applyAdvanceGermplasmChangeDetails();
	}

}
//]]>
</script>
</div>
