<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
    <!-- Modal -->
    <div class="modal fade import-study-data import-window" id="crossSettingsModal" ng-controller="CrossingSettingsCtrl"
         role="dialog"
         aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-large">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-xs-11 col-md-11">
                            <label class="modal-title fbk-modal-title" id="heading-modal"
                                   th:text="#{study.import.crosses.settings.naming.harvest.header}"></label>
                        </div>
                        <div class="col-xs-1 col-md-1">
                            <button id="close" type="button" class="close  pull-right glyphicon glyphicon-remove"
                                    data-dismiss="modal" aria-hidden="true"></button>
                        </div>
                    </div>

                    <div class="separator">
                    </div>

                    <div class="row">
                        <div class="col-xs-1 col-md-1">
                            &nbsp;
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <label th:text="#{study.import.crosses.settings.naming.harvest.text}"></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-1 col-md-1">
                            &nbsp;
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-xs-11 col-md-11">
                            <label class="modal-title fbk-modal-title"
                                   th:text="#{study.import.crosses.settings.naming.header}">Naming</label>
                        </div>
                        <div class="col-xs-1 col-md-1">
                            &nbsp;
                        </div>
                    </div>

                    <div class="row form-group add-bottom-padding">
                        <div class="col-xs-4 col-md-4">
                            <input type="radio" value="false" ng-model="useManualNaming" ng-click="toggleNamingSection()" />
                            <label th:text="#{study.crosses.import.automaticNameGeneration}"></label>

                        </div>
                        <div class="col-xs-8 col-md-8 text-left">
                            <input type="radio" value="true" ng-model="useManualNaming" ng-click="toggleNamingSection()"/>
                            <label th:text="#{study.crosses.import.manualNamingSettings}"></label>
                        </div>
                    </div>

                    <!-- shown only if manual naming is selected, hidden by default -->
                    <div id="manualNamingSettingsPanel" ng-show="settingObject.isUseManualSettingsForNaming">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <label th:text="#{study.import.crosses.settings.load.settings.text}"></label>
                            </div>
                        </div>

                        <div class="row form-group">

                            <div class="col-xs-12 col-md-12">
                                <div class="col-xs-6 col-md-6 text-right">
                                    <input type="checkbox" id="loadSettingsCheckbox"/>
                                    <label class="label-bold" th:text="#{study.import.crosses.settings.load.settings.label}"></label>
                                </div>

                                <div class="col-xs-4 col-md-4">
                                    <ui-select theme="select2" ng-model="nested.selectedPresetId" search-enabled="false" ng-change="applySettingsPreset($select.selected)">
                                        <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices refresh="fetchPresets($select)" refresh-delay="300" repeat="preset.programPresetId as preset in nested.settingPresets">
                                            <div>{{::preset.name}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <div class="col-xs-2 col-md-2 nopadding">
                                    <span class="glyphicon glyphicon-trash trash-crosses-flow" ng-model="presetSettingsDelete" ng-click="deletePreset()"
                                          aria-hidden="true"></span>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 col-md-12">
                            &nbsp;
                        </div>
                        <div class="row add-top-bottom-padding">
                            <div class="col-xs-12 col-md-12">
                                <label th:text="#{study.import.crosses.settings.naming.text}"></label>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-xs-6 col-md-6 text-right">
                                <label class="label-bold"
                                       th:text="#{study.import.crosses.prefix.label}"></label>
                                <span class="fbk-mandatory-field">*</span>
                            </div>
                            <div class="col-xs-6 col-md-6 text-left">
                                <input type="text" id="crossPrefix" ng-model="settingObject.crossNameSetting.prefix" ng-change="updateDisplayedSequenceNameValue()"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6 col-md-6 text-right">
                            <span class="label-bold"
                                  th:text="#{study.import.crosses.sequence.digits.label}"></span>
                            </div>
                            <div class="col-xs-6 col-md-6 text-left">
                                <ui-select ng-model="settingObject.crossNameSetting.numOfDigits" theme="select2" search-enabled="false" ng-change="updateDisplayedSequenceNameValue()">
                                    <ui-select-match>{{$select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="digit in [1,2,3,4,5,6,7,8,9]">
                                        <div>{{::digit}}</div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6 col-md-6 text-right">
                                <label class="label-bold"
                                       th:text="#{study.import.crosses.suffix.label}"></label>
                            </div>
                            <div class="col-xs-6 col-md-6 text-left">
                                <input type="text" id="crossSuffix" ng-model="settingObject.crossNameSetting.suffix" ng-change="updateDisplayedSequenceNameValue()"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6 col-md-6 text-right">
                                <label class="label-bold"
                                       th:text="#{study.import.crosses.prefix.space.label}"></label>
                            </div>
                            <div class="btn-group col-xs-6 col-md-6 text-left">
                                <input type="radio" ng-value="true" ng-model="settingObject.crossNameSetting.addSpaceBetweenPrefixAndCode" ng-change="updateDisplayedSequenceNameValue()">
                                <label class="label-bold" th:text="#{common.form.yes.text}"></label>
                                </input>
                                &nbsp;
                                <input type="radio" ng-value="false" ng-model="settingObject.crossNameSetting.addSpaceBetweenPrefixAndCode" ng-change="updateDisplayedSequenceNameValue()">
                                <label class="label-bold" th:text="#{common.form.no.text}"></label>
                                </input>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6 col-md-6 text-right">
                                <label class="label-bold"
                                       th:text="#{study.import.crosses.suffix.space.label}"></label>
                            </div>
                            <div class="btn-group col-xs-6 col-md-6 text-left">
                                <input type="radio" ng-value="true" ng-model="settingObject.crossNameSetting.addSpaceBetweenSuffixAndCode" ng-change="updateDisplayedSequenceNameValue()">
                                <label class="label-bold" th:text="#{common.form.yes.text}"></label>
                                </input>
                                &nbsp;
                                <input type="radio" ng-value="false" ng-model="settingObject.crossNameSetting.addSpaceBetweenSuffixAndCode" ng-change="updateDisplayedSequenceNameValue()">
                                <label class="label-bold" th:text="#{common.form.no.text}"></label>
                                </input>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6 col-md-6 text-right">
                            </div>
                            <div class="col-xs-6 col-md-6 text-left">
                                <label class="label-italic"
                                       th:text="#{study.import.crosses.next.name}"></label>
                                <label class="label-italic">{{nested.nextSequenceName}}</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6 col-md-6 text-right">
                                <label class="label-bold"
                                       th:text="#{study.import.crosses.starting.sequence.number.label}"></label>
                            </div>
                            <div class="col-xs-6 col-md-6 text-left">
                                <input type="text" id="startingSequenceNumber" ng-model="settingObject.crossNameSetting.startNumber" ng-change="updateDisplayedSequenceNameValue()"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6 col-md-6 text-right">
                                <label class="label-bold" th:text="#{study.import.crosses.parentage.separator.label}"></label>
                                <span class="fbk-mandatory-field">*</span>
                            </div>
                            <div class="col-xs-6 col-md-6 text-left">
                                <input type="text" id="parentageDesignationSeparator" ng-model="settingObject.crossNameSetting.separator" ng-change="updateSampleParentageDesignation()"/>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-xs-6 col-md-6">
                            </div>
                            <div class="col-xs-6 col-md-6 text-left">
                                <label class="label-italic" th:text="#{study.import.crosses.example.parentage.designation.label}"></label>
                                &nbsp;
                                <label ng-bind="sampleParentageDesignation"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6 col-md-6 text-right">
                                <label class="label-bold"
                                       th:text="#{study.import.crosses.parentage.designation.label}"></label>
                            </div>
                            <div class="btn-group col-xs-6 col-md-6 text-left">
                                <input type="radio" ng-value="true" ng-model="settingObject.crossNameSetting.saveParentageDesignationAsAString">
                                <label class="label-bold" th:text="#{common.form.yes.text}"></label>
                                </input>
                                &nbsp;
                                <input type="radio" ng-value="false" ng-model="settingObject.crossNameSetting.saveParentageDesignationAsAString">
                                <label class="label-bold" th:text="#{common.form.no.text}"></label>
                                </input>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-1 col-md-1">
                                &nbsp;
                            </div>

                            <div class="col-xs-5 col-md-5">
                                <span class="label-bold" th:text="#{study.import.crosses.settings.save.settings.label}"></span>
                            </div>

                            <div class="col-xs-5 col-md-5 add-bottom-padding">
                                <input type="text" ng-model="settingObject.name"/>
                            </div>
                            <div class="col-xs-1 col-md-1">
                                &nbsp;
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-1 col-md-1">
                            &nbsp;
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-xs-11 col-md-11">
                            <label class="modal-title fbk-modal-title"
                                   th:text="#{study.import.crosses.harvest.details.header}">Harvest Details</label>
                        </div>
                        <div class="col-xs-1 col-md-1">
                            &nbsp;
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-xs-4 col-md-4 text-right">
                            <label class="label-bold"
                                   th:text="#{study.import.crosses.harvest.details.date.label}"></label>
                            <span class="fbk-mandatory-field">*</span>
                        </div>
                        <div class="col-xs-8 col-md-8 text-left">
                            <div class="row form-group">
                                <div class="col-xs-3 col-md-3">
                                    <ui-select ng-model="settingObject.additionalDetailsSetting.harvestYear" theme="select2" search-enabled="false" ng-change="updateHarvestDate()">
                                        <ui-select-match>{{$select.selected}}</ui-select-match>
                                        <ui-select-choices refresh="fetchMonths($select)" refresh-delay="300" repeat="year in harvestYears | filter: $select.search track by $index">
                                            <div>{{::year}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <ui-select ng-model="settingObject.additionalDetailsSetting.harvestMonth" theme="select2" search-enabled="false" ng-change="updateHarvestDate()">
                                        <ui-select-match th:placeholder="Month">{{$select.selected.text}}</ui-select-match>
                                        <ui-select-choices refresh="fetchYears($select)" refresh-delay="300" repeat="month.id as month in harvestMonths">
                                            <div>{{::month.text}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-xs-2 col-md-2">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row form-group">

                        <div class="col-xs-4 col-md-4 text-right">
                            <label class="label-bold"
                                   th:text="#{study.import.crosses.harvest.details.location.label}"></label>
                            <span class="fbk-mandatory-field">*</span>
                        </div>
                        <div class="col-xs-7 col-md-7 text-left">
                            <locations-select valuecontainer="valuecontainer" targetkey="targetkey" on-location-select="locationChanged()"></locations-select>
                        </div>
                        <div class="col-xs-1 col-md-1">
                            <a class="bms-fa-question-circle help-tooltip-study fbk-help" data-help-link="MANAGE_LOCATIONS"></a>
                        </div>

                    </div>
                    <div class="row form-group add-bottom-padding">
                        <div class="col-xs-4 col-md-4 text-right">
                        </div>
                        <div class="col-xs-8 col-md-8 text-left">
                            <a href="javascript: void(0);" th:text="#{study.managesettings.manage.location}" ng-click="openManageLocations()"></a>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-xs-11 col-md-11">
                            <label class="modal-title fbk-modal-title"
                                   th:text="#{crossing.alert.header}">Alerts</label>
                        </div>
                        <div class="col-xs-1 col-md-1">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row form-group add-bottom-padding">
                        <div class="col-xs-4 col-md-12">
                            <input type="checkbox" id="checkExistingCrosses" ng-model="checkExistingCrosses"/>
                            <label th:text="#{crossing.alert.check.existing.crosses}"></label>
                        </div>
                    </div>
                    <div class="separator">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="goBackToSelectBreedingMethodModal"
                            aria-hidden="true" th:text="#{common.form.back.text}">Back
                    </button>
                    <button type="button" class="btn btn-primary"
                            aria-hidden="true" th:text="#{common.form.continue.text}" ng-click="continue()">Continue
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
