<table class="my-class table table-curved table-condensed advance-list-items-table">
	<thead>
		<tr>
			<th class="fbk-export-select-instance-check-box" >
				<input type="checkbox" class="selectAllExportInstance" name="selectAllAdvanceExportList" id="selectAllAdvanceExportList"/></th>
			<th th:utext="#{study.studydetails.action.export.available.advance.list}">Available Advanced List</th>
			</tr>
	</thead>
	<tbody>
		<tr th:each="advanceItem, row : ${advancedList}">
			<td th:class="${row.even}? 'even fbk-export-advance-list-check-box' : 'odd fbk-export-advance-list-check-box'">
				 <input type="checkbox" class="export-advance-germplasm-lists-checkbox" th:attr="data-advance-list-id=${advanceItem.id}"/>
			</td>
			<td th:class="${row.even}? 'even' : 'odd'" th:text="${advanceItem.name}">.1</td>
		</tr>
	</tbody>
</table>

<script type='text/javascript' th:inline="javascript">
//<![CDATA[
$(document).ready(function() {
	'use strict';
	$('.selectAllExportInstance').on('change', function(event) {
		var isChecked = $(this).prop('checked');
		$('input.export-advance-germplasm-lists-checkbox').prop('checked', isChecked);
	});
	if ($('.advance-germplasm-items.active').data('advance-germplasm-list-id') !== null) {
		//we preselect
		var preSelectedAdvancedListId = $('.advance-germplasm-items.active').data('advance-germplasm-list-id');
		$('input.export-advance-germplasm-lists-checkbox[data-advance-list-id="' + preSelectedAdvancedListId + '"]').prop('checked', true);
	}
});
//]]>
</script>
