<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
	<div class="modal fade" id="exportStudyModal" role="dialog" aria-labelledby="exportStudyModal" aria-hidden="true">
		<div class="modal-dialog modal-medium">
			<div class="modal-content">
				<div class="modal-body" id="exportStudyModalBody">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title" id="heading-modal"></label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button id="close" type="button" class="close pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"></button>
						</div>
					</div>

					<div class="row form-group">
						<div id="page-export-message-modal" class="col-xs-12 col-md-12">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<label class="control-label" th:text="#{nursery.export.note}"></label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<label class=""><em th:utext="#{fieldmap.mandatory.fields}"> Mandatory fields are noted with a *</em></label>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<label class="control-label h4 label-bold" th:text="#{study.export.format.header}"></label>
						</div>

					</div>

					<div class="row form-group">
						<div class="col-xs-5 col-md-5">
							<label class="control-label add_top_padding label-bold" th:text="#{study.export.choose.format}">Export Format:</label><span class="required">*</span>
						</div>
						<div class="report-type-section col-xs-4 col-md-4">
							<select id="exportType">
								<option value="0">Please Choose</option>
								<option value="6" th:text="#{nursery.export.csv}"></option>
								<option selected="selected"  value="2" th:text="#{nursery.export.excel}"></option>
								<option value="5" th:text="#{nursery.export.ksu.fieldbook.csv}">KSU Fieldbook CSV</option>
								<option value="4" th:text="#{nursery.export.ksu.fieldbook.excel}">KSU Fieldbook Excel</option>
							</select>
						</div>
					</div>
					<div class="row  form-group">&nbsp;</div>
					<div class="row form-group data-collection-section">
						<div class="col-xs-12 col-md-12">
							<label class="control-label h4 label-bold" th:text="#{study.export.data.collection.header}"></label>
						</div>
					</div>
					<div class="row form-group data-collection-section">
						<div class="col-xs-5 col-md-5">
							<label class="control-label add_top_padding label-bold" th:text="#{study.export.choose.data.collection.order}">Way to be exported:</label><span class="required">*</span>
						</div>
						<div class="col-xs-4 col-md-4">
							<select id="exportWayType" style="width: 170px">
								<option value="1" th:text="#{study.export.data.collection.row.col}">Row/Col</option>
								<option value="2" th:text="#{study.export.data.collection.serpentine.along.rows}">Serpentine (over range)</option>
								<option value="3" th:text="#{study.export.data.collection.serpentine.along.columns}">Serpentine (over column)</option>

							</select>
						</div>
						<div style="padding-top: 7px">
							<span class="bms-fa-question-circle help-tooltip-nursery" data-placement="right" data-toggle="tooltip" th:title="#{study.export.data.collection.serpentine.tool.tip}"></span>
						</div>
					</div>

					<div class="row form-group exportTrialInstanceSection fbk-hide">
						<div class="col-xs-12 col-md-12">&nbsp;</div>
						<div class="col-xs-12 col-md-12">
							<label class="control-label h4" th:text="#{trial.export.choose.instance}"></label>
						</div>

						<div class="col-xs-12 col-md-12">&nbsp;</div>
						<div class="col-xs-12 col-md-12 trial-instance">

						</div>

					</div>
				</div>
				<div class="modal-footer addVariable-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
					<button type="button" class="btn btn-primary" aria-hidden="true" onclick="javascript:checkBeforeExport();">Export</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="exportStudyConfirmationModal" role="dialog" aria-labelledby="exportStudyConfirmationModal" aria-hidden="true">
		<div class="modal-dialog modal-medium">
			<div class="modal-content">
				<div class="modal-body" id="exportStudyConfirmationModalBody">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{common.form.confirmation.text}">Confirmation</label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button id="close" type="button" class="close pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"></button>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<label class="control-label" th:text="#{nursery.export.field.plan.confirmation}"></label>
						</div>
					</div>
				</div>
				<div class="modal-footer addVariable-footer">
					<button type="button" class="btn btn-default" aria-hidden="true" onclick="javascript:doConfirmGoBack();" th:text="#{nursery.go.back}">Cancel</button>
					<button type="button" class="btn btn-primary" aria-hidden="true" onclick="javascript:doConfirmExport();" th:text="#{nursery.proceed}">Confirm</button>
				</div>
			</div>
		</div>
	</div>
</div>

<form id="exportStudyDownloadForm" role="form-horizontal" action="#" th:action="@{/ExportManager/download/file}" method="GET">
	<input type="hidden" name="outputFilename" id="outputFilename" value=""/>
	<input type="hidden" name="filename" id="filename" value=""/>
	<input type="hidden" name="contentType" id="contentType" value=""/>
</form>

<div layout:fragment="page-script">
<script type='text/javascript' th:inline="javascript">
//<![CDATA[

var submitExportUrl = '/Fieldbook/ExportManager/',
	exportHeader = /*[[#{study.export.study.header}]]*/ '',
	exportBookHeader = /*[[#{study.export.study.book.header}]]*/ '';

$(document).ready(function() {
	'use strict';
	$('#exportStudyModal select').select2({width: 'copy', minimumResultsForSearch: 20});
	$('#exportType').on('change', function() {
		if (StudyCustomExportReports.isCustomReport()) {
			$('.data-collection-section').hide();
			$('.exportTrialInstanceSection').addClass('fbk-hide');
			$('.exportRSection').css('display', 'none');
		}else if ($(this).val() === '2') {
			$('.data-collection-section').show();
			$('.exportRSection').css('display', 'block');
			if (!isNursery()) {
				$('.exportTrialInstanceSection').removeClass('fbk-hide');
			}
		} else {
			$('.data-collection-section').show();
			$('.exportRSection').css('display', 'none');
			if (!isNursery()) {
				$('.exportTrialInstanceSection').removeClass('fbk-hide');
			}
		}
	});

	$('#exportStudyModal').on('hide.bs.modal', function() {
		$("#page-export-message-modal").html('');
	});

});

function checkBeforeExport() {
	'use strict';
	var studyId = '0',
		checkedInstance = getExportCheckedInstances(),
		counter = 0,
		hasNoFieldmap = false;

	if ($('#browser-nurseries').length !== 0) {
		// We are on the landing page
		studyId = getCurrentStudyIdInTab();
	}

	if (StudyCustomExportReports.isCustomReport()) {
		StudyCustomExportReports.doExport();
		return true;
	}


	if (checkedInstance !== null && checkedInstance.length === 0) {
		showErrorMessage('', 'Please select at least 1 instance');
		return false;
	}

	if ($('#exportWayType').val() === '1') {
		exportStudy();
	} else {
		if (isNursery()) {
			$.ajax({
				url: '/Fieldbook/ExportManager/study/hasFieldMap?studyId=' + studyId,
				type: 'GET',
				cache: false,
				success: function (data) {
					if (data === "0") {
						// Disable the export order of serpentine
						$('#exportStudyModal').modal('hide');
						$('#exportStudyConfirmationModal').modal({backdrop: 'static', keyboard: true});
					} else {
						exportStudy();
					}

				}
			});
		} else {
			for (counter = 0; counter < checkedInstance.length; counter++) {
				if (checkedInstance[counter].hasFieldmap === 'No') {
					hasNoFieldmap = true;
					break;
				}
			}
			if (hasNoFieldmap) {
				$('#exportStudyModal').modal('hide');
				$('#exportStudyConfirmationModal').modal({backdrop: 'static', keyboard: true});
			} else {
				exportStudy();
			}
		}
	}
}

function doConfirmGoBack() {
	'use strict';
	$('#exportStudyConfirmationModal').modal('hide');
	$('#exportStudyModal').modal({ backdrop: 'static', keyboard: true });
}

function doConfirmExport() {
	'use strict';
	exportStudy();
	$('#exportStudyConfirmationModal').modal('hide');
}

function showExportOptions() {
	'use strict';
	var heading_modal_label = exportHeader + " " + "Study" + " " + exportBookHeader,
		studyId = '0';
	if ($('.import-study-data').data('data-import') === '1') {
		showErrorMessage('', needSaveImportDataError);
		return;
	}

	$('#exportStudyModal #heading-modal').html(heading_modal_label);
	StudyCustomExportReports.showReports();
	$('#exportStudyModal').modal({backdrop: 'static', keyboard: true});

	studyId = $('#studyId').val();
	$.ajax({
		url: '/Fieldbook/ExportManager/trial/instances/' + studyId,
		type: 'GET',
		cache: false,
		success: function (data) {
			$('.exportTrialInstanceSection .trial-instance').html(data);
			if (StudyCustomExportReports.isCustomReport()) {
				$('.exportTrialInstanceSection').addClass('fbk-hide');
			} else {
				$('.exportTrialInstanceSection').removeClass('fbk-hide');
			}
		}
	});

}

function showExportResponse(responseText, statusText, xhr, $form) {
	'use strict';
	var resp = $.parseJSON(responseText);

	if (resp.isSuccess) {
		$('#exportStudyDownloadForm #outputFilename').val(resp.outputFilename);
		$('#exportStudyDownloadForm #filename').val(resp.filename);
		$('#exportStudyDownloadForm #contentType').val(resp.contentType);
		$('#exportStudyDownloadForm').submit();
	} else {
		showErrorMessage('', resp.errorMessage);
	}

	$('#exportStudyModal').modal('hide');
}

//]]>
</script>
</div>
