
	 <table th:if="${not #lists.isEmpty(trialInstances)}" class="my-class table table-curved table-condensed">
		<thead>
			<tr>
			<th class="fbk-export-select-instance-check-box" ><input type="checkbox" class="selectAllExportInstance" name="selectAllExportInstance" id="selectAllExportInstance"/></th>
			<th th:utext="#{study.export.instance.number}">Trial Instance #</th>
			<th th:utext="#{study.export.has.fieldmap}">Has Fieldmap</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="instance, row : ${trialInstances}">
			<td th:class="${row.even}? 'even fbk-export-select-instance-check-box' : 'odd fbk-export-select-instance-check-box'">
				<input type="checkbox" class="trial-instance-export" th:attr="data-instance-number=${instance.instanceNum}" th:attrappend="data-has-fieldmap=${instance.hasFieldmapDisplay}"/>
			</td>
			<td th:class="${row.even}? 'even' : 'odd'" th:text="${instance.instanceNum}">.1</td>
			<td th:class="${row.even}? 'even' : 'odd'" th:text="${instance.hasFieldmapDisplay}">.2</td>
		</tr>
	</tbody>
	</table>

<script type="text/javascript" th:inline="javascript">
//<![CDATA[
$(document).ready(function() {
	'use strict';
	$('.selectAllExportInstance').on('change', function(event) {
		var isChecked = $(this).prop('checked');
		$('input.trial-instance-export').prop('checked', isChecked);
	});
	$('.selectAllExportInstance').prop('checked', true);
	$('input.trial-instance-export').prop('checked', true);
});
//]]>
</script>
