<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
	<div class="modal fade" id="exportAdvanceListModal" role="dialog" aria-labelledby="exportAdvanceListModal" aria-hidden="true">
		<div class="modal-dialog modal-medium">
			<div class="modal-content">
				<div class="modal-body" id="exportAdvanceListModalBody">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{study.studydetails.action.export.advance.header}">.header</label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button id="close" type="button" class="close pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"></button>
						</div>
					</div>

					<div class="row form-group export-advance-germplasm-list fbk-hide">
						<div class="col-xs-12 col-md-12">
							<label class="control-label h4" th:text="#{study.studydetails.action.export.advance.lists.to.be.exported}">.list to be exported</label>
						</div>
						<div class="col-xs-9 col-md-9 advances-list">

						</div>

					</div>

					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<label class="control-label h4 label-bold" th:text="#{study.export.format.header}"></label>
						</div>

					</div>

					<div class="row form-group">
						<div class="col-xs-5 col-md-5">
							<label class="control-label add_top_padding label-bold" th:text="#{study.export.choose.format}">Export Format:</label><span class="required">*</span>
						</div>
						<div class="col-xs-4 col-md-4">
							<select id="exportAdvancedType" style="width: 170px">
								<option value="1" selected="selected" th:text="#{study.studydetails.action.export.advance.excel}">Excel</option>
								<option value="2" th:text="#{study.studydetails.action.export.advance.csv}">Csv</option>
							</select>
						</div>
					</div>
					<div class="row  form-group">&nbsp;</div>

				</div>
				<div class="modal-footer addVariable-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
					<button type="button" class="btn btn-primary" aria-hidden="true" onclick="javascript:checkBeforeAdvanceExport();">Export</button>
				</div>
			</div>
		</div>
	</div>

</div>
<form id="exportAdvanceStudyForm" role="form-horizontal" action="#" th:action="@{/ExportManager/export/advanced/lists}" method="POST">
	<input type="hidden" name="exportAdvanceListGermplasmIds" id="exportAdvanceListGermplasmIds" value="0"/>
	<input type="hidden" name="exportAdvanceListGermplasmType" id="exportAdvanceListGermplasmType" value="0"/>
</form>
<form id="exportAdvanceStudyDownloadForm" role="form-horizontal" action="#" th:action="@{/ExportManager/download/file}" method="GET">
	<input type="hidden" name="outputFilename" id="outputFilename" value=""/>
	<input type="hidden" name="filename" id="filename" value=""/>
	<input type="hidden" name="contentType" id="contentType" value=""/>
</form>

<div layout:fragment="page-script">
<script type='text/javascript' th:inline="javascript">
//<![CDATA[

var exportAdvanceOptions = {
	dataType: 'text',
	success: showExportAdvanceResponse // post-submit callback
};

$(document).ready(function() {
	'use strict';
	$('#exportAdvanceListModal select').select2({width: 'copy', minimumResultsForSearch: 20});
});

//]]>
</script>
</div>
