<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
    <!-- Modal -->
    <form id="importStudyUploadForm"
          method="post" th:object="${createTrialForm}"
          enctype="multipart/form-data">

		<div class="modal fade import-study-data import-window" id="importStudyModal" role="dialog" aria-labelledby="importStudyModal" aria-hidden="true">
            <div class="modal-dialog modal-medium">
                <div class="modal-content">

                    <div class="modal-body" id="importStudyModalBody">
                        <div class="row form-group">
                            <div class="col-xs-11 col-md-11">
								<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{study.import.select.header}"></label>
                            </div>
                            <div class="col-xs-1 col-md-1">
								<button id="close" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"/>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div id="page-import-study-message-modal" class="col-xs-12 col-md-12">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-xs-12 col-md-12">
								<label class=""><em th:utext="#{fieldmap.mandatory.fields}"> Mandatory fields are noted with a *</em></label>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-xs-7 col-md-7">
								<label th:text="#{study.import.specify.format}" class="control-label add_top_padding label-bold"></label><span class="required">*</span>
                            </div>
                            <div class="col-xs-5 col-md-5">
                                <select style="width: 205px" id="importType">
                                    <option value="0">Please Choose</option>
                                    <option value="7" th:text="#{study.import.csv}"></option>
                                    <option selected="selected" value="3" th:text="#{study.import.excel}"></option>
                                    <option value="5" th:text="#{study.import.ksu.fieldbook.excel}"></option>
                                    <option value="6" th:text="#{study.import.ksu.fieldbook.csv}"></option>
                                </select>
                            </div>
                        </div>

                        <div class='row form-group add_top_padding'>

                            <div class="col-md-12">
                                <div class="fileupload fileupload-new fbk-import-upload-file" data-provides="fileupload">
											<span class="btn btn-info btn-file ">
												<span class="fileupload-new" th:text="#{common.import.browse.file}">Browse</span>
												<input id="fileupload" th:field="*{file}" type="file" class="file-input"/>
											</span>
                                    <span class="fileupload-preview-wrap"><b><span
                                            th:text="#{selected.import.file}">Selected import file</span>:</b> <i
                                            class="fileupload-preview"></i></span>
                                    <span style="display: inline-block; margin-left: 15px">
										<a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload"
                                           th:text="#{study.managesettings.clear.settings}">Clear</a>
									</span>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" onclick="javascript:backShowImportStudyModal();"
                                th:text="#{common.form.back.text}">Back
                        </button>
                        <button type="button" class="btn btn-primary" aria-hidden="true" onclick="javascript:submitImportStudy();">Import
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade import-window" id="importStudyConfirmationModal" role="dialog" aria-labelledby="importStudyConfirmationModal"
     aria-hidden="true">
    <div class="modal-dialog modal-small">
        <div class="modal-content">
            <div class="modal-body" id="importStudyConfirmationModalBody">
                <div class="row form-group">
                    <div class="col-xs-11 col-md-11">
                        <label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{common.form.confirmation.text}"></label>
                    </div>
                    <div class="col-xs-1 col-md-1">
                        &nbsp;
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12 col-md-12">
                        <label class="control-label import-confirmation"></label>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="javascript:goBackToImport();" th:text="#{study.go.back}">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-primary" id="studyConfirmationButton" th:text="#{study.proceed}">Import</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade import-window" id="importStudyDesigConfirmationModal" role="dialog"
     aria-labelledby="importStudyDesigConfirmationModal" aria-hidden="true">
    <div class="modal-dialog modal-medium">
        <div class="modal-content">
            <div class="modal-body" id="importStudyDesigConfirmationModalBody">
                <div class="row form-group">
                    <div class="col-xs-11 col-md-11">
                        <label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{common.form.confirmation.text}"></label>
                    </div>
                    <div class="col-xs-1 col-md-1">
                        &nbsp;
                    </div>
                </div>
                <div class="row form-group">
                    <div id="confirmation-page-message">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12 col-md-12">
                        <label class="control-label import-desig-confirmation label-bold"></label>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-xs-4 col-md-4">
                        <label class="control-label label-bold" th:text="#{import.change.action} + ':'">Action:</label>
                    </div>
                    <div class="col-xs-7 col-md-7">
                        <select id="import-action-type" onchange="doImportActionChange();">
                            <option value="0" th:text="#{import.change.option.skip}">Skip</option>
                            <option value="1" th:text="#{import.change.option.add.desig.to.gid}">Add the New Designation to the Germplasm
                            </option>
                            <option value="2" th:text="#{import.change.option.create.new.desig}">Create a New Germplasm</option>
                            <option value="3" th:text="#{import.change.option.choose.gids}" class="choose-gids">Choose GIDs</option>
                        </select>
                    </div>
                </div>

                <div class="row form-group choose-gids">
                    <div class="col-xs-4 col-md-4">
                        <label class="control-label label-bold" th:text="#{import.change.option.choose.gids} + ':'">Choose GIDs:</label>
                    </div>
                    <div class="col-xs-7 col-md-7">
                        <select style="width: 205px" id="matching-gid">
                        </select>
                    </div>
                </div>

                <form id="importStudyConfirmationForm" method="post" th:object="${createTrialForm}" enctype="multipart/form-data">
                    <input type="hidden" class="hasCreateGermplasm"/>
                    <div class="row form-group create-germplasm add-desig-to-gid">
                        <div class="col-xs-4 col-md-4">
                            <label class="control-label label-bold" th:text="#{study.import.excel.breeding.method}+':'">Breeding
                                Method</label>&nbsp;<span class="required">*</span>
                        </div>
                        <div class="col-xs-8 col-md-8">
                            <input class="selectedValue" type="hidden"/>
                            <input class="selectedValueFave" type="hidden"/>
                            <input type="hidden" th:field="*{importMethodId}" class="form-control select2"/>
                            <div style="width: 100%" class="possibleValuesDiv">
                                <label class="radio-inline">
                                    <input id="showDerivateAndMaintenanceMethodImportStudyOnlyRadio"
                                           th:onclick="'javascript: toggleDropdownImportStudy(\'showAllMethodImportStudyOnlyRadio\', \'importMethodId\', \'importFavoriteMethod\', \'Method\', false);'"
                                           name="import_study_method_filter" value="1" type="radio" checked="checked"/>
                                    <span th:text="#{show.derivative.maintenance.method}">Derivative and Maintenance methods</span>
                                    &nbsp;&nbsp;
                                </label>
                                <label class="radio-inline">
                                    <input id="showAllMethodImportStudyOnlyRadio"
                                           th:onclick="'javascript: toggleDropdownImportStudy(\'showAllMethodImportStudyOnlyRadio\', \'importMethodId\', \'importFavoriteMethod\', \'Method\', false);'"
                                           name="import_study_method_filter" value="2" type="radio"/>
                                    <span th:text="#{show.all.methods}">All Methods</span>
                                    &nbsp;&nbsp;
                                </label>
                            </div>
                            <div style="width: 100%" class="possibleValuesDiv">
                                <input type="checkbox"
                                       th:onclick="'javascript: toggleDropdownImportStudy(\'showAllMethodImportStudyOnlyRadio\', \'importMethodId\', \'importFavoriteMethod\', \'Method\', false);'"
                                       id="importFavoriteMethod"/>
                                &nbsp;&nbsp;
                                <span th:text="#{show.favorite.method}">Show Favorite Method</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a class='import-manage-method' href="javascript: void(0)"
                                   th:text="#{study.managesettings.manage.method}">Manage Method</a>
                            </div>
                            <!-- store possible values of variable -->
                            <div id="possibleValuesJsonMethod"
                                 class="possibleValuesJsonMethod" style="display:none">
                            </div>
                            <div id="possibleValuesFavoriteJsonMethod"
                                 class="possibleValuesFavoriteJsonMethod" style="display:none">
                            </div>
                            <!-- all values -->
                            <div id="allPossibleValuesJsonMethod"
                                 class="allPossibleValuesJsonMethod" style="display:none">
                            </div>
                            <!-- all favorite values -->
                            <div id="allPossibleValuesFavoriteJsonMethod"
                                 class="allPossibleValuesFavoriteJsonMethod" style="display:none">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group create-germplasm">
                        <div class="col-xs-4 col-md-4">
                            <label class="control-label label-bold" th:text="#{study.import.excel.date}+':'">Date</label>&nbsp;<span
                                class="required">*</span>
                        </div>
                        <div class="col-xs-7 col-md-7">
                            <input placeholder="yyyy-mm-dd" type="text" class="form-control date-input" th:field="*{importDate}"/>
                            <label for="importDate" class="btn datepicker">
                                <img width="20" height="22" th:src="@{/static/img/calendar.png}" style="padding-bottom:3px;"/>
                            </label>
                        </div>
                    </div>
                    <div class="row form-group create-germplasm">
                        <div class="col-xs-4 col-md-4">
                            <label class="control-label label-bold"
                                   th:text="#{study.import.excel.location}+':'">Location</label>&nbsp;<span class="required">*</span>
                        </div>
                        <div class="col-xs-8 col-md-8">
                            <input class="selectedValue" type="hidden"/>
                            <input class="selectedValueFave" type="hidden"/>
                            <input type="hidden" th:field="*{importLocationId}" class="form-control select2"/>

                            <div style="width: 100%" class="possibleValuesDiv">
                                <label class="radio-inline">
                                    <input id="showBreedingLocationImportStudyOnlyRadio"
                                           th:onclick="'javascript: toggleDropdownImportStudy(\'showAllLocationImportStudyOnlyRadio\', \'importLocationId\', \'importFavoriteLocation\', \'Location\', true);'"
                                           name="import_study_location_filter" value="1" type="radio" checked="checked"/> <span
                                        th:text="#{show.breeding.location}">Breeding locations</span>
                                    &nbsp;&nbsp;
                                </label>
                                <label class="radio-inline">
                                    <input id="showAllLocationImportStudyOnlyRadio"
                                           th:onclick="'javascript: toggleDropdownImportStudy(\'showAllLocationImportStudyOnlyRadio\', \'importLocationId\', \'importFavoriteLocation\', \'Location\', true);'"
                                           name="import_study_location_filter" value="2" type="radio"/> <span
                                        th:text="#{show.all.location}">All locations types</span>
                                    &nbsp;&nbsp;
                                </label>
                            </div>
                            <div style="width: 100%" class="possibleValuesDiv">
                                <input type="checkbox"
                                       th:onclick="'javascript: toggleDropdownImportStudy(\'showAllLocationImportStudyOnlyRadio\', \'importLocationId\', \'importFavoriteLocation\', \'Location\', true);'"
                                       id="importFavoriteLocation"/>
                                &nbsp;&nbsp;
                                <span th:text="#{show.favorite.location}">Show Favorite Location</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a class='import-manage-location' href="javascript: void(0)"
                                   th:text="#{study.managesettings.manage.location}">Manage Location</a>
                            </div>
                            <!-- store possible values of variable -->
                            <div id="possibleValuesJsonLocation"
                                 class="possibleValuesJsonLocation" style="display:none">
                            </div>
                            <div id="possibleValuesFavoriteJsonLocation"
                                 class="possibleValuesFavoriteJsonLocation" style="display:none">
                            </div>
                            <!-- all values -->
                            <div id="allPossibleValuesJsonLocation"
                                 class="allPossibleValuesJsonLocation" style="display:none">
                            </div>
                            <!-- all favorite values -->
                            <div id="allPossibleValuesFavoriteJsonLocation"
                                 class="allPossibleValuesFavoriteJsonLocation" style="display:none">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group create-germplasm">
                        <div class="col-xs-4 col-md-4">
                            <label class="control-label label-bold" th:text="#{study.import.excel.name.type}+':'">Name
                                Type</label>&nbsp;<span class="required">*</span>
                        </div>
                        <div class="col-xs-7 col-md-7">
                            <select th:field="*{nameType}">
                                <option th:value="${nameType.fldno}" th:text="${nameType.fname}" th:each="nameType : ${nameTypes}"></option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="row form-group no-choose-gids">
                    <div class="col-xs-12 col-md-12">
                        <input type="checkbox" id="yesToAllDesig" name="yesToAllDesig" value="1"/>
                        <label class="control-label" th:text="#{apply.to.all}">Accept All Changes</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="javascript:goBackToImport();"
                            th:text="#{common.form.cancel.text}">Cancel
                    </button>
                    <button type="button" class="btn btn-primary" onclick="javascript:confirmDesignation();"
                            th:text="#{common.form.yes.text}">Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade import-window" id="discardImportDataConfirmation" role="dialog" aria-labelledby="discardImportDataConfirmation"
     aria-hidden="true">
    <div class="modal-dialog modal-small">
        <div class="modal-content">
            <div class="modal-body" id="discardImportDataConfirmationBody">
                <div class="row form-group">
                    <div class="col-xs-11 col-md-11">
                        <label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{common.form.confirmation.text}"></label>
                    </div>
                    <div class="col-xs-1 col-md-1">
                        <button id="close" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal"
                                aria-hidden="true"/>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12 col-md-12">
                        <label class="control-label label-bold" th:text="#{import.data.discard.confirmation}">Do you really want to discard
                            your imported data?</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.form.no.text}">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="javascript:revertData(true);" th:text="#{common.form.yes.text}">
                        Import
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade import-window" id="discardImportStockListDataConfirmation" role="dialog"
     aria-labelledby="discardImportDataConfirmation" aria-hidden="true">
    <div class="modal-dialog modal-small">
        <div class="modal-content">
            <div class="modal-body" id="discardImportStockListDataConfirmationBody">
                <div class="row form-group">
                    <div class="col-xs-11 col-md-11">
                        <label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{common.form.confirmation.text}"></label>
                    </div>
                    <div class="col-xs-1 col-md-1">
                        <button id="close" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal"
                                aria-hidden="true"/>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12 col-md-12">
                        <label class="control-label label-bold" th:text="#{import.data.discard.confirmation}">Do you really want to discard
                            your imported data?</label>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.form.no.text}">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="javascript:revertStockListData(true);"
                            th:text="#{common.form.yes.text}">Import
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade import-window" id="importOverwriteConfirmation" role="dialog" aria-labelledby="importOverwriteConfirmation"
     aria-hidden="true">
    <div class="modal-dialog modal-small">
        <div class="modal-content">
            <div class="modal-body" id="importOverwriteConfirmationBody">
                <div class="row form-group">
                    <div class="col-xs-11 col-md-11">
                        <label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{common.form.confirmation.text}"></label>
                    </div>
                    <div class="col-xs-1 col-md-1">
                        <button id="close" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal"
                                aria-hidden="true"/>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12 col-md-12">
                        <label class="control-label label-bold" th:text="#{import.data.overwrite.confirmation}">Current import file will
                            overwrite existing data, do you want to continue?</label>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.form.no.text}">No</button>
                    <button type="button" class="btn btn-primary" onclick="continueStudyImport(true);" th:text="#{common.form.yes.text}">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="page-script">
	<script type="text/javascript" th:src="@{/static/js/lib/bootstrap/bootstrap-fileupload.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/trialmanager/importStudy.js}"></script>
<script type='text/javascript' th:inline="javascript">
//<![CDATA[
var importStudyHeader = /*[[#{study.import.study.header}]]*/ '',
	importStudyBookHeader = /*[[#{study.import.study.book.header}]]*/ '',
	saveImportSuccessMessage = /*[[#{import.save.confirmation.text}]]*/ '';
//]]>
</script>
</div>
