<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
	
	<form class="import-stock-section" id="importStockListUploadForm"
	method="post" th:action="@{/stock/import}"
	enctype="multipart/form-data">
		<input type="hidden" id="import-stock-list-id" name="stockListId" value=""/>
		<div class="modal fade import-study-data import-window" id="importStockModal" role="dialog" aria-labelledby="importStockModal" aria-hidden="true">
			<div class="modal-dialog modal-medium">
				<div class="modal-content">
					
					<div class="modal-body" id="importStockModalBody">
						<div class="row form-group">
							<div class="col-xs-11 col-md-11">					
								<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{study.import.stock.header}"></label>
							</div>
							<div class="col-xs-1 col-md-1">
								<button id="close" type="button" class="close pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"/>
							</div>										
						</div>
						
						<div class="row form-group">
							<div id="page-import-stock-message-modal" class="col-xs-12 col-md-12">
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col-xs-11 col-md-11">					
								<label class="modal-title h5" th:text="#{study.import.stock.sub.header}">CHOOSE IMPORT FILE</label>
							</div>
							<div class="col-xs-1 col-md-1">
								&nbsp;		
							</div>										
						</div>	

						<div class="row form-group">
							<div class="col-xs-11 col-md-11">					
								<label class="modal-title" th:text="#{common.import.choose.file}" >Choose the file you would like to import.</label>
							</div>
							<div class="col-xs-1 col-md-1">
								&nbsp;		
							</div>										
						</div>

						<div class="row form-group add_top_padding">
							<div class="col-md-12">
								<div class="import-stock-file-upload fileupload-new fbk-import-upload-file" data-provides="fileupload">
                                    		<span class="btn btn-info btn-file ">
                                                <span class="fileupload-new" th:text="#{common.import.browse.file}">Browse</span>
                                                <input id="fileupload-import-stock" name="file" type="file" class="file-input"/>
                                            </span>
                                    <span class="fileupload-preview-wrap"><b><span th:text="#{selected.import.file}">Selected import file</span>:</b> <i class="fileupload-preview"></i></span>
                                    <span style="display: inline-block; margin-left: 15px">
                                        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload" th:text="#{common.clear.settings}">Clear</a>
                                    </span>

                                </div>
							</div>
						</div>
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
						<button type="button" class="btn btn-primary btn-import-stock" aria-hidden="true" th:text="#{common.form.submit.text}">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<div layout:fragment="page-script">
	<script type="text/javascript" th:src="@{/static/js/lib/bootstrap/bootstrap-fileupload.js}"></script>	
</div>
