<div class="col-xs-12 col-md-12 main-inventory" style="opacity: 1" id="sample-list-pagination">
	<form id="germplasm-list-form" role="form-horizontal" class="form-horizontal" action="#"
	      enctype="multipart/form-data">
		
	
		<input type="hidden" id="listId" th:value="*{listId}"/>
		
		<!-- case 1: no data means no table -->
		<div th:if="*{sampleList == null or #lists.isEmpty(sampleList)}">
			<span class="noGermplasmListIndicator" th:text="#{nursery.import.no.germplasm.list}">No Germplasm list</span>
		</div>
		
		<!-- case 2: advanced view of the importedGermplasm -->
		<div class="advance-nursery-list-table" th:if="*{sampleList != null and not #lists.isEmpty(sampleList)}">
			<div class="mdt-columns">
				<span class="btn btn-link fbk-toggle-categorical-display" th:text="#{measurements.show.categorical.description}">Show Categorical Description</span>
				<div class="btn-group">
					<i class="glyphicon glyphicon-th dropdown-toggle fbk-show-hide-grid-column" data-toggle="dropdown"></i>
					
					<ul class="dropdown-menu measurement-dropdown-menu fbk-right-button-drop-down" role="menu"  th:object="${createNurseryForm != null ? createNurseryForm : createTrialForm}">
						<li>
							<a href="javascript: void(0)"
							   th:text="SAMPLE_UUID"
							   th:attr="data-column-name=SAMPLE_UID"
							   th:attrappend="data-index=9">
							</a>
							<a href="javascript: void(0)"
							   th:text="PLANT_UID"
							   th:attr="data-column-name=PLANT_UID"
							   th:attrappend="data-index=10">
							</a>
							<a href="javascript: void(0)"
							   th:text="PLOT_ID"
							   th:attr="data-column-name=PLOT_ID"
							   th:attrappend="data-index=11">
							</a>
						</li>
					</ul>
				</div>
			</div>
			<table id="inventory-table" th:if="*{not #lists.isEmpty(sampleList)}" width="100%"
			       class="table-curved table-condensed final-advance-list">
				<thead>
				<tr>
					<th nowrap="nowrap" th:each="tableHeader : ${tableHeaderList}" th:text="${tableHeader.columnName}"
					    th:attr="data-col-name=${tableHeader.dataCol}"></th>
				</tr>
				</thead>
				<tbody>
				<tr class="primaryRow" th:each="sample, row : *{sampleList}" th:attr="data-gid=${sample.gid}">
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.entryNo}">.1</td>
					<td th:class="${row.even}? 'even' : 'odd'">
						<a href="javascript: void(0)" onclick="javascript: openGermplasmDetailsPopop(this)" th:text="${sample.designation}"
						   th:attr="data-gid=${sample.gid}" th:attrappend="data-desig=${sample.designation}">.2</a>
					</td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.plotNo}"></td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.plantNo}"></td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.sampleName}"></td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.takenBy}"></td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.displayDate}"></td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.takenBy}"></td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.sampleBusinessKey}"></td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.plantBusinessKey}"></td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.plotId}"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</form>

</div>
<br/>

<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
	/*globals getJquerySafeId, showMultiTabPage, truncateStudyVariableNames*/
	/*exported paginationUrl, options*/

	var ListPage = {
		setupPage: function () {
			var listDivIdentifier = '';
			if ($('#create-nursery-tab-headers .tabdrop').hasClass('active')) {
				//means the active is in the tab drop
				listDivIdentifier = $('#create-nursery-tab-headers .tabdrop li.active .fbk-close-tab').attr('id');
			} else {
				listDivIdentifier = $('#create-nursery-tab-headers li.active .fbk-close-tab').attr('id');
			}

			var sectionContainerDiv = 'sample-list' + listDivIdentifier;

			truncateStudyVariableNames('#' + sectionContainerDiv + ' .sample-list-table .sample-list-comment', 30);

			new BMS.Fieldbook.FinalSampleListDataTable('#' + sectionContainerDiv + ' .final-sample-list', '#' + sectionContainerDiv, null, true);
			$('#' + sectionContainerDiv + ' .main-inventory').css('opacity', 1);
		}
	};

	$(document).ready(function () {
		'use strict';
		setTimeout(ListPage.setupPage, 3);
	});
	//]]>
</script>
