<div class="col-xs-12 col-md-12 main-inventory" style="" id="sample-list-pagination">
	<form role="form-horizontal" class="form-horizontal" action="#"
	      enctype="multipart/form-data">

		<input type="hidden" id="listId" th:value="*{listId}"/>

		<div th:if="*{sampleList == null or #lists.isEmpty(sampleList)}">
			<span>No Sample list</span>
		</div>

		<div th:if="*{sampleList != null and not #lists.isEmpty(sampleList)}">
			<table th:id="'sample-list-' + *{listId}" th:if="*{not #lists.isEmpty(sampleList)}" width="100%"
			       class="table-curved table-condensed">
				<thead>
				<tr>
					<!-- Hide the PLOT_NO column if the dataset where the sample list was created from is SUB-OBSERVATION DATASET-->
					<!-- Hide the Sub-observation Enumerator column if the dataset where the sample list was created from is PLOT DATASET-->
					<th nowrap="nowrap" th:each="tableHeader : ${tableHeaderList}"
						th:text="${tableHeader.columnName}"
					    th:attr="data-col-name=${tableHeader.dataCol}"
						th:attrappend="data-col-visible=${tableHeader.visible}"
						th:unless="*{(isSubObservationDataset and tableHeader.columnName == 'PLOT_NO') or (not isSubObservationDataset and #strings.isEmpty(tableHeader.columnName))}"></th>
				</tr>
				</thead>
				<tbody>
				<tr class="primaryRow" th:each="sample, row : *{sampleList}" th:attr="data-gid=${sample.gid}">
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.entryNumber}"></td>
					<td th:class="${row.even}? 'even' : 'odd'">
						<a href="javascript: void(0)" onclick="javascript: openGermplasmDetailsPopop(this)" th:text="${sample.designation}"
						   th:attr="data-gid=${sample.gid}" th:attrappend="data-desig=${sample.designation}"></a>
					</td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.plotNumber}" th:unless="*{isSubObservationDataset}"></td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.observationUnitNumber}" th:if="*{isSubObservationDataset}"></td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.sampleName}"></td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.takenBy}"></td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.displayDate}"></td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.sampleBusinessKey}"></td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.plateId}"></td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.well}"></td>
					<td th:class="${row.even}? 'even' : 'odd'" th:text="${sample.obsUnitId}"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</form>

</div>
<br/>

<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
	$(document).ready(function () {
		'use strict';
		setTimeout(function () {
			new BMS.Fieldbook.FinalSampleListDataTable('#sample-list-[[*{listId}]]', '', null, true);
		}, 3);
	});
	//]]>
</script>
