<div class="list-details">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="popover-label-padding">
				<label class="control-label control-label-bold "
					th:text="#{germplasm.list.name}">List Name:</label>
			</div>
			<label class="germplasm-header-details" id="list-name"></label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="popover-label-padding">
				<label class="control-label control-label-bold"
					th:text="#{germplasm.list.owner}">List Owner:</label>
			</div>
			<label class="germplasm-header-details" id="list-owner"></label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="popover-label-padding">
				<label class="control-label control-label-bold"
					th:text="#{germplasm.list.status}">Status:</label>
			</div>
			<label class="germplasm-header-details" id="list-status"></label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="popover-label-padding">
				<label class="control-label control-label-bold"
					th:text="#{germplasm.list.description}">Description:</label>
			</div>
			<label class="germplasm-header-details" id="list-description"></label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="popover-label-padding">
				<label class="control-label control-label-bold"
					th:text="#{germplasm.list.type}">Type:</label>
			</div>
			<label class="germplasm-header-details" id="list-type"></label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="popover-label-padding">
				<label class="control-label control-label-bold"
					th:text="#{germplasm.list.date}">Date:</label>
			</div>
			<label class="germplasm-header-details" id="list-date"></label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="popover-label-padding">
				<label class="control-label control-label-bold "
					th:text="#{germplasm.list.notes}">Notes:</label>
			</div>
			<label class="germplasm-header-details" id="list-notes"></label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="popover-label-padding">
				<label class="control-label control-label-bold"
					th:text="#{germplasm.list.total.entries}">Total Entries:</label>
			</div>
			<label class="germplasm-header-details" id="list-total-entries"></label>
		</div>
	</div>
</div>

<div layout:fragment="page-script">
	<script type="text/javascript" th:src="@{/static/js/listTreeInclude.js}"></script>
	<script type='text/javascript' th:inline="javascript">
		//<![CDATA[
		var cannotMove = /*[[#{browse.study.move.can.not}]]*/'';
		var hasChildrenString = /*[[#{browse.study.move.has.children}]]*/'';
		var	pleaseChooseFolder = /*[[#{import.germplasm.choose.a.list}]]*/'';
		//]]>
	</script>
</div>
