<!-- Modal -->
<div class="modal fade" id="addGermplasmFolder" role="dialog" aria-labelledby="addGermplasmFolder" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">
			
			<form onsubmit="return createGermplasmFolder();">
			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">					
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{browse.nursery.add.folder.name}"></label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button  id="closeAddGermplasmFolder" type="button" class="close  pull-right glyphicon glyphicon-remove" onclick="javascript: closeModal('addGermplasmFolder')"/>
					</div>										
				</div>
				
				<div class="row">
					<div id="page-add-germplasm-folder-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>
				<div class="row form-group">
						<div class="col-xs-5 col-md-5 add_top_padding">
							<label class="control-label label-bold" th:text="#{browse.nursery.folder.name}">Folder Name:</label><span class="required">*</span>
						</div>
						<div class="col-xs-7 col-md-7">
							<input id="addGermplasmFolderName" name="addGermplasmFolderName" type="text" class="form-control select2" placeholder="Folder Name"/>
						</div>
				</div>
			</div>
			</form>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-default" onclick="javascript: closeModal('addGermplasmFolder')" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
				<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.add.text}" onclick="javascript: createGermplasmFolder();">Ok</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="renameGermplasmFolder" role="dialog" aria-labelledby="renameGermplasmFolder" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">			
			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">					
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{browse.nursery.rename.folder.name}"></label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button  id="closeRenameGermplasmFolder" type="button" class="close  pull-right glyphicon glyphicon-remove"  onclick="javascript: closeModal('renameGermplasmFolder')"/>
					</div>										
				</div>
				<div class="row">
					<div id="page-rename-germplasm-folder-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>
				<div class="row form-group">
						<div class="col-xs-5 col-md-5 add_top_padding">
							<label class="control-label  label-bold" th:text="#{browse.nursery.folder.name}">Folder Name:</label><span class="required">*</span>
						</div>
						<div class="col-xs-7 col-md-7">
							<input id="newGermplasmFolderName" name="newGermplasmFolderName" type="text" class="form-control select2" placeholder="Folder Name"/>
						</div>
				</div>

			</div>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-default" onclick="javascript: closeModal('renameGermplasmFolder')" th:text="#{common.form.cancel.text}">Cancel</button>
				<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.ok.text}" onclick="javascript: submitRenameGermplasmFolder();">Ok</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteGermplasmFolder" role="dialog" aria-labelledby="deleteGermplasmFolder" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">			
			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">					
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{browse.nursery.delete.folder.name}"></label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button  id="closeDeleteGermplasmFolder" type="button" class="close  pull-right glyphicon glyphicon-remove"  onclick="javascript: closeModal('deleteGermplasmFolder')"/>
					</div>										
				</div>
				
				<div class="row">
					<div id="page-delete-germplasm-folder-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>
				<div class="row form-group">
						<div class="col-xs-12 col-md-12 add_top_padding">
							<label class="control-label" id="delete-folder-confirmation"></label>
						</div>
				</div>

			</div>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-default" onclick="javascript: closeModal('deleteGermplasmFolder')" th:text="#{common.form.no.text}">Cancel</button>
				<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.yes.text}" onclick="javascript: submitDeleteGermplasmFolder();">Ok</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="moveGermplasmFolder" role="dialog" aria-labelledby="moveGermplasmFolder" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">			
			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">					
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{common.form.notification.text}"></label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button  id="closeMoveGermplasmFolder" type="button" class="close  pull-right glyphicon glyphicon-remove"  onclick="javascript: closeModal('moveGermplasmFolder')"/>
					</div>										
				</div>
				
				<div class="row">
					<div id="page-move-germplasm-folder-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>

			</div>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-primary" onclick="javascript: closeModal('moveGermplasmFolder')" th:text="#{common.form.ok.text}" >Ok</button>
			</div>
		</div>
	</div>
</div>

<div layout:fragment="page-script">
	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[
		
		function viewGermplasmLitDetails() {
			'use strict';
			openGermplasmListDetailsPopop(listId);
		}
		function displayListDetails(listIdTemp) {
			'use strict';
			var suffix = '/N';
			if(!isNursery()){
				suffix = '/T';
			}
			listId = listIdTemp;
			$('#'+getDisplayedTreeName()).find('*').removeClass('dynatree-selected');
			
			$.ajax({
				url: '/Fieldbook/NurseryManager/importGermplasmList/displayGermplasmDetails/' + listId + suffix,
				type: 'GET',
				cache: false,
				success: function(html) {
					$('#imported-germplasm-list').css('display', 'block');
					$('#imported-germplasm-list').html(html);
					$('#entries-details').css('display', 'block');
					$('#numberOfEntries').html($('#totalGermplasms').val());
					$('#imported-germplasm-list-reset-button').css('opacity', '1');
					if(isNursery()){
						makeDraggable(makeDraggableBool);					
						checksFromPrimary = 0;
						setSpinnerMaxValue();
	
						itemsIndexAdded = [];
	
						if (lastDraggedChecksList == 0) {
							// We clear the list in the check
							resetCheckList();
						}
						addFakeCheckTable();
					}
				}
			});
		}
		
		
		function displayGermplasmDetails(listIdTemp){
			'use strict';
			if (lastDraggedChecksList === 0 && $('.check-germplasm-list-items tbody tr').length > 0){
				$('#confirmReplaceListModal #replaceListId').val(listIdTemp);
				$('#confirmReplaceListModal').modal({ backdrop: 'static', keyboard: true });	
			}else {
				displayListDetails(listIdTemp);
			}
			
		}
		
        function createGermplasmFolder() {
            'use strict';

            var node = $('#' + getDisplayedTreeName()).dynatree('getTree').getActiveNode();

            if (!node) {
                showErrorMessage('page-rename-germplasm-folder-message-modal', invalidNodeGermplasmTreeMessage);
                return false;
            }

            if (!node.data.isFolder || (node.data.key > 1 || node.data.key === 'CENTRAL')) {
                showErrorMessage('page-rename-germplasm-folder-message-modal', addGermplasmInvalidFolderMessage);
                return false;
            }



            var folderName = $.trim($(getDisplayedModalSelector() + ' #addGermplasmFolderName').val()),
                    parentFolderId;

            if (folderName === '') {
                showErrorMessage('page-add-germplasm-folder-message-modal', folderNameRequiredMessage);
                return false;
            } else if (!isValidInput(folderName)) {
                showErrorMessage('page-add-germplasm-folder-message-modal', invalidFolderNameCharacterMessage);
                return false;
            } else {
                parentFolderId = $('#' + getDisplayedTreeName()).dynatree('getTree').getActiveNode().data.key;
                if (parentFolderId === 'LOCAL') {
                    parentFolderId = 1;
                }

                $.ajax({
                    url: '/Fieldbook/ListTreeManager/addGermplasmFolder',
                    type: 'POST',
                    data: 'parentFolderId=' + parentFolderId + '&folderName=' + folderName,
                    cache: false,
                    success: function (data) {
                        if (data.isSuccess === '1') {
                            // Lazy load the node
                            var node = $('#' + getDisplayedTreeName()).dynatree('getTree').getActiveNode();
                            doGermplasmLazyLoad(node);
                            node.focus();
                            node.expand();
                            hideAddGermplasmFolderDiv();
                            showSuccessfulMessage('', addFolderSuccessful);
                        } else {
                            showErrorMessage('page-add-germplasm-folder-message-modal', data.message);
                        }
                    }
                });
            }
            return false;
        }

        function hideAddGermplasmFolderDiv() {
            'use strict';
            $(getDisplayedModalSelector() + ' #addGermplasmFolderDiv').slideUp('fast');
        }

        function hideRenameGermplasmFolderDiv() {
            'use strict';
            $(getDisplayedModalSelector() + ' #renameGermplasmFolderDiv').slideUp('fast');
        }

        function addGermplasmFolder(object) {
            'use strict';
            if (!$(object).hasClass('disable-image')) {
                hideRenameGermplasmFolderDiv();
                $(getDisplayedModalSelector() + ' #addGermplasmFolderName').val('');
                $(getDisplayedModalSelector() + ' #addGermplasmFolderDiv').slideDown('fast');
            }
        }

        function renameGermplasmFolder(object) {
            'use strict';

            var currentFolderName;

            if (!$(object).hasClass('disable-image')) {
                hideAddGermplasmFolderDiv();

                currentFolderName = $('#' + getDisplayedTreeName()).dynatree('getTree').getActiveNode().data.title
                $(getDisplayedModalSelector() + ' #newGermplasmFolderName').val(currentFolderName);

                $(getDisplayedModalSelector() + ' #renameGermplasmFolderDiv').slideDown('fast');
            }
        }

        function submitRenameGermplasmFolder() {
            'use strict';

            var folderName = $.trim($(getDisplayedModalSelector() + ' #newGermplasmFolderName').val()),
                    parentFolderId;

            var node = $('#' + getDisplayedTreeName()).dynatree('getTree').getActiveNode();

            if (! node) {
                showErrorMessage('page-rename-germplasm-folder-message-modal',invalidNodeGermplasmTreeMessage);
                return false;
            }

            if (!node.data.isFolder || (node.data.key > 1 || node.data.key === 'CENTRAL' || node.data.key === 'LOCAL')) {
                showErrorMessage('page-rename-germplasm-folder-message-modal', renameGermplasmInvalidFolderMessage);
                return false;
            }

            if ($.trim(folderName) === $('#' + getDisplayedTreeName()).dynatree('getTree').getActiveNode().data.title) {
            	hideRenameGermplasmFolderDiv()
                return false;
            }

            if (folderName === '') {
                showErrorMessage('page-rename-germplasm-folder-message-modal', folderNameRequiredMessage);
                return false;
            } else if (!isValidInput(folderName)) {
                showErrorMessage('page-rename-germplasm-folder-message-modal', invalidFolderNameCharacterMessage);
                return false;
            } else {
                parentFolderId = $('#' + getDisplayedTreeName()).dynatree('getTree').getActiveNode().data.key;
                if (parentFolderId === 'LOCAL') {
                    parentFolderId = 1;
                }

                $.ajax({
                    url: '/Fieldbook/ListTreeManager/renameGermplasmFolder',
                    type: 'POST',
                    data: 'folderId=' + parentFolderId + '&newFolderName=' + folderName,
                    cache: false,
                    success: function (data) {
                        var node;
                        if (data.isSuccess === '1') {
                            hideRenameGermplasmFolderDiv();
                            node = $('#' + getDisplayedTreeName()).dynatree('getTree').getActiveNode();
                            node.data.title = folderName;
                            $(node.span).find('a').html(folderName);
                            node.focus();
                            showSuccessfulMessage('', renameFolderSuccessful);
                        } else {
                            showErrorMessage('page-rename-germplasm-folder-message-modal', data.message);
                        }
                    }
                });
            }
        }
		
        function openListTree(type) {
			'use strict';
			openTreeType = type;
			$('#listTreeModal').modal({ backdrop: 'static', keyboard: true });
			$('#page-import-message-modal').html('');
			additionalLazyLoadUrl = '/0';
			$('.popover').hide();
		}
		function folderChangeKeypress(event, type){
			'use strict';
			if(event.keyCode === 13){
				if(type === '1'){
					createGermplasmFolder();
				}else if(type === '2'){
					submitRenameGermplasmFolder();
				}
			}
		}
		function chooseList(){
			'use strict';
			var node = $('#'+getDisplayedTreeName()).dynatree('getTree').getActiveNode();
			chooseListNode(node, false);
		}

		function chooseListNode(node, fromEnterKey) {
			'use strict';		

			if (node === null || node.data.isFolder) {
				if(fromEnterKey === false){
					showErrorMessage('page-import-message-modal', pleaseChooseFolder);
				}
			} else {
				if (openTreeType === 1) {
					// Load in main list
					if (lastDraggedChecksList != node.data.key) {
						// Loads the primary germplasm list
						lastDraggedPrimaryList = node.data.key;
						displayGermplasmDetails(node.data.key);
					} else {
						if(fromEnterKey === false){
							showErrorMessage('page-import-message-modal', sameListErr);
							return;	
						}
						
					}
				} else if(openTreeType === 2) {
					// Load in check list
					if (lastDraggedPrimaryList != node.data.key) {
						// Loads the check list
						$('#lastCheckSourcePrimary').val(0);
						lastDraggedChecksList = node.data.key;

						// Set primary germplasm list rows' opacity to 1
						$('.germplasm-list-items tbody tr').css('opacity', '1');

						// If there is an existing list already, ask user if data should be overwritten
						if ($('.check-germplasm-list-items tbody tr').length > 0) {
							$('#keyForOverwrite').val(node.data.key);
							$('#confirmationModal').modal('show');
						} else {
							displayGermplasmCheckDetails(node.data.key);
						}
						makeCheckDraggable(false);
					} else {
						if(fromEnterKey === false){
							showErrorMessage('page-import-message-modal', sameListErr);
							return;
						}
					}
				}
				$('#listTreeModal').modal('hide');
			}
		}

		//]]>
	</script>
</div>