<!-- Modal -->
<div class="manageGermplasmContext">
<div class="modal fade" id="addGermplasmFolder" role="dialog" aria-labelledby="addGermplasmFolder" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">
			
			<form onsubmit="return createGermplasmFolderInTreeTable();">
			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{browse.study.add.folder.name}"></label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button id="closeAddGermplasmFolder" type="button" class="close  pull-right glyphicon glyphicon-remove" onclick="javascript: closeModal('addGermplasmFolder')"/>
					</div>										
				</div>
				
				<div class="row">
					<div id="page-add-germplasm-folder-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>
				<div class="row form-group">
						<div class="col-xs-5 col-md-5 add_top_padding">
							<label class="control-label label-bold" th:text="#{browse.study.folder.name}">Folder Name:</label><span class="required">*</span>
						</div>
						<div class="col-xs-7 col-md-7">
							<input id="addGermplasmFolderName" name="addGermplasmFolderName" type="text" class="form-control select2" placeholder="Folder Name"/>
						</div>
				</div>
			</div>
			</form>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-default" onclick="javascript: closeModal('addGermplasmFolder')" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
				<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.add.text}" onclick="javascript: createGermplasmFolderInTreeTable();">Ok</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="renameGermplasmFolder" role="dialog" aria-labelledby="renameGermplasmFolder" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">			
			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">					
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{browse.study.rename.folder.name}"></label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button  id="closeRenameGermplasmFolder" type="button" class="close  pull-right glyphicon glyphicon-remove"  onclick="javascript: closeModal('renameGermplasmFolder')"/>
					</div>										
				</div>
				<div class="row">
					<div id="page-rename-germplasm-folder-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>
				<div class="row form-group">
						<div class="col-xs-5 col-md-5 add_top_padding">
							<label class="control-label  label-bold" th:text="#{browse.study.folder.name}">Folder Name:</label><span class="required">*</span>
						</div>
						<div class="col-xs-7 col-md-7">
							<input id="newGermplasmFolderName" name="newGermplasmFolderName" type="text" class="form-control select2" placeholder="Folder Name"/>
						</div>
				</div>

			</div>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-default" onclick="javascript: closeModal('renameGermplasmFolder')" th:text="#{common.form.cancel.text}">Cancel</button>
				<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.ok.text}" onclick="javascript: submitRenameGermplasmFolderInTreeTableInTreeTable();">Ok</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteFolder" role="dialog" aria-labelledby="deleteFolder" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">			
			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">					
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{browse.study.delete.folder.name}"></label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button  id="closeDeleteGermplasmFolder" type="button" class="close  pull-right glyphicon glyphicon-remove"  onclick="javascript: closeModal('deleteFolder')"/>
					</div>										
				</div>
				
				<div class="row">
					<div id="page-delete-germplasm-folder-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>
				<div class="row form-group">
						<div class="col-xs-12 col-md-12 add_top_padding">
							<label class="control-label" id="delete-folder-confirmation"></label>
						</div>
				</div>

			</div>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-default" onclick="javascript: closeModal('deleteFolder')" th:text="#{common.form.no.text}">Cancel</button>
				<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.yes.text}" onclick="javascript: germplasmTreetable.submitDeleteFolderInTreeTable();">Ok</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="moveGermplasmFolder" role="dialog" aria-labelledby="moveGermplasmFolder" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">			
			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">					
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{common.form.notification.text}"></label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button  id="closeMoveGermplasmFolder" type="button" class="close  pull-right glyphicon glyphicon-remove"  onclick="javascript: closeModal('moveGermplasmFolder')"/>
					</div>										
				</div>
				
				<div class="row">
					<div id="page-move-germplasm-folder-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>

			</div>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-primary" onclick="javascript: closeModal('moveGermplasmFolder')" th:text="#{common.form.ok.text}" >Ok</button>
			</div>
		</div>
	</div>
</div>
</div>

<div layout:fragment="page-script">
	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[
		function viewGermplasmLitDetails() {
			'use strict';
			openGermplasmListDetailsPopop(listId);
		}
		function displayListDetails(listIdTemp) {
			'use strict';
			listId = listIdTemp;
			$('#'+getDisplayedTreeName()).find('*').removeClass('dynatree-selected');
			
			$.ajax({
				url: '/Fieldbook/StudyManager/importGermplasmList/displayGermplasmDetails/' + listId,
				type: 'GET',
				cache: false,
				success: function(html) {
					$('#imported-germplasm-list').css('display', 'block');					 
					$('#imported-germplasm-list').html(html).trigger("germplasmListIsUpdated");
					window.ImportGermplasm.initialize(dataGermplasmList);
					$('#entries-details').css('display', 'block');
					$('#numberOfEntries').html($('#totalGermplasms').val());
                    toggleControlsForGermplasmListManagement(true);
					$(document).trigger('germplasmListUpdated');
					$('.view-header').show();
				}
			});
		}
		
		
		function displayGermplasmDetails(listIdTemp){
			'use strict';
			if (lastDraggedChecksList === 0 && $('.check-germplasm-list-items tbody tr').length > 0){
				$('#confirmReplaceListModal #replaceListId').val(listIdTemp);
				$('#confirmReplaceListModal').modal({ backdrop: 'static', keyboard: true });	
			}else {
				displayListDetails(listIdTemp);
			}
			
		}

		function hideFolderDiv(selector) {
			'use strict';
			$(getDisplayedModalSelector() + ' ' + selector).slideUp('fast');
		}

        function openListTree(type, selectListFunctionParam) {
			'use strict';
			openTreeType = type;

            if (selectListFunctionParam) {
                selectListFunction = selectListFunctionParam;
            }

			$('#listTreeModal').modal({ backdrop: 'static', keyboard: true });
			$('#page-import-message-modal').html('');
			additionalLazyLoadUrl = '/0';
			$('.popover').hide();
			TreePersist.preLoadGermplasmTreeState(true, '#germplasmTreeTable');
		}
		function folderChangeKeypress(event, type){
			'use strict';
			if(event.keyCode === 13){
				if(type === '1'){
					germplasmTreetable.createFolderInTreeTable();
				}else if(type === '2'){
					germplasmTreetable.submitRenameFolderInTreeTable();
				}
			}
		}
		
		var ListTable = {
			chooseList: function(){
				'use strict';
				var node = germplasmTreetable.getSelectedList();
				ListTable.chooseListNode(node, false);
			},
	
			chooseListNode : function (node, fromEnterKey) {
				'use strict';		
	
				if (node === null || germplasmTreetable.isSelectedListAFolder()) {
					if(fromEnterKey === false){
						showErrorMessage('page-import-message-modal', pleaseChooseFolder);
					}
				} else {
					var id = germplasmTreetable.getSelectedListId();
					if (openTreeType === 1) {
						// Load in main list
						if (lastDraggedChecksList != id) {
							// Loads the primary germplasm list
							lastDraggedPrimaryList = id;
							displayGermplasmDetails(id);
	
	                        if (selectListFunction) {
	                            selectListFunction(id);
	                        }
	
						} else {
							if(fromEnterKey === false){
								showErrorMessage('page-import-message-modal', sameListErr);
								return;	
							}
							
						}
					} else if(openTreeType === 2) {
						// Load in check list
						if (lastDraggedPrimaryList != id) {
							// Loads the check list
							$('#lastCheckSourcePrimary').val(0);
							lastDraggedChecksList = id;
	
							// Set primary germplasm list rows' opacity to 1
							$('.germplasm-list-items tbody tr').css('opacity', '1');
	
							// If there is an existing list already, ask user if data should be overwritten
							if ($('.check-germplasm-list-items tbody tr').length > 0) {
								$('#keyForOverwrite').val(id);
								$('#confirmationModal').modal('show');
							}
						} else {
							if(fromEnterKey === false){
								showErrorMessage('page-import-message-modal', sameListErr);
								return;
							}
						}
					}
					$('#listTreeModal').modal('hide');
				}
			}
		}

		//]]>
	</script>
</div>
