<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade review-details-out-of-bounds-data-window"
		id="openCrossesListModal" role="dialog"
		aria-labelledby="openCrossesListModal" aria-hidden="true">
		<div class="modal-dialog modal-large">
			<div class="modal-content">
				<div class="modal-body" id="openCrossesListModalBody">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title" id="heading-modal">Import
								Crosses</label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button id="close" type="button"
								class="close  pull-right glyphicon glyphicon-remove"
								data-dismiss="modal" aria-hidden="true"></button>
						</div>
					</div>

					<div class="row add_top_padding">
						<div class="col-xs-12 col-md-12">
							<strong class="sub-content-heading">REVIEW IMPORTED
								CROSSES</strong>
						</div>
					</div>
					<div class="row form-group add_top_padding">
						<div class="col-xs-12 col-md-12">
							<table id="preview-crosses-table" width="100%"
								class="table-curved table-condensed">
								<thead>
									<tr>
										<th nowrap="nowrap" class="factors">ENTRY</th>
										<th nowrap="nowrap" class="factors">PARENTAGE</th>
										<th nowrap="nowrap" class="factors">ENTRY CODE</th>
										<th nowrap="nowrap" class="factors">FEMALE PARENT</th>
										<th nowrap="nowrap" class="factors">FGID</th>
										<th nowrap="nowrap" class="factors">MALE PARENT</th>
										<th nowrap="nowrap" class="factors">MGID</th>
										<th nowrap="nowrap" class="factors">SOURCE</th>

									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="goBackToImportCrossesButton"
						th:text="#{common.form.back.text}">Back</button>
					<button type="button" class="btn btn-primary" id="openCrossListNextButton"
						th:text="#{common.form.next.text}" onclick="">Next</button>
				</div>
			</div>
		</div>
	</div>
</div>