<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade review-details-out-of-bounds-data-window"
		id="openCrossesListModal" role="dialog"
		aria-labelledby="openCrossesListModal" aria-hidden="true">
		<div class="modal-dialog modal-large" style="width: 95%">
			<div class="modal-content">
				<div class="modal-body" id="openCrossesListModalBody">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title" id="heading-modal"
								   th:text="#{open.crosses.review.imported.crosses}">Review Crosses</label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button id="close" type="button"
								class="close  pull-right glyphicon glyphicon-remove"
								data-dismiss="modal" aria-hidden="true"></button>
						</div>
					</div>
					<div class="row form-group add-top-padding fbk-hide" id="showOnlyRecordsWithAlertsDiv">
						<div class="col-xs-11 col-md-11">
							<input type="checkbox" id="showOnlyRecordsWithAlerts"/>
							<label th:text="#{crossing.show.only.records.with.alerts}"></label>
						</div>
					</div>
					<div class="row form-group add_top_padding">
						<div class="col-xs-12 col-md-12 cross-preview-section">
							<table id="preview-crosses-table" width="100%"
								class="table-curved table-condensed">
								<thead>
									<tr>
										<th nowrap="nowrap" style="min-width: 30px !important;" class="factors" th:text="#{open.crosses.factors.alerts}">ALERTS</th>
										<th nowrap="nowrap" style="min-width: 30px !important;" class="factors" th:text="#{open.crosses.factors.entry}">ENTRY</th>
										<th nowrap="nowrap" style="min-width: 110px !important;" class="factors" th:text="#{open.crosses.factors.parentage}">PARENTAGE</th>
										<th nowrap="nowrap" style="min-width: 173px !important;" class="factors" th:text="#{open.crosses.factors.duplicate}">DUPLICATES</th>
										<th nowrap="nowrap" style="min-width: 100px !important;" class="factors" th:text="#{open.crosses.factors.maleparentpedigree}">PEDIGREE OF FEMALE PARENT</th>
										<th nowrap="nowrap" style="min-width: 115px !important;" class="factors" th:text="#{open.crosses.factors.femalePlot}">FEMALE PARENT</th>
										<th nowrap="nowrap" style="min-width: 100px !important;" class="factors" th:text="#{open.crosses.factors.source}">PEDIGREE OF MALE PARENT</th>
										<th nowrap="nowrap" style="min-width: 115px !important;" class="factors" th:text="#{open.crosses.factors.malePlot}">MALE PARENT</th>
										<th nowrap="nowrap" style="min-width: 140px !important;" class="factors" th:text="#{open.crosses.factors.breedingmethod}">BREEDING METHOD</th>
										<th nowrap="nowrap" style="min-width: 140px !important;" class="factors" th:text="#{open.crosses.factors.source}">SOURCE</th>
										<th nowrap="nowrap" style="min-width: 57px !important;" class="factors" th:text="#{open.crosses.factors.fgid}">FEMALE GID</th>
										<th nowrap="nowrap" style="min-width: 57px !important;" class="factors" th:text="#{open.crosses.factors.mgid}">MALE GID</th>
										<th nowrap="nowrap" style="min-width: 57px !important;" class="factors" th:text="#{open.crosses.factors.breedingmethodnumber}">BREEDING METHOD NUMBER</th>
										<th nowrap="nowrap" style="min-width: 57px !important;" class="factors" th:text="#{open.crosses.factors.gid}">GID</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- The Back button is hidden with the css styles if we came from the Breeding Manager-->
					<button type="button" class="btn btn-default" id="goBackToNamingModal" th:text="#{common.form.back.text}">
						Back</button>
					<button type="button" class="btn btn-primary" id="openCrossListNextButton"
						th:text="#{common.form.finish.text}" onclick="">Finish</button>
				</div>
			</div>
		</div>
	</div>

	<table id="preview-crosses-table-template" width="100%"
		class="table-curved table-condensed fbk-hide">
		<thead>
			<tr>
				<th nowrap="nowrap" class="factors" th:text="#{open.crosses.factors.alerts}">ALERTS</th>
				<th nowrap="nowrap" class="factors" th:text="#{open.crosses.factors.entry}">ENTRY</th>
				<th nowrap="nowrap" class="factors" th:text="#{open.crosses.factors.parentage}">PARENTAGE</th>
				<th nowrap="nowrap" class="factors" th:text="#{open.crosses.factors.duplicate}">DUPLICATES</th>
				<th nowrap="nowrap" class="factors" th:text="#{open.crosses.factors.maleparentpedigree}">PEDIGREE OF MALE PARENT</th>
				<th nowrap="nowrap" class="factors" th:text="#{open.crosses.factors.femalePlot}">FEMALE PARENT</th>
				<th nowrap="nowrap" class="factors" th:text="#{open.crosses.factors.femaleparentpedigree}">PEDIGREE OF FEMALE PARENT</th>
				<th nowrap="nowrap" class="factors" th:text="#{open.crosses.factors.malePlot}">MALE PARENT</th>
				<th nowrap="nowrap" class="factors" th:text="#{open.crosses.factors.breedingmethod}">BREEDING METHOD</th>
				<th nowrap="nowrap" class="factors" th:text="#{open.crosses.factors.source}">SOURCE</th>
				<th nowrap="nowrap" class="factors" th:text="#{open.crosses.factors.fgid}">FEMALE GID</th>
				<th nowrap="nowrap" class="factors" th:text="#{open.crosses.factors.mgid}">MALE GID</th>
				<th nowrap="nowrap" class="factors" th:text="#{open.crosses.factors.breedingmethodnumber}">BREEDING METHOD NUMBER</th>
				<th nowrap="nowrap" class="factors" th:text="#{open.crosses.factors.gid}">GID</th>
			</tr>
		</thead>
	</table>

	<div class="modal fade" id="duplicate-crosses-modal" role="dialog"
		aria-labelledby="duplicate-crosses-modal" aria-hidden="true">
		<div class="modal-dialog modal-small">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{crossing.merge.plot.duplicate.header}">Merge Plot Duplicates</label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button id="close" type="button"
								class="close  pull-right glyphicon glyphicon-remove"
								data-dismiss="modal" aria-hidden="true"></button>
						</div>
					</div>

					<div class="row add_top_padding">
						<div class="col-xs-12 col-md-12">
							<span class="sub-content-heading" th:text="#{crossing.merge.plot.duplicate.header.note}">By default, plot duplicates will be merged when you save.</span>
						</div>
					</div>
					<div class="row form-group add_top_padding">
						<div class="col-xs-12 col-md-12">
							<input type="checkbox" />&nbsp;<label class="control-label" th:text="#{crossing.preserve.plot.duplicate}">Preserve Plot Duplicates</label>
							<div>
								&nbsp;<label class="control-label" th:text="#{crossing.preserve.plot.duplicate.note}">Note</label>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						th:text="#{common.form.cancel.text}">Cancel</button>
					<button type="button" class="btn btn-primary" id="continue-duplicate-crosses"
						th:text="#{common.form.continue.text}">Continue</button>
				</div>
			</div>
		</div>
	</div>
</div>
