<form id="importStudyForm" role="form-horizontal" onsubmit="return do_validation()"  class="form-horizontal" action="#" method="post" th:object="${createTrialForm}" enctype="multipart/form-data">
	<div class="form-group">
		<div class="col-md-12">
			<div class="modal fade" id="successMessageModal"  role="dialog" aria-labelledby="successMessageModal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content" >
						<div class="modal-body" id="successMessageBody">														
							<div style="text-align: center">
								<label th:text="#{nursery.addOrRemoveTraits.success.update.message}">Traits has been successfully updated.</label>
							</div>
						</div>
						<div class="modal-footer">
							<a id="btnOK" href="" th:text="#{common.form.ok.text}" class="btn btn-primary" onclick="doReturn(); return false;" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="trialModalSelection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 600px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Choose Trial Instance</h4>
				</div>
				<div class="modal-body" id="exportChooseInstance">
					<div class="form-group" id="page-modal-choose-instance-message"></div>
					<input type="hidden" id="exportTrialType"/>
					<div id="chooseInstance">
						<div class=''>
							<div class="col-xs-12 col-lg-12">
								<label class="radio-inline">
									<input class="instanceNumber"  type="radio" value="1" th:field="*{exportInstanceType}"/>
									<span >All Trial Instance</span>
								</label>
							</div>
						</div>
						<div class=''>
							<div class="col-xs-12 col-lg-12">
								<label class="radio-inline">
									<input class="instanceNumber" type="radio" value="2" th:field="*{exportInstanceType}"/>
								</label>
								<label class="radio-inline" style="padding-left: 0px; margin-left: -4px">
									<span>Trial Instance #</span>
									<input type="text" th:field="*{exportTrialInstanceNumber}" class="spinner-input" />
								</label>
							</div>
						</div>
						<div class=''>
							<div class="col-xs-12 col-lg-12">
								<label class="radio-inline">
									<input class="instanceNumber" type="radio" value="3" th:field="*{exportInstanceType}"/>

								</label>
								<label class="radio-inline" style="padding-left: 0px; margin-left: -4px">
									<span>From Trial Instance #</span>
									<input type="text" th:field="*{exportTrialInstanceStart}" class="spinner-input" />
									<span>to Trial Instance #</span>
									<input type="text" th:field="*{exportTrialInstanceEnd}" class="spinner-input" />
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button value="Cancel" aria-hidden="true" data-dismiss="modal" class="btn btn-default" type="button" th:text="#{common.form.cancel.text}">Cancel</button>
					<button type="button" th:value="#{common.form.submit.text}" class="btn btn-primary" th:text="#{study.import.germplasm.submit}" onclick="javascript: doExportTrial();">Submit</button>
				</div>
			</div>
		</div>
	</div>
</form>
