<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade review-out-of-bounds-data-window" id="reviewOutOfBoundsDataModal" role="dialog" aria-labelledby="reviewOutOfBoundsDataModal" aria-hidden="true">
		<div class="modal-dialog modal-medium">
			<div class="modal-content">	
				<div class="modal-body" id="reviewOutOfBoundsDataModalBody">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">					
							<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{review.out.of.bounds.data.header}"></label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button id="close" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"/>
						</div>										
					</div>
					
					<div class="row form-group">
						<div id="page-review-out-of-bounds-data-message-modal" class="col-xs-12 col-md-12">
						</div>
					</div>
					
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<label th:text="#{review.out.of.bounds.data.note}"></label>
						</div>
					</div>
					
					<div class="row form-group">
						<div class="col-xs-7 col-md-7">
							<label th:text="#{review.out.of.bounds.data.label}" class="control-label add_top_padding label-bold"></label>
						</div>
						<div class="col-xs-5 col-md-5">
							<select style="width: 205px" id="review-out-of-bounds-data-action">
								<option value="0" th:text="#{common.please.choose}"></option>
								<option value="2" th:text="#{review.out.of.bounds.data.accept.all}"></option>
								<option value="3" th:text="#{review.out.of.bounds.data.set.to.missing}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.next.text}" onclick="proceedToReviewOutOfBoundsDataAction()">Next</button>
				</div>
			</div>
		</div>
	</div>
</div>