<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade review-details-out-of-bounds-data-window" id="reviewDetailsOutOfBoundsDataModal" role="dialog" aria-labelledby="reviewDetailsOutOfBoundsDataModal" aria-hidden="true">
		<div class="modal-dialog modal-large">
			<div class="modal-content">	
				<div class="modal-body" id="reviewDetailsOutOfBoundsDataModalBody">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
					<button type="button" class="btn btn-primary" th:text="#{common.form.finish.text}" onclick="generateDataForProcessing()">Finish</button>
				</div>
			</div>
		</div>
	</div>
</div>