<div ng-controller="SaveListCtrl" class="modal fade" id="saveListTreeModal" tabindex="-1" role="dialog" aria-labelledby="saveListTreeModal" aria-hidden="true">
	<div class="modal-dialog modal-large">
		<div class="modal-content">

			<div class="modal-body">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{germplasm.save.list.header}"></label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button  id="closeSaveListTreeModal" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"/>
					</div>
				</div>

				<div class="row">
					<div id="page-save-list-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-xs-6 col-md-6">
						<div style="margin-left: -10px" class="col-xs-6 col-md-6">
							<label class="control-label"><strong class="sub-content-heading">List Location</strong></label>
						</div>
						<div style="margin-left: 10px" class="col-xs-6 col-md-6">
							<div style="float: right; ">
								<img onclick="javascript: ListTreeOperation.addGermplasmFolder(this)" th:src="@{/static/img/add2.png}" class="image-padding browse-germplasm-action create-germplasm-folder" />
								<img onclick="javascript: ListTreeOperation.renameGermplasmFolder(this)" th:src="@{/static/img/edit.png}" class="image-padding browse-germplasm-action edit-germplasm-folder" />
								<img onclick="javascript: ListTreeOperation.deleteGermplasmFolder(this)" th:src="@{/static/img/delete.png}" class="image-padding browse-germplasm-action delete-germplasm-folder" />
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-6">
						<div style="top: 8px; left: -15px" class="col-xs-12 col-md-12">
							<label class="control-label"><strong class="sub-content-heading">List Details</strong></label>
						</div>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-xs-6 col-md-6">
					<div class="form-horizontal form-group">
                    <div id="addGermplasmFolderDiv" class="fbk-hide">
                        <div class="col-xs-4 col-md-4 nopadding">
                            <label class="control-label label-bold" th:utext="#{browse.study.add.folder.name}">Folder Name: <span class="required">*</span></label>
                        </div>
                        <div class="col-xs-8 col-md-8 nopadding">
                            <div class="input-group">
                                <input id="addFolderName" name="addFolderName" type="text" class="form-control select2" placeholder="Folder Name" onkeypress="folderChangeKeypress(event, '1');"/>
                                 <span class="input-group-btn">
                                     <button class="btn btn-success" id="addGermplasmFolderOkButton" onclick="javascript: ListTreeOperation.createGermplasmFolder()">
                                         <span class="glyphicon glyphicon-ok"></span>
                                     </button>
                                     <button class="btn btn-danger" id="addGermplasmFolderCancelButton" onclick="javascript: ListTreeOperation.hideFolderDiv('#addGermplasmFolderDiv');">
                                         <span class="glyphicon glyphicon-remove"></span>
                                     </button>
                                 </span>
                            </div>
                        </div>
                      	<div class="clearfix"></div>
                    </div>
                    <div id="renameGermplasmFolderDiv" class="fbk-hide">
                        <div class="col-xs-4 col-md-4 nopadding">
                            <label class="control-label  label-bold" th:utext="#{browse.study.rename.folder.input.label}">Folder Name: <span class="required">*</span></label>
                        </div>
                        <div class="col-xs-8 col-md-8 nopadding">
                            <div class="input-group">
                                <input id="renameFolderName" name="renameFolderName" type="text" class="form-control select2" placeholder="Folder Name" onkeypress="folderChangeKeypress(event, '2');"/>
                                  <span class="input-group-btn">
                                      <button class="btn btn-success" id="renameGermplasmFolderOkButton" onclick="javascript: ListTreeOperation.submitRenameGermplasmFolder()">
                                          <span class="glyphicon glyphicon-ok"></span>
                                      </button>
                                      <button class="btn btn-danger" id="renameGermplasmFolderCancelButton" onclick="javascript: ListTreeOperation.hideFolderDiv('#renameGermplasmFolderDiv')">
                                          <span class="glyphicon glyphicon-remove"></span>
                                      </button>
                                  </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
						<div id="germplasmFolderTree" style="height:350px; overflow:auto;"></div>
					</div>
					<div class="col-xs-6 col-md-6" id="saveGermplasmRightSection">
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
				<button type="button" class="btn btn-primary" th:text="#{common.form.save.text}" ng-click="saveGermplasmList()">Ok</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="deleteFolderModal" role="dialog" aria-labelledby="deleteFolderModal" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">
			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{browse.study.delete.folder.name}"></label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button id="closeDeleteFolderModal" type="button" class="close  pull-right glyphicon glyphicon-remove"  onclick="javascript: closeModal('deleteFolderModal')"/>
					</div>
				</div>

				<div class="row">
					<div id="page-delete-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-xs-12 col-md-12 add_top_padding">
						<label class="control-label" id="delete-folder-confirm"></label>
					</div>
				</div>

			</div>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-default" onclick="javascript: closeModal('deleteFolderModal')" th:text="#{common.form.no.text}">Cancel</button>
				<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.yes.text}" onclick="javascript: ListTreeOperation.submitDeleteGermplasmFolder();">Ok</button>
			</div>
		</div>
	</div>
</div>
<div id="list-tree-include" th:include="/Common/includes/listTreeInclude"></div>

<div layout:fragment="page-script">
<script type="text/javascript" th:src="@{/static/js/studyManager/saveAdvanceList.js}"></script>
<script type="text/javascript" th:src="@{/static/js/studyManager/listTreeOperation.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(document).ready(function() {
	SaveAdvanceList.initializeGermplasmListTree();
});
</script>
</div>
