<div class="modal fade" id="saveListTreeModal" tabindex="-1" role="dialog" aria-labelledby="saveListTreeModal" aria-hidden="true">
	<div class="modal-dialog modal-large">
		<div class="modal-content">
			
			<div class="modal-body">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">					
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{germplasm.save.list.header}"></label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button  id="closeSaveListTreeModal" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"/>
					</div>										
				</div>
				
				<div class="row">
					<div id="page-save-list-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-xs-6 col-md-6">
						<div style="margin-left: -10px" class="col-xs-6 col-md-6">
							<label class="control-label"><strong class="sub-content-heading">List Location</strong></label>
						</div>
						<div style="margin-left: 10px" class="col-xs-6 col-md-6">
							<div style="float: right; ">
								<img onclick="javascript: addGermplasmFolder(this)" th:src="@{/static/img/add 2.png}" class="image-padding browse-germplasm-action" />
								<img onclick="javascript: renameGermplasmFolder(this)" th:src="@{/static/img/edit.png}" class="image-padding browse-germplasm-action edit-germplasm-folder" />
								<img onclick="javascript: deleteGermplasmFolder(this)" th:src="@{/static/img/delete.png}" class="image-padding browse-germplasm-action delete-germplasm-folder" />
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-6">
						<div style="top: 8px; left: -15px" class="col-xs-12 col-md-12">
							<label class="control-label"><strong class="sub-content-heading">List Details</strong></label>
						</div>
					</div>
				</div>
				
				<div class="row form-group">
					<div class="col-xs-6 col-md-6">
					<div class="form-horizontal form-group">
                    <div id="addGermplasmFolderDiv" class="fbk-hide">
                        <div class="col-xs-4 col-md-4 nopadding">
                            <label class="control-label label-bold" th:utext="#{browse.nursery.add.folder.name}">Folder Name: <span class="required">*</span></label>
                        </div>
                        <div class="col-xs-8 col-md-8 nopadding">
                            <div class="input-group">
                                <input id="addGermplasmFolderName" name="addFolderName" type="text" class="form-control select2" placeholder="Folder Name" onkeypress="folderChangeKeypress(event, '1');"/>
                                 <span class="input-group-btn">
                                     <button class="btn btn-success" id="addGermplasmFolderOkButton" onclick="javascript: createGermplasmFolder()">
                                         <span class="glyphicon glyphicon-ok"></span>
                                     </button>
                                     <button class="btn btn-danger" id="addGermplasmFolderCancelButton" onclick="javascript: hideAddGermplasmFolderDiv()">
                                         <span class="glyphicon glyphicon-remove"></span>
                                     </button>
                                 </span>
                            </div>
                        </div>
                      	<div class="clearfix"></div>
                    </div>
                    <div id="renameGermplasmFolderDiv" class="fbk-hide">
                        <div class="col-xs-4 col-md-4 nopadding">
                            <label class="control-label  label-bold" th:utext="#{browse.nursery.rename.folder.input.label}">Folder Name: <span class="required">*</span></label>
                        </div>
                        <div class="col-xs-8 col-md-8 nopadding">
                            <div class="input-group">
                                <input id="newGermplasmFolderName" name="newFolderName" type="text" class="form-control select2" placeholder="Folder Name" onkeypress="folderChangeKeypress(event, '2');"/>
                                  <span class="input-group-btn">
                                      <button class="btn btn-success" id="renameGermplasmFolderOkButton" onclick="javascript: submitRenameGermplasmFolder()">
                                          <span class="glyphicon glyphicon-ok"></span>
                                      </button>
                                      <button class="btn btn-danger" id="renameGermplasmFolderCancelButton" onclick="javascript: hideRenameGermplasmFolderDiv()">
                                          <span class="glyphicon glyphicon-remove"></span>
                                      </button>
                                  </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
						<div id="germplasmFolderTree" style="height:350px; overflow:auto;"></div>
					</div>
					<div class="col-xs-6 col-md-6" id="saveGermplasmRightSection">
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
				<button type="button" class="btn btn-primary" th:text="#{common.form.save.text}" onclick="javascript: saveGermplasmList();">Ok</button>
			</div>
		</div>
	</div>
</div>

<div id="list-tree-include" th:include="/Common/includes/listTreeInclude"></div>

<div layout:fragment="page-script">
	<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
	/*globals displayGermplasmListTree, changeBrowseGermplasmButtonBehavior, additionalLazyLoadUrl, displayAdvanceList*/
	/*globals showErrorMessage, showInvalidInputMessage, getDisplayedTreeName*/
	/*exported nameDuplicateError, saveGermplasmList, openSaveListModal*/

	var folderRequired = /*[[#{germplasm.save.list.folder.error}]]*/ '',
		nameRequired = /*[[#{germplasm.save.list.name.error}]]*/ '',
		descriptionRequired = /*[[#{germplasm.save.list.description.error}]]*/ '',
		dateRequired = /*[[#{germplasm.save.list.date.error}]]*/ '',
		typeRequired = /*[[#{germplasm.save.list.type.error}]]*/ '',
		nameDuplicateError = /*[[#{germplasm.save.list.name.unique.error}]]*/ '';
			var treeReloading = 1; // this will prevent reloading

			$( document ).ready(function() {
				'use strict';
				displayGermplasmListTree('germplasmFolderTree', true, 1);
				changeBrowseGermplasmButtonBehavior(false);
				$('#saveListTreeModal').on('hidden.bs.modal', function() {
					treeReloading = 0;
					$('#germplasmFolderTree').dynatree('getTree').reload();
					changeBrowseGermplasmButtonBehavior(false);
				});

			});
			function openSaveListModal(object){
				'use strict';
				var listIdentifier = $(object).attr('id'),
				germplasmTreeNode = $('#germplasmFolderTree').dynatree('getTree');
				additionalLazyLoadUrl = '/1';
				$.ajax(
					{ 
						url: '/Fieldbook/ListTreeManager/saveList/'+listIdentifier,
						type: 'GET',
						cache: false,
						success: function(html) {
							$('#saveGermplasmRightSection').html(html);
							$('#saveListTreeModal').modal({
								show: true,
								keyboard: true,
								backdrop: 'static'
							});
							//we preselect the program lists
							if(germplasmTreeNode !== null && germplasmTreeNode.getNodeByKey('LOCAL') !== null){
								germplasmTreeNode.getNodeByKey('LOCAL').activate();
								germplasmTreeNode.getNodeByKey('LOCAL').expand()
							}
						}
					}
				);
			}
			function saveGermplasmList(){
				'use strict';
				var chosenNodeFolder = $('#'+getDisplayedTreeName()).dynatree('getTree').getActiveNode();
				var errorMessageDiv = 'page-save-list-message-modal';
				if(chosenNodeFolder == null){
					showErrorMessage(errorMessageDiv, folderRequired);
					return false;
				}
				if($('#listName').val() === ''){
					showInvalidInputMessage(nameRequired);
					return false;
				}
				if($('#listDescription').val() === ''){
					showInvalidInputMessage(descriptionRequired);
					return false;
				}
				if($('#listType').val() === ''){
					showInvalidInputMessage(typeRequired);
					return false;
				}
				if($('#listDate').val() === ''){
					showInvalidInputMessage(dateRequired);
					return false;
				}
				var invalidDateMsg = validateAllDates();
			    if(invalidDateMsg !== '') {
			    	showInvalidInputMessage(invalidDateMsg);
			    	return false;
			    }
			    
				var parentId = chosenNodeFolder.data.key;
				$('#saveListForm #parentId').val(parentId);
				var dataForm = $('#saveListForm').serialize();
				$.ajax(
					{ url: '/Fieldbook/ListTreeManager/saveList/',
					type: 'POST',
					data: dataForm,
					cache: false,
					success: function(data) {
						if(data.isSuccess === 1){
							$('#saveListTreeModal').modal('hide');
							displayAdvanceList(data.uniqueId, data.germplasmListId, data.listName, false);
						}else{
							showErrorMessage('page-save-list-message-modal', data.message);
						}
					}
				}
				);
			}
	//]]>
</script>
</div>