<div class="modal fade" id="addStudyFolder" role="dialog" aria-labelledby="addStudyFolder" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">

			<form onsubmit="return createFolder();">
			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row form-group">

                    <div class="col-xs-11 col-md-11">
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{browse.nursery.add.folder.name}">Add New Folder</label>
					</div>

                    <div class="col-xs-1 col-md-1">
						<button  id="closeAddStudyFolder" type="button" class="close pull-right glyphicon glyphicon-remove" onclick="javascript: closeModal('addStudyFolder')"/>
					</div>
				</div>
				<div class="row">
					<div id="page-add-study-folder-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>
				<div class="row form-group">
						<div class="col-xs-5 col-md-5 add_top_padding">
							<label class="control-label  label-bold" th:text="#{browse.nursery.folder.name}">Folder Name:</label><span class="required">*</span>
						</div>
						<div class="col-xs-7 col-md-7">
							<input id="addFolderName" name="addFolderName" type="text" class="form-control select2" placeholder="Folder Name"/>
						</div>
				</div>

			</div>
			</form>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-default" onclick="javascript: closeModal('addStudyFolder')" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
				<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.add.text}" onclick="javascript: createFolder();">Ok</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="renameStudyFolder" role="dialog" aria-labelledby="renameStudyFolder" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">


			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{browse.nursery.rename.folder.name}">Rename Folder</label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button  id="closeRenameStudyFolder" type="button" class="close  pull-right glyphicon glyphicon-remove" onclick="javascript: closeModal('renameStudyFolder')"/>
					</div>
				</div>
				<div class="row">
					<div id="page-rename-study-folder-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>
				<div class="row form-group">
						<div class="col-xs-5 col-md-5 add_top_padding">
							<label class="control-label  label-bold" th:text="#{browse.nursery.folder.name}">Folder Name:</label><span class="required">*</span>
						</div>
						<div class="col-xs-7 col-md-7">
							<input id="newFolderName" name="newFolderName" type="text" class="form-control select2" placeholder="Folder Name"/>
						</div>
				</div>

			</div>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-default" onclick="javascript: closeModal('renameStudyFolder')" th:text="#{common.form.cancel.text}">Cancel</button>
				<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.ok.text}" onclick="javascript: submitRenameFolder();">Ok</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteStudyFolder" role="dialog" aria-labelledby="deleteStudyFolder" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">
			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">
						<label class="modal-title fbk-modal-title" id="delete-heading-modal" th:text="#{browse.nursery.delete.folder.name}">Delete Folder</label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button  id="closeDeleteStudyFolder" type="button" class="close  pull-right glyphicon glyphicon-remove" onclick="javascript: closeModal('deleteStudyFolder')"/>
					</div>
				</div>
				<div class="row">
					<div id="page-delete-study-folder-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>
				<div class="row form-group">
						<div class="col-xs-12 col-md-12 add_top_padding">
							<label class="control-label" id="delete-confirmation"></label>
						</div>
				</div>

			</div>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-default" onclick="javascript: closeModal('deleteStudyFolder')" th:text="#{common.form.no.text}">Cancel</button>
				<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.yes.text}" onclick="javascript: submitDeleteFolder();">Ok</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="cantDeleteFolder" role="dialog" aria-labelledby="cantDeleteFolder" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">
			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">
						<label class="modal-title fbk-modal-title" id="cant-delete-heading-modal" th:text="#{browse.nursery.delete.folder.name}">Delete Folder</label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button  id="closeCantDeleteFolder" type="button" class="close  pull-right glyphicon glyphicon-remove" onclick="javascript: closeModal('cantDeleteFolder')"/>
					</div>
				</div>
				<div class="row">
					<div id="page-cant-delete-study-folder-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>
				<div class="row form-group">
						<div class="col-xs-12 col-md-12 add_top_padding">
							<label class="control-label" id="cant-delete-message"></label>
						</div>
				</div>

			</div>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.ok.text}" onclick="javascript: closeModal('cantDeleteFolder');">Ok</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="moveStudyFolder" role="dialog" aria-labelledby="moveStudyFolder" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">
			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">
						<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{common.form.notification.text}"></label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button  id="closeMoveStudyFolder" type="button" class="close  pull-right glyphicon glyphicon-remove" onclick="javascript: closeModal('moveStudyFolder')"/>
					</div>
				</div>

				<div class="row">
					<div id="page-move-study-folder-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>

			</div>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-primary" onclick="javascript: closeModal('moveStudyFolder')" th:text="#{common.form.ok.text}" >Ok</button>
			</div>
		</div>
	</div>
</div>

<div layout:fragment="page-script">
<script type="text/javascript" th:inline="javascript">
	//<![CDATA[

	//]]>
</script>
</div>
