<div class="col-xs-12 col-md-1" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade review-details-out-of-bounds-data-window"
		 id="existingCrossesModal" role="dialog"
		 aria-labelledby="existingCrossesModal" aria-hidden="true">
		<div class="modal-dialog modal-large" style="width: 40%">
			<div class="modal-content">
				<div class="modal-body" id="existingCrossesModalBody">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title"></label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button id="close" type="button"
									class="close  pull-right glyphicon glyphicon-remove"
									data-dismiss="modal" aria-hidden="true"></button>
						</div>
					</div>


					<div class="row form-group add_top_padding">
						<div class="col-xs-12 col-md-12 existing-cross-section">
							<label class="existing-cross-label"></label>
							<table id="existing-crosses-table" width="100%"
								   class="table-curved table-condensed">
								<thead>
								<tr>
									<th nowrap="nowrap" style="min-width: 30px !important;" class="factors" th:text="#{existing.crosses.gid}">GID</th>
									<th nowrap="nowrap" style="min-width: 30px !important;" class="factors" th:text="#{existing.crosses.designation}">DESIGNATION</th>
								</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<table id="existing-crosses-table-template" width="100%"
		   class="table-curved table-condensed fbk-hide">
		<thead>
		<tr>
			<th nowrap="nowrap" class="factors" th:text="#{existing.crosses.gid}">GID</th>
			<th nowrap="nowrap" class="factors" th:text="#{existing.crosses.designation}">DESIGNATION</th>
		</tr>
		</thead>
	</table>
</div>
