<!-- Modal Dialog for Exporting Labels -->
<div class="form-group">
	<div class="col-md-12">
		<div class="modal fade" id="export-label-data-modal" role="dialog" aria-labelledby="export-label-data-modal" aria-hidden="true">
			<div class="modal-dialog" style="width: 600px">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row form-group">
							<div class="col-xs-11 col-md-11">					
								<label class="modal-title fbk-modal-title" id="heading-modal"></label>
							</div>
							<div class="col-xs-1 col-md-1">
								<button id="close" type="button" class="close pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"></button>
							</div>									
						</div>
						<div class="row form-group">
							<div class="col-xs-12 col-md-12"></div>
						</div>
						<div class="row form-group">
							<div class="col-xs-12 col-md-12">
								<label class="control-label h4 label-bold" th:text="#{study.export.format.header}"></label>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-xs-5 col-md-5">
								<label class="control-label add_top_padding label-bold" th:text="#{study.export.choose.format}">Export Format:</label><span class="required">*</span>
							</div>
							<div class="col-xs-4 col-md-4">
								<select id="export-type" style="width: 170px">
									<option selected="selected"  value="2" th:text="#{label.printing.export.excel}"></option>
									<option value="3" th:text="#{label.printing.export.csv}"></option>
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
						<button type="button" id="export-label-data-continue" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" th:text="#{study.export.study.header}">Export</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>