<div class="row col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1>
			LABEL PRINTING
		</h1>
	</div>
</div>


<form id="specifyLabelDetailsDownloadForm" role="form-horizontal" action="#"
th:action="@{/LabelPrinting/specifyLabelDetails/download}" method="GET" th:object="${labelPrintingForm}">

</form>

<div class="row">
			<div class="form-group">
				<div  id="page-message"></div>
			</div>
	</div>

<form id="specifyLabelDetailsForm" role="form-horizontal" action="#"
th:action="@{/LabelPrinting/specifyLabelDetails}" method="post" th:object="${labelPrintingForm}" enctype="multipart/form-data">
<input type="hidden" th:field="*{userLabelPrinting.leftSelectedLabelFields}"/>
<input type="hidden" th:field="*{userLabelPrinting.rightSelectedLabelFields}"/>
<input type="hidden" th:field="*{userLabelPrinting.numberOfLabelPerRow}" value="3"/>
<input type="hidden" th:field="*{userLabelPrinting.generateType}"/>
<input type="hidden" th:field="*{userLabelPrinting.fieldMapsExisting}" />

<div class="row">
<div class="panel panel-default">
   	<div class="panel-body">

   	<div class="row">
   		<div class="col-xs-12 col-md-12">
			<div class="col-xs-3 col-md-3">
				<h2>Create Labels</h2>
			</div>

			<div class="col-xs-9 col-md-9">
				&nbsp;
			</div>
		</div>
	</div>

			<div class="row " >
			<div class="col-xs-12 col-md-12">
				<div class="col-xs-12 col-md-12">
				<label class=""><em th:utext="#{fieldmap.mandatory.fields}"> Mandatory fields are noted with a *</em></label>
				</div>
			</div>
		</div>




	<div class="row" th:if="*{userLabelPrinting.fieldMapInfoList == null}">
		<div class="col-xs-6 col-md-6" >
			<div class="form-group">
				<div class="col-xs-12 col-md-12">
					<label class="control-label" th:if="*{isTrial == true}" ><strong  class="sub-content-heading" th:text="#{label.printing.selected.trial}">SELECTED TRIAL</strong></label>
					<label class="control-label" th:if="*{isTrial == false}"><strong  class="sub-content-heading" th:text="#{label.printing.selected.nursery}">SELECTED NURSERY</strong></label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12 col-md-12">
					<label class="control-label" th:if="*{isTrial == true}" ><strong th:text="#{label.printing.trial.name}+':'"></strong></label>
					<label class="control-label" th:if="*{isTrial == false}"><strong th:text="#{label.printing.nursery.name}+':'"></strong></label>
					<span th:text="*{userLabelPrinting.name}">Trial Name</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12 col-md-12">
					<label class="control-label" ><strong th:text="#{label.printing.title}+':'"></strong></label>
					<span th:text="*{userLabelPrinting.title}">Title</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12 col-md-12">
					<label class="control-label" ><strong th:text="#{label.printing.objective}+':'"></strong></label>
					<span th:text="*{userLabelPrinting.objective}">Objective</span>
				</div>
			</div>
			<div class="form-group" th:if="*{isTrial == true}">
				<div class="col-xs-12 col-md-12">
					<label class="control-label"><strong th:text="#{label.printing.number.of.instances}+':'"></strong></label>
					<span th:text="*{userLabelPrinting.numberOfInstances}">1</span>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-6" th:unless="*{#lists.isEmpty(userLabelPrinting.fieldMapInfo)}">
			<div class="col-xs-12 col-md-12">
				<label class="control-label"><strong class="sub-content-heading"  th:text="#{label.printing.summary.of.labels.needed}">SUMMARY OF LABELS NEEDED</strong></label>
			</div>
			<div class="col-xs-12 col-md-12">
				<table class="table table-curved table-condensed">
					<thead>
						<th th:text="#{fieldmap.trial.instance}">Instance</th>
						<th th:if="*{isTrial == true}" th:text="#{fieldmap.trial.entry.count}"># of Entries</th>
						<th th:if="*{isTrial == true}" th:text="#{fieldmap.trial.reps.count}"># of Reps</th>
						<th th:if="*{isTrial == true}" th:text="#{label.printing.labels.needed}">Labels Needed</th>
						<th th:if="*{isTrial == false}" th:text="#{label.printing.nursery.entries.labels.count}"># of Entries / Labels Needed</th>
					</thead>
					<tr  th:each="trialRow, row : *{userLabelPrinting.fieldMapInfo.datasets[__0__].trialInstances}">
						<td th:class="${row.even}? 'even' : 'odd'" th:text="${trialRow.trialInstanceNo}"></td>
						<td th:class="${row.even}? 'even' : 'odd'" th:text="${trialRow.entryCount}"></td>
						<td th:class="${row.even}? 'even' : 'odd'" th:if="*{isTrial == true}" th:text="${trialRow.repCount}"></td>
						<td th:class="${row.even}? 'even' : 'odd'" th:if="*{isTrial == true}" th:text="${trialRow.plotCount}"></td>
					</tr>
				</table>
			</div>
			<div class="col-xs-12 col-md-12" align="right" th:if="*{isTrial == true}">
				<label class="control-label label-bold" th:text="#{label.printing.total.number.of.labels} + ':'"> Total # of Labels to Print: </label> &nbsp;
				<span th:text="*{userLabelPrinting.totalNumberOfLabelToPrint}"></span>
			</div>
		</div>
	</div>
	<div class="row" th:if="*{userLabelPrinting.fieldMapInfoList}">
		<div class="col-xs-12 col-md-12" >
			<div class="form-group">
				<div class="col-xs-12 col-md-12">
					<label class="control-label" ><strong class="sub-content-heading"  th:text="#{label.printing.summary.of.labels.needed}">SUMMARY OF LABELS NEEDED</strong></label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12 col-md-12">
					<input type="hidden" th:field="*{userLabelPrinting.order}" />
					<table class="table table-curved table-condensed" id="selectedTrials">
						<thead>
							<th></th>
							<th th:text="#{fieldmap.trial.order}">Order</th>
							<th th:if="*{isTrial == true}" th:text="#{fieldmap.trial}">Trial</th>
							<th th:if="*{isTrial == false}" th:text="#{fieldmap.nursery}">Nursery</th>
							<th th:if="*{isTrial == false}" th:text="#{fieldmap.dataset.name}">Dataset Name</th>
							<th th:if="*{isTrial == true}" th:text="#{fieldmap.trial.instance}">Instance</th>
							<th th:if="*{isTrial == true}" th:text="#{fieldmap.trial.entry.count}"># of Entries</th>
							<th th:if="*{isTrial == true}" th:text="#{fieldmap.trial.reps.count}"># of Reps</th>
							<th th:text="#{label.printing.labels.needed}">Labels Needed</th>
						</thead>
						<div th:each="map : *{userLabelPrinting.fieldMapInfoList}">
							<div th:each="dataset : ${map.datasets}">
								<tr th:each="trial, row : ${dataset.trialInstances}">
									<td><input class="includeTrial" type="checkbox" /></td>
									<td>
										<input class="trialOrder" type="hidden" th:value="${map.fieldbookId}+'|'+${dataset.datasetId}+'|'+${trial.geolocationId}" />
										<span class="orderNo"></span>
									</td>
									<td th:text="${map.fieldbookName}"></td>
									<td th:if="*{isTrial == false}" th:text="${dataset.datasetName}"></td>
									<td th:if="*{isTrial == true}" th:text="${trial.trialInstanceNo}"></td>
									<td class="entry-count" th:text="${trial.entryCount}"></td>
									<td th:if="*{isTrial == true}" th:text="${trial.repCount}"></td>
									<td class="plot-count" th:if="*{isTrial == true}" th:text="${trial.plotCount}"></td>
								</tr>
							</div>
						</div>
					</table>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12 col-md-12">
					<label class="control-label" th:text="#{label.printing.total.number.of.labels}+':'"></label>
					<span id="totalLabelCount">0</span>
					<input type="hidden" th:value="*{userLabelPrinting.totalNumberOfLabelToPrint}" />
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12" >
			<div class="">
				<div class="col-xs-12 col-md-12">
				<br />
					<label class="control-label" ><strong class="sub-content-heading"  th:text="#{label.printing.specify.label.stock}"></strong></label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-6" >
			<div class="form-group">
				<div class="col-xs-12 col-md-12">
					<label class="control-label " th:text="#{label.printing.enter.specs.for.label}"></label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-xs-7 col-md-7">
					&nbsp;&nbsp;&nbsp;&nbsp;<label class="control-label label-bold" th:text="#{label.printing.size.of.label.sheet}+':'"></label>
				</div>
				<div class="col-xs-5 col-md-5">
					<select th:field="*{userLabelPrinting.sizeOfLabelSheet}" class="form-control">
					  <option value="1" th:text="#{label.printing.label.size.a4}">A4</option>
					  <option value="2" th:text="#{label.printing.label.size.letter}">Letter</option>
					</select>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-xs-7 col-md-7">
					&nbsp;&nbsp;&nbsp;&nbsp;<label class="control-label label-bold" th:text="#{label.printing.number.of.rows.per.page}+':'"></label>
				</div>
				<div class="col-xs-5 col-md-5">
					<select th:field="*{userLabelPrinting.numberOfRowsPerPageOfLabel}" class="form-control">
					  <option value="7">7</option>
					  <option value="8">8</option>
					  <option value="10">10</option>

					</select>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-6" >
			<div class="form-group">
			<div class="col-xs-12 col-md-12">&nbsp;</div>
				<div class="col-xs-12 col-md-12">
					<br />
					<em th:text="#{label.printing.specify.label.details.message}"></em>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	<br />
		<div class="col-xs-12 col-md-12" >
			<div class="form-group">
				<div class="col-xs-6 col-md-6">
					<label class="control-label" ><strong class="sub-content-heading"  th:text="#{label.printing.choose.label.fields}">CHOOSE LABEL FIELDS</strong> </label>
				</div>
				<div class="col-xs-6 col-md-6">
					<label class="control-label" ><strong class="sub-content-heading" th:text="#{label.printing.barcode.options}"></strong></label>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-12" >
			<div class="form-group">
				<div class="col-xs-6 col-md-6">
					<label class="control-label" th:utext="#{label.printing.choose.option.fields}">Choose up to six fields you would like printed on your labels.</label>
				</div>
				<div class="col-xs-6 col-md-6">
					<label class="control-label label-bold" th:text="#{label.printing.do.you.need.bar.codes}">Do you need barcodes on your labels?</label>
					&nbsp;&nbsp;&nbsp;
					<label class="radio-inline">
					  <input checked="checked" type="radio" value="1" th:field="*{userLabelPrinting.barcodeNeeded}"/>
					  <span th:text="#{label.printing.do.you.need.bar.codes.yes}">Yes</span>
					</label>
					<label class="radio-inline">
					  <input type="radio" value="0" th:field="*{userLabelPrinting.barcodeNeeded}"/>
					  <span th:text="#{label.printing.do.you.need.bar.codes.no}">No</span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12" >
			<div class="form-group">
				<div class="col-xs-6 col-md-6">
					<div class="col-xs-3 col-md-3">&nbsp;</div>
					<div class="col-xs-6 col-md-6">

						<ul class="list-group field-group"  >
					      <li class="list-group-item"><label class="control-label" th:text="#{label.printing.available.fields}">Available Fields</label></li>
						</ul>
						<ul id="availableFields" class="list-group droptrue" >
						  <li class="list-group-item" th:each="fields: ${availableFields}" th:text="${fields.name}" th:id="${fields.id}">Cras justo odio</li>
						</ul>


					</div>
					<div class="col-xs-3 col-md-3">&nbsp;</div>

					<div class="col-xs-6 col-md-6">
					<br />
						<ul class="list-group field-group">
					      <li class="list-group-item"><label class="control-label" th:text="#{label.printing.left.selected.fields}">Selected Fields</label></li>
						</ul>
						<ul id="leftSelectedFields" class="list-group droptrue" >


						</ul>

					</div>

					<div class="col-xs-6 col-md-6">
					<br />
						<ul class="list-group field-group"  >
					      <li class="list-group-item"><label class="control-label" th:text="#{label.printing.right.selected.fields}">Selected Fields</label></li>
						</ul>

						<ul id="rightSelectedFields" class="list-group droptrue" >


						</ul>

					</div>


				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-6 col-md-6">
					<label class="control-label" th:utext="#{label.printing.bar.code.note}">.</label>
				</div>

				<div class="col-xs-6 col-md-6">
					&nbsp;
				</div>
				<div class="col-xs-2 col-md-2">
					<label class="control-label label-bold" th:text="#{label.printing.first.bar.code.field}+':'"></label>
				</div>
				<div class="col-xs-3 col-md-3">
					<select th:field="*{userLabelPrinting.firstBarcodeField}" class="form-control">
					  <option value="" th:text="#{label.printing.bar.code.please.choose.field}">Please choose</option>
					  <option th:each="fields: ${availableFields}" th:text="${fields.name}" th:value="${fields.id}">8</option>
					</select>
				</div>
				<div class="col-xs-1 col-md-1">
					&nbsp;
				</div>
				<div class="col-xs-6 col-md-6">
					&nbsp;
				</div>
				<div class="col-xs-2 col-md-2">
					<label class="control-label label-bold" th:text="#{label.printing.second.bar.code.field}+':'"></label>
				</div>
				<div class="col-xs-3 col-md-3">
					<select th:field="*{userLabelPrinting.secondBarcodeField}" class="form-control">
					  <option value="" th:text="#{label.printing.bar.code.please.choose.field}">Please choose</option>
					  <option th:each="fields: ${availableFields}" th:text="${fields.name}" th:value="${fields.id}">8</option>
					</select>
				</div>
				<div class="col-xs-1 col-md-1">
					&nbsp;
				</div>
				<div class="col-xs-6 col-md-6">
					&nbsp;
				</div>
				<div class="col-xs-2 col-md-2">
					<label class="control-label label-bold" th:text="#{label.printing.third.bar.code.field}+':'"></label>
				</div>
				<div class="col-xs-3 col-md-3">
					<select th:field="*{userLabelPrinting.thirdBarcodeField}" class="form-control">
					  <option value="" th:text="#{label.printing.bar.code.please.choose.field}">Please choose</option>
					  <option th:each="fields: ${availableFields}" th:text="${fields.name}" th:value="${fields.id}">8</option>
					</select>
				</div>
				<div class="col-xs-1 col-md-1">
					&nbsp;
				</div>

				<div class="col-xs-6 col-md-6">
					&nbsp;
				</div>

				<div class="col-xs-3 col-md-3">
				</div>

				<div class="col-xs-6 col-md-6">
					&nbsp;
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-12">
			&nbsp;
		</div>
	</div>
	<div class="row">
	<br />
		<div class="col-xs-12 col-md-12">
			<div class="form-group">
				<div class="col-xs-12 col-md-12">
					<label class="control-label" ><strong class="sub-content-heading"  th:text="#{label.printing.set.the.filename}"></strong></label>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-12" >
			<div class="form-group">
				<div style="padding-right: 0px" class="col-xs-1 col-md-1">
					<label class="control-label label-bold" th:text="#{label.printing.filename}+':'"></label><span class="required">*</span>
				</div>
				<div class="col-xs-5 col-md-5">
					<input type="text" class="form-control"  th:field="*{userLabelPrinting.filename}" placeholder="Filename"/>
				</div>
			</div>
		</div>
	</div>



	<div class="row">

	</div>

	<div class="form-group">&nbsp;</div>
	<div class="form-group">
	    <div class="col-xs-4 col-md-4">&nbsp;</div>
	    <div class="col-xs-8 col-md-8">
	      <input type="button" onclick="javascript: window.history.back();"  value="Cancel" class="btn btn-default"/>
	      <input type="button" id="generate-labels" value="Generate Labels" th:value="#{common.form.generate.label.text}" class="btn btn-primary"/>
	      <input type="button" id="export-label-data" value="Export Label Data" th:value="#{common.form.export.label.text}" class="btn btn-primary"/>

	    </div>
    </div>
	<div class="form-group">&nbsp;</div>
	<div class="row">
		<div id="export-labels" th:include="/LabelPrinting/exportLabelDataModal"></div>
	</div>
</div>
</div></div>
</form>
<div layout:fragment="page-script">
<script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery-multisortable.js}"></script>
<script type="text/javascript" th:src="@{/static/js/labelPrinting.js}"></script>
<script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery.tablednd.0.7.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
	//<![CDATA[    
		/*globals setSelectedTrialsAsDraggable*/   
		/*exported setTotalLabels*/
		
		var isTrial = /*[[${labelPrintingForm.isTrial}]]*/;
		var excelOption = /*[[#{label.printing.export.excel}]]*/;
  		
 		 $(function() {
 		 	'use strict';
 		 	
 		 	$('.includeTrial').on('click', function(){
 		 		setTotalLabels($(this));	
 		 	});
 		 	
 		 	$('#generate-labels').on('click', function() {
 		 		validateEnterLabelFieldsPage(labelPrintingPDF)
 		 	});
 		 	
 		 	$('#export-label-data').on('click', function(){
 		 		showExportModal();
 		 	});
 		 	
 		 	$('#export-label-data-continue').on('click', function(){
 		 		validateEnterLabelFieldsPage(labelPrintingExcel);
 		 	})
 		 	
 			setSelectedTrialsAsDraggable();

 			$( 'ul.droptrue' ).sortable({
 				connectWith: 'ul',
				receive: function(event, ui) {
		            // so if > 10
		            if (($(this).attr('id') === 'leftSelectedFields' || $(this).attr('id') === 'rightSelectedFields' ) &&
	            		$(this).children().length > 5) {
		                //ui.sender: will cancel the change.
		                //Useful in the 'receive' callback.
		                $(ui.sender).sortable('cancel');
		            }
		        }
 			});
 			if($('.includeTrial').length === 1) {
 				$('.includeTrial').trigger('click');
 			}
			
 		});

 		 function setTotalLabels(checkbox) {
 		 	 'use strict';
 			 //count total number of labels to be generated based on selected trial/nursery instance
 			 var labelCount = '';
 			 if (isTrial) {
 				labelCount = $(checkbox).parents('tr').find('td.plot-count').html();
 			 } else {
 				labelCount = $(checkbox).parents('tr').find('td.entry-count').html();
 			 }
 			 var totalCount = $('#totalLabelCount').text();

 			 if ($(checkbox).is(':checked')) {
 				 $('#totalLabelCount').text(parseInt(totalCount, 10) + parseInt(labelCount, 10));
 			 } else {
 				$('#totalLabelCount').text(parseInt(totalCount, 10) - parseInt(labelCount, 10));
 			 }
 		 }
      //]]>
    </script>

</div>