<div class="row col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
    <div class="page-header">
        <h1>
            LABEL PRINTING <a class="bms-fa-question-circle fbk-help" data-help-link="MAKE_LABELS"></a>
        </h1>
    </div>
</div>


<form id="specifyLabelDetailsDownloadForm" role="form-horizontal" action="#"
      th:action="@{/LabelPrinting/specifyLabelDetails/download}" method="GET" th:object="${labelPrintingForm}">

</form>

<div class="row">
    <div class="form-group">
        <div id="page-message"></div>
    </div>
</div>

<form id="specifyLabelDetailsForm" role="form-horizontal" action="#" class="lblprnt-label-details"
      th:classappend="${labelPrintingForm.germplasmListId != null} ? lblprnt-germplasm-list-inventory : lblprnt-study-inventory"
      th:action="@{${labelPrintingForm.germplasmListId != null} ? '/LabelPrinting/specifyLabelDetails/inventory' : '/LabelPrinting/specifyLabelDetails'}"
      method="post" th:object="${labelPrintingForm}" enctype="multipart/form-data">
    <input type="hidden" th:field="*{userLabelPrinting.leftSelectedLabelFields}"/>
    <input type="hidden" th:field="*{userLabelPrinting.rightSelectedLabelFields}"/>
    <input type="hidden" th:field="*{userLabelPrinting.mainSelectedLabelFields}"/>
    <input type="hidden" th:field="*{userLabelPrinting.numberOfLabelPerRow}" value="3"/>
    <input type="hidden" th:field="*{userLabelPrinting.generateType}"/>
    <input type="hidden" th:field="*{userLabelPrinting.fieldMapsExisting}"/>
    <input type="hidden" th:field="*{isStockList}"/>
    <input type="hidden" th:field="*{customReport}"/>
    <input type="hidden" th:field="*{germplasmListId}"/>


    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="col-xs-3 col-md-3">
                            <h2 th:text="#{label.printing.header.print.labels}">Print Labels</h2>
                        </div>

                        <div class="col-xs-9 col-md-9">
                            &nbsp;
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="col-xs-12 col-md-12">
                            <h4 th:text="#{label.printing.header.create.labels}">Create labels</h4>
                        </div>
                    </div>
                </div>


                <div class="row lblprnt-study-details" th:if="*{userLabelPrinting.fieldMapInfoList == null}">
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-12">
                                <label class="control-label">
                                    <strong class="sub-content-heading" th:text="#{label.printing.selected.study}">
                                        SELECTED STUDY
                                    </strong>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-md-12">
                                <label class="control-label" >
                                    <strong th:text="#{label.printing.study.name}+':'"></strong>
                                </label>
                                <span th:text="*{userLabelPrinting.name}">Study Name</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-md-12">
                                <label class="control-label"><strong th:text="#{label.printing.title}+':'"></strong></label>
                                <span th:text="*{userLabelPrinting.title}">Title</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-md-12">
                                <label class="control-label"><strong th:text="#{label.printing.objective}+':'"></strong></label>
                                <span th:text="*{userLabelPrinting.objective}">Objective</span>
                            </div>
                        </div>
                        <div class="form-group" >
                            <div class="col-xs-12 col-md-12">
                                <label class="control-label"><strong th:text="#{label.printing.number.of.instances}+':'"></strong></label>
                                <span th:text="*{userLabelPrinting.numberOfInstances}">1</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6" th:if="(*{userLabelPrinting.isStockList()})">
                        <div class="col-xs-12 col-md-12">
                            <label class="control-label">
                                <strong class="sub-content-heading" th:text="#{label.printing.summary.of.labels.needed}">
                                    SUMMARY OF LABELS NEEDED
                                </strong>
                            </label>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <table class="table table-curved table-condensed">
                                <thead>
                                <th th:text="#{fieldmap.trial.instance}">Instance</th>
                                <th th:text="#{label.printing.nursery.entries.labels.count}"># of Entries / Labels Needed
                                </th>
                                </thead>
                                <tr>
                                    <td th:class="odd" th:text="*{userLabelPrinting.numberOfInstances}">1</td>
                                    <td th:class="odd"
                                        th:text="${#lists.size(labelPrintingForm.userLabelPrinting.inventoryDetailsList)}"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-xs-12 col-md-12" align="right" >
                            <label class="control-label label-bold" th:text="#{label.printing.total.number.of.labels} + ':'"> Total # of
                                Labels to Print: </label> &nbsp;
                            <span th:text="*{userLabelPrinting.totalNumberOfLabelToPrint}"></span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6"
                         th:if="(*{!userLabelPrinting.isStockList()}) and *{!#lists.isEmpty(userLabelPrinting.fieldMapInfo)}">
                        <div class="col-xs-12 col-md-12">
                            <label class="control-label"><strong class="sub-content-heading"
                                                                 th:text="#{label.printing.summary.of.labels.needed}">SUMMARY OF LABELS
                                NEEDED</strong></label>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <table class="table table-curved table-condensed">
                                <thead>
                                <th th:text="#{fieldmap.trial.instance}">Instance</th>
                                <th  th:text="#{fieldmap.trial.entry.count}"># of Entries</th>
                                <th  th:text="#{fieldmap.trial.reps.count}"># of Reps</th>
                                <th  th:text="#{label.printing.labels.needed}">Labels Needed</th>
                                </thead>
                                <tr th:each="trialRow, row : *{userLabelPrinting.fieldMapInfo.datasets[0].trialInstances}">
                                    <td th:class="${row.even}? 'even' : 'odd'" th:text="${trialRow.trialInstanceNo}"></td>
                                    <td th:class="${row.even}? 'even' : 'odd'" 
                                        th:text="${trialRow.entryCount}"></td>
                                    <td th:class="${row.even}? 'even' : 'odd'" 
                                        th:text="${trialRow.repCount}"></td>
                                    <td th:class="${row.even}? 'even' : 'odd'"
                                        th:if="!(*{userLabelPrinting.isStockList()})"
                                        th:text="${trialRow.plotCount}"></td>
                                    <td th:class="${row.even}? 'even' : 'odd'"
                                        th:if="(*{userLabelPrinting.isStockList()})"
                                        th:text="${trialRow.labelsNeeded}"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-xs-12 col-md-12" align="right" >
                            <label class="control-label label-bold" th:text="#{label.printing.total.number.of.labels} + ':'"> Total # of
                                Labels to Print: </label> &nbsp;
                            <span th:text="*{userLabelPrinting.totalNumberOfLabelToPrint}"></span>
                        </div>
                    </div>
                </div>

                <div class="row lblprnt-germplasm-list-details">
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-12">
                                <label class="control-label">
                                    <strong class="sub-content-heading" th:text="#{label.printing.selected.germplasmlist}">SELECTED
                                        GERMPLASM
                                        LIST</strong>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <div class="col-xs-3 col-md-3">
                                <label class="control-label"><strong th:text="#{label.printing.germplasmlist.name}"></strong></label>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <span th:text="*{userLabelPrinting.name}">Germplasm List Name</span>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <div class="col-xs-3 col-md-3">
                                <label class="control-label"><strong th:text="#{label.printing.germplasmlist.owner}"></strong></label>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <span th:text="*{userLabelPrinting.owner}">Germplasm List Owner</span>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <div class="col-xs-3 col-md-3">
                                <label class="control-label"><strong th:text="#{label.printing.germplasmlist.description}"></strong></label>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <span th:text="*{userLabelPrinting.description}">Germplasm List Description</span>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <div class="col-xs-3 col-md-3">
                                <label class="control-label"><strong th:text="#{label.printing.germplasmlist.type}"></strong></label>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <span th:text="*{userLabelPrinting.type}">Germplasm List Type</span>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <div class="col-xs-3 col-md-3">
                                <label class="control-label"><strong th:text="#{label.printing.germplasmlist.date}"></strong></label>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <span th:text="*{userLabelPrinting.date}">Germplasm List Date</span>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <div class="col-xs-3 col-md-3">
                                <label class="control-label"><strong th:text="#{label.printing.germplasmlist.noOfEntries}"></strong></label>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <span th:text="*{userLabelPrinting.numberOfEntries}">Germplasm List Number of Entries</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-md-6">
                        <div class="form-group row">
                            <div class="col-xs-12 col-md-12">
                                <label class="control-label"><strong class="sub-content-heading"
                                                                     th:text="#{label.printing.summary.of.labels.needed}">SUMMARY OF LABELS
                                    NEEDED</strong></label>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <div class="col-xs-6 col-md-6">
                                <label class="control-label"><strong th:text="#{label.printing.number.of.copies.per.label}"></strong></label>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <select name="label-format" id="label-copies" th:field="*{userLabelPrinting.numberOfCopies}"
                                        onchange="LabelPrinting.changeTotalNumberOfLabels()">
                                    <option value="1" selected="selected">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <div class="col-xs-6 col-md-6">
                                <label class="control-label"><strong th:text="#{label.printing.lots.with.reservation.count}"></strong></label>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <span id="lotsWithReservationsCount" class="lblprnt-germplasm-list-numbers-alignment"
                                      th:text="*{userLabelPrinting.numberOfLotsWithReservations}"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12"><hr/></div>
                        <div class="form-group col-xs-12 col-md-12">
                            <div class="col-xs-6 col-md-6">
                                <label class="control-label"><strong th:text="#{label.printing.total.number.of.labels}"></strong></label>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <span id="germplasmListTotalLabelCount" class="lblprnt-germplasm-list-numbers-alignment"
                                      th:text="*{userLabelPrinting.numberOfLotsWithReservations}"></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row" th:if="*{userLabelPrinting.fieldMapInfoList}">
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-12">
                                <label class="control-label"><strong class="sub-content-heading"
                                                                     th:text="#{label.printing.summary.of.labels.needed}">SUMMARY OF LABELS
                                    NEEDED</strong></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-md-12">
                                <input type="hidden" th:field="*{userLabelPrinting.order}"/>
                                <table class="table table-curved table-condensed" id="selectedTrials">
                                    <thead>
                                    <th></th>
                                    <th th:text="#{fieldmap.trial.order}">Order</th>
                                    <th  th:text="#{fieldmap.study}">Study</th>
                                    <th  th:text="#{fieldmap.trial.instance}">Instance</th>
                                    <th  th:text="#{fieldmap.trial.entry.count}"># of Entries</th>
                                    <th  th:text="#{fieldmap.trial.reps.count}"># of Reps</th>
                                    <th th:text="#{label.printing.labels.needed}">Labels Needed</th>
                                    </thead>
                                    <div th:each="map : *{userLabelPrinting.fieldMapInfoList}">
                                        <div th:each="dataset : ${map.datasets}">
                                            <tr th:each="trial, row : ${dataset.trialInstances}">
                                                <td><input class="includeTrial" type="checkbox"/></td>
                                                <td>
                                                    <input class="trialOrder" type="hidden"
                                                           th:value="${map.fieldbookId}+'|'+${dataset.datasetId}+'|'+${trial.geolocationId}"/>
                                                    <span class="orderNo"></span>
                                                </td>
                                                <td th:text="${map.fieldbookName}"></td>
                                                <td  th:text="${trial.trialInstanceNo}"></td>
                                                <td  class="entry-count" th:text="${trial.entryCount}"></td>
                                                <td  th:text="${trial.repCount}"></td>
                                                <td class="plot-count" th:text="${trial.plotCount}"></td>
                                            </tr>
                                        </div>
                                    </div>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-md-12">
                                <label class="control-label" th:text="#{label.printing.total.number.of.labels}+':'"></label>
                                <span id="totalLabelCount">0</span>
                                <input type="hidden" th:value="*{userLabelPrinting.totalNumberOfLabelToPrint}"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="col-xs-12 col-md-12">
                            <br/>
                            <label class="control-label"><strong class="sub-content-heading" th:text="#{label.printing.choose.label.type}">CHOOSE
                                LABEL TYPE</strong></label>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <div class="pull-left add_top_padding">
                                <input type="checkbox" name="loadSavedSettings" class="loadSavedSettings"/>&nbsp;&nbsp;&nbsp;<label>Load
                                saved settings:</label>
                            </div>
                            <div class="fbk-hide saved-settings pull-left fbk-left-padding" style="width: 40%">
                                <select name="savedSettings" id="savedSettings">

                                </select>
                            </div>
                            <div class="add_top_padding fbk-hide saved-settings pull-left fbk-left-padding">
                                <a href="javascript: void(0);" class="fb-delete-settings"><span
                                        class="glyphicon glyphicon-trash delete-saved-settings"></span></a>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="col-xs-12 col-md-12">
                            <br/>
                            <label class="control-label"><strong class="sub-content-heading"
                                                                 th:text="#{label.printing.choose.label.output}">CHOOSE LABEL
                                OUTPUT</strong></label>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <label class="control-label " th:text="#{label.printing.choose.label.use.formats}">Choose the format you would
                                like to use for your labels:</label>
                        </div>
                        <div class="col-xs-12 col-md-12 form-group">
                            <div class="col-xs-3 col-md-3">
                                <label class="control-label"><strong th:text="#{label.printing.output.format}"></strong></label>
                            </div>
                            <div class="col-xs-8 col-md-8">
                                <!--TODO localise select values -->
                                <select name="label-format" id="label-format">
                                    <option value="">Please Choose</option>
                                    <option value="1">Formatted PDF Label Sheets</option>
                                    <option value="2">Excel Data</option>
                                    <option value="3">CSV Data</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 form-group lblprnt-germplasm-list-details-label">
                            <div class="col-xs-3 col-md-3">
                                <label class="control-label"><strong th:text="#{label.printing.sort.labels.by}"></strong></label>
                            </div>
                            <div class="col-xs-8 col-md-8">
                                <!--TODO localise select values -->
                                <select name="label-sorting" id="label-sorting" th:field="*{userLabelPrinting.sorting}">
                                    <option value="entry">Entry</option>
                                    <option value="designation">Designation</option>
                                    <option value="gid">GID</option>
                                    <option value="stockId">StockID</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="label-printing-details fbk-hide">
                    <div class="row pdf-fields">
                        <div class="col-xs-12 col-md-12">
                            <div class="">
                                <div class="col-xs-12 col-md-12">
                                    <br/>
                                    <label class="control-label"><strong class="sub-content-heading"
                                                                         th:text="#{label.printing.specify.label.stock}"></strong></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pdf-fields">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <div class="col-xs-12 col-md-12">
                                    <label class="control-label " th:text="#{label.printing.enter.specs.for.label}"></label>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-7 col-md-7">
                                    &nbsp;&nbsp;&nbsp;&nbsp;<label class="control-label label-bold"
                                                                   th:text="#{label.printing.size.of.label.sheet}+':'"></label>
                                </div>
                                <div class="col-xs-5 col-md-5">
                                    <select th:field="*{userLabelPrinting.sizeOfLabelSheet}" class="form-control">
                                        <option value="1" th:text="#{label.printing.label.size.a4}">A4</option>
                                        <option value="2" th:text="#{label.printing.label.size.letter}">Letter</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-xs-7 col-md-7">
                                    &nbsp;&nbsp;&nbsp;&nbsp;<label class="control-label label-bold"
                                                                   th:text="#{label.printing.number.of.rows.per.page}+':'"></label>
                                </div>
                                <div class="col-xs-5 col-md-5">
                                    <select th:field="*{userLabelPrinting.numberOfRowsPerPageOfLabel}" class="form-control">
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="10">10</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <div class="col-xs-12 col-md-12">&nbsp;</div>
                                <div class="col-xs-12 col-md-12">
                                    <br/>
                                    <em th:text="#{label.printing.specify.label.details.message}"></em>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pdf-fields">
                        <br/>
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <div class="col-xs-6 col-md-6">
                                    <label class="control-label"><strong class="sub-content-heading"
                                                                         th:text="#{label.printing.choose.label.fields}">CHOOSE LABEL
                                        FIELDS</strong> </label>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <label class="control-label">&nbsp;</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <div class="col-xs-6 col-md-6 lblprnt-germplasm-choose-option-fields-label">
                                    <label class="control-label" th:utext="#{label.printing.choose.option.fields.germplasm.list}"></label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row pdf-fields">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <div class="col-xs-6 col-md-6">
                                    <div class="col-xs-6 col-md-6 lblprnt-study-details-fields">
                                        <ul class="list-group field-group">
                                            <li class="list-group-item"><label class="control-label label-bold"
                                                                               th:text="#{label.printing.trial.details}">Study
                                                Details</label></li>
                                        </ul>
                                        <ul id="pdf-study-details-fields" class="list-group droptrue">
                                        </ul>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <ul class="list-group field-group">
                                            <li class="list-group-item">
                                                <label class="control-label label-bold lblprnt-study-list-details-label"
                                                       th:text="(*{isStockList})? #{label.printing.stock.list.details} :
												#{label.printing.trial.list.details}">
                                                    Study List Details
                                                </label>
                                                <label class="control-label label-bold lblprnt-germplasm-list-details-label"
                                                       th:text="#{label.printing.germplasm.list.details}">
                                                    Germplasm List Details
                                                </label>
                                            </li>
                                        </ul>
                                        <ul id="pdf-study-list-details-fields" class="list-group droptrue">
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="col-xs-6 col-md-6">
                                        <ul class="list-group field-group">
                                            <li class="list-group-item"><label class="control-label label-bold"
                                                                               th:text="#{label.printing.left.selected.fields}">Selected
                                                Fields</label></li>
                                        </ul>
                                        <ul id="leftSelectedFields" class="list-group droptrue pdf-selected-fields">
                                        </ul>

                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <ul class="list-group field-group">
                                            <li class="list-group-item"><label class="control-label label-bold"
                                                                               th:text="#{label.printing.right.selected.fields}">Selected
                                                Fields</label></li>
                                        </ul>
                                        <ul id="rightSelectedFields" class="list-group droptrue pdf-selected-fields">
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row non-pdf-fields">
                        <br/>
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <div class="col-xs-6 col-md-6">
                                    <label class="control-label"><strong class="sub-content-heading"
                                                                         th:text="#{label.printing.choose.label.fields}">CHOOSE LABEL
                                        FIELDS</strong> </label>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <label class="control-label">&nbsp;</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <div class="col-xs-6 col-md-6">
                                    <label class="control-label label-bold" th:text="#{label.printing.include.header}">.</label>
                                    <label class="control-label label-bold non-pdf-type"></label>
                                    <label class="control-label label-bold" th:text="#{label.printing.include.header.export}">.</label>
                                    &nbsp;&nbsp;&nbsp;
                                    <label class="radio-inline">
                                        <input type="radio" value="1" th:field="*{userLabelPrinting.includeColumnHeadinginNonPdf}"/>
                                        <span th:text="#{label.printing.do.you.need.bar.codes.yes}">Yes</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input checked="checked" type="radio" value="0"
                                               th:field="*{userLabelPrinting.includeColumnHeadinginNonPdf}"/>
                                        <span th:text="#{label.printing.do.you.need.bar.codes.no}">No</span>
                                    </label>
                                </div>
                                <div class="col-xs-6 col-md-6"><label>&nbsp;</label></div>
                            </div>
                        </div>
                        <br/><br/><br/>
                        <div class="col-xs-12 col-md-12 lblprnt-study-choose-fields-label">
                            <div class="form-group">
                                <div class="col-xs-6 col-md-6">
                                    <label class="control-label" th:utext="*{isStockList} ?
																(#{label.printing.choose.option.fields.csv.xls.trial.stock})
																	: (#{label.printing.choose.option.fields.csv.xls.trial}) ">.</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 lblprnt-germplasm-list-choose-fields-label">
                            <div class="form-group">
                                <div class="col-xs-6 col-md-6">
                                    <label class="control-label"
                                           th:utext="#{label.printing.choose.option.fields.csv.xls.germplasm.list}">.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row non-pdf-fields">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <div class="col-xs-6 col-md-6">
                                    <div class="col-xs-6 col-md-6 lblprnt-study-details-fields">
                                        <ul class="list-group field-group">
                                            <li class="list-group-item"><label class="control-label label-bold"
                                                                               th:text="#{label.printing.trial.details}">Study
                                                Details</label></li>
                                        </ul>
                                        <ul id="non-pdf-study-details-fields" class="list-group droptrue">
                                        </ul>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <ul class="list-group field-group">
                                            <li class="list-group-item">
                                                <label class="control-label label-bold lblprnt-study-list-details-label"
                                                       th:text="(*{isStockList})? #{label.printing.stock.list.details} :
												#{label.printing.trial.list.details}">
                                                    Study List Details
                                                </label>
                                                <label class="control-label label-bold lblprnt-germplasm-list-details-label"
                                                       th:text="#{label.printing.germplasm.list.details}">
                                                    Germplasm List Details
                                                </label>
                                            </li>
                                        </ul>
                                        <ul id="non-pdf-study-list-details-fields" class="list-group droptrue">
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-1 col-md-1">&nbsp;</div>
                                <div class="col-xs-3 col-md-3">
                                    <div class="">
                                        <ul class="list-group field-group">
                                            <li class="list-group-item"><label class="control-label label-bold"
                                                                               th:text="#{label.printing.main.selected.fields}">Selected
                                                Fields</label></li>
                                        </ul>
                                        <ul id="mainSelectedFields" class="list-group droptrue non-pdf-selected-fields">
                                        </ul>

                                    </div>
                                </div>
                                <div class="col-xs-2 col-md-2">&nbsp;</div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row barcode-options">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <div class="col-xs-6 col-md-6">
                                    <label class="control-label"><strong class="sub-content-heading"
                                                                         th:text="#{label.printing.barcode.options}"></strong></label>
                                </div>
                                <div class="col-xs-6 col-md-6"><label>&nbsp;</label></div>

                                <div class="col-xs-6 col-md-6">
                                    <label class="control-label label-bold" th:text="#{label.printing.do.you.need.bar.codes}">Do you need
                                        barcodes on your labels?</label>
                                    <label class="radio-inline" style="padding-left: 30px">
                                        <input type="radio" value="1" th:field="*{userLabelPrinting.barcodeNeeded}"/>
                                        <span th:text="#{label.printing.do.you.need.bar.codes.yes}">Yes</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input checked="checked" type="radio" value="0" th:field="*{userLabelPrinting.barcodeNeeded}"/>
                                        <span th:text="#{label.printing.do.you.need.bar.codes.no}">No</span>
                                    </label>
                                </div>
                                <div th:if="!*{isStockList} and (*{germplasmListId} == null or *{germplasmListId} == '')" class="col-xs-6 col-md-6"><label>&nbsp;</label></div>
                                
                                <div th:if="!*{isStockList} and (*{germplasmListId} == null or *{germplasmListId} == '')" class="col-xs-6 col-md-6 automatically-barcode-fields">
                                    <label class="control-label label-bold" th:text="#{label.printing.do.you.want.automatically.unique.bar.codes}">Do you want 
                                    	to use automatically generated unique barcodes?</label>
                                    <label class="radio-inline" style="padding-left: 30px">
                                        <input checked="checked" type="radio" value="1" th:field="*{userLabelPrinting.barcodeGeneratedAutomatically}"/>
                                        <span th:text="#{common.form.yes.text}">Yes</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="0" th:field="*{userLabelPrinting.barcodeGeneratedAutomatically}"/>
                                        <span th:text="#{common.form.no.text}">No</span>
                                    </label>
                                </div>
                                
                                <div class="col-xs-6 col-md-6 barcode-fields">
                                    <div class="form-group">
                                        <div class="col-xs-12 col-md-12">
                                            <label class="control-label" th:utext="#{label.printing.bar.code.note}">.</label>
                                        </div>
                                        <div class="row form-group col-xs-12 col-md-12">
                                            <div class="col-xs-4 col-md-4">
                                                <label class="control-label label-bold add_top_padding"
                                                       th:text="#{label.printing.first.bar.code.field}+':'"></label>
                                            </div>
                                            <div class="col-xs-8 col-md-8">
                                                <select th:field="*{userLabelPrinting.firstBarcodeField}" class="form-control">
                                                    <option value="" th:text="#{label.printing.bar.code.please.choose.field}">Please
                                                        choose
                                                    </option>
                                                    <option th:each="fields: ${availableFields}" th:text="${fields.name}"
                                                            th:value="${fields.id}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group col-xs-12 col-md-12">
                                            <div class="col-xs-4 col-md-4">
                                                <label class="control-label label-bold add_top_padding"
                                                       th:text="#{label.printing.second.bar.code.field}+':'"></label>
                                            </div>
                                            <div class="col-xs-8 col-md-8">
                                                <select th:field="*{userLabelPrinting.secondBarcodeField}" class="form-control">
                                                    <option value="" th:text="#{label.printing.bar.code.please.choose.field}">Please
                                                        choose
                                                    </option>
                                                    <option th:each="fields: ${availableFields}" th:text="${fields.name}"
                                                            th:value="${fields.id}">8
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group col-xs-12 col-md-12">
                                            <div class="col-xs-4 col-md-4">
                                                <label class="control-label label-bold add_top_padding"
                                                       th:text="#{label.printing.third.bar.code.field}+':'"></label>
                                            </div>
                                            <div class="col-xs-8 col-md-8">
                                                <select th:field="*{userLabelPrinting.thirdBarcodeField}" class="form-control">
                                                    <option value="" th:text="#{label.printing.bar.code.please.choose.field}">Please
                                                        choose
                                                    </option>
                                                    <option th:each="fields: ${availableFields}" th:text="${fields.name}"
                                                            th:value="${fields.id}">8
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="label-filename col-xs-6 col-md-6">
                            <br/>
                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><strong class="sub-content-heading"
                                                                         th:text="#{label.printing.set.the.filename}"></strong></label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 nopadding-right">
                                <div class="form-group">
                                    <div class="pull-left">
                                        <label class="control-label label-bold add_top_padding"
                                               th:text="#{label.printing.filename}+':'"></label><span class="required">*</span>
                                    </div>
                                    <div class="pull-left" style="width: 300px; padding-left: 10px">
                                        <input type="text" class="form-control" th:field="*{userLabelPrinting.filename}"
                                               placeholder="Filename"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="save-label-settings col-xs-6 col-md-6">
                            <br/>
                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">
                                    <label class="control-label">
                                        <strong class="sub-content-heading"
                                                th:text="#{label.printing.save.label.settings}"></strong></label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 nopadding-right">
                                <label class="control-label " th:text="#{label.printing.choose.preset.text}"></label>
                            </div>
                            <div class="col-xs-12 col-md-12  nopadding-right">
                                <div class="form-group">
                                    <div class="pull-left ">
                                        <label class="control-label label-bold add_top_padding"
                                               th:text="#{label.printing.save.label.settings.name.note}"></label>
                                    </div>
                                    <div class="pull-left" style="width: 300px; padding-left: 10px">
                                        <input type="text" class="form-control" th:field="*{userLabelPrinting.settingsName}"
                                               th:placeholder="${labelPrintingForm.germplasmListId != null} ? 'Seed Shipment Labels' : 'Settings Name'"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
				<!-- Navigation Buttons -->
				<div class="form-group">&nbsp;</div>
                <div class="form-group">
                    <div class="col-xs-12 col-md-12 fbk-center">
                        <input type="button" onclick="window.history.back();" value="Cancel" class="btn btn-default"/>
                        <input type="button" id="fbk-lbl-printing-save-preset" value="Save Preset" class="btn btn-info fbk-hide"/>
                        <input type="button" id="export-label-data" value="Export Label" th:value="#{common.form.export.label.text}"
                               class="btn btn-primary fbk-hide"/>
                    </div>
                </div>
                
                <div class="form-group">&nbsp;</div>
            </div>
        </div>
    </div>
</form>

<!-- modal dialog for preset override confirmation -->
<div class="modal fade" id="fbk-lbl-printing-save-preset-override-modal" tabindex="-1" role="dialog"
     aria-labelledby="fbk-lbl-printing-save-preset-override-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-11 col-md-offset-1 col-md-11">
                        <p class="modal-dialog-text" th:text="#{label.printing.confirmation.overwrite.preset}">Do you wish to override the
                            existing program preset?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary yes" th:value="#{common.form.yes.text}">Yes</button>
                <button type="button" class="btn btn-default no" th:value="#{common.form.no.text}">No</button>
            </div>
        </div>
    </div>
</div>

<!-- modal dialog for delete preset confirmation -->
<div class="modal fade" id="fbk-lbl-printing-delete-preset-confirm" tabindex="-1" role="dialog"
     aria-labelledby="fbk-lbl-printing-delete-preset-confirm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" th:text="#{label.printing.confirmation.delete.program.setting.title}">Delete Program Setting</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-11 col-md-offset-1 col-md-11">
                        <p class="modal-dialog-text" th:text="#{label.printing.confirmation.delete.program.setting.text}">Are you sure you
                            want to delete {0}?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary yes" th:value="#{common.form.yes.text}">Yes</button>
                <button type="button" class="btn btn-default no" th:value="#{common.form.no.text}">No</button>
            </div>
        </div>
    </div>
</div>

<!-- modal dialog for exporting label without saving preset -->
<div class="modal fade" id="fbk-lbl-printing-proceed-export-label" tabindex="-1" role="dialog"
     aria-labelledby="fbk-lbl-printing-delete-preset-confirm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" th:text="#{common.form.confirmation.text}">Proceed Export Label</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-11 col-md-offset-1 col-md-11">
                        <p class="modal-dialog-text" th:text="#{label.printing.confirmation.export.without.save.preset}">Proceed without
                            saving label printing setting?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary yes" th:value="#{common.form.yes.text}">Yes</button>
                <button type="button" class="btn btn-default no" th:value="#{common.form.no.text}">No</button>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="page-script">
    <script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery-multisortable.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/labelPrinting.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery.tablednd.0.7.min.js}"></script>

    <script type="text/javascript" th:inline="javascript">
//<![CDATA[
	/*globals setSelectedTrialsAsDraggable*/
	/*exported setTotalLabels*/
$(function() {
	'use strict';

	var excelOption = /*[[#{label.printing.export.excel}]]*/ false;
	var availableFields = /*[[${availableFields}]]*/ [];
	var unavailableFields = /*[[${unavailableFields}]]*/ [];

	LabelPrinting.onPageLoad(excelOption, availableFields, unavailableFields);

});

//]]>

    </script>

</div>
