<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
	<div class="modal fade" id="addVariablesSettingModal" role="dialog" aria-labelledby="addVariablesSettingModal" aria-hidden="true">
		<div class="modal-dialog modal-large">
			<div class="modal-content">
				<div class="modal-header">
					<button id="closeAddVariablesSettingModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="heading-modal"></h4>
				</div>
				<div class="modal-body" id="addVariablesSettingBody">
					<div class="row">
						<div id="page-message-modal" class="col-xs-12 col-md-12"></div>
					</div>
					<div th:include="/OntologyBrowser/browserInfo"></div>
					<br/>
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<table id="newVariablesList" class="my-class table table-curved table-condensed" style="margin-left:5px;">
								<thead>
									<th>Variable Name</th>
									<th>Property</th>
									<th>Scale</th>
									<th>Method</th>
									<th>Role</th>
								</thead>
								<tbody>
									<tr th:each="choice, rowStat : *{selectedVariables}">
										<td>
											<input type="hidden" class="addVariables" th:field="*{selectedVariables[__${rowStat.index}__].cvTermId}" />
											<input type="text" class="addVariables" th:field="*{selectedVariables[__${rowStat.index}__].name}" />
										</td>
										<td th:text="*{selectedVariables[__${rowStat.index}__].property}"></td>
										<td th:text="*{selectedVariables[__${rowStat.index}__].scale}"></td>
										<td th:text="*{selectedVariables[__${rowStat.index}__].method}"></td>
										<td th:text="*{selectedVariables[__${rowStat.index}__].role}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer addVariable-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
					<button type="button" id="addVariables" class="btn btn-primary" aria-hidden="true" onclick="javascript: submitSelectedVariables();">Add Variables</button>
				</div>
			</div>
		</div>
	</div><!-- Modal -->
</div>

<a style="display: none" id="ontologyBaseUrl" href="/OntologyBrowser" th:href="@{/OntologyBrowser/}">test</a>

<div layout:fragment="page-script">
	<script type="text/javascript" th:src="@{/static/js/ontologyBrowser.js}"></script>
	<script type='text/javascript' th:inline="javascript">
		//<![CDATA[
		var treeData = /*[[${createNurseryForm.treeData}]]*/;
		var searchTreeData = /*[[${createNurseryForm.searchTreeData}]]*/;
		var treeDivId = 'ontologyBrowserTree';
		var seasrchErrorMessage = /*[[#{ontology.search.error.no.result}]]*/;
		var variableDetailHeader = /*[[#{ontology.variable.details}]]*/;
		var noVariableAddedMessage = /*[[#{nursery.managesettings.select.variable}]]*/;

		var ontologyUrl = $('#ontologyBaseUrl').attr('href');

		$( document ).ready(function() {

				//display tree
				displayOntologyTree(treeDivId, treeData, searchTreeData, 'srch-term');
				$.fn.modal.Constructor.prototype.enforceFocus = function () {};
				$(".tt-hint").css('top','3px');
				$(".tt-hint").css('left','0px');
				$("#srch-term").css('background-color','#FFFFFF');
			});

		$('#srch-term').on("keypress", function(e) {
			if (e.keyCode == 13) {
				//doSearchTree();
				return false; // prevent the button click from happening
			}
		});
		//]]>
	</script>
</div>