
<div class="modal fade" id="variableDetailsModal" role="dialog" aria-labelledby="variableDetailsModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<dl class="dl-horizontal">
					<dt th:text="#{variable.details.traitClass} + ':'">Trait Class:</dt>
					<dd id="traitClass">Agronomic</dd>
					
					<dt th:text="#{variable.details.property} + ':'">Property:</dt>
					<dd id="property">Plant height</dd>
					
					<dt th:text="#{variable.details.method} + ':'">Method:</dt>
					<dd id="method">Soil to tip at maturity</dd>
					
					<dt th:text="#{variable.details.scale} + ':'">Scale:</dt>
					<dd id="scale">cm</dd>
					
					<dt th:text="#{variable.details.dataType} + ':'">Data Type:</dt>
					<dd id="dataType">Numeric variable</dd>
					
					<dt th:text="#{variable.details.role} + ':'">Role:</dt>
					<dd id="role">Observation variate</dd>
					
					<dt th:text="#{variable.details.cropOntologyId} + ':'">Crop Ontology Id:</dt>
					<dd id="cropOntologyId">CO_320:0000076</dd>
				</dl>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.ok.text}">OK</button>
			</div>
		</div>
	</div>
</div>