<div class="modal fade" id="deleteStudyModal" role="dialog" aria-labelledby="deleteStudyModal" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">			
			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row form-group">
					<div class="col-xs-11 col-md-11">					
						<label class="modal-title fbk-modal-title" id="delete-nursery-heading-modal" th:text="#{browse.nursery.delete.nursery.name}">Delete Nursery</label>
					</div>
					<div class="col-xs-1 col-md-1">
						<button  id="closeDeleteStudyModal" type="button" class="close  pull-right glyphicon glyphicon-remove" onclick="javascript: closeModal('deleteStudyModal')"/>
					</div>										
				</div>
				<div class="row">
					<div id="page-delete-study-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>
				<div class="row form-group">
						<div class="col-xs-12 col-md-12 add_top_padding">
							<label class="control-label" id="delete-study-confirmation"></label>
						</div>
				</div>

			</div>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-default" onclick="javascript: closeModal('deleteStudyModal')" th:text="#{common.form.no.text}">Cancel</button>
				<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.yes.text}" onclick="javascript: deleteNursery();">Ok</button>
			</div>
		</div>
	</div>
</div>
