<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
	<div class="modal fade" id="exportStudyModal" role="dialog" aria-labelledby="exportStudyModal" aria-hidden="true">
		<div class="modal-dialog modal-medium">
			<div class="modal-content">			
				<div class="modal-body" id="exportStudyModalBody">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">					
							<label class="modal-title fbk-modal-title" id="heading-modal"></label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button id="close" type="button" class="close pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"></button>
						</div>										
					</div>
				
					<div class="row form-group">
						<div id="page-export-message-modal" class="col-xs-12 col-md-12">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<label class="control-label label-bold" th:text="#{nursery.export.note}"></label>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<label class=""><em th:utext="#{fieldmap.mandatory.fields}"> Mandatory fields are noted with a *</em></label>
						</div>
					</div>					
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							&nbsp;
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<label class="control-label h4" th:text="#{study.export.format.header}"></label>
						</div>

					</div>

					<div class="row form-group">
						<div class="col-xs-5 col-md-5">
							<label class="control-label add_top_padding label-bold" th:text="#{study.export.choose.format}">Export Format:</label><span class="required">*</span>
						</div>
						<div class="col-xs-4 col-md-4">
							<select id="exportType" style="width: 170px">
								<option value="0">Please Choose</option>
								<option value="1" th:text="#{nursery.export.fieldlog.fieldroid}"></option>
								<option value="2" th:text="#{nursery.export.r}"></option>
								<option value="3" th:text="#{nursery.export.excel}"></option>
								<option value="4">DataKapture</option>
								<option value="5">KSU Fieldbook Excel</option>
								<option value="6">KSU Fieldbook CSV</option>
							</select>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<label class="control-label h4 label-bold" th:text="#{study.export.data.collection.header}"></label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-5 col-md-5">
							<label class="control-label add_top_padding label-bold" th:text="#{study.export.choose.data.collection.order}">Way to be exported:</label><span class="required">*</span>
						</div>
						<div class="col-xs-4 col-md-4">
							<select id="exportWayType" style="width: 170px">
								<option value="1" th:text="#{study.export.data.collection.row.col}">Row/Col</option>
								<option value="2" th:text="#{study.export.data.collection.serpentine.along.rows}">Serpentine (over range)</option>
								<option value="3" th:text="#{study.export.data.collection.serpentine.along.columns}">Serpentine (over column)</option>

							</select>
						</div>
						<div style="padding-top: 7px">
							<span class="help-tooltip-nursery" data-placement="right" data-toggle="tooltip" th:title="#{study.export.data.collection.serpentine.tool.tip}">?</span>
						</div>
					</div>

					<div class="row form-group exportRSection" style="display: none">
						<div class="col-xs-12 col-md-12">&nbsp;</div>
						<div class="col-xs-12 col-md-12">
							<label class="control-label h4" th:text="#{nursery.export.r.header}">Choose Trait to evaluate in R</label>
						</div>
						<div class="col-xs-12 col-md-12">
							<label class="control-label" th:text="#{nursery.export.r.note}">Note: In your exported file, your trait will show as "GY"</label>
						</div>
						<div class="col-xs-12 col-md-12">&nbsp;</div>
						<div class="col-xs-5 col-md-5">
							<label class="control-label add_top_padding label-bold" th:text="#{nursery.export.r.select.trait}">Select Main Trait:</label>
						</div>
						<div class="col-xs-4 col-md-4">
							<select name="selectedRTrait" id="selectedRTrait" class="form-control" style="width: 170px">

							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer addVariable-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
					<button type="button" class="btn btn-primary" aria-hidden="true" onclick="javascript:checkBeforeExport();">Export</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="exportStudyConfirmationModal" role="dialog" aria-labelledby="exportStudyConfirmationModal" aria-hidden="true">
		<div class="modal-dialog modal-medium">
			<div class="modal-content">
				<div class="modal-header">
					<button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="heading-modal">
						Confirmation
					</h4>
				</div>
				<div class="modal-body" id="exportStudyConfirmationModalBody">

					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<label class="control-label" th:text="#{nursery.export.field.plan.confirmation}"></label>
						</div>
					</div>
				</div>
				<div class="modal-footer addVariable-footer">
					<button type="button" class="btn btn-default" aria-hidden="true" onclick="javascript:doConfirmGoBack();" th:text="#{nursery.go.back}">Cancel</button>
					<button type="button" class="btn btn-primary" aria-hidden="true" onclick="javascript:doConfirmExport();" th:text="#{nursery.proceed}">Confirm</button>
				</div>
			</div>
		</div>
	</div>
</div>
<form id="exportStudyForm" role="form-horizontal" action="#" th:action="@{/ExportManager/}" method="GET">
	<input type="hidden" name="studyExportId" id="studyExportId" value="0"/>
</form>
<form id="exportStudyDownloadForm" role="form-horizontal" action="#" th:action="@{/ExportManager/download/file}" method="GET">
	<input type="hidden" name="outputFilename" id="outputFilename" value=""/>
	<input type="hidden" name="filename" id="filename" value=""/>
	<input type="hidden" name="contentType" id="contentType" value=""/>
</form>

<div layout:fragment="page-script">
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[

		var submitExportUrl = '/Fieldbook/ExportManager/',
			exportHeader = /*[[#{study.export.study.header}]]*/ '',
			exportBookHeader = /*[[#{study.export.study.book.header}]]*/ '',

			exportOptions = {
				dataType: 'text',
					success: showExportResponse // post-submit callback
				};

		$(document).ready(function() {
			'use strict';
			$('#exportStudyModal select').select2({width: 'copy', minimumResultsForSearch: 20});
			$('#exportType').on('change', function(){
				if ($(this).val() === '2') {
					$('.exportRSection').css('display', 'block');
				} else {
					$('.exportRSection').css('display', 'none');
				}
			});

			$('#exportStudyModal').on('hide.bs.modal', function() {
				$("#page-export-message-modal").html('');
			});

		});

		function checkBeforeExport() {

			var studyId = '0';

			if ($('#browser-nurseries').length !== 0) {
				// We are on the landing page
				studyId = getCurrentStudyIdInTab();
			}
			
			if($('#exportWayType').val() === '1') {
				exportNursery();
			}else {

				Spinner.toggle();
	
				$.ajax({
					url: '/Fieldbook/ExportManager/study/hasFieldMap?studyId=' + studyId,
					type: 'GET',
					cache: false,
					success: function (data) {
						if (data === "0") {
							// Disable the export order of serpentine
							$('#exportStudyModal').modal('hide');
							$('#exportStudyConfirmationModal').modal({ backdrop: 'static', keyboard: false });
						} else {
							exportNursery();
						}
						Spinner.toggle();
					}
				});
			}
		}

		function doConfirmGoBack() {
			$('#exportStudyConfirmationModal').modal('hide');
			$('#exportStudyModal').modal({ backdrop: 'static', keyboard: false });
		}

		function doConfirmExport() {
			exportNursery();
			$('#exportStudyConfirmationModal').modal('hide');
		}

		function showExportOptions() {
			var studyType = '',
				studyId = '0';

			if ($('#browser-nurseries').length !== 0) {
				// We are on the landing page
				studyType = $("#study"+getCurrentStudyIdInTab()+" #study-type").val();
				studyId = getCurrentStudyIdInTab();
			} else {
				studyType = $("#study-type").val();
			}

			$('#exportStudyModal #heading-modal').html(exportHeader + " " + studyType + " " + exportBookHeader);
			$('#selectedRTrait').empty();
			$('#selectedRTrait').select2('destroy');

			Spinner.toggle();

			$.ajax({
				url: '/Fieldbook/ExportManager/study/traits/?studyId='+studyId,
				type: 'GET',
				cache: false,
				success: function (data) {
					var variatesList = $.parseJSON(data),
						index,
						id,
						val;

					// We build the R options
					if (variatesList.length !== 0) {
						for (index = 0 ; index < variatesList.length; index++){
							id = variatesList[index].termId;
							val = variatesList[index].name + ' (' + variatesList[index].scale +')';
							$('#selectedRTrait').append($('<option></option>').attr('value', id).text(val));
						}
					}
					$('#selectedRTrait').select2({minimumResultsForSearch: 20});
					$('#exportStudyModal').modal({ backdrop: 'static', keyboard: false });
					Spinner.toggle();
				}
			});

		}
		function showExportResponse(responseText, statusText, xhr, $form) {
			var resp = $.parseJSON(responseText);

			$('#exportStudyDownloadForm #outputFilename').val(resp.outputFilename);
			$('#exportStudyDownloadForm #filename').val(resp.filename);
			$('#exportStudyDownloadForm #contentType').val(resp.contentType);
			$('#exportStudyDownloadForm').submit();
			$('#exportStudyModal').modal('hide');
			Spinner.toggle();
		}
	//]]>
	</script>
</div>