<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
	<div class="modal fade" id="openGermplasmListModal"  role="dialog" aria-labelledby="openGermplasmListModal" aria-hidden="true">
		<div class="modal-dialog modal-small">
			<div class="modal-content" >
				<div class="modal-body" id="openGermplasmListBody">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{germplasm.list.header.details}">List Header Details</label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"/>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<div class="label-padding">
								<label class="control-label control-label-bold" th:text="#{germplasm.list.name}">List Name:</label>
							</div>
							<label class="germplasm-header-details" id="list-name"></label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<div class="label-padding">
								<label class="control-label control-label-bold" th:text="#{germplasm.list.owner}">List Owner:</label>
							</div>
							<label class="germplasm-header-details" id="list-owner"></label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<div class="label-padding">
								<label class="control-label control-label-bold" th:text="#{germplasm.list.status}">Status:</label>
							</div>

							<label class="germplasm-header-details" id="list-status"></label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<div class="label-padding">
								<label class="control-label control-label-bold" th:text="#{germplasm.list.description}">Description:</label>
							</div>
							<label class="germplasm-header-details" id="list-description"></label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<div class="label-padding">
								<label class="control-label control-label-bold" th:text="#{germplasm.list.type}">Type:</label>
							</div>
							<label class="germplasm-header-details" id="list-type"></label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<div class="label-padding">
								<label class="control-label control-label-bold" th:text="#{germplasm.list.date}">Date:</label>
							</div>
							<label class="germplasm-header-details" id="list-date"></label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<div class="label-padding">
								<label class="control-label control-label-bold" th:text="#{germplasm.list.notes}">Notes:</label>
							</div>
							<label class="germplasm-header-details" id="list-notes"></label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
							<div class="label-padding">
								<label class="control-label control-label-bold" th:text="#{germplasm.list.total.entries}">Total Entries:</label>
							</div>
							<label class="germplasm-header-details" id="list-total-entries"></label>
						</div>
					</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>

<div layout:fragment="page-script">
<script type='text/javascript' th:inline="javascript">
//<![CDATA[
function openGermplasmListDetailsPopop(listId) {
	'use strict';
	$('.germplasm-header-details').html('');
    $.ajax({
		url: "/Fieldbook/ListTreeManager/germplasm/list/header/details/" + listId,
		type: "GET",
		cache: false,
		success: function(data) {
			$('#openGermplasmListBody #list-name').html(data.name);
			$('#openGermplasmListBody #list-description').html(data.description);
			$('#openGermplasmListBody #list-status').html(data.status);
			$('#openGermplasmListBody #list-date').html(data.date);
			$('#openGermplasmListBody #list-owner').html(data.owner);
            $('#openGermplasmListBody #list-type').html(data.type);
            var notes = data.notes == null ? '-' : data.notes;
			$('#openGermplasmListBody #list-notes').html(notes);
			$('#openGermplasmListBody #list-total-entries').html(data.totalEntries);
			$('#openGermplasmListModal').modal({ backdrop: 'static', keyboard: true });
		}
	});
}
//]]>
</script>
</div>
