<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
	<form id="importStudyUploadForm"
	method="post" th:object="${createNurseryForm}"
	enctype="multipart/form-data">
		<div class="modal fade" id="importStudyModal" role="dialog" aria-labelledby="importStudyModal" aria-hidden="true">
			<div class="modal-dialog modal-medium">
				<div class="modal-content">
					<div class="modal-header">
						<button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="heading-modal">
							Import
						</h4>
					</div>

					<div class="modal-body" id="importStudyModalBody">
						<div class="row form-group">
							<div id="page-import-message-modal" class="col-xs-12 col-md-12">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-xs-12 col-md-12">
								<label class="control-label h4" th:text="#{study.import.select.header}"></label>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-xs-7 col-md-7">
								<label th:text="#{study.import.specify.format}" class="control-label add_top_padding label-bold"></label><span class="required">*</span>
							</div>
							<div class="col-xs-5 col-md-5">
								<select style="width: 205px" id="importType">
									<option value="0">Please Choose</option>
									<option value="1" th:text="#{nursery.import.fieldlog.fieldroid}"></option>
									<option value="3" th:text="#{nursery.import.excel}"></option>
								</select>
							</div>
						</div>

						<div class='row form-group'>

							<div class="col-xs-7 col-md-7">
								<label for="fileupload" class="control-label add_top_padding label-bold" th:text="#{nursery.import.germplasm.select.file}">Select a file</label><span class="required">*</span>
							</div>
							<div class="col-xs-5 col-md-5">
								<div class="fileupload fileupload-new" data-provides="fileupload">
									<div class="input-group">
										<div class="form-control uneditable-input"><i class="icon-file fileupload-exists"></i>
											<span class="fileupload-preview"></span>
										</div>
										<div class="input-group-btn">
											<a class="btn btn-info btn-file">
											<span class="fileupload-new" th:text="#{nursery.import.germplasm.browse.file}">Browse</span>
											<span class="fileupload-exists" th:text="#{nursery.import.germplasm.change}">Change</span>
											<input id="fileupload" th:field="*{file}" type="file" class="file-input"/></a>
											<a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload" th:text="#{nursery.import.germplasm.remove}">Remove</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
						<button type="button" class="btn btn-primary" aria-hidden="true" onclick="javascript:submitImportStudy();">Import</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal fade" id="importStudyConfirmationModal" role="dialog" aria-labelledby="importStudyConfirmationModal" aria-hidden="true">
	<div class="modal-dialog modal-medium">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="heading-modal">
					Confirmation
				</h4>
			</div>

			<div class="modal-body" id="importStudyConfirmationModalBody">
				
				<div class="row form-group">
					<div class="col-xs-12 col-md-12">
						<label class="control-label import-confirmation"></label>
					</div>
				</div>


			<div class="modal-footer">
				<button type="button" class="btn btn-default"  onclick="javascript:goBackToImport();" th:text="#{nursery.go.back}">Cancel</button>
				<button type="button" class="btn btn-primary"  onclick="javascript:confirmStudyImport();" th:text="#{nursery.proceed}">Import</button>
			</div>
		</div>
	</div>
</div>
</div>

<div class="modal fade" id="importStudyDesigConfirmationModal" role="dialog" aria-labelledby="importStudyDesigConfirmationModal" aria-hidden="true">
	<div class="modal-dialog modal-medium">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="heading-modal">
					Confirmation
				</h4>
			</div>

			<div class="modal-body" id="importStudyDesigConfirmationModalBody">
				
				<div class="row form-group">
					<div class="col-xs-12 col-md-12">
						<label class="control-label import-desig-confirmation"></label>
					</div>
				</div>
				
				<div class="row form-group">
					<div class="col-xs-12 col-md-12">
						<input type="checkbox" id="yesToAllDesig" name="yesToAllDesig" value="1"/>
						<label class="control-label">Accept All Changes</label>
					</div>
				</div>


			<div class="modal-footer">
				<button type="button" class="btn btn-default"  onclick="javascript:goBackToImport();" >Cancel</button>
				<button type="button" class="btn btn-default"  onclick="javascript:confirmDesignation(0);">Skip</button>
				<button type="button" class="btn btn-primary"  onclick="javascript:confirmDesignation(1);">Yes</button>
			</div>
		</div>
	</div>
</div>
</div>

<div layout:fragment="page-script">
	<script type="text/javascript" th:src="@{/static/js/lib/bootstrap/bootstrap-fileupload.js}"></script>
	<script type='text/javascript' th:inline="javascript">
		//<![CDATA[
		var importStudyHeader = /*[[#{study.import.study.header}]]*/;
		var importStudyBookHeader = /*[[#{study.import.study.book.header}]]*/;
		var changeConfirmationDetails = [];
		var currentConfirmationIndex = 0;
		var importOptions = {
			dataType: 'text',
				success: showImportResponse // post-submit callback
			};

		$( document ).ready(function() {
			$('#importStudyModal select').select2({width: 'copy'});
			$('#importType').on('change', function(){
				if($(this).val() != 0){
					importNursery($(this).val());
				}
			});

			$('#importStudyModal').on('hide.bs.modal', function() {
				$("#page-import-message-modal").html('');
				$('#fileupload').val("");
				$('div.fileupload').parent().parent().removeClass('has-error');
				$('#importStudyModal .fileupload-exists').click();
			});
			
			$('#importStudyDesigConfirmationModal').on('hide.bs.modal', function() {
				$('input[type=checkbox][name=yesToAllDesig]').prop('checked', false);
			})

			$('#importStudyModal #heading-modal').html(importStudyHeader + " " + $("#study-type").val() + " " + importStudyBookHeader);
		});

		function showImportResponse(responseText, statusText, xhr, $form) {
			//reload the screen
			var resp = $.parseJSON(responseText);
			changeConfirmationDetails = [];
			currentConfirmationIndex = 0;
			if(resp.changeDetails != null && resp.changeDetails.length != 0){
				for(var index = 0 ; index < resp.changeDetails.length ; index++){
					//var msg = "("+(index+1)+" of "+resp.changeDetails.length+") Do you want change '"+resp.changeDetails[index].originalDesig+"' to '"+resp.changeDetails[index].newDesig+"'?";
					changeConfirmationDetails.push(resp.changeDetails[index]);
				}
				
			}
			Spinner.toggle();
			//console.log(resp.isSuccess);
			if(resp.isSuccess == 1){
				if(resp.mode == 0){
					confirmStudyImport();
				}else{
					$('#importStudyModal').modal('hide');
					setTimeout(function(){$('#importStudyConfirmationModal').modal({ backdrop: 'static', keyboard: false });}, 300);
					$('#importStudyConfirmationModal .import-confirmation').html(resp.message);
				}
			}else{
				showErrorMessage('page-import-message-modal', resp.error);
				
			}
		}
		function applyChangeDetails(){
			Spinner.toggle();
			var data = JSON.stringify(changeConfirmationDetails);
			$.ajax(
				{ url: "/Fieldbook/ImportManager/apply/change/details",
				type: "POST",
				data: "data=" + data,
				success: function(html) {
					$('#importStudyDesigConfirmationModal').modal('hide');
					doMeasurementsReload();
					Spinner.toggle();
				}
			});
		}
		function confirmDesignation(status){
			var applyDetails = false;
			if($('input[type=checkbox][name=yesToAllDesig]:checked').val() == 1){
				for(var index = currentConfirmationIndex ; index < changeConfirmationDetails.length ; index++){
					changeConfirmationDetails[index].status = status;	
				}
				applyDetails = true;
			}else{
				changeConfirmationDetails[currentConfirmationIndex].status = status;
				currentConfirmationIndex++;
				if(currentConfirmationIndex == changeConfirmationDetails.length){
					//meaning we've gone through all the confirmation
					applyDetails = true;
				}else{
					showDesignationConfirmationMessage(currentConfirmationIndex);
				}
				
			}
			if(applyDetails){
				applyChangeDetails();
			}
				
		}
		function showDesigConfirmation(){
			$('#importStudyModal').modal('hide');
			$('#importStudyConfirmationModal').modal('hide');
			setTimeout(function(){$('#importStudyDesigConfirmationModal').modal({ backdrop: 'static', keyboard: false });}, 300);
			showDesignationConfirmationMessage(currentConfirmationIndex);
		}
		function showDesignationConfirmationMessage(index){
			$('#importStudyDesigConfirmationModal .import-desig-confirmation').html(changeConfirmationDetails[currentConfirmationIndex].message);
		}
		function confirmStudyImport(){
			if(changeConfirmationDetails.length != 0){
				showDesigConfirmation();
			}else{
				doMeasurementsReload();
			}
			
		}
		function doMeasurementsReload(){
			
			var paginationUrl = '/Fieldbook/Common/addOrRemoveTraits/reload/';
			paginationUrl = paginationUrl + $("#study-type").val() + "/";
			var currentPage = $('#measurement-data-list-pagination .pagination .active a').html();
			Spinner.toggle();
			$.ajax(
				{ url: paginationUrl+currentPage+"/"+currentPage+'?r=' + (Math.random() * 999),
				type: "GET",
				data: "",
				cache: false,
				timeout: 70000,
				success: function(html) {

					$("#germplasm-measurement-list-table-div").empty().append(html);
					
					$('#importStudyModal').modal('hide');
					$('#importStudyConfirmationModal').modal('hide');
					Spinner.toggle();
				}
			});
		}
		function showImportOptions(){
			$('#importStudyModal').modal({ backdrop: 'static', keyboard: false });
		}
		function goBackToImport(){
			//trigger something to return the data
			Spinner.toggle();
			var revertUrl = '/Fieldbook/ImportManager/revert/data';
			$.ajax(
				{ url: revertUrl,
				type: "GET",
				data: "",
				cache: false,
				success: function(html) {

					$('#importStudyConfirmationModal').modal('hide');
					$('#importStudyDesigConfirmationModal').modal('hide');
					setTimeout(function(){$('#importStudyModal').modal({ backdrop: 'static', keyboard: false });}, 300);
					Spinner.toggle();
				}
			});
			
		}
		//]]>
	</script>
</div>