<div>
	<span class="h3" th:text="#{germplasm.list.specify.checks}">Specify Checks</span>
	<div class="row">
		<div class="row form-group col-xs-12 col-md-12">
			<div class="col-xs-4 col-md-4 add_top_padding">
				<label class="control-label label-bold" th:text="#{germplasm.list.choose.check.type.starting.index}">Starting Index</label><span class="required">*</span>
			</div>
			<div class="col-xs-2 col-md-2">
				<input style="width: 50px" type="text" id="startIndex2" class="form-control" onchange="verifyIfCheck(this)" />
			</div>
			<div class="col-xs-3 col-md-3 add_top_padding">
				<label class="control-label label-bold" th:text="#{germplasm.list.choose.check.type.manner.of.insertion}">Manner of Insertion</label>
			</div>
			<div class="col-xs-3 col-md-3">
				<select class="form-control" id="mannerOfInsertion2">
					<option value="1" th:text="#{germplasm.list.choose.check.type.manner.of.insertion.in.turn}">In turn</option>
					<option value="2" th:text="#{germplasm.list.choose.check.type.manner.of.insertion.per.location}">Per Location</option>
				</select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="row form-group col-xs-12 col-md-12">
			<div class="col-xs-4 col-md-4 add_top_padding">
				<label class="control-label label-bold" th:text="#{germplasm.list.choose.check.type.interval}">Interval</label><span class="required">*</span>
			</div>
			<div class="col-xs-2 col-md-2">
				<input style="width: 50px" type="text" id="interval2" class="form-control" />
			</div>
		</div>
	</div>
</div>

<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
	var checkTypes = /*[[${checkTypes}]]*/ null;
	var checkTypes_obj = [];
	var spinnerCreatedAlready = false;
	var prevStartIndex = 0;
	$( document ).ready(function() {

		$('#manageCheckTypesModal').on('hidden.bs.modal', function (e) {
			reloadCheckTypeDropDown(false, 'checklist-select');
		});

		initializeCheckTypeSelect2(checkTypes, [], false, 0, "comboCheckCode");
		$("#updateCheckTypes").hide();
		$("#deleteCheckTypes").hide();
		$('#mannerOfInsertion').select2();

		setSpinnerMaxValue();
	});

	function setSpinnerMaxValue(){
		$('#startIndex2').val(1);
		$('#interval2').val(1);
	}
	//]]>
</script>