<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
	<form id="importStudyUploadForm"
	method="post" th:object="${createNurseryForm}"
	enctype="multipart/form-data">
		<div class="modal fade" id="importStudyModal" role="dialog" aria-labelledby="importStudyModal" aria-hidden="true">
			<div class="modal-dialog modal-medium">
				<div class="modal-content">
					<div class="modal-header">
						<button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="heading-modal">
							Import
						</h4>
					</div>

					<div class="modal-body" id="importStudyModalBody">
						<div class="row form-group">
							<div id="page-import-study-message-modal" class="col-xs-12 col-md-12">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-xs-12 col-md-12">
								<label class="control-label h4" th:text="#{study.import.select.header}"></label>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-xs-7 col-md-7">
								<label th:text="#{study.import.specify.format}" class="control-label add_top_padding label-bold"></label><span class="required">*</span>
							</div>
							<div class="col-xs-5 col-md-5">
								<select style="width: 205px" id="importType">
									<option value="0">Please Choose</option>
									<option value="1" th:text="#{nursery.import.fieldlog.fieldroid}"></option>
									<option value="3" th:text="#{nursery.import.excel}"></option>
									<option value="4" th:text="#{nursery.import.datakapture}"></option>
								</select>
							</div>
						</div>

						<div class='row form-group'>

							<div class="col-md-12">
								<span class="pull-left fbk-import-upload-file">
									<label for="fileupload" class="control-label add_top_padding label-bold" th:text="#{nursery.import.germplasm.select.file}">Select a file</label><span class="required">*</span>
								</span>
								<div class="fileupload fileupload-new fbk-import-upload-file" data-provides="fileupload">
									<div class="input-group">
										<div class="form-control uneditable-input"><i class="icon-file fileupload-exists"></i>
											<span class="fileupload-preview"></span>
										</div>
										<div class="input-group-btn">
											<a class="btn btn-info btn-file">
											<span class="fileupload-new" th:text="#{nursery.import.germplasm.browse.file}">Browse</span>
											<span class="fileupload-exists" th:text="#{nursery.import.germplasm.change}">Change</span>
											<input id="fileupload" th:field="*{file}" type="file" class="file-input"/></a>
											<a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload" th:text="#{nursery.import.germplasm.remove}">Remove</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
						<button type="button" class="btn btn-primary" aria-hidden="true" onclick="javascript:submitImportStudy();">Import</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal fade" id="importStudyConfirmationModal" role="dialog" aria-labelledby="importStudyConfirmationModal" aria-hidden="true">
	<div class="modal-dialog modal-small">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="heading-modal">
					Confirmation
				</h4>
			</div>

			<div class="modal-body" id="importStudyConfirmationModalBody">
				
				<div class="row form-group">
					<div class="col-xs-12 col-md-12">
						<label class="control-label import-confirmation label-bold"></label>
					</div>
				</div>


			<div class="modal-footer">
				<button type="button" class="btn btn-default"  onclick="javascript:goBackToImport();" th:text="#{nursery.go.back}">Cancel</button>
				<button type="button" class="btn btn-primary"  onclick="javascript:confirmStudyImport();" th:text="#{nursery.proceed}">Import</button>
			</div>
		</div>
	</div>
</div>
</div>

<div class="modal fade" id="importStudyDesigConfirmationModal" role="dialog" aria-labelledby="importStudyDesigConfirmationModal" aria-hidden="true">
	<div class="modal-dialog modal-medium">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="heading-modal">
					Confirmation
				</h4>
			</div>

			<div class="modal-body" id="importStudyDesigConfirmationModalBody">
				
				<div class="row form-group">
					<div class="col-xs-12 col-md-12">
						<label class="control-label import-desig-confirmation label-bold"></label>
					</div>
				</div>
				
				<div class="row form-group">
					<div class="col-xs-5 col-md-5">
						<label class="control-label label-bold" th:text="#{import.change.action} + ':'">Action:</label>
					</div>
					<div class="col-xs-7 col-md-7">
						<select style="width: 205px" id="import-action-type" onchange="doImportActionChange();">
							<option value="0" th:text="#{import.change.option.skip}">Skip</option>
							<option value="1" th:text="#{import.change.option.add.desig.to.gid}">Add the New Designation to the Germplasm</option>
							<option value="2" th:text="#{import.change.option.create.new.desig}">Create a New Germplasm</option>
							<option value="3" th:text="#{import.change.option.choose.gids}" class="choose-gids">Choose GIDs</option>
						</select>
					</div>
				</div>
				
				<div class="row form-group choose-gids">
					<div class="col-xs-5 col-md-5">
						<label class="control-label label-bold" th:text="#{import.change.option.choose.gids} + ':'">Choose GIDs:</label>
					</div>
					<div class="col-xs-7 col-md-7">
						<select style="width: 205px" id="matching-gid">
						</select>
					</div>
				</div>
				
				<div class="row form-group no-choose-gids">
					<div class="col-xs-12 col-md-12">
						<input type="checkbox" id="yesToAllDesig" name="yesToAllDesig" value="1"/>
						<label class="control-label" th:text="#{apply.to.all}">Accept All Changes</label>
					</div>
				</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default"  onclick="javascript:goBackToImport();" th:text="#{common.form.cancel.text}" >Cancel</button>
				<button type="button" class="btn btn-primary"  onclick="javascript:confirmDesignation();" th:text="#{common.form.yes.text}">Yes</button>
			</div>
		</div>
	</div>
</div>
</div>

<!-- Modal Dialog for Successful Import -->
<div class="form-group">
	<div class="col-md-12">
		<div class="modal fade" id="successImportSaveModal" role="dialog" aria-labelledby="successImportSaveModal" aria-hidden="true">
			<div class="modal-dialog" style="width: 600px">
				<div class="modal-content">
					<div class="modal-body" id="successImportSaveMessageBody">
						<div style="text-align: center">
							<label th:text="#{import.save.confirmation.text}">Import data was saved successfully!</label>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.ok.text}">OK</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div layout:fragment="page-script">
	<script type="text/javascript" th:src="@{/static/js/lib/bootstrap/bootstrap-fileupload.js}"></script>
	<script type='text/javascript' th:inline="javascript">
		//<![CDATA[
		/*globals importNursery, Spinner, showErrorMessage*/
		/*exported showImportResponse, importOptions, confirmDesignation, goBackToImport, doImportActionChange*/

		var importStudyHeader = /*[[#{study.import.study.header}]]*/ '',
			importStudyBookHeader = /*[[#{study.import.study.book.header}]]*/ '',
			changeConfirmationDetails = [],
			currentConfirmationIndex = 0,
			importOptions = {
				dataType: 'text',
				success: showImportResponse // post-submit callback
			};

		$( document ).ready(function() {
			'use strict';
			$('#importStudyModal select').select2({width: 'copy', minimumResultsForSearch: 20});
			$('#importType').on('change', function(){
				if($(this).val() !== '0'){
					importNursery($(this).val());
				}
			});

			$('#importStudyModal').on('hide.bs.modal', function() {
				$('#page-import-study-message-modal').html('');
				$('#fileupload').val('');
				$('div.fileupload').parent().parent().removeClass('has-error');
				$('#importStudyModal .fileupload-exists').click();
			});
			
			$('#importStudyDesigConfirmationModal').on('hide.bs.modal', function() {
				$('input[type=checkbox][name=yesToAllDesig]').prop('checked', false);
			});

			$('#importStudyModal #heading-modal').html(importStudyHeader + ' ' + $('#study-type').val() + ' ' + importStudyBookHeader);
		});
		function doRefreshNurserySettings() {
			'use strict';
			$.ajax(
				{ 
					url: '/Fieldbook/ImportManager/retrieve/new/import/variables',
					type: 'GET',
					cache: false,
					success: function(data) {
						createTableSettingVariables($.parseJSON(data.newTraits),
								'baselineTraitVariables', 'baselineTraitSettings',
								3);
						createTableSettingVariables($.parseJSON(data.newSelectionVariates),
								'selectionVariatesVariables',
								'selectionVariatesSettings', 6);
						$('#successImportSaveModal').modal('show');	
					}
			});
		}
		
		function doMeasurementsReload(){
			'use strict';
			Spinner.toggle();
			$.ajax(
				{ 
					url: '/Fieldbook/ImportManager/import/save',
					type: 'POST',
					success: function(html) {
						$('#measurementsDiv').html(html);
						doRefreshNurserySettings();
						Spinner.toggle();
					}
			});
			
			$('#importStudyModal').modal('hide');
			$('#importStudyConfirmationModal').modal('hide');
		}
		function confirmStudyImport(){
			'use strict';
			if(changeConfirmationDetails.length !== 0){
				showDesigConfirmation();
			}else{
				doMeasurementsReload();
			}
			
		}
		
		function showImportResponse(responseText) {
			//reload the screen
			'use strict';
			var resp = $.parseJSON(responseText),
				importError = '',
				errorIndex = 0;
			changeConfirmationDetails = [];
			currentConfirmationIndex = 0;
			if(resp.changeDetails != null && resp.changeDetails.length !== 0){
				for(var index = 0 ; index < resp.changeDetails.length ; index++){					
					changeConfirmationDetails.push(resp.changeDetails[index]);
				}
				
			}
			Spinner.toggle();
			if(resp.isSuccess === 1){
				if(resp.modes != null && resp.modes.length === 0){
					confirmStudyImport();
				}else{
					$('#importStudyModal').modal('hide');
					setTimeout(function(){$('#importStudyConfirmationModal').modal({ backdrop: 'static', keyboard: false });}, 300);
					importError = resp.message;
					if(resp.detailErrorMessage != null && resp.detailErrorMessage.length !== 0) {
						importError += '<ul>';
						for(errorIndex = 0 ; errorIndex < resp.detailErrorMessage.length ; errorIndex++) {
							importError += '<li>'+resp.detailErrorMessage[errorIndex]+'</li>';
						}
						importError += '</ul>';
						importError += '<br />';
						importError += resp.confirmMessage;
					}
					$('#importStudyConfirmationModal .import-confirmation').html(importError);
				}
			}else{
				showErrorMessage('page-import-study-message-modal', resp.error);
				
			}
		}
		function applyChangeDetails(){
			'use strict';
			Spinner.toggle();
			var data = JSON.stringify(changeConfirmationDetails);
			$.ajax(
				{ url: '/Fieldbook/ImportManager/apply/change/details',
				type: 'POST',
				data: 'data=' + data,
				success: function() {
					$('#importStudyDesigConfirmationModal').modal('hide');
					doMeasurementsReload();
					Spinner.toggle();
				}
			});
		}		

		function showDesignationConfirmationMessage(){
			'use strict';
			$('#import-action-type option:selected').prop('selected', false);
			$('#import-action-type option[value=0]').prop('selected', true);
			$('#import-action-type').change();
			$('input[type=checkbox][name=yesToAllDesig]').prop('checked', false);
			$('#matching-gid').empty();
			$('#matching-gid').change();
			$('#importStudyDesigConfirmationModal .import-desig-confirmation').html(changeConfirmationDetails[currentConfirmationIndex].message);
			if (changeConfirmationDetails[currentConfirmationIndex].matchingGids && changeConfirmationDetails[currentConfirmationIndex].matchingGids.length > 0) {
				for (var i = 0; i < changeConfirmationDetails[currentConfirmationIndex].matchingGids.length; i++) {
					$('#matching-gid').append(
							new Option(changeConfirmationDetails[currentConfirmationIndex].matchingGids[i],
									changeConfirmationDetails[currentConfirmationIndex].matchingGids[i]));
				}
				$('#matching-gid').change();
				
				$('#import-action-type option[value=3]').prop('disabled', false);
				if ($('#import-action-type').val() === '3') {
					$('.choose-gids').show();
					$('.no-choose-gids').hide();
				} 
				else {
					$('.choose-gids').hide();
					$('.no-choose-gisd').show();
				}
			}
			else {
				$('#import-action-type option[value=3]').prop('disabled', true);
				$('.choose-gids').hide();
				$('.no-choose-gids').show();
			}
			
		}

		function showDesigConfirmation(){
			'use strict';
			$('#importStudyModal').modal('hide');
			$('#importStudyConfirmationModal').modal('hide');
			setTimeout(function(){$('#importStudyDesigConfirmationModal').modal({ backdrop: 'static', keyboard: false });}, 300);
			showDesignationConfirmationMessage();
		}

		function confirmDesignation(){
			'use strict';
			var status = $('#import-action-type').val(),
				applyDetails = false;
			
			if($('input[type=checkbox][name=yesToAllDesig]:checked').val() === '1'){
				for(var index = currentConfirmationIndex ; index < changeConfirmationDetails.length ; index++){
					changeConfirmationDetails[index].status = status;	
				}
				applyDetails = true;
			}else{
				changeConfirmationDetails[currentConfirmationIndex].status = status;
				changeConfirmationDetails[currentConfirmationIndex].selectedGid = $('#matching-gid').val();
				currentConfirmationIndex++;
				if(currentConfirmationIndex === changeConfirmationDetails.length){
					//meaning we've gone through all the confirmation
					applyDetails = true;
				}else{
					showDesignationConfirmationMessage();
				}
				
			}
			if(applyDetails){
				applyChangeDetails();
			}
				
		}
						
		function showImportOptions(){
			'use strict';
			$('#importStudyModal').modal({ backdrop: 'static', keyboard: false });
		}
		function goBackToImport(){
			'use strict';
			Spinner.toggle();
			var revertUrl = '/Fieldbook/ImportManager/revert/data';
			$.ajax(
				{ url: revertUrl,
				type: 'GET',
				data: '',
				cache: false,
				success: function() {

					$('#importStudyConfirmationModal').modal('hide');
					$('#importStudyDesigConfirmationModal').modal('hide');
					setTimeout(function(){$('#importStudyModal').modal({ backdrop: 'static', keyboard: false });}, 300);
					Spinner.toggle();
				}
			});
			
		}
		
		function doImportActionChange() {
			'use strict';
			if ($('#import-action-type').val() === '3') {
				$('.choose-gids').show();
				$('.no-choose-gids').hide();
				$('input[type=checkbox][name=yesToAllDesig]').prop('checked', false);
			}
			else {
				$('.choose-gids').hide();
				$('.no-choose-gids').show();
				$('#matching-gid').empty();
				$('#matching-gid').change();
			}
		}
		//]]>
	</script>
</div>