<!-- Modal -->
<div class="modal fade" id="addGermplasmFolder" role="dialog" aria-labelledby="addGermplasmFolder" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">
			<div class="modal-header">
				<button id="closeAddGermplasmFolder" type="button" class="close" onclick="javascript: closeModal('addGermplasmFolder')">&times;</button>
				<h4 class="modal-title" id="heading-modal" th:text="#{browse.nursery.add.folder.name}">
					Add New Folder
				</h4>
			</div>
			<form onsubmit="return createGermplasmFolder();">
			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row">
					<div id="page-add-germplasm-folder-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-xs-12 col-md-12">
						<div class="col-xs-5 col-md-5 add_top_padding">
							<label class="control-label" th:text="#{browse.nursery.folder.name}">Folder Name:</label><span class="required">*</span>
						</div>
						<div class="col-xs-7 col-md-7">
							<input id="addGermplasmFolderName" name="addGermplasmFolderName" type="text" class="form-control select2" placeholder="Folder Name"/>
						</div>
					</div>
				</div>
			</div>
			</form>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-default" onclick="javascript: closeModal('addGermplasmFolder')" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
				<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.add.text}" onclick="javascript: createGermplasmFolder();">Ok</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="renameGermplasmFolder" role="dialog" aria-labelledby="renameGermplasmFolder" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">
			<div class="modal-header">
				<button id="closeRenameGermplasmFolder" type="button" class="close" onclick="javascript: closeModal('renameGermplasmFolder')">&times;</button>
				<h4 class="modal-title" id="heading-modal" th:text="#{browse.nursery.rename.folder.name}">
					Rename Folder
				</h4>
			</div>

			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row">
					<div id="page-rename-germplasm-folder-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-xs-12 col-md-12">
						<div class="col-xs-5 col-md-5 add_top_padding">
							<label class="control-label" th:text="#{browse.nursery.folder.name}">Folder Name:</label><span class="required">*</span>
						</div>
						<div class="col-xs-7 col-md-7">
							<input id="newGermplasmFolderName" name="newGermplasmFolderName" type="text" class="form-control select2" placeholder="Folder Name"/>
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-default" onclick="javascript: closeModal('renameGermplasmFolder')" th:text="#{common.form.cancel.text}">Cancel</button>
				<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.ok.text}" onclick="javascript: submitRenameGermplasmFolder();">Ok</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteGermplasmFolder" role="dialog" aria-labelledby="deleteGermplasmFolder" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">
			<div class="modal-header">
				<button id="closeDeleteGermplasmFolder" type="button" class="close" onclick="javascript: closeModal('deleteGermplasmFolder')">&times;</button>
				<h4 class="modal-title" id="heading-modal" th:text="#{browse.nursery.delete.folder.name}">
					Delete Folder
				</h4>
			</div>

			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row">
					<div id="page-delete-germplasm-folder-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-xs-12 col-md-12">
						<div class="col-xs-2 col-md-2 add_top_padding">
						</div>
						<div class="col-xs-9 col-md-9 add_top_padding">
							<label class="control-label" id="delete-folder-confirmation"></label>
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-default" onclick="javascript: closeModal('deleteGermplasmFolder')" th:text="#{common.form.no.text}">Cancel</button>
				<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.yes.text}" onclick="javascript: submitDeleteGermplasmFolder();">Ok</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="moveGermplasmFolder" role="dialog" aria-labelledby="moveGermplasmFolder" aria-hidden="true" style="overflow: hidden">
	<div class="modal-dialog modal-extra-small">
		<div class="modal-content">
			<div class="modal-header">
				<button id="closeMoveGermplasmFolder" type="button" class="close" onclick="javascript: closeModal('moveGermplasmFolder')">&times;</button>
				<h4 class="modal-title" id="heading-modal">
					Invalid Operation
				</h4>
			</div>

			<div class="modal-body" id="manageCheckTypesModalBody">
				<div class="row">
					<div id="page-move-germplasm-folder-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>

			</div>
			<div class="modal-footer addVariable-footer">
				<button type="button" class="btn btn-primary" onclick="javascript: closeModal('moveGermplasmFolder')" th:text="#{common.form.ok.text}" >Ok</button>
			</div>
		</div>
	</div>
</div>

<div layout:fragment="page-script">
	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[
		
		// FIXME Should not be using global variables or functions
		
		function addGermplasmFolder(object){
			'use strict';
			if(!$(object).hasClass('disable-image')){
				$('#addGermplasmFolderName').val('');
				$('#page-add-germplasm-folder-message-modal').html('');
				$('#addGermplasmFolder').modal('show');
			}
		}
		
		//]]>
	</script>
</div>