<!-- Modal Dialog for Successful Save -->
<div class="form-group">
	<div class="col-md-12">
		<div class="modal fade" id="successMessageModalUpdate" role="dialog" aria-labelledby="successMessageModalUpdate" aria-hidden="true">
			<div class="modal-dialog" style="width: 600px">
				<div class="modal-content">
					<div class="modal-body" id="successMessageBody">
						<div style="text-align: center">
							<label th:text="#{common.form.save.successful.text}">Save successful!</label>
						</div>
					</div>
					<div class="modal-footer">
						<button id="btnOK" onclick="refreshEditNursery();" th:text="#{common.form.ok.text}" class="btn btn-primary">OK</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Dialog for Successful Save -->
<div class="form-group">
	<div class="col-md-12">
		<div class="modal fade" id="successStudyMessageModal" role="dialog" aria-labelledby="successMessageModal" aria-hidden="true">
			<div class="modal-dialog" style="width: 600px">
				<div class="modal-content">
					<div class="modal-body" id="successMessageBody">
						<div style="text-align: center">
							<label th:text="#{common.form.save.successful.text}">Save successful!</label>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.ok.text}">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>