<div ng-cloak="">
<div class="row" >
	<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
		<section-container th:attr="heading=#{study.managesettings.germplasm.factors.label}" collapsible="true">
			<section-container icon="bms-factors" name="content" th:attr="heading=#{study.studydetails.germplasm.descriptors}" help-tool-type="MANAGE_STUDIES_GERMPLASM">
				<display-settings hide-delete="hasGeneratedDesign()" settings="settings" variable-type="1804" name="content"></display-settings>
				<span name="action-buttons">
			<span class="btn btn-primary" ng-show="displayUpdateButton()" ng-click="updateDataTable()">
				<span class="glyphicon glyphicon-refresh"></span> Update
			</span>
			<span select-standard-variable="" ng-hide="hasGeneratedDesign()" modeldata="settings" variable-type="1804"
				  class="btn btn-info">Add
			</span>
		</span>
			</section-container>
		</section-container>
	</div>
</div>

<div ng-show="showUpdateImportList()" class="row form-group">
	<div class="col-xs-12 col-md-12">
		<label class="control-label" th:text="#{study.edit.study.overwrite.germplasm.list.message}">
		</label>
		&nbsp;&nbsp;&nbsp;
		<button class="btn btn-primary show-germplasm-details"  ng-click="updateModifyList()" th:text="#{study.germplasm.replace}">Overwrite</button>
	</div>
</div>
<div class="collapse in germplasmListDetails germplasmAndCheckSection" id="chooseGermplasmAndChecks" data-replace="0">
	<!-- Germplasm List Table View -->
	<div id="primary-section">
		<div>
			<img th:src="@{/static/img/review-list-details.png}" />
			<label class="control-label"><strong id="germplasmLabel" class="sub-content-heading">Study List</strong></label>


			<div  class="pull-right">
				<div class="btn-group">
					<button type="button" class="btn btn-info dropdown-toggle fbk-action-btn" data-toggle="dropdown">
						<span th:text="#{study.studydetails.actions}">Actions</span>
					</button>
					<ul class="dropdown-menu fbk-right-button-drop-down" role="menu">
						<li>
							<a href="javascript: showManageCheckTypePopup()" th:text="#{germplasm.list.manage.check.types}" >Manage Checks</a>
						</li>
						<li>
							<a href="javascript: void(0)" ng-show="isOpenStudy() &amp;&amp; hasGermplasmListSelected() &amp;&amp; !hasUnsavedGermplasmChanges()" ng-click="validateGermplasmForReplacement()" th:text="#{replace.germplasm}" >Replace Germplasm</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<div ng-show="showImportList()">
			<label class="control-label"><a href="javascript: void(0)" ng-click="openGermplasmTree()">Browse</a> a list to work with.</label>
		</div>
	</div>

	<div id="entries-details" style="display: none">
		Total Entries: <label class="control-label control-label-bold" id="numberOfEntries"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="javascript: void(0)" class="view-header" onclick="viewGermplasmLitDetails();">View Header</a>
		<div class="col-show-hide pull-right">
		</div>
	</div>

</div>
<div class="row">
	<div class="col-xs-12" ng-show="showStudyTable()">
		<table id="germplasm-table"
			   datatable=""
			   dt-instance="nested.dtInstance"
			   dt-options="dtOptions"
			   dt-columns="dtColumns"
			   dt-column-defs="dtColumnDefs"
			   width="100%"
			   class="table table-curved table-condensed table-sorted">
		</table>
		<div class="row col-xs-12 col-md-12">
			<div id="imported-germplasm-list-reset-button" class="pull-left">
				<a style="margin-top: 5px;" href="javascript: resetGermplasmList()" class="btn btn-default"
				   th:text="#{common.clear.list}"></a>
			</div>
		</div>
	</div>
</div>

<input type="hidden" id="keyForOverwrite" value=""/>
<input type="hidden" id="lastCheckSourcePrimary" value=""/>

<div class="row">
	<div th:include="/StudyManager/includes/importGermplasmListModal"></div>
</div>

<div class="row">
	<div th:include="/StudyManager/includes/importGermplasmListManageCheckType"></div>
</div>

<div class="row">
	<div th:include="/StudyManager/includes/importGermplasmListDetailsModal"></div>
</div>
<!--<div>
	<form id="germplasm-list-form" role="form-horizontal" class="form-horizontal" action="#"
		  th:action="@{/StudyManager/importGermplasmList/next}" method="post" th:object="${importGermplasmListForm}"
		  enctype="multipart/form-data">
		<input type="hidden" th:field="*{totalGermplasms}"/>
		<input type="hidden" th:field="*{lastDraggedPrimaryList}"/>
		&lt;!&ndash; case 1: no data means no table &ndash;&gt;
		<div th:if="*{importedGermplasm == null or #lists.isEmpty(importedGermplasm)}">
			<span class="noGermplasmListIndicator"></span>
		</div>
		&lt;!&ndash; case 2: advanced view of the importedGermplasm &ndash;&gt;
		<div th:if="*{importedGermplasm != null and not #lists.isEmpty(importedGermplasm)}">
			<div class="germplasm-list-table-old fbk-hide-opacity germplasm-list-data-table"
				 th:if="*{importedGermplasmMainInfo.isAdvanceImportType()}">
				<table id="tableForGermplasm" th:if="*{not #lists.isEmpty(importedGermplasm)}" width="100%"
					   class="table-curved table-condensed germplasm-list-items check-table-popover">
					<thead>
					<tr>
						&lt;!&ndash; First column is for checkbox for Study Germplasm if study list is saved&ndash;&gt;
						<th th:attr="data-col-name=entry-checkbox" th:if="${hasSavedGermplasm}"></th>
						<th nowrap="nowrap" th:each="tableHeader : ${tableHeaderList}" th:text="${tableHeader.columnName}"
							th:attr="data-col-name=${tableHeader.dataCol}"></th>
					</tr>
					</thead>
				</table>
				<div class="btn-group mdt-columns pull-right fbk-hide">
					<i class="glyphicon glyphicon-th dropdown-toggle fbk-show-hide-grid-column" data-toggle="dropdown"></i>

					<ul class="dropdown-menu germplasm-dropdown-menu fbk-right-button-drop-down" role="menu">
						<li th:each="tableHeader, rowIndex : ${tableHeaderList}">
							<a href="javascript: void(0)"
							   th:text="${tableHeader.columnName}"
							   th:attr="data-column-name=${tableHeader.dataCol}"
							   th:attrappend="data-index=${rowIndex.index+1}">GID</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imported-germplasm-list-reset-button" class="pull-left">
				<a style="margin-top: 5px;" href="javascript: resetGermplasmList()" class="btn btn-default"
				   th:text="#{common.clear.list}"></a>
			</div>
		</div>
	</form>
	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[
		var dataGermplasmList = /*[[${listDataTable}]]*/ [];
		//]]>
	</script>
</div>-->
