<div class="col-xs-10 col-md-10" xmlns:th="http://www.thymeleaf.org">
<form onsubmit="javascript: return validateAdvanceNursery();" id="advanceNurseryModalForm" role="form-horizontal" action="#"
th:action="@{/NurseryManager/advance/nursery}" method="post" th:object="${advancingNurseryform}" enctype="multipart/form-data">

<input type="hidden" th:field="*{locationUrl}"/>
<input type="hidden" th:field="*{breedingMethodUrl}"/>
<input type="hidden" th:field="*{defaultMethodId}"/>
<input type="hidden" th:field="*{nurseryId}"/>
<input type="hidden" th:field="*{harvestDate}"/>

<div class="modal fade" id="advanceNurseryModal" role="dialog" aria-labelledby="advanceNurseryModal" aria-hidden="true">
	<div class="modal-dialog modal-extra-large">
    	<div class="modal-content">
			<div class="modal-header">
				<button id="closeAdvanceNurseryModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="heading-modal" th:text="#{nursery.nurserydetails.action.advance}">Advance Nursery</h4>
			</div>
	          
         	<div class="modal-body">
				<div class="row">
					<div class="form-group">
						<div id="page-message"></div>
					</div>
				</div>
         		<div class="row">
	         		<div id="page-block-message-modal" class="col-xs-12 col-md-12">
	         		</div>
         		</div>	         		

				<div class="row">
					<div class="col-xs-12 col-md-12" >
						<label class=""><em th:utext="#{fieldmap.mandatory.fields}"> Mandatory fields are noted with a *</em></label>
					</div>		
				</div>
			
				<br />
				<div class="row form-group col-xs-12 col-md-12">
					<div class="row form-group col-xs-12 col-md-12">
						<label class="control-label" ><strong class="sub-content-heading"  th:text="#{advancing.nursery.convention}"></strong></label>
					</div>
					<div class="row form-group col-xs-12 col-md-12">
						<strong><label th:text="#{advancing.nursery.naming.convention}+'*:'"></label></strong>
						&nbsp;&nbsp;
						<select id="namingConvention">
						  <option value="3" th:text="#{advancing.nursery.naming.convention.other.crops}">OTHER CROPS</option>
						  <option th:if="*{true or cropType == 1}" value="1" th:text="#{advancing.nursery.naming.convention.cimmyt.wheat}">CIMMYT-WHEAT</option>
						  <option th:if="*{true or cropType == 2}" value="2" th:text="#{advancing.nursery.naming.convention.cimmyt.maize}">CIMMYT-MAIZE</option>
						  					  
						</select>
					</div>		
				</div>
			
				<br/>
				<div class="row form-group col-xs-12 col-md-12" id="methods-section">
					<div class="row form-group col-xs-12 col-md-12">
						<label class="control-label" ><strong class="sub-content-heading"  th:text="#{advancing.nursery.method}">METHODS</strong> </label>
					</div>
					<div class="row form-group col-xs-6 col-md-6">
						<label class="control-label">
							<input type="checkbox" th:field="*{methodChoice}" th:value="*{methodChoice}"/>
							<span th:text="#{advancing.nursery.breeding.method.the.same}">Breeding Method is the same for each advance</span>
						</label>														
					</div>
					<div class="row form-group col-xs-6 col-md-6">					
						<input type="hidden" th:field="*{methodIdAll}" class="form-control select2 non-maize-control" placeholder=""/>
						<input type="hidden" th:field="*{methodIdFavorite}" class="form-control select2 non-maize-control" placeholder=""/>
						<select id="maizeBreedingMethod" class="form-control maize-control">
							<option value="1" th:text="#{advance.nursery.maize.breeding.method.selfed.shelled}">Selfed and ears shelled individually (-)</option>
							<option value="2" th:text="#{advance.nursery.maize.breeding.method.selfed.bulked}">Selfed and ears bulked (-B)</option>
							<option value="3" th:text="#{advance.nursery.maize.breeding.method.sib.increased}">Sib-Increased (-#)</option>
							<option value="4" th:text="#{advance.nursery.maize.breeding.method.colchicinize}">Colchicinize</option>					  
						</select>
						<input type="hidden" th:field="*{advanceBreedingMethodId}"/>	
					</div>
					<div class="row form-group col-xs-6 col-md-6">
					</div>
					<div class="row form-group col-xs-6 col-md-6">					
						<label class="non-maize-control">
							<input id="showFavoriteMethod" value="1" type="checkbox"/> <span th:text="#{show.favorite.method}">Show Favorite Method</span>
							&nbsp;&nbsp;
							<a class="form-group" href="javascript: openManageMethods()" th:text="#{advancing.nursery.manage.method}">Manage Methods</a>	
						</label>
					</div>
					<div class="row form-group col-xs-6 col-md-6">
					</div>
					<div class="row form-group col-xs-6 col-md-6">					
						<label class="maize-control">
							<input th:field="*{putBrackets}" value="1" type="checkbox"/> <span th:text="#{advance.nursery.maize.breeding.method.put.brackets}">Put brackets around parents</span>
						</label>			   
					</div>					
					<div id="method-variates-section">
						<div class="row form-group col-xs-6 col-md-6">
							<label class="control-label" th:text="#{advancing.nursery.method.variate} + ':'">Choose a variate that defines the breeding method for each advance:</label>
						</div>
						<div class="row form-group col-xs-6 col-md-6">
							<select th:field="*{methodVariateId}">
								<option th:each="methodVariate : *{methodVariates}" th:value="${methodVariate.id}" th:text="${methodVariate.description}">
								</option>
							</select>
						</div>
					</div>
				</div>

				<br/>
				<div class="row form-group col-xs-12 col-md-12 lines-section">
					<div class="row form-group col-xs-12 col-md-12">
						<label class="control-label" ><strong class="sub-content-heading"  th:text="#{advancing.nursery.lines}">LINES</strong> </label>
					</div>
					<div class="row form-group col-xs-6 col-md-6">
						<label class="control-label">
							<input type="checkbox" th:field="*{lineChoice}" th:value="*{lineChoice}"/>
							<span th:text="#{advancing.nursery.line.the.same}">Same number of lines is selected for each plot</span>
						</label>
					</div>
					<div class="row form-group col-xs-6 col-md-6">
					</div>
				</div>
				<div class="row form-group col-xs-12 col-md-12 lines-section">
					<input type="hidden" th:field="*{plotsWithPlantsSelected}" />
					<div class="row form-group col-xs-6 col-md-6">
						<label class="control-label" th:text="#{advancing.nursery.number.of.samples.plot} + ':'">Lines Selected per Plot:</label>														
					</div>
					<div class="row form-group col-xs-6 col-md-6">
						<input class="form-control" type="text" th:field="*{lineSelected}"/>
					</div>
					<div id="line-variates-section">
						<div class="row form-group col-xs-6 col-md-6">
							<label class="control-label" th:text="#{advancing.nursery.lines.variate}"></label>
						</div>
						<div class="row form-group col-xs-6 col-md-6">
							<select th:field="*{lineVariateId}" class="ps-variate-selection">
								<option th:each="lineVariate : *{lineVariates}" th:value="${lineVariate.id}" th:text="${lineVariate.description}">
								</option>
							</select>
						</div>
					</div>
				</div>
				
				<br/>
				<div class="row form-group col-xs-12 col-md-12 bulk-section">
					<div class="row form-group col-xs-12 col-md-12">
						<label class="control-label" ><strong class="sub-content-heading"  th:text="#{advancing.nursery.bulks}">BULKS</strong> </label>
					</div>
					<div class="row form-group col-xs-6 col-md-6">
						<label class="control-label">
							<input type="checkbox" th:field="*{allPlotsChoice}" th:value="*{allPlotsChoice}" />
							<span th:text="#{advancing.nursery.all.plots.selected}">All plots are selected</span>
						</label>
					</div>
					<div class="row form-group col-xs-6 col-md-6">
					</div>
				</div>
				<div class="row form-group col-xs-12 col-md-12 bulk-section">
					<div id="line-variates-section">
						<div class="row form-group col-xs-6 col-md-6">
							<label class="control-label" th:text="#{advancing.nursery.bulks.variate}"></label>
						</div>
						<div class="row form-group col-xs-6 col-md-6">
							<select th:field="*{plotVariateId}">
								<option th:each="plotVariate : *{plotVariates}" th:value="${plotVariate.id}" th:text="${plotVariate.description}">
								</option>
							</select>
						</div>
					</div>
				</div>
				
				<br/>
				<div class="row form-group col-xs-12 col-md-12">
					<div class="row form-group col-xs-12 col-md-12">
						<label class="control-label" ><strong class="sub-content-heading"  th:text="#{advancing.nursery.harvest.information}">Harvest Details</strong> </label>
					</div>
					<div class="row form-group col-xs-6 col-md-6">
					  	<label class="control-label" th:text="#{advancing.nursery.harvest.location}">Harvest Location:</label><span class="required"></span>
					</div>
					<div class="row form-group col-xs-6 col-md-6">
					   <input type="hidden" th:field="*{harvestLocationIdAll}" class="form-control select2" placeholder=""/>
					   <input type="hidden" th:field="*{harvestLocationIdFavorite}" class="form-control select2" placeholder=""/>
					   <input type="hidden" th:field="*{harvestLocationId}"/>
					   <input type="hidden" th:field="*{harvestLocationName}" />
					   <input type="hidden" th:field="*{harvestLocationAbbreviation}" />
				    </div>
					<div class="row form-group col-xs-6 col-md-6">
					</div>
					<div class="row col-xs-6 col-md-6 form-group">
						<label>
							<input id="showFavoriteLocation" value="1" type="checkbox"/> <span th:text="#{show.favorite.location}">Show Favorite Location</span>
							&nbsp;&nbsp;
					  		<a href="javascript: openManageLocations()" th:text="#{advancing.nursery.manage.location}">Manage Locations</a>	
						</label>
				    </div>
					
				</div>							
				<div class="row form-group col-xs-12 col-md-12">
					<div class="row form-group col-xs-6 col-md-6">
						<label for="harvestDate" class="control-label"  th:text="#{advancing.nursery.harvest.date}">Harvest Date</label><span class="required"></span>
					</div>	
					<div class="row  col-xs-2 col-md-2 form-group">
					   	<select th:field="*{harvestYear}" style="width: 100px">
						   	<option th:each="year : ${yearChoices}" th:value="${year.val}" th:text="${year.name}">
								</option>
					   	</select>
					</div>
					<div class="row  col-xs-1 col-md-1 form-group">
					   	<select th:field="*{harvestMonth}" style="width: 100px">
						   	<option th:each="month : ${monthChoices}" th:value="${month.val}" th:text="${month.name}"></option>
					   	</select>
					</div>
				</div>

			</div> <!-- Modal Body -->
			
			<div class="modal-footer">    	       			
				<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
				<button type="button" class="btn btn-primary" aria-hidden="true" onclick="javascript: callAdvanceNursery();" th:text="#{common.form.finish.text}">Finish</button>	
			</div>
			
					
		</div> <!-- Modal Content -->
	</div>
</div>

</form>
</div>



<div layout:fragment="page-script">
<script type='text/javascript' th:inline="javascript">
//<![CDATA[    
    var locationSuggestions = /*[[${locationList}]]*/ null;
    var locationSuggestions_obj = [];
    
    var locationSuggestionsFav = /*[[${favoriteLocationList}]]*/ null;
    var locationSuggestionsFav_obj = [];
    
    var methodSuggestions = /*[[${methodList}]]*/ null;
    var methodSuggestions_obj = [];
    
    var methodSuggestionsFav = /*[[${favoriteMethodList}]]*/ null;
    var methodSuggestionsFav_obj = [];
    
    
    var msgSamplePlotError = /*[[#{advancing.nursery.number.of.plot.error}]]*/;
   	var msgHarvestDateError = /*[[#{advancing.nursery.harvest.date.error}]]*/;
   	var msgMethodError = /*[[#{advancing.nursery.method.error}]]*/;
   	var programLocationUrl = '';
   	var programMethodUrl = '';
   	
    var oldLineSelected = "";
    var oldMethodSelected = "";
    
    var locationIframeOpened = false;
    var methodIframeOpened = false;
    
    var linesNotWholeNumberError = /*[[#{error.advancing.nursery.whole.numeric.lines}]]*/;
    var msgEmptyListError = /*[[#{nursery.advance.nursery.empty.list.error}]]*/;
    var noMethodVariatesError = /*[[#{error.advancing.nursery.no.method.variates}]]*/;
    var noLineVariatesError = /*[[#{error.advancing.nursery.no.line.variates}]]*/;
    var noPlotVariatesError = /*[[#{error.advancing.nursery.no.plot.variates}]]*/;
    
		 $(function() {			
			var harvestDate =  $('#harvestDate').datepicker({'format': 'yyyymmdd'}).on('changeDate', function(ev) {
				$(this).datepicker('hide');
			})
			
			programMethodUrl = $('#breedingMethodUrl').val();
			programLocationUrl = $('#locationUrl').val();
			/*
			initializeHarvestLocationSelect2(locationSuggestions, locationSuggestions_obj);
			initializeHarvestLocationFavSelect2(locationSuggestionsFav, locationSuggestionsFav_obj);
			
			initializeMethodSelect2(methodSuggestions, methodSuggestions_obj);
			initializeMethodFavSelect2(methodSuggestionsFav, methodSuggestionsFav_obj);
			*/
			recreateLocationCombo();
 			recreateModalMethodCombo("advanceBreedingMethodId", "showAdvanceFavoriteMethod");
			
			$('#s2id_harvestLocationIdFavorite').hide();
			$('#s2id_harvestLocationIdAll').show();
			
			$('#s2id_methodIdFavorite').hide();
			$('#s2id_methodIdAll').show();
			
			
			$('#showFavoriteLocation').on('change', function(){
				showCorrectLocationCombo();
			})
			$('#showFavoriteMethod').on('change', function(){
				showCorrectMethodCombo();
			});
			
			 $('input[type=checkbox][name=methodChoice]').on('change', checkMethod);
			 
			$('input[type=checkbox][name=lineChoice]').on('change', lineMethod);
			
			$("input[type=checkbox][name=allPlotsChoice]").on("change", plotMethod);
			
			$(".ps-variate-selection").on("change", function() {
				validatePlantsSelected($(this));
			});
			
			$('#namingConvention').on('change', changeSuffix);
			$('#maizeBreedingMethod').on('change', changeMaizeBreedingMethod);
			oldMethodSelected = $('#defaultMethodId').val();
			oldLineSelected = $('#lineSelected').val();
			checkMethod();
			lineMethod();
			changeSuffix();
			
			$('#advanceBreedingMethodId').on('change', changeAdvanceBreedingMethod);
			changeAdvanceBreedingMethod();
		});
		 
		function changeMaizeBreedingMethod(){
			 $('#'+getJquerySafeId("advanceBreedingMethodId")).val($('#maizeBreedingMethod').val());
			 $('#advanceBreedingMethodId').change();
		}
		function changeSuffix(){
			$('input[type=checkbox][name=methodChoice]').prop('disabled', false)
			//if($('#namingConvention').val() == 3){
				//show
			//	$('#suffix-div').show();
			//}else{
				//hide
			//	$('#suffix-div').hide();
			//}	
			
			if($('#namingConvention').val() == 1){
				//if its wheat, we disable the method section
				$('.method-section input').attr('disabled', true);
				$('#methodIdAll').select2('enable', false);
				$('#methodIdFavorite').select2('enable', false);
				$("#methods-section").hide();
				
			}else{
				$('.method-section input').attr('disabled', false)
				$('#methodIdAll').select2('enable', true);
				$('#methodIdFavorite').select2('enable', true); 				
				$("#methods-section").show();
			}
			
			if($('#namingConvention').val() == 2){
				//meaning maize
				adjustMaizeControl(true);
				
			}else{
				adjustMaizeControl(false);
			}
			checkMethod();
		}
		function adjustMaizeControl(isShow){
			//console.log(isShow);
			if(isShow){
				$('.maize-control').css('display', 'block');
				$('.non-maize-control').css('display', 'none');
				changeMaizeBreedingMethod();
				$('input[type=checkbox][name=methodChoice]').prop('checked', true);
				checkMethod();
				$('input[type=checkbox][name=methodChoice]').prop('disabled', true);
				changeMaizeBreedingMethod();
			}else{
				$('.maize-control').css('display', 'none');
				$('.non-maize-control').css('display', 'block');
				showCorrectMethodCombo();
			}
		}
		
		function changeAdvanceBreedingMethod(){
			var bMethodId = $('#advanceBreedingMethodId').val();
			var isBulk = false;
			if($('#namingConvention').val() == 2){
				//means maize is chose
				if(bMethodId == 2) //Selfed and Ears Bulked
					isBulk = true;
			}else{
				 for( var i = 0 ; i < methodSuggestions.length ; i++){
				   if(methodSuggestions[i].mid == bMethodId){
					   if(methodSuggestions[i].geneq == 1){ //means bulk
					   	isBulk = true;
					   }
					   break;
				   }
				 }
			}
			showBulkSection(isBulk);
		}
		function showBulkSection(isBulk){
			if($('input[type=checkbox][name=methodChoice]:checked').val() != 1){
				$('.bulk-section').css('display', 'block');
				$('.lines-section').css('display', 'block');	
			}
			else if(isBulk){
				$('.bulk-section').css('display', 'block');
				$('.lines-section').css('display', 'none');
			}else{
				$('.bulk-section').css('display', 'none');
				$('.lines-section').css('display', 'block');
			}
		}
//]]>
</script>
</div>