<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1>
			MANAGE NURSERIES
		</h1>
	</div>			  
</div>

<div class="">
	<div class="form-group">
		<div id="page-message"></div>
	</div>
</div>

<form id="createNurseryMainForm" role="form-horizontal" action="#"
th:object="${createNurseryForm}" enctype="multipart/form-data">
<div class="">
	<div class="row">
		<div class="col-xs-2 col-md-2">
			<img width="30" height="30" th:src="@{/static/img/new-nursery.png}" class="image-padding image-padding-with-text"  />
			<h2 th:text="#{nursery.create.nursery.label}">Create Nursery</h2>
		</div>
		<div class="col-xs-1 col-md-1">
			<input type="button" onclick="submitForm();" th:value="#{common.form.save.text}" class="btn btn-info" />
		</div>
		<div class="col-xs-9 col-md-9"></div>
	</div>
</div>
<div class="panel panel-default">
   	<div class="panel-body manage-settings-panel-body">
   	<div class="row">
		<div class="col-xs-12 col-md-12">
			<label class=""><em th:utext="#{fieldmap.mandatory.fields}"> Mandatory fields are noted with a *</em></label>
		</div>		
	</div>
 	<div class="row">
 		<div class="col-xs-12 col-md-12">
			<label class="control-label">
 				<strong class="sub-content-heading" th:text="#{nursery.create.nursery.basic.details}">BASIC DETAILS</strong>
 			</label>
 		</div>
   	</div>
   	<div class="row form-group">
   		<div class="col-xs-2 col-md-2">
   			<label th:text="#{nursery.create.nursery.nursery.name} + ': '"></label>&nbsp;<span class="required">*</span>
   		</div>
   		<div class="col-xs-4 col-md-4">
   			<input type="text" class="form-control character-input" />
   		</div>
   		<div class="col-xs-2 col-md-2">
   			<label th:text="#{nursery.savenursery.savein} + ': '"></label>&nbsp;<span class="required">*</span>
   		</div>
   		<div class="col-xs-4 col-md-4">
   		</div>
   	</div>
   	<div class="row form-group">
   		<div class="col-xs-2 col-md-2">
   			<label th:text="#{nursery.create.nursery.description} + ': '"></label>&nbsp;<span class="required">*</span>
   		</div>
   		<div class="col-xs-4 col-md-4">
   			<input type="text" class="form-control character-input" />
   		</div>
   		<div class="col-xs-2 col-md-2">
   			<label th:text="#{nursery.create.nursery.creation.date} + ': '"></label>&nbsp;<span class="required">*</span>
   		</div>
   		<div class="col-xs-4 col-md-4">
   			<input type="text" class="form-control date-input" />
   		</div>
   	</div>
   	<div class="row form-group">
   		<div class="col-xs-2 col-md-2">
   			<label th:text="#{nursery.create.nursery.objective} + ': '"></label>&nbsp;<span class="required">*</span>
   		</div>
   		<div class="col-xs-4 col-md-4">
   			<textarea class="form-control character-input" rows="3"></textarea>
   		</div>
   		<div class="col-xs-2 col-md-2">
   			<label th:text="#{nursery.create.nursery.completion.date} + ': '"></label>&nbsp;<span class="required">*</span>
   		</div>
   		<div class="col-xs-4 col-md-4">
   			<input type="text" class="form-control date-input" />
   		</div>
   	</div>
   	<div class="row form-group">
   		<div class="col-xs-12 col-md-12">
   			<label th:text="#{nursery.create.nursery.build.nursery} + '? '">How would you like to build your nursery?</label>
   		</div>
  	</div>
  	<div class="row form-group">
   		<div class="col-xs-4 col-md-4">
   			<select>
   				<option>Start with Blank Nursery</option>
   				<option th:text="#{nursery.managesettings.use.previous.nursery}">Use Previous Nursery</option>
   			</select>
   			&nbsp;&nbsp;
   			<input type="button" th:value="#{common.form.choose.text}" class="btn btn-info" />
   		</div>
   		<div class="col-xs-8 col-md-8">
   			&nbsp;
   		</div>
  	</div>
</div>
</div>

</form>

<ul id="create-nursery-tab-headers" class="nav nav-tabs" >
	<li id="nursery-settings" class="active"><a th:text="#{nursery.create.nursery.nursery.settings}">.Nursery Settings</a></li>			
</ul>
	
	<div id="nursery-tabs" style="padding-top: 15px;">
		<div id="nursery-settings">
			<div class="col-xs-12 col-md-12">
				<div id="chooseSettingsDiv" th:include="/NurseryManager/ver2.0/chooseSettings">
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group">
			<div class="col-xs-5 col-md-5">&nbsp;</div>
			<div class="col-xs-7 col-md-7">
				<a href="/NurseryManager" th:href="@{/NurseryManager}" class="btn btn-default" th:text="#{common.form.cancel.text}">.Cancel</a>				
			</div>
		</div>
	</div>
	
	<!-- Modal Dialog for Successful Save -->
	<div class="form-group">
		<div class="col-md-12">
			<div class="modal fade" id="successMessageModal" role="dialog" aria-labelledby="successMessageModal" aria-hidden="true">
				<div class="modal-dialog"  style="width: 600px">
					<div class="modal-content">
						<div class="modal-body" id="successMessageBody">
							<div style="text-align: center">
								<label th:text="#{common.form.save.successful.text}">Save successful!</label>
							</div>
						</div>
						<div class="modal-footer">
							<a id="btnOK" href="" th:href="@{/NurseryManager}" th:text="#{common.form.ok.text}" class="btn btn-primary">OK</a>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->

		</div>
	</div>


<div layout:fragment="page-script">
<script type='text/javascript' th:inline="javascript">
//<![CDATA[
    var startDateRequiredError = /*[[#{start.end.date.validation.start.date.required}]]*/;
    var startDateRequiredEarlierError = /*[[#{start.end.date.validation.start.date.required.earlier}]]*/;
    
    //for adding new variables
    var addNurseryLevelSettings = /*[[#{nursery.managesettings.add.nursery.level.settings}]]*/;
    var addPlotLevelSettings = /*[[#{nursery.managesettings.add.plot.level.settings}]]*/;
    var addBaselineTraits = /*[[#{nursery.managesettings.add.baseline.traits}]]*/;
    var reminderNursery = /*[[#{nursery.reminder.add.nursery.settings}]]*/;
	var reminderPlot = /*[[#{nursery.reminder.add.plot.settings}]]*/;
	var reminderTraits = /*[[#{nursery.reminder.add.trait.settings}]]*/;
       		
	function submitGermplasmList(){
		var $form = $("#germplasm-list-form");
		//$('#chooseSpecifyCheck').val($('input[name="specifyCheckType"]:checked').val());
		$('#startIndex').val($('#startIndex2').val());
		$('#interval').val($('#interval2').val());
		$('#mannerOfInsertion').val($('#mannerOfInsertion2').val());
		var serializedData = $form.serialize();
	
	 	$.ajax({
			url: "/Fieldbook/NurseryManager/importGermplasmList/next",
			type: "POST",
			data: serializedData,
			cache: false,
			success: function(html) {
		    	$('#successMessageModal').modal({ backdrop: 'static', keyboard: true }) 
		    	$("#successMessageModal").modal("show");
			}, 
			complete: function() {
				Spinner.toggle();
			}
		});
	}
	
	function submitCheckGermplasmList() {
		var $form = $("#check-germplasm-list-form");	
		var serializedData = $form.serialize();
	
	 	$.ajax({
			url: "/Fieldbook/NurseryManager/importGermplasmList/submitCheckGermplasmList",
			type: "POST",
			data: serializedData,
			cache: false,
			success: function(html) {
				submitGermplasmList();
			}
		});
	}

	function submitWorkbook(){
		Spinner.toggle();

		var $form = $("#createNurseryForm");
		
		var serializedData = $form.serialize();
	
	 	$.ajax({
			url: "/Fieldbook/NurseryManager/createNursery",
			type: "POST",
			data: serializedData,
			cache: false,
			success: function(html) {
				submitCheckGermplasmList();
			}, 
			complete: function() {
			}
		});
	}

	function submitForm() {
		if (validateCreateNursery()) {
			//$("#createNurseryForm").submit();
			if(!validateStartEndDate('nurseryLevelSettings')){
				moveToTopScreen();
				return false;
			}
			submitWorkbook();
			//$("#germplasm-list-form").submit();
			//$("#createNurseryForm").submit();
		}else{
			moveToTopScreen();
		}
	}
	
	$(document).ready(function() {
		$('#selectedSettingId').on('change', function(){
			//alert('load settings' + $(this).val());
			loadNurserySettingsForCreate($(this).val());
		})
		
	});

	function loadFolderAjax() {
		Spinner.toggle();
		$.ajax({ 
			url: "/Fieldbook/Common/selectFolderLocation",
		    type: "GET",
		    data: "",
		    success: function(html) {
				$("#folderBrowserModal"+" .modal-content").empty().append(html);
				$('#folderBrowserModal').modal('show');
				$.fn.modal.Constructor.prototype.enforceFocus = function () {};
				Spinner.toggle();
			}
		});
	}
	
//]]>
</script>
</div>
