<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
   	<div class="modal fade" id="exportStudyModal" role="dialog" aria-labelledby="exportStudyModal" aria-hidden="true">
		<div class="modal-dialog modal-small">
	    	<div class="modal-content">
			    	<div class="modal-header">
		            <button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		            <h4 class="modal-title" id="heading-modal">
		            Export
	         		</h4>
		          </div>
		          
	         	<div class="modal-body" id="exportStudyModalBody">
	         		<div class="row form-group">
		         		<div id="page-export-message-modal" class="col-xs-12 col-md-12">
		         		</div>
	         		</div>	         		
					
					
	         		<div class="row form-group">
						<div class="col-xs-4 col-md-4">
							Export Format:
						</div>
						<div class="col-xs-8 col-md-8">
							<select id="exportType">
								<option value="0">Please Choose</option>
								<option value="1" th:text="#{nursery.export.fieldlog.fieldroid}"></option>
								<option value="2" th:text="#{nursery.export.r}"></option>
								<option value="3" th:text="#{nursery.export.excel}"></option>
								<option value="4">KSU Fieldbook Excel</option>
								<option value="5">KSU Fieldbook CSV</option>								
							</select>
						</div>
			        </div>
			        
			        <div class="row form-group">
						<div class="col-xs-4 col-md-4">
							<label class="control-label">Way to be exported:</label>
						</div>
						<div class="col-xs-8 col-md-8">
							<select id="exportType">
								<option value="1">Row/Col</option>								
								<option value="2">Serpentine (over range)</option>
								<option value="3">Serpentine (over column)</option>								
							</select>
						</div>
			        </div>
			        
			        <div class="row form-group exportRSection" style="display: none">
			        	<div class="col-xs-12 col-md-12">&nbsp;</div>
			        	<div class="col-xs-12 col-md-12">
			        		<label class="control-label h4" th:text="#{nursery.export.r.header}">Choose Trait to evaluate in R</label>	
			        	</div>
			        	<div class="col-xs-12 col-md-12">
			        		<label for="fileupload" class="control-label" th:text="#{nursery.export.r.note}">Note: In your exported file, your trait will show as "GY"</label>
			        	</div>
			        	<div class="col-xs-12 col-md-12">&nbsp;</div>
			        	<div class="col-xs-4 col-md-4">
			        		 <label for="fileupload" class="control-label" th:text="#{nursery.export.r.select.trait}">Select Main Trait:</label>
			        	</div>
			        	<form id="importStudyForm" role="form-horizontal" class="form-horizontal" action="#" method="post" th:object="${addOrRemoveTraitsForm}" enctype="multipart/form-data">
			        	<div class="col-xs-8 col-md-8">
	        		 		<select name="selectedRTrait" id="selectedRTrait" class="form-control">
			    				<option th:if="${measurementVariable.factor == false}" th:each="measurementVariable : *{measurementVariables}" th:value="${measurementVariable.termId}" th:utext="${measurementVariable.name + ' (' + measurementVariable.scale +')'}">Trait</option>
			    			</select>
			        	</div>
			        	</form>
			        </div>
	         	</div>																							
	       		<div class="modal-footer addVariable-footer">    	       			
	       			<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
	       			<button type="button" class="btn btn-primary" aria-hidden="true" onclick="javascript:exportNursery();">Export</button>	
       			</div>
	     	</div><!-- /.modal-content -->
   		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
</div>

<div layout:fragment="page-script">
	
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[    
		   	$( document ).ready(function() {  	     
				$('#exportStudyModal select').select2();
				$('#exportType').on('change', function(){
					if($(this).val() == 2){
						$('.exportRSection').css('display', 'block');	
					}else{
						$('.exportRSection').css('display', 'none');
					}
				})
				
				$('#exportStudyModal').on('hide.bs.modal', function() {
				    $("#page-export-message-modal").html('');				    
				})
		    });
		   	
    //]]>
    </script>
</div>