<!-- Modal -->
<div class="modal fade" id="addStudyFolder" role="dialog" aria-labelledby="addStudyFolder" aria-hidden="true">
	<div class="modal-dialog modal-small">
    	<div class="modal-content">
		    	<div class="modal-header">
	            	<button id="closeAddStudyFolder" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			           <h4 class="modal-title" id="heading-modal" th:text="#{browse.nursery.add.folder.name}">
			         		Add New Folder
		         	   </h4>
	          	</div>
	          
         	<div class="modal-body" id="manageCheckTypesModalBody">
         		<div class="row">
	         		<div id="page-add-study-folder-message-modal" class="col-xs-12 col-md-12">
	         		</div>
         		</div>	         		
				<div class="row form-group">
					<div class="col-xs-12 col-md-12">
		         		<div class="col-xs-3  col-md-3 add_top_padding">
					  		<label class="control-label" th:text="#{browse.nursery.folder.name}">Folder Name:</label><span class="required">*</span>
					  	</div>
					    <div class="col-xs-6 col-md-6">
					      <input id="folderName" name="folderName" type="text" class="form-control select2" placeholder="Folder Name"/>						      
					    </div>
		        	</div>
		        </div>
         	
         	</div>																							
       		<div class="modal-footer addVariable-footer">    	       			
       			<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
       			<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.add.text}" onclick="javascript: createFolder();">Ok</button>
      			</div>
     	</div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
</div><!-- /.modal -->	


<div class="modal fade" id="renameStudyFolder" role="dialog" aria-labelledby="renameStudyFolder" aria-hidden="true">
	<div class="modal-dialog modal-small">
    	<div class="modal-content">
		    	<div class="modal-header">
	            	<button id="closeRenameStudyFolder" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			           <h4 class="modal-title" id="heading-modal" th:text="#{browse.nursery.rename.folder.name}">
			           
			         		Rename Folder
		         	   </h4>
	          	</div>
	          
         	<div class="modal-body" id="manageCheckTypesModalBody">
         		<div class="row">
	         		<div id="page-rename-study-folder-message-modal" class="col-xs-12 col-md-12">
	         		</div>
         		</div>	         		
				<div class="row form-group">
					<div class="col-xs-12 col-md-12">
		         		<div class="col-xs-3  col-md-3 add_top_padding">
					  		<label class="control-label" th:text="#{browse.nursery.folder.name}">Folder Name:</label><span class="required">*</span>
					  	</div>
					    <div class="col-xs-6 col-md-6">
					      <input id="newFolderName" name="newFolderName" type="text" class="form-control select2" placeholder="Folder Name"/>						      
					    </div>
		        	</div>
		        </div>
         	
         	</div>																							
       		<div class="modal-footer addVariable-footer">    	       			
       			<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
       			<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.ok.text}" onclick="javascript: submitRenameFolder();">Ok</button>
      			</div>
     	</div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
</div><!-- /.modal -->	

<div layout:fragment="page-script">  
  <script type="text/javascript" th:inline="javascript">
    //<![CDATA[          
    
          var folderNameRequiredMessage = /*[[#{browse.nursery.add.folder.name.blank}]]*/;
          var renameFolderHeader =      /*[[#{browse.nursery.rename.folder.name}]]*/
		  function addFolder(object){
			  if(!$(object).hasClass('disable-image')){
				  $('#folderName').val('');
				  $('#page-add-study-folder-message-modal').html('');
				  $('#addStudyFolder').modal('show');
			  }
		  }
		  
		  function createFolder(){
			  var folderName = $.trim($('#folderName').val());
			  if(folderName == ''){
				  showErrorMessage('page-add-study-folder-message-modal', folderNameRequiredMessage);
				  return false;
			  }else{
				  //alert('Ajax Submit')
				  var parentFolderId = $('#studyTree').dynatree("getTree").getActiveNode().data.key;
				  if(parentFolderId == 'LOCAL')
					  parentFolderId = 1;
				  
				  Spinner.toggle();
		        	$.ajax({
		        		url: "/Fieldbook/StudyTreeManager/addStudyFolder",
		        		type: "POST",
		        		data: "parentFolderId="+parentFolderId+"&folderName="+folderName,
		        		cache: false,
		        		success: function(data) {
		        			if(data.isSuccess == 1){
		        				$('#addStudyFolder').modal('hide');
		        				//lazy load the node
		        				doStudyLazyLoad($('#studyTree').dynatree("getTree").getActiveNode());
		        			}else{
		        				showErrorMessage('page-add-study-folder-message-modal', data.message);
		        			}
		        			Spinner.toggle();
		        		}		        		
		        	});
			  }
		  }
		  
		  function renameFolder(object){
			  if(!$(object).hasClass('disable-image')){
				  $('#newFolderName').val('');
				  $('#page-rename-study-folder-message-modal').html('');
				  $('#renameStudyFolder').modal('show');
				  var currentFolderName = $('#studyTree').dynatree("getTree").getActiveNode().data.title
				  $('#renameStudyFolder #heading-modal').html(renameFolderHeader + " " + currentFolderName);
				  
			  }
		  }
		  
		  function submitRenameFolder(){
			  
		  }
		  
		  function deleteFolder(){
			  
		  }
		  
		  function moveStudy(){
			  
		  }
      //]]>
    </script>
</div>