
<div class="row col-xs-12 col-md-12" style="padding-top: 10px;">
<div class="row form-group" th:object="${nurseryDetails}" th:id="'div-nursery-tab-' + *{id}">
	<input type="hidden" id="studyId" class="field-map-highlight" th:value="*{id}" />
	<input type="hidden" id="study-type" name="study-type" value="Nursery" />
	
	<div class="col-xs-12 col-md-12">
		<label style="padding-left: 5px" class="control-label section-toggle toggle-icon"  data-target=".nurseryDetails">
			<img th:src="@{/static/img/basic-details.png}" />
			<img style="margin-left: -10px" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
			<img style="display:none; margin-left: -10px"  class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
			<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.header}">NURSERY DETAILS</strong>
		</label>
		<div style="float:right;">
			<div class="btn-group">	
				<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;<span th:text="#{nursery.nurserydetails.actions}">Actions</span>
					
				</button>
				<ul class="dropdown-menu" role="menu">
					<li>
						<a href="" style="display: none" id="open-study-url" th:href="@{/NurseryManager/editNursery/viewNursery}"></a>
						<a href="javascript: openStudy('nursery-table');" id="open-study-url-link" th:text="#{nursery.nurserydetails.action.edit}">Edit Nursery</a> 
					</li>
					<!-- 
					<li>
						<a href="" style="display: none" id="advance-study-url" th:href="@{/NurseryManager/advance/nursery}"></a>
						<a href="javascript: advanceNursery('nursery-table');" id="advance-study-url-link" th:text="#{nursery.nurserydetails.action.advance}">Advance Nursery</a> 
					</li>
					 -->
					<li>
						<a href="" style="display: none" id="fieldmap-url" th:href="@{/Fieldmap/enterFieldDetails/nursery}"></a>
						<a href="javascript: createFieldMap('nursery-table');" id="fieldmap-url-link" th:text="#{nursery.nurserydetails.action.createFieldmap}">Make Field Map</a>
					</li>
					<li>
						<a href="" style="display: none" id="label-printing-url" th:href="@{/LabelPrinting/specifyLabelDetails/nursery}"></a>
						<a href="javascript: createLabelPrinting('nursery-table');" id="label-printing-url-link" th:text="#{nursery.nurserydetails.action.printLabels}">Print Labels</a> 
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="sectionContainer collapse in nurseryDetails">
		<div style="padding-left: 5px" class="form-group" >
			<div style="padding-bottom: 5px" class="col-xs-4 col-md-4" th:each="basicDetail, rowStat : *{basicStudyDetails}">
				&nbsp;&nbsp;&nbsp;<strong><span style="word-wrap: break-word"  class="control-label" th:text="${basicDetail.variable.name}"></span>:</strong>
				&nbsp;<span th:text="${basicDetail.value}" class="div-select-val"></span>
				<span th:if="${basicDetail.variable.name == 'Field Map Created' and basicDetail.value == 'Yes'}">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="" style="display: none" id="fieldmap-url" th:href="@{/Fieldmap/enterFieldDetails/nursery}"></a>
					<a href="javascript: showFieldMap('nursery-table');" id="view-fieldmap-url-link" th:text="#{nursery.nurserydetails.viewFieldMap}">View</a>
				</span>
			</div>
		</div>
	</div>
	<br/>
	<div class="col-xs-12 col-md-12">
		<label style="padding-left: 5px" class="control-label section-toggle toggle-icon"  data-target=".managementDetails">
			<img th:src="@{/static/img/basic-details.png}" />
			<img style="margin-left: -10px" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
			<img style="margin-left: -10px; display:none;" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
			<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.management}">MANAGEMENT DETAILS</strong>
		</label>
		
	</div>
	<div class="sectionContainer collapse in managementDetails">
		<div style="padding-left: 5px" class="form-group" >
			<div style="padding-bottom: 5px" class="col-xs-4 col-md-4" th:each="managementDetail, rowStat : *{managementDetails}">
				&nbsp;&nbsp;&nbsp;<strong><span style="word-wrap: break-word"  class="control-label" th:text="${managementDetail.variable.name}"></span>:</strong>
				&nbsp;<span th:text="${managementDetail.value}" class="div-select-val"></span>
			</div>
		</div>
	</div>
	<br/>
	<div class="col-xs-12 col-md-12">
		<label style="padding-left: 5px" class="control-label section-toggle toggle-icon"  data-target=".nurseryConditions">
			<img th:src="@{/static/img/basic-details.png}" />
			<img style="margin-left: -10px; display:none;" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
			<img style="margin-left: -10px" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
			<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.nurseryConditions}">NURSERY CONDITIONS</strong>
		</label>
		
	</div>
	<div class="sectionContainer collapse nurseryConditions">
		<div style="padding-left: 5px" class="form-group" >
			<div style="padding-bottom: 5px" class="col-xs-4 col-md-4" th:each="nurseryConditionDetail, rowStat : *{nurseryConditionDetails}">
				&nbsp;&nbsp;&nbsp;<strong><span style="word-wrap: break-word"  class="control-label" th:text="${nurseryConditionDetail.variable.name}"></span>:</strong>
				&nbsp;<span th:text="${nurseryConditionDetail.value}" class="div-select-val"></span>
			</div>
		</div>
	</div>
	<br />
	<div class="form-group col-xs-12 col-md-12">
		<label style="padding-left: 5px" class="control-label section-toggle toggle-icon"  data-target=".additionalDetails">
			<img th:src="@{/static/img/basic-details.png}" />
			<img style="margin-left: -10px; display:none;" class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" />
			<img style="margin-left: -10px" class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}" />
			<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.variables}">VARIABLES</strong>
		</label>
		
	</div>
	<div class="sectionContainer collapse additionalDetails col-xs-12 col-md-12" style="padding-top: 10px;">
		<div class="row">
			<div class="col-xs-6 col-md-6">
				<div class="col-xs-12 col-md-12 form-group">
					<label style="padding-left: 15px" class="control-label">
						<img heigth="16" th:src="@{/static/img/factors.png}" />
						<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.factors}">FACTORS</strong>
					</label>
				</div>
				<div class="col-xs-12 col-md-12">
					<table style="table-layout: fixed; margin-left:15px;" class="my-class table table-curved table-condensed table-with-scroll-create" id="factorDetails">
						<thead>
						<tr>
			                <th width="45%" th:utext="#{nursery.nurserydetails.column.name}">.Name</th>
			                <th width="55%" th:utext="#{nursery.nurserydetails.column.description}">.Description</th>
						</tr>
						</thead>
						<tbody>
		  					<tr th:each="factorDetail, rowStat : *{factorDetails}">
			  					<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
			   						<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' + 
										*{factorDetails[__${rowStat.index}__].variable.cvTermId} + '\');'" th:text="${factorDetail.variable.name}"></a>
			  					</td>
			  					<td width="55%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${factorDetail.variable.description}"></td>
		  					</tr> 
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-xs-6 col-md-6">
				<div class="col-xs-12 col-md-12">
					<label style="padding-left: 15px" class="control-label">
						<img height="25" th:src="@{/static/img/baseline-traits.png}" />
						<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.traits}">TRAITS</strong>
					</label>
				</div>
				<div class="col-xs-12 col-md-12">
					<table style="table-layout: fixed; margin-left:15px;" class="my-class table table-curved table-condensed table-with-scroll-create" id="variateDetails">
						<thead>
							<tr>
				                <th width="45%" th:utext="#{nursery.nurserydetails.column.name}">.Name</th>
				                <th width="55%" th:utext="#{nursery.nurserydetails.column.description}">.Description</th>
							</tr>
						</thead>
						<tbody>
		  					<tr th:each="variateDetail, rowStat : *{variateDetails}">
			  					<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
			   						<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' + 
										*{variateDetails[__${rowStat.index}__].variable.cvTermId} + '\');'" th:text="${variateDetail.variable.name}"></a>
			  					</td>
			  					<td width="55%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${variateDetail.variable.description}"></td>
		  					</tr> 
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-6">
				<div class="col-xs-12 col-md-12">
					<label style="padding-left: 15px" class="control-label">
						<img height="16" th:src="@{/static/img/variates.png}" />
						<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.variates}">SELECTION VARIATES</strong>
					</label>
				</div>
				<div class="col-xs-12 col-md-12">
					<table style="table-layout: fixed; margin-left:15px;" class="my-class table table-curved table-condensed table-with-scroll-create" id="selectionVariateDetails">
						<thead>
							<tr>
				                <th width="45%" th:utext="#{nursery.nurserydetails.column.name}">.Name</th>
				                <th width="55%" th:utext="#{nursery.nurserydetails.column.description}">.Description</th>
							</tr>
						</thead>
						<tbody>
		  					<tr th:each="selectionVariateDetail, rowStat : *{selectionVariateDetails}">
			  					<td width="45%" th:class="${rowStat.even}? 'even' : 'odd'">
			   						<a href="javascript: void(0);" th:onclick="'javascript:showBaselineTraitDetailsModal(\'' + 
										*{selectionVariateDetails[__${rowStat.index}__].variable.cvTermId} + '\');'" th:text="${selectionVariateDetail.variable.name}"></a>
			  					</td>
			  					<td width="55%" th:class="${rowStat.even}? 'even' : 'odd'" th:text="${selectionVariateDetail.variable.description}"></td>
		  					</tr> 
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div> <!-- section container -->	
	<br/>

	<div class="col-xs-12 col-md-12">
		<label style="padding-left: 5px"  class="control-label section-toggle toggle-icon dataset-toggle"  data-target=".datasetDetails">
			<img th:src="@{/static/img/matching-nurseries.png}" />
			<img class="section-expanded" th:src="@{/static/img/expanded-arrow.png}" style="display:none; margin-left: -10px" />
			<img class="section-collapsed" th:src="@{/static/img/collapsed-arrow.png}"  style=" margin-left: -10px"/>
			<strong class="sub-content-heading" th:text="#{nursery.nurserydetails.datasets}">DATASETS</strong>
		</label>
		<div class="collapse datasetDetails">
			<div class="col-xs-12 col-md-12">
				<label class="control-label">
					<strong><span th:text="#{nursery.nurserydetails.datasets.choose}"></span></strong>&nbsp;&nbsp;
				</label>
				<select id="dataset-selection">
					<option id="" value="Please Choose"></option>
				</select>
			</div>
			<div class="col-xs-12 col-md-12">
			&nbsp;
			</div>
			<div class="measurement-section" style="display:none;">
				<div id="measurement-details" class="col-xs-12 col-md-12">
					<ul id="measurement-tab-headers" class="nav nav-tabs fb-tabs-headers">
					</ul>
					<div id="measurement-tabs" class="fb-tabs">
					</div>
				</div>
			</div>
		</div>	
	</div>	
	
	
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<div id="showBaselineTraitDetails" th:include="/NurseryManager/baselineTraitDetails"></div>
	</div>
</div>

<div class="row">
	<div id="ontology-add-variable" th:include="/Fieldmap/selectTrialInstanceModal"></div>
</div>

    <div class="modal fade" id="manageTrialConfirmation" tabindex="-1" role="dialog" aria-labelledby="manageTrialConfirmationLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Confirmation</h4>
          </div>
          <div class="modal-body">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-11 col-md-offset-1 col-md-11">
					<p th:text="#{fieldmap.confirmation.for.viewing.generated.fieldmap}">Do you wish to view the generated fieldmap(s)?</p>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-xs-offset-5 col-xs-7 col-md-offset-5 col-md-7">
					<div class="form-group">
						<input type="hidden" id="fieldmapStudyId" name="fieldmapStudyId" />
						<input type="hidden" id="fieldmapDatasetId" name="fieldmapDatasetId" />
						<input type="hidden" id="fieldmapGeolocationId" name="fieldmapGeolocationId" />
						<button type="button" class="btn btn-danger" th:value="#{common.form.yes.text}" onclick="javascript: proceedToCreateFieldMap();">No</button>			        	
						<button type="button" class="btn btn-primary" th:value="#{common.form.no.text}" onclick="javascript: proceedToGenerateFieldMap();">Yes</button>
					</div>
				</div>
			</div>			        	
          </div>
        </div>
      </div>
    </div>
</div>

	<!-- Modal -->
   	<div class="modal fade" id="openGermplasmModal"  role="dialog" aria-labelledby="openGermplasmModal" aria-hidden="true">
		<div class="modal-dialog" style="width: 950px">
			<div class="modal-content" >
				<div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		            	<h4 class="modal-title">Germplam Details: (GID: )</h4>
		          </div>
				<div class="modal-body" id="openGermplasmBody">				
	         		<div>
						<iframe id="openGermplasmFrame" name="myframe" width="900" height="750" frameborder="0"></iframe>
					</div>
				</div>
				<div class="modal-footer">    	
       			</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->		

<div class="row">
	<div id="advance-nursery-modal-div"></div>
</div>


<div layout:fragment="page-script">

<script type='text/javascript' th:inline="javascript">
//<![CDATA[   
    
    var hasMeasurements = false;
    var hasFieldmap = false;
    
   	$(document).ready(function() {
   		$('#study'+getCurrentStudyIdInTab() + " " + '.toggle-icon').click(function(){ 
   			var expandedImg = $(this).find(".section-expanded");
   			var collapsedImg = $(this).find(".section-collapsed");
   		   	expandedImg.toggle();
   		   	collapsedImg.toggle();
   		});
	$('#study'+getCurrentStudyIdInTab() + " " + '.section-toggle').on('click', function(){
		var className = $(this).data('target')
		$('#study'+getCurrentStudyIdInTab() + " "+className).toggle();
	})
	
   		$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #open-study-url-link").click(function() {
   			selectedTableIds[0] = $("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #studyId").val();
   		});

   		$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #advance-study-url-link").click(function() {
   			selectedTableIds[0] = $("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #studyId").val();
   		});

   		$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #div-nursery-tab-" + getCurrentStudyIdInTab() + " #fieldmap-url-link").click(function() {
   			selectedTableIds[0] = $("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #studyId").val();
   		});

   		$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #label-printing-url-link").click(function() {
   			selectedTableIds[0] = $("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #studyId").val();
   		});

   		$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #view-fieldmap-url-link").click(function() {
   			selectedTableIds[0] = $("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #studyId").val();
   		});
   		
   		$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #toggle-additional-link").click(function() {
   			if ($(this).text() == showText) {
   				$(this).text(hideText);
   			}
   			else {
   				$(this).text(showText);
   			}
   		});
   		
   		$("#div-nursery-tab-"+getCurrentStudyIdInTab()+" .dataset-toggle").click(function() {
   			loadDatasetDropdown($(this).parent().find("#dataset-selection"));
   		});
   		
   		$("#div-nursery-tab-"+getCurrentStudyIdInTab()+" #dataset-selection").change(function() {
   			if ($(this).val()) {
   				var id = $(this).val();
   				var name = $(this).find("option:selected").text();
   				var found = false;
   				$(this).parent().parent().find("#measurement-tabs").children().hide();
   				$(this).parent().parent().find("#measurement-tab-headers").find("li").each(function(index) {
   					$(this).removeClass("active");
   					if ($(this).text() == name) {
   						$(this).addClass("active");
   						$("#dset-tab-" + id).show();
   						found = true;
   					}
   				});
   				if (!found) {
   					loadDatasetMeasurementRowsViewOnly(id, name);
   				}
   			}
   		});
   		
   		
   		$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " .nurseryDetails").find(".control-label").each(function (index) {
   			if ($(this).text() == 'Measurements Recorded') {
   				if ($(this).parent().parent().find(".div-select-val").text() == 'Yes') {
   					hasMeasurements = true;
   				}
   			}
   			else if ($(this).text() == 'Field Map Created') {
   				if ($(this).parent().parent().find(".div-select-val").text() == 'Yes') {
   					hasFieldmap = true;
   				}
   			}
   		});
   			
   		if (!hasMeasurements) {
   			$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #open-study-url-link").hide();
   			$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #advance-study-url-link").hide();
   			$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #fieldmap-url-link").hide();
   			$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #label-printing-ur7l-link").hide();
   		}
   		
   		if (hasFieldmap) {
   			$("#div-nursery-tab-" + getCurrentStudyIdInTab() + " #fieldmap-url-link").hide();
   		}
   		
   	});
        

//]]>
</script>
</div>