<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="col-xs-2 col-md-2">
			<label class="control-label h4" th:text="#{advancing.nursery.header}">Advance List</label>
		</div>
		<div class="col-xs-3 col-md-3" th:object="${seedStoreForm}">
			<label th:text="#{advancing.nursery.entries.total}">Total Entries:</label> <label class="control-label control-label-bold" id="numberOfEntries" th:text="*{totalNumberOfGermplasms}"></label>
		</div>
	</div>	
</div>
<div class="row">
	&nbsp;
</div>
<div class="row col-xs-12 col-md-12" id="inventory-germplasm-list">
	<div th:include="/Inventory/seedAdvanceInventoryPagination"></div>
</div>