<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
   	<div class="modal fade" id="studyTreeModal"  role="dialog" aria-labelledby="studyTreeModal" aria-hidden="true">
		<div class="modal-dialog">
			 
			<div class="modal-content modal-extra-small" >
				<div class="modal-body" id="studyTreeModalBody">	
					<div class="row">
		         		<div id="page-study-tree-message-modal" class="col-xs-12 col-md-12">
		         		</div>
	         		</div>	 				
	         		<div class="row">
						<div class="col-xs-7 col-md-7">	
							<img th:src="@{/static/img/new-nursery.png}" class="image-padding image-padding-with-text"  /> 
							<label class="h2_no_transform" th:text="#{browse.nurseries.header}"></label>
						</div>
						<div class="col-xs-5 col-md-5">
							<div style="float: right">
								<img width="30px" onclick="javascript: addFolder(this)" height="30px" th:src="@{/static/img/add 2.png}" class="image-padding browse-nursery-action" />
								<img width="30px" onclick="javascript: renameFolder(this)" height="30px" th:src="@{/static/img/edit.png}" class="image-padding browse-nursery-action edit-folder" />
								<img width="30px" onclick="javascript: deleteFolder(this)" height="30px" th:src="@{/static/img/delete.png}" class="image-padding browse-nursery-action delete-folder" />
								<button id="closeStudyTreeModal" type="button" class="close" data-dismiss="modal" aria-hidden="true" style="padding-top: 5px">&nbsp;&nbsp;&nbsp;X</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div id="studyTree">
						</div>
					</div>
					
					<div class="row">
						<div th:include="/NurseryManager/ver2.0/manageNurseryOperation"/>
					</div>
	         		
				</div>
				<div class="modal-footer">
	    			<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
	      			<button type="button" class="btn btn-primary" th:text="#{common.form.select.text}" onclick="javascript: chooseStudy();">Ok</button>			        	
	    		</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->		
</div>

<div layout:fragment="page-script">
  <script type="text/javascript" th:src="@{/static/js/fieldbook-tree.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/nurseryManager.js}"></script>  
  <script type="text/javascript" th:inline="javascript">
    //<![CDATA[          
    
  		var url = "";
      	var lazyReadUrl = "";
      	var lazyReadAllUrl = "/Fieldbook/StudyTreeManager/retrieveChildren/";

      	var cannotMove =  /*[[#{browse.nursery.move.can.not}]]*/;
      	var hasChildrenString =  /*[[#{browse.nursery.move.has.children}]]*/;
      	
  
	  $( document ).ready(function() {	 
		  displayStudyListTree("studyTree", "N");	
		  changeBrowseNurseryButtonBehavior(false);
	  });

        function doStudyLazyLoad(node){
        	if (node.data.isFolder == true){
    			node.appendAjax({
    				url: lazyReadUrl + node.data.key,
    				dataType: "json",
    				success: function(node) {
    					//do nothing
    					//node.focus();
    					//addStudyTreeHighlight(node);
    					setTimeout(function(){node.focus()}, 50);
    					if(node.hasChildren()){
    						$('.delete-folder').addClass('disable-image');
    					}
    					
    					if(node.data.isFolder == false){
            				addDetailsTab(node.data.key, node.data.title);
            				changeBrowseNurseryButtonBehavior(false);
            			}else{
            				if(node.data.key > 1 || node.data.key == 'CENTRAL'){
            					changeBrowseNurseryButtonBehavior(false);        					     				
            				}else if(node.data.key == 'LOCAL'){
            					changeBrowseNurseryButtonBehavior(true);
            					$('.edit-folder').addClass('disable-image');
           						$('.delete-folder').addClass('disable-image');   
            				}
            				else
            					changeBrowseNurseryButtonBehavior(true);
            			}
    				},
    				error: function(node, XMLHttpRequest, textStatus, errorThrown) {
    					console.log("The following error occured: " + textStatus, errorThrown); 
    				},
    				cache: false
    			});
    			node.expand();
			}
        }
        /** Germplasm Tree **/
        function displayStudyListTree(treeName, studyType) {
        	if(studyType == 'N'){        		
          		url = "/Fieldbook/StudyTreeManager/loadInitialNurseryTree";
          		lazyReadUrl = "/Fieldbook/StudyTreeManager/expandNurseryTree/";
          	}
         	else{
       			url = "/Fieldbook/StudyTreeManager/loadInitialTrialTree";
       			lazyReadUrl = "/Fieldbook/StudyTreeManager/expandTrialTree/";       			
         	}
       			
        	
        	$("#" + treeName).dynatree({
        		title: treeName,
        		checkbox: false,
        		noLink: false,
        		autoFocus: false,
        		imagePath: "/Fieldbook/static/img/",
        		activeVisible: true,
        		initAjax: {url: url,
        			dataType: "json"
        		},
        		
        		onLazyRead: function(node) {
        			
        			doStudyLazyLoad(node);
        			
        			
        			
        		},
        		classNames: {
        			container: "fbtree-container",
        			expander: "fbtree-expander",
        			nodeIcon: "fbtree-icon",
        			combinedIconPrefix: "fbtree-ico-",
        			focused: "fbtree-focused",
        			active: "fbtree-active"
        		},
        		        		
        		 onPostInit: function (isReloading, isError) {
        			 
        		    },
        		   
        		onActivate: function(node) {
        			
        			
        			if(node.data.isFolder == false){
        				//addDetailsTab(node.data.key, node.data.title);
        				changeBrowseNurseryButtonBehavior(false);
        			}else{
        				if(node.data.key > 1 || node.data.key == 'CENTRAL'){
        					changeBrowseNurseryButtonBehavior(false);
       					}else if(node.data.key == 'LOCAL'){
							changeBrowseNurseryButtonBehavior(true);
           					$('.edit-folder').addClass('disable-image');
          					$('.delete-folder').addClass('disable-image');   
           				}
        				else
        					changeBrowseNurseryButtonBehavior(true);
        			}
        			
        		},
        		dnd: {
        		      onDragStart: function(node) {
        		        /** This function MUST be defined to enable dragging for the tree.
        		         *  Return false to cancel dragging of node.
        		         */
        		         //console.log(node);
        		         //if(node.hasChildren() == true || node.data.key > 0 || node.childList == null)
       		        	 if(node.data.key > 0)
       		        	 	return false;
        		        //logMsg("tree.onDragStart(%o)", node);
        		        return true;
        		      },
        		      onDragStop: function(node) {
        		        // This function is optional.
        		        //logMsg("tree.onDragStop(%o)", node);
        		      },
        		      
        		      preventVoidMoves: true, // Prevent dropping nodes 'before self', etc.
        		      onDragEnter: function(node, sourceNode) {
        		        /** sourceNode may be null for non-dynatree droppables.
        		         *  Return false to disallow dropping on node. In this case
        		         *  onDragOver and onDragLeave are not called.
        		         *  Return 'over', 'before, or 'after' to force a hitMode.
        		         *  Return ['before', 'after'] to restrict available hitModes.
        		         *  Any other return value will calc the hitMode from the cursor position.
        		         */
        		        //logMsg("tree.onDragEnter(%o, %o)", node, sourceNode);
        		        return true;
        		      },
        		      onDragOver: function(node, sourceNode, hitMode) {
        		        /** Return false to disallow dropping this node.
        		         *
        		         */
        		        //logMsg("tree.onDragOver(%o, %o, %o)", node, sourceNode, hitMode);
        		        
        		        // Prevent dropping a parent below it's own child
        		        
        		        /*
        		        if(node.isDescendantOf(sourceNode)){
        		          return false;
        		        }
        		        */
        		        // Prohibit creating childs in non-folders (only sorting allowed)
        		        /*
        		        if( !node.data.isFolder && hitMode === "over" ){
        		          return "after";
        		        }
        		        */
        		      },
        		      onDrop: function(node, sourceNode, hitMode, ui, draggable) {
        		        /** This function MUST be defined to enable dropping of items on
        		         * the tree.
        		         */
        		         //console.log("============== dropping ======== " + hitMode);
        		        
        		         if(sourceNode.hasChildren()){
        		        	 //alert('Source folder has children');
        		        	 //return false;
        		        	 showErrorMessage('page-move-study-folder-message-modal', cannotMove + " " + sourceNode.data.title + " " + hasChildrenString);
        		        	 $('#moveStudyFolder').modal('show');
        		         }else{
        		        	 //logMsg("tree.onDrop(%o, %o, %s)", node, sourceNode, hitMode);
        		        	 
        		         	 
    				
    				
        		        	 $.ajax({
        		        		url: lazyReadAllUrl + sourceNode.data.key,
				        		type: "GET",
				        		cache: false,
				        		aysnc: false,
				        		success: function(data) {
				        			var childCount = $.parseJSON(data).length;
				        			if(childCount == 0){
				        				//sourceNode.move(node, hitMode);
			             		        moveStudy(sourceNode, node);				        				
				        			}else{				        				
				        				showErrorMessage('page-move-study-folder-message-modal', cannotMove + " " + sourceNode.data.title + " " + hasChildrenString)
				        				$('#moveStudyFolder').modal('show');
				        			}
											
				        		}		        		
				        	});
        		        	 
             		        
        		         }
        		        	 
        		        
        		        // expand the drop target
//        		        sourceNode.expand(true);
        		      },
        		      onDragLeave: function(node, sourceNode) {
        		        /** Always called if onDragEnter was called.
        		         */
        		        //logMsg("tree.onDragLeave(%o, %o)", node, sourceNode);
        		      }
        		    }


        	});
        	
        }
        
        function chooseStudy(){
        	var node = $('#studyTree').dynatree("getTree").getActiveNode();
        	if(node.data.isFolder == false){
        		addDetailsTab(node.data.key, node.data.title);	
        		$('#studyTreeModal').modal('hide');
        	}else{
        		showErrorMessage('page-study-tree-message-modal', 'Please choose a study');
        	}
        	
        }
        
        
      //]]>
    </script>
</div>