<div class="modal-body">
	<div class="row form-group">
		<div class="col-xs-10 col-md-11">
			<h3 class="modal-title fbk-modal-title" id="heading-calculate-cop-modal">Calculate COP</h3>
		</div>
		<div class="col-xs-1 col-md-1">
			<button type="button" class="close pull-right glyphicon glyphicon-remove" data-dismiss="modal" ng-click="cancel()"/>
		</div>
	</div>
	<form class="simple-form" name="dtForm" novalidate="">
		<div class="row" style="padding-top: 15px;">
			<div class="col-lg-6">
				<div class="input-group">
					<span class="input-group-addon" id="basic-breedingMail">Breeder email: </span>
					<input type="text" placeholder="breeder mail" aria-describedby="basic-breedingMail" name="email" ng-model="model.breedermail" pattern="[^@\s]+@[^@\s]+" class="form-control" required="true">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="input-group">
					<span class="input-group-addon" id="basic-bmsUrl">BMS url: </span>
					<span aria-describedby="basic-bmsUrl" class="form-control">{{model.platform_url}}</span>
				</div>
			</div>
		</div>
		<div class="row" style="padding-top: 15px;">
			<div class="col-lg-6">
				<div class="input-group">
					<span class="input-group-addon" id="basic-generations">Generations: </span>
					<input type="number" placeholder="Generations" aria-describedby="basic-generations" name="generations" min-val="0" ng-model="model.generations" class="form-control" required="true">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="input-group">
					<label class="radio-inline" id="basic-PollinationType" style="padding-left: 0px;">Pollination type: </label>
					<label class="radio-inline non-maize-control">
						<input type="radio" aria-describedby="basic-PollinationType" name="pollination_type" ng-model="model.pollination_type" class="radio" value="self" checked="checked"/>Self
					</label>
					<label class="radio-inline non-maize-control">
						<input type="radio" aria-describedby="basic-PollinationType" name="pollination_type" ng-model="model.pollination_type" class="radio" value="cross"/>Cross
					</label>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-12">
			<label class="label-bold" style="padding-top: 15px;">Select the Gids to Calculate them the COP</label>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-12">
				<table id="calculate-cop-table"
					   datatable=""
					   dt-instance="nested.dtInstance"
					   dt-options="dtOptions"
					   dt-columns="dtColumns"
					   dt-column-defs="dtColumnDefs"
					   class="table table-curved table-condensed table-no-wrap" style="width: 100%">
				</table>
			</div>
		</div>
	</form>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">Cancel</button>
		<button type="button" class="btn btn-primary" aria-hidden="true" ng-click="confirm(dtForm)" ng-disabled="!valid()">Confirm</button>
	</div>
</div>
