<div class="modal-body">
	<div class="row form-group">
		<div class="col-xs-10 col-md-11">
			<h3 class="modal-title fbk-modal-title" id="heading-change-plot-entry-modal">Change plot entry</h3>
		</div>
		<div class="col-xs-1 col-md-1">
			<button type="button" class="close pull-right glyphicon glyphicon-remove" data-dismiss="modal" ng-click="cancel()"/>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<label class="label-bold" style="padding-bottom: 15px;">{{numberOfPlots}} plots selected for {{numberOfInstances}} instances</label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<table id="change-plot-entry-table"
				   datatable=""
				   dt-instance="nested.dtInstance"
				   dt-options="dtOptions"
				   dt-columns="dtColumns"
				   dt-column-defs="dtColumnDefs"
				   width="100%"
				   class="table table-curved table-condensed table-no-wrap table-sorted">
			</table>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">Cancel</button>
	<button type="button" class="btn btn-primary" aria-hidden="true" ng-click="confirm()" ng-disabled="!valid()">Confirm</button>
</div>
<script type="text/ng-template" id="columnFilterPopoverTemplate.html">
	<div class="column-filter">
		<div class="btn-group btn-group-justified " role="group" >
			<div class="btn-group" role="group">
				<button ng-click="sortColumn(true)" class="btn btn-sm"
						ng-class="columnFilter.columnData.sortingAsc === true ? ' btn-info' : 'btn-primary btn-inverse'" >
					<span class="glyphicon glyphicon-sort-by-alphabet"></span>
				</button>
			</div>
			<div class="btn-group" role="group">
				<button ng-click="sortColumn(false)" class="btn btn-sm"
						ng-class="columnFilter.columnData.sortingAsc === false ? 'btn-info' : ' btn-primary btn-inverse'" >
					<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
				</button>
			</div>
		</div>
		<div ng-if="columnFilter.columnData.dataTypeCode !== 'D'" class="add_top_padding">
			<input class="form-control" ng-model='columnFilter.columnData.query'
				   placeholder="Filter value"
				   title="{{columnFilter.columnData.possibleValues.length ? 'it\'ll used to filter if no values are checked' : ''}}" />
			<ul class="list-group form-inline add_top_padding" ng-if="columnFilter.columnData.possibleValues">
				<li class="list-group-item" ng-if="!columnFilter.columnData.query">
					<input type="checkbox" class="checkbox" ng-model="columnFilter.columnData.isSelectAll"
						   ng-change="columnFilter.selectAll()"/>
					Select all
				</li>
				<li ng-repeat="option in columnFilter.columnData.possibleValues | orderBy: 'name' | filter: columnFilter.search "
					ng-if="option.name"
					class="list-group-item">
					<input type="checkbox" class="checkbox" ng-model="option.isSelectedInFilters"
						   ng-change="columnFilter.selectOption(option.isSelectedInFilters)"/>
					{{isCategoricalDescriptionView ? option.displayDescription : option.displayValue}}
				</li>
			</ul>
		</div>
		<div ng-if="columnFilter.columnData.dataTypeCode === 'D'" class="add_top_padding">
			<input class="form-control" ng-model='columnFilter.columnData.query'
				   uib-datepicker-popup="yyyyMMdd"
				   placeholder="Filter value"/>
			<div class="add_top_padding"></div>
			<div uib-datepicker="" ng-model="columnFilter.columnData.query" class="well well-sm uib-datepicker-style-trasformer"
				 ng-click="$event.stopPropagation()"
				 ng-if="columnFilter.columnData.dataTypeCode === 'D'"
				 datepicker-options="datepickerOptions"></div>
		</div>
		<div class="add_top_padding">
			<button class="btn btn-info" ng-click="filterByColumn()" title="Apply all selected filters">Apply</button>
			<button class="btn btn-default" ng-click="resetFilterByColumn()" title="Reset this filter">Reset</button>
		</div>
	</div>
</script>