<div class="mapping-group panel panel-info">
	<div class="panel-heading"><b class="panel-title"><a ng-click="isCollapsed = !isCollapsed">{{name}} <i class="glyphicon" ng-class="{'glyphicon-chevron-down': !isCollapsed, 'glyphicon-chevron-right': isCollapsed}"></i></a>
		<span class="badge-info counter" style="float:right">{{mappingData.length}}</span></b>
	</div>

	<div class="panel-collapse collapse in list-group" uib-collapse="isCollapsed" ui-sortable="sortableOptions" ng-model="mappingData">
		<div class="list-group-item" ng-class="{'list-group-item-danger' : !header.variable}" ng-repeat="header in mappingData" data-empty="{{previewMode}}">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="list-group-item-heading pull-left">{{header.name}} <span class="glyphicon glyphicon-arrow-right"></span> {{header.variable.alias || header.variable.name}} </h3> <span ng-show="header.required" class="text-danger">&nbsp;&nbsp; ({{Messages.REQUIRED}})</span>
					<span callback="onAdd(result)" import-map-variable-selection="" modeldata="header" group="{{variableType}}" mapped-data="mappingData" class="btn btn-xs pull-right" ng-class="{'btn-info' : header.variable, 'btn-danger' : !header.variable}" ><span ng:class="{'glyphicon glyphicon-link' : header.variable, 'fa fa-warning' : !header.variable}"></span>&nbsp;<span ng:bind="computeButtonLabel(header)">Re-map</span></span>
				</div>
			</div>
			<div class="row list-group-item-text">
				<div class="col-sm-4">
					<b>Property: </b> {{header.variable.property.name}}
				</div>
				<div class="col-sm-4">
					<b>Scale: </b> {{header.variable.scale.name}}
				</div>
				<div class="col-sm-4">
					<b>Method: </b>{{header.variable.method.name}}
				</div>
			</div>
		</div>
	</div>
</div>
