<div class="modal-body">
	<div class="row form-group">
		<div class="col-xs-11 col-md-11">
			<label class="modal-title fbk-modal-title" id="heading-modal">Export Study Book</label>
		</div>
		<div class="col-xs-1 col-md-1">
			<button ng-click="cancel()" type="button" class="close pull-right glyphicon glyphicon-remove"></button>
		</div>
	</div>

	<div class="row form-group">
		<div class="col-xs-12 col-md-12">
			<label class=""><em> <span class="required">*</span> indicates a mandatory field</em></label>
		</div>
	</div>

	<div class="row form-group">
		<div class="col-xs-12 col-md-12">
			<label class="control-label h4 label-bold">EXPORT FORMAT</label>
		</div>
	</div>

	<div class="row form-group">
		<div class="col-xs-5 col-md-5">
			<label class="control-label add_top_padding label-bold">Choose an export format:</label><span class="required">*</span>
		</div>
		<div class="report-type-section col-xs-4 col-md-4">
			<select id="exportType">
				<option value="0">Please Choose</option>
				<option value="1">CSV</option>
			</select>
		</div>
	</div>
	<div class="row  form-group">&nbsp;</div>
	<div class="row form-group data-collection-section">
		<div class="col-xs-12 col-md-12">
			<label class="control-label h4 label-bold">DATA COLLECTION ORDER</label>
		</div>
	</div>
	<div class="row form-group data-collection-section">
		<div class="col-xs-5 col-md-5">
			<label class="control-label add_top_padding label-bold">Choose a data collection order</label><span class="required">*</span>
		</div>
		<div class="col-xs-4 col-md-4">
			<select id="exportWayType" style="width: 170px">
				<option value="1" th:text="#{study.export.data.collection.row.col}">Plot Order</option>
				<option value="2" th:text="#{study.export.data.collection.serpentine.along.rows}">Serpentine - Along Rows</option>
				<option value="3" th:text="#{study.export.data.collection.serpentine.along.columns}">Serpentine - Along columns</option>

			</select>
		</div>
		<div style="padding-top: 7px">
			<span class="bms-fa-question-circle help-tooltip-study" data-placement="right" data-toggle="tooltip"></span>
		</div>
	</div>

	<div class="row form-group">
		<div class="col-xs-12 col-md-12">&nbsp;</div>
		<div class="col-xs-12 col-md-12">
			<label class="control-label h4">STUDY ENVIRONMENT</label>
		</div>

		<div class="col-xs-12 col-md-12">&nbsp;</div>
		<div class="col-xs-12 col-md-12 trial-instance">

		</div>

	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" ng-click="export()">Export</button>
</div>
