<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
		<form id="add-block-form" role="form-horizontal" class="form-horizontal" action="#"
th:action="@{/Fieldmap/enterFieldDetails}" method="post" th:object="${fieldmapForm}" enctype="multipart/form-data">

   	<div class="modal fade" id="addBlocksModal" role="dialog" aria-labelledby="addVariablesSettingModal" aria-hidden="true">
		<div class="modal-dialog modal-large">
	    	<div class="modal-content">
			    	<div class="modal-header">
		            <button id="closeAddVariablesSettingModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		           <h4 class="modal-title" id="heading-modal">
		           	Add Blocks
	         		</h4>
		          </div>
		          
	         	<div class="modal-body" id="addVariablesSettingBody">
	         		<div class="row">
		         		<div id="page-block-message-modal" class="col-xs-12 col-md-12">
		         		</div>
	         		</div>	         		
					
					<div class="row form-group">
						<div class="col-xs-12 col-md-12">
			         		<div class="col-xs-3  col-md-3 add_top_padding">
						  		<label class="control-label">Parent Field:</label><span class="required">*</span>
						  	</div>
						    <div class="col-xs-6 col-md-6">
						      <input type="hidden" th:field="*{parentFieldId}" class="form-control select2" placeholder=""/>						      
						    </div>
			        	</div>
			        </div>
	         		<div class="row form-group">
						<div class="col-xs-12 col-md-12">
			         		<div class="col-xs-3  col-md-3 add_top_padding">
						  		<label class="control-label" th:text="#{fieldmap.trial.enter.block.name}">Block Name:</label><span class="required">*</span>
						  	</div>
						    <div class="col-xs-6 col-md-6">
						      <input type="text" class="form-control"  th:field="*{newBlockName}"  placeholder="Field Name"/>						      
						    </div>
			        	</div>
			        </div>
	         	</div>																							
	       		<div class="modal-footer addVariable-footer">    	       			
	       			<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
	       			<button type="button" id="addFields" class="btn btn-primary" aria-hidden="true" onclick="javascript: validateAddBlocks();">Save</button>	
       			</div>
	     	</div><!-- /.modal-content -->
   		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
	</form>
</div>
<div layout:fragment="page-script">
	
	
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[    


		   
		   	function showAddBlockPopup(){
		   		recreatePopupFieldCombo();
		   		$('#addBlocksModal').modal({ backdrop: 'static', keyboard: false });		   	
		   	}
		   	function validateAddBlocks(){
		   		if($('#parentFieldId').val() == ''){
		   			showErrorMessage('page-block-message-modal', parentFieldRequired);
		   			return false;
		   		}
		   		
		   		if($('#newBlockName').val() == ''){
		   			showErrorMessage('page-block-message-modal', blockNameRequired);
		   			return false;
		   		}
		   		
		   		//add
		   		addNewBlockLocation($('#newBlockName').val(), $('#parentFieldId').val());
		   	}
		   	
		   	function addNewBlockLocation(fieldName, locationId){
		   		Spinner.toggle();
		   		var dataForm = $('#add-block-form').serialize()
		   		$.ajax(
		   		{ url: "/Fieldbook/Fieldmap/enterFieldDetails/addNewBlock",
		   	       type: "POST",
		   	       data: dataForm,
		   	       success: function(data) {
		   	    	   		   	    		   
		   	    		   showSuccessfulMessage("page-block-message-modal", blockAddedSuccessfully);
		   	    	       $('#newBlockName').val('');
		   	       },
		   	       error: function(jqXHR, textStatus, errorThrown){
		   				console.log("The following error occured: " + textStatus, errorThrown); 
		   		   }, 
		   		   complete: function(){  
		   			   Spinner.toggle();
		   		   } 
		   	     }
		   	 );
		   	}
		
    //]]>
    </script>
</div>