<div class="col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1 th:text="#{fieldmap.header.field.plan}">
			FIELD PLAN
		</h1>
	</div>			  
</div>
<div class="row">
	<div class="col-md-3">
		<h4 th:text="#{fieldmap.header.make.a.field.plan}">Make a Field Plan</h4>
	</div>
	<div class="col-md-3">
		<h4 th:text="#{fieldmap.header.enter.details}">1. ENTER FIELD DETAILS</h4>
	</div>
	<div class="col-md-3">
		<h4 th:text="#{fieldmap.header.enter.planting.details}">2. ENTER PLANTING DETAILS</h4>
	</div>
	<div class="col-md-3">
		<h4 th:text="#{fieldmap.header.generate.field.map}">3. GENERATE FIELD MAP</h4>
	</div>
</div>

<form role="form-horizontal" action="#"
th:action="@{/Fieldmap/plantingDetails}" method="post" th:object="${fieldmapForm}" enctype="multipart/form-data">
	<div style="border: 1px solid #333333">
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="col-md-12" >
				<div class="form-group">
					<div class="col-md-12">
						<label th:text="#{fieldmap.header.planting.details}">PLANTING DETAILS</label>
					</div>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
				<div class="col-md-2">
					<label class="control-label" th:text="#{fieldmap.label.starting.coordinates} + ':'">Starting Coordinates:</label>
				</div>
				<div class="col-md-4">
					<input th:field="*{userFieldmap.startingColumn}" type="text" style="width: 20%;" />&nbsp;
					<strong><em th:text="#{fieldmap.label.column}">column</em></strong>
					&nbsp;&nbsp;&nbsp;
					<input th:field="*{userFieldmap.startingRange}" type="text" style="width: 20%;" />&nbsp;
					<strong><em th:text="#{fieldmap.label.range}">range</em></strong>
				</div>
				</div>
				<div class="form-group">
					<div class="col-md-2">
						<label class="control-label" th:text="#{fieldmap.trial.planting.order}">Planting Order:</label>
					</div>
					<div class="col-md-4">
						<div class="form-group ">
							<label class="radio-inline">
						    <input type="radio" th:field="*{userFieldmap.plantingOrder}" id="plantingOrder" value="1" th:text="#{fieldmap.planting.order.row.column}">
						    	Row/Column
						    </input>
						  	</label>
						  	<label class="radio-inline">
						    <input type="radio" th:field="*{userFieldmap.plantingOrder}" id="plantingOrder" value="2" th:text="#{fieldmap.planting.order.serpentine}">
						    	Serpentine
					    	</input>
						  	</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="col-md-12" >
				<div class="form-group">
					<div class="col-md-12">
						<label th:text="#{fieldmap.header.unavailable.plots}">UNAVAILABLE PLOTS</label>
					</div>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-12" >
				<div class="form-group">
					<div class="col-md-12">
						<text th:text="#{fieldmap.instruction.unavailable.plots}">
						If there are any plots in this block that are unusable, mark them with an X.
						</text>
					</div>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-12" >
				<div id="fieldmap-area" th:include="/Fieldmap/fieldmapView">
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-offset-5 col-md-7">
				<div class="form-group">
			      <input type="button" href="/Fieldmap/enterFieldDetails.html" th:href="@{/Fieldmap/enterFieldDetails/trial/-10}" th:value="#{common.form.back.text}" value="Back" class="btn btn-default btn-lg"/>
			      <input type="submit" th:value="#{common.form.next.text}" value="Next" class="btn btn-primary btn-lg"/>
		      	</div>
		    </div>
	    </div>
	</div>
</form>

<div layout:fragment="page-script">
	
</div>