<div class="row col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1>
			<span th:text="#{fieldmap.header.field.plan}"></span>
			<a class="bms-fa-question-circle fbk-help" data-help-link="MAKE_FIELD_MAPS"></a>
		</h1>
	</div>
</div>

<div class="row">
	<div class="form-group">
		<div  id="enter-field-details-message"></div>
	</div>
</div>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row col-xs-12" style="padding-bottom: 30px">
				<div class="col-xs-3">
					<h2 class="fieldmap-header" th:text="#{fieldmap.header.make.a.field.plan}">Make a Field Plan</h2>
				</div>
				<div class="col-xs-3">
					<h2 class="fieldmap-header" th:text="#{fieldmap.header.enter.details}">1. ENTER FIELD DETAILS</h2>
				</div>
				<div class="col-xs-3">
					<h2 class="fieldmap-header light" th:text="#{fieldmap.header.enter.planting.details}">2. ENTER PLANTING DETAILS</h2>
				</div>
				<div class="col-xs-3">
					<h2 class="fieldmap-header light" th:text="#{fieldmap.header.generate.field.map}">3. GENERATE FIELD MAP</h2>
				</div>
			</div>

			<form id="enterFieldDetailsForm" role="form-horizontal" class="form-horizontal" action="#"
			th:action="@{/Fieldmap/enterFieldDetails}" method="post" th:object="${fieldmapForm}" enctype="multipart/form-data">

			<input type="hidden" th:field="*{programLocationUrl}"/>

			<div class="form-group col-xs-12 col-md-12" >
				<strong class="sub-heading col-xs-12 col-md-12" th:text="#{fieldmap.study.to.be.mapped}">STUDY TO BE MAPPED:</strong>
			</div>
			<div class="form-group col-xs-12 col-md-12" >
				<div class="col-md-12">
				<label class=""><em th:utext="#{fieldmap.mandatory.fields}"> Mandatory fields are noted with a *</em></label>
				</div>
			</div>
			<div class="form-group col-xs-12 col-md-12">
				<strong class="col-xs-12 col-md-12">
					<span class="sub-content-heading" th:text="#{fieldmap.study.selected.studies}">Selected Studies:</span>
				</strong>
			</div>

			<div class="form-group col-xs-12 col-md-12">
				<span class="col-xs-12 col-md-12" th:text="#{fieldmap.note.arrange.order}">Note: Arrange the order of the selected nurseries to be planted in the field map.</span>
			</div>

			<div class="form-group col-xs-12 col-md-12">
				<input type="hidden" th:field="*{userFieldmap.order}" />

				<table class="table table-curved table-condensed" style="margin-left: 20px; width: 98%" id="selectedTrials">
					<thead>
						<th th:text="#{fieldmap.study.order}">Order</th>
						<th th:text="#{fieldmap.study}">Study</th>
						<th th:text="#{fieldmap.trial.instance}">Instance</th>
						<th th:text="#{fieldmap.study.entry.count}"># of Entries</th>
						<th th:text="#{fieldmap.study.reps.count}"># of Reps</th>
						<th th:text="#{fieldmap.study.plots.needed}">Plots Needed</th>
					</thead>
					<div th:each="map : *{userFieldmap.selectedFieldMaps}">
						<div th:each="dataset : ${map.datasets}">
							<tr th:each="trial, row : ${dataset.trialInstances}">
								<td>
									<input class="trialOrder" type="hidden" th:value="${map.fieldbookId}+'|'+${dataset.datasetId}+'|'+${trial.instanceId}" />
									<span class="orderNo"></span>
								</td>
								<td th:text="${map.fieldbookName}"></td>
								<td th:text="${trial.trialInstanceNo}"></td>
								<td th:text="${trial.entryCount}"></td>
								<td th:text="${trial.repCount}"></td>
								<td th:text="${trial.plotCount}"></td>
							</tr>
						</div>
					</div>
				</table>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="label-bold" th:text="#{fieldmap.study.total.number.of.plots}"> Total # of Plots Needed: </label> &nbsp;
				<span th:text="*{userFieldmap.totalNumberOfSelectedPlots}"></span>
			</div>
			<div class="form-group col-xs-12 col-md-12" >
				<div class=" col-xs-12 col-md-12"><strong class="sub-heading" th:text="#{fieldmap.study.field.and.block.details} + ':'">FIELD AND BLOCK DETAILS:</strong></div>
			</div>
			<div class="form-group col-xs-12 col-md-12" >
				<div class=" col-xs-12 col-md-12"><strong class="sub-content-heading" th:text="#{fieldmap.study.add.new.details}">Add new field and block details:</strong>
				</div>
			</div>


			<div class="form-group  col-xs-12 col-md-12">
				<div class="form-group">
					<div class="col-md-6">
						<label class="control-label col-xs-4" style="text-align: left;"><b th:text="#{fieldmap.study.field.location}">Field Location:</b><span class="required">*</span></label>

						<div class="col-xs-8">

							<input type="hidden" th:field="*{fieldLocationIdAll}" class="form-control select2" placeholder=""/>
							<input type="hidden" th:field="*{fieldLocationIdFavorite}" class="form-control select2" placeholder=""/>
							<input type="hidden" th:field="*{fieldLocationIdBreeding}" class="form-control select2" placeholder=""/>
							<input type="hidden" th:field="*{fieldLocationIdBreedingFavorites}" class="form-control select2" placeholder=""/>
							<input type="hidden" th:field="*{userFieldmap.fieldLocationId}"/>
							<input type="hidden" th:field="*{userFieldmap.locationName}" />
							<input type="hidden" th:field="*{userFieldmap.studyId}" />
						</div>
					</div>
					<div class="col-xs-4 col-md-4">
						<div class="form-group ">
							<label class="radio-inline">
								<input type="radio" id="showBreedingLocationOnlyRadio" name="enter_field_map_location_filter" value="1" checked="true">
								<span th:text="#{show.breeding.location}">Breeding locations</span>
								</input>
							</label>
							<label class="radio-inline">
								<input type="radio" id="showAllLocationRadio" name="enter_field_map_location_filter" value="2">
								<span th:text="#{show.all.location}">All locations types</span>
								</input>
							</label>
						</div>
					</div>
					<div class="col-md-6" style="padding-left: 4px;">
							<div class="col-xs-4 col-sm-4 col-md-4">
								<label class="checkbox">
									<input id="showFavoriteLocation" value="1" type="checkbox"/> <span th:text="#{show.favorite.location}">Show Favorite Location</span>
								</label>
							</div>
							<label class="col-xs-4 col-sm-4 col-md-6" style="padding-top:6px">
								<a href="javascript: openManageLocations()" th:text="#{advancing.study.manage.location}">Manage Locations</a>
							</label>
					</div>
				</div>
				<div class="form-group col-md-12">
					<label class="col-xs-4 col-md-2 control-label" style="text-align: left;"><b th:text="#{fieldmap.study.enter.field.name}"></b><span class="required">*</span></label>
					<div class="col-xs-8 col-md-4">
						<input type="hidden" th:field="*{userFieldmap.fieldId}" class="form-control select2" placeholder=""/>
					</div>

					<div class="col-xs-4 visible-xs"></div>
					<div class="col-sm-4 visible-sm"></div>

					<div class="col-xs-8 col-md-6" style="padding-top:6px">
						<a href="javascript: showAddFieldPopup()">Add Fields</a>
					</div>
				</div>
				<div class="form-group col-md-12">
					<label class="col-xs-4 col-md-2 control-label" style="text-align: left;"><b  th:text="#{fieldmap.study.enter.block.name}">Enter Block Name:</b><span class="required">*</span></label>
					<div class="col-xs-8 col-md-4">
						<input type="hidden" th:field="*{userFieldmap.blockId}" class="form-control select2" placeholder=""/>
					</div>

					<div class="col-xs-4 visible-xs"></div>
					<div class="col-sm-4 visible-sm"></div>

					<div class="col-xs-8 col-md-6" style="padding-top:6px">
						<a href="javascript: showAddBlockPopup()">Add Blocks</a>
					</div>
				</div>
			</div>

			<!-- block details -->
			<div class="form-group col-xs-12 block-details" style="display:none">
				<strong class="sub-heading col-xs-12 col-md-12" th:text="#{fieldmap.study.row.and.range.and.plot.details} + ':'">ROW, RANGE AND PLOT DETAILS:</strong>
			</div>
			<div class="form-group col-xs-12 block-details" style="display:none">
				<div class="form-group col-xs-6">

					<div class="col-sm-7">
						<label class="control-label" ><b th:text="#{fieldmap.study.num.of.rows.in.blocks}">Number of Rows in the Block:</b></label>
					</div>
					<div class="col-sm-5">
						<input type="text" class="form-control calculate-plot" th:field="*{userFieldmap.numberOfRowsInBlock}"/>
					</div>

				</div>
				<div class="form-group col-xs-6">
					<div class="col-sm-5">
						<label class="control-label"> <b th:text="#{fieldmap.study.num.of.rows.per.plot}">Number of Rows per Plot:</b></label>
					</div>
					<div class="col-sm-7">
						<select class="form-control calculate-plot " th:field="*{userFieldmap.numberOfRowsPerPlot}">
							<option th:each="i : ${#numbers.sequence( 1, 12)}" th:value="${i}" th:text="${i}"></option>
						</select>
					</div>
				</div>
				<div class="form-group col-xs-6">
					<div class="col-sm-7">
						<label class="control-label"><b th:text="#{fieldmap.study.num.of.ranges.in.blocks}">Number of Ranges in the Block:</b></label>
					</div>
					<div class="col-sm-5">
						<input type="text" class="form-control calculate-plot" th:field="*{userFieldmap.numberOfRangesInBlock}"/>
					</div>
				</div>

				<div class="form-group col-xs-6">
					<div class="col-sm-5">
						<label class="control-label"><b th:text="#{fieldmap.total.num.of.plots}">Total Number of plots:</b></label>
					</div>
					<div class="col-sm-7">
						<label class="control-label" id="calculatedPlots">-</label>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-5 col-md-5">&nbsp;</div>
				<div class=" col-xs-7  col-md-7">
					<input type="button" onclick="javascript: window.history.back();"  value="Cancel" class="btn btn-default"/>
					<input type="button" onclick="javascript: validateEnterFieldPage();" value="Next" class="btn btn-primary"/>

				</div>
			</div>
			<input type="hidden" th:field="*{projectId}"/>
			<input type="hidden" th:field="*{numberOfRowsPerPlot}"/>
			<input type="hidden" th:field="*{userFieldmap.new}"/>
			<input type="hidden" th:field="*{userFieldmap.blockName}"/>
			<input type="hidden" th:field="*{userFieldmap.fieldName}"/>
		</form>
	</div></div>
</div>
<div class="row">
	<div id="manage-location" th:include="/Common/includes/manageLocationsModal"></div>
</div>
<div class="row">
	<div id="add-fields" th:include="/Fieldmap/addFieldsModal"></div>
</div>

<div class="row">
	<div id="add-blocks" th:include="/Fieldmap/addBlocksModal"></div>
</div>

<div layout:fragment="page-script">
<script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery.treegrid.js}"></script>
<script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery.treegrid.bootstrap3.js}"></script>
<script type="text/javascript" th:src="@{/static/js/fieldMap.js}"></script>
<script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery.tablednd.0.7.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/studyManager/studyManager.js}"></script>
<script type='text/javascript' th:inline="javascript">
//<![CDATA[
var msgLocation = /*[[#{fieldmap.location.error}]]*/;
var msgFieldName = /*[[#{fieldmap.field.name.error}]]*/;
var msgBlockName = /*[[#{fieldmap.block.name.error}]]*/;
var msgRowsInBlock = /*[[#{fieldmap.row.in.block.error}]]*/;
var msgRangesInBlock = /*[[#{fieldmap.ranges.in.block.error}]]*/;
var defaultRowsPerPlot = /*[[${fieldmapForm.userFieldmap.numberOfRowsPerPlot}]]*/;
var msgColError = /*[[#{fieldmap.column.plot.error}]]*/;
var msgNoSelectedTrial = /*[[#{fieldmap.no.selected.study.instance}]]*/;
var locationSuggestions = /*[[${locationList}]]*/ null;
var locationSuggestions_obj = [];

var locationSuggestionsFav = /*[[${favoriteLocationList}]]*/ null;
var locationSuggestionsFav_obj = [];

var locationSuggestionsBreeding = /*[[${favoriteLocationList}]]*/ null;
var locationSuggestionsBreeding_obj = [];

var locationSuggestionsBreedingFav = /*[[${favoriteLocationList}]]*/ null;
var locationSuggestionsBreedingFav_obj = [];

var msgBlockSizeError;
var isViewFieldmap = false;
var entryLabel = /*[[#{fieldmap.study.number.of.entries}]]*/;
var repLabel = /*[[#{fieldmap.study.number.of.reps}]]*/;
var plotLabel = /*[[#{fieldmap.study.total.number.of.plots}]]*/;
var fieldmapLabel = /*[[#{fieldmap.has.fieldmap}]]*/;
var entryPlotLabel = /*[[#{fieldmap.study.number.of.entries.and.plots}]]*/;
var totalNumberOfSelectedPlots = /*[[${fieldmapForm.userFieldmap.totalNumberOfSelectedPlots}]]*/;

var noOfRowsLimitError = /*[[#{fieldmap.no.of.blocks.exceeds.limit}]]*/;


var parentLocationRequired = /*[[#{fieldmap.add.field.parent.location.required}]]*/;
var fieldNameRequired = /*[[#{fieldmap.add.field.name.required}]]*/;

var parentFieldRequired = /*[[#{fieldmap.add.block.parent.field.required}]]*/;
var blockNameRequired = /*[[#{fieldmap.add.block.name.required}]]*/;

var fieldAddedSuccessfully = /*[[#{fieldmap.field.added.successfully}]]*/;
var blockAddedSuccessfully = /*[[#{fieldmap.block.added.successfully}]]*/;

var fieldNameDuplicateError = /*[[#{fieldmap.field.name.duplicate.error}]]*/;
var blockNameDuplicateError = /*[[#{fieldmap.block.name.duplicate.error}]]*/;


var programLocationUrl = '';
var locationIframeOpened = false;

var isNewBlock = false;


	msgBlockSizeError = /*[[#{fieldmap.plots.exceed.blocks.study}]]*/;

$( document ).ready(function() {
	'use strict';
	doEnterFieldDetailsPageLoad();
	$('select.calculate-plot').select2({minimumResultsForSearch: 20});

});

  //]]>
</script>
</div>
