<div class="col-xs-12 col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1 th:text="#{fieldmap.header.field.plan}">
			FIELD PLAN
		</h1>
	</div>			  
</div>
<div class="row">
	
	<form class="form-inline" role="form">
		  <div   class="form-group fieldmap-header">
		    <h2 th:text="#{fieldmap.header.make.a.field.plan}">Make a Field Plan</h2>
		  </div>
		  <div   class="form-group fieldmap-header">
		    <h2 th:text="#{fieldmap.header.enter.details}">1. ENTER FIELD DETAILS</h2>
		  </div>
		  <div  class="form-group fieldmap-header">
		    <h2 class="light" th:text="#{fieldmap.header.enter.planting.details}">2. ENTER PLANTING DETAILS</h2>
		  </div>
		  <div  class="form-group fieldmap-header">
		    <h2 class="light" th:text="#{fieldmap.header.generate.field.map}">3. GENERATE FIELD MAP</h2>
		  </div>
	</form>
	
	
</div>
<form id="enterFieldDetailsForm" role="form-horizontal" class="form-horizontal" action="#"
th:action="@{/Fieldmap/enterFieldDetails}" method="post" th:object="${fieldmapForm}" enctype="multipart/form-data">

	


<div class="row">

	<div class="form-group">
		&nbsp;	
	</div>
	
	<div id="enter-field-details-message" class="col-xs-12 col-md-12">
	
	</div>
	
	<div class="form-group col-xs-12 col-md-12" >
			&nbsp;<strong class="sub-heading col-xs-12 col-md-12" th:if="*{userFieldmap.trial == true}" th:text="#{fieldmap.trial.to.be.mapped}">TRIAL TO BE MAPPED:</strong>
			<strong class="sub-heading col-xs-12 col-md-12" th:if="*{userFieldmap.trial == false}" th:text="#{fieldmap.nursery.to.be.mapped}">NURSERY TO BE MAPPED:</strong>		
	</div>
	
	<div class="form-group col-xs-12 col-md-12">
		<strong class="col-xs-12 col-md-12">
			&nbsp;<span class="sub-content-heading" th:if="*{userFieldmap.trial == true}" th:text="#{fieldmap.trial.selected.trial}">Selected Trial:</span>
			<span class="sub-content-heading" th:if="*{userFieldmap.trial == false}" th:text="#{fieldmap.nursery.selected.nursery}">Selected Nursery:</span>
		</strong>		
	</div>

	<div class="form-group col-xs-8 col-md-8">
			&nbsp;<span class="col-xs-12 col-md-12" th:text="#{fieldmap.note.arrange.order}">Note: Arrange the order of the selected nurseries to be planted in the field map.</span>
		</div>
		<div class="form-group col-xs-4 col-md-4">
			&nbsp;
		</div>
	
	<div class="form-group col-xs-12 col-md-12">
		<input type="hidden" th:field="*{userFieldmap.order}" />
		
		<table class="table table-curved table-condensed" style="margin-left: 20px; width: 98%" id="selectedTrials">
			<thead>
				<th th:text="#{fieldmap.trial.order}">Order</th>
				<th th:if="*{userFieldmap.trial == true}" th:text="#{fieldmap.trial}">Trial</th>
				<th th:if="*{userFieldmap.trial == false}" th:text="#{fieldmap.nursery}">Nursery</th>
				<th th:if="*{userFieldmap.trial == false}" th:text="#{fieldmap.dataset.name}">Dataset Name</th>
				<th th:if="*{userFieldmap.trial == true}" th:text="#{fieldmap.trial.instance}">Instance</th>
				<th th:if="*{userFieldmap.trial == true}" th:text="#{fieldmap.trial.entry.count}"># of Entries</th>
				<th th:if="*{userFieldmap.trial == true}" th:text="#{fieldmap.trial.reps.count}"># of Reps</th>
				<th th:text="#{fieldmap.trial.plots.needed}">Plots Needed</th>
			</thead>
			<div th:each="map : *{userFieldmap.selectedFieldMaps}">
				<div th:each="dataset : ${map.datasets}">
					<tr th:each="trial, row : ${dataset.trialInstances}">
						<td>
							<input class="trialOrder" type="hidden" th:value="${map.fieldbookId}+'|'+${dataset.datasetId}+'|'+${trial.geolocationId}" />
							<span class="orderNo"></span>
						</td>
						<td th:text="${map.fieldbookName}"></td>
						<td th:if="*{userFieldmap.trial == false}" th:text="${dataset.datasetName}"></td>
						<td th:if="*{userFieldmap.trial == true}" th:text="${trial.trialInstanceNo}"></td>
						<td th:text="${trial.entryCount}"></td>
						<td th:if="*{userFieldmap.trial == true}" th:text="${trial.repCount}"></td>
						<td th:if="*{userFieldmap.trial == true}" th:text="${trial.plotCount}"></td>
					</tr>
				</div>
			</div>
		</table>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label th:text="#{fieldmap.trial.total.number.of.plots}"> Total # of Plots Needed: </label> &nbsp; 
		<span th:text="*{userFieldmap.totalNumberOfSelectedPlots}"></span>	
	</div>
	<div class="form-group col-xs-12 col-md-12" >
	<br />
		&nbsp;<strong class="sub-heading col-xs-12 col-md-12" th:text="#{fieldmap.trial.field.and.block.details} + ':'">FIELD AND BLOCK DETAILS:</strong>
	</div>
	<div class="form-group col-xs-12 col-md-12" >
		&nbsp;<strong class="sub-content-heading col-xs-12 col-md-12" th:text="#{fieldmap.trial.add.new.details}">Add new field and block details:</strong>
	</div>
	 
    
	<div class="form-group  col-xs-12 col-md-12">			
		  <div class="form-group col-xs-12  col-md-12">
		    
		    <div class="col-xs-2 col-md-2">
		  		&nbsp;<label class="control-label" th:text="#{fieldmap.trial.field.location}">Field Location:</label><span class="required">*</span>
		  	</div>
		  	
		    <div class="col-xs-4 col-md-4">
		   <!-- 
		       <select class="form-control" th:field="*{userFieldmap.fieldLocationId}">
		       		<option value="0">Select</option>
		       		<option th:each="loc : ${locationList}" th:text="${loc.lname}" th:value="${loc.locid}"></option>		       		
			   </select>
			   -->
			   <input type="hidden" th:field="*{fieldLocationIdAll}" class="form-control select2" placeholder=""/>
			   
			   <input type="hidden" th:field="*{fieldLocationIdFavorite}" class="form-control select2" placeholder=""/>
			   
			   <input type="hidden" th:field="*{userFieldmap.fieldLocationId}"/>
			   <input type="hidden" th:field="*{userFieldmap.locationName}" />
		    </div>
		    <div class="col-xs-3 col-md-3">
		    	<div class="checkbox">
			    <label>
			      <input id="showFavoriteLocation" value="1" type="checkbox"/> <span th:text="#{show.favorite.location}">Show Favorite Location</span>
			    </label>
			  </div>
		    </div>
		  </div>
		  <div class="form-group col-xs-12 col-md-12">
		    
		    <div class="col-xs-2  col-md-2">
		  		&nbsp;<label class="control-label" th:text="#{fieldmap.trial.enter.field.name}">Enter Field Name:</label><span class="required">*</span>
		  	</div>
		    <div class="col-xs-4 col-md-4">
		      <input type="text" class="form-control"  th:field="*{userFieldmap.fieldName}" placeholder="Field Name"/>
		    </div>
		  </div>
		  <div class="form-group col-xs-12 col-md-12">
		    <div class="col-xs-2 col-md-2">
		  		&nbsp;<label class="control-label" th:text="#{fieldmap.trial.enter.block.name}">Enter Block Name:</label><span class="required">*</span>
		  	</div>
		    <div class="col-xs-4 col-md-4">
		      <input type="text" class="form-control" th:field="*{userFieldmap.blockName}" placeholder="Block Name"/>
		    </div>
		  </div>						
	</div>
	
	<div class="form-group col-xs-12  col-md-12">
	<br />
		&nbsp;<strong class="sub-heading col-xs-12 col-md-12" th:text="#{fieldmap.trial.row.and.range.and.plot.details} + ':'">ROW, RANGE AND PLOT DETAILS:</strong>
	</div>
	<div class="form-group col-xs-12  col-md-12">			
		  
		  <div class="form-group col-xs-6 col-md-6">
		  
		  	<div class="col-xs-7 col-md-7">
		  	&nbsp;<label class="control-label" th:text="#{fieldmap.trial.num.of.rows.in.blocks}">Number of Rows in the Block:</label>
		  	</div>		    
		    <div class="col-xs-5 col-md-5">
		       <input type="text" class="form-control calculate-plot" th:field="*{userFieldmap.numberOfRowsInBlock}"/>
		    </div>
		    
		  </div>
		  <div class="form-group col-xs-6  col-md-6">		    
		    <div class="col-xs-5 col-md-5">
		  		<label class="control-label" th:text="#{fieldmap.trial.num.of.rows.per.plot}">Number of Rows per Plot:</label>
		  	</div>
		    <div class="col-xs-7 col-md-7">
		        <select class="form-control calculate-plot" th:field="*{userFieldmap.numberOfRowsPerPlot}">
		        	<option value="1">1</option>
		        	<option value="2">2</option>
		        	<option value="4">4</option>
			    </select>
		    </div>
		  </div>
		  <div class="form-group col-xs-6 col-md-6">
		   	<div class="col-xs-7 col-md-7">
		  		&nbsp;<label class="control-label" th:text="#{fieldmap.trial.num.of.ranges.in.blocks}">Number of Ranges in the Block:</label>
		  	</div>	
		    <div class="col-xs-5 col-md-5">
		      <input type="text" class="form-control calculate-plot" th:field="*{userFieldmap.numberOfRangesInBlock}"/>
		    </div>
		  </div>
		  
		  <div class="form-group col-xs-6  col-md-6">		    
		    <div class="col-xs-5 col-md-5">
		  		<label class="control-label" th:text="#{fieldmap.total.num.of.plots}">Total Number of plots:</label>
		  	</div>
		    <div class="col-xs-7 col-md-7">
		        <label class="control-label" id="calculatedPlots">-</label>
		    </div>
		  </div>
		  						
	</div>
	
	  <div class="form-group">
	  <div class="col-xs-5 col-md-5">&nbsp;</div>
	    <div class=" col-xs-7  col-md-7">
	      <input type="button" onclick="javascript: window.history.back();"  value="Cancel" class="btn btn-default"/>
	      <input type="button" onclick="javascript: validateEnterFieldPage();" value="Next" class="btn btn-primary"/>
	      
	    </div>
	  </div>
	
</div>
</form>
<div layout:fragment="page-script">
<script type="text/javascript" th:src="@{/static/js/jquery.treegrid.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.treegrid.bootstrap3.js}"></script>
<script type="text/javascript" th:src="@{/static/js/fieldMap.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.tablednd.0.7.min.js}"></script>
<script type='text/javascript' th:inline="javascript">
	//<![CDATA[    
    var msgLocation = /*[[#{fieldmap.location.error}]]*/;
    var msgFieldName = /*[[#{fieldmap.field.name.error}]]*/;
    var msgBlockName = /*[[#{fieldmap.block.name.error}]]*/;
    var msgRowsInBlock = /*[[#{fieldmap.row.in.block.error}]]*/;
    var msgRangesInBlock = /*[[#{fieldmap.ranges.in.block.error}]]*/;
    var defaultRowsPerPlot = /*[[${fieldmapForm.userFieldmap.numberOfRowsPerPlot}]]*/;
   	var msgColError = /*[[#{fieldmap.column.plot.error}]]*/;
   	var msgNoSelectedTrial = /*[[#{fieldmap.no.selected.trial.instance}]]*/;
    var locationSuggestions = /*[[${locationList}]]*/ null;
    var locationSuggestions_obj = [];
    
    var locationSuggestionsFav = /*[[${favoriteLocationList}]]*/ null;
    var locationSuggestionsFav_obj = [];
    
    var trial = /*[[${fieldmapForm.userFieldmap.trial}]]*/;
    var msgBlockSizeError;
    var isViewFieldmap = false;
    var entryLabel = /*[[#{fieldmap.trial.number.of.entries}]]*/;
    var repLabel = /*[[#{fieldmap.trial.number.of.reps}]]*/;
    var plotLabel = /*[[#{fieldmap.trial.total.number.of.plots}]]*/;
    var fieldmapLabel = /*[[#{fieldmap.has.fieldmap}]]*/;
    var entryPlotLabel = /*[[#{fieldmap.trial.number.of.entries.and.plots}]]*/;
    var totalNumberOfSelectedPlots = /*[[${fieldmapForm.userFieldmap.totalNumberOfSelectedPlots}]]*/;
    
    var noOfRowsLimitError = /*[[#{fieldmap.no.of.blocks.exceeds.limit}]]*/;
    
    if (trial) {
    	msgBlockSizeError = /*[[#{fieldmap.plots.exceed.blocks.trial}]]*/;
    } else {
    	msgBlockSizeError = /*[[#{fieldmap.plots.exceed.blocks.nursery}]]*/;
    }
    $('.calculate-plot').on('change', function(){
    	calculateTotalPlots();
    })
    $('.calculate-plot').on('keyup', function(){
    	calculateTotalPlots();
    })
    
    
    
	$( document ).ready(function() {
		setSelectedTrialsAsDraggable();
		calculateTotalPlots();
										   
		initializeLocationSelect2(locationSuggestions, locationSuggestions_obj);
		initializeLocationFavSelect2(locationSuggestionsFav, locationSuggestionsFav_obj);
		$('#s2id_fieldLocationIdFavorite').hide();
		$('#s2id_fieldLocationIdAll').show();
		$('#showFavoriteLocation').on('change', function(){
			var isChecked = $('#showFavoriteLocation').is(':checked');
			if(isChecked){
				$('#s2id_fieldLocationIdFavorite').show();
				$('#s2id_fieldLocationIdAll').hide();
				if($('#'+getJquerySafeId("fieldLocationIdFavorite")).select2("data") != null){
					$('#'+getJquerySafeId("userFieldmap.fieldLocationId")).val($('#'+getJquerySafeId("fieldLocationIdFavorite")).select2("data").id);
					$('#'+getJquerySafeId("userFieldmap.locationName")).val($('#'+getJquerySafeId("fieldLocationIdFavorite")).select2("data").text);
				}else{
					$('#'+getJquerySafeId("userFieldmap.fieldLocationId")).val(0);
					$('#'+getJquerySafeId("userFieldmap.locationName")).val("");
				}
			}else{
				$('#s2id_fieldLocationIdFavorite').hide();
				$('#s2id_fieldLocationIdAll').show();
				if($('#'+getJquerySafeId("fieldLocationIdAll")).select2("data") != null){
					$('#'+getJquerySafeId("userFieldmap.fieldLocationId")).val($('#'+getJquerySafeId("fieldLocationIdAll")).select2("data").id);
					$('#'+getJquerySafeId("userFieldmap.locationName")).val($('#'+getJquerySafeId("fieldLocationIdAll")).select2("data").text);	
				}else{
					$('#'+getJquerySafeId("userFieldmap.fieldLocationId")).val(0);
					$('#'+getJquerySafeId("userFieldmap.locationName")).val("");
				}
				
			}
		})
		var numRowPerPlot = $('#'+getJquerySafeId("userFieldmap.numberOfRowsPerPlot")).val();
		$('#'+getJquerySafeId('userFieldmap.numberOfRowsPerPlot')).val(defaultRowsPerPlot);
		if($('#'+getJquerySafeId("userFieldmap.fieldName")).val() != ''){
			//we preset the fieldlocation id
			var isChecked = $('#showFavoriteLocation').is(':checked');
			var locId = $('#'+getJquerySafeId("userFieldmap.fieldLocationId")).val();
			
			$('#'+getJquerySafeId('userFieldmap.numberOfRowsPerPlot')).val(numRowPerPlot);
			
			if(isChecked){
				$('#s2id_fieldLocationIdFavorite').show();
				$('#s2id_fieldLocationIdAll').hide();
				for(var index in locationSuggestionsFav_obj) {
				  if(locationSuggestionsFav_obj[index].id == locId){
					  //console.log(locationSuggestionsFav_obj[index]);
					  
					  
					  $("#fieldLocationIdFavorite").select2('data', locationSuggestionsFav_obj[index]);
					  $('#'+getJquerySafeId("userFieldmap.fieldLocationId")).val($('#'+getJquerySafeId("fieldLocationIdFavorite")).select2("data").id);
				      $('#'+getJquerySafeId("userFieldmap.locationName")).val($('#'+getJquerySafeId("fieldLocationIdFavorite")).select2("data").text);
					  break;
				  }
				}
				
			}else{
				$('#s2id_fieldLocationIdFavorite').hide();
				$('#s2id_fieldLocationIdAll').show();
				for(var index in locationSuggestions_obj) {
					  if(locationSuggestions_obj[index].id == locId){
						  //console.log(locationSuggestions_obj[index]);
						  $("#fieldLocationIdAll").select2('data', locationSuggestions_obj[index]);
						  $('#'+getJquerySafeId("userFieldmap.fieldLocationId")).val($('#'+getJquerySafeId("fieldLocationIdAll")).select2("data").id);
						  $('#'+getJquerySafeId("userFieldmap.locationName")).val($('#'+getJquerySafeId("fieldLocationIdAll")).select2("data").text);	
						  break;
					  }
					}
				
			}
		}
				 
	});
  	
  
      //]]>
    </script>
	
</div>