<div class="col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1 th:text="#{fieldmap.header.field.plan}">
			FIELD PLAN
		</h1>
	</div>			  
</div>
<div class="row">
	<div class="col-md-3">
		<span style="font-weight: bold; font-size: 18px" th:text="#{fieldmap.header.make.a.field.plan}">Make a Field Plan</span>
	</div>
	<div class="col-md-3">
		<span style="font-weight: bold; font-size: 16px" th:text="#{fieldmap.header.enter.details}">1. ENTER FIELD DETAILS</span>
	</div>
	<div class="col-md-3">
		
		<span th:text="#{fieldmap.header.enter.planting.details}">2. ENTER PLANTING DETAILS</span>
	</div>
	<div class="col-md-3">
		<span th:text="#{fieldmap.header.generate.field.map}">3. GENERATE FIELD MAP</span>
	</div>
</div>
<form id="enterFieldDetailsForm" role="form-horizontal" class="form-horizontal" action="#"
th:action="@{/Fieldmap/enterFieldDetails}" method="post" th:object="${fieldmapForm}" enctype="multipart/form-data">

	


<div class="row" style="border: 1px solid #333333">

	<div class="form-group">
		&nbsp;	
	</div>
	
	<div id="enter-field-details-message" class="col-md-12">
	
	</div>
	
	<div class="form-group col-md-12" >
		&nbsp;<strong th:if="*{userFieldmap.trial == true}" th:text="#{fieldmap.trial.to.be.mapped}">TRIAL TO BE MAPPED:</strong>
		&nbsp;<strong th:if="*{userFieldmap.trial == false}" th:text="#{fieldmap.nursery.to.be.mapped}">NURSERY TO BE MAPPED:</strong>
	</div>
	
	<div class="form-group col-md-4">
		<strong class="col-md-12">
			&nbsp;<span th:if="*{userFieldmap.trial == true}" th:text="#{fieldmap.trial.selected.trial}">Selected Trial:</span>
			&nbsp;<span th:if="*{userFieldmap.trial == false}" th:text="#{fieldmap.nursery.selected.nursery}">Selected Nursery:</span>
		</strong> <span th:text="*{userFieldmap.selectedName}">[FieldbookName]</span>
	</div>
	<div class="form-group col-md-8">
		&nbsp;<strong>
				<span th:if="*{userFieldmap.trial == true}" th:text="#{fieldmap.trial.number.of.entries}">Number of Entries:</span>
				<span th:if="*{userFieldmap.trial == false}" th:text="#{fieldmap.trial.number.of.entries.and.plots}">Number of Entries and Plots:</span>
			  </strong>
		 	  <span th:text="*{userFieldmap.numberOfEntries}">3</span>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<strong>
			<span th:if="*{userFieldmap.trial == true}"  th:text="#{fieldmap.trial.number.of.reps}">Number of Reps:</span>
		</strong> 
		<span th:if="*{userFieldmap.trial == true}"  th:text="*{userFieldmap.numberOfReps}">2</span>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<strong>
			<span th:if="*{userFieldmap.trial == true}" th:text="#{fieldmap.trial.total.number.of.plots}">Total Number of Plots:</span>
		</strong> 
		<span th:if="*{userFieldmap.trial == true}" th:text="*{userFieldmap.totalNumberOfPlots}">55</span>
	</div>
	
	<div class="form-group col-md-12" >
		&nbsp;<strong th:text="#{fieldmap.trial.field.and.block.details} + ':'">FIELD AND BLOCK DETAILS:</strong>
	</div>
	<div class="form-group col-md-12" >
		&nbsp;<strong th:text="#{fieldmap.trial.add.new.details}">Add new field and block details:</strong>
	</div>
	 
    
	<div class="form-group  col-md-12">			
		  <div class="form-group col-md-12">
		    
		    <div class="col-md-2">
		  		<label class="control-label" th:text="#{fieldmap.trial.field.location}">Field Location:</label>
		  	</div>
		  	
		    <div class="col-md-4">
		   <!-- 
		       <select class="form-control" th:field="*{userFieldmap.fieldLocationId}">
		       		<option value="0">Select</option>
		       		<option th:each="loc : ${locationList}" th:text="${loc.lname}" th:value="${loc.locid}"></option>		       		
			   </select>
			   -->
			   <input type="hidden" th:field="*{userFieldmap.fieldLocationId}" class="form-control select2" placeholder=""/>
			   <input type="hidden" th:field="*{userFieldmap.locationName}" />
		    </div>
		  </div>
		  <div class="form-group col-md-12">
		    
		    <div class="col-md-2">
		  		<label class="control-label" th:text="#{fieldmap.trial.enter.field.name}">Enter Field Name:</label>
		  	</div>
		    <div class="col-md-4">
		      <input type="text" class="form-control"  th:field="*{userFieldmap.fieldName}" placeholder="Field Name"/>
		    </div>
		  </div>
		  <div class="form-group col-md-12">
		    <div class="col-md-2">
		  		<label class="control-label" th:text="#{fieldmap.trial.enter.block.name}">Enter Block Name:</label>
		  	</div>
		    <div class="col-md-4">
		      <input type="text" class="form-control" th:field="*{userFieldmap.blockName}" placeholder="Block Name"/>
		    </div>
		  </div>						
	</div>
	
	<div class="form-group  col-md-12">
		&nbsp;<strong th:text="#{fieldmap.trial.row.and.range.and.plot.details} + ':'">ROW, RANGE AND PLOT DETAILS:</strong>
	</div>
	<div class="form-group  col-md-12">			
		  
		  <div class="form-group col-md-6">
		  
		  	<div class="col-md-6">
		  	<label class="control-label" th:text="#{fieldmap.trial.num.of.rows.in.blocks}">Number of Rows in the Block:</label>
		  	</div>		    
		    <div class="col-md-6">
		       <input type="text" class="form-control" th:field="*{userFieldmap.numberOfRowsInBlock}"/>
		    </div>
		    
		  </div>
		  <div class="form-group col-md-6">		    
		    <div class="col-md-5">
		  		<label class="control-label" th:text="#{fieldmap.trial.num.of.rows.per.plot}">Number of Rows per Plot:</label>
		  	</div>
		    <div class="col-md-7">
		        <select class="form-control" th:field="*{userFieldmap.numberOfRowsPerPlot}">
		        	<option value="1">1</option>
		        	<option value="2">2</option>
		        	<option value="4">4</option>
			    </select>
		    </div>
		  </div>
		  <div class="form-group col-md-6">
		   	<div class="col-md-6">
		  		<label class="control-label" th:text="#{fieldmap.trial.num.of.ranges.in.blocks}">Number of Ranges in the Block:</label>
		  	</div>	
		    <div class="col-md-6">
		      <input type="text" class="form-control" th:field="*{userFieldmap.numberOfRangesInBlock}"/>
		    </div>
		  </div>
		  
		  						
	</div>
	
	  <div class="form-group">
	    <div class="col-md-offset-5 col-md-7">
	      <input type="button" onclick="javascript: window.history.back();"  value="Cancel" class="btn btn-default btn-lg"/>
	      <input type="button" onclick="javascript: validateEnterFieldPage();" value="Next" class="btn btn-primary btn-lg"/>
	      
	    </div>
	  </div>
	
</div>
</form>
<div layout:fragment="page-script">
<script type="text/javascript" th:src="@{/static/js/fieldMap.js}"></script>
<script type='text/javascript' th:inline="javascript">
	//<![CDATA[    
    var msgLocation = /*[[#{fieldmap.location.error}]]*/;
    var msgFieldName = /*[[#{fieldmap.field.name.error}]]*/;
    var msgBlockName = /*[[#{fieldmap.block.name.error}]]*/;
    var msgRowsInBlock = /*[[#{fieldmap.row.in.block.error}]]*/;
    var msgRangesInBlock = /*[[#{fieldmap.ranges.in.block.error}]]*/;
    var defaultRowsPerPlot = /*[[${fieldmapForm.userFieldmap.numberOfRowsPerPlot}]]*/;
   	var msgColError = /*[[#{fieldmap.column.plot.error}]]*/;
    var locationSuggestions = /*[[${locationList}]]*/ null;
    var locationSuggestions_obj = [];
    var totalNoOfPlots = /*[[${fieldmapForm.userFieldmap.totalNumberOfPlots}]]*/;
    var msgBlockSizeError = /*[[#{fieldmap.plots.exceed.blocks}]]*/;

	$( document ).ready(function() {  	     
													   
		initializeLocationSelect2(locationSuggestions, locationSuggestions_obj); 
		$('#'+getJquerySafeId('userFieldmap.numberOfRowsPerPlot')).val(defaultRowsPerPlot);
	});
  	
  
      //]]>
    </script>
	
</div>