<div class="col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1 th:text="#{fieldmap.header.field.plan}">
			FIELD PLAN
		</h1>
	</div>			  
</div>
<div class="row">
	<div class="col-md-3">
		<h4 th:text="#{fieldmap.header.make.a.field.plan}">Make a Field Plan</h4>
	</div>
	<div class="col-md-3">
		<h4 th:text="#{fieldmap.header.enter.details}">1. ENTER FIELD DETAILS</h4>
	</div>
	<div class="col-md-3">
		<h4 th:text="#{fieldmap.header.enter.planting.details}">2. ENTER PLANTING DETAILS</h4>
	</div>
	<div class="col-md-3">
		<h4 th:text="#{fieldmap.header.generate.field.map}">3. GENERATE FIELD MAP</h4>
	</div>
</div>


<div class="row">
	Step 2
</div>

<div layout:fragment="page-script">
	
</div>