<div class="table-responsive fieldmap-container" style="overflow:auto;">
	<table id="field-map" class="table" border="1">

		<thead>
			<tr>
				<td class="header-row-main" style="width: 70px" >Rows</td>
				<td class="header-row-data" th:each="j : ${#numbers.sequence(1, #object.userFieldmap.numberOfRowsInBlock)}">
					<p th:text="${j}"></p>
				</td>
			</tr>
			<tr class="machineDirectionRow" th:unless="${#arrays.isEmpty(#object.userFieldmap.fieldmap)}">
				<td class="header-row-main"></td>
				<td class="sub-header-row" th:colspan="${#object.userFieldmap.machineRowCapacity}"
				th:each="j : ${#numbers.sequence(1, #object.userFieldmap.numberOfRowsInBlock / #object.userFieldmap.machineRowCapacity)}">
				<p th:if="${j % 2 == 1}">
					<span class="glyphicon glyphicon-arrow-up"></span>
				</p>
				<p th:if="${j % 2 == 0}">
					<span class="glyphicon glyphicon-arrow-down"></span>
				</p>
			</td>
			<td class="sub-header-row" th:if="${#object.userFieldmap.numberOfRowsInBlock % #object.userFieldmap.machineRowCapacity != 0}"
			th:colspan="${#object.userFieldmap.numberOfRowsInBlock % #object.userFieldmap.machineRowCapacity}"
			th:with="j=${#object.userFieldmap.numberOfRowsInBlock / #object.userFieldmap.machineRowCapacity + 1}">
			<p th:if="${j % 2 == 1}">
				<span class="glyphicon glyphicon-arrow-up"></span>
			</p>
			<p th:if="${j % 2 == 0}">
				<span class="glyphicon glyphicon-arrow-down"></span>
			</p>
		</td>
	</tr>
	<tr>
		<td class="header-row-main"></td>
		<td class="sub-header-row" th:colspan="${#object.userFieldmap.numberOfRowsPerPlot}" th:each="j : ${#numbers.sequence(1, #object.userFieldmap.numberOfRowsInBlock / #object.userFieldmap.numberOfRowsPerPlot)}">
			<p th:text="'Column ' + ${j}"></p>
		</td>
	</tr>
</thead>
<tbody>
	<tr th:each="i : ${#numbers.sequence(#object.userFieldmap.numberOfRangesInBlock, 1)}">
		<td class="sub-header-row"><p th:text="'Range ' + ${i}"></p></td>
		<td class="plot" th:id="${j-1} + '_' + ${i-1}" th:colspan="${#object.userFieldmap.numberOfRowsPerPlot}" th:each="j : ${#numbers.sequence(1, #object.userFieldmap.numberOfRowsInBlock / #object.userFieldmap.numberOfRowsPerPlot)}">
			<span class="plotLabel" th:if="${not #arrays.isEmpty(#object.userFieldmap.fieldmap) and j-1 &lt; #arrays.length(#object.userFieldmap.fieldmap) and i-1 &lt; #arrays.length(#object.userFieldmap.fieldmap[__${j-1}__])}">
				<p th:if="${#object.userFieldmap.fieldmap[__${j-1}__][__${i-1}__].plotDeleted == false and #object.userFieldmap.fieldmap[__${j-1}__][__${i-1}__].savedAlready == false}" class="new-plot" th:utext="${#object.userFieldmap.fieldmap[__${j-1}__][__${i-1}__].displayString}"></p>
				<p th:if="${#object.userFieldmap.fieldmap[__${j-1}__][__${i-1}__].plotDeleted == false and #object.userFieldmap.fieldmap[__${j-1}__][__${i-1}__].savedAlready == true}" th:utext="${#object.userFieldmap.fieldmap[__${j-1}__][__${i-1}__].displayString}"></p>
				<p th:if="${#object.userFieldmap.fieldmap[__${j-1}__][__${i-1}__].plotDeleted == true}" class="deleted-p"><label class='alert alert-danger'>X</label></p>
			</span>
		</td>
	</tr>
	<tr>
		<td class="header-row-main"></td>
		<td class="sub-header-row" th:colspan="*{userFieldmap.numberOfRowsPerPlot}" th:each="j : ${#numbers.sequence(1, #object.userFieldmap.numberOfRowsInBlock / #object.userFieldmap.numberOfRowsPerPlot)}">
			<p th:text="'Column ' + ${j}"></p>
		</td>
	</tr>
	<tr class="machineDirectionRow" th:unless="${#arrays.isEmpty(#object.userFieldmap.fieldmap)}">
		<td class="header-row-main"></td>
		<td class="sub-header-row" th:colspan="${#object.userFieldmap.machineRowCapacity}"
		th:each="j : ${#numbers.sequence(1, #object.userFieldmap.numberOfRowsInBlock / #object.userFieldmap.machineRowCapacity)}">
		<p th:if="${j % 2 == 1}">
			<span class="glyphicon glyphicon-arrow-up"></span>
		</p>
		<p th:if="${j % 2 == 0}">
			<span class="glyphicon glyphicon-arrow-down"></span>
		</p>
	</td>
	<td class="sub-header-row" th:if="${#object.userFieldmap.numberOfRowsInBlock % #object.userFieldmap.machineRowCapacity != 0}"
	th:colspan="${#object.userFieldmap.numberOfRowsInBlock % #object.userFieldmap.machineRowCapacity}"
	th:with="j=${#object.userFieldmap.numberOfRowsInBlock / #object.userFieldmap.machineRowCapacity + 1}">
	<p th:if="${j % 2 == 1}">
		<span class="glyphicon glyphicon-arrow-up"></span>
	</p>
	<p th:if="${j % 2 == 0}">
		<span class="glyphicon glyphicon-arrow-down"></span>
	</p>
</td>
</tr>
<tr>
	<td class="header-row-main">Rows</td>
	<td class="header-row-data" th:each="j : ${#numbers.sequence(1, #object.userFieldmap.numberOfRowsInBlock)}">
		<p th:text="${j}"></p>
	</td>
</tr>
</tbody>
</table>
</div>

<div layout:fragment="page-script">
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
	$(document).ready(function() {
		$('.deleted-p').each(function(){
			$(this).parent().parent().addClass('deleted')
		})
		if ($('#stepValue').val() == '2') {
			$('.machineDirectionRow').hide();
			$('.new-plot').hide();
			$('.new-plot').each(function(){

				if($(this).parent().parent().hasClass('planted')){
					$(this).parent().parent().removeClass('planted');
				}
			})
		}
		else {
			$('.machineDirectionRow').show();
			$('.plotLabel').show();
		}
	});
    //]]>
</script>
</div>