<div class="table-responsive">
	<table id="field-map" class="table" border="1">
	
	<thead>
		<tr>
			<td class="header-row-main" >Rows</td>
			<td class="header-row-data" th:each="j : ${#numbers.sequence(1, #object.userFieldmap.numberOfRowsInBlock)}">
				<p th:text="${j}"></p>				
			</td>
		</tr>
		<tr th:unless="${#arrays.isEmpty(#object.userFieldmap.fieldmap)}">
			<td class="header-row"></td>
			<td class="sub-header-row" th:colspan="${#object.userFieldmap.numberOfRowsPerPlot}" th:each="j : ${#numbers.sequence(1, #object.userFieldmap.numberOfRowsInBlock / #object.userFieldmap.numberOfRowsPerPlot)}">
				<p th:unless="${#arrays.isEmpty(#object.userFieldmap.fieldmap)}"
					th:if="${#object.userFieldmap.fieldmap[__${j-1}__][__0__].upward}">
					<span class="glyphicon glyphicon-arrow-up"></span>
					</p>
				<p th:unless="${#object.userFieldmap.fieldmap[__${j-1}__][__0__].upward}">
					<span class="glyphicon glyphicon-arrow-down"></span>
				</p>
			</td>
		</tr>
		<tr>
			<td class="header-row-main"></td>
			<td class="sub-header-row" th:colspan="${#object.userFieldmap.numberOfRowsPerPlot}" th:each="j : ${#numbers.sequence(1, #object.userFieldmap.numberOfRowsInBlock / #object.userFieldmap.numberOfRowsPerPlot)}">
				<p th:text="'Column ' + ${j}"></p>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr th:each="i : ${#numbers.sequence(#object.userFieldmap.numberOfRangesInBlock, 1)}">
			<td class="sub-header-row"><p th:text="'Range ' + ${i}"></p></td>
			<td class="plot" th:id="${j} + '_' + ${i}" th:colspan="${#object.userFieldmap.numberOfRowsPerPlot}" th:each="j : ${#numbers.sequence(1, #object.userFieldmap.numberOfRowsInBlock / #object.userFieldmap.numberOfRowsPerPlot)}">
				<p th:unless="${#arrays.isEmpty(#object.userFieldmap.fieldmap)}" 
					th:utext="${#object.userFieldmap.fieldmap[__${j-1}__][__${i-1}__].displayString}"></p>
			</td>
		</tr>
		<tr>
			<td class="header-row-main"></td>
			<td class="sub-header-row" th:colspan="*{userFieldmap.numberOfRowsPerPlot}" th:each="j : ${#numbers.sequence(1, #object.userFieldmap.numberOfRowsInBlock / #object.userFieldmap.numberOfRowsPerPlot)}">
				<p th:text="'Column ' + ${j}"></p>
			</td>
		</tr>
		<tr>
			<td class="header-row-main">Rows</td>
			<td class="header-row-data" th:each="j : ${#numbers.sequence(1, #object.userFieldmap.numberOfRowsInBlock)}">
				<p th:text="${j}"></p>				
			</td>
		</tr>
	</tbody>
	
	</table>

</div>
	

<div layout:fragment="page-script">		
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
	    
	  	$(document).ready(function() {
	  	});

	  	
    //]]>
	</script>
</div>