<div class="col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1 th:text="#{fieldmap.header.field.plan}">
			FIELD PLAN
		</h1>
	</div>			  
</div>
<div class="row">
	<div class="col-md-3">
		<h4 th:text="#{fieldmap.header.make.a.field.plan}">Make a Field Plan</h4>
	</div>
	<div class="col-md-3">
		<h4 th:text="#{fieldmap.header.enter.details}">1. ENTER FIELD DETAILS</h4>
	</div>
	<div class="col-md-3">
		<h4 th:text="#{fieldmap.header.enter.planting.details}">2. ENTER PLANTING DETAILS</h4>
	</div>
	<div class="col-md-3">
		<h4 th:text="#{fieldmap.header.generate.field.map}">3. GENERATE FIELD MAP</h4>
	</div>
</div>
<form id="fieldmapForm" name="fieldmapForm" role="form-horizontal" class="form-horizontal" action="#"
th:action="@{/Fieldmap/generateFieldmapView}" method="post" th:object="${fieldmapForm}" enctype="multipart/form-data">

<input type="hidden" id="markedCells" name="markedCells" />

<div class="table-responsive">
	<table class="table" border="1">
	
	<thead>
		<tr>
			<td></td>
			<td th:each="j : ${#numbers.sequence(#object.userFieldmap.numberOfRangesInBlock, 1)}">
				<p th:text="${j}"></p>				
			</td>
			<td>Rows</td>
		</tr>
	</thead>
	<tbody>
		<tr th:each="i : ${#numbers.sequence(#object.userFieldmap.numberOfRowsInBlock, 1)}">
			<td><p th:text="'Range ' + ${i}"></p></td>
			<td th:each="j : ${#numbers.sequence(#object.userFieldmap.numberOfRangesInBlock, 1)}">
				<p th:text="${#object.fieldmapLabels[__${(i-1) * #object.userFieldmap.numberOfRangesInBlock + (j-1)}__]}"></p>
			</td>
			<td></td>
		</tr>
	</tbody>
	
	</table>
	 <button type="button" onclick="javascript: setAllDeletedBox()" class="btn btn-default">Submit Now test</button>

</div>

</form>
<div layout:fragment="page-script">		
	<script type="text/javascript" th:src="@{/static/js/raphael-min.js}"></script>
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
	    var markedFields = new Array();
	    var rectangleJsonMapping = new Array();
	    	    	    
	    function NodeJsonMapping(node, jsonData){
	    	this.node = node;
	    	this.jsonData = jsonData;
	    }
	    
	    function addNodeJsonMapping(node, jsonData){
	    	rectangleJsonMapping[rectangleJsonMapping.length] = new NodeJsonMapping(node, jsonData);
	    	
	    }
	    
	  	$(document).ready(function() {
	  		var paper = new Raphael(10, 1700, 5500, 1500);
	  		var data = /*[[${fieldmapForm.fieldmapShapes}]]*/;
	  		var jsonData = JSON.stringify(data);
	  		var json = JSON.parse(jsonData);

	  		console.log(json);
	  		for (var i = 0; i < json.length; i++) {
	  			var c = paper.rect(json[i].x, json[i].y, json[i].width, json[i].height);
	  			if (json[i].title) {
		  			paper.text(json[i].x+30, json[i].y+20, json[i].title);
	  			}
	  			//c.node.attr({fill: "#FFFFFF"});
	  			
	  			c.attr({stroke: json[i].stroke});
	  				  			
	  			
	  			if(json[i].id){
	  				addNodeJsonMapping(c.node, json[i]);
	  				c.attr({fill: "#FFFFFF"});
	  				//console.log("Add on click");
	  				$(c.node).click(function(evt){
	  					
	  					//console.log("click");
	  					if($(this).attr("fill") == "#000000")
	  						$(this).attr("fill", "#FFFFFF");
	  					else{
	  						$(this).attr("fill", "#000000");
	  						//console.log(evt.currentTarget.raphaelid);
	  						
	  					}
	  		           return false;
	  		         });
	  				
	  			}
	  		}
	  		
	  	});
	  	
	  	function setAllDeletedBox(){
	  		var deletedRect = "";
	  		for(var i = 0 ; i < rectangleJsonMapping.length ; i++){
	  			var nodeJsonMapping = rectangleJsonMapping[i];
	  			if($(nodeJsonMapping.node).attr('fill') == "#000000"){
	  				//console.log("To be pass "+nodeJsonMapping.jsonData.id);
	  				deletedRect += nodeJsonMapping.jsonData.id;
	  				if(deletedRect != ''){
	  					deletedRect += ",";
	  				}
	  			}
	  				
	  		}
	  		
	  		if(deletedRect != ''){
	  			deletedRect = deletedRect.substr(0,deletedRect.length-1);
	  		}
	  		$('#markedCells').val(deletedRect);
	  		console.log(deletedRect);
	  		$("#fieldmapForm").submit();
	  	}
    //]]>
	</script>
</div>