<div class="col-md-12" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header">
		<h1 th:text="#{fieldmap.header.field.plan}">
			FIELD PLAN
		</h1>
	</div>			  
</div>

<div class="row">
	<div class="col-md-3">
		<span style="font-weight: bold; font-size: 18px" th:text="#{fieldmap.header.make.a.field.plan}">Make a Field Plan</span>
	</div>
	<div class="col-md-3">
		<span  th:text="#{fieldmap.header.enter.details}">1. ENTER FIELD DETAILS</span>
	</div>
	<div class="col-md-3">
		
		<span th:text="#{fieldmap.header.enter.planting.details}">2. ENTER PLANTING DETAILS</span>
	</div>
	<div class="col-md-3">
		<span style="font-weight: bold; font-size: 16px" th:text="#{fieldmap.header.generate.field.map}">3. GENERATE FIELD MAP</span>
	</div>
</div>

<form id="fieldmapForm" name="fieldmapForm" role="form-horizontal" action="#"
th:action="@{/Fieldmap/generateFieldmapView}" method="post" th:object="${fieldmapForm}" enctype="multipart/form-data">
	<div style="border: 1px solid #333333">
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="col-md-12" >
				<div class="form-group">
					<div class="col-md-12">
						<label th:if="*{userFieldmap.trial == true}" th:text="#{fieldmap.header.summary.for.trial}">SUMMARY OF TRIAL, FIELD AND PLANTING DETAILS</label>
						<label th:if="*{userFieldmap.trial == false}" th:text="#{fieldmap.header.summary.for.nursery}">SUMMARY OF NURSERY, FIELD AND PLANTING DETAILS</label>
					</div>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-3">
						<label class="control-label" th:if="*{userFieldmap.trial == true}" th:text="#{fieldmap.trial.selected.trial}">Selected Trial:</label>
						<label class="control-label" th:if="*{userFieldmap.trial == false}" th:text="#{fieldmap.nursery.selected.nursery}">Selected Nursery:</label>
						<span th:text="*{userFieldmap.selectedName}">[FieldbookName]</span>
					</div>
					
				</div>
				<div class="form-group">
					<div class="col-md-3">
						<label class="control-label" th:if="*{userFieldmap.trial == true}" th:text="#{fieldmap.trial.number.of.entries}">Number of Entries:</label>
						<label class="control-label" th:if="*{userFieldmap.trial == false}" th:text="#{fieldmap.trial.number.of.entries.and.plots}">Number of Entries and Plots:</label>
						<span th:text="*{userFieldmap.numberOfEntries}"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-3">
						<label class="control-label" th:if="*{userFieldmap.trial == true}"  th:text="#{fieldmap.trial.number.of.reps}">Number of Reps:</label>
						<span th:if="*{userFieldmap.trial == true}"  th:text="*{userFieldmap.numberOfReps}"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-3">
						<label class="control-label" th:if="*{userFieldmap.trial == true}" th:text="#{fieldmap.trial.total.number.of.plots}">Total Number of Plots:</label>
						<span th:if="*{userFieldmap.trial == true}" th:text="*{userFieldmap.totalNumberOfPlots}"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
		&nbsp;
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-4">
						<label class="control-label" th:text="#{fieldmap.trial.field.and.block.details}">FIELD AND BLOCK DETAILS:</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<label class="control-label" th:text="#{fieldmap.trial.row.and.range.and.plot.details}">ROW, RANGE AND PLOT DETAILS:</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<label class="control-label" th:text="#{fieldmap.header.planting.details}">PLANTING DETAILS</label>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-4">
						<label class="control-label" th:text="#{fieldmap.trial.field.location}">Field Location:</label>
						<span th:text="*{userFieldmap.locationName}"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<label class="control-label" th:text="#{fieldmap.label.block.capacity} + ':'">Block Capacity:</label>
						<span th:text="#{fieldmap.label.rows}"></span>
						<span th:text="*{userFieldmap.numberOfRowsInBlock} + ', '"></span>
						<span th:text="#{fieldmap.label.ranges}"></span>
						<span th:text="*{userFieldmap.numberOfRangesInBlock}"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<label class="control-label" th:text="#{fieldmap.label.starting.coordinates} + ':'">Starting Coordinates:</label>
						<span th:text="#{fieldmap.label.capitalized.column}"></span>
						<span th:text="*{userFieldmap.startingColumn} + ', '"></span>
						<span th:text="#{fieldmap.label.capitalized.range}"></span>
						<span th:text="*{userFieldmap.startingRange}"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-4">
						<label class="control-label" th:text="#{fieldmap.label.field.name} + ':'">Field Name:</label>
						<span th:text="*{userFieldmap.fieldName}"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<label class="control-label" th:text="#{fieldmap.label.rows.per.plot} + ':'">Rows per Plot:</label>
						<span th:text="*{userFieldmap.numberOfRowsPerPlot}"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<label class="control-label" th:text="#{fieldmap.trial.planting.order}">Planting Order:</label>
						<span th:if="*{userFieldmap.plantingOrder == 1}" th:text="#{fieldmap.planting.order.row.column}">Row/Column</span>
						<span th:if="*{userFieldmap.plantingOrder == 2}" th:text="#{fieldmap.planting.order.serpentine}">Serpentine</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-4">
						<label class="control-label" th:text="#{fieldmap.label.block.name} + ':'">Block Name:</label>
						<span th:text="*{userFieldmap.blockName}"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<label class="control-label" th:text="#{fieldmap.label.columns} + ':'">Columns:</label>
						<span th:text="*{userFieldmap.numberOfRangesInBlock}"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						&nbsp;
					</div>
				</div>
			</div>
		</div>
		<div class="row">
		&nbsp;
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-11">
						<label class="control-label" th:text="#{fieldmap.header.fieldmap}">FIELD MAP</label>
					</div>
					<div class="col-md-1" style="padding-left:0">
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						    	<span class="glyphicon glyphicon-cog"></span>&nbsp;Tools
						  	</button>
						  	<ul class="dropdown-menu" role="menu">
							    <li>
							    	<a href="" th:text="#{fieldmap.tools.export.to.excel}">Export to Excel</a>
							    </li>    
						  	</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
		&nbsp;
		</div>
		<div class="row">
			<div class="col-md-12">
				<input type="hidden" id="markedCells" name="markedCells" />
				<div class="table-responsive">
					<div id="fieldmap-area" style="1000px; overflow:auto;" th:include="/Fieldmap/fieldmapView"></div>					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-5 col-md-7">
				<div class="form-group">
			      <input type="button" onclick="javascript: window.history.back();" href="/Fieldmap/enterPlantingDetails.html" th:href="@{/Fieldmap/plantingDetails/}" th:value="#{common.form.back.text}" value="Back" class="btn btn-default btn-lg"/>
			      <a class="btn btn-primary btn-lg" th:href="@{/Fieldmap/generateFieldmapView/showMainPage/}" th:text="#{common.form.finish.text}" value="Next" />
		      	</div>
		    </div>
	    </div>
	</div>
</form>
<div layout:fragment="page-script">		
	<script type="text/javascript" th:src="@{/static/js/raphael-min.js}"></script>
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
	  	function setAllDeletedBox(){
	  		var deletedRect = "";
	  		$('#field-map td.plot.deleted').each(function(){
	  			deletedRect += $(this).attr('id');
  				if(deletedRect != ''){
  					deletedRect += ",";
  				}
	  		})
	  			  			  		
	  		if(deletedRect != ''){
	  			deletedRect = deletedRect.substr(0,deletedRect.length-1);
	  		}
	  		$('#markedCells').val(deletedRect);
	  		console.log(deletedRect);
	  		$("#fieldmapForm").submit();
	  	}
	  	$(document).ready(function() {
	  		$('#field-map td.plot').on('click', function() {
	  			if($(this).hasClass('deleted')){
	  				$(this).removeClass('deleted');
	  				$(this).html('');
	  			}else{
	  				$(this).addClass('deleted');
	  				$(this).html("<label class='alert alert-danger'>X</label>");
	  			}
	  			//console.log($(this).attr('id'));
	  		});
	  		
	  	});
    //]]>
	</script>
</div>