<div class="col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
   	<div class="modal fade" id="selectTrialInstanceModal" role="dialog" aria-labelledby="selectTrialInstanceLabel" aria-hidden="true">
		<div class="modal-dialog modal-large">
	    	<div class="modal-content">
	         	<div class="modal-body" id="selectTrialInstanceBody">
	         		<div>
	         			<button id="closeSelectTrialInstanceModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	         		</div>
	         		<br/><br/>
	         		<div id="page-message">
	         		</div>
	         		<div>
	         			<label class="control-label" th:text="#{fieldmap.select.trial.instance}+':'">Select Trial Instance:</label>
	         			<br/>
	         		</div>
	         		<table class="table tree table-bordered" id="studyTree" style="margin-left:5px;">
			        </table>
	         	</div>																							
	       		<div class="modal-footer">    
	       			<button type="button" class="btn btn-primary" onclick="javascript: viewFieldMap();" aria-hidden="true">OK</button>	
       			</div>
	     	</div><!-- /.modal-content -->
   		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="modal fade" id="confirmSubModal" role="dialog" aria-labelledby="confirmSubModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-large" style="width:500px">
	    	<div class="modal-content">
	         	<div class="modal-body" id="selectTrialInstanceBody">
	         		<div>
	         			<button id="closeConfirmSubModalModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	         		</div>
	         		<br/><br/>
	         		<div id="page-message">
	         			<div class="alert alert-danger">
	         				<span th:text="#{fieldmap.confirm.overwrite.existing.fieldmap}">Are you sure you want to include instances with existing fieldmaps?</span>
	         			</div>
	         		</div>
	         	</div>																							
	       		<div class="modal-footer">    
	       			<button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">No</button>
	       			<button type="button" class="btn btn-danger" onclick="javascript: redirectToFirstPage();" aria-hidden="true">Yes</button>	
       			</div>
	     	</div><!-- /.modal-content -->
   		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>

<div layout:fragment="page-script">
	<script type="text/javascript" th:src="@{/static/js/jquery.treegrid.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/jquery.treegrid.bootstrap3.js}"></script>		
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[    
        var noSelectedTrialInstance = /*[[#{fieldmap.no.selected.trial.instance}]]*/;
        var multipleSelectError = /*[[#{common.error.select.one.trial.instance}]]*/;
        var entryLabel = /*[[#{fieldmap.trial.number.of.entries}]]*/;
        var repLabel = /*[[#{fieldmap.trial.number.of.reps}]]*/;
        var plotLabel = /*[[#{fieldmap.trial.total.number.of.plots}]]*/;
        var fieldmapLabel = /*[[#{fieldmap.has.fieldmap}]]*/;
        var entryPlotLabel = /*[[#{fieldmap.trial.number.of.entries.and.plots}]]*/;
		var trial = true;
		var isViewFieldmap = true;
		var fieldmapIds = [];
		
		$(function(){
            $('#confirmSubModal').on('hidden.bs.modal', function () {
            	$("#selectTrialInstanceModal button,input").removeAttr("disabled");
            });
            
        });
    //]]>
    </script>
</div>