<div class="modal-body">
	<div class="row form-group">
		<div class="col-md-11">
			<label class="modal-title fbk-modal-title" id="heading-modal">Plot Data</label>&nbsp;&nbsp;<span class="label label-default">BETA</span>
		</div>
		<div class="col-md-1">
			<button type="button" class="close pull-right glyphicon glyphicon-remove"
					ng-click="cancel()" aria-hidden="true"/>
		</div>
	</div>
	<div class="separator"></div>
	<br/>
	<div class="row fbk-mandatory">
		<div class="col-md-12 ">
			<label class=""><em><span class="required">*</span> indicates a mandatory field</em></label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 form-horizontal">
			<div class="form-group">
				<label class="control-label col-md-4"><strong>Plot type:</strong></label>
				<div class="col-md-6">
					<ui-select ng-model="selection.selectedRCall" theme="select2" search-enabled="false" class="text-truncate">
						<ui-select-match>{{$select.selected.description}}</ui-select-match>
						<ui-select-choices repeat="item in rCalls">
							<span>{{item.description}}</span>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="form-group" ng-repeat="(key, value) in selection.selectedRCall.parameters">
				<label ng-if="key == 'x'" class="control-label col-md-4"><strong>{{ (selection.selectedRCall.description == 'Boxplot') ? 'Factor By' : 'Variable on X'}}:<span class="required">*</span></strong></label>
				<label ng-if="key == 'y'" class="control-label col-md-4"><strong>{{ (selection.selectedRCall.description == 'Boxplot') ? 'Variable' : 'Variable on Y'}}:<span class="required">*</span></strong></label>
				<label ng-if="key == 'method'" class="control-label col-md-4"><strong>Regression Method:<span class="required">*</span></strong></label>
				<label ng-if="key == 'binwidth'" class="control-label col-md-4"><strong>Bin Width:</strong></label>
				<div class="col-md-6">
					<!-- Scatterplot -->
					<ui-select ng-if="(key == 'method')" ng-model="selection.selectedRCall.parameters[key]" theme="select2" search-enabled="false" class="text-truncate">
						<ui-select-match placeholder="Please choose">{{$select.selected.description}}</ui-select-match>
						<ui-select-choices repeat="item.method as item in regressionMethods">
							<span>{{item.description}}</span>
						</ui-select-choices>
					</ui-select>
					<ui-select ng-if="key == 'x' && selection.selectedRCall.description == 'Scatterplot'" ng-model="selection.selectedVariableX" theme="select2" search-enabled="false" class="text-truncate">
						<ui-select-match placeholder="Please choose">{{$select.selected.alias}}</ui-select-match>
						<ui-select-choices repeat="item in variates">
							<span>{{item.alias}}</span>
						</ui-select-choices>
					</ui-select>
					<ui-select ng-if="key == 'y' && selection.selectedRCall.description == 'Scatterplot'" ng-model="selection.selectedVariableY" theme="select2" search-enabled="false" class="text-truncate">
						<ui-select-match placeholder="Please choose">{{$select.selected.alias}}</ui-select-match>
						<ui-select-choices repeat="item in variates">
							<span>{{item.alias}}</span>
						</ui-select-choices>
					</ui-select>
					<input class="form-control" ng-if="key == 'binwidth'" numbers-only ng-model="selection.selectedRCall.parameters[key]">
					<!-- Histogram -->
					<ui-select ng-if="key == 'x' && selection.selectedRCall.description == 'Histogram'" ng-model="selection.selectedVariableX" theme="select2" search-enabled="false" class="text-truncate">
						<ui-select-match placeholder="Please choose">{{$select.selected.alias}}</ui-select-match>
						<ui-select-choices repeat="item in variates">
							<span>{{item.alias}}</span>
						</ui-select-choices>
					</ui-select>
					<!-- Boxplot -->
					<ui-select ng-if="key == 'x' && selection.selectedRCall.description == 'Boxplot'" ng-model="selection.selectedVariableX" theme="select2" search-enabled="false" class="text-truncate">
						<ui-select-match placeholder="Please choose">{{$select.selected.alias}}</ui-select-match>
						<ui-select-choices repeat="item in factors">
							<span>{{item.alias}}</span>
						</ui-select-choices>
					</ui-select>
					<ui-select ng-if="(key == 'y') && selection.selectedRCall.description == 'Boxplot'" ng-model="selection.selectedVariableY" theme="select2" search-enabled="false" class="text-truncate">
						<ui-select-match placeholder="Please choose">{{$select.selected.alias}}</ui-select-match>
						<ui-select-choices repeat="item in variates">
							<span>{{item.alias}}</span>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
			<button class="btn btn-primary" ng-disabled="isExporting" ng-click="generate()">Generate</button>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-md-12">
			<div class="pull-right">
				Powered by <span style="background-color: #333; padding: 5px; border-radius: 5px"><img src="/Fieldbook/static/img/opencpulogo.png"/></span>
			</div>
		</div>
	</div>
</div>
