<div class="modal-body">
	<div class="row form-group">
		<div class="col-xs-11 col-md-11">
			<label class="modal-title fbk-modal-title" id="heading-modal">{{modalTitle}}</label>
		</div>
		<div class="col-xs-1 col-md-1">
			<button ng-click="close()" type="button" class="close pull-right glyphicon glyphicon-remove"></button>
		</div>
	</div>
	<div class="separator"></div>
	<br/>

	<div class="row">
		<div class="col-xs-12 col-md-12">
			<label class=""><em> <span class='required'>*</span> indicates a mandatory field</em></label>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-12">
			<label class="control-label h4 label-bold">EXPORT FORMAT</label>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-8 col-md-8">
			<label class="control-label add_top_padding label-bold">Please specify the format you are importing: </label><span
			class="required">*</span>
		</div>
		<div class="col-xs-3 col-md-4" style="padding-left: 0px;">
			<ui-select ng-model="ctrl.format.selected" theme="select2" search-enabled="false">
				<ui-select-match placeholder="Choose an import type">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="format.name as format in ctrl.importFormats ">{{format.name}}</ui-select-choices>
			</ui-select>
		</div>
	</div>

	<div class="row">
		<br>
		<div class="col-xs-12 col-md-12">
			<label class="control-label h4 label-bold">SELECT FILE</label>
		</div>
		<div class="col-xs-8 col-md-8">
			<label class="control-label add_top_padding label-bold">Please choose the file you would like to import: </label><span class="required">*</span>
		</div>
		<div class="col-xs-4 col-md-4"  style="padding-left: 0px;">
			<span ng-hide="file" class="btn btn-info btn-file">
				<span>Browse</span>
				<input id="file_upload" import-observation="" imported-file="file" imported-data="importedData" type="file" multiple="false" accept="{{ctrl.format.selected.extension}}">file</input>
			</span>
			<span ng-show="file" data-toggle="tooltip" title={{file.name}}><i>{{file.abbrName}}</i></span>
			<span ng-show="file" style="display: inline-block; margin-left: 5px">
				<button ng-click="clearSelectedFile()" class="close pull-right glyphicon glyphicon-remove"></button>
			</span>
		</div>
	</div>

	<div class="row add_top_padding modal-footer">
		<br>
		<button type="button" class="btn btn-default" ng-click="backToDatasetOptionModal()">Back</button>
		<button type="button" class="btn btn-primary" ng-click="submitImport()" aria-hidden="true" ng-disabled="!file">Import</button>
	</div>
</div>
