<table datatable="ng" dt-options="dtOptions" class="table table-curved table-condensed" width="100%">
	<thead>
	<tr>
		<th></th>
		<th>TRIAL_INSTANCE</th>
		<th>LOCATION_NAME</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="instance in instances">
		<td><input type="radio" ng-attr-name="single-instance-selector-group"
				   value="{{instance[instanceIdProperty]}}"
				   ng-change="onSelectInstance(instance[instanceIdProperty])"
				   ng-model="selected[instanceIdProperty]" /></td>
		<td>{{::instance.instanceNumber}}</td>
		<td>{{::instance.locationName}} - ({{::instance.locationAbbreviation}})</td>
	</tr>
	</tbody>
</table>
