<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<form id="add-plot-form" role="form-horizontal" class="form-horizontal" action="#"
		method="post" th:object="${seedStoreForm}" enctype="multipart/form-data">
		<input type="hidden" th:field="*{listId}"/>
		<input type ="hidden" th:field="*{entryIdList}" />
	<!-- Modal  -->
	<div class="modal fade" id="addLotsModal" role="dialog" aria-labelledby="addLotsLabel" aria-hidden="true">
		<div class="modal-dialog  modal-extra-large">
			<div class="modal-content">
				<div class="modal-body" id="addLotsBody">
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title" th:text="#{seed.inventory.update.inventory}"></label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button  id="closeAddLotsModal" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"/>
						</div>
					</div>

					<div class="row form-group col-xs-12 col-md-12" id="page-message-lots">
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<label class=""><em th:utext="#{fieldmap.mandatory.fields}"> Mandatory fields are noted with a *</em></label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label class="h4 label-bold" th:text="#{seed.inventory.location.header}">LOCATION</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-5">
							<label class="control-label label-bold" th:text="#{seed.inventory.location}+':'">Location:</label>&nbsp;<span class="required">*</span>
						</div>
						<div class="col-md-4">
							<input type="hidden" th:field="*{inventoryLocationId}" class="form-control" />
							<input type="hidden" name="inventoryLocationIdAll" id="inventoryLocationIdAll" class="form-control select2" placeholder=""/>
							<input type="hidden" name="inventoryLocationIdFavorite" id="inventoryLocationIdFavorite" class="form-control select2" placeholder=""/>
							<input type="hidden" name="inventoryLocationIdSeedStorage" id="inventoryLocationIdSeedStorage" class="form-control select2" placeholder=""/>
							<input type="hidden" name="inventoryLocationIdFavoriteSeedStorage" id="inventoryLocationIdFavoriteSeedStorage" class="form-control select2" placeholder=""/>
							
						</div>
						<div class="col-md-3 add_top_padding"><a class='inventory-manage-location' href="javascript: void(0)" th:text="#{advancing.study.manage.location}">Manage Locations</a></div>
					</div>

					<div class="row form-group">
						<div class="col-md-5">
							<label class="control-label label-bold" th:text="#{show.favorite.location.header}"> Showing: </label>
						</div>
						<div class="col-md-4">
							<label>
								<input id="showSeedStorageLocationInventory" name="filter" value="1" type="radio" checked="checked"/> <span th:text="#{show.Seed.Storage.location}">Seed storage locations</span>
								&nbsp;&nbsp;
							</label>
							<label>
								<input id="showAllLocationInventory" name="filter" value="2" type="radio"/> <span th:text="#{show.all.location}">All locations types</span>
								&nbsp;&nbsp;
							</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-5">
						</div>
							<div class="col-md-4">
								<label>
									<input id="showFavoriteLocationInventory" value="1" type="checkbox"/> <span th:text="#{show.include.favorite.location}">Include favorite locations only</span>
									&nbsp;&nbsp;
								</label>
							</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label class="h4 label-bold" th:text="#{seed.inventory.scale.and.amount.header}">SCALE AND AMOUNT</label>
						</div>
					</div>
					<div class="row form-group">
							<div class="col-md-5">
								<label class="control-label label-bold" th:text="#{seed.inventory.scale}+':'">Scale:</label>&nbsp;<span class="required">*</span>
							</div>
							<div class="col-md-4">
								<input type="hidden" th:field="*{inventoryScaleId}" class="form-control select2" />
							</div>
							<div class="col-xs-3 col-md-3">&nbsp;</div>
					</div>
					<div class="row form-group">
							<div class="col-md-5">
								<label class="control-label label-bold" th:text="#{seed.inventory.amount}+':'">Scale:</label>&nbsp;<span class="required">*</span>
							</div>
							<div class="col-md-2">
								<input type="text" th:field="*{amount}" class="form-control" />
							</div>
							<div class="col-md-3">&nbsp;</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label class="h4 label-bold" th:text="#{seed.inventory.comments.header}">COMMENTS</label>
						</div>
					</div>
					<div class="row form-group">
							<div class="col-md-5">
								<label class="control-label label-bold" th:text="#{seed.inventory.comments}+':'">Comments:</label>
							</div>
							<div class="col-md-4">
								<textarea th:field="*{inventoryComments}" class="form-control" rows="3"></textarea>
							</div>
							<div class="col-md-3">&nbsp;</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
					<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.save.text}" onclick="javascript: StockIDFunctions.updateInventory();">Save</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	</form>
</div>

<div layout:fragment="page-script">
<script type='text/javascript' th:inline="javascript">
//<![CDATA[
var inventoryLocationSuggestions = /*[[${allLocationList}]]*/ null,
	inventoryFavoriteLocationSuggestions = /*[[${favoriteLocationList}]]*/ null,
	inventorySeedStorageLocationSuggestions = /*[[${locationList}]]*/ null,
	inventoryFavoriteSeedStorageLocationSuggestions = /*[[${favoriteSeedStorageLocationList}]]*/ null,
	scaleSuggestions = /*[[${scaleList}]]*/ null;

$(document).ready(function() {
	$('#showSeedStorageLocationInventory').on('change', function() {
		showCorrectLocationInventoryCombo();
	});
	$('#showAllLocationInventory').on('change', function() {
		showCorrectLocationInventoryCombo();
	});
	$('#showFavoriteLocationInventory').on('change', function() {
		showCorrectLocationInventoryCombo();
	});
	
	recreateLocationCombo('showFavoriteLocationInventory');
	// remove any other listeners for the location update
	$(document).off('location-update');
	$(document).on('location-update', recreateLocationCombo);

	$('.inventory-manage-location').on('click', function() {
		$('#addLotsModal').modal('hide');
		$('#addLotsModal').data('open', '1');
		setTimeout(openManageLocations, 500);
	});
	$('#addLotsModal').data('open', '0');
});

//]]>
</script>
</div>
