<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<form id="add-plot-form" role="form-horizontal" class="form-horizontal" action="#" 
		method="post" th:object="${seedStoreForm}" enctype="multipart/form-data">
	<!-- Modal -->
   	<div class="modal fade" id="addLotsModal" role="dialog" aria-labelledby="addLotsLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content">
		    	<div class="modal-header">
		            <button id="closeAddLotsModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		            <h4 class="modal-title">Add Lots</h4>
		        </div>
	         	<div class="modal-body" id="addLotsBody">
	         		<div id="page-message-lots">
	         		</div>
	         		<div class="row">
	         			<div class="col-xs-12 col-md-12">
	         				<input type ="hidden" th:field="*{gidList}" />
	         			</div>
	         		</div>
	         		<div class="row form-group">
	         			<div class="col-xs-12 col-md-12">
		         			<div class="col-xs-3 col-md-3">
		         				<label class="control-label" th:text="#{seed.inventory.location}">Location:</label>
		         			</div>
		         			<div class="col-xs-6 col-md-6">
		         				<input type="hidden" th:field="*{locationId}" class="form-control select2" />
		         			</div>
		         			<div class="col-xs-3 col-md-3">&nbsp;</div>
	         			</div>
	         		</div>
	         		<div class="row form-group">
	         			<div class="col-xs-12 col-md-12">
		         			<div class="col-xs-3 col-md-3">
		         				<label class="control-label" th:text="#{seed.inventory.scale}">Scale:</label>
		         			</div>
		         			<div class="col-xs-6 col-md-6">
		         				<input type="hidden" th:field="*{scaleId}" class="form-control select2" />
		         			</div>
		         			<div class="col-xs-3 col-md-3">&nbsp;</div>
	         			</div>
	         		</div>
	         		<div class="row form-group">
	         			<div class="col-xs-12 col-md-12">
		         			<div class="col-xs-3 col-md-3">
		         				<label class="control-label" th:text="#{seed.inventory.comments}">Comments:</label>
		         			</div>
		         			<div class="col-xs-8 col-md-8">
		         				<textarea th:field="*{comments}" class="form-control" rows="3"></textarea>
		         			</div>
		         			<div class="col-xs-1 col-md-1">&nbsp;</div>
	         			</div>
	         		</div>
	         	</div>																							
	       		<div class="modal-footer">    
	       			<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
	       			<button type="button" class="btn btn-primary" aria-hidden="true" th:text="#{common.form.save.text}" onclick="javascript: saveLots();">Save</button>	
	    		</div>
	     	</div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	</form>
</div>

<div layout:fragment="page-script">		
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[    
		
    //]]>
    </script>
</div>