<div class="col-xs-12 col-md-12 main-inventory" id="germplasm-list-pagination" style="opacity: 0.1">
<form id="germplasm-list-form" role="form-horizontal" class="form-horizontal" action="#"
  th:action="@{/stock}" method="post" enctype="multipart/form-data">

	 <input type="hidden" th:field="*{listId}"/>

	<!-- case 1: no data means no table -->
	 <div th:if="*{germplasmList == null or #lists.isEmpty(germplasmList)}">
	   <span class="noGermplasmListIndicator" th:text="#{study.import.no.germplasm.list}">No Germplasm list</span>
	 </div>

	 <!-- case 2: advanced view of the importedGermplasm -->
	 <div  class="advance-study-list-table" th:if="*{germplasmList != null and not #lists.isEmpty(germplasmList)}">
		 <table th:id="'inventory-table' + *{listId}" th:if="*{not #lists.isEmpty(germplasmList)}" 
		 class="table-curved table-condensed final-advance-list">
		   <thead>
			<tr>
				<th class="fbk-advance-check-box"><div><input type="checkbox" class="selectAllStock" name="selectAllStock" id="selectAllStock"/></div></th>
				<th nowrap="nowrap" th:each="tableHeader : ${tableHeaderList}" th:text="${tableHeader.columnName}"  th:attr="data-col-name=${tableHeader.dataCol}" ></th>
			</tr>
		   </thead>
		   <tbody >
			 <tr class="primaryRow" th:each="gid, row : *{germplasmList}" th:attr="data-gid=${gid.gid}" th:if="*{sourceListType == 'ADVANCED'}">
				<td th:class="${row.even}? 'even fbk-advance-check-box' : 'odd fbk-advance-check-box'">
					<input type="checkbox" class="stockListEntryId" th:attr="data-entryId=${gid.entryId}" th:attrappend="data-inventoryId=${gid.inventoryID}" name="stockListEntryId" id="stockListEntryId"/>
				</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.entryId}">.1</td>
				<td th:class="${row.even}? 'even' : 'odd'" >
					<a href="javascript: void(0)" onclick="javascript: openGermplasmDetailsPopop(this)" th:text="${gid.germplasmName}" th:attr="data-gid=${gid.gid}" th:attrappend="data-desig=${gid.germplasmName}">.2</a>
				</td>
			   <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.parentage}">.2</td>
			   <td th:class="${row.even}? 'even' : 'odd'" >
				<a href="javascript: void(0)" onclick="javascript: openGermplasmDetailsPopop(this)" th:text="${gid.gid}" th:attr="data-gid=${gid.gid}" th:attrappend="data-desig=${gid.germplasmName}">.3</a>
			   </td>
			   <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.source}">.2</td>
                 <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.groupId} == 0 ? '-' : ${gid.groupId}">.2</td>
			   <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.locationName}">.2</td>
			   <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.amount}">.4</td>
			   <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.scaleName}">.6</td>
				 <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.inventoryID}">.6</td>
                 <td data-truncate-limit="30" data-truncate-placement="left" th:class="${row.even}? 'even advance-list-comment' : 'odd advance-list-comment'" th:text="${gid.comment}">.6</td>
             </tr>
			 <tr class="primaryRow" th:each="gid, row : *{germplasmList}" th:attr="data-gid=${gid.gid}" th:if="*{sourceListType == 'CROSSES' || sourceListType == 'CRT_CROSS' || sourceListType == 'IMP_CROSS'}">
				<td th:class="${row.even}? 'even fbk-advance-check-box' : 'odd fbk-advance-check-box'">
					<input type="checkbox" class="stockListEntryId" th:attr="data-entryId=${gid.entryId}" th:attrappend="data-inventoryId=${gid.inventoryID}" name="stockListEntryId" id="stockListEntryId"/>
				</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.entryId}">.1</td>
				<td th:class="${row.even}? 'even' : 'odd'" >
					<a href="javascript: void(0)" onclick="javascript: openGermplasmDetailsPopop(this)" th:text="${gid.germplasmName}" th:attr="data-gid=${gid.gid}" th:attrappend="data-desig=${gid.germplasmName}">.2</a>
				</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.parentage}">.2</td>
				<td th:class="${row.even}? 'even' : 'odd'" >
					<a href="javascript: void(0)" onclick="javascript: openGermplasmDetailsPopop(this)" th:text="${gid.gid}" th:attr="data-gid=${gid.gid}" th:attrappend="data-desig=${gid.germplasmName}">.3</a>
				</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.inventoryID}">.2</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.source}">.2</td>
                 <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.groupId} == 0 ? '-' : ${gid.groupId}">.2</td>
				<td th:class="${row.even} ? 'even' : 'odd'"
					th:text="${gid.duplicate}">.2</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.bulkWith}">.2</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.bulkCompl}">.2</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.locationName}">.2</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.amount}">.4</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.scaleName}">.6</td>

                 <td data-truncate-limit="30" data-truncate-placement="left" th:class="${row.even}? 'even advance-list-comment' : 'odd advance-list-comment'" th:text="${gid.comment}">.6</td>
             </tr>
		   </tbody>
		 </table>
	 </div>
 </form>

 </div>
 <br />

<script type="text/javascript" th:src="@{/static/js/seedInventoryPagination.js}"></script>
