<div class="col-xs-12 col-md-12" >   
<form id="germplasm-list-form" role="form-horizontal" class="form-horizontal" action="#"
  th:action="@{/SeedStoreManager/next}" method="post" th:object="${seedStoreForm}" enctype="multipart/form-data">
     
     <input type="hidden" th:field="*{listId}"/>
      
    <!-- case 1: no data means no table -->
     <div th:if="*{paginatedInventoryList == null or #lists.isEmpty(paginatedInventoryList)}">
       <span class="noGermplasmListIndicator" th:text="#{nursery.import.no.germplasm.list}">No Germplasm list</span>
     </div>
     
     <!-- case 2: advanced view of the importedGermplasm -->
     <div  class="advance-nursery-list-table" th:if="*{paginatedInventoryList != null and not #lists.isEmpty(paginatedInventoryList)}">      
         <table id="inventory-table" th:if="*{not #lists.isEmpty(paginatedInventoryList)}" class="my-class table table-curved table-condensed">
           <thead>
             <tr>
               <th>&nbsp;</th>
               <th th:utext="#{seed.entry.number}">Entry #</th>
               <th th:utext="#{seed.entry.designation}">Designation</th>
               <th th:utext="#{seed.entry.parentage}">Parentage</th>
               <th th:utext="#{seed.inventory.gid}">.GID</th>
               <th th:utext="#{seed.inventory.source}">.Source</th>
               <th th:utext="#{seed.inventory.table.location}">.Location</th>
               <th th:utext="#{seed.inventory.amount}">.Amount</th>
               <th th:utext="#{seed.inventory.table.scale}">.Scale</th>
               <th th:utext="#{seed.inventory.comment}">Comment</th>               
             </tr>
           </thead>
           <tbody>
             <tr class="primaryRow" th:each="gid, row : *{paginatedInventoryList}" th:attr="data-gid=${gid.gid}">
            	<td th:class="${row.even}? 'even fbk-advance-check-box' : 'odd fbk-advance-check-box'">
            		<input type="checkbox" class="advancingListGid" th:attr="data-gid=${gid.gid}" th:attrappend="data-lotId=${gid.locationId}" name="advancingListGid" id="advancingListGid"/> 
           		</td>
                <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.entryId}">.1</td> 
                <td th:class="${row.even}? 'even' : 'odd'" >
					<a href="javascript: void(0)" onclick="javascript: openGermplasmDetailsPopop(this)" th:text="${gid.germplasmName}" th:attr="data-gid=${gid.gid}" th:attrappend="data-desig=${gid.germplasmName}">.2</a>      
				</td>
               <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.parentage}">.2</td>
               <td th:class="${row.even}? 'even' : 'odd'" >
               	<a href="javascript: void(0)" onclick="javascript: openGermplasmDetailsPopop(this)" th:text="${gid.gid}" th:attr="data-gid=${gid.gid}" th:attrappend="data-desig=${gid.germplasmName}">.3</a>               
               </td>
               <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.source}">.2</td>
               <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.locationName}">.2</td>
               <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.amount}">.4</td>
               <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.scaleName}">.6</td>
               <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.comment}">.6</td>
             </tr>             
           </tbody>
         </table> 
     </div>	           
   
   		
        <div th:if="*{inventoryList != null and not #lists.isEmpty(inventoryList)}">
        	<div id="inventory-germplasm-list-pagination"></div>
        </div>
        
     	<div class="row col-xs-12 col-md-12" th:if="*{paginatedInventoryList != null and not #lists.isEmpty(paginatedInventoryList)}">
	 		<input type="checkbox" class="selectAllAdvance" name="selectAllAdvance" id="selectAllAdvance"/> <label class="control-label">&nbsp;Select All</label>
	    </div>
     </form>
     
 </div>
 		
 
<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
    /*globals getJquerySafeId, showMultiTabPage, selectedGidsForAdvance, getCurrentAdvanceTabListIdentifier*/
    /*exported paginationUrl, options*/

        var paginationUrl = /*[[@{/SeedStoreManager/page/advance/}]]*/ '';

        
        var options = {
            currentPage: /*[[${seedStoreForm.currentPage}]]*/'',
            totalPages: /*[[${seedStoreForm.totalPages}]]*/'',

            alignment:'center',
            useBootstrapTooltip:true,
            onPageClicked: function(e,originalEvent,type,page){   
              'use strict';
              var listDivIdentifier  = $('#create-nursery-tab-headers li.active button').attr('id'),
                  sectionContainerDiv = 'advance-list'+listDivIdentifier,
                  listIdentifier = $('#'+getJquerySafeId(sectionContainerDiv) + ' #listId').val();
              showMultiTabPage(paginationUrl, page, 'inventory-germplasm-list', sectionContainerDiv, listIdentifier);
            	
            	
                 	 //we highlight the previously clicked
                  	
           		   var selectedGidArray = selectedGidsForAdvance[getCurrentAdvanceTabListIdentifier()];
           		   for(var index in selectedGidArray) {
              			//console.log( index + " : " + selectedTableIds[index]);
              			var idVal = selectedGidArray[index];
              			if(idVal != null){
              				//we need to highlight
              				$('#'+sectionContainerDiv+' tr.primaryRow[data-gid='+idVal+']').addClass('field-map-highlight');
              			}			
              		 }
                
            }
        };
        $( document ).ready(function() {  
          'use strict';
        	var listDivIdentifier  = $('#create-nursery-tab-headers li.active .fbk-close-tab').attr('id'),
              sectionContainerDiv = 'advance-list'+listDivIdentifier;
        	
    			if($('#' + sectionContainerDiv + ' #inventory-germplasm-list-pagination') !== null){
    				$('#' + sectionContainerDiv + ' #inventory-germplasm-list-pagination').bootstrapPaginator(options);
    			}			
			
	       		
			$('#'+getJquerySafeId(sectionContainerDiv) + ' .selectAllAdvance').on('change', function(){
				//select all the checkbox in the section container div
    				var isChecked = $(this).prop('checked');
    				$('#'+getJquerySafeId(sectionContainerDiv) + ' .advancingListGid').each(function(){
    					$(this).prop('checked', isChecked);
    				});
    			});
        });
        
        
      //]]>
    </script>