<div class="col-xs-12 col-md-12 main-inventory" style="opacity: 0.1">
<form id="germplasm-list-form" role="form-horizontal" class="form-horizontal" action="#"
  th:action="@{/stock}" method="post" enctype="multipart/form-data">

	 <input type="hidden" th:field="*{listId}"/>

	<!-- case 1: no data means no table -->
	 <div th:if="*{germplasmList == null or #lists.isEmpty(germplasmList)}">
	   <span class="noGermplasmListIndicator" th:text="#{nursery.import.no.germplasm.list}">No Germplasm list</span>
	 </div>

	 <!-- case 2: advanced view of the importedGermplasm -->
	 <div  class="advance-nursery-list-table" th:if="*{germplasmList != null and not #lists.isEmpty(germplasmList)}">
		 <table id="inventory-table" th:if="*{not #lists.isEmpty(germplasmList)}"
		 class="table-curved table-condensed final-advance-list">
		   <thead>
			<tr>
				<th class="fbk-advance-check-box"><div><input type="checkbox" class="selectAllStock" name="selectAllStock" id="selectAllStock"/></div></th>
				<th nowrap="nowrap" th:each="tableHeader : ${tableHeaderList}" th:text="${tableHeader.columnName}"  th:attr="data-col-name=${tableHeader.dataCol}" ></th>
			</tr>
		   </thead>
		   <tbody >
			 <tr class="primaryRow" th:each="gid, row : *{germplasmList}" th:attr="data-gid=${gid.gid}" th:if="*{sourceListType == 'ADVANCED'}">
				<td th:class="${row.even}? 'even fbk-advance-check-box' : 'odd fbk-advance-check-box'">
					<input type="checkbox" class="stockListEntryId" th:attr="data-entryId=${gid.entryId}" th:attrappend="data-lotId=${gid.entryId}" name="stockListEntryId" id="stockListEntryId"/>
				</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.entryId}">.1</td>
				<td th:class="${row.even}? 'even' : 'odd'" >
					<a href="javascript: void(0)" onclick="javascript: openGermplasmDetailsPopop(this)" th:text="${gid.germplasmName}" th:attr="data-gid=${gid.gid}" th:attrappend="data-desig=${gid.germplasmName}">.2</a>
				</td>
			   <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.parentage}">.2</td>
			   <td th:class="${row.even}? 'even' : 'odd'" >
				<a href="javascript: void(0)" onclick="javascript: openGermplasmDetailsPopop(this)" th:text="${gid.gid}" th:attr="data-gid=${gid.gid}" th:attrappend="data-desig=${gid.germplasmName}">.3</a>
			   </td>
			   <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.source}">.2</td>
			   <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.locationName}">.2</td>
			   <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.amount}">.4</td>
			   <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.scaleName}">.6</td>
				 <td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.inventoryID}">.6</td>
			   <td data-truncate-limit="30" data-truncate-placement="left" th:class="${row.even}? 'even advance-list-comment' : 'odd advance-list-comment'" th:text="${gid.comment}">.6</td>
			 </tr>
			 <tr class="primaryRow" th:each="gid, row : *{germplasmList}" th:attr="data-gid=${gid.gid}" th:if="*{sourceListType == 'CROSSES'}">
				<td th:class="${row.even}? 'even fbk-advance-check-box' : 'odd fbk-advance-check-box'">
					<input type="checkbox" class="stockListEntryId" th:attr="data-entryId=${gid.entryId}" th:attrappend="data-lotId=${gid.entryId}" name="stockListEntryId" id="stockListEntryId"/>
				</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.entryId}">.1</td>
				<td th:class="${row.even}? 'even' : 'odd'" >
					<a href="javascript: void(0)" onclick="javascript: openGermplasmDetailsPopop(this)" th:text="${gid.germplasmName}" th:attr="data-gid=${gid.gid}" th:attrappend="data-desig=${gid.germplasmName}">.2</a>
				</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.parentage}">.2</td>
				<td th:class="${row.even}? 'even' : 'odd'" >
					<a href="javascript: void(0)" onclick="javascript: openGermplasmDetailsPopop(this)" th:text="${gid.gid}" th:attr="data-gid=${gid.gid}" th:attrappend="data-desig=${gid.germplasmName}">.3</a>
				</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.inventoryID}">.2</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.source}">.2</td>

				<td th:class="${hasCompletedBulking}? (${row.even} ? 'even' : 'odd') : ${T(com.efficio.fieldbook.web.common.util.GermplasmListWebUIUtil).getCSSClassForDuplicateType(gid) + ' ' + (row.even ? 'even' : 'odd')}"
					th:text="${gid.duplicate}">.2</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.bulkWith}">.2</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.bulkCompl}">.2</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.locationName}">.2</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.amount}">.4</td>
				<td th:class="${row.even}? 'even' : 'odd'" th:text="${gid.scaleName}">.6</td>

				<td data-truncate-limit="30" data-truncate-placement="left" th:class="${row.even}? 'even advance-list-comment' : 'odd advance-list-comment'" th:text="${gid.comment}">.6</td>
			 </tr>
		   </tbody>
		 </table>
	 </div>
	 </form>

 </div>
 <br />

<script type='text/javascript' th:inline="javascript">
//<![CDATA[
/*globals getJquerySafeId, showMultiTabPage, truncateStudyVariableNames*/
/*exported paginationUrl, options*/

var InventoryPage = {
	setupPage: function() {
		var listDivIdentifier  = '';
		if ($('#create-nursery-tab-headers .tabdrop').hasClass('active')) {
			//means the active is in the tab drop
			listDivIdentifier  = $('#create-nursery-tab-headers .tabdrop li.active .fbk-close-tab').attr('id');
		} else {
			listDivIdentifier  = $('#create-nursery-tab-headers li.active .fbk-close-tab').attr('id');
		}

		var sectionContainerDiv = 'stock-content-pane' + listDivIdentifier;

		$('#' + getJquerySafeId(sectionContainerDiv) + ' .selectAllStock').on('change', function(event) {
			//select all the checkbox in the section container div
			//needed set time out since chrme is not able to rnder properly the checkbox if its checked or not
			setTimeout(function() {
				var isChecked = $('#' + getJquerySafeId(sectionContainerDiv) + ' .selectAllStock').prop('checked');
				$('#' + getJquerySafeId(sectionContainerDiv) + ' .advance-nursery-list-table #inventory-table tr').removeClass('selected');
				$('#' + getJquerySafeId(sectionContainerDiv) + ' .advance-nursery-list-table #inventory-table tr').removeClass('manual-selected');
				$('#' + getJquerySafeId(sectionContainerDiv) + ' input.stockListEntryId').prop('checked', isChecked);

				if (isChecked) {
					$('#' + getJquerySafeId(sectionContainerDiv) + ' .advance-nursery-list-table #inventory-table tr').addClass('selected');
					$('#' + getJquerySafeId(sectionContainerDiv) + ' .advance-nursery-list-table #inventory-table tr').addClass('manual-selected');
				}
				$('#' + getJquerySafeId(sectionContainerDiv) + ' .numberOfAdvanceSelected').html($('#' + getJquerySafeId(sectionContainerDiv) + ' tr.primaryRow.selected').length);
			}, 10);

		});

		$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table').tableSelect({
			onClick: function(row) {
				//we clear all check
				if ($('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table').data('check-click') === '1') {
					$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table').data('check-click', '0');
					$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table tr.manual-selected').addClass('selected');
					$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table tr:not(.manual-selected) input.stockListEntryId:checked').parent().parent().addClass('selected');
					$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table tr.selected input.stockListEntryId:not(:checked)').parent().parent().removeClass('selected');
				} else {
					$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table input.stockListEntryId').prop('checked', false);
					$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table tr.manual-selected').removeClass('manual-selected');
					if ($(row).hasClass('selected')) {
						$(row).find('input.stockListEntryId').prop('checked', true);
					} else {
						$(row).find('input.stockListEntryId').prop('checked', false);
					}
				}
				$('#' + getJquerySafeId(sectionContainerDiv) + ' .numberOfAdvanceSelected').html($('#' + getJquerySafeId(sectionContainerDiv) + ' tr.primaryRow.selected').length);
			},
			onCtrl: function(row) {

				$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table tr.selected input.stockListEntryId').prop('checked', true);
				$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table tr:not(.selected) input.stockListEntryId').prop('checked', false);
				if ($(row).hasClass('manual-selected') || $(row).hasClass('selected')) {
					$(row).find('input.stockListEntryId').prop('checked', true);
					$(row).addClass('selected');
				} else {
					$(row).find('input.stockListEntryId').prop('checked', false);
					$(row).removeClass('selected');
				}
				if ($('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table').data('check-click') === '1') {
					$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table').data('check-click', '0');
					if ($(row).hasClass('selected') && $(row).hasClass('manual-selected') === false) {
						$(row).find('input.stockListEntryId').prop('checked', false);
						$(row).removeClass('selected');
					}
				}
				$('#' + getJquerySafeId(sectionContainerDiv) + ' .numberOfAdvanceSelected').html($('#' + getJquerySafeId(sectionContainerDiv) + ' tr.primaryRow.selected').length);
			},
			onShift: function() {
				$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table tr.manual-selected-dummy').addClass('selected');
				$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table tr.selected input.stockListEntryId').prop('checked', true);
				$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table tr:not(.selected) input.stockListEntryId').prop('checked', false);
				$('#' + getJquerySafeId(sectionContainerDiv) + ' .numberOfAdvanceSelected').html($('tr.primaryRow.selected').length);
			}

		});

		$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table input.stockListEntryId').on('click', function() {
			$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table').data('check-click', '1');
			if ($(this).is(':checked')) {
				//we highlight
				$(this).parent().parent().addClass('selected');
				$(this).parent().parent().addClass('manual-selected');
			} else {
				$(this).parent().parent().removeClass('selected');
				$(this).parent().parent().removeClass('manual-selected');
			}
			$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table tr.manual-selected input.stockListEntryId').prop('checked', true);
			$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table tr.manual-selected').addClass('selected');
			$('#' + sectionContainerDiv + ' .advance-nursery-list-table #inventory-table tr:not(.manual-selected)').remove('selected');
			$('#' + getJquerySafeId(sectionContainerDiv) + ' .numberOfAdvanceSelected').html($('#' + getJquerySafeId(sectionContainerDiv) + ' tr.primaryRow.selected').length);
		});

		new BMS.Fieldbook.FinalAdvancedGermplasmListDataTable('#' + sectionContainerDiv + ' .final-advance-list', '#' + sectionContainerDiv, null, false);
		$('#' + sectionContainerDiv + ' .main-inventory').css('opacity', 1);
	}
};

$(document).ready(function() {
	'use strict';
	setTimeout(InventoryPage.setupPage, 3);

});
//]]>
</script>
