<div class="modal fade manageGermplasmContext" id="listTreeModal" tabindex="-1" role="dialog" aria-labelledby="listTreeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-autofit">
		<div class="modal-content">

			<div class="modal-body">

				<div class="row form-group">
					<div class="col-xs-11 col-md-11">
						<label class="control-label fbk-modal-title" th:text="#{browse.for.list.browse.for.list}">Browse For Lists</label>
					</div>
					<div class="col-xs-1 col-md-1 ">
						<button id="closeStudyTreeModal" type="button" class="close pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true" style="padding-top: 5px"></button>
					</div>
				</div>

				<div class="row">
					<div id="page-import-message-modal" class="col-xs-12 col-md-12">
					</div>
				</div>

				<div class="row form-group modal-popover ">
					<div class="col-xs-7 col-md-7">
						<img th:src="@{/static/img/build-new-list.png}" class="fbk-icon-header" />
						<label class="control-label fbk-modal-title" th:text="#{browse.for.list.all.lists}">All Lists</label>
					</div>
					<div class="col-xs-5 col-md-5">
						<div class="pull-right">
							<img onclick="javascript: germplasmTreetable.addFolderInTreeTable(this)" th:src="@{/static/img/add2.png}" class="image-padding browse-action disable-image" />
							<img onclick="javascript: germplasmTreetable.renameFolderInTreeTable(this)" th:src="@{/static/img/edit.png}" class="image-padding browse-action edit-folder disable-image" />
							<img onclick="javascript: germplasmTreetable.deleteFolderInTreeTable(this)" th:src="@{/static/img/delete.png}" class="image-padding browse-action delete-folder disable-image" />
						</div>
					</div>
				</div>

				<div class="form-horizontal form-group">
					<div id="addFolderDiv" class="fbk-hide">
						<div class="col-xs-2 col-md-2 nopadding">
							<label class="control-label label-bold" th:utext="#{browse.nursery.add.folder.name}">Folder Name: <span class="required">*</span></label>
						</div>
						<div class="col-xs-4 col-md-4 nopadding">
							<div class="input-group">
								<input id="addFolderName" name="addFolderName" type="text" class="form-control select2" placeholder="Folder Name" onkeypress="folderChangeKeypress(event, '1');"/>
								<span class="input-group-btn">
									<button class="btn btn-success" id="addGermplasmFolderOkButton" onclick="javascript: germplasmTreetable.createFolderInTreeTable()">
										<span class="glyphicon glyphicon-ok"></span>
									</button>
									<button class="btn btn-danger" id="addGermplasmFolderCancelButton" onclick="javascript: hideFolderDiv('#addFolderDiv')">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div id="renameFolderDiv" class="fbk-hide">
						<div class="col-xs-2 col-md-2 nopadding">
							<label class="control-label  label-bold" th:utext="#{browse.nursery.rename.folder.input.label}">Folder Name: <span class="required">*</span></label>
						</div>
						<div class="col-xs-4 col-md-4 nopadding">
							<div class="input-group">
								<input id="newFolderName" name="newFolderName" type="text" class="form-control select2" placeholder="Folder Name" onkeypress="folderChangeKeypress(event, '2');"/>
								 <span class="input-group-btn">
									 <button class="btn btn-success" id="renameGermplasmFolderOkButton" onclick="javascript: germplasmTreetable.submitRenameFolderInTreeTable()">
										 <span class="glyphicon glyphicon-ok"></span>
									 </button>
									 <button class="btn btn-danger" id="renameGermplasmFolderCancelButton" onclick="javascript: hideFolderDiv('#renameFolderDiv')">
										 <span class="glyphicon glyphicon-remove"></span>
									 </button>
								 </span>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>

				<div class="row form-group" >
					<!-- Germplasm List Tree View -->
					<div class="col-md-12 col-xs-12 germplasm-tree-section" id="germplasmTree" style="height:350px; overflow:auto;"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
				<button type="button" class="btn btn-primary" th:text="#{common.form.select.text}" onclick="javascript: ListTable.chooseList();">Ok</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div id="open-germplasm-list" th:include="/Common/includes/manageGermplasmListTableOperation"></div>
</div>
<div id="list-tree-include" th:include="/Common/includes/listTreeTableInclude"></div>

<div layout:fragment="page-script">

<script type="text/javascript" th:inline="javascript">
//<![CDATA[

//TODO move this global to globals.html
var importLocationUrl = /*[[#{nursery.apps.import.nursery.url}]]*/ '';

	//]]>
</script>
	<script type="text/javascript" th:src="@{/static/js/browseGermplasmListTable.js}"></script>
</div>
