<form class="editCheck" role="form-horizontal" action="#" method="post" th:object="${updatedGermplasmCheckForm}">
<input type="hidden" th:field="*{index}"/>
<div class="row form-group">


<div class="col-xs-8 col-md-8 nopadding">
    <div class="input-group">
        <select style="width: 150px" th:field="*{checkVal}">	
			<option th:each="checkType : ${allCheckTypes}"  th:attr="data-code=${checkType.name}" th:value="${checkType.id}" th:text="${checkType.description}"></option>
		</select>
        <span class="input-group-btn">
            <button class="btn btn-success submit-edit-check">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button class="btn btn-danger cancel-edit-check">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </span>
    </div>
</div>

</div>
</form>

<div layout:fragment="page-script">
	<script type='text/javascript' th:inline="javascript">
		//<![CDATA[
		function updateCheck(){
			$.ajax({
				url: '/Fieldbook/NurseryManager/GermplasmList/update/check',
				type: 'POST',
				data: $('.editCheck').serialize(),
				success: function(data) {
					//update the hidden and the a href
					$('#selectedCheck'+$('.editCheck #index').val()).val($('.editCheck #checkVal').select2('data').id);
					
					$('.edit-check'+$('.editCheck #index').val()).html($('.editCheck #checkVal').select2('data').text);
					$('.editCheck #checkVal').select2('destroy');
					$('.check-germplasm-list-items #selectedCheck'+$('.editCheck #index').val()).data('code',  $('.editCheck #checkVal option:selected').data('code'));
					$('.edit-check'+$('.editCheck #index').val()).data('code',  $('.editCheck #checkVal option:selected').data('code'));
					$('.check-germplasm-list-items .popover').remove();
				}
			});
			return false;
		}	
		
		$( document ).ready(function() {
			$('.cancel-edit-check').on('click', function(){$('.check-germplasm-list-items .popover').remove();});
			$('.submit-edit-check').on('click', updateCheck);
			'use strict';
					$('.editCheck select').each(function(){
						$(this).select2({width: 'copy', minimumResultsForSearch: $(this).find('option').length == 0 ? -1 : 20});					
					});
					
			});
		//]]>
	</script>
</div>