<div class="row col-xs-12 col-md-12 landing-page" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header trial-header">
		<h1><span th:text="#{study.managestudies.header}">Manage Study</span> <a class="bms-fa-question-circle fbk-help" data-help-link="MANAGE_STUDIES"></a></h1>
	</div>
</div>
<input type="hidden" id="programUUID" th:value="${programUUID}"/>
<input type="hidden" id="cropName" th:value="${cropName}"/>
<input type="hidden" id="preloadSummaryId" th:value="${preloadSummaryId}"/>
<input type="hidden" id="preloadSummaryName" th:value="${preloadSummaryName}"/>
<div class="move-left col-xs-12 col-md-12">
	<div class="form-group">
		<div id="page-message"></div>
	</div>
	<div>
		<div class="row">
			<div class="col-xs-7 col-md-7">
				<img th:src="@{/static/img/new-nursery.png}" class="image-padding image-padding-with-text" />
				<label class="h2_no_transform" th:text="#{browse.studies.header}"></label>
				<label class="control-label"><a href="javascript: openStudyTree(1)">Browse</a> for a study to work with.</label>
			</div>
			<div class="col-xs-5 col-md-5">
				<div style="float: right; padding-right: 10px;">
					<a th:href="@{/TrialManager/createTrial}" class="btn btn-info"
					th:utext="#{browse.study.start.new.study}">Start a New Study</a>
				</div>
			</div>
		</div>
		<div class="row">&nbsp;</div>
		<!-- details section -->
		<div class="row">
			<div id="browser-studies">
				<div class="col-xs-12 col-md-12">
					<div th:include="/Common/includes/studyInfo"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div th:include="/Common/studyLanding" />
</div>

<script type='text/javascript' th:inline="javascript">
//<![CDATA[
var openStudyError = /*[[#{common.error.open.study}]]*/ '',
	advanceStudyError = /*[[#{common.error.advance.study}]]*/ '',
	showText = /*[[#{study.studydetails.additional.show}]]*/ '',
	hideText = /*[[#{study.studydetails.additional.hide}]]*/ '',
	currentStudyId = getCurrentStudyIdInTab(),
	selectedTableIds = [];

(function() {
	$('document').ready(function() {
		if (redirectErrorMessage !== null && redirectErrorMessage !== '') {
			createErrorNotification(errorMsgHeader, redirectErrorMessage);
		}
		if ($('#preloadSummaryId').val() !== '') {
			addDetailsTab($('#preloadSummaryId').val(), $('#preloadSummaryName').val());
		}
		if (!bmsAuth.isValidToken()) {
			bmsAuth.handleReAuthentication();
		}
	});
})();

//]]>
</script>
