<!--
//TODO REMOVE THIS HTML.
-->
<form role="form-horizontal" action="#" method="post"
	th:object="${reviewDetailsOutOfBoundsForm}"
	id="reviewDetailsOutOfBoundsForm">

	<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title" id="heading-modal" th:text="#{review.details.out.of.bounds.data.header(*{measurementVariable.name})}"></label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button id="close" type="button" class="close  pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true" ></button>
						</div>
	</div>
	<div class="row add_top_padding">
		<div class="col-xs-12 col-md-12">
			<span th:text="#{review.details.out.of.bounds.data.descripton1}"></span> <a id="traitDetailLink" href="#"
				th:text="*{measurementVariable.name}"></a> <span th:text="#{review.details.out.of.bounds.data.descripton2}"></span>
		</div>
	</div>
	<div class="row add_top_padding" th:if="*{measurementVariable.dataTypeId == T(org.generationcp.middleware.domain.oms.TermId).CATEGORICAL_VARIABLE.getId()}">
		<div class="col-xs-6 col-md-6">
			<strong th:text="#{review.details.out.of.bounds.data.valid.values}"></strong>

			<table class="table table-curved table-condensed"
				th:if="*{measurementVariable.possibleValues != null and not #lists.isEmpty(measurementVariable.possibleValues)}">
				<thead>
					<tr>
						<th th:text="#{review.details.out.of.bounds.data.label}">LABEL</th>
						<th th:text="#{review.details.out.of.bounds.data.description}">DESCRIPTION</th>
					</tr>
				</thead>
				<tr th:each="refval : *{measurementVariable.possibleValues}">
					<td th:text="${refval.name}"></td>
					<td th:text="${refval.description}"></td>
				</tr>

			</table>
		</div>
	</div>
	<div class="row add_top_padding" th:if="*{measurementVariable.dataTypeId == T(org.generationcp.middleware.domain.oms.TermId).NUMERIC_VARIABLE.getId()}">
		<div class="col-xs-6 col-md-6">

			<table class="table table-curved table-condensed">
				<thead>
					<tr>
						<th th:text="#{review.details.out.of.bounds.data.min.range}">Min Value</th>
						<th th:text="#{review.details.out.of.bounds.data.max.range}">Max Value</th>
					</tr>
				</thead>
				<tr>
					<td th:text="*{measurementVariable.minRange}"></td>
					<td th:text="*{measurementVariable.maxRange}"></td>
				</tr>

			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div th:include="/Common/showReviewDetailsPerTraitPaginationNursery"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2 col-md-2">
			<input type="checkbox" id="checkReviewDetailsSelectAll" /><span th:text="#{review.details.out.of.bounds.data.select.all}">&nbsp;Select All</span>
		</div>
		<div class="col-xs-4 col-md-6">
			<select id="selectAction">
				<option value="" th:text="#{common.please.choose}"></option>
				<option value="1" th:text="#{review.details.out.of.bounds.data.accept.as.is}"></option>
				<option value="2" th:text="#{review.details.out.of.bounds.data.apply.new.value}"></option>
				<option value="3" th:text="#{review.details.out.of.bounds.data.set.to.missing}"></option>
			</select>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="control-group">
				<input type="text" id="selectActionValue" class="form-control" />
			</div>
		</div>

	</div>
	<div class="row-fluid add_top_padding">
		<div class="col-xs-6 col-md-6">
			<a th:if="*{traitIndex &gt; 0}" href="#" id="previousTraitLink" th:text="#{review.details.out.of.bounds.data.previous.trait}"></a>
		</div>
		<div class="col-xs-6 col-md-6">
			<div class="pull-right">
				<a th:if="*{traitIndex &lt; traitSize-1}" id="nextTraitLink"  href="#" th:text="#{review.details.out.of.bounds.data.next.trait}"></a>
			</div>
		</div>
	</div>

	<input type="hidden" th:field="*{traitIndex}" />
	<input type="hidden" th:field="*{traitTermId}" />

</form>

<script type="text/javascript" th:inline="javascript">
//<![CDATA[
	jQuery().ready(function() {
		'use strict';
		$('#selectAction').select2({
			minimumResultsForSearch: -1
		}).on('change', function(e) {
			if (e.val !== '2') {
				$('#selectActionValue').val('');
			}
		});
		$('#checkReviewDetailsSelectAll').on('change', function() {
			var isChecked = $('#checkReviewDetailsSelectAll').prop('checked');
			var cells = $('#review-details-table').DataTable().cells().nodes();
			$(cells).find(':checkbox').prop('checked', $(this).is(':checked'));
		});
		$('#traitDetailLink').on('click', function(e) {

			showBaselineTraitDetailsModal($('#traitTermId').val());
			e.preventDefault();
			e.stopPropagation();
		});
		$('#previousTraitLink').on('click', function(e) {

			saveForm('previous');
			e.preventDefault();
			e.stopPropagation();
		});
		$('#nextTraitLink').on('click', function(e) {

			saveForm('next');
			e.preventDefault();
			e.stopPropagation();
		});
	});

	function saveForm(navigateAction) {

		if (validateReviewDetailsOutOfBoundsDataForm()) {
			saveFormDataToSessionStorage($('#traitTermId').val());
			navigateDetailsOutOfBoundsData(navigateAction);
		}

	}

	function navigateDetailsOutOfBoundsData(action) {
		'use strict';
		if ($('#reviewDetailsOutOfBoundsDataModalBody').length !== 0) {
			$.ajax({
				url: '/Fieldbook/Common/ReviewDetailsOutOfBounds/showDetails/' + action,
				type: 'POST',
				data: $('#reviewDetailsOutOfBoundsForm').serialize(),
				success: function(html) {
					$('#reviewDetailsOutOfBoundsDataModalBody').html(html);
				}
			});
		}
	}
//]]>
</script>
