<form id="saveListForm" role="form-horizontal" action="#" th:object="${saveListForm}" enctype="multipart/form-data">

	<input type="hidden" th:field="*{listIdentifier}"/>
	<input type="hidden" th:field="*{parentId}"/>

	<div class="row">
		<div class="col-xs-12 col-md-12">
			<label class=""><em th:utext="#{fieldmap.mandatory.fields}"> Mandatory fields are noted with a *</em></label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-xs-5 col-md-5">
			<label class="control-label label-bold" th:text="#{germplasm.save.list.name.label}">List Name:</label><span class="required">*</span>
		</div>
		<div class="col-xs-7 col-md-7">
			<input type="text" class="form-control" th:field="*{listName}"/>
		</div>
	</div>

	<div class="row form-group">
		<div class="col-xs-5 col-md-5">
			<label class="control-label label-bold" th:text="#{germplasm.save.list.description.label}">List Description:</label><span class="required">*</span>
		</div>
		<div class="col-xs-7 col-md-7">
			<input type="text" class="form-control" th:field="*{listDescription}"/>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-xs-5 col-md-5">
			<label class="control-label label-bold" th:text="#{germplasm.save.list.type.label}">List Type:</label><span class="required">*</span>
		</div>
		<div class="col-xs-7 col-md-7">
			<select class="form-input"  th:field="*{listType}">
				<option th:each="listType : ${germplasmListTypes}" th:value="${listType.fcode}" th:text="${listType.fname}"></option>
			</select>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-xs-5 col-md-5">
			<label class="control-label label-bold" th:text="#{germplasm.save.list.date.label}">List Date:</label><span class="required">*</span>
		</div>
		<div class="col-xs-7 col-md-7" data-date="" data-date-format="yyyymmdd">
			<input placeholder="yyyy-mm-dd" type="text" class="form-control date-input" th:field="*{listDate}" style="width: 100px"/>
			<label for="listDate" class="btn datepicker">
				<img width="20" height="22" th:src="@{/static/img/calendar.png}" style="padding-bottom:3px;" />
			</label>

		</div>
	</div>

	<div class="row form-group">
		<div class="col-xs-5 col-md-5">
			<label class="control-label label-bold" th:text="#{germplasm.save.list.notes.label}">Notes:</label>
		</div>
		<div class="col-xs-7 col-md-7">
			<textarea rows="5" cols="20" class="form-control" th:field="*{listNotes}"/>
		</div>
	</div>

</form>

<div layout:fragment="page-script">
	<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
	/*globals treeReloading, initializeDateAndSliderInputs*/

		 $(document).ready(function() {
		 	'use strict';
			$('#saveListForm select').select2({minimumResultsForSearch: 20});
			

				if($('#saveListForm .date-input').length > 0){
					$('#saveListForm .date-input').each(function(){
						$(this).datepicker({'format': 'yyyy-mm-dd'}).on('change', function () {
					    var curDate = $(this).val();
					    try {
					        var r = $.datepicker.parseDate('yy-mm-dd', curDate);
					        $(this).datepicker('setDate', r);
					    } catch(e) {			        
					        $(this).datepicker('setDate', new Date());
					    }
					}).on('changeDate', function() {
						$(this).datepicker('hide');

					}).on('show', function(){
						treeReloading = 1;
					}).on('hide', function(){
						setTimeout(function(){treeReloading = 0;}, 1000);
					});
					});
				}
				initializeDateAndSliderInputs();
		});
	//]]>
	</script>
</div>
