<div class="modal fade" id="saveListTreeModal" tabindex="-1" role="dialog" aria-labelledby="saveListTreeModal" aria-hidden="true">
	<div class="modal-dialog modal-large">
    	<div class="modal-content">
    		<div class="modal-header">
	            	<button id="closeSaveListTreeModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			           <h4 class="modal-title" id="heading-modal" th:text="#{germplasm.save.list.header}">
			         		Edit List Header
		         	   </h4>		         	   		         	   	           
	          	</div>
      		<div class="modal-body">
      			<div class="row">
	         		<div id="page-save-list-message-modal" class="col-xs-12 col-md-12">
	         		</div>
         		</div>         		
         		<div class="row"> 
         			<div class="col-xs-6 col-md-6">   
						<div style="margin-left: -10px" class="col-xs-6 col-md-6">  			
				  			<img th:src="@{/static/img/build-new-list.png}" style="padding-bottom:3px;" />
				  			<label class="control-label"><strong class="sub-content-heading">List Location</strong></label>
				 		</div>
						 <div style="margin-left: 10px" class="col-xs-6 col-md-6">
							<div style="float: right; ">
								<img width="30px" onclick="javascript: addGermplasmFolder(this)" height="30px" th:src="@{/static/img/add 2.png}" class="image-padding browse-germplasm-action" />
								<img width="30px" onclick="javascript: renameGermplasmFolder(this)" height="30px" th:src="@{/static/img/edit.png}" class="image-padding browse-germplasm-action edit-germplasm-folder" />
								<img width="30px" onclick="javascript: deleteGermplasmFolder(this)" height="30px" th:src="@{/static/img/delete.png}" class="image-padding browse-germplasm-action delete-germplasm-folder" />
							</div>
						</div>
					</div>	  
					<div class="col-xs-6 col-md-6">   
						<div style="top: 8px; left: -15px" class="col-xs-12 col-md-12">  							  			
				  			<label class="control-label"><strong class="sub-content-heading">List Details</strong></label>
				 		</div>						 
					</div>	    						      						      		
				</div>
         		<div class="row">    
					<div class="col-xs-6 col-md-6">  			
				  		<div id="germplasmFolderTree" style="height:350px; overflow:auto;"></div>
			 		</div>
					<div class="col-xs-6 col-md-6" id="saveGermplasmRightSection">
					</div>	      						      						      		
				</div>
																		
      		</div>
	  		<div class="modal-footer">
    			<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
      			<button type="button" class="btn btn-primary" th:text="#{common.form.save.text}" onclick="javascript: saveGermplasmList();">Ok</button>			        	
    		</div>
  		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="list-tree-include" th:include="/Common/listTreeInclude"></div>
<!-- 
<a href="javascript: void(0)" onclick="javascript: openSaveListModal('1111')">Show Test Save</a>
 --> 


<div layout:fragment="page-script">
<script type='text/javascript' th:inline="javascript">
	//<![CDATA[     
	           var folderRequired = /*[[#{germplasm.save.list.folder.error}]]*/;
	           var nameRequired = /*[[#{germplasm.save.list.name.error}]]*/;
	           var descriptionRequired = /*[[#{germplasm.save.list.description.error}]]*/;
	           var dateRequired = /*[[#{germplasm.save.list.date.error}]]*/;
	           var typeRequired = /*[[#{germplasm.save.list.type.error}]]*/;
	           var nameDuplicateError = /*[[#{germplasm.save.list.name.unique.error}]]*/;
	           var treeReloading = 1; // this will prevent reloading
	           
	         
	          
	           
         $( document ).ready(function() {
			  
			  displayGermplasmListTree("germplasmFolderTree", true);  				    				 
			  changeBrowseGermplasmButtonBehavior(false);
			  $('#saveListTreeModal').on('hidden.bs.modal', function() {
				  treeReloading = 0;
				  $('#germplasmFolderTree').dynatree("getTree").reload();
				  changeBrowseGermplasmButtonBehavior(false);
				})
				 
		  });
          function openSaveListModal(object){
        	  var listIdentifier = $(object).attr('id');
        	  additionalLazyLoadUrl = "/1";
        	  Spinner.toggle();
       		  $.ajax(
     		         { url: "/Fieldbook/ListTreeManager/saveList/"+listIdentifier,
     		           type: "GET",     		           
     		           cache: false,
     		           success: function(html) {
     		        	    $('#page-save-list-message-modal').html('');
  		        	   	    $('#saveGermplasmRightSection').html(html)							
  		        	 		$('#saveListTreeModal').modal({
  		        	            show: true,
  		        	            keyboard: false,
  		        	            backdrop: 'static'
  		        	        });
  		        	 		Spinner.toggle();
     		           }
     		         }
    		       );
        	  
        	  
          }
          function saveGermplasmList(){
			var chosenNodeFolder = $('#'+getDisplayedTreeName()).dynatree("getTree").getActiveNode();
			var errorMessageDiv = 'page-save-list-message-modal';
			if(chosenNodeFolder == null){
				showErrorMessage(errorMessageDiv, folderRequired);
				return false;
			}
			if($('#listName').val() == ''){
				showErrorMessage(errorMessageDiv, nameRequired);
				return false;
			}
			if($('#listDescription').val() == ''){
				showErrorMessage(errorMessageDiv, descriptionRequired);
				return false;
			}
			if($('#listType').val() == ''){
				showErrorMessage(errorMessageDiv, typeRequired);
				return false;
			}
			if($('#listDate').val() == ''){
				showErrorMessage(errorMessageDiv, dateRequired);
				return false;
			}
			
			var dataForm = $('#saveListForm').serialize()
      		  $.ajax(
    		         { url: "/Fieldbook/ListTreeManager/saveList/",
    		           type: "POST", 
    		           data: dataForm,
    		           cache: false,
    		           success: function(data) {
    		        	    if(data.isSuccess == 1){
    		        	    	$('#saveListTreeModal').modal('hide');
    		        	    }else{
    		        	    	showErrorMessage('page-save-list-message-modal', data.message);
    		        	    }
    		           }
    		         }
   		       );
			
          }
    //]]>
    </script>
</div>