<div class="col-xs-7 col-md-7" xmlns:th="http://www.thymeleaf.org">
	<!-- Modal -->
	<div class="modal fade" id="studyTreeFieldmapModal" role="dialog" aria-labelledby="studyTreeFieldmapModal" aria-hidden="true">
		<div class="modal-dialog">

			<div class="modal-content modal-extra-medium ">
				<div class="modal-body" id="studyTreeFieldmapModal">
					<div class="row">
						<div class="col-xs-6 col-md-6">
							<img th:src="@{/static/img/new-nursery.png}" class="image-padding image-padding-with-text"/>
							<label class="fbk-modal-title fbk-study-tree-title fbk-hide trial" th:text="#{browse.studies.header}"></label>
						</div>
						<div class="col-xs-6 col-md-6">
							<label class="fbk-modal-title fbk-study-tree-title fbk-field-map-selected-header"></label>
							<button id="closeStudyTreeFieldmapModal" type="button" class="close pull-right glyphicon glyphicon-remove pull-right" data-dismiss="modal" aria-hidden="true" style="padding-top: 10px"></button>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-md-6">
							<div class="col-xs-4 nopadding">
								<label class="control-label label-bold" th:utext="#{browse.study.study.type}" style="padding-top: 10px">Study Type:</label>
							</div>
							<div class="col-xs-8" style="padding-right:0px">
								<select class="form-control" id="fieldMapStudyTypeFilter" onchange="filterFieldmapTreeByStudyType()">
									<option value="All">All</option>
									<option th:each="studyType : ${studyTypes}" th:value="${studyType.name}" th:text="${studyType.label}"></option>
								</select>
							</div>
						</div>
						<div class="col-xs-6 col-md-6">
							<label class="fbk-field-map-selected-sub-header"></label>
						</div>
					</div>
					<div class="row">
						<div id="selectStudyFieldMapTree" class="study-field-map-tree col-xs-6 col-md-6">
						</div>
						<div class="col-xs-6 col-md-6">
							<table class="my-class table table-curved table-condensed selected-study-fieldmap-table">
								  <thead>
									<tr>
									  <th width="10%">&nbsp;</th>
									  <th width="90%" id="table-field-map-header"></th>
									</tr>
								  </thead>
								  <tbody>

								  </tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-md-6 add_top_padding fbk-center">
							<button type="button" class="btn btn-info choose-study-field-map" th:text="#{common.form.select.text}"></button>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" th:text="#{common.form.cancel.text}">Cancel</button>
					<button type="button" class="btn btn-primary generate-study-field-map" th:text="#{common.form.next.text}">Next</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div layout:fragment="page-script">

<script type="text/javascript" th:inline="javascript">
//<![CDATA[
var urlFieldmap = '',
lazyReadUrlFieldmap = '',
lazyReadAllUrlFieldmap = '/Fieldbook/StudyTreeManager/retrieveChildren/',
focusNodeFieldmap = null;

$(document).ready(function() {
	'use strict';
	displayStudyFieldMapListTree('selectStudyFieldMapTree');
	$('.choose-study-field-map').click('click', chooseStudyFieldMap);
	$('.generate-study-field-map').on('click', function() {
		if ($('table.selected-study-fieldmap-table tbody tr').length === 0) {
			showErrorMessage('', fieldmapRequireOneTrial );
		} else {
			var ids = [],
				idList;

			// Get selected studies
			$('table.selected-study-fieldmap-table tbody tr').each(function() {
				ids.push($(this).attr('id'));
			});
			idList = ids.join(',');
			// Show pop up to select instances/dataset for field map creation
			showFieldMapPopUpCreate(idList);
			$('#studyTreeFieldmapModal').modal('hide');

		}

	});
});

function filterFieldmapTreeByStudyType(){
	// Toggle visibility of study nodes based on filter
	$('#selectStudyFieldMapTree').dynatree('getTree').visit(function(node){
		filterFieldmapTreeNodeByStudyType(node);
	});
}

function filterFieldmapTreeNodeByStudyType(node) {
	var studyType = $('#fieldMapStudyTypeFilter').val();
	// Show node if "All" study type filter is chosen or if node is folder
	if (studyType === 'All' || node.data.isFolder === true){
		$(node.li).show();
	// Otherwise filter study by chosen type
	} else {
		if (node.data.type === studyType) {
			$(node.li).show(); 
		} else {
			$(node.li).hide();
		}
	}
	
}

function openStudyFieldmapTree(id, name) {
	'use strict';
    $('#fieldMapStudyTypeFilter').val("All");
	$("#selectStudyFieldMapTree").dynatree("getTree").reload();
	$('#studyTreeFieldmapModal').modal({ backdrop: 'static', keyboard: true });
	$('table.selected-study-fieldmap-table tbody').html('');
	$('.fbk-study-tree-title.trial').removeClass('fbk-hide');
	$('.fbk-study-tree-title.nursery').addClass('fbk-hide');
	$('#table-field-map-header').html('Selected Study');
	$('.fbk-field-map-selected-header').html(studiesSelectedFieldPlan);
	$('.fbk-field-map-selected-sub-header').html(additionalStudiesForFieldPlan);
	addStudyInFieldMap(id, name);

}
function addStudyInFieldMap(id, name) {
	'use strict';
	if ($('table.selected-study-fieldmap-table tbody tr.' + id).length !== 0) {
		showAlertMessage('', trialAlreadyAdded);
	} else {
		$.ajax({
			url: '/Fieldbook/StudyTreeManager/has/observations/' + id + '/' + name,
			type: 'GET',
			data: '',
			cache: false,
			success: function(data) {
				if (data.hasObservations === '0') {
					showErrorMessage('', trialNoObservations);
				} else {
					var className = $('table.selected-study-fieldmap-table tbody tr').length % 2 == 0 ? 'even' : 'odd',
						deleteButton = '<span onclick="javascript: deleteStudyFieldMapRow(' + id + ')" style="font-size: 16px;" class="delete-icon delete-study-field-map" id="' + id + '"></span>';
					var strToAdd = '<tr id="' + id + '" class="fieldmap-study-ids ' + className + " " + id + '" ><td>' + deleteButton + '</td><td>' + name + '</td></tr>';
					$('table.selected-study-fieldmap-table').append(strToAdd);
				}
			}
		});
	}
}

function deleteStudyFieldMapRow(id) {
	$('table.selected-study-fieldmap-table tbody tr.' + id).remove();
	$('table.selected-study-fieldmap-table tbody tr').removeClass('even');
	$('table.selected-study-fieldmap-table tbody tr').removeClass('odd');
	$('table.selected-study-fieldmap-table tbody tr').each(function(index) {
		if (index % 2 == 0) {
			$(this).addClass('even');
		} else {
			$(this).addClass('odd');
		}
	});
}

function chooseStudyNodeInFieldMap(node, fromEnterKey) {
	'use strict';

	if (userLacksPermissionForStudy(node)) {
		showStudyIsLockedError(node);
	} else if (node.data.isFolder === false) {
		addStudyInFieldMap(node.data.key, node.data.title);
	} else {
		if (fromEnterKey === false) {
			showErrorMessage('page-study-tree-message-modal', chooseStudyError);
		}
	}

}

function chooseStudyFieldMap() {
	'use strict';
	var node = $('#selectStudyFieldMapTree').dynatree('getTree').getActiveNode();
	chooseStudyNodeInFieldMap(node, false);
}

function doStudyFieldmapLazyLoad(node) {
	'use strict';
	var additionalUrlFieldmap = '/0';

	if (node.data.isFolder === true) {

		node.appendAjax({
			url: lazyReadUrlFieldmap + node.data.key + additionalUrlFieldmap,
			dataType: 'json',
			success: function(node) {
				//do nothing

				setTimeout(function() {
					node.focus();
					node.expand();
				}, 50);

				if (node.data.isFolder === false) {
					addStudyInFieldMap(node.data.key, node.data.title);
				} else {
					node.visit(function(child){
						filterFieldmapTreeNodeByStudyType(child);
					});
				}

			},
			error: function(node, XMLHttpRequest, textStatus, errorThrown) {

				console.log('The following error occured: ' + textStatus, errorThrown);
			},
			cache: false
		});
		node.expand();
	}
}
/** Study Tree **/
function displayStudyFieldMapListTree(treeName) {
	'use strict';
	urlFieldmap = '/Fieldbook/StudyTreeManager/loadInitialTree';
	lazyReadUrlFieldmap = '/Fieldbook/StudyTreeManager/expandTree/';

	var additionalUrlFieldmap = '/0';

	urlFieldmap = urlFieldmap + additionalUrlFieldmap + '?hasCentral=0';

	$('#' + treeName).dynatree({
		title: treeName,
		checkbox: false,
		noLink: false,
		autoFocus: false,
		imagePath: '/Fieldbook/static/img/',
		activeVisible: true,
		initAjax: {url: urlFieldmap,
			dataType: 'json'
		},

		onLazyRead: function(node) {
			doStudyFieldmapLazyLoad(node);
		},
		classNames: {
			container: 'fbtree-container',
			expander: 'fbtree-expander',
			nodeIcon: 'fbtree-icon',
			combinedIconPrefix: 'fbtree-ico-',
			focused: 'fbtree-focused',
			active: 'fbtree-active',
			nodeLoading: ''
		},
		onPostInit: function(isReloading, isError) {

		},
		onFocus: function(node) {
			focusNode = node;
		},

		onActivate: function(node) {
			$('#studyTreeFieldmapModal a.dynatree-title').off('keyup');
			$('#studyTreeFieldmapModal a.dynatree-title').on('keyup', function(e) {
				if (e.keyCode === 13) {
					chooseStudyNodeInFieldMap(focusNode, true);
				}
			});
		},
		onClick: function(node, event) {
		},
		onDblClick: function(node, event) {
			chooseStudyFieldMap();
		},
		dnd: {
			onDragStart: function(node) {
				/** This function MUST be defined to enable dragging for the tree.
				 * Return false to cancel dragging of node.
				 */
				if (node.data.key > 0) {
					return false;
				}
				return true;
			},
			onDragStop: function(node) {
			},
			preventVoidMoves: true, // Prevent dropping nodes 'before self', etc.

			onDragEnter: function(node, sourceNode) {
				return true;
			},
			onDragOver: function(node, sourceNode, hitMode) {
			},
			onDrop: function(node, sourceNode, hitMode, ui, draggable) {
				/** This function MUST be defined to enable dropping of items on
				 * the tree.
				 */
				if (sourceNode.hasChildren()) {
					showErrorMessage('', cannotMove + ' ' + sourceNode.data.title + ' ' + hasChildrenString);
				} else if (node.data.isFolder === false) {
					showErrorMessage('', cannotMove + ' ' + node.data.title + ' ' + isAStudy);
				} else {
					$.ajax({
						url: lazyReadAllUrlFieldmap + sourceNode.data.key + additionalUrlFieldmap,
						type: 'GET',
						cache: false,
						aysnc: false,
						success: function(data) {
							var childCount = $.parseJSON(data).length;
							if (childCount === 0) {
								moveStudy(sourceNode, node);
							} else {
								showErrorMessage('page-study-tree-message-modal', cannotMove + ' ' + sourceNode.data.title + ' ' + hasChildrenString);
							}
						}
					});
				}
			},
			onDragLeave: function(node, sourceNode) {
			}
		}
	});
}

//]]>
</script>
</div>
