<div class="inline-input">
<input type="hidden" class="data-hidden-value-experimentId" name="experimentId" th:value="${experimentId}"/>
<input type="hidden" class="data-hidden-value-phenotypeId" name="phenotypeId" th:value="${phenotypeId}"/>
<input type="hidden" class="data-hidden-value-term-id" name="termId" th:value="*{variable.id}"/>

<input  class="data-value" maxlength="250"  th:attr="data-type=${variable.scale.dataType}"
style="width: 100%" size="1" type="text"
th:if="${#lists.isEmpty(possibleValues) and variable.scale.dataType.id != dateVarId and variable.scale.dataType.id != categoricalVarId and variable.scale.dataType.id != numericVarId}"
th:value="${phenotypeValue}"/>

<input th:attr="data-min-range=${variable.scale.minValue},data-max-range=${variable.scale.maxValue},data-type=${variable.scale.dataType.id}"  class="numeric-value data-value" maxlength="250"
style="width: 100%" size="1" type="text"
th:if="${variable.scale.dataType.id == numericVarId}"
th:value="${phenotypeValue}"/>

<input th:if="${#lists.isEmpty(possibleValues) and variable.scale.dataType.id == dateVarId}"
	type="text" placeholder="yyyy-mm-dd" th:field="*{phenotypeValue}" class="form-control date-input data-value" />
<label  th:if="${#lists.isEmpty(possibleValues) and variable.scale.dataType.id  == dateVarId}"  class="btn datepicker">
	<img th:src="@{/static/img/calendar.png}" style="padding-bottom:3px;" />
</label>

<input type="hidden" class="variates-select data-value"
th:attr="data-type=${variable.scale.dataType.id }" style="width: 100%;" size="1"
th:if="${variable.scale.dataType.id  == categoricalVarId or not #lists.isEmpty(possibleValues)}"
th:value="${phenotypeValue}" th:attrappend="data-cvalueid=${phenotypeValue},data-value=${phenotypeValue}" name="c"/>
</div>

<div layout:fragment="page-script">
<script type='text/javascript' th:inline="javascript">
//<![CDATA[
$(document).ready(function() {
	var possibleValuesSuggestions = /*[[${possibleValues}]]*/ [];
	<!--/* See updateExperimentCell.js where the init function is defined. */-->
	<!--/* No JS should be added directly insise this page. */-->
	initializeInlineMeasurementInput(possibleValuesSuggestions); 
});
//]]>
</script>
</div>
