<div class="inline-input">
<input type="hidden" class="data-hidden-value-index" name="index" th:value="*{index}"/>
<input type="hidden" class="data-hidden-value-term-id" name="termId" th:value="*{termId}"/>
<input  class="data-value" maxlength="250"  th:attr="data-type=${measurementData.dataType}" 
style="width: 100%" size="1" type="text" 
th:if="${#lists.isEmpty(measurementData.measurementVariable.possibleValues) and measurementData.measurementVariable.dataTypeId != dateVarId and measurementData.measurementVariable.dataTypeId != categoricalVarId}" 
th:field="*{measurementData.value}"/>

<input th:if="${#lists.isEmpty(measurementData.measurementVariable.possibleValues) and measurementData.measurementVariable.dataTypeId == dateVarId}"
	type="text" placeholder="yyyy-mm-dd" th:field="*{measurementData.value}" class="form-control date-input data-value" />
<label  th:if="${#lists.isEmpty(measurementData.measurementVariable.possibleValues) and measurementData.measurementVariable.dataTypeId == dateVarId}"  class="btn datepicker">
	<img th:src="@{/static/img/calendar.png}" style="padding-bottom:3px;" />
</label>
		
<input type="hidden" class="variates-select data-value" 
th:attr="data-type=${measurementData.dataType}" style="width: 100%;" size="1" 
th:if="${measurementData.measurementVariable.dataTypeId == categoricalVarId or not #lists.isEmpty(measurementData.measurementVariable.possibleValues)}" 
th:field="*{measurementData.cValueId}" th:attrappend="data-cvalueid=${measurementData.cValueId},data-value=${measurementData.value}" name="c"/>
</div>
	
<div layout:fragment="page-script">
	<script type='text/javascript' th:inline="javascript">
		//<![CDATA[		
		$( document ).ready(function() {
			'use strict';
					
					$('.inline-input .variates-select').each(function(){
						 var possibleValuesSuggestions = /*[[${possibleValues}]]*/ [];
						 var possibleValues_obj = [];
						 var defaultJsonVal = null;
						 var defaultCValue = $(this).data('cvalueid') == null ? '' :  $(this).data('cvalueid');
						 var defaultValue = $(this).data('value');
						 defaultValue = defaultCValue !== '' ? defaultCValue : defaultValue;
						 possibleValues_obj.push({'id' : '','text' : 'Please Choose','status' : '0'});
						 if($('.inline-input').parent('td').hasClass('accepted-value')){
								//meaning there is an out of bound value here, we should include it in the drop down
							 var customVal = {'id' : defaultValue,'text' : defaultValue.toString(),'status' : '1'};
							 possibleValues_obj.push(customVal);
							 defaultJsonVal = customVal;
					     }
						 $.each(
								 possibleValuesSuggestions,
									function(index, value) {
										var jsonVal;
										if (value.id !== undefined) {
											jsonVal = {
												'id' : value.key,
												'text' : value.description,
												'status' : '0'
											};
										}

										possibleValues_obj.push(jsonVal);
										if (defaultValue !== null
												&& defaultValue !== ''
												&& defaultValue == value.key) {
											defaultJsonVal = jsonVal;
										}
										
									});
						 
						$(this).select2({
								query:function(query){									
					                
					                var data = {
											results : possibleValues_obj
										};
										// return the array that matches
										data.results = $.grep(data.results, function(item,
												index) {
											return ($.fn.select2.defaults.matcher(query.term,
													item.text));

										});
										query.callback(data);
								},
								createSearchChoice: function(term, data) {
					        		if ($(data).filter(function() { return this.text.localeCompare(term)===0; }).length===0) {
					        			return {id:term, text:term, status:'1'};
					    			} 
					    		}
							}							
						);
						if(defaultJsonVal !== null){
							$(this).select2('data', defaultJsonVal);
						}
					});
					if ($('.inline-input .date-input').length > 0) {
						$('.inline-input .date-input').each(function() {
							$(this).datepicker({
								'format' : 'yyyy-mm-dd'
							}).on('changeDate', function() {
								$(this).datepicker('hide');
							}).on('change', function () {
						    var curDate = $(this).val();
						    try {
						        var r = $.datepicker.parseDate('yy-mm-dd', curDate);
						        $(this).datepicker('setDate', r);
						    } catch(e) {			        
						        $(this).datepicker('setDate', new Date());
						    }
						});
						});
					}
					if ($('.inline-input .datepicker img').length > 0) {
						$('.inline-input  .datepicker img').on('click', function() {
							$(this).parent().parent().find('.date-input').datepicker('show');
						});
					}					
			});		
		//]]>
	</script>
</div>